.row-fluid
  .span4
    %img.img-polaroid.key-image{src: image[:url]}

  .span4.key-image-information
    %span This is a key image, because:
    %p{:class => image[:display_class]}= image[:key_explanation]

