.row-fluid
  .span12
    %span.type Question
    %span.count #{result[:order]}
    %h4!= result[:instructions]

- result[:key_images].each do |image|
  .box-sort-result
    = render 'quizzes/box_sort_question_key_image', image: image

