.row.multiple-choice-results
  .span7
    .row
      .span7
        %span.type Question
        %span.count #{result[:order]}
    .row
      .span7
        %span.student-average
          #{result[:average_correct]}% of students answered correctly
    .row
      .span7
        %h4= result[:question]
        %ol
          - result[:options].each_with_index do |option, idx|
            %li{:class => option[:status].to_s}
              = option[:answer]
              -if option[:image] && option[:image][:url]
                %img.img-polaroid{ src: option[:image][:url] }