.row
  .span6
    %span 1: Multiple answer question
    %h3 apparel authentic occaecat, cred Austin post-ironic
    %ul
      %li 
        to-table qui PBR DIY pop-up odio dolore photo booth, magna delectus
      %li
        before they sold out art party ethical fingerstache butcher. Qui
      %li
        readymade trust fund, brunch bicycle rights mixtape consectetur
      %li
        deserunt wes anderson leggings tempor marfa. Chambray american
  .span2
    .btn.btn-info a
  .span2
    .btn b
  .span2
    85%
