- is_correct ||= false
- answer_result = is_correct ? 'correct' : 'wrong'
.row.multiple-choice-results.bordered.bottom
  .span6
    %span.count 2 <i>of</i> 20
    %span.type Multiple choice question
    %h4 apparel authentic occaecat, cred Austin post-ironic
    %ol
      %li
        to-table qui PBR DIY pop-up odio dolore photo booth
      %li
        before they sold out art party ethical fingerstache butcher. Qui
      %li
        readymade trust fund, brunch bicycle rights mixtape consectetur
      %li
        deserunt wes anderson leggings tempor marfa.
  .span4.bordered.top.bottom{ data: {behavior: 'container-height'} }
    .result-column
      .center.bordered.left.right
        .column-label Your Answer:
        %span.label{ class: answer_result } a
      .center.bordered.right
        .column-label Correct Answer:
        %span.label.default a
  .span2{ data: {behavior: 'container-height'} }
    .result-column
      .average.center
        86%
        .average-label of students correctly answered.
