- content_for :custom_js do
  :javascript
    $(document).ready(function() {
        $('#sort-image').draggable({
            revert: 'invalid'
        });
        $('.sort-option').droppable({
            accept: '.dropaccept',
            activeClass: 'dropactive',
            hoverClass: 'drophover',
            tolerance: 'intersect'
        });
    });

#quiz-container
  .question.box-sort
    .container
      .row
        .span8
          .instructions
            Four loko next level mixtape, aliqua lomo brunch ut direct trade.
      .hero-unit.span9
        .row.images
          #sort-image.dropaccept.span3
            = image_tag 'http://lorempixel.com/270/152/food', class: 'img-polaroid'
        .row
          .span4.image-caption
            Four loko next level mixtape, aliqua lomo brunch ut direct trade
            culpa twee vinyl etsy. Consequat ullamco non vegan irure.
        .row
          .span3
            .sort-option
            %label I remember
          .span3
            .sort-option
            %label I'm not sure
          .span3
            .sort-option
            %label I don't remember
