- content_for :custom_js do
  :javascript
    $(document).ready(function() {
      var handleDrop = function(event, ui) {
        ui.draggable.css({top: 0, left: 0});
        $(this).append(ui.draggable);
        $(this).addClass('image-placed');
        $('.sort-option').css({'z-index': 1});
      };

      var handleDragStart = function(event, ui) {
        $('#sort-image').parent().css({'z-index': 10});
        $('.sort-option').removeClass('image-placed')
      };

      $('#sort-image').draggable({
        containment: '.hero-unit',
        revert: 'invalid',
        opacity: 0.6,
        zIndex: 10000,
        start: handleDragStart
      });
      $('.sort-option').droppable({
        accept: '#sort-image',
        activeClass: 'image-active',
        hoverClass: 'image-hover',
        tolerance: 'intersect',
        drop: handleDrop
      });
    });

#quiz-container
  .question.box-sort
    .container
      .row
        .span8
          .instructions
            Four loko next level mixtape, aliqua lomo brunch ut direct trade.
      .hero-unit.span9
        .row.images
          .span3
            #sort-image
              = image_tag 'http://lorempixel.com/270/152/food', class: 'img-polaroid'
        .row
          .span4.image-caption
            Four loko next level mixtape, aliqua lomo brunch ut direct trade
            culpa twee vinyl etsy. Consequat ullamco non vegan irure.
        .row
          .span3
            .sort-option
            %label I remember
          .span3
            .sort-option
            %label I'm not sure
          .span3
            .sort-option
            %label I don't remember
