- content_for :title, "#{quiz.title.html_safe} Results"

.hero-unit.quiz-title
  .container
    .row
      .span12
        %h3 Your Results for #{quiz.title}

#quiz-results.container
  = render 'quizzes/box_sort_question_result'
  = render 'quizzes/multiple_choice_question_results', multiple_choice_results: quiz_results

