- content_for :title, "#{quiz.title.html_safe} Results"

.hero-unit.quiz-title
  .container
    .row
      .span12
        %h3 Your Results for #{quiz.title}

#quiz-results.container
  .results-header.row
    .span6
      .center
        Questions:
    .span4
      .center.bordered.right.left
        Your Answer:
      .center.bordered.right
        Correct Answer:
    .span2
      .center
        Students Avg. Score:

  - quiz_results.each_with_index do |result, index|
    - if result[:question_type] == :multiple_choice
      = render 'quizzes/multiple_choice_question_results', result: result, count: index+1

