.hero-unit.quiz-title
  .container
    .row
      .span12
        %h3= quiz.title

#quiz-overview

  .container
    .row
      .span12
        %h3
          Test your skills on
          %strong #{quiz.title}!
    .row.hero-unit
      .span8
        = image_tag 'http://placehold.it/745x376/eee', class: 'img-polaroid'
      .span4
        %input{value: '20 questions'}
        %input{value: '15 minutes'}
    .row
      .span12
        %p.pull-left
          Lorem ipsum Quiz Start Text
        .pull-right
          .btn-uppercase.btn-primary.btn-x-large Start Quiz

