@import 'mixins'

cscomments
  iframe
    border: none
    padding: 0
    background-color: transparent
    overflow: visible
    overflow-y: visible
    overflow-x: visible
    width: 100%

.bloom-hot
  border: 1px solid #ccc
  padding: $baseline
  margin-bottom: $baseline
  hr
    margin: $baseline 0px

  .bloom-hot-actions
    height: 25px