%p CHEFSTEPS COOKIEPOLITIK
%p Senest opdateret 13/10/2017
%p
  Vores
  %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik
  forklarer, hvordan vi indsamler, bruger og videregiver oplysninger og personoplysninger om dig, når du får adgang til eller bruger vores webside, mobile applikationer og andre produkter
  og tjenester (samlet "Tjenesterne"), eller når du i øvrigt interagerer med os. Vi har udarbejdet denne Cookiepolitik for at fortælle dig mere om de typer cookies og andre sporingsteknologier, vi anvender, hvorfor vi anvender disse teknologier og dine
  valg i forbindelse med disse teknologier.
%h3 Sporingsteknologier, vi anvender
%p Cookies er små datafiler lagret på din browser, harddisk eller din enheds hukommelse, der hjælper os med at huske ting om dig, så vi kan forbedre vores Tjenester og tilpasse din oplevelse. Der findes tre forskellige typer cookies.
%p
  Cookies kan klassificeres i henhold til, hvem der driver det domæne, hvorfra de er indstillet. For eksempel kaldes cookies, der anbringes af den enhed, der driver det domæne, du besøger (f.eks. ChefSteps.com) for "førsteparts-cookies". Cookies fra andre
  selskaber kaldes "tredjeparts-cookies". Vi tillader tredjeparter at anbringe cookies, når du besøger vores Tjenester, for at forstå hvordan du interagerer med vores Tjenester og af andre årsager, som forklaret nedenfor.
%p
  Cookies kan også klassificeres efter deres levetid. For eksempel kaldes cookies, der kun varer, mens du browser, for "sessionscookies". "Faste cookies" forbliver på din computer, efter du har lukket din browser eller efter du navigerer væk fra vores websider.
  Faste cookies lagres på din computers harddisk, indtil en angiven udløbsdato, som kan være i morgen, næste uge, eller ti år fra nu, medmindre den overskrives af nyere cookies eller fjernes manuelt af dig.
%p
  Nogle cookies er rent tekniske cookies, der er nødvendige for at levere bestemte tjenester til dig. Tekniske cookies husker for eksempel de elementer, der er omfattet af din bestilling, eller giver dig mulighed for at dele indhold på sociale netværk.
  Andre cookies gør det muligt for os at foretage os ting, såsom at forstå brugeres adfærd på vores Tjenester eller lægge tilpassede annoncer på.
%p
  Webbeacons og pixel tags er elektroniske billeder, der ligger på en webside eller e-mail, som kan genfinde bestemte oplysninger om din enhed og browser, såsom typen af enhed, operativsystem, browsertype og version, besøgt webside, tidspunkt for besøget,
  henvisende webside, IP-adresse og andre lignende oplysninger. Disse teknologier er også med til at levere cookies, tælle antal besøg og forstå brug og kampagners effektivitet.
%p Lokal lagring henviser til andre steder på en browser eller enhed, hvor oplysninger kan lagres, og omfatter HTML5 lokal lagring og browser-cache.
%p
  Software Development Kits (også kaldet SDK'er) er blokke med kode leveret af vores partnere, som installeres på vores mobile apps. De fungerer som cookies og pixels, og tillader partnere at indsamle (og dele med os) oplysninger om, hvordan brugere interagerer
  med vores apps samt visse oplysninger om enheden og netværket, som de anvender til at få adgang til vores apps.
%h3 Vores brug af cookies
%p
  Vi bruger cookies og lignende sporingsteknologier til at indsamle data, herunder personoplysninger, til en række formål, herunder til at forbedre vores Tjenesters funktioner. Nedenfor kan du se mere om kategorierne af de cookies, vi bruger, og det generelle
  formål med hver kategori:
%table{:border => "1", :cellpadding => "10", :summary => "Vi bruger cookies og lignende sporingsteknologier til at indsamle data, herunder personoplysninger, til en række formål, herunder til at forbedre vores Tjenesters funktioner"}
  %tr
    %td{:width => "200"}
      %p Kategorier af cookies
    %td
      %p Formål
  %tr
    %td
      %p Teknisk
    %td
      %p
        Disse cookies er afgørende for, at vores Tjenester kan fungere korrekt. Uden disse cookies kan visse funktioner i vores Tjenester, såsom at huske produkterne i din indkøbskurv, ikke leveres. Tekniske cookies kan være enten førsteparts-cookies eller
        tredjeparts-cookies.
  %tr
    %td
      %p Præferencer
    %td
      %p Disse cookies husker dine indstillinger og præferencer, så vi kan tilbyde en mere personlig oplevelse. Præference-cookies er førsteparts-cookies.
  %tr
    %td
      %p Sikkerhed
    %td
      %p Disse cookies er medvirkende til at identificere og forhindre sikkerhedsrisici. Sikkerheds-cookies er førsteparts-cookies.
  %tr
    %td
      %p Præstation
    %td
      %p Disse cookies indsamler oplysninger om, hvordan du interagerer med vores Tjenester, så vi fortsat kan forbedre din oplevelse hos os. Præstations-cookies kan være enten førsteparts-cookies eller tredjeparts-cookies.
  %tr
    %td
      %p Analyser
    %td
      %p
        Disse cookies hjælper os med at forstå, hvilke funktioner på vores Tjenester, som brugerne bedst kan lide, så vi kan forstå, hvad der virker og hvad der ikke gør, og så vi kan give dig mere af, det du elsker. Analytiske cookies virker ved at tælle
        besøg og måle og analysere brug af vores Tjenester. Analytiske cookies kan være enten førsteparts-cookies eller tredjeparts-cookies.
  %tr
    %td
      %p Annoncering
    %td
      %p
        Disse cookies, herunder adfærdsbaserede annoncerings-cookies, sporer og lagrer, hvordan du interagerer med de annoncer, vi lægger på og andet indhold for at være med til at gøre de annoncer, du ser på ChefSteps og på andre tjenester, mere relevante
        for dig og hjælpe os og vores partnere med at spore og indberette annoncekampagners effekt. Annoncerings-cookies kan blive installeret på din browser, når du besøger en webside eller åbner en e-mail eller meddelelse, der indeholder en annonce
        eller reklame. Annoncerings-cookies er typisk tredjeparts-cookies.
%p
%h3 Cookies fra tredjeparter og sociale medier
%p
  Vi kan bruge værktøjer fra sociale medier såsom widgets og plug-ins, så du kan dele oplysninger fra ChefSteps på andre sider, såsom Facebook, Instagram og Twitter. Disse interaktive miniprogrammer indsamler din IP-adresse, registrerer de sider, du besøger
  på vores Tjenester og indstiller cookies, der gør det muligt for en widget at fungere korrekt. Din interaktion med disse widgets reguleres af datapolitikken hos det selskab, der leverer dem, ikke af ChefSteps' Datapolitik eller denne Cookiepolitik.
  Vi kan bruge pixel tags fra tredjepartsplatforme (såsom Facebook, Instagram og Twitter) til at hjælpe os med at forstå, hvor effektiv vores markedsføring er på de platforme.
%h3 Dine valg – deaktivering og sletning af cookies
%p
  De fleste webbrowsere og enheder er indstillet til som standard at acceptere cookies. Hvis du foretrækker det, kan du normalt vælge at deaktivere cookies ved at opdatere indstillingerne på din browser eller enhed til at fjerne eller afvise cookies. Du
  kan f.eks. slå cookies fra ved at følge de instrukser, din browser giver, som normalt findes i menuerne "Hjælp", "Præferencer" eller "Indstillinger". Hvis du ønsker at slette cookies, som allerede findes på din computer, henvises du til områderne hjælp,
  support, historik eller værktøjer i din browser, hvor du kan få instrukser til, hvordan du skal gøre det. Du bør vide, at hvis du vælger at fjerne eller afvise cookies, eller begrænse brugen af andre lignende teknologier, kan dette påvirke din adgang
  til vores Tjenester eller deres funktioner for dig. For at se mere om cookies, henviser vi til
  %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
%p
  Nogle selskaber hos ChefSteps' partnere kan tillade dig at fravælge brugen af oplysninger om dine aktiviteter, når du browser, med henblik på at lægge annoncer på, der er målrettet dine interesser. Du kan læse mere om interessebaserede annoncer og fravælge,
  at oplysninger om din surfen på nettet bruges til adfærdsbaseret annoncering fra bestemte tredjeparter ved at besøge
  %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices.
  Desuden kan din enhed indeholde en funktion (der kaldes "Begræns
  annoncesporing" på iOS eller "Fravælg tilpasning af annoncer" på Android), der tillader dig at fravælge at få bestemte oplysninger indsamlet via mobilapps, der anvendes til adfærdsbaseret annoncering.
%h3 Kontakt os
%p
  Hvis du har spørgsmål eller kommentarer angående denne Cookiepolitik, kan du e-maile os på
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  eller skrive til os på følgende adresse:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101
  %br>/
  USA
