%p CHEFSTEPS COOKIEBELEID
%p Laatst gewijzigd 13/10/2017
%p
  Ons
  %a{:href => "https://www.chefsteps.com/privacy"} Privacybeleid
  legt uit hoe wij informatie en persoonsgegevens over u verzamelen, gebruiken en delen wanneer u onze website, mobiele applicaties en andere producten en diensten (gezamenlijk de “Diensten”)
  bezoekt of gebruikt, of wanneer u anderszins met ons in contact treedt. Wij bieden dit Cookiebeleid aan om u meer te vertellen over de soorten cookies en andere tracking-technologieën die wij gebruiken, waarom wij deze technologieën gebruiken en uw
  keuzes met betrekking tot deze technologieën.
%h3 Tracking-technologieën die wij gebruiken
%p
  Cookies zijn kleine gegevensbestanden die op uw browser, harde schijf of apparaatgeheugen worden opgeslagen en die ons helpen om dingen over u te onthouden, zodat wij onze Diensten kunnen verbeteren en u een op maat gemaakte ervaring kunnen aanbieden.
  Er zijn verschillende soorten cookies.
%p
  Cookies kunnen worden geclassificeerd aan de hand van de partij die het domein beheert van waaruit ze geplaatst worden. Cookies die worden geplaatst door de partij die het domein dat u bezoekt beheert (bijvoorbeeld ChefSteps.com) worden “first-party cookies”
  (genoemd. Cookies die door andere bedrijven worden geplaatst worden “third-party cookies” genoemd. Wij laten derden toe om cookies te plaatsen wanneer u onze Diensten bezoekt om te begrijpen hoe uw interactie met onze Diensten is en om andere redenen,
  zoals hieronder verder wordt uitgelegd.
%p
  Cookies kunnen ook worden geclassificeerd op basis van hun levensduur. Cookies die enkel worden geplaatst voor de duur van uw browsersessie worden “sessiecookies” genoemd. “Permanente cookies” blijven op uw computer staan wanneer u uw browser afsluit
  of nadat u onze webpagina's verlaat. Permanente cookies worden op de harde schijf van uw computer opgeslagen tot een gespecificeerde vervaldatum. Dit kan morgen, volgende week of over tien jaar zijn tenzij deze cookies door nieuwe cookies worden overschreven
  of handmatig door u worden verwijderd.
%p
  Sommige cookies kunnen zuiver technische cookies zijn die nodig zijn om u van bepaalde diensten te voorzien. Technische cookies onthouden bijvoorbeeld de items die u in een bestelling opneemt of laten u content delen op sociale netwerken. Andere cookies
  stellen ons in staat om bepaalde dingen te doen, zoals inzicht verkrijgen in het gebruikersgedrag op onze Diensten of om op maat gemaakte advertenties te plaatsen.
%p
  Web beacons en pixeltags zijn elektronische afbeeldingen die op een webpagina of e-mail ingevoegd zijn die bepaalde informatie over uw apparaat en browser kunnen ophalen, zoals het type apparaat, besturingssysteem, browsertype en -versie, bezochte website,
  tijdstip van bezoek, doorverwijzende website, IP-adres en andere soortgelijke informatie. Deze technologieën helpen ook om cookies te plaatsen, bezoeken te tellen en inzicht te verkrijgen in het gebruik en de effectiviteit van campagnes.
%p Lokale opslag verwijst naar andere plaatsen in een browser of apparaat waar informatie kan worden opgeslagen, inclusief HTML5 lokale opslag en browser cache.
%p
  Software Development Kits (ook SDK's genoemd) zijn blokken code die worden geleverd door onze partners en die in onze mobiele apps zijn geïnstalleerd. Ze functioneren als cookies en pixels, waardoor partners informatie kunnen verzamelen (en met ons delen)
  over de interactie van gebruikers met onze apps, alsook bepaalde informatie over het apparaat en het netwerk dat ze gebruiken om toegang tot onze apps te krijgen.
%h3 Ons gebruik van cookies
%p
  Wij gebruiken cookies en gelijksoortige tracking-technologieën om gegevens te verzamelen, waaronder persoonsgegevens, voor verschillende doeleinden, waaronder het verbeteren van de functionaliteit van onze Diensten. Hieronder vindt u meer informatie over
  de categorieën cookies die wij gebruiken en het algemene doel van elke categorie:
%table{:border => "1", :cellpadding => "10"}
  %tr
    %td{:width => "200"}
      %p Categorie cookies
    %td
      %p Doel
  %tr
    %td
      %p Technisch
    %td
      %p
        Deze cookies zijn essentieel voor een goede werking van onze Diensten. Zonder deze cookies kunnen bepaalde functionaliteiten van onze Diensten, zoals het onthouden van de items in uw winkelwagen, niet worden aangeboden. Technische cookies kunnen
        first-party cookies of third-party cookies zijn.
  %tr
    %td
      %p Voorkeuren
    %td
      %p Deze cookies onthouden uw instellingen en voorkeuren zodat wij een meer gepersonaliseerde ervaring kunnen bieden. Voorkeuren cookies zijn first-party cookies.
  %tr
    %td
      %p Beveiliging
    %td
      %p Deze cookies helpen beveiligingsrisico's te identificeren en te voorkomen. Beveiligingscookies zijn first-party cookies.
  %tr
    %td
      %p Prestatie
    %td
      %p Deze cookies verzamelen informatie over hoe uw interactie met onze Diensten is, zodat wij uw ervaring met ons kunnen blijven verbeteren. Prestatie cookies kunnen first-party cookies of third-party cookies zijn.
  %tr
    %td
      %p Analytische cookies
    %td
      %p
        Deze cookies helpen ons om te begrijpen van welke functies op onze Diensten gebruikers het meest houden, zodat wij kunnen begrijpen wat er werkt en wat niet en zodat wij u meer kunnen geven waarvan u houdt. De werking van analytische cookies is
        het tellen van bezoeken en het meten en analyseren van het gebruik van onze Diensten. Analytische cookies kunnen first-party cookies of third-party cookies zijn.
  %tr
    %td
      %p Advertentie cookies
    %td
      %p
        Met deze cookies, waaronder gedragsgerichte advertentie cookies, kunnen wij uw interactie met de advertenties die wij plaatsen en andere content volgen en opslaan om ons te helpen bepaalde dingen te doen, zoals de advertenties die u op ChefSteps
        en op andere diensten ziet relevanter voor u maken en ons en onze partners te helpen om de effectiviteit van advertentiecampagnes te volgen en er verslag van te doen. Advertentie cookies kunnen op uw browser geïnstalleerd worden wanneer u een
        website bezoekt of een e-mail of bericht opent met daarin een advertentie of promotie. Advertentie cookies zijn meestal third-party cookies.
%p
%h3 Cookies van derden en sociale media cookies
%p
  Wij kunnen sociale media-instrumenten gebruiken, zoals widgets en plug-ins, zodat u informatie van ChefSteps kunt delen op andere websites zoals Facebook, Instagram en Twitter. Deze interactieve mini-programma’s verzamelen uw IP-adres, registreren de
  pagina's die u op onze Diensten bezoekt en plaatsen cookies waardoor de widget goed kan functioneren. Uw interacties met deze widgets zijn onderworpen aan het privacybeleid van de onderneming die deze ter beschikking stelt en niet door het Privacybeleid
  van ChefSteps of dit Cookiebeleid. Wij kunnen pixeltags of platformen van derden (zoals Facebook, Instagram en Twitter) gebruiken om ons te helpen inzicht te verkrijgen in hoe effectief onze marketing op deze platformen is.
%h3 Uw keuzes—Uitschakelen en verwijderen van cookies
%p
  De meeste webbrowsers en apparaten zijn standaard ingesteld op het accepteren van cookies. Naar gelang uw voorkeur kunt u er meestal voor kiezen om cookies uit te schakelen door uw browser of apparaatinstellingen bij te werken om cookies te verwijderen
  of te weigeren. U kunt bijvoorbeeld cookies uitschakelen door de instructies van uw browser te volgen, welke instructies gewoonlijk te vinden zijn onder de “Help,” “Voorkeuren” of “Instellingen” menu's. Als u cookies die zich reeds op uw computer bevinden
  wilt verwijderen, raadpleegt u de sectie help, ondersteuning, geschiedenis of hulpmiddelen van uw internetbrowser voor instructies over hoe u dit kunt doen. Als u ervoor kiest cookies te verwijderen of te weigeren of het gebruik van andere vergelijkbare
  technologieën te beperken, dan kan dit uw toegang tot onze Diensten of de functionaliteit ervan voor u beïnvloeden. Voor meer informatie over cookies, hoe ze werken en welke keuzes u heeft, ga naar
  %a{:href => "http://www.aboutcookies/"} www.aboutcookies.org
  of
  = succeed "." do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Sommige bedrijven die partner van ChefSteps zijn kunnen u toestaan om u af te melden voor het gebruik van informatie over uw webbrowseractiviteit voor doeleinden van het plaatsen advertenties die gericht zijn op uw interesses. U kunt meer te weten komen
  over op interesses gebaseerde advertenties en het afmelden voor het gebruik van uw internetbrowserinformatie voor gedragsgerichte advertentiedoeleinden door bepaalde derden op
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Contact met ons opnemen
%p
  Als u vragen of opmerkingen heeft over dit Cookiebeleid, kunt u ons een e-mail sturen via
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  of ons schrijven op het volgende adres:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, United States
