.WordSection1
  %p.MsoNormal{:align => "center", :style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:\nauto;text-align:center;background:white"}
    %span.SpellE
      %b
        %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} Breville
    %b
      %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:align => "center", :style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:\nauto;text-align:center;background:white"}
    %b
      %span{:style => "font-size:18.0pt;\nfont-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"} COOKIE POLICY
    %b
      %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Last Updated July 15,
      2019
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} The
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "https://www.chefsteps.com/privacy"}
        %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-color-alt:windowtext;\ntext-decoration:none;text-underline:none"} Privacy Policy
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
       [
      %a{:href => "https://www.chefsteps.com/privacy"}> https://www.chefsteps.com/privacy
      ]
      of
    %span{:style => "font-family:\"Times New Roman\",serif;color:black;\nmso-color-alt:windowtext"}
      %span.SpellE Breville
      USA,
      (hereinafter, “
      %span.SpellE> Breville
      ”)
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
      explains how we collect, use or otherwise
      process personal data, also when you access or use our website, mobile
      applications, and other products and services (collectively, the “Services”),
      or when you otherwise interact with us. Our websites use cookies, pixel tags
      and other forms of identification and local storage (together referred to as
      “tags/files” hereunder) to distinguish you from other users of our website and
      of websites of our network. This helps us provide you with a good experience
      when you browse our website and websites of our network and allows us to improve
      our website and our services. We provide this Cookie Policy to inform you about
      the types of cookies and other tracking technologies we use, why we use these
      technologies and your choices in relation to these technologies.
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Tracking Technologies
        We Use
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Cookies are small data
      files stored on your browser, hard drive or device memory that help us remember
      things about you so that we can improve our Services and customize your
      experience. There are different types of cookies.
    %span{:style => "font-family:\n\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Cookies may be
      classified according to who operates the domain from which they are set. For
      example, cookies served by the entity that operates the domain you are visiting
      (for example, ChefSteps.com) are called “first-party cookies.” Cookies served
      by other companies are called “third-party cookies.” We allow third parties to
      set cookies when you visit our Services to understand how you interact with our
      Services and for other reasons, as explained further below.
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Cookies may also be
      classified by their lifespan. For example, cookies that last only for the
      duration of your browsing session are called “session cookies.” “Persistent
      cookies” remain on your computer after you close your browser or after you
      navigate away from our webpages. Persistent cookies are stored on your
      computer’s hard drive until a specified expiration date, which could be
      tomorrow, next week, or ten years from now unless overwritten with newer
      cookies or manually removed by you.
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Some cookies may be
      purely technical cookies that are required to provide you with certain
      services. For instance, technical cookies remember the items you include in an
      order or allow you to share content on social networks. Other cookies allow us
      to do things like understand user behavior on our Services or serve customized
      ads.
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Web beacons and pixel
      tags are electronic images embedded in a webpage or email that can retrieve
      certain information about your device and browser, such as the device type,
      operating system, browser type and version, website visited, time of visit,
      referring website, IP address and other similar information. These technologies
      also help to deliver cookies, count visits, and understand usage and campaign
      effectiveness.
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Local storage refers to
      other places on a browser or device where information can be stored, and includes
      local storage and browser cache.
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Software Development
      Kits (also called SDKs) are blocks of code provided by our partners that are
      installed in our mobile apps. They function like cookies and pixels, allowing
      partners to collect (and share with us) information about how users interact
      with our apps as well as certain information about the device and network they
      use to access our apps.
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} Our Use of Cookies
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      We use cookies and
      similar tracking technologies to collect data, including personal data, for a
      variety of purposes, including to improve the functionality of our Services.
      Below you can learn about the categories of cookies that we use and the general
      purpose of each category:
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %table.MsoNormalTable{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "background:white;border-collapse:collapse;mso-yfti-tbllook:1184;\n mso-padding-alt:10.0pt 10.0pt 10.0pt 10.0pt"}
    %tr{:style => "mso-yfti-irow:0;mso-yfti-firstrow:yes"}
      %td{:style => "width:150.0pt;padding:10.0pt 10.0pt 10.0pt 10.0pt", :width => "200"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            Category
            of Cookies
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Purpose
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:1"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Technical
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies are essential for our
            Services to function properly. Without these cookies, certain functionality
            of our Services, such as remembering your shopping cart items, cannot be
            provided. Technical cookies may be either first-party cookies or third-party
            cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n  \"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:2"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Preferences
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies remember your settings
            and preferences so that we can provide a more personalized experience.
            Preference cookies are first-party cookies.
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:3"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Security
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies help identify and prevent
            security risks. Security cookies are first-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:4"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Performance
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies collect information about
            how you interact with our Services so that we can continue to improve your
            experience with us. Performance cookies may be either first-party cookies or
            third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;\n  mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:5"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Analytics
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies help us understand what
            features on our Services users like best so we can understand what’s working
            and what’s not and so that we can give you more of what you love. Analytical
            cookies work by counting visits and measuring and analyzing usage of our
            Services. Analytical cookies may be either first-party cookies or third-party
            cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n  \"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:6;mso-yfti-lastrow:yes"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Advertising
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies, including behavioral
            advertising cookies, track and store how you interact with the advertisements
            that we serve and other content to help do things like make the ads you see
            on
            %span.SpellE Breville
            and on other services more relevant to
            you and help us and our partners track and report on the efficacy of
            advertising campaigns. Advertising cookies may be installed on your browser
            when you visit a website or open an email or message containing an ad or
            promotion. Advertising cookies are typically third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %table.MsoTableGrid{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;\n mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt"}
    %tr{:style => "mso-yfti-irow:0;mso-yfti-firstrow:yes"}
      %td{:style => "width:121.25pt;border:solid windowtext 1.0pt;\n  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %b{:style => "mso-bidi-font-weight:\n  normal"}
            %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;\n  mso-fareast-font-family:\"Times New Roman\""}
              Name of the cookie
              %p
      %td{:style => "width:121.5pt;border:solid windowtext 1.0pt;\n  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:\n  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %b{:style => "mso-bidi-font-weight:\n  normal"}
            %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;\n  mso-fareast-font-family:\"Times New Roman\""}
              Cookie Owner
              %p
      %td{:style => "width:224.75pt;border:solid windowtext 1.0pt;\n  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:\n  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "300"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %b{:style => "mso-bidi-font-weight:\n  normal"}
            %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;\n  mso-fareast-font-family:\"Times New Roman\""}
              Personal Data collected
              %p
    %tr{:style => "mso-yfti-irow:1"}
      %td{:style => "width:121.25pt;border:solid windowtext 1.0pt;\n  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span.SpellE
            %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n  \"Times New Roman\""} login_email
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %span{:style => "mso-tab-count:1"}  
            %p
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p  
      %td{:style => "width:121.5pt;border-top:none;border-left:\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\n  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\n  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            paypal.com
            %p
      %td{:style => "width:224.75pt;border-top:none;border-left:\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\n  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\n  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "300"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            Stores
            customer’s
            %span.SpellE Paypal
            login information
            %p
    %tr{:style => "mso-yfti-irow:2;mso-yfti-lastrow:yes"}
      %td{:style => "width:121.25pt;border:solid windowtext 1.0pt;\n  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p  
      %td{:style => "width:121.5pt;border-top:none;border-left:\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\n  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\n  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "162"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p  
      %td{:style => "width:224.75pt;border-top:none;border-left:\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\n  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\n  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "300"}
        %p.MsoNormal{:style => "mso-outline-level:3"}
          %span{:style => "font-size:13.5pt;\n  font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Third-Party and Social
        Media Cookies
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      We may use social media
      tools, like widgets and plug-ins, so you can share information from
      %span.SpellE Breville
      on other sites such Facebook, Instagram and
      Twitter. These cookies or widgets collect your IP address, record the pages you
      visit on our Services and set cookies that will enable the widget to function
      properly. Your interactions with these widgets and plug-ins are governed by the
      privacy policy of the company providing them, not by
      = succeed "\u{2019}" do
        %span.SpellE Breville
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Your Choices—Disabling
        and Deleting Cookies
    %b
      %span{:style => "font-size:14.0pt;font-family:\n\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Most web browsers and
      devices are set to accept cookies by default. If you prefer, you can usually
      choose to disable cookies by updating your browser or device settings to remove
      or reject cookies. For example, you may be able to disable cookies by following
      the instructions provided by your browser, which are usually located within the
      “Help,” “Preferences” or “Settings” menus. For further information about
      deleting or blocking cookies, please visit:
    %span{:style => "color:black;\nmso-color-alt:windowtext"}
      %a{:href => "https://apac01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.allaboutcookies.org%2Fmanage-cookies%2F&data=02%7C01%7C%7C53131a468b02488c807208d64422b49a%7C3bc317b42fb345e894109824eeb72e16%7C0%7C0%7C636771313169625354&sdata=bupkU%2FjnLfDq%2Fe7EW%2BL26h%2BR71DlC298mXTQvoEseXA%3D&reserved=0", :target => "_blank"}
        %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} http://www.allaboutcookies.org/manage-cookies/
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
      \. If you want to delete any cookies that
      are already on your computer, please refer to the help, support, history or
      tools area on your Internet browser for instructions on how to do so. You
      should know that if you choose to remove or reject cookies, or limit the use of
      other similar technologies, this could affect your access to our Services or
      its functionality for you. In particular, if you use your browser settings to
      block all cookies, you may not be able to access all or parts of our website because
      some may be functionality cookies. You can find more information about cookies
      and similar tags/files at the following addresses: 
      %br/
      \- 
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "https://apac01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.allaboutcookies.org%2F&data=02%7C01%7C%7C53131a468b02488c807208d64422b49a%7C3bc317b42fb345e894109824eeb72e16%7C0%7C0%7C636771313169625354&sdata=Z8%2BAI4QSERVmc06ad6HeJZEELADg9XU03tppB598%2FqA%3D&reserved=0", :target => "_blank"}
        %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} http://www.allaboutcookies.org/
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
       
      %br/
      \- 
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "https://apac01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.youronlinechoices.eu%2F&data=02%7C01%7C%7C53131a468b02488c807208d64422b49a%7C3bc317b42fb345e894109824eeb72e16%7C0%7C0%7C636771313169635359&sdata=2bJzcP3JeLPAhv6Q53HlkGfCaY8n%2BdTVQfT4ilBYjys%3D&reserved=0", :target => "_blank"}
        %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} http://www.youronlinechoices.eu/
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
       (a guide to behavioral advertising
      and online privacy, produced by the internet advertising industry).
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Some companies with
      which
      %span.SpellE Breville
      partners may allow you to opt out of
      the use of information about your web browsing activity for purposes of serving
      ads that are targeted to your interests. You can find out more about
      interest-based ads and opt out of having your web browsing information used for
      behavioral advertising purposes by certain third parties by visiting 
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "http://www.aboutads.info/choices"}
        %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-color-alt:windowtext;\ntext-decoration:none;text-underline:none"} www.aboutads.info/choices
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}  .
    %span{:style => "font-family:\n\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} Contact Us
    %b
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      If you have any
      questions or comments regarding this Cookie Policy, you can email us 
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "mailto:privacy@breville.com", :target => "_blank"}
        %b
          %span{:style => "font-family:\n\"Times New Roman\",serif;color:black;mso-color-alt:windowtext"} privacy@breville.com
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
       or write to us at the following
      address:
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p
  %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:9.6pt;margin-left:0in"}
    %span.SpellE Breville
    USA Inc.
  %p{:style => "margin:0in;margin-bottom:.0001pt"}
    %span.SpellE> Att
    \: Data
    Protection Officer/ Legal Department
    %br/
    19400 S Western Ave.
  %p{:style => "margin:0in;margin-bottom:.0001pt"} Torrance, CA 90501, USA
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif"}
      %p  
