%p CHEFSTEPS COOKIE POLICY
%p Last Updated 10/13/2017
%p
  Our
  %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
  explains how we collect, use and disclose information and personal data about you when you access or use our website, mobile applications, and other products and services (collectively,
  the “Services”), or when you otherwise interact with us. We provide this Cookie Policy to tell you more about the types of cookies and other tracking technologies we use, why we use these technologies and your choices in relation to these technologies.
%h3 Tracking Technologies We Use
%p Cookies are small data files stored on your browser, hard drive or device memory that help us remember things about you so that we can improve our Services and customize your experience. There are different types of cookies.
%p
  Cookies may be classified according to who operates the domain from which they are set. For example, cookies served by the entity that operates the domain you are visiting (for example, ChefSteps.com) are called “first-party cookies.” Cookies served by
  other companies are called “third-party cookies.” We allow third parties to set cookies when you visit our Services to understand how you interact with our Services and for other reasons, as explained further below.
%p
  Cookies may also be classified by their lifespan. For example, cookies that last only for the duration of your browsing session are called “session cookies.” “Persistent cookies” remain on your computer after you close your browser or after you navigate
  away from our webpages. Persistent cookies are stored on your computer’s hard drive until a specified expiration date, which could be tomorrow, next week, or ten years from now unless overwritten with newer cookies or manually removed by you.
%p
  Some cookies may be purely technical cookies that are required to provide you with certain services. For instance, technical cookies remember the items you include in an order or allow you to share content on social networks. Other cookies allow us to
  do things like understand user behavior on our Services or serve customized ads.
%p
  Web beacons and pixel tags are electronic images embedded in a webpage or email that can retrieve certain information about your device and browser, such as the device type, operating system, browser type and version, website visited, time of visit, referring
  website, IP address and other similar information. These technologies also help to deliver cookies, count visits, and understand usage and campaign effectiveness.
%p Local storage refers to other places on a browser or device where information can be stored, and includes HTML5 local storage and browser cache.
%p
  Software Development Kits (also called SDKs) are blocks of code provided by our partners that are installed in our mobile apps. They function like cookies and pixels, allowing partners to collect (and share with us) information about how users interact
  with our apps as well as certain information about the device and network they use to access our apps.
%h3 Our Use of Cookies
%p
  We use cookies and similar tracking technologies to collect data, including personal data, for a variety of purposes, including to improve the functionality of our Services. Below you can learn about the categories of cookies that we use and the general
  purpose of each category:
%table{:border => "1", :cellpadding => "10"}
  %tr
    %td{:width => "200"}
      %p Category of Cookies
    %td
      %p Purpose
  %tr
    %td
      %p Technical
    %td
      %p
        These cookies are essential for our Services to function properly. Without these cookies, certain functionality of our Services, such as remembering your shopping cart items, cannot be provided. Technical cookies may be either first-party cookies
        or third-party cookies.
  %tr
    %td
      %p Preferences
    %td
      %p These cookies remember your settings and preferences so that we can provide a more personalized experience. Preference cookies are first-party cookies.
  %tr
    %td
      %p Security
    %td
      %p These cookies help identify and prevent security risks. Security cookies are first-party cookies.
  %tr
    %td
      %p Performance
    %td
      %p These cookies collect information about how you interact with our Services so that we can continue to improve your experience with us. Performance cookies may be either first-party cookies or third-party cookies.
  %tr
    %td
      %p Analytics
    %td
      %p
        These cookies help us understand what features on our Services users like best so we can understand what’s working and what’s not and so that we can give you more of what you love. Analytical cookies work by counting visits and measuring and analyzing
        usage of our Services. Analytical cookies may be either first-party cookies or third-party cookies.
  %tr
    %td
      %p Advertising
    %td
      %p
        These cookies, including behavioral advertising cookies, track and store how you interact with the advertisements that we serve and other content to help do things like make the ads you see on ChefSteps and on other services more relevant to you
        and help us and our partners track and report on the efficacy of advertising campaigns. Advertising cookies may be installed on your browser when you visit a website or open an email or message containing an ad or promotion. Advertising cookies
        are typically third-party cookies.
%p
%h3 Third-Party and Social Media Cookies
%p
  We may use social media tools, like widgets and plug-ins, so you can share information from ChefSteps on other sites such Facebook, Instagram and Twitter. These interactive mini-programs collect your IP address, record the pages you visit on our Services
  and set cookies that will enable the widget to function properly. Your interactions with these widgets are governed by the privacy policy of the company providing them, not by ChefSteps’ Privacy Policy or this Cookie Policy. We may use pixel tags of
  third-party platforms (such as Facebook, Instagram and Twitter) to help us understand how effective our marketing is on those platforms.
%h3 Your Choices—Disabling and Deleting Cookies
%p
  Most web browsers and devices are set to accept cookies by default. If you prefer, you can usually choose to disable cookies by updating your browser or device settings to remove or reject cookies. For example, you may be able to disable cookies by following
  the instructions provided by your browser, which are usually located within the “Help,” “Preferences” or “Settings” menus. If you want to delete any cookies that are already on your computer, please refer to the help, support, history or tools area
  on your Internet browser for instructions on how to do so. You should know that if you choose to remove or reject cookies, or limit the use of other similar technologies, this could affect your access to our Services or its functionality for you. To
  find out more about cookies, please see
  = succeed ".org" do
    %a{:href => "http://www.aboutcookies/"} www.aboutcookies.org
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Some companies with which ChefSteps partners may allow you to opt out of the use of information about your web browsing activity for purposes of serving ads that are targeted to your interests. You can find out more about interest-based ads and opt out
  of having your web browsing information used for behavioral advertising purposes by certain third parties by visiting
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Contact Us
%p
  If you have any questions or comments regarding this Cookie Policy, you can email us
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  or write to us at the following address:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, United States
