:css
  span.bold {
      font-weight: bold;
  }

.WordSection1
  %p.MsoNormal{:align => "center", :style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:\nauto;text-align:center;background:white"}
    %span.SpellE
      %span.bold
        %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} Breville
    %span.bold
      %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:align => "center", :style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:\nauto;text-align:center;background:white"}
    %span.bold
      %span{:style => "font-size:18.0pt;\nfont-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"} COOKIE POLICY
    %span.bold
      %span{:style => "font-size:18.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Last Updated October 2020
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} The Consumer
    %span{:style => "color:black;mso-color-alt:windowtext"}
      %a{:href => "https://www.chefsteps.com/privacy"}
        %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\";mso-color-alt:windowtext;\ntext-decoration:none;text-underline:none"} Privacy Policy
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
      of
    %span{:style => "font-family:\"Times New Roman\",serif;color:black;\nmso-color-alt:windowtext"}
      %span.SpellE Breville
      USA,
      (hereinafter, “
      %span.SpellE> Breville
      ”)
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext"}
      explains how we collect,
      use or otherwise process personal data when you access or use the Breville
      websites, mobile applications, and other products and services (collectively,
      the “Services”), or when you otherwise interact with us. Our websites use
      cookies, pixel tags and other technologies and local storage ( “tags/files” )
      to distinguish you from other users of this and other websites in the Breville
      family of companies (collectively our
      “Websites). We provide this Cookie Notice as a supplement to our Privacy Notice
      to inform you about the types of cookies and other tracking technologies we
      use, why we use them and your choices in relation to them.
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Tracking Technologies
        We Use
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      What are cookies?
  %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      Cookies are small data files downloaded to
      your hard drive or mobile device when you visit a website that help us remember
      things about you so that we can improve our Services and customize your
      experience. There are different types of cookies
    %span{:style => "font-family:\n\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Types of cookies
  %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:style =>"font-style: italic;"}
        %span{:lang => "EN-US"} First and Third-Party Cookies
      %span{:lang => "EN-US"}
        \.
        %span{:style => "mso-spacerun:yes"}>  
        Cookies may be classified
        according to who operates the domain from which they are set.
        %span{:style => "mso-spacerun:yes"}>  
        Cookies served by the entity that operates
        the domain you are visiting (such as Breville.com/us) are called “first-party
        cookies.” Cookies served by other non-affiliated companies are called
        “third-party cookies.” We allow third parties to set cookies when you visit our
        Services to understand how you interact with our Services and for other
        reasons, as explained further below.

  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:style =>"font-style: italic;"}
        %span{:lang => "EN-US"} Session and Persistent Cookies
      %span{:lang => "EN-US"}
        \.
        %span{:style => "mso-spacerun:yes"}>  
        Cookies may also be
        classified by their lifespan. For example, cookies that last only for the
        duration of your browsing session are called “session cookies.” “Persistent
        cookies” remain on your computer after you close your browser or after you
        navigate away from our Services. Persistent cookies are stored on your device’s
        hard drive until a specified expiration date, which could be tomorrow, ten
        years from now or permanent to the specific device unless overwritten with
        newer cookies or manually removed by you.

    %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Other tracking technologies
      %p
%p.MsoNormal
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span{:lang => "EN-US"}
      “Web Beacons” and “Pixel Tags” are
      electronic images embedded in a webpage or email that can retrieve certain
      information about your device and browser, such as the device type, operating
      system, browser type and version, website visited, time of visit, referring
      website, IP address and other similar information. These technologies also help
      to deliver cookies, count visits, and understand usage and campaign
      effectiveness.
%p.MsoNormal
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span{:lang => "EN-US"}
      Local storage refers to other places on a
      browser or device where information can be stored.
      %span{:style => "mso-spacerun:yes"}>  
      It includes
      %span{:style => "mso-spacerun:yes"}>
       
    both your own device storage and browser cache.
%p.MsoNormal
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span{:lang => "EN-US"}
      Software Development Kits (also called
      SDKs) are blocks of code provided by third parties that are installed in our
      mobile apps. They function like cookies and pixels, allowing those parties to
      collect (and share with us) information about how users interact with our apps
      as well as certain information about the device and network they use to access
      our apps.

  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"} Our Use of Cookies
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      We use cookies and
      similar tracking technologies to collect data, including personal data, for a
      variety of purposes, including to improve the functionality of our Services.
      Below you can learn about the categories of cookies that we use and the general
      purpose of each category:
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %table.MsoNormalTable{:summary => "Cookies to collect data, including personal data, for a variety of purposes, including to improve the functionality of our Services", :border => "1", :cellpadding => "0", :cellspacing => "0", :style => "background:white;border-collapse:collapse;mso-yfti-tbllook:1184;\n mso-padding-alt:10.0pt 10.0pt 10.0pt 10.0pt"}
    %colgroup
      %col
      %col
    %thead
      %tr{:style => "mso-yfti-irow:0;mso-yfti-firstrow:yes"}
        %th{:scope=> 'col', :style => "width:150.0pt;padding:10.0pt 10.0pt 10.0pt 10.0pt;font-weight: normal;text-align: left;", :width => "200"}
          %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
            %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
              Category
              of Cookies
              %p
        %th{:scope=> 'col', :style => "padding:10.0pt 10.0pt 10.0pt 10.0pt;font-weight: normal;text-align: left;"}
          %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
            %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Purpose
            %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
              %p
    %tr{:style => "mso-yfti-irow:1"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Technical
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies are essential for our Services to function
            properly. Without these cookies, certain functionality of our Services, such
            as remembering your shopping cart items, cannot be provided. Technical
            cookies may be either first-party cookies or third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n  \"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:2"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Preferences
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies remember your settings and preferences so that we
            can provide a more personalized experience. Preference cookies are
            first-party cookies.
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:3"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Security
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies help identify and prevent security risks. Security
            cookies are first-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:4"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Performance
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies collect information about how you interact with
            our Services so that we can continue to improve your experience with us.
            Performance cookies may be either first-party cookies or third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;\n  mso-fareast-font-family:\"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:5"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Analytics
          %span{:style => "font-family:\n  \"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies help us understand what features on our Services
            users like best so we can understand what’s working and what’s not and so
            that we can give you more of what you love. Analytics cookies work by
            counting visits and measuring and analyzing usage of our Services. Analytics
            cookies may be either first-party cookies or third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n  \"Times New Roman\""}
            %p
    %tr{:style => "mso-yfti-irow:6;mso-yfti-lastrow:yes"}
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"} Advertising
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
      %td{:style => "padding:10.0pt 10.0pt 10.0pt 10.0pt"}
        %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto"}
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\";\n  color:black;mso-color-alt:windowtext"}
            These cookies, including behavioral advertising cookies, track
            and store how you interact with the advertisements that we serve and other
            content to help do things like make the ads you see on&nbsp;our Services
            &nbsp;and on other services more relevant to you and help us and our partners
            track and report on the efficacy of advertising campaigns. Advertising
            cookies may be installed on your browser when you visit a website or open an
            email or message containing an ad or promotion. Advertising cookies are
            typically third-party cookies.
          %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
            %p
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span{:style => "font-size:13.5pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\""}
      %p  
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Third-Party and Social
        Media Cookies
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal{:style => "mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;\nbackground:white"}
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      We may use social media tools, like widgets
      and plug-ins, which are third party cookies, so you can share information from
      Breville on other sites such Facebook, Instagram and Twitter. These widgets and
      plug-ins may collect your IP address, record the pages you visit on our
      Services and set cookies that will enable it to function properly. The third
      parties providing the widgets or plug-ins may be able to link that information
      to other personal information they may hold about you. Your interactions with
      these widgets and plug-ins are governed by the privacy policy of the company
      providing them, not by
      %span.SpellE Breville’s
      Privacy Notice or
      this Cookie Notice.
      %span{:style => "mso-spacerun:yes"}>  
      We also may use
      pixel tags of third-party platforms (Such as Facebook, Instagram and Twitter) to
      help us understand how effective our marketing is on those platforms.
    %span{:style => "font-family:\"Times New Roman\",serif;\nmso-fareast-font-family:\"Times New Roman\""}
      %p
  %p.MsoNormal{:style => "mso-outline-level:3;background:white"}
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        Your Choices—Disabling
        and Deleting Cookies
    %span.bold
      %span{:style => "font-size:14.0pt;font-family:\n\"Times New Roman\",serif;mso-fareast-font-family:\"Times New Roman\""}
        %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        The steps outlined below provide different
        ways you can exercise your preferences related to the cookies served by our
        Services.
        %span{:style => "mso-spacerun:yes"}>  
        For further information about
        deleting or blocking cookies, please visit:
        %a{:href => "http://www.allaboutcookies.org/manage-cookies/",:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
          %span{:style => "mso-spacerun:yes"}>
          http://www.allaboutcookies.org/manage-cookies/
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        You should know that if you choose to
        remove or reject cookies, or limit the use of other similar technologies, this
        could affect your access to all Websites and in particular to the functionality
        of our Services. If you use your browser settings to block all cookies, you
        will block functionality cookies and may not be able to access all or parts of
        our Websites or Services.
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Browser Settings
      %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        Most web browsers and devices are set to
        accept cookies by default. If you prefer, you can usually choose to disable
        cookies by updating your browser or device settings to remove or reject
        cookies. For example, you may be able to disable cookies by following the
        instructions provided by your browser, which are usually located within the
        “Help,” “Preferences” or “Settings” menus.
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        If you want to delete any cookies that are
        already on your computer, please refer to the Help, Support, History or Tools
        area on your Internet browser for instructions on how to do so.
        %span{:style => "mso-spacerun:yes"}>  
        Current technology does not permit your
        various devices to synchronize these settings, so you must set them for each
        browser and device that you use.
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Google Analytics
      %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        You may download the Google Analytics
        opt-out browser add-on at
        = succeed "." do
          %a{:href => "https://tools.google.com/dlpage/gaoptout", :target => "_blank"}
            %span{:style => "color:windowtext;text-decoration:none;text-underline:\nnone"} https://tools.google.com/dlpage/gaoptout
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Targeted Advertising
      %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        Some companies may allow you to opt out of
        the use of information about your web browsing activity for purposes of serving
        ads that are targeted to your interests. You can find out more about
        interest-based ads and opt out of having your web browsing information used for
        behavioral advertising purposes by certain third parties by visiting
        www.aboutads.info/choices .
        %span{:style => "mso-spacerun:yes"}>  
        You may also
        manage your settings through the Network Advertising Initiative (“NAI”) opt-out
        tool at
        = succeed "." do
          %a{:href => "http://optout.networkadvertising.org/?c=1", :target => "_blank"}
            %span{:style => "color:windowtext;text-decoration:none;text-underline:none"} http://optout.networkadvertising.org/?c=1
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Do Not Track
      %p
  %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;line-height:\nnormal"}
    %span{:lang => "EN-US", :style => "font-size:10.5pt;font-family:\"Segoe UI\",sans-serif;\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-color-alt:windowtext;\nbackground:white;mso-fareast-language:ZH-CN"}
      “Do Not Track” (“DNT”) is a
      concept that has been promoted by regulatory agencies such as the U.S. Federal
      Trade Commission (FTC) as a mechanism for Internet users to control the
      tracking across websites by using browser settings. To turn on your DNT signal,
      please visit
      %span{:style => "mso-spacerun:yes"}  
    %span{:lang => "EN-US"}
      %a{:href => "https://allaboutdnt.com/#adjust-settings"}
        %span{:style => "font-size:10.5pt;\nfont-family:\"Segoe UI\",sans-serif;mso-fareast-font-family:\"Times New Roman\";\ncolor:black;mso-color-alt:windowtext;background:white;mso-fareast-language:\nZH-CN;text-decoration:none;text-underline:none"}https://allaboutdnt.com/#adjust-settings
    %span{:lang => "EN-US", :style => "font-size:10.5pt;font-family:\"Segoe UI\",sans-serif;\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-color-alt:windowtext;\nbackground:white;mso-fareast-language:ZH-CN"}
      \. Not all companies will respond
      to or honor DNT signals.
      %span{:style => "mso-spacerun:yes"}>  
      Note that
      Breville does not respond to DNT signals.
  %span{:lang => "EN-US", :style => "font-size:12.0pt;font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";mso-fareast-language:ZH-CN"}
    %p
  %p.MsoNormal
  %u
    %span{:lang => "EN-US"}
      Other Resources
      %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        You can find more information about cookies
        in general and similar tags/files at the following addresses:
    %p.MsoNormal
      %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        %span{:lang => "EN-US"}
          \-
          %a{:href => "http://www.allaboutcookies.org/",:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
            %span{:style => "mso-spacerun:yes"}>
            http://www.allaboutcookies.org/
            %span{:style => "mso-spacerun:yes"}  
    %p.MsoNormal
      %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        %span{:lang => "EN-US"}
          \-
          %a{:href => "http://www.youronlinechoices.eu/",:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
            %span{:style => "mso-spacerun:yes"}>
            http://www.youronlinechoices.eu/
            %span{:style => "mso-spacerun:yes"}
          (a guide to behavioral advertising and online privacy, produced by the
          internet advertising industry).

  %p.MsoNormal
    %span.bold
      %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        %span{:lang => "EN-US"}
          Changes to This Cookie Notice
          %p
  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
      %span{:lang => "EN-US"}
        This Cookie Notice may be revised from time
        to time.
        %span{:style => "mso-spacerun:yes"}>  
        If we update the Cookie Notice,
        we will revise the “last updated” date above and post a link to the updated Cookie
        Notice on our Website, unless otherwise required by applicable law. Whenever we
        make any material changes to this Cookie Notice, we will provide you
        with additional notice such as adding a
        statement to our Website or sending you a notification, as required under
        applicable law.
      %span{:lang => "EN-US"}
        Please revisit this Cookie Notice regularly
        to stay informed about our use of cookies.
        %span{:style => "mso-spacerun:yes"}   
  %p.MsoNormal
    %span.bold
      %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
        %span{:lang => "EN-US"} Contact Us
  %p.MsoNormal{:style => "text-align:justify"}
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span{:lang => "EN-US", :style => "font-size:11.0pt;line-height:107%;font-family:\"Calibri Light\",sans-serif;\nmso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-bidi-font-family:\nArial"}
      If you have any questions or comments regarding this Cookie Notice, you can email us
      %a{:href => "mailto:privacy@breville.com", :target => "_blank"}
        %span{:style => "font-size:11.0pt;\nfont-family:\"Calibri Light\",sans-serif;mso-ascii-theme-font:major-latin;\nmso-hansi-theme-font:major-latin;mso-bidi-font-family:Arial;\ntext-decoration:none;text-underline:none"} privacy@breville.com
      or write to us at the following address:
      %p
  %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:9.6pt;margin-left:0in"}
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span.SpellE Breville
    USA Inc.
  %p{:style => "margin:0in;margin-bottom:.0001pt"}
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    %span.SpellE> Att
    \: Data
    Protection Officer/ Legal Department
    %br/
    19400 S Western Ave.
  %p{:style => "margin:0in;margin-bottom:.0001pt"}
  %span{:style => "font-family:\"Times New Roman\",serif;mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-color-alt:windowtext"}
    Torrance, CA 90501, USA

  %p.MsoNormal
    %span{:style => "font-family:\"Times New Roman\",serif"}
      %p  
