%p CHEFSTEPS EVÄESTEKÄYTÄNTÖ
%p Viimeisin päivitys 13/10/2017
%p
  Tietosuojaselosteemme selvittää miten keräämme, käytämme ja luovutamme henkilö- ja muita tietoja sinusta vieraillessasi tai käyttäessäsi sivustoamme, mobiilisovellusta tai muita tuotteita tai palveluja (jäljempänä yhdessä "Palvelut"), tai kun muulla tavoin
  olet vuorovaikutuksessa kanssamme. Tämän Evästekäytännön tarkoituksena on tarjota sinulle lisätietoa koskien käyttämiämme evästetyyppejä ja muuta seurantatekniikkaa ja näihin teknologioihin liittyvistä vaihtoehdoistasi.
%h3 Seurantatekniikat, joita käytämme
%p
  Evästeet ovat pieniä selaimellesi, kovalevyllesi tai muistilaitteellesi varastoituja tiedostoja, jotka auttavat meitä muistamaan sinuun liittyviä tietoja niin, että voimme parantaa Palveluitamme ja yksilökohtaista asiakaskokemustasi. Evästeitä on useita
  tyyppejä.
%p
  Evästeet voidaan luokitella sen mukaisesti, kuka hallinnoi verkkotunnusta, josta evästeet on asetettu. Esimerkiksi vierailemasi sivuston (esim. ChefStep.com) tarjoamat verkkotunnusta hallinnoivan yrityksen evästeet ovat niin sanottuja "ensimmäisen osapuolten
  evästeitä". Muiden yritysten toimesta tarjotut evästeet ovat "kolmannen osapuolen evästeitä". Sallimme kolmansien osapuolten tarjota evästeitä vieraillessasi Palvelussamme ymmärtääksemme, miten kommunikoit Palveluidemme kanssa sekä muista, alla tarkemmin
  selvennetyistä syistä.
%p
  Evästeet voidaan luokitella myös elinkaarensa perusteella. Esimerkiksi ainoastaan selailuistunnon kestäviä evästeitä kutsutaan "istuntoevästeiksi". "Pysyvät evästeet" säilyvät tietokoneellasi selaimen sulkemisen tai sivulta poistumisen jälkeen. Pysyvät
  evästeet varastoidaan tietokoneesi kovalevylle määriteltyyn päättymispäivään saakka, joka saattaa olla huomenna, ensi viikolla tai kymmenen vuoden kuluttua tästä hetkestä, jollei evästeitä ylikirjoiteta uusilla evästeillä tai mekaanisesti toimestasi
  poisteta.
%p
  Jotkut evästeistä ovat puhtaasti teknisiä, joita tarvitaan tiettyjen palvelujen tuottamiseksi. Esimerkiksi, tekniset evästeet muistavat tilaukseesi sisältyneet nimikkeet mahdollistaen sisällön jakamisen sosiaalisissa verkostoissa. Muut evästeet mahdollistavat
  meille mm. Palveluidemme käyttäjien käyttäytymisen ymmärtämisen ja kohdennetun mainonnan.
%p
  Verkkojäljite ja pikselimerkit ovat verkkosivulle tai sähköpostiin istutettuja elektronisia kuvia, jotka voivat noutaa tietynlaista tietoa laitteestasi ja selaimestasi, kuten laitetyyppi, käyttöjärjestelmä, selaintyyppi ja versio, vierailtu verkkosivusto,
  vierailun ajankohta, viitesivusto, IP-osoite, tai muu vastaava tieto. Kyseiset teknologia myös auttavat evästeiden tuottamisessa, vierailujen laskemisessa, sekä käytön ja markkinoinnin vaikuttavuuden ymmärtämisessä.
%p Paikallinen varastointi viittaa muihin selaimen tai laitteen osiin, joissa tietoa voidaan varastoida, ja sisältää HTML5 paikallisen yksikön sekä selaimen välimuistin.
%p
  Ohjelmiston kehityspaketit (SDK) ovat kumppaniemme tarjoamia koodilohkoja, jotka on asennettu mobiilisovelluksiimme. Ne toimivat kuten evästeet ja pikselit, sallien kumppaniemme kerätä (ja jakaa kanssamme) tietoa siitä, miten käyttäjät toimivat vuorovaikutuksessa
  sovellustemme kanssa sekä tiettyjä tietoja laitteesta ja verkosta, jolla sovellusta on käytetty.
%h3 Evästeiden käyttö
%p Käytämme evästeitä ja vastaavia seurantatekniikoita datan, mukaan lukien henkilötiedot, keräämiseen erilaisiin tarkoituksiin kuten Palvelujemme toimivuuden parantamiseen. Alta voit oppia lisää käyttämistämme evästekategorioista ja näiden tarkoituksesta:
%table{:border => "1", :cellpadding => "10", :summary => "Käytämme evästeitä ja vastaavia seurantatekniikoita datan, mukaan lukien henkilötiedot, keräämiseen erilaisiin tarkoituksiin kuten Palvelujemme toimivuuden parantamiseen"}
  %colgroup
    %col
    %col
  %thead
    %tr
      %th{:scope=> 'col', :style => "font-weight: normal; text-align: left;", :width => "200"}
        %p Evästekategoria
      %th{:scope=> 'col', :style => "font-weight: normal; text-align: left;"}
        %p Tarkoitus
  %tr
    %td
      %p Tekninen
    %td
      %p
        Nämä evästeet vaaditaan Palvelujen toimintaa varten. Ilman kyseisiä evästeitä, tiettyjä Palvelujen toimintoja, kuten ostoskorin nimikkeiden tallentuminen, ei voida tarjota. Tekniset evästeet voivat olla joko ensimmäisen tai kolmannen osapuolen evästeitä.
  %tr
    %td
      %p Preferenssit
    %td
      %p Nämä evästeet muistavat asetuksesi ja valintasi siten, että pystymme tarjoamaan yksilöidymmän kokemuksen. Preferenssievästeet ovat ensimmäisen osapuolen evästeitä.
  %tr
    %td
      %p Turvallisuus
    %td
      %p Nämä evästeet auttamaan tunnistamaan ja ehkäisemään turvallisuusuhkia. Turvallisuusevästeet ovat ensimmäisen osapuolen evästeitä.
  %tr
    %td
      %p Toiminnallisuus
    %td
      %p Nämä evästeet keräävät tietoa vuorovaikutuksesta Palvelumme kanssa, jotta voimme jatkaa palvelukokemuksesi parantamista. Toiminnalliset evästeet voivat olla joko ensimmäisen tai kolmannen osapuolen evästeitä.
  %tr
    %td
      %p Analytiikka
    %td
      %p
        Nämä evästeet auttavat meitä ymmärtämään mistä Palvelujemme osa-alueista käyttäjät pitävät eniten, jotta näemme mikä toimii ja mikä ei, ja voimme tarjota sinulle enemmän sitä, mitä rakastat. Analyyttiset evästeet laskevat vierailukertoja sekä mittaavat
        ja analysoivat Palvelujen käyttöä. Analyyttisen evästeet voivat olla joko ensimmäisen tai kolmannen osapuolen evästeitä.
  %tr
    %td
      %p Mainosevästeet
    %td
      %p
        Nämä evästeet, mukaan lukien käyttäytymiseen perustuvat mainosevästeet, seuraavat ja varastoivat vuorovaikutustasi tarjoamamme mainonnan ja muun sisällön kanssa mahdollistaen mm. ChefStepissä ja muissa palveluissa esiintyvien mainosten kohdentamisen
        sekä meidän ja kumppaniemme mainoskampanjoiden vaikuttavuuden seurannan. Mainosevästeitä voidaan asentaa selaimellesi vieraillessasi sivustollamme tai avatessasi mainonta- tai markkinointisähköpostin tai viestin. Mainosevästeet ovat tyypillisesti
        kolmannen osapuolen evästeitä.
%p
%h3 Kolmannen osapuolen ja sosiaalisen median evästeet
%p
  Käytämme sosiaalisen median välineitä, kuten widgettejä ja liitännäissovelluksia, jotta voit jakaa sisältöä ChefStepistä sivustoilla kuten Facebook, Instagram ja Twitter. Nämä interaktiiviset miniohjelmat keräävät IP-osoitteesi, tallentavat sivut joilla
  Palveluissamme vierailet ja asettavat evästeitä, jotka mahdollistavat widgetien toiminnan. Vuorovaikutustasi widgetien kanssa hallinnoidaan widgetin tarjoavan yrityksen, ei ChefStepin tietosuojakäytännön mukaisesti. Käytämme kolmannen osapuolen alustojen
  (kuten Facebook, Instagram, Twitter) pikselimerkkejä selvittääksemme markkinointimme vaikuttavuutta kyseisillä alustoilla.
%h3 Sinun valintasi – Evästeiden hallinta ja poistaminen
%p
  Useimmat verkkoselaimet ja laitteet hyväksyvät evästeet oletusarvoisesti. Halutessasi voit yleensä valita evästeet poistettavaksi päivittämällä selaimesi tai laitteesi asetukset poistamaan tai hylkäämään evästeet. Esimerkiksi, voit hallita evästeitä seuraamalla
  selaimesi ohjeita, jotka yleensä on sijoitettu valikkoihin "Ohje", "Valinnat" ja "Asetukset". Jos haluat poistaa jo tietokoneellesi tallennetut evästeet, tutustu verkkoselaimesi ohjeistukseen osioissa ohje, tuki, historia ja työkalut. Huomio, että poistaessasi
  tai hylätessäsi evästeet tai rajoittaessasi niiden tai vastaavan seurantateknologian käyttöä tällä saattaa olla vaikutusta Palveluun pääsyyn tai toimintaan. Lisätietoa evästeistä on saatavilla osoitteessa
  %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
  tai
  = succeed "." do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Jotkin ChefStepin kumppaniyrityksistä sallivat sinun estää selaushistorian käyttö mainonnan kohdentamistarkoituksissa. Lisätietoa kohdennetusta mainonnasta ja verkkoselaimen tietoihin perustuvan, tiettyjen kolmansien osapuolten kohdennetun mainonnan estämisestä
  on saatavilla osoitteessa
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Ota meihin yhteyttä
%p
  Jos sinulla on kysymyksiä tai kommentteja evästekäytäntöömme liittyen, voit ottaa meihin yhteyttä sähköpostitse osoitteella
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  tai kirjoittaa meille seuraavalla osoitteella:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, United States
