%p POLITIQUE RELATIVE AUX COOKIES CHEFSTEPS
%p Dernière mise à jour : 13/10/2017
%p
  Notre Politique de Confidentialité précise de quelle manière nous collectons, utilisons et divulguons les informations et les données personnelles vous concernant lorsque vous accédez à notre site Web, à nos applications mobiles ou à nos autres produits
  et services (collectivement désignés les « Services ») et lorsque vous les utilisez, ou lorsque vous échangez avec nous d’une autre manière. Nous vous fournissons cette Politique Cookies afin que vous soyez informer de la typologie des cookies et des
  autres technologies de traçage que nous utilisons, dans quel but nous les utilisons, et de vos choix concernant ces technologies.
%h3 Les technologies de traçage que nous utilisons
%p
  Les « cookies » sont de petits fichiers de données stockés dans votre navigateur, sur votre disque dur ou sur votre support de mémoire et qui nous aident à nous souvenir de vous afin de nous permettre d’améliorer nos Services et de personnaliser votre
  expérience utilisateur. Il existe plusieurs types de cookies.
%p
  Les cookies peuvent être classés en fonction de l’identité de l’émetteur qui les dépose. Par exemple, les cookies déposés par l’opérateur du domaine que vous visitez (ChefSteps.com, par exemple) sont appelés « cookies propriétaires ou cookies first party».
  Les cookies déposés par d’autres entreprises sont appelés « cookies tiers ou cookies third-party ». Nous autorisons des entreprises tierces à déposer des cookies lorsque vous visitez nos Services afin de comprendre la façon dont vous interagissez avec
  ces Services, ainsi que pour d’autres raisons telles qu’expliquées ci-dessous.
%p
  Les cookies peuvent aussi être classés selon leur durée de vie. Par exemple, les cookies qui ne durent que le temps de votre session de navigation sont appelés « cookies de session ». Les « cookies persistants » sont des cookies qui restent sur votre
  ordinateur après que vous ayez fermé votre navigateur ou quitté nos pages internet. Les cookies persistants sont stockés sur le disque dur de votre ordinateur jusqu’à une date d’expiration spécifiée, qui peut être demain, la semaine prochaine ou dans
  dix ans, sauf s’ils sont remplacés par des cookies plus récents ou si vous les supprimez manuellement.
%p
  Certains cookies peuvent être des cookies purement techniques, qui sont nécessaires pour nous permettre de vous fournir certains services. Par exemple, un cookie technique peut mémoriser les éléments contenus dans une commande que vous nous passez ou
  vous permettre de partager du contenu sur les réseaux sociaux. D’autres cookies pourront nous permettre, par exemple, de comprendre le comportement des utilisateurs de nos Services ou d’afficher des publicités personnalisées.
%p
  Les balises Web et les pixels invisibles sont des images électroniques incorporées dans une page internet ou un courrier électronique, capables de récupérer certaines informations concernant votre appareil et votre navigateur, telles que le type d’appareil,
  son système d’exploitation, le type et de la version du navigateur, le site internet visité, la durée de la visite, le site Web référant, l’adresse IP, ou d’autres informations similaires. Ces technologies nous aident aussi à déposer des cookies, compter
  le nombre de visites et comprendre l’usage et l’efficacité d’une campagne.
%p Le terme « stockage local » désigne d’autres emplacements dans un navigateur ou sur un appareil où peuvent être stockées des informations, notamment le stockage HTML5 et le cache du navigateur.
%p
  Les kits de développement logiciel (également appelés: SDK) sont des blocs de code fournis par nos partenaires et qui sont installés sur nos applications mobiles. Ils fonctionnent comme les cookies ou les pixels invisibles permettant à nos partenaires
  de collecter des informations (et de les partager avec nous) relatives à la manière dont les utilisateurs interagissent avec nos applications, ainsi que certaines informations sur l’appareil et le réseau qu’ils utilisent pour accéder à nos applications.
%h3 Notre utilisation des cookies
%p
  Nous utilisons les cookies et des technologies de traçage similaires pour collecter des informations, dont des données personnelles, à diverses fins, notamment afin d’améliorer les fonctionnalités de nos Services. Vous trouverez ci‑dessous les catégories
  de cookies que nous utilisons et la finalité associée à chaque catégorie.
%table{:border => "1", :cellpadding => "10"}
  %tr
    %td{:width => "200"}
      %p Catégorie de cookies
    %td
      %p Finalité
  %tr
    %td
      %p Technique
    %td
      %p
        Ces cookies servent essentiellement à assurer le bon fonctionnement de nos Services. Sans ces cookies, certaines fonctionnalités, comme la mémorisation des articles de votre panier d’achat, ne pourront pas être fournies. Les cookies techniques peuvent
        être des cookies propriétaires ou des cookies tiers.
  %tr
    %td
      %p Préférences
    %td
      %p Ces cookies mémorisent vos paramétrages et vos préférences pour nous permettre de vous fournir une expérience plus personnalisée. Les cookies de préférences sont des cookies propriétaires.
  %tr
    %td
      %p Sécurité
    %td
      %p Ces cookies aident à identifier et à prévenir les risques en matière de sécurité. Les cookies de sécurité sont des cookies propriétaires.
  %tr
    %td
      %p Performance
    %td
      %p
        Ces cookies collectent des informations sur la façon dont vous interagissez avec nos Services pour nous permettre de continue à améliorer votre expérience avec nous. Les cookies de performance peuvent être des cookies propriétaires ou des cookies
        tiers.
  %tr
    %td
      %p Analytique
    %td
      %p
        Ces cookies nous aident à déterminer les caractéristiques sur nos Services que les utilisateurs apprécient le plus et à comprendre ce qui fonctionne et ce qui ne fonctionne pas, afin de proposer davantage ce que les utilisateurs préfèrent. Les cookies
        analytiques comptent les visites et mesurent et analysent l’utilisation de nos Services. Les cookies analytiques peuvent être des cookies propriétaires ou des cookies tiers
  %tr
    %td
      %p Publicitaire
    %td
      %p
        Ces cookies, notamment les cookies de publicité comportementale tracent et mémorisent la façon dont vous interagissez avec les publicités et d’autres contenus que nous vous présentons, dans le but de nous aider à les rendre plus pertinents par rapport
        à vous, ainsi que d’aider nos partenaires et nous-mêmes à suivre et à analyser l’efficacité de nos campagnes de publicité. Les cookies publicitaires peuvent être déposés sur votre navigateur lorsque vous visitez un site Web ou ouvrez un courrier
        électronique ou un message qui contient une publicité ou une promotion. Les cookies publicitaires sont généralement des cookies tiers.
%p
%h3 Cookies externes et cookies des réseaux sociaux
%p
  Nous pouvons utiliser les outils des réseaux sociaux comme les
  = succeed "et" do
    %em widgets
  = succeed ")" do
    %em « plugs-in »
%h3 Vos options : désactiver et supprimer les cookies
%p
  La plupart des appareils et des navigateurs Internet sont paramétrés pour accepter par défaut le dépôt de cookies. Si vous le souhaitez, vous pouvez généralement choisir de désactiver les cookies en modifiant le paramétrage de votre appareil ou de votre
  navigateur afin de retirer ou de refuser les cookies. Par exemple, vous pouvez désactiver les cookies en suivant les instructions fournies par votre navigateur, qui se trouvent généralement dans les menus « Aide », « Préférences » ou « Réglages » ou
  « Paramètres ». Si vous souhaitez supprimer les cookies qui sont déjà sur votre ordinateur, veuillez-vous reporter aux rubriques d’aide, d’assistance, d’historique ou d’outils de votre navigateur Internet pour savoir comment faire. Sachez toutefois
  que si vous choisissez de supprimer ou de refuser les cookies, ou de limiter l’emploi d’autres technologies similaires, votre choix est susceptible d’affecter votre accès à nos Services ou à certaines fonctionnalités. Si vous souhaitez en savoir plus
  sur les cookies, veuillez-vous rendre sur
  %a{:href => "http://www.aboutcookies/"} www.aboutcookies.org
  ou sur
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Certaines entreprises partenaires de ChefSteps peuvent vous proposer de vous opposer à l’utilisation des informations concernant votre activité de navigation sur internet dans le but de vous proposer des publicités ciblées en fonction de vos centres d’intérêt.
  Vous trouverez d’autres renseignements sur les publicités ciblées et sur vos moyens d’opposition au traitement par des tiers des informations relatives à votre navigation internet à des fins de publicité ciblée en consultant le site
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Pour nous contacter
%p
  Si vous avez des questions ou des commentaires sur cette Politique Cookies, veuillez nous envoyer un courrier électronique à
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  ou nous écrire à l’adresse suivante :
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, États-Unis
