%p COOKIE-GRUNDSÄTZE VON CHEFSTEPS
%p Zuletzt aktualisiert 13/10/2017
%p
  Unsere Datenschutzgrundsätze erklären, wie wir Informationen und persönliche Daten über Sie sammeln, nutzen und offenlegen, wenn Sie unsere Webseite, mobilen Applikationen und sonstige Produkte und Leistungen (gemeinsam die ”Leistungen”) besuchen oder
  nutzen oder wenn Sie in sonstiger Weise mit uns interagieren. Wir stellen diese Cookie-Grundsätze zur Verfügung, um Ihnen mehr über die Art der von uns genutzten Cookies und Tracking-Technologien, warum wir diese Technologien einsetzen und Ihre Wahlmöglichkeiten
  in Bezug auf diese Technologien zu erklären.
%h3 Von uns genutzte Tracking-Technologien
%p
  Cookies sind kleine Dateien, die auf Ihrem Browser, Ihrer Festplatte oder Ihrem Gerätespeicher abgespeichert werden und uns dabei helfen, uns an Dinge im Zusammenhang mit Ihnen zu erinnern, damit wir unsere Leistungen verbessern und Ihre Erfahrung persönlicher
  gestalten können. Es gibt unterschiedliche Arten von Cookies.
%p
  Cookies können danach klassifiziert werden, wer die Domain betreibt, von der die Cookies gesetzt werden. Beispielsweise werden Cookies, die von dem Unternehmen gesetzt werden, welches die von Ihnen besuchte Domain vertreibt (beispielsweise ChefSteps.com),
  “Erstanbieter-Cookies” genannt. Cookies, die von anderen Unternehmen gesetzt werden, werden ”Drittanbieter-Cookies” genannt. Wir erlauben Dritten, Cookies zu setzen, wenn Sie unsere Leistungen besuchen, um zu verstehen, wie Sie mit unseren Leistungen
  interagieren, sowie aus anderen nachstehend weiter erklärten Gründen.
%p
  Cookies können auch nach ihrer Lebensspanne klassifiziert werden. Beispielsweise werden Cookies, die nur während der Dauer Ihrer Browser-Sitzungen verbleiben, ”Sitzungscookies” genannt. “Persistente Cookies” bleiben auf Ihrem Computer, nachdem Sie Ihren
  Browser schließen oder nachdem Sie von unseren Webseiten wegnavigieren. Persistente Cookies werden auf der Festplatte Ihres Computers abgespeichert, bis ein bestimmtes Ablaufdatum erreicht ist, was morgen oder nächste Woche oder in zehn Jahren sein
  könnte, es sei denn, sie werden von neueren Cookies überschrieben oder von Ihnen manuell entfernt.
%p
  Manche Cookies können rein technische Cookies sein, die dazu benötigt werden, Ihnen gegenüber bestimmte Leistungen zu erbringen. Beispielsweise erinnern sich technische Cookies an die Gegenstände, die Sie in eine Bestellung aufnehmen, oder erlauben es
  Ihnen, Inhalte durch soziale Netzwerke zu teilen. Andere Cookies ermöglichen es uns, Dinge zu tun, beispielsweise Nutzerverhalten in Bezug auf unsere Leistungen zu verstehen oder kundenindividuelle Werbebotschaften zu schicken.
%p
  Web Beacons und Pixel Tags sind elektronische Bilder, die in eine Webseite oder Email eingebettet sind und bestimmte Informationen über Ihr Gerät und Browser auffinden können, beispielsweise den Gerätetyp, das Betriebssystem, den Browsertyp und die Version,
  die besuchte Webseite, die Besuchszeit, die verweisende Webseite, IP-Adresse und sonstige ähnliche Informationen. Diese Technologien helfen auch dabei, Cookies zu setzen, Besucher zu zählen und die Nutzung und die Effektivität einer Kampagne zu verstehen.
%p Lokale Speicherung bezieht sich auf andere Orte auf einem Browser oder Gerät, wo Informationen gespeichert werden können, und umfasst HTML5 lokale Speicherung und Browser-Cache.
%p
  Software Development Kits (auch als SDKs bezeichnet) sind Codeblocks, die von unseren Partnern gestellt werden und in unseren mobilen Apps installiert sind. Sie funktionieren wie Cookies und Pixels, erlauben Partnern die Sammlung von Informationen (und
  deren Teilung mit uns) darüber, wie Nutzer mit unseren Apps interagieren, sowie bestimmte Informationen über das Gerät und das Netzwerk, das für den Zugang zu unseren Apps verwendet wird.
%h3 Unsere Nutzung von Cookies
%p
  Wir nutzen Cookies und ähnliche Tracking-Technologien zur Sammlung von Daten, einschließlich persönlicher Daten, für eine Vielzahl von Zwecken, einschließlich der Verbesserung der Funktionen unserer Leistungen. Nachstehend können Sie mehr über die Kategorien
  von Cookies, die wir verwenden, und den allgemeinen Zweck ihrer Kategorie erfahren:
%table{:border => "1", :cellpadding => "10", :summary => "Wir nutzen Cookies und ähnliche Tracking-Technologien zur Sammlung von Daten, einschließlich persönlicher Daten, für eine Vielzahl von Zwecken, einschließlich der Verbesserung der Funktionen unserer Leistungen"}
  %tr
    %td{:width => "200"}
      %p Kategorie der Cookies
    %td
      %p Zweck
  %tr
    %td
      %p Technisch
    %td
      %p
        Diese Cookies sind von wesentlicher Bedeutung für die ordnungsgemäße Funktion unserer Leistungen. Ohne diese Cookies können bestimmte Funktionen unserer Leistungen nicht angeboten werden, beispielsweise die Erinnerung an den Inhalt Ihres Einkaufswagens.
        Technische Cookies können entweder ”Erstanbieter-Cookies” oder ”Drittanbieter-Cookies” sein.
  %tr
    %td
      %p Präferenzen
    %td
      %p Diese Cookies erinnern sich an Ihre Einstellungen und Präferenzen, so dass wir ein auf Sie persönlich zugeschnittenes Ergebnis bieten können. Präferenz-Cookies sind Erstanbieter-Cookies.
  %tr
    %td
      %p Sicherheit
    %td
      %p Diese Cookies helfen bei der Identifizierung und Verhinderung von Sicherheitsrisiken. Sicherheitscookies sind Erstanbieter-Cookies.
  %tr
    %td
      %p Leistung
    %td
      %p Diese Cookies sammeln Informationen darüber, wie Sie mit unseren Leistungen interagieren, so dass wir Ihre Erfahrung mit uns weiter verbessern können. Leistungscookies können entweder Erstanbieter-Cookies oder Drittanbieter-Cookies sein.
  %tr
    %td
      %p Analytik
    %td
      %p
        Diese Cookies helfen uns zu verstehen, welche Merkmale die Nutzer unserer Leistungen am meisten mögen, so dass wir verstehen können, was geht und was nicht geht und Ihnen das, was Sie lieben, in größerem Maße geben können. Analytische Cookies zählen
        Besucher und messen und analysieren die Nutzung unserer Leistungen. Analytische Cookies können entweder Erstanbieter-Cookies oder Drittanbieter-Cookies sein.
  %tr
    %td
      %p Werbung
    %td
      %p
        Diese Cookies einschließlich Cookies für verhaltensorientierte Werbung verfolgen und speichern, wie Sie mit der von uns platzierten Werbung und sonstigen Inhalten interagieren, um dabei zu helfen, beispielsweise die von Ihnen auf ChefSteps oder
        anderen Leistungen gesehene Werbung für Sie relevanter zu machen und uns und unseren Partnern dabei zu helfen, die Effektivität von Werbekampagnen zu beobachten und darüber zu berichten. Werbecookies können auf Ihrem Browser installiert werden,
        wenn Sie eine Webseite besuchen oder eine Email oder Nachricht, welche eine Promotion enthält, verwenden. Werbecookies sind typischerweise Drittanbieter-Cookies.
%p
%h3 Dritt- und soziale Medien-Cookies
%p
  Wir können Social Media-Tools wie Widgets und Plug-ins verwenden, damit Sie Informationen von ChefSteps auf anderen Seiten wie Facebook, Instagram und Twitter teilen können. Diese interaktiven Miniprogramme erfassen Ihre IP-Adresse und die von Ihnen auf
  unseren Leistungen besuchten Seiten und setzen Cookies, welche es den Widgets ermöglicht, ordnungsgemäß zu funktionieren. Ihre Interaktionen mit diesen Widgets unterliegen den Datenschutzgrundsätzen der Unternehmen, welche sie bereitstellen, und nicht
  den Datenschutzgrundsätzen von ChefSteps oder diesen Cookiegrundsätzen. Wir können Pixel Tags von dritten Plattformen (beispielsweise Facebook, Instagram und Twitter) nutzen, um uns dabei zu helfen, zu verstehen, wie wirksam unser Marketing auf diesen
  Plattformen ist.
%h3 Ihre Wahlmöglichkeiten - Cookies deaktivieren und löschen
%p
  Die meisten Webbrowser und Geräte sind so eingestellt, dass sie standardmäßig Cookies akzeptieren. Falls Sie es bevorzugen, können Sie üblicherweise entscheiden, Cookies zu deaktivieren, indem Sie Ihre Browser- oder Geräteeinstellungen so aktualisieren,
  dass Cookies entfernt oder abgelehnt werden. Beispielsweise können Sie möglicherweise Cookies deaktivieren, indem Sie die entsprechenden Anweisungen in Ihrem Browser verfolgen. Diese sind üblicherweise im Menü unter “Hilfe,” “Präferenzen” oder “Einstellungen”
  zu finden. Falls Sie Cookies, welche sich bereits auf Ihrem Computer befinden, löschen möchten, gehen Sie in Ihrem Browser zum Bereich Hilfe, Support, Historie oder Tools, um Weisungen zu finden, wie dies zu tun ist. Sie sollten wissen, dass Sie durch
  die Entfernung oder Ablehnung von Cookies oder die Einschränkung der Nutzung sonstiger ähnlicher Technologien möglicherweise Ihren Zugang zu deren Leistungen oder deren Funktionen für Sie beeinträchtigen. Um mehr über Cookies zu lernen, siehe bitte
  %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
  oder
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org/"} www.allaboutcookies.org
%p
  Manche Unternehmen, die Partner von ChefSteps sind, erlauben es Ihnen, die Nutzung von Informationen über Ihre Webbrowsingtätigkeit für die Zwecke der Platzierung von Werbung, die auf Ihre Interessen zugeschnitten ist, auszuschließen. Mehr Informationen
  über interessenbasierte Werbung und darüber, wie Sie die Nutzung Ihrer Webbrowsinginformationen für die Zwecke verhaltensorientierter Werbung durch Dritte ausschließen können, finden Sie unter
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Kontakt
%p
  Falls Sie Fragen oder Bemerkungen bezüglich dieser Cookiegrundsätze haben, können Sie uns eine Email an
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  schicken oder an die folgende Anschrift schreiben:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, United States
