%p POLICY SUI COOKIE DI CHEFSTEPS
%p Ultimo aggiornamento 13/10/2017
%p
  La Policy sulla Privacy di ChefSteps illustra le modalità in cui le informazioni e dati personali dell’utente sono raccolti, utilizzati e trasferiti a seguito dell’accesso o utilizzo del sito web, le app per dispositivi mobili e gli altri prodotti e servizi
  offerti da ChefSteps (collettivamente i “Servizi”) o quando l’utente interagisce con ChefSteps in altra maniera. La presente Policy sui Cookie ha il fine di fornire maggiori informazioni sulle tipologie di cookie e le altre tecnologie di tracciamento
  utilizzate da ChefSteps, le ragioni per cui tali tecnologie sono impiegate e le opzioni a disposizione dell’utente relativamente alle stesse.
%h3 Tecnologie di tracciamento utilizzate
%p
  I cookie sono file di dati di piccole dimensioni che vengono memorizzati nel browser, disco rigido o memoria del dispositivo dell’utente e che permettono di memorizzare le preferenze dell’utente al fine di migliorare i Servizi e personalizzare l’esperienza
  utente. Esistono varie tipologie di cookie.
%p
  I cookie possono essere classificati in base al soggetto che gestisce il dominio nel quale sono abilitati. Per esempio, i cookie utilizzati dalla società che gestisce il dominio visitato (ad esempio ChefSteps.com) sono denominati “cookie di prima parte”.
  I cookie utilizzati da altre società sono denominati “cookie di terze parti”, a cui ChefSteps permette di utilizzare i cookie quando l’utente visita i Servizi al fine di comprendere l’interazione dell’utente con i Servizi e per altre finalità, come
  spiegato più avanti.
%p
  I cookie possono essere classificati anche in base alla loro durata. Per esempio, i cookie che rimangono solo per la durata della navigazione sono chiamati “cookie di sessione”. I “cookie persistenti” restano invece sul computer dell’utente dopo la chiusura
  del browser o una volta conclusa la navigazione su una pagina web. I cookie persistenti sono memorizzati sul disco rigido del computer dell’utente fino a una data di scadenza specifica, che può essere il giorno o la settimana successivi o dopo dieci
  anni dalla navigazione, a meno che non siano sovrascritti con cookie più nuovi o non siano rimossi manualmente.
%p
  Alcuni cookie, definiti cookie tecnici, sono necessari per l’accesso a determinati servizi. Per esempio, i cookie tecnici registrano le voci inserite in un ordine o consentono la condivisione dei contenuti sui social network. Altri cookie consentono a
  ChefSteps di comprendere il comportamento degli utenti dei Servizi o di fornire contenuti pubblicitari personalizzati.
%p
  I web beacon e i pixel tag sono immagini elettroniche, contenute in pagine web o all’interno di email, in grado di registrare alcune informazioni sul dispositivo e sul browser dell’utente, come il tipo di dispositivo, il sistema operativo, il tipo e la
  versione di browser, i siti web visitati, l'ora della visita, il sito web di provenienza, l'indirizzo IP e altre informazioni simili. Queste tecnologie aiutano anche a inviare cookie, contare il numero di visite e comprendere l'efficacia dell'utilizzo
  e delle varie campagne.
%p L'archiviazione locale si riferisce agli altri luoghi del browser o del dispositivo in cui le informazioni possono essere archiviate e include l'archiviazione locale HTML5 e la cache del browser.
%p
  I Software Development Kit (chiamati anche SDK) sono blocchi di codice forniti dai partner di ChefSteps e installati nelle app ChefSteps per dispositivi mobili. Gli SDK funzionano come i cookie e i pixel, consentendo ai partner di raccogliere (e condividere
  con ChefSteps) informazioni su come gli utenti interagiscono con le app, nonché informazioni sul dispositivo e la rete utilizzati per l’accesso alle app.
%h3 L’uso dei cookie da parte di ChefSteps
%p
  L’utilizzo dei cookie e delle tecnologie di tracciamento analoghe è finalizzato alla raccolta di dati, compresi i dati personali, per il loro uso per svariate finalità, tra cui il miglioramento della funzionalità dei Servizi. Di seguito è possibile trovare
  informazioni circa le categorie di cookie utilizzate e la finalità generale di ciascuna categoria:
%table{:border => "1", :cellpadding => "10", :summary => "L’utilizzo dei cookie e delle tecnologie di tracciamento analoghe è finalizzato alla raccolta di dati, compresi i dati personali, per il loro uso per svariate finalità, tra cui il miglioramento della funzionalità dei Servizi"}
  %tr
    %td{:width => "200"}
      %p Categoria di cookie
    %td
      %p Finalità
  %tr
    %td
      %p Tecnici
    %td
      %p
        Questi cookie sono essenziali per il corretto funzionamento dei Servizi. Senza questi cookie non è possibile accedere a determinate funzionalità dei Servizi, come la memorizzazione degli articoli del carrello. I cookie tecnici possono essere sia
        cookie di prima parte che cookie di terze parti.
  %tr
    %td
      %p Preferenza
    %td
      %p Questi cookie ricordano le impostazioni e preferenze dell’utente e permettono di fornire un'esperienza più personalizzata. I cookie di preferenza sono cookie di prima parte.
  %tr
    %td
      %p Sicurezza
    %td
      %p Questi cookie aiutano a identificare e prevenire i rischi di sicurezza. I cookie di sicurezza sono cookie di prima parte.
  %tr
    %td
      %p Performance
    %td
      %p Questi cookie raccolgono informazioni sull’interazione dell’utente con i nostri Servizi, permettendo di migliorare l’esperienza utente. I cookie di performance possono essere sia cookie di prima parte che cookie di terze parti.
  %tr
    %td
      %p Analitici
    %td
      %p
        Questi cookie permettono di registrare gli aspetti dei Servizi che più piacciono agli utenti, in modo da comprendere quali parti funzionano e quali no, e da fornire un servizio che sia sempre più di gradimento per l’utente. I cookie analitici contano
        il numero di visite e analizzano l'uso dei Servizi. I cookie analitici possono essere sia cookie di prima parte che cookie di terze parti.
  %tr
    %td
      %p Pubblicitari
    %td
      %p
        Questi cookie, compresi i cookie di pubblicità comportamentale, tracciano e memorizzano il modo in cui l’utente interagisce con gli annunci pubblicitari presenti sul sito ChefSteps e con gli altri contenuti. In questo modo, ChefSteps è ad esempio
        in grado di proporre sul proprio sito e sui Servizi gli annunci pubblicitari che più interessano all’utente. I cookie pubblicitari aiutano ChefSteps e i suoi partner a tracciare e registrare l'efficacia delle campagne pubblicitarie. I cookie pubblicitari
        possono essere installati sul browser dell’utente quando visita un sito web o apre un’email o un messaggio contenente una pubblicità o una promozione. I cookie pubblicitari sono generalmente cookie di terze parti.
%p
%h3 Cookie di terze parti e social media
%p
  È possibile che siano utilizzati strumenti associati a social media, come widget e plugin, in modo che l’utente possa condividere i contenuti di ChefSteps su siti come Facebook, Instagram e Twitter. Questi mini programmi interattivi raccolgono l’indirizzo
  IP dell’utente, registrano le pagine visitate sui Servizi e abilitano i cookie che consentiranno al widget di funzionare in modo adeguato. Le interazioni con questi widget non sono disciplinate dalla Policy sulla Privacy di ChefSteps o dalla presente
  Policy sui Cookie, bensì dalla Policy sulla Privacy della società che li fornisce. È inoltre possibile che vengano utilizzati pixel tag di piattaforme di terze parti (come Facebook, Instagram e Twitter) per aiutarci a comprendere l’efficacia delle campagne
  di marketing ChefSteps su tali piattaforme.
%h3 Preferenze utente – Disabilitare ed eliminare i cookie
%p
  Le impostazioni predefinite di molti browser web e dispositivi prevedono l’accettazione automatica dei cookie. L’utente può tuttavia scegliere di disabilitare i cookie aggiornando le impostazioni del browser affinché i cookie siano rimossi o rifiutati.
  Per esempio, l’utente può disabilitare i cookie sul browser seguendo le istruzioni solitamente disponibili nella sezione “Opzioni”, “Preferenze” o “Impostazioni”. Laddove si vogliano cancellare i cookie già presenti sul computer, è possibile consultare
  le istruzioni presenti alle sezioni Aiuto, Assistenza, Cronologia o Strumenti del browser. Attenzione: la disabilitazione o rimozione dei cookie o delle altre tecnologie analoghe potrebbe compromettere l’utilizzo o le funzioni dei Servizi. Per saperne
  di più sui cookie, visitare
  %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
  o
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
  dove è possibile ottenere maggiori informazioni sui cookie, sul loro funzionamento e sulle opzioni a disposizione.
%p
  Alcune delle società con cui ChefSteps collabora permettono di interrompere l'uso di informazioni sulla vostra attività di navigazione finalizzato all’invio di annunci pubblicitari basati sugli interessi. Per avere maggiori informazioni sulla pubblicità
  basata sugli interessi e sull'interruzione dell'uso delle informazioni di navigazione dell’utente per finalità di pubblicità comportamentale da parte di parti terze, visitate il sito www.aboutads.info/choices. Inoltre, il dispositivo dell’utente può
  comprendere una funzione (chiamata “Limita raccolta dati” su iOS o “Disattivazione della visualizzazione di annunci personalizzati” su Android) che consente di disattivare la raccolta di informazioni usate per scopi di pubblicità comportamentale da
  parte delle app per dispositivi mobili.
%h3 Contatti
%p
  In caso di domande o commenti relativi a questa Policy sui Cookie, è possibile inviare un’email all'indirizzo
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  o scrivere al seguente indirizzo:
%p ChefSteps, Inc.
%p Data Privacy Department
%p 1501 Pike Place, Suite 300
%p Seattle, WA 98101, Stati Uniti
