%p CHEFSTEPS POLICY FOR INFORMASJONSKAPSLER (COOKIES)
%p Sist oppdatert 13/10/2017
%p
  Vår
  %a{:href => "https://www.chefsteps.com/privacy"} personvernpolicy
  beskriver hvordan vi samler inn, bruker og videreformidler informasjon og personlige opplysninger om deg når du går inn på eller bruker nettsiden vår, mobilprogrammer og andre produkter
  og tjenester (samlet kalt "tjenestene"), eller når du ellers kommuniserer med oss. Denne cookie-policyen har til formål å informere deg om ulike typer cookies og andre sporingsteknologier som vi bruker, hvorfor vi bruker disse teknologiene og hvilke
  valg du har når det gjelder disse teknologiene.
%h3 Sporingsteknologier som vi bruker
%p
  Cookies er små datafiler som er lagret i nettleseren din, på harddisken din eller enhetens minne, som hjelper oss med å huske informasjon om deg, slik at vi kan forbedre tjenestene våre og tilpasse opplevelsen din. Det finnes forskjellige typer cookies.
%p
  Cookies kan klassifiseres i henhold til hvem som driver domenet der de er å finne. For eksempel, cookies som benyttes av enheten som driver domenet du besøker (for eksempel ChefSteps.com) kalles "førsteparts cookies." Cookies som benyttes av andre firmaer
  kalles "tredjeparts-cookies." Vi tillater at tredjeparter benytter cookies når du bruker tjenestene våre, for å kunne forstå hvordan du anvender disse, og også av andre grunner, som nærmere forklart nedenfor.
%p
  Cookies kan også klassifiseres på bakgrunn av levetiden deres. For eksempel, cookies som kun varer den tiden du har nettleseren åpen, kalles "sesjons-cookies." "Vedvarende cookies" forblir på datamaskinen etter at du lukker nettleseren eller etter at
  du navigerer deg bort fra nettsidene våre. Vedvarende cookies lagres på datamaskinens harddisk frem til en bestemt utløpsdato, som kan være i morgen, neste uke eller ti år frem i tid, med mindre de overskrives av nyere cookies eller fjernes manuelt
  av deg.
%p
  Noen cookies kan være av rent teknisk art og nødvendige for å kunne gi deg visse tjenester. For eksempel husker tekniske cookies hvilke varer du har bestilt, eller de gjør det mulig for deg å dele innhold på sosiale medier. Andre cookies gjør det mulig
  for oss å for eksempel forstå brukeratferd eller tilpasse annonser.
%p
  Web-beacons og pikselkoder er elektroniske bilder som er innebygd i en nettside eller e-post, som kan innhente informasjon om enheten og nettleseren din, for eksempel typen enhet, operativsystem, nettlesertype og versjon, hvilket nettsted som er besøkt,
  tidspunkt, henvisende nettside, IP-adresse og annen lignende informasjon. Disse teknologiene bidrar også med å levere cookies, telle antall nettsidebesøk samt forstå bruk og kampanjeeffekt.
%p Lokal lagring refererer til andre steder i en nettleser eller på en enhet hvor informasjonen kan lagres. Dette inkluderer HTML5 lokal lagring og nettleserbuffer.
%p
  Programvareutviklingssett (også kalt SDK) er kodeblokker fra partnerne våre som er installert i mobilapplikasjonene våre. De fungerer likt som cookies og piksler. Partnere gis mulighet til å samle (og dele med oss) informasjon om hvordan brukere anvender
  våre applikasjoner, i tillegg til visse opplysninger om enheten og nettverket de bruker for å få tilgang til applikasjonene.
%h3 Vår bruk av cookies
%p
  Vi bruker cookies og liknende sporingsteknologier for å samle data, inkludert personopplysninger, for ulike formål, blant annet for å forbedre funksjonaliteten til tjenestene våre. Nedenfor kan du lære om kategoriene av cookies som vi bruker og hovedformålene
  ved hver kategori:
%table{:border => "1", :cellpadding => "10"}
  %tr
    %td{:width => "200"}
      %p Kategori av cookies
    %td
      %p Formål
  %tr
    %td
      %p Teknisk
    %td
      %p
        Disse infomrasjonskapslene er avgjørende for at tjenestene våre skal fungere ordentlig. Uten disse informasjonskapslene vil visse funksjoner ved tjenestene våre ikke fungere, slik som at varer du legger i handlekurven huskes i ettertid. Tekniske
        cookies kan være enten førsteparts eller tredjeparts cookies.
  %tr
    %td
      %p Preferanser
    %td
      %p Disse informasjonskapslene husker innstillingene og preferansene dine, slik at vi kan gi deg en mer personlig opplevelse. Preferanse-cookies er førsteparts cookies.
  %tr
    %td
      %p Sikkerhet
    %td
      %p Disse informasjonskapslene hjelper med å identifisere og forhindre sikkerhetsrisikoer. Sikkerhets-cookies er førsteparts cookies.
  %tr
    %td
      %p Ytelse
    %td
      %p Disse informasjonskapslene samler informasjon om hvordan du anvender tjenestene våre, slik at vi kan fortsette å forbedre opplevelsen din hos oss. Ytelses-cookies kan være enten førsteparts eller tredjeparts cookies.
  %tr
    %td
      %p Analyser
    %td
      %p
        Disse informasjonskapslene hjelper oss med å forstå hvilke funksjoner ved tjenestene våre brukere liker best, slik at vi kan forstå hva som fungerer og hva som ikke fungerer og dermed gi deg mer av det du liker. Analytiske cookies virker ved å telle
        besøk, måle og analysere bruken av tjenestene våre. Analytiske cookies kan være førsteparts eller tredjeparts cookies.
  %tr
    %td
      %p Reklame
    %td
      %p
        Disse informasjonskapslene, inkludert adferdsmessige annonserings-cookies, sporer og lagrer hvordan du forholder deg til annonser og andre tjenester vi tilbyr. Dette for å gjøre annonsene du ser på ChefSteps og andre tjenester mer relevant for deg,
        og for å hjelpe oss og partnerne våre med å spore og rapportere om effekten av reklamekampanjer. Reklame-cookies kan installeres i nettleseren din når du besøker en nettside, åpner en e-post eller melding som inneholder en annonse eller markedsføring.
        Reklame-cookies er vanligvis tredjeparts cookies.
%p
%h3 Tredjeparts cookies og cookies for sosiale medier
%p
  I noen tilfeller vil vi bruke sosiale medieverktøy, som widgets og plugin-moduler, for at du skal kunne dele informasjon fra ChefSteps på andre nettsider, slik som Facebook, Instagram og Twitter. Disse interaktive miniprogrammene henter inn IP-adressen
  din, registrerer sidene du besøker via tjenestene våre og angir cookies som sørger for at widgets-modulene fungerer slik de skal. Din anvendelse av disse widgets-modulene er underlagt personvernreglene til selskapet som formidler dem, ikke av ChefSteps'
  personvernpolicy eller denne cookie-policyen. Vi kan bruke pikselkoder fra tredjeparts plattformer, (for eksempel Facebook, Instagram og Twitter) for å forsøke å forstå hvor effektiv markedsføringen vår er på disse plattformene.
%h3 Dine valg – deaktivere og slette cookies
%p
  De fleste nettlesere og enheter er satt til å automatisk akseptere cookies. Du kan vanligvis velge å deaktivere cookies ved å oppdatere nettleseren eller enhetsinnstillingene, og dermed fjerne eller avvise cookies, dersom ønskelig. For eksempel kan du
  deaktivere cookies ved å følge instruksjonene som gis i nettleseren, som vanligvis finnes i menyen under "hjelp", "preferanser" eller "innstillinger". Dersom du ønsker å slette cookies som allerede finnes på datamaskinen din, gå til hjelp, støtte, logg
  eller verktøy i nettleseren for instruksjoner om hvordan dette gjøres. Du bør vite at dersom du velger å fjerne eller avvise cookies, eller begrense bruken av andre lignende verktøy, så kan dette påvirke tilgangen eller funksjonaliteten til tjenestene
  våre. For å lære mer om cookies, se
  %a{:href => "http://www.aboutcookies.org/"} www.aboutcookies.org
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Noen selskaper som ChefSteps er partnere med kan gi deg mulighet til å velge at informasjon om nettaktiviteten din, med formål om å vise annonser rettet mot dine interesser, ikke brukes. Du kan lære mer om interessebaserte annonser og hvordan du kan unngå
  at nettleserinformasjon brukes for interessebaserte annonseringsformål av visse tredjeparter ved å besøke
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Kontakt oss
%p
  Hvis du har spørsmål eller kommentarer vedrørende denne cookie-policyen, kan du sende oss en e-post på
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  eller skrive til oss på følgende adresse:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, USA
