%h3 POLÍTICA DE COOKIES DE CHEFSTEPS
%p Última actualización 13/10/2017
%p
  Nuestra Política de Privacidad explica cómo recabamos, usamos y divulgamos información y datos personales sobre usted cuando accede o usa nuestro sitio web, aplicaciones móviles y otros productos y servicios (en conjunto los “Servicios”), o cuando usted
  interactúa con nosotros de alguna otra manera. Ponemos a su disposición esta Política de Cookies para hacerle saber más en relación con el tipo de cookies y otras tecnologías de seguimiento que utilizamos, por qué utilizamos estas tecnologías y sus
  opciones en relación con dichas tecnologías.
%h3 Tecnologías de Seguimiento que Usamos
%p
  Las Cookies son pequeños archivos de datos alojados en su buscador, disco duro o memoria de su dispositivo que nos ayudan a recordar cosas sobre usted con el fin de mejorar nuestros Servicios y personalizar su experiencia. Existen diferentes tipos de
  cookies.
%p
  Las Cookies pueden clasificarse de acuerdo con quién opera el dominio desde el cual son establecidas. Por ejemplo, las cookies operadas por la entidad que opera el dominio que usted visita (por ejemplo,
  = succeed ")" do
    %a{:href => "http://ChefSteps.com"} ChefSteps.com
%p
  Las Cookies pueden ser clasificadas también de acuerdo con su vida útil. Por ejemplo, las cookies que perduran únicamente durante el tiempo que dura su sesión de navegación son llamadas “cookies de sesión”. Las “cookies Persistentes” permanecen en su
  computadora después de que cierra su navegador o después de navegar fuera de nuestras páginas web. Las cookies Persistentes se alojan en el disco duro de su computara hasta una fecha específica de expiración, la cual podría ser mañana, la próxima semana,
  o dentro de diez años contados desde ahora, salvo que sean sobre escritas con nuevas cookies o sean manualmente removidas por usted.
%p
  Algunas cookies pueden ser cookies meramente técnicas, mismas que son requeridas para proveerle ciertos servicios. Por ejemplo, las cookies técnicas recuerdan los artículos que usted incluye en una orden o le permiten compartir contenido en redes sociales.
  Otras cookies nos permiten llevar a cabo algunas acciones como comprender el comportamiento del usuario en nuestros Servicios o presentar anuncios personalizados.
%p
  “Web beacons” y “pixel tags” son imágenes electrónicas en una página web o correo electrónico que pueden obtener cierta información relacionada con su dispositivo y buscador, tal como el tipo de dispositivo, el sistema operativo, tipo de buscador y versión,
  sitios web visitados, tiempo de la visita, sitio web referido, dirección IP y otra información similar. Estas tecnologías también ayudan a distribuir cookies, contar visitas y entender el uso y la efectividad de las campañas.
%p El almacenamiento local se refiere a otros lugares de un buscador o dispositivo en donde la información puede ser almacenada, e incluye el almacenamiento local HTML5 y caché de su navegador.
%p
  Los Kits de Desarrollo de Software (también llamados SDKs), son bloques de código proporcionados por nuestros colaboradores que son instalados en nuestras aplicaciones móviles. Estos funcionan como “cookies” y “pixels” permitiendo a nuestros colaboradores
  recabar (y compartir con nosotros) información sobre cómo los usuarios interactúan con nuestras aplicaciones, así como cierta información relacionada con el dispositivo y la red que utilizan para acceder a nuestras aplicaciones.
%h3 Nuestro Uso de Cookies
%p
  Utilizamos cookies y tecnologías de seguimiento similares para recabar datos, incluyendo datos personales, para distintas finalidades, incluyendo para mejorar la funcionalidad de nuestros Servicios. A continuación, usted podrá aprender acerca de las categorías
  de cookies que utilizamos y la finalidad general que tiene cada categoría:
%table{:border => "1", :cellpadding => "10"}
  %tr
    %td{:width => "200"}
      %p Categoría de Cookies
    %td
      %p Finalidad
  %tr
    %td
      %p Técnicas
    %td
      %p
        Estas cookies son esenciales para que nuestros Servicios funcionen correctamente. Sin estas cookies, algunas funciones de nuestros Servicios, tales como recordar los productos de su carrito de compras, no podrían ser provistas. Las cookies técnicas
        pueden ser tanto cookies propias como cookies de terceros.
  %tr
    %td
      %p Preferencias
    %td
      %p Estas cookies recuerdan sus configuraciones y preferencias a efecto de poder darle una experiencia más personalizada. Las cookies de Preferencia son cookies propias.
  %tr
    %td
      %p Seguridad
    %td
      %p Estas cookies ayudan a identificar y prevenir riesgos de seguridad. Las cookies de Seguridad son cookies propias.
  %tr
    %td
      %p Rendimiento
    %td
      %p Estas cookies recaban información acerca de cómo interactúa con nuestros Servicios para poder seguir mejorando su experiencia con nosotros. Las cookies de rendimiento pueden ser tanto cookies propias como de terceros.
  %tr
    %td
      %p Analíticas
    %td
      %p
        Estas cookies nos ayudan a entender qué características de nuestros Servicios prefieren los usuarios para poder comprender qué está funcionando y qué no, y así poder ofrecerle más de lo que le gusta. Las cookies Analíticas funcionan contando las
        visitas y midiendo y analizando el uso de nuestros Servicios. Las cookies Analíticas pueden ser tanto cookies propias como de terceros.
  %tr
    %td
      %p Publicidad
    %td
      %p
        Estas cookies, incluyendo las cookies de publicidad basadas en comportamiento, rastrean y almacenan cómo interactúa con la publicidad que le mostramos y otro contenido que nos ayuda a llevar a cabo acciones, tales como hacer que los anuncios que
        ve en ChefSteps y en otros servicios sean más relevantes para usted y nos ayuden a nosotros y a nuestros colaboradores a dar seguimiento y reportar la eficacia de campañas publicitarias. Las cookies de publicidad pueden ser instaladas en su navegador
        cuando usted visita un sitio web o abre un correo electrónico o mensaje que contenga un anuncio o promoción. Las cookies de publicidad son normalmente cookies de terceros.
%p
%h3 Cookies de Terceros y de Redes Sociales
%p
  Podremos usar herramientas de redes sociales, como “widgets” y “plug-ins”, que le permitan compartir información de ChefSteps en otros sitios como Facebook, Instagram y Twitter. Estos mini programas interactivos, recaban su dirección IP, registran las
  páginas que usted visita en nuestros Servicios y alojan cookies que permiten al “widget” funcionar correctamente. Sus interacciones con estos “widgets” se regulan por la política de privacidad de la compañía que los proporciona, no por el Aviso de Privacidad
  de ChefSteps ni por esta Política de Cookies. Podremos utilizar “pixel tags” de plataformas de terceros (como Facebook, Instagram y Twitter) que nos ayuden a entender qué tan efectiva es nuestra mercadotecnia en dichas plataformas.
%h3 Sus opciones- Deshabilitando y Eliminando Cookies
%p
  La mayoría de los navegadores y dispositivos están configurados para aceptar cookies por defecto. Si lo desea, usted puede, usualmente, deshabilitar cookies siguiendo las instrucciones provistas por su navegador, las cuales generalmente se encuentran
  localizadas dentro de los menús de “Ayuda”, “Preferencias” o “Configuración”. Si usted desea eliminar cualquiera de las cookies que se encuentran en su computadora, por favor consulte al área de ayuda, soporte, historia o herramientas de su Navegador
  para obtener instrucciones sobre cómo hacerlo. Usted debe saber que, si elige remover o bloquear las cookies o limitar el uso de otras tecnologías similares, esto puede afectar su acceso a nuestros Servicios o sus funcionalidades. Para encontrar más
  información acerca de las cookies, por favor diríjase a
  %a{:href => "http://www.aboutcookies/"} www.aboutcookies.org
  o
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Algunas compañías con las cuales colabora ChefSteps pueden permitirle oponerse al uso de información relacionada con su actividad en el navegador con el fin de que no se presenten anuncios dirigidos a sus intereses. Usted puede encontrar más información
  acerca de los anuncios basados en intereses y opciones para oponerse al uso, por ciertos terceros, de su información sobre navegación en la web, con fines de publicidad basada en comportamiento, visitando
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Contáctenos
%p
  Si tiene alguna pregunta o comentario en relación con esta Política de Cookies, nos puede mandar un correo electrónico a
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  o escribirnos a la siguiente dirección:
%p ChefSteps, Inc.
%p Departamento de Privacidad de Datos
%p 1501 Pike Place, Suite 300
%p Seattle, WA 98101, Estados Unidos
