%p CHEFSTEPS COOKIE POLICY
%p Senast uppdaterad 13/10/2017
%p
  Vår Integritetspolicy förklarar hur vi samlar in, använder och utlämnar information och personuppgifter om dig när du besöker eller använder vår hemsida, mobilapplikationer och andra produkter och tjänster (gemensamt benämnda “Tjänsterna”), eller när
  du interagerar med oss på annat sätt. Vi tillhandahåller denna Cookie Policy för att berätta mer om de olika sorters cookies och annan spårningsteknik vi använder, varför vi använder denna teknik och dina val i förhållande till denna teknik.
%h3 Spårningsteknik vi använder
%p Cookies är små datafiler som lagras i din webbläsare, på din hårddisk eller din enhets minne som hjälper oss att minnas saker om dig så att vi kan förbättra Tjänsterna och skräddarsy din upplevelse. Det finns olika sorters cookies.
%p
  Cookies kan klassificeras utifrån vem som driver domänen från vilken de sätts ut. Till exempel kallas cookies som levereras av den organisation som driver domänen du besöker (t.ex. ChefSteps.com) “first-party cookies.” Cookies som levereras av andra företag
  kallas “third-party cookies.” Vi tillåter att tredje part sätter cookies när du besöker Tjänsterna för att förstå hur du interagerar med Tjänsterna och av andra skäl, vilket förklaras ytterligare nedan.
%p
  Cookies kan också klassificeras enligt dess livslängd. Till exempel kallas cookies som endast varar under din surfnings-session för “session cookies.” “Ihärdiga cookies” ligger kvar på din dator efter att du stängt din webbläsare eller efter att du lämnat
  våra sidor. Ihärdiga cookies lagras på din dators hårddisk fram till ett specifikt utgångsdatum, vilket skulle kunna bli imorgon, nästa vecka, eller tio år från nu om de inte skrivs över med nyare cookies eller tas bort manuellt av dig.
%p
  Vissa cookies kan vara strikt tekniska cookies som krävs för att tillhandahålla vissa Tjänster. Exempelvis minns tekniska cookies vilka produkter du inkluderar i en beställning eller tillåter dig att dela innehåll på sociala nätverk. Andra cookies tillåter
  oss att göra saker som förstå användarbeteende i Tjänsterna eller visa skräddarsydda annonser.
%p
  Webbsignaler och pixeltaggar är elektroniska bilder som är inbäddade i en webbsida eller mejl som kan hämta viss information om din enhet och webbläsare, såsom enhetstyp, operativsystem, webbläsartyp och -version, vilken webbsida som besökts, tidpunkt
  för besöket, hänvisande webbsida, IP-adress och annan liknande information. Dessa tekniker hjälper även till att leverera cookies, räkna besök och förstå användande och kampanjeffektivitet.
%p Lokal lagring avser andra platser i en webbläsare eller enhet där information kan lagras och innefattar HTML5 lokal lagring och webbläsarcache.
%p
  Software Development Kits (SDK) (Utrustning för programvaruutveckling) är block av kod som lämnas av våra partners och som är installerade i våra mobilapplikationer. De fungerar som cookies och pixlar, och tillåter våra partners att samla in (och delge
  oss) information om hur användare interagerar med våra applikationer såväl som viss information om enheter och nätverk de använder för att tillgå våra applikationer.
%h3 Vår användning av cookies
%p
  Vi använder cookies och liknande spårningsteknik för att samla in data, inklusive personuppgifter, i flera olika syften, inklusive för att förbättra funktionaliteten i Tjänsterna. Nedan kan du lära dig om de kategorier av cookies som vi använder och det
  generella syftet med varje kategori:
%table{:border => "1", :cellpadding => "10", :summary => "Vi använder cookies och liknande spårningsteknik för att samla in data, inklusive personuppgifter, i flera olika syften, inklusive för att förbättra funktionaliteten i Tjänsterna"}
  %colgroup
    %col
    %col
  %thead
    %tr
      %th{:scope=> 'col', :style => "font-weight: normal; text-align: left;", :width => "200"}
        %p Kategori
      %th{:scope=> 'col', :style => "font-weight: normal; text-align: left;"}
        %p Syfte
  %tr
    %td
      %p Tekniska
    %td
      %p
        Dessa cookies är avgörande för att Tjänsterna ska fungera ordentligt. Utan dessa cookies kan viss funktionalitet i Tjänsterna, såsom att komma ihåg dina produkter i varukorgen, inte erbjudas. Tekniska cookies kan vara antingen first-party cookies
        eller third-party cookies.
  %tr
    %td
      %p Preferenser
    %td
      %p Dessa cookies kommer ihåg dina inställningar och preferenser så att vi kan erbjuda en mer personlig upplevelse. Preferenscookies är first-party cookies.
  %tr
    %td
      %p Säkerhet
    %td
      %p Dessa cookies hjälper till att identifiera och förhindra säkerhetsrisker. Säkerhetscookies är first-party cookies.
  %tr
    %td
      %p Prestanda
    %td
      %p Dessa cookies samlar in information om hur du interagerar med Tjänsterna så att vi kan fortsätta att förbättra din upplevelse. Prestandacookies kan vara antingen first-party cookies eller third-party cookies.
  %tr
    %td
      %p Analytiska
    %td
      %p
        Dessa cookies hjälper oss att förstå vilka funktioner i Tjänsterna användare gillar mest så att vi kan förstå vad som fungerar och inte och så att vi kan ge dig mer av det du älskar. Analytiska cookies fungerar genom att räkna besök och mäta och
        analysera användning av Tjänsterna. Analytiska cookies kan vara antingen first-party cookies eller third-party cookies.
  %tr
    %td
      %p Annonsering
    %td
      %p
        Dessa cookies, inklusive cookies för beteendemässig annonsering, spårar och lagrar hur du interagerar med annonserna vi visar och annat innehåll för att göra de annonser du ser på ChefSteps och på andra Tjänster mer relevanta för dig och hjälpa
        våra partners att spåra och rapportera effektiviteten av reklamkampanjer. Annonseringscookies kan installeras på din webbläsare när du besöker en webbsida eller öppnar ett mejl eller meddelande som innehåller en annons eller reklamkampanj. Annonseringscookies
        är typiskt sett third-party cookies.
%p
%h3 Cookies från tredje part och sociala medier
%p
  Vi kan komma att använda verktyg för sociala medier som t.ex. widgets och plug-ins, så att du kan dela information från ChefSteps på andra sajter som t.ex. Facebook, Instagram och Twitter. Dessa interaktiva mini-program samlar in din IP-adress, registrerar
  de sidor du besöker i Tjänsterna och sätter cookies som möjliggör att en widget fungerar korrekt. Dina interaktioner med dessa widgets styrs av integritetspolicyn hos företaget som tillhandahåller dem, inte av ChefSteps Integritetspolicy eller denna
  Cookie Policy. Vi kan komma att använda pixeltaggar från tredjepartsplattformar (såsom Facebook, Instagram och Twitter) för att hjälpa oss förstå hur effektiv vår marknadsföring är på de plattformarna.
%h3 Dina val — inaktivera och radera cookies
%p
  De flesta webbläsare och enheter är inställda för att godkänna cookies som standard. Om du så önskar kan du vanligtvis välja att inaktivera cookies genom att uppdatera din webbläsares eller enhets inställningar för att ta bort eller avvisa cookies. Exempelvis
  kan du ha möjlighet att inaktivera cookies genom att följa instruktionerna i din webbläsare, vilka oftast återfinns i menyerna “Hjälp,” “Preferenser” eller “Inställningar”. Om du vill radera några cookies som redan finns på din dator, vänligen se hjälpavsnittet,
  supportavsnittet, historiken eller verktygsområdet i din webbläsare för instruktioner. Du bör veta att om du väljer att ta bort eller avvisa cookies, eller minska användandet av andra liknande tekniker, kan detta påverka din tillgång till Tjänsterna
  eller dess funktionalitet för dig. För att lära dig mer om cookies, vänligen se
  %a{:href => "http://www.aboutcookies/"} www.aboutcookies.org
  = succeed "," do
    %a{:href => "http://www.allaboutcookies.org"} www.allaboutcookies.org
%p
  Vissa företag som ChefSteps samarbetar med kan tillåta dig att välja bort användningen av information om din webbläsaraktivitet i syfte att visa annonser som är riktade till dina intressen. Du kan lära dig mer om intressebaserade annonser och välja bort
  att låta information om din webbläsaraktivitet användas av vissa tredje parter i beteendemässigt annonseringssyfte genom att besöka
  = succeed "." do
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices
%h3 Kontakta oss
%p
  Om du har några frågor eller kommentarer angående denna Cookie Policy kan du mejla oss på
  %a{:href => "mailto:privacy@chefsteps.com"} privacy@chefsteps.com
  eller skriva till oss på följande adress:
%p
  ChefSteps, Inc.
  %br>/
  Data Privacy Department
  %br>/
  1501 Pike Place, Suite 300
  %br>/
  Seattle, WA 98101, United States
