<div class="footer-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; max-width: 600px; display: block; background: #383736; margin: 0 auto; padding: 40px;">
  <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;">
    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
      <td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
        <a href="https://www.chefsteps.com/" title="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #b8b6b4; text-decoration: underline; margin: 0; padding: 0;"><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" width="120" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" alt="ChefSteps"
          /></a>
        <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: #b8b6b4; line-height: 1.6; margin: 0; padding: 0;"><strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
          Issues or questions? Just
          <a href="https://support.chefsteps.com/"
             target="_blank"
             alt="ChefSteps support"
             title="ChefSteps support"
             style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #b8b6b4; text-decoration: underline; margin: 0; padding: 0;">
            contact
          </a>
          our full-service support team and they will be happy to help!
        </strong>
        </p>
      </td>
    </tr>
  </table>
</div>