<% errors = @user.errors.to_json.html_safe %>
<% if @user.valid? %>
  window.location = "<%= thank_you_path %>"
<% else %>
  $('.user-form .error p').remove();
  $.each(JSON.parse('<%= errors %>'), function(field, errors) {
    $('.user-form #user_' + field + '_input').append('<p>' + errors[0] + '</p>').addClass('error');
  });
<% end %>

