%div(ng-controller='CommentsController')
  %h3= "#{commentable.comments.count} Comments"
  .comments(ng-repeat='comment in comments')
    .comment
      .comment-user
        %a(href="/profiles/{{comment.user.slug}}")
          %img(ng-src="{{userImageUrl(comment.user.image_id)}}")
      .comment-content
        %a(href="/profiles/{{comment.user.slug}}")
          {{comment.user.name}}
        {{comment.content}}
      .comment-created-at
        %small
          {{comment.created_at|date:'MMM d, yyyy @ h:mma'}}

  .flat-form
    %form(ng-submit="addComment()")
      %textarea.input-block-level(ng-model="newComment.content" placeholder='Write a comment...')
      %input.btn.btn-primary.pull-right(type='submit' value='Add Comment')