%div(ng-controller='CommentsController' ng-cloak)
  %h3
    {{comments_count}} Comments
    %span(ng-show='commentsToggle()')
      %span(ng-switch on='commentLimit')
        %span(ng-switch-when="-6")
          .btn.btn-link(ng-click='showAllComments()')
            Show All
        %span(ng-switch-default)
          .btn.btn-link(ng-click='hideComments()')
            Hide
  .comments(ng-repeat='comment in comments|limitTo:commentLimit')
    .comment
      .comment-user
        %a(href="/profiles/{{comment.user.slug}}")
          %img(ng-src="{{userImageUrl(comment.user.image_id)}}")
      .comment-content
        %a(href="/profiles/{{comment.user.slug}}")
          {{comment.user.name}}
        {{comment.content}}
      .comment-created-at
        %small
          {{comment.created_at|date:'MMM d, yyyy @ h:mma'}}

  .flat-form
    %form(ng-submit="addComment()")
      %textarea.input-block-level(ng-model="newComment.content" placeholder='Write a comment...')
      %input.btn.btn-primary.pull-right(type='submit' value='Add Comment')