
.review-group
  - if current_user && current_user.enrolled?(@assembly)
    .well(ng-click="showReviewInput = true; newComment.rating = 0;" 
          ng-show="! alreadyReviewed()" )
      %a
        Add your own review...
    .flat-form(ng-show="showReviewInput"  ng-animate="'fade'")
      %form(ng-submit="addComment()")
        .rating-group
          Rate this class:
          %rating.rating(value="newComment.rating")
        %textarea.input-block-level(ng-model="newComment.content" placeholder='Write your review...')
        %input.btn.btn-primary(type='submit' value='Add Review' ng-disabled="reviewProblems(newComment) != ''")

  .reviews(ng-repeat="comment in comments|orderBy:['-id']|limitTo:commentLimit")
    .review
      %rating.rating(value="comment.rating" readonly="true")
      %blockquote.review-content
        {{comment.content}}
      .review-user
        \- 
        %a(href="/profiles/{{comment.user.slug}}")
          {{comment.user.name}}
   
  %h4.comments-header(ng-show='comments.length > commentLimit')
    %span(ng-pluralize count='comments_count - commentLimit' when="{'0':'0 more reviews', '1':'1 more review', 'other':'{{comments_count - commentLimit}} more reviews'}")
    %span
      .btn.btn-link(ng-click='showAllComments()')
        Show All
