%center{ :style => 'margin: 5em 1em 1em 5em;' }
  %h3
    Sorry!
    %br
    It looks like something went wrong with your request.
    %br
    Please try again or get in touch with us at <a href="mailto:info@chefsteps.com">info@chefsteps.com</a>.