@import 'mixins';
.row {
  &.padded {
    @media (max-width: $small-width) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.comparisonTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  td {
    text-align: left;
    padding: 8px;
    border: 1px solid $dark-gray;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 15px;

    @media (max-width: $small-width) {
      font-size: 11px;
      line-height: 15px;
      padding: 8px;
    }

    &:nth-child(1){
      text-align: left;
      font-weight: 300;
      color: $dark-gray;
      @media (max-width: $small-width) {
        color: $black;
      }
    }
    .detail {
      font-size: 12px;
      display: block;
      line-height: 12px;
      @media (max-width: $small-width) {
        font-size: 11px;
        color: $dark-gray;
        line-height: 15px;
      }
    }
  }
  tr:nth-child(odd) {
    background: $taupe;
  }
  .win {
    color: $green-bright;
  }
  .lose {
    color: $red;
  }
  .tie {
    color: $dark-gray;
  }
}
.theme-pale-orange {
  background-color: $pale-orange;
}
#featured-in-comparison {
  position: relative;
  @media (min-width: $small-width + 1) {
    height: 290px;
  }
  img {
    @media (max-width: $small-width) {
      position: relative;
      display: block;
      margin: 0 auto 40px auto;
      text-align: center;

    }

    @media (min-width: $small-width + 1) {
      width: 25%;
      position: absolute;

      &#atk {
        top: 16px;
        left: 19%;
      }
      &#nyt {
        top: 154px;
        left: 19%;
      }
      &#cnet {
        top: 0px;
        right: 24%;
        /*@media (max-width: 900px) {*/
          width: 10%;
        /*}*/
      }
      &#bonappetit {
        top: 146px;
        right: 15%;
      }

    }
  }
}
.getJoule {
  background: url(https://d3awvtnmmsvyot.cloudfront.net/api/file/TGHuhIjXQquQB4uMtJdv) no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
}
.buy-joule-cont {
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 15%;
  padding: 42px 0 0;
  right: 15%;
  background: #ff674d;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);

  @media (max-width: $small-width) {
    right: 0;
    max-width: 100%;
  }

  .joule-price {
    background-color: $white;
    padding: 30px 0;
  }
  .buy-joule-title {
    h2 {
      font-size: 30px;
      line-height: 1;
      text-align: center;
      color: white;
    }
  }
}
.joule-cta {
  text-align: center;
  padding: 0 40px;
  h2 {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    vertical-align: text-bottom;
    margin-left: 40px;
    min-width: 150px;
  }
  img {
    @media (max-width: $small-width) {
      max-width: 50%;
    }
  }
}
#explanations {
  img {
    margin-bottom: 20px;
  }
}
