<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->


  
    <meta name="viewport" content="width=device-width">
<!-- IMPORTANT -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>*|SUBJECT|*</title>
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->
  
  <style type="text/css">
@media only screen and (max-width: 600px) {
  .main {
    background: #fff;
  }
  a[class="btn"] {
    margin-bottom: 10px !important; background-image: none !important;
  }
  div[class="column"] {
    width: auto !important; float: none !important;
  }
  table.social div[class="column"] {
    width: auto !important;
  }
}
</style>

<table class="main-content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #edecea; margin: 0; padding: 10px 0;" bgcolor="#edecea"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

			<!-- HEADER -->
			<div class="head-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-style: dashed; border-bottom-color: #edecea; border-bottom-width: 1px; max-width: 600px; display: block; background: #fff; margin: 0 auto; padding: 15px 25px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							<a href="http://chefsteps.com" title="ChefSteps" alt="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;"></a><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"></td>
						<td align="right" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							<h6 class="collapse" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 900; font-size: 12px; text-transform: uppercase; margin: 0; padding: 0;">Preorder Received</h6>
						</td>
					</tr></tbody></table></div>

			<!-- You may like to include a Hero Image -->
			<div class="header-img" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
				<img src="https://gallery.mailchimp.com/9f69331c823fb9ca452fe5184/images/74d75fe5-04d5-4922-bb77-0cb88426d54c.jpg" alt="Joule" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"></div>
			<!-- /Hero Image -->

			<!-- BODY -->
			<div class="body-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; background: #fff; margin: 0 auto; padding: 15px;">
			<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><h4 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 23px; margin: 0 0 15px; padding: 0;">Hi *|NAME|*!</h4>

            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">Thanks for purchasing Joule! We can’t wait for you to get cooking.</p>
            
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">We estimate that your order will ship in 6–8 weeks. When your order does ship you will receive an email with your tracking number.</p>

						<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">If you have questions, comments, or concerns at any point between now and when Joule arrives on your doorstep, check out the <a href="https://support.chefsteps.com/hc/en-us" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">FAQ</a>, or&nbsp;send&nbsp;us an&nbsp;<a href="mailto:ellenk@chefsteps.com?subject=Joule%20Order%20Question" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">email</a>. We'll be happy to help.</p>

						<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">In the meantime, we hope you'll explore the recipes and classes on <a href="http://chefsteps.com" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">chefsteps.com</a>. Thanks so much again, and happy cooking!</p>

						<h5 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Team ChefSteps</h5>
						<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><table class="highlight" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; border-radius: 4px; width: 100%; background: #edecea; margin: 5px 0 15px; padding: 25px 15px;" bgcolor="#edecea"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
									<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">Psst: Are you as stoked about Joule as we are? Help us spread the word on Facebook and Twitter! Use #MeetJoule to find other future Joule owners.
									</p>


									<table class="social-links" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: auto !important; margin: 0 auto; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
												<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: auto !important; margin: 0 auto; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
															<a href="http://www.facebook.com/sharer/sharer.php?u=*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0 10px 0 0; padding: 0;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-facebook-48.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; width: 25px; height: 25px; margin: 0; padding: 0;"></a>
														</td>
														<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
															<a href="http://www.facebook.com/sharer/sharer.php?u=*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0 10px 0 0; padding: 0;">Share</a>
														</td>
													</tr></tbody></table></td>

											<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
												<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: auto !important; margin: 0 auto; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
															<a href="http://twitter.com/intent/tweet?text=*%7CURL:MC_SUBJECT%7C*:%20*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0 10px 0 0; padding: 0;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-twitter-48.png" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; width: 25px; height: 25px; margin: 0; padding: 0;"></a>
														</td>
														<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
															<a href="http://twitter.com/intent/tweet?text=*%7CURL:MC_SUBJECT%7C*:%20*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0 10px 0 0; padding: 0;">Tweet</a>
														</td>
													</tr></tbody></table></td>
										</tr></tbody></table></td>
							</tr></tbody></table><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><hr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 0; border-top-color: rgba(0, 0, 0, 0.15); border-top-style: dashed; border-bottom-color: rgba(255, 255, 255, 0.3); border-bottom-style: dashed; margin: 0 0 30px; padding: 0; border-width: 1px 0;"><h4 class="align-center no-margin" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 23px; text-align: center; margin: 0; padding: 0;" align="center">Be a hero</h4>
						<p class="align-center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; text-align: center; margin: 0 0 20px; padding: 0;" align="center">Preorder Joule for someone you love</p>
						<p style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;" align="center">
							<a class="btn" href="http://chefsteps.com/joule?utm_source=ChefSteps&amp;utm_medium=email&amp;utm_campaign=%20Joule-presales-thankyou#gift" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; text-decoration: none; width: 80%; max-width: 200px; border-radius: 30px; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background: #ff674d; margin: 0; padding: 12px 10%;">Give Joule</a>
						</p>

					</td>
				</tr></tbody></table></div>

			<!-- FOOTER -->
			<div class="footer-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; max-width: 600px; display: block; background: #383736; margin: 0 auto; padding: 40px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tbody><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							<a href="http://chefsteps.com" title="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: rgba(255,255,255,0.5); text-decoration: underline; margin: 0; padding: 0;"><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" alt="{{ shop_name }}"></a>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">Copyright © *|CURRENT_YEAR|* ChefSteps, All rights reserved.</p>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;"><strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Our mailing address is:</strong></p>
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">1501 Pike Place<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Seattle, WA 98101</p>
						</td>
					</tr></tbody></table></div>

		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></tbody></table>

</html>
