// Enter your test template here

%cs-test(image-url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj'")

%div(style="height:200px; width:400px; background: #ccc;")
  %cs-test(image-url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj'")
%hr
%div(style="height:400px; width:200px; background: #ccc;")
  %cs-test(image-url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/tN0FCf7GRwSNcTx0T9L6'")

%hr
%div(style="height:100px; width:200px; background: #ccc;")
  %cs-test(image-url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/tN0FCf7GRwSNcTx0T9L6'")