// Enter your test template here
%div(ng-controller='PlaygroundController')

  %input(ng-model='input' ng-change='search(input)')
  %div(ng-repeat='activity in activities')
    %cs-index-item(title='activity.title' url='activity.url' image='activity.image')