%div(ng-controller='PlaygroundController' ng-cloak ng-init='init()')
  .container
    .row
      .span12
        %h2 Client Examples
        %p The following are example forms for API.
    %hr

    .row
      .span8.well-border
        %h4 Testing a public endpoint
        %p
          %i GET /api/v0/activities
        .btn(ng-click='getActivities()')
          Get Activities
        .alert(ng-if='getActivitiesStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getActivitiesStatus}}

    %hr

    .row
      .span8.well-border
        %h4 Authenticating a user
        %p
          %i POST /api/v0/authenticate
        %p Returns a token if user is authenticated.  Token should be stored by the client to access other API endpoints
        %form(ng-submit='getToken()')
          .control-group
            %input(type='text' ng-model='user.email' placeholder='email')
          .control-group
            %input(type='password' ng-model='user.password' placeholder='password')
          .control-group
            %input.btn(type='submit' value='Get Token')
        .alert(ng-if='getTokenStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getTokenStatus}}
    %hr

    .row
      .span8.well-border
        %h4 Logging out (involves cookies)
        %p
          %i POST /api/v0/logout
        %p Clear the users rememberable cookie using an auth token, I know, I know...
        %form(ng-submit='logout(user.token)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
          .control-group
            %input.btn(type='submit' value='Logout')
        .alert(ng-if='logoutStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{logoutStatus}}


    %hr

    .row
      .span8.well-border
        %h4 Authenticating a user with Facebook
        .btn(ng-click='getTokenFacebook()')
          Log in with Facebook
        .alert(ng-if='getTokenFacebookStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getTokenFacebookStatus}}

    %hr

    .row
      .span8.well-border
        %h4 Validating a token
        %p
          %i example: GET /api/v0/validate?token=TOKEN
        %p Returns validity of a token
        %form(ng-submit='validateToken(user.serviceToken, user.token)')
          .control-group
            %input(type='text' ng-model='user.serviceToken' placeholder='service token')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
          .control-group
            %input.btn(type='submit' value='Validate')
        .alert(ng-if='validateTokenStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{validateTokenStatus}}

    %hr

    .row
      .span8.well-border
        %h4 Get Me
        %p
          %i example: GET /api/v0/users/me
        %p Returns current user for token
        %form(ng-submit='getMe(user.token)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
          .control-group
            %input.btn(type='submit' value='Get Me')
        .alert(ng-if='getMeStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getMeStatus}}

    %hr

    .row
      .span8.well-border
        %h4 User Update
        %p
          %i PUT /api/v0/users/:id
        %form(ng-submit='updateUser()')
          .control-group
            %input(type='text' ng-model='updateUserData.token' placeholder='token')
          .control-group
            %input(type='text' ng-model='updateUserData.id' placeholder='id')
          .control-group
            %input(type='text' ng-model='userToUpdate.name' placeholder='name')
          .control-group
            %input(type='text' ng-model='userToUpdate.email' placeholder='email')
          .control-group
            %input.btn(type='submit' value='Update')
        .alert(ng-if='updateUserStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{updateUserStatus}}

    %hr

    .row
      .span8.well-border
        %h4 Testing a Token to access and endpoint that requires and authenticated user
        %p
          %i example: GET /api/v0/users
        %p Returns a list of users
        %form(ng-submit='testToken(user.token)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
          .control-group
            %input.btn(type='submit' value='Test Token')
        .alert(ng-if='testTokenStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{testTokenStatus}}
    %hr

    .row
      .span8.well-border
        %h4 User Creation
        %p
          %i POST /api/v0/users
        %form(ng-submit='createUser(newUser)')
          .control-group
            %input(type='text' ng-model='newUser.name' placeholder='name')
          .control-group
            %input(type='text' ng-model='newUser.email' placeholder='email')
          .control-group
            %input(type='password' ng-model='newUser.password' placeholder='password')
          .control-group
            %input.btn(type='submit' value='Create')
        .alert(ng-if='createUserStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{createUserStatus}}
    %hr

    .row
      .span8.well-border
        %h4 Reset Password
        %p
          %i POST /api/v0/passwords/reset
        %form(ng-submit='resetPassword(forgetfulUser)')
          .control-group
            %input(type='text' ng-model='forgetfulUser.email' placeholder='email')
          .control-group
            %input.btn(type='submit' value='Reset')
        .alert(ng-if='resetPasswordStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{resetPasswordStatus}}
    %hr

    .row
      .span8.well-border
        %h4 External redirect
        %p
          %i GET /api/v0/auth/external_redirect
        %form(ng-submit='externalRedirect(user.token, user.path)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
            %input(type='text' ng-model='user.path' placeholder='path')
          .control-group
            %input.btn(type='submit' value='Get external redirect')
        .alert(ng-if='externalRedirectStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{externalRedirectStatus}}

            
    %hr
    .row
      .span8.well-border
        %h4 List circulators
        %pc
          %i GET /api/v0/circulators
        %form(ng-submit='getCirculators(user.token)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
          .control-group
            %input.btn(type='submit' value='List circulators')
        .alert(ng-if='getCirculatorsStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getCirculatorsStatus}}
    %hr
    .row
      .span8.well-border
        %h4 Create circulator
        %pc
          %i POST /api/v0/circulators
        %form(ng-submit='createCirculator(user.token, circulator.circulatorId,   circulator.serialNumber, circulator.notes)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
            %input(type='text' ng-model='circulator.circulatorId' placeholder='id')
            %input(type='text' ng-model='circulator.serialNumber' placeholder='serialNumber')
            %input(type='text' ng-model='circulator.notes' placeholder='notes')
          .control-group
            %input.btn(type='submit' value='Create circulator')
        .alert(ng-if='createCirculatorStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{createCirculatorStatus}}
    %hr
    .row
      .span8.well-border
        %h4 Get circulator token
        %pc
          %i GET /api/v0/circulators/{id}/token
        %form(ng-submit='getCirculatorToken(user.token, circulator.circulatorId)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
            %input(type='text' ng-model='circulator.circulatorId' placeholder='id')
          .control-group
            %input.btn(type='submit' value='Get token')
        .alert(ng-if='getCirculatorTokenStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{getCirculatorTokenStatus}}
    %hr
    .row
      .span8.well-border
        %h4 Update circulator
        %pc
          %i PUT /api/v0/circulators
        %form(ng-submit='updateCirculator(user.token, circulator.circulatorId, circulator.name)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
            %input(type='text' ng-model='circulator.circulatorId' placeholder='id')
            %input(type='text' ng-model='circulator.name' placeholder='name')
          .control-group
            %input.btn(type='submit' value='Update circulator')
        .alert(ng-if='updateCirculatorStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{updateCirculatorStatus}}

    %hr
    .row
      .span8.well-border
        %h4 Delete circulator
        %pc
          %i DELETE /api/v0/circulators
        %form(ng-submit='deleteCirculator(user.token, circulator.id)')
          .control-group
            %input(type='text' ng-model='user.token' placeholder='token')
            %input(type='text' ng-model='circulator.id' placeholder='circulator id')
          .control-group
            %input.btn(type='submit' value='Delete circulator')
        .alert(ng-if='deleteCirculatorStatus')
          .btn(ng-click='clear()')
            clear
          %div
            {{deleteCirculatorStatus}}
