%div(ng-controller='PlaygroundController')
  .container
    .row
      %h3 Get Activities
      .alert(ng-if='getActivitiesStatus')
        {{getActivitiesStatus}}
        .btn(ng-click='clear()')
          clear
      .btn(ng-click='getActivities()')
        Get Acitivites
      %hr
        
    .row
      %h3 Get Token
      %form(ng-submit='getToken()' ng-cloak)
        .alert(ng-if='getTokenStatus')
          {{getTokenStatus}}
          .btn(ng-click='clear()')
            clear
        .control-group
          %input(type='text' ng-model='user.email' placeholder='email')
        .control-group
          %input(type='password' ng-model='user.password' placeholder='password')
        .control-group
          %input.btn(type='submit' value='Get Token')
      %hr

    .row
      %h3 Test Token
      %form(ng-submit='testToken(user.token)' ng-cloak)
        .alert(ng-if='testTokenStatus')
          {{testTokenStatus}}
          .btn(ng-click='clear()')
            clear
        .control-group
          %input(type='text' ng-model='user.token' placeholder='token')
        .control-group
          %input.btn(type='submit' value='Test Token')
      %hr

    .row
      %h3 User Creation
      %form(ng-submit='createUser(newUser)' ng-cloak)
        .alert(ng-if='createUserStatus')
          {{createUserStatus}}
          .btn(ng-click='clear()')
            clear
        .control-group
          %input(type='text' ng-model='newUser.name' placeholder='name')
        .control-group
          %input(type='text' ng-model='newUser.email' placeholder='email')
        .control-group
          %input(type='password' ng-model='newUser.password' placeholder='password')
        .control-group
          %input.btn(type='submit' value='Create')
      %hr

    .row
      %h3 Reset Password
      %form(ng-submit='resetPassword(forgetfulUser)' ng-cloak)
        .alert(ng-if='resetPasswordStatus')
          {{resetPasswordStatus}}
          .btn(ng-click='clear()')
            clear
        .control-group
          %input(type='text' ng-model='forgetfulUser.email' placeholder='email')
        .control-group
          %input.btn(type='submit' value='Reset')
      %hr