// Enter your test template here

%h3 400px wide with a 16:9 aspect ratio
%cs-image(url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj'" width="400" aspect="16:9")

%h3 400px wide with a 4:3 aspect ratio
%cs-image(url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj'" width="400" aspect="4:3")

%h3 400px wide and 100px high
%cs-image(url="'https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj'" width="400" height="100")