// Enter your test template here

%div(style="height:200px; width:100px; background: #ccc;")
  %cs-test(image-src="https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj" height="parent" width="parent")

%cs-test(image-src="https://d3awvtnmmsvyot.cloudfront.net/api/file/REHPnf8WQZWhQzj4rCQj" height="parent" width="parent")