#warranty
  %h4 GARANTIE LIMITEE – Belgique
  %p Version: 20171109
  %p Dernière mise à jour: 9/11/2017
  %p
    Cette Garantie Limitée est fournie par ChefSteps, Inc., situé à 
    %a{:href => "x-apple-data-detectors://0"}> 1501 Pike Place, #300, Seattle, Washington, 98101
    \. La présente Garantie Limitée incorpore par référence nos Conditions Générales d'Utilisation et
    de Vente ("Conditions").
  %p
    %strong> Ce qui est couvert
    \. ChefSteps garantit le Joule Circulator et le Joule Big Clamp (le « Produit ») contre les défauts de matériaux et de fabrication dans les conditions normales d'utilisation par le consommateur pendant deux ans à compter
    de la date de livraison. Cette Garantie Limitée s'applique uniquement au premier consommateur propriétaire. Si vous êtes le premier propriétaire du Produit et qu'un défaut survient au Produit au cours de cette période de garantie, nous (i) le réparons
    en utilisant des pièces neuves ou reconditionnées ou (ii) le remplaçons par un Produit neuf ou reconditionné. Après une notification valide d'une éventuelle demande en garantie dans un délai de deux mois à compter de sa découverte, vous nous permettrez
    d'analyser le Produit et de proposer la solution la plus adéquate. Ce n'est que si une réparation ou un remplacement est impossible que nous proposerons une réduction de prix ou que nous reprendrons les Produits concernés, auquel cas le prix de ces
    Produits sera remboursé, selon le cas.
  %p
    Cette Garantie Limitée s'applique à toute pièce de réparation, pièce de remplacement ou à tout remplacement du Produit pour le reste de la période de garantie initiale de deux ans ou pour quatre-vingt-dix jours, selon la plus longue des deux. Toutes les
    pièces ou les Produits que nous remplaçons deviendront notre propriété et vous posséderez les pièces ou les Produits remplacés.
  %p
    %strong> Ce qui n'est pas couvert
    \. Cette Garantie Limitée ne couvre pas les dommages causés par l'usure normale, les surtensions, les accidents, les mauvaises utilisations (y compris le non-respect de la documentation du Produit et le branchement
    du Produit dans le mauvais type de port), la négligence, le démontage, les altérations, conditions thermiques ou environnementales, ou utilisation commerciale. Cette Garantie Limitée s'applique uniquement aux Produits utilisés en Belgique. L'utilisation
    du Produit en dehors de la Belgique rend l’application de la garantie impossible.
  %p Cette Garantie Limitée ne s'applique pas à un logiciel ou à une application, même si elle est emballée ou vendue avec le Produit ou nécessaire à l'utilisation du Produit, à moins que ce logiciel ou cette application ne fasse partie du Produit physique.
  %p
    Veuillez vous référer au Contrat de Licence d'Utilisateur Final accompagnant le logiciel ou l'application pour obtenir des détails quant à vos droits en ce qui concerne son utilisation. ChefSteps ne garantit pas que le logiciel ou l'application qui contrôle
    le Produit sera ininterrompu(e) ou sans erreur.
  %p
    Aucun employé ou représentant de ChefSteps ou de tiers n'est autorisé à modifier, étendre ou ajouter quoi que ce soit à cette Garantie Limitée. Si une disposition de cette Garantie Limitée est considérée comme illégale ou inapplicable, les autres dispositions
    resteront pleinement en vigueur.
  %p
    %strong> Comment obtenir un service de garantie
    \. Veuillez nous contacter par e-mail en vous adressant à
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    pour obtenir des instructions sur l'obtention du service de garantie. Vous devez fournir votre nom, vos coordonnées et le
    numéro de série de votre Produit. Dans certaines situations, vous pouvez également être tenus de fournir une preuve d'achat ou une autre preuve de la date d'achat.
  %p
    Si ChefSteps décide que votre Produit est admissible au remplacement ou à la réparation, nous pouvons vous envoyer des bordereaux d'expédition prépayés et, le cas échéant, du matériel d'emballage afin que vous puissiez expédier le Produit conformément
    à nos instructions d'expédition. Nous vous retournerons le Produit réparé ou de remplacement. À condition que le Produit soit admissible à un recours en vertu de cette Garantie Limitée, ChefSteps paiera pour l'expédition à destination et en provenance
    de votre emplacement si toutes les instructions sont suivies. Vous êtes responsables de tous les frais d'expédition si le Produit n'est pas admissible à un recours en garantie.
  %p
    ChefSteps peut exiger une autorisation de carte de crédit en garantie des frais d'expédition ou du prix de détail du Produit de remplacement. Si votre Produit n'est pas admissible au service de garantie ou si vous ne renvoyez pas le Produit pour lequel
    nous vous expédions un produit de remplacement, nous pouvons vous facturer les frais d'expédition complets ou le coût de détail du Produit de remplacement.
  %p
    %strong> Remède exclusif
    \. Cette Garantie Limitée est la seule garantie expresse que ChefSteps fournit pour le Produit, et le remède ci-dessus est votre seul recours. ChefSteps décline toutes les autres garanties et conditions sauf dans la mesure
    où les garanties implicites de qualité marchande, d'adéquation à un usage particulier et de non-contrefaçon sont limitées à la durée de deux ans de la garantie expresse.
  %p
    %strong> Autres limitations de dommages
    \. Vous comprenez et acceptez que, dans toute la mesure permise par la loi applicable:
  %p
    Sauf en cas de négligence grave, ChefSteps (y compris les filiales et sociétés affiliées) ne sera responsable envers vous en vertu d'aucune théorie de la responsabilité - contractuelle, quasi-délictuelle (y compris la négligence) ou autre - pour tout
    dommage indirect, consécutif ou exemplaire que vous pourriez subir en rapport avec le Produit;
  %p
    Cette limitation s'applique même si ChefSteps ou ses représentants auraient eu connaissance de la possibilité que de telles pertes se produisent mais ne s'appliquera pas à la responsabilité découlant de la mauvaise foi. La responsabilité totale de ChefSteps
    en rapport avec le Produit ou cette Garantie Limitée n'excèdera pas le prix d'achat du Produit.
  %p
    %strong> Règlement des différends
    \. Nous ferons de notre mieux pour résoudre votre demande en garantie à votre entière satisfaction.
  %p
    En tant que consommateur résidant en Belgique, vous pouvez intenter une action en justice au titre de cette Garantie Limitée en suivant la procédure d'arbitrage décrite ci-dessus ou par l'intermédiaire du Consumentenombudsdienst / Service de médiation
    pour le consommateur (le ‘Service de Médiation’). Le Service de Médiation traitera la demande par lui-même en toute discrétion, ou transmettra la demande à un service plus spécialisé, le cas échéant. Vous pouvez contacter le Service de Médiation en
    utilisant les coordonnées suivantes:
  %p SERVICE DE MEDIATION POUR LE CONSOMMATEUR
  %p North Gate II
  %p Boulevard du Roi Albert II 8 Bte 1
  %p 1000 Bruxelles
  %p Tel : 02 702 52 00
  %p Fax : 02 808 71 20
  %p E-mail : contact@consumentenombudsdienst.be / contact@mediationconsommateur.be
  %p Site Web: www.consumentenombudsdienst.be/nl / http://www.mediationconsommateur.be/fr
  %p
    Sur les sites mentionnés ci-dessus, vous trouverez toutes les informations pertinentes concernant le Service de Médiation et le fonctionnement de la procédure extrajudiciaire de règlement des litiges. La Commission européenne met également à la disposition
    des consommateurs de l'UE une plateforme de règlement des litiges en ligne, accessible à l'adresse suivante:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/odr"} http://ec.europa.eu/odr
