#warranty
  %span.head4_text BEPERKTE GARANTIE – BELGIË
  %p Versie: 20180717
  %p Laatste herziening: 17/7/2018
  %p Deze Beperkte Garantie is afgegeven door ChefSteps, Inc., gevestigd op het adres 1501 Pike Place, #300, Seattle, Washington, 98101. De Gebruiks- en Verkoopvoorwaarden zijn middels verwijzing in deze Beperkte Garantie opgenomen (“Voorwaarden”)
  %p
    %strong> Wat valt er onder de Beperkte Garantie
    \. Chefsteps biedt garantie voor de ‘Joule Circulator’ (het “Product”) tegen gebreken in het materiaal en vakmanschap bij een normaal gebruik door consumenten voor een periode van twee jaar te rekenen vanaf de datum van levering. Deze Beperkte Garantie is enkel van toepassing op de eerste consument-eigenaar. Wanneer u de eerste consument-eigenaar bent gedurende deze garantieperiode en een gebrek doet zich voor in het Product, zullen wij het  Product vervangen door een nieuw Product. Volgend op een geldende mededeling van u over een mogelijks garantieprobleem binnen de twee maanden vanaf de ontdekking van dit probleem, zal u ons toestaan om het Product te onderzoeken en om de meest efficiënte oplossing voor te stellen. Enkel wanneer een vervanging onmogelijk is zullen we een korting geven op de prijs, in dat geval zal de prijs van het Product worden terugbetaald.
  %p
    Deze Beperkte Garantie is van toepassing op het vervangende Product voor het resterende gedeelte van de initiële garantieperiode of voor twee jaar of voor negentig dagen, afhankelijk welke periode van voorgaande het langste is. Elk Product dat wij vervangen wordt onze eigendom en u wordt de eigenaar van de vervangen Producten.
  %p
    %strong> Wat valt er niet onder de Beperkte Garantie
    \. Deze Beperkte Garantie omvat niet de schade die veroorzaakt is door normale slijtage, stroomongevallen, ongevallen, verkeerd gebruik (inclusief het niet volgen van de gebruiksaanwijzing bij het Product of het aansluiten van het Product op de verkeerde type poort), verwaarlozing, demontage, veranderingen, externe oorzaken zoals extreem thermische of milieu omstandigheden, of commercieel gebruik. Deze Beperkte Garantie is louter van toepassing op Producten die gebruikt worden in Europa. Door de Producten te gebruiken buiten dit gebied wordt de toepassing van deze Beperkte Garantie ongeldig.
  %p
    Deze Beperkte Garantie is niet van toepassing op enige software of applicatie, zelfs wanneer deze is verpakt of verkocht wordt met het Product of wanneer die noodzakelijk is om het Product te laten werken, tenzij dat deze software of applicatie een onderdeel vormt van het fysieke Product.
  %p
    Raadpleeg de Licentieovereenkomst voor Eindgebruiker die gepaard gaat met de software of applicatie voor meer informatie over uw rechten met betrekking tot dat gebruik. ChefSteps garandeert niet dat de software of applicatie die het Product controleert ononderbroken of foutloos zal zijn.  
  %p
    Geen werknemer of vertegenwoordiger van ChefSteps of eender welke partij is bevoegd om iets aan te passen, uit te breiden of toe te voegen aan deze Beperkte Garantie. Wanneer enige bepaling van deze Beperkte Garantie onwettig of onafdwingbaar wordt geacht, blijven de overige bepalingen van deze Beperkte Garantie volledig van kracht en van toepassing.
  %p
    %strong> Hoe kan men de Beperkte Garantie verkrijgen/gebruiken
    \. Neem contact met ons via info@chefsteps.com of met de Erkende Wederverkoper voor  meer uitleg over hoe u deze garantiedienst kan verkrijgen. U dient uw naam, contact informatie en serienummer van het Product door te geven. In bepaalde gevallen zal u ook gevraagd worden om een aankoop bevestiging of ander bewijs van aankoop-datum door te geven.
  %p
    %strong> Exclusieve oplossing
    \. Deze Beperkte Garantie is de enige uitdrukkelijke garantie die Chefsteps aanbiedt voor het Product, en de bovenvermelde oplossing is de enige oplossing. In de mate dat het is toegelaten door de toepasselijke wetgeving, vrijwaart ChefSteps zich voor alle andere garanties en voorwaarden, behalve dat enige inherente garantie of verkoopbaarheid, geschiktheid voor een bepaald doel, en niet-inbreuk vallen beperkt is qua duur tot de twee jarige wettelijke garantietermijn.
  %p
    %strong> Andere beperkingen op Schade
    \. U begrijpt en aanvaard dat, tot de mate waarin dit is toegestaan door toepasselijke wetgeving:
  %p
    Behalve in geval van grove nalatigheid, ChefSteps (inclusief enige dochterondernemingen of filialen) niet aansprakelijk zal zijn voor enige vorm van aansprakelijkheid – door contract, onrechtmatige daad (inclusief nalatigheid) of op een andere wijze – voor indirecte, daaronder begrepen gevolgschade of exemplaire schade die kan veroorzaakt worden met betrekking tot het Product. 
  %p
    Deze beperking is van toepassing zelfs wanneer ChefSteps of haar vertegenwoordigers op de hoogte moesten zijn van de mogelijkheid dat dergelijke schade zou optreden maar die niet van toepassing is op de aansprakelijkheid die voortvloeit uit de kwade trouw. Chefsteps volledige aansprakelijkheid die in verband staat met het Product of deze Beperkte Garantie zal in ieder geval niet de aankoopprijs van het Product overschrijden. 
  %p
    %strong> Geschillenbeslechtiging
    \. We zullen ons best doen om uw garantie claim op te lossen naar uw verwachtingen. 
  %p
    Als consument met verblijfplaats in België, kan u gerechtelijke procedures in verband met deze Beperkte Garantie oplossen door de arbitrage procedure op te starten zoals hierboven omschreven of door de Consumentenombudsdienst/Service de Médiation pour le Consommateur (de “Consumentenombudsdienst”). De Consumentenombudsdienst zal de vraag zelf behandelen dan wel de vraag doorsturen naar een meer gespecialiseerde dienst, indien die er is. U kan de Consumentenombudsdienst bereiken aan de hand van de volgende gegevens:
  %p CONSUMENTENOMBUDSDIENST/ SERVICE DE MEDIATION POUR LE CONSOMMATEUR
  %p North Gate II
  %p Koning Albert II-laan 8 Bus 1 / Boulevard du Roi Albert II 8 Bte 1
  %p 1000 Brussel
  %p Tel : 02 702 52 00
  %p Fax : 02 808 71 20
  %p
    E-mail : contact@consumentenombudsdienst.be /
    %a{:href => "mailto:contact@mediationconsommateur.be"} contact@mediationconsommateur.be
  %p
    Website: www.consumentenombudsdienst.be/nl / http://www.mediationconsommateur.be/fr
  %p
    U kan alle relevante informatie aangaande de Consumentenombudsdienst terugvinden op bovenvermelde websites en meer informatie vinden over hoe een buitengerechtelijke geschillenregeling procedure werkt. De Europese Commissie heeft ook voor de Europese consument de mogelijkheid voorzien om online het geschil op te lossen door de volgende webpagina te raadplegen: http://ec.europa.eu/odr. Consumenten die in België verblijven kunnen genieten van de verplichte bepalingen van de wet van het rechtsgebied waar men woont. Geen enkele bepaling in deze Beperkte Garantie tast uw recht aan als consument woonachtig te België om  te vertrouwen op de verplichte bepalingen van de wet in het rechtsgebied waar u woont.
