#warranty
  %h3 Version: 20171109
  %p Last Updated: 11/9/2017
  %p
    What is Covered. ChefSteps warrants the Joule Circulator and the Joule Big Clamp (the "Product") against defects in materials and workmanship under ordinary consumer use for one year from the date of original retail purchase. This Limited Warranty applies only to the first consumer owner. During this warranty period, if you are the first consumer owner and a defect arises in the Product, and you follow the instructions for returning the Product, we will, at our option, either (i) repair it using new or refurbished parts, or (ii) replace it with a new or refurbished Product. We recognize that many of our customers are buying the Product well before it ships. If your Product ships to you more than 7 days after your purchase date, we will treat the shipment date as the purchase date for purposes of this Limited Warranty.
  %p
    This Limited Warranty applies to any repair, replacement part, or replacement Product for the remainder of the original warranty period or for ninety days, whichever is longer. Any parts or Products that we replace will become our property and you will own the replaced parts or Products.
  %p
    What is Not Covered. This Limited Warranty does not cover damage caused by normal wear and tear, power surges, accidents, misuse (including failure to follow product documentation and plugging the Product into the wrong type of port), neglect, disassembly, alterations, external causes such as extreme thermal or environmental conditions, or commercial use. This limited warranty applies only to Products used in North America. Using the Product outside North America voids the warranty.
  %p
    This Limited Warranty does not apply to any software or application, even if packaged or sold with the Product or necessary to operate the Product. Please refer to the End User License Agreement accompanying the software or application for details of your rights with respect to its use. ChefSteps does not warrant that the software or application that controls the Product will be uninterrupted or error-free.
  %p
    No employee or representative of ChefSteps or any third party is authorized to modify, extend, or add to this Limited Warranty. If any term of this Limited Warranty is held to be illegal or unenforceable, the remaining terms will remain in full force and effect.
  %p
    How to Obtain Warranty Service. Please contact us at
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    for instructions on obtaining warranty service. You must provide your name, contact information, and the serial number of your Product. In certain situations, you may also be required to provide a purchase receipt or other proof of purchase date.
  %p
    If ChefSteps determines that your Product is eligible for replacement or repair, we may send you prepaid waybills and, if applicable, packaging material so that you can ship the Product in accordance with our shipping instructions. We will return either the repaired or replacement Product to you. Provided the Product is eligible for a remedy under this Limited Warranty, ChefSteps will pay for shipping to and from your location if all instructions are followed. You are responsible for all shipping costs if the Product is not eligible for a warranty remedy.
  %p
    ChefSteps may require a credit card authorization as security for shipping costs or the retail price of the replacement Product. If your Product is not eligible for warranty service, or you fail to return a Product for which we ship you a replacement, we may charge you the full shipping costs or retail cost of the replacement Product.
  %p
    Exclusive Remedy. This Limited Warranty is the only express warranty that ChefSteps provides for the Product, and the above remedy is your sole remedy. To the maximum extent permitted by applicable law, ChefSteps disclaims all other warranties and conditions, whether statutory or implied, except that any implied warranties of merchantability, fitness for a particular purpose, and non-infringement are limited in duration to the one-year period of the express warranty.
  %p
    Some states do not allow limitations on how long an implied warranty lasts, so the above limitation may not apply to you.
  %p
    Other Limitations on Damages. You understand and agree that, to the maximum extent permitted by applicable law:
  %p
    ChefSteps (including any subsidiaries and affiliates) will not be liable to you under any theory of liability--whether contract, tort (including negligence and strict liability) or otherwise--for any indirect, special, consequential, incidental, or exemplary damages that you may incur in connection with the Product;
  %p
    This limitation applies even if ChefSteps or its representatives have been advised of or should have known of the possibility that any such losses would occur; and
    ChefSteps’ total liability in connection with the Product or this Limited Warranty will not exceed the purchase price of the Product.
  %p
    Some States do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.
  %p
    This Limited Warranty gives you specific legal rights, and you also may have other rights which vary from State to State.
  %p
    Mandatory Arbitration. We will try our best to resolve your warranty claim to your satisfaction. If we cannot and you wish to litigate any warranty dispute, you must do so in binding arbitration. This means that you waive your right to file a lawsuit in court. The details are below.
  %p
    1. Binding Arbitration. You and ChefSteps agree (a) to waive your and ChefSteps’ respective rights to have any disputes arising from this Limited Warranty resolved in court, and (b) to waive your and ChefSteps’ respective rights to a jury trial. Instead, you and ChefSteps agree to arbitrate such disputes through binding arbitration (which is the referral of a dispute to one or more persons charged with reviewing the dispute and making a final and binding determination to resolve it instead of having the dispute decided by a judge or jury in court).
  %p
    2. No Class Arbitrations, Class Actions, or Representative Actions. You and ChefSteps agree that any dispute arising from this Limited Warranty is personal to you and ChefSteps and that such dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action, or any other type of representative proceeding. You and ChefSteps agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a dispute as a representative of another individual or group of individuals. Further, you and ChefSteps agree that a dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.
  %p
    3. Federal Arbitration Act. You and ChefSteps agree that these warranty terms affect interstate commerce and that the enforceability of this arbitration provision shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the "FAA"), to the maximum extent permitted by applicable law.
  %p
    4. Notice; Informal Dispute Resolution. You and ChefSteps agree that each party will notify the other party in writing of any arbitrable dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the dispute informally. Notice to ChefSteps shall be sent electronically to
    %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
    Your notice must include (a) your name, postal address, telephone number, the email address you use or used for your ChefSteps account and, if different, an email address at which you can be contacted, (b) a description in reasonable detail of the nature or basis of the dispute, and (c) the specific relief that you are seeking. Our notice to you will be sent electronically to the email address you provided at registration and will include (a) our name, postal address, telephone number and an email address at which we can be contacted with respect to the dispute, (b) a description in reasonable detail of the nature or basis of the dispute, and (c) the specific relief that we are seeking. If you and ChefSteps cannot agree how to resolve the dispute within thirty (30) days, then either you or ChefSteps may, as appropriate and in accordance with this arbitration provision, commence an arbitration proceeding.
  %p
    5. Process. You and ChefSteps agree that (a) any arbitration will occur in the county or city where you reside, and (b) arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and Mediation Services ("JAMS"), which are hereby incorporated by reference.
  %p
    6. Authority of Arbitrator. As limited by the FAA, these terms, and the applicable JAMS rules, the arbitrator will have (a) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a dispute, including the determination whether a dispute is arbitrable, and (b) the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by these terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding, or preside over any proceeding involving more than one individual.
  %p
    7. Rules of JAMS. The rules of JAMS and additional information about JAMS are available on the JAMS website. By purchasing the Product subject to this Limited Warranty, you either (a) acknowledge and agree that you have read and understand the rules of JAMS, or (b) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.
  %p
    8. Severability. If any part of this arbitration provision is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms within it will remain valid and enforceable. Further, the waivers set forth in subsection 2 (captioned "No Class Arbitrations, Class Actions, or Representative Actions") are severable from the other provisions of this Limited Warranty and will remain valid and enforceable, except as prohibited by applicable law.
