#warranty
  %h4 BESCHRÄNKTE GEWÄHRLEISTUNG - SWITZERLAND
  %p Version: 20171109
  %p Letzte Aktualisierung: 9/11/2017
  %p Diese Beschränkte Gewährleistung wird von ChefSteps, Inc., mit Sitz in 1501 Pike Place, #300, Seattle, Washington, 98101, gewährt. Diese Beschränkte Gewährleistung nimmt hiermit durch Verweis unsere Nutzungs- und Verkaufsbedingungen ("Bedingungen") auf.
  %p
    %strong> Was umfasst ist
    \. Im Rahmen des gesetzlich Zulässigen beschränkt ChefSteps seine Gewährleistung wie folgt: ChefSteps haftet für die Dauer von zwei Jahren ab dem Zeitpunkt, an dem der ursprüngliche Erwerb im Einzelhandel erfolgt ist, für
    bei ordnungsgemässer Verwendung durch den Verbraucher auftretende Material- oder Herstellungsfehler des Joule Circulators und des Joule Big Clamps (das «Produkt»).
    Diese beschränkte Gewährleistung gilt nur für den ersten Erwerber im Einzelhandel. Diese beschränkte Gewährleistung gilt nicht für Produkte, die von anderen Unternehmen als ChefSteps oder als ein Zugelassenen Händler von ChefSteps ("Zugelassener Händler") erworben worden sind.
    Tritt während dieser Gewährleistungsfrist ein Mangel am Produkt auf, werden wir, sofern
    Sie die Anweisungen für die Produktrücksendung befolgen, das Produkt nach unserer Wahl (a) unter Verwendung neuer oder wiederaufbereiteter Teile reparieren (Nachbesserung), oder (ii) es durch ein neues oder wiederaufbereitetes Produkt ersetzen (Ersatzlieferung).
    Uns ist bewusst, dass viele unserer Kunden das Produkt deutlich vor dem Zeitpunkt seiner Versendung erwerben. Wird Ihr Produkt erst nach Ablauf von 7 Tagen ab dem Zeitpunkt des Kaufs an Sie versendet, werden wir den Versandtermin im Rahmen der beschränkten
    Gewährleistung als Kaufzeitpunkt behandeln.
  %p
    Diese beschränkte Gewährleistung findet auf alle Reparaturen, Ersatzteile oder Ersatzprodukte für die Restlaufzeit der ursprünglichen Gewährleistungsfrist bzw. für die Dauer von 90 Tagen Anwendung, je nachdem, welcher Zeitraum länger ist. Teile oder Produkte,
    die wir ersetzen, gehen in unser Eigentum über. Sie hingegen werden Eigentümer der ersetzten Teile oder Produkte.
  %p
    %strong> Was nicht umfasst ist
    \. Diese beschränkte Gewährleistung gilt nicht für Schäden, die durch normale Abnutzung, Stromstösse, Unfälle, missbräuchliche Verwendung (einschl. Nichtbefolgung der Produktunterlagen und Anschluss des Produkts in
    die falsche Port-Art), Nachlässigkeit, Zerlegen, Veränderungen, externe Ursache wie z.B. extreme Temperatur- oder Umweltbedingungen oder gewerbliche Verwendung verursacht werden. Diese beschränkte Gewährleistung gilt nur für die Verwendung des Produkts
    in der Schweiz. Die Verwendung des Produkts in einem anderen Land als der Schweiz zieht die Nichtigkeit diese Beschränkte Gewährleistung nach sich.
  %p
    Diese beschränkte Gewährleistung gilt selbst dann nicht für Softwares oder Anwendungen, wenn diese zusammen mit dem Produkt verpackt oder verkauft werden oder für den Betrieb des Produkts erforderlich sind. Weitere Informationen zu ihren jeweiligen Nutzungsrechten
    finden Sie im Endbenutzer-Lizenzvertrag, der der Software oder der Anwendung beiliegt. ChefSteps sichert nicht zu, dass die Software oder die Anwendung, die das Produkt steuert, ununterbrochen oder fehlerfrei funktionieren wird.
  %p
    Mitarbeitern oder Vertretern von ChefSteps oder Dritten ist es nicht gestattet, diese beschränkte Gewährleistung zu ändern, zu erweitern oder aufzustocken. Werden Bestimmungen dieser beschränkten Gewährleistung für rechtswidrig oder undurchsetzbar befunden,
    berührt dies nicht die vollumfängliche Wirksamkeit der restlichen Bestimmungen.
  %p
    %strong> Wie man Gewährleistungsleistungen erhält
    \. Bitte kontaktieren Sie uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    wenn Sie wissen möchten, wie Sie Gewährleistungen in Anspruch nehmen können. Sie müssen Ihren Namen, Ihre Kontaktdaten und die Seriennummer
    Ihres Produkts angeben. In bestimmten Situationen kann es zudem vorkommen, dass wir Sie zur Vorlage eines Einkaufsbelegs oder sonstiger Kaufnachweise auffordern.
  %p
    Gelangt ChefSteps zur Einschätzung, dass Ihr Produkt für einen Austausch oder eine Reparatur in Frage kommt, werden wir Ihnen möglicherweise einen vorbezahlten Frachtbrief und ggfs. Verpackungsmaterial zusenden, damit Sie das Produkt im Einklang mit unseren
    Versandanweisungen versenden können. Wir werden Ihnen entweder das reparierte oder das Ersatzprodukt zusenden. Sollte das Produkt für einen Gewährleistungsanspruch im Rahmen dieser beschränkten Gewährleistung in Frage kommen, wir ChefSteps für die Versendung
    an und von Ihrem Standort aufkommen, sofern alle Anweisungen befolgt wurden. Liegt kein Gewährleistungsfall vor, gehen die Versandkosten zu Ihren Lasten.
  %p
    ChefSteps ist berechtigt, eine Kreditkartenauthorisierung als Sicherheit für die Versandkosten oder den Einzelhandelspreis des Ersatzprodukts zu verlangen. Liegt bei Ihrem Produkt kein Gewährleistungsfall vor oder unterlassen Sie es, ein Produkt, für
    das wir Ihnen ein Ersatzprodukt haben zukommen lassen, an uns zurückzusenden, können wir Ihnen die Versandkosten oder die Einzelhandelskosten des Ersatzprodukts in voller Höhe berechnen.
  %p
    %strong> Ausschliesslicher Gewährleistungsanspruch
    \. Diese beschränkte Gewährleistung stellt die einzige, ausdrückliche Gewährleistung dar, die ChefSteps für das Produkt anbietet; der obige Gewährleistungsanspruch ist Ihr einziger Behelf.
    = succeed "." do
      %strong ChefSteps schliesst im Rahmen des gesetzlich Zulässigen alle sonstigen, gesetzlichen oder stillschweigenden Gewährleistungen und Bedingungen aus, wobei stillschweigende Gewährleistungen für Marktgängigkeit, Eignung für einen bestimmten Zweck und die Nichtverletzung von Rechten Dritter zeitlich auf den Zweijahreszeitraum der ausdrücklichen Gewährleistung beschränkt werden
  %p In einigen Ländern sind zeitliche Beschränkungen stillschweigender Gewährleistungen nicht zulässig. In diesen Ländern gilt die obige Beschränkung nicht.
  %p
    %strong> Sonstige Beschränkungen bei Schäden
    \. Sie verstehen und akzeptieren, dass ChefSteps (einschl. seiner Tochter- und Konzerngesellschaften) in dem durch das anwendbare Recht maximal zulässigen Umfang jegliche Haftung vertraglicher, deliktischer
    (einschl. Haftung für Fahrlässigkeit und Kausalhaftung) oder sonstiger Art für mittelbare, besondere, Folge-, beiläufig entstandene oder exemplarische Schäden, die Ihnen in Zusammenhang mit dem Produkt entstehen, ausschliesst; hiervon ausgenommen sind
    vorsätzlich oder grob fahrlässig herbeigeführte Schäden.
  %p
    Diese Beschränkung gilt selbst dann, wenn ChefSteps oder seine Vertreter Kenntnis des möglichen Eintritts solcher Schäden hatten oder hätten haben müssen; und die Gesamthaftung von ChefSteps in Zusammenhang mit dem Produkt oder dieser beschränkten Gewährleistung
    darf den Einkaufspreis des Produkts nicht überschreiten.
  %p In einigen Ländern ist ein Haftungsausschluss oder eine Haftungsbeschränkung für beiläufig entstandene oder Folgeschäden nicht zulässig. In diesen Ländern gilt die obige Beschränkung bzw. der obige Ausschluss nicht.
  %p Diese beschränkte Gewährleistung gewährt Ihnen besondere gesetzliche Rechte. Darüber hinaus können Ihnen je nach Land darüber hinausgehende Rechte zustehen.
  %p
    %strong> Obligatorisches Schiedsverfahren
    \. Wir werden uns nach besten Kräften um eine für Sie akzeptable Regelung Ihres Gewährleistunganspruchs bemühen. Sollte uns dies nicht gelingen und Sie eine gerichtliche Klärung eines streitigen Gewährleistungfalls
    wünschen, müssen Sie den Weg eines verbindlichen Schiedsverfahrens beschreiten. Dies bedeutet, dass Sie auf Ihr Recht, den Fall vor ein ordentliches Gericht zu bringen, verzichten. Nähere Angaben hierzu finden Sie nachstehend.
  %p
    1. Verbindliches Schiedsverfahren. Sie und ChefSteps vereinbaren einen (a) beiderseitigen Verzicht auf das Recht, Streitigkeiten in Zusammenhang mit dieser beschränkten Gewährleistung durch ein ordentliches Gericht klären zu lassen und (a) einen beiderseitigen
    Verzicht auf die Inanspruchnahme eines Schwurgerichtsverfahrens (
    %em> Jury Trial
    ). Stattdessen vereinbaren Sie und ChefSteps, derartige Streitigkeiten durch ein verbindliches Schiedsverfahren (wobei man hierunter die Verweisung einer Streitigkeit
    an eine oder mehrere Personen versteht, die mit der Prüfung des Falls beauftragt wird/werden und die Streitigkeit durch einen rechtskräftigen und verbindlichen Schiedsspruch entscheidet/entscheiden - im Gegensatz zu einer Klärung des Streitfalls durch
    ein ordentliches Gericht oder eine
    = succeed ")" do
      %em Jury
  %p
    2. Kein Gruppenschiedsverfahren, keine Sammel- oder Gruppenklagen. Sie und ChefSteps vereinbaren, dass Streitigkeiten in Zusammenhang mit dieser beschränkten Gewährleistung an Ihre Person und ChefSteps gebunden sind und dass diese Streitigkeiten ausschliesslich
    durch individuelles Schiedsverfahren geklärt werden können und nicht in einem Gruppenschiedsverfahren (
    %em> class arbitration
    ), einer Sammel- (
    %em> class action
    ) oder einer sonstigen Art einer Gruppenklage (
    %em> representative action
    ) anhängig
    gemacht werden dürfen. Sie und ChefSteps vereinbaren, dass keine Gruppenschiedsverfahren oder sonstige Schiedsverfahren stattfinden dürfen, bei denen eine Einzelperson versucht, eine Streitigkeit im Rahmen einer Gruppenklage einer sonstigen Einzelperson
    oder einer Gruppe von Einzelpersonen anhängig zu machen. Des Weiteren vereinbaren Sie und ChefSteps, dass weder in- noch ausserhalb eines Schiedsverfahrens im Namen sonstiger Einzelpersonen oder Gruppen von Einzelpersonen Sammel- oder sonstige Arten
    von Gruppenklagen anhängig gemacht werden dürfen.
  %p
    3. Federal Arbitration Act. Sie und ChefSteps vereinbaren, dass diese Beschränkte Gewährleistung Auswirkungen auf den zwischenstaatlichen Handel haben und dass die Durchsetzbarkeit dieser Schiedsgerichtsklausel sowohl materiell- als auch verfahrensrechtlich
    \- in dem nach anwendbarem Recht maximal zulässigen Umfang - im Einklang mit dem Federal Arbitration Act 9 U.S.C. § 1ff. (der «FAA») geregelt, ausgelegt und durchgesetzt wird.
  %p
    4. Mitteilung; informelles Schlichtungsverfahren. Sie und ChefSteps vereinbaren, dass die Parteien die jeweils andere Partei innerhalb von dreissig (30) Tagen ab dem Zeitpunkt des Entstehens schriftlich über sämtliche schiedsfähigen Streitigkeiten unterrichten
    werden, damit sich die Parteien nach Treu und Glauben bemühen können, zu einer informellen Beilegung des Streitfalls zu gelangen. Die Mitteilung ist ChefSteps elektronisch an die Adresse
    %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
    zuzusenden. Ihre Mitteilung muss folgende
    Angaben enthalten: a) Ihren Namen, Ihre Postanschrift, Telefonnummer, die E-Mail-Adresse, die Sie für Ihr ChefSteps-Konto verwenden oder verwendet haben, und, falls nicht identisch, eine E-Mail-Adresse, unter der Sie erreichbar sind, (b) eine angemessen
    detaillierte Beschreibung der Art oder Grundlage der Streitigkeit, und (c) den konkreten Rechtsbehelf, den Sie in Anspruch nehmen möchten. Unsere Antwort wird Ihnen elektronisch an der E-Mail-Adresse, die Sie uns bei der Registrierung mitgeteilt haben,
    zugehen und folgende Angaben enthalten: a) unseren Namen, unsere Postanschrift, Telefonnummer und eine E-Mail-Adresse, an der wir im Rahmen des Streitfalls erreichbar sind, (b) eine angemessen detaillierte Beschreibung der Art oder Grundlage der Streitigkeit,
    und (c) den konkreten Rechtsbehelf, den wir in Anspruch nehmen möchten. Sollten Sie und ChefSteps sich innerhalb von dreissig (30) Tagen nicht über eine Beilegung des Streitfalls einigen können, können Sie bzw. ChefSteps im Einklang mit dieser Schiedsgerichtsklausel
    ein Schiedsverfahren einleiten.
  %p
    5. Verfahren. Sie und ChefSteps vereinbaren, dass (a) alle Schiedsverfahren in dem Verwaltungsbezirk oder in der Stadt, in der bzw. dem Sie wohnhaft sind, stattfinden werden, und (b) das Schiedsverfahren vertraulich durch einen Einzelschiedsrichter im
    Einklang mit den Regeln des Judicial Arbitration and Mediation Services («JAMS»), die hiermit zum Bestandteil dieser Urkunde gemacht werden, durchgeführt werden.
  %p
    6. Befugnis des Schiedsrichters. Innerhalb der im FAA, diesen diese Beschränkte Gewährleistung und den anwendbaren JAMS-Regeln vorgesehenen Grenzen verfügt der Schiedsrichter (a) über die ausschliessliche Befugnis und Zuständigkeit, sämtliche verfahrens-
    und materiellrechtlichen Entscheidungen in Bezug auf eine Streitigkeit zu treffen, einschliesslich der Entscheidung, ob ein Streitfall schiedsfähig ist, und (b) über die Befugnis, Rechtsbehelfe zu gewähren, die ansonsten durch ein ordentliches Gericht
    zugesprochen werden könnten; der Schiedsrichter ist jedoch nicht zur Durchführung von Sammel- oder Gruppenklagen berechtigt, die hiernach verboten sind. Der Schiedsrichter darf ausschliesslich individuelle Schiedsverfahren durchführen. Die Bündelung
    mehrerer individueller Klagen, die Entscheidung über Sammel- oder Gruppenklagen oder über Verfahren, an denen mehr als nur eine Einzelperson beteiligt ist, ist ihm nicht gestattet.
  %p
    7. JAMS-Regeln. Die JAMS-Regeln und zusätzliche Informationen über JAMS sind auf der JAMS-Website erhältlich. Durch den Kauf des dieser beschränkten Gewährleistung unterliegenden Produkts (a) anerkennen und akzeptieren Sie, dass Sie die JAMS-Regeln gelesen
    haben, oder (b) verzichten Sie auf die Möglichkeit, die JAMS-Regeln zu lesen und verzichten damit auf das Recht zu behaupten, die JAMS-Regeln seien unbillig oder dürften aus einem beliebigen Grund nicht zur Anwendung kommen.
  %p
    8. Salvatorische Klausel. Sollten Teile dieser Schiedsgerichtsklausel für unwirksam oder undurchsetzbar befunden werden, so gilt diese Unwirksamkeit oder Undurchsetzbarkeit nur in dem gesetzlich vorgeschriebenen Umfang. Alle sonstigen darin enthaltenen
    Bestimmungen bleiben wirksam und durchsetzbar. Darüber hinaus können die in Unterabschnitt 2 (mit der Überschrift «Kein Gruppenschiedsverfahren, keine Sammel- oder Gruppenklagen») vorgesehenen Verzichtserklärungen von den sonstigen Bestimmungen dieser
    beschränkten Gewährleistung abgetrennt werden und bleiben, sofern dies nach anwendbarem Recht nicht verboten ist, wirksam und durchsetzbar.
  %p
    Unbeschadet dessen werden die beschränkte Gewährleistung und Ihr Zugang zu und Ihre Verwendung der Produkte im Einklang mit den Schweizer Gesetzen geregelt und ausgelegt. Als Verbraucher mit Wohnsitz in der Schweiz können Sie alle zwingenden Bestimmungen
    der Gesetze der Schweiz in Anspruch nehmen. Der Inhalt dieser beschränkten Gewährleistung einschliesslich der obigen Abschnitte zum obligatorischen Schiedsverfahren hat keine Auswirkungen auf Ihr Recht als Schweizer Verbraucher, sich auf zwingende Bestimmungen
    des Landes, in dem Sie wohnhaft sind, zu berufen.
