#warranty
  %h4 GARANZIA LIMITATA - SWITZERLAND
  %p Versione: 20171013
  %p Ultimo aggiornamento: 13/10/2017
  %p
    Questa Garanzia Limitata è fornita da ChefSteps, Inc., situato in 1501 Pike Place, #300, Seattle, Washington, 98101. Questa Garanzia Limitata incorpora per riferimento le nostre Condizioni di Utilizzo e Vendita ("Conditioni").
    %br/
  %p
    %strong> Che cosa copre
    \. Entro i limiti consentiti dalla legge applicabile, ChefSteps limita la propria garanzia come di seguito indicato: Garantisce il Joule Circulator e il Joule Big Clamp (il «Prodotto») contro difetti dei materiali e di lavorazione,
    in caso di utilizzo ordinario da parte dell’utente, per due anni dalla data dell’acquisto al dettaglio originario. Durante tale periodo di garanzia, qualora nel Prodotto subentri un difetto e l’utente si attenga alle istruzioni per rendere il Prodotto,
    ChefSteps provvederà, a propria discrezione, a (i) riparare lo stesso servendosi di componenti nuovi o ricondizionati oppure (ii) a sostituirlo con un Prodotto nuovo o ricondizionato. ChefSteps e consapevole del fatto che molti dei suoi clienti acquistano
    il Prodotto molto prima che venga spedito. Qualora il Prodotto venga spedito dopo oltre 7 giorni dalla data dell’acquisto, ChefSteps considererà la data di spedizione quale data di acquisto ai fini della Garanzia Limitata.
  %p
    La presente Garanzia Limitata si applica a ogni riparazione, pezzo di ricambio o Prodotto di ricambio per la parte residua del periodo di garanzia originario oppure per novanta giorni, a seconda di quale sia il periodo più lungo. Qualsiasi componente
    o Prodotto che verrà sostituito appartiene a ChefSteps, mentre saranno di proprietà dell’utente i pezzi o i Prodotti sostituiti.
  %p
    %strong> Che cosa non copre
    \. La presente Garanzia Limitata non copre eventuali danni causati dalla normale usura, da sovracorrente momentanea, da incidenti, uso improprio (inclusa l’omessa osservanza della documentazione relativa al prodotto e
    l’inserimento del Prodotto nel tipo di presa errato), negligenza, smontaggio, modifiche, cause esterne quali condizioni termiche o ambientali estreme, o da uso commerciale. La presente Garanzia Limitata si applica solo a Prodotti utilizzati in Svizzera.
    L’uso del Prodotto al di fuori della Svizzera fa decadere questa Garanzia Limitata.
  %p
    La presente Garanzia Limitata non si applica a software o applicazioni anche se confezionati o venduti(e) con il Prodotto o necessari(e) al funzionamento dello stesso. Consultare il Contratto di licenza con l’utente finale relativo al software o all’applicazione
    per i dettagli sui diritti dell’utente in relazione all’utilizzo di detto software o applicazione. ChefSteps non garantisce che il software o l’applicazione che controlla il Prodotto funzioni ininterrottamente o sia privo(a) di difetti.
  %p
    Nessun dipendente o rappresentante di ChefSteps o terzo è autorizzato a modificare, estendere o integrare la presente Garanzia Limitata. Nel caso in cui una qualsiasi condizione della presente Garanzia Limitata sia ritenuta illecita o ineseguibile, le
    rimanenti condizioni restano in vigore e continuano a produrre i loro effetti.
  %p
    %strong> Come ottenere l’assistenza in garanzia
    \. Contattare ChefSteps all’indirizzo info@chefsteps.com per le istruzioni su come ottenere l’assistenza in garanzia. Occorre fornire nome e cognome, informazioni di contatto e il numero di serie del
    proprio Prodotto. In determinate situazioni potrebbe anche essere richiesto di fornire una ricevuta di acquisto o altra prova della data di acquisto.
  %p
    Qualora ChefSteps decida che il Prodotto sia idoneo per la sostituzione o la riparazione, potrà inviare all’utente delle lettere di vettura prepagate e, se del caso, del materiale da imballaggio, affinché questi possa spedire il Prodotto conformemente
    alle istruzioni di spedizione di ChefSteps. ChefSteps renderà all’utente il Prodotto riparato o quello di ricambio. A condizione che il Prodotto sia idoneo per un rimedio ai sensi della presente Garanzia Limitata, ChefSteps pagherà la spedizione al
    e dal luogo di domicilio dell’utente qualora tutte le istruzioni vengano rispettate. Le spese di spedizione sono interamente a carico dell’utente qualora il Prodotto non sia idoneo per un rimedio ai sensi della garanzia.
  %p
    ChefSteps può chiedere un’autorizzazione della carta di credito quale garanzia per le spese di spedizione o per il prezzo al dettaglio del Prodotto di ricambio. Qualora il Prodotto non sia idoneo per l’assistenza in garanzia o qualora non venga reso un
    Prodotto per il quale ne viene inviato uno in sostituzione, ChefSteps potrà addebitare all’utente tutte le spese di spedizione o il costo al dettaglio del Prodotto di ricambio.
  %p
    %strong> Rimedio esclusivo
    \. La presente Garanzia Limitata è l’unica garanzia espressa che ChefSteps fornisce per il Prodotto e il rimedio succitato è il solo che l’utente possa esercitare.
    = succeed "." do
      %strong Entro i limiti massimi consentiti dalla legge applicabile, ChefSteps declina qualsiasi altra garanzia e condizione imposta dalla legge o implicita, a eccezione di eventuali garanzie implicite di commerciabilità, idoneità a un determinato scopo e non violazione che hanno una durata limitata al periodo di due anni della garanzia espressa
  %p Alcuni Stati non consentono limitazioni in merito alla durata di una garanzia implicita, cosicché la suddetta limitazione può non essere applicabile all’utente.
  %p
    %strong> Altre limitazioni sui danni
    \. L’utente comprende e accetta che, entro i limiti massimi consentiti dalla legge:
  %p
    Eccetto in caso di responsabilità derivante da danni causati per dolo o grave negligenza, ChefSteps (inclusa qualunque consociata e affiliata) non risponderà nei confronti dell’utente sulla base di alcuna ipotesi di responsabilità - che sia di carattere
    contrattuale, per illecito (inclusa negligenza e responsabilità oggettiva) o di altro tipo - per alcun danno indiretto, speciale, conseguente, incidentale o esemplare in cui l’utente possa incorrere in relazione al Prodotto.
  %p
    Tale limitazione si applica anche qualora ChefSteps o i suoi rappresentanti sia/siano stata(i) informata(i) o avrebbe/avrebbero dovuto essere al corrente della possibilità che uno qualsiasi di tali danni avrebbe potuto verificarsi; e la responsabilità
    totale di ChefSteps relativamente al Prodotto o alla presente Garanzia Limitata non supererà il prezzo di acquisto del Prodotto.
  %p Alcuni Stati non consentono l’esclusione o la limitazione di danni incidentali o conseguenti, cosicché la suddetta limitazione o esclusione può non essere applicabile all’utente.
  %p La presente Garanzia Limitata offre dei diritti legali specifici all’utente che può anche vantare altri diritti che variano da Stato a Stato.
  %p
    %strong> Arbitrato obbligatorio
    \. ChefSteps farà del proprio meglio per risolvere la richiesta di garanzia dell’utente in modo soddisfacente. In caso contrario e qualora l’utente desideri avviare un contenzioso in merito a qualsiasi controversia
    relativa alla garanzia, occorre ricorrere all’arbitrato vincolante. Ciò significa che l’utente rinuncia al proprio diritto di adire un tribunale ordinario. Di seguito i dettagli.
  %p
    1. Arbitrato vincolante. L’utente e ChefSteps accettano (a) di rinunciare ai propri rispettivi diritti di far risolvere in tribunale qualsiasi controversia derivante dalla presente Garanzia Limitata e (b) di rinunciare ai propri rispettivi diritti a un
    processo con giuria (
    %em> jury trial
    ). Al contrario, l’utente e ChefSteps accettano di arbitrare tali controversie tramite un arbitrato vincolante (con il quale si demanda una controversia a una o più persone incaricate di rivedere la controversia
    e di esprimere una decisione definitiva e vincolante per risolverla invece di far decidere la controversia da un giudice o da una giuria in un tribunale ordinario).
  %p
    2. Divieto di arbitrato di classe,
    %em class action
    o azioni rappresentative. L’utente concorda con ChefSteps che qualsiasi controversia derivante dalla presente Garanzia Limitata riguardi personalmente l’utente e ChefSteps e che tale controversia
    venga risolta esclusivamente tramite arbitrato individuale e non venga proposta come arbitrato di classe,
    %em class action
    o qualsiasi altro tipo di procedimento rappresentativo. L’utente concorda con ChefSteps che non vi saranno arbitrati di classe
    o arbitrati in cui un soggetto cerchi di risolvere una controversia come rappresentante di un altro soggetto o gruppo di soggetti. Inoltre, l’utente concorda con ChefSteps che una controversia non possa essere proposta come
    %em class action
    o come
    un altro tipo di azione rappresentativa, nell’ambito o al di fuori dell’arbitrato, o per conto di qualunque altro soggetto o gruppo di soggetti.
  %p
    3. Federal Arbitration Act. L’utente concorda con ChefSteps che di questa Garanzia Limitata riguardino il commercio interstatale e che l’esecutività di tale disposizione sull’arbitrato sia sostanzialmente e proceduralmente disciplinata dal, interpretata
    ed eseguita in conformità con il Federal Arbitration Act, 9 U.S.C. § 1 e ss. (il «FAA»), entro i limiti massimi consentiti dalla legge applicabile.
  %p
    4. Avviso; risoluzione informale delle controversie. L’utente concorda con ChefSteps che ciascun contraente notifichi all’altro per iscritto qualsiasi controversia arbitrabile entro trenta (30) giorni dalla data in cui la stessa abbia origine, affinché
    i contraenti possano tentare in buona fede di risolvere la controversia in modo informale. La notifica a ChefSteps deve essere inviata elettronicamente all’indirizzo disputes@chefsteps.com. La notifica dell’utente deve includere (a) nome e cognome,
    indirizzo postale, numero di telefono, indirizzo e-mail che si utilizza o che è stato utilizzato per il proprio account ChefSteps e, se diverso, un indirizzo e-mail al quale si possa essere contattati, (b) una descrizione ragionevolmente dettagliata
    della natura o della base della controversia e (c) la riparazione specifica che si richiede. La notifica di ChefSteps all’utente verrà inviata elettronicamente all’indirizzo fornito in fase di registrazione e includerà (a) la ragione sociale di ChefSteps,
    l’indirizzo postale, il numero di telefono e un indirizzo e-mail al quale ChefSteps possa essere contattata relativamente alla controversia, (b) una descrizione ragionevolmente dettagliata della natura o della base della controversia e (c) la riparazione
    specifica richiesta da ChefSteps. Se l’utente non riesce a concordare con ChefSteps la modalità di risoluzione della controversia entro trenta (30) giorni, l’utente o ChefSteps può, se del caso e in conformità con la presente disposizione sull’arbitrato,
    intentare una procedura arbitrale.
  %p
    5. Procedura. L’utente concorda con ChefSteps che (a) qualsiasi procedura arbitrale si terrà nel distretto amministrativo o nella città in cui l’utente è domiciliato e (b) che l’arbitrato verrà condotto in via riservata da un singolo arbitro in conformità
    con le disposizioni dei Judicial Arbitration and Mediation Services («JAMS»), quivi inclusi mediante riferimento.
  %p
    6. Autorità dell’arbitro. Entro i limiti del FAA, di questa Garanzia Limitata e della disposizioni JAMS applicabili, l’arbitro avrà (a) l’autorità e giurisdizione esclusive per assumere tutte le decisioni procedurali e sostanziali relative a una controversia,
    inclusa la decisione in merito al fatto che una controversia sia arbitrabile o meno, e (b) l’autorità di concedere qualsiasi rimedio che sarebbe altrimenti disponibile dinanzi a un tribunale ordinario; tuttavia, l’arbitro non ha la facoltà di condurre
    un arbitrato di classe o un’azione rappresentativa, essendo proibito(a) dalle presenti condizioni. L’arbitro può condurre solo un arbitrato individuale e non può aggregare le domande di più di un soggetto, presiedere ad alcun tipo di azione legale di
    classe o rappresentativa o ad alcuna azione legale che coinvolga più di un soggetto.
  %p
    7. Disposizioni dei JAMS. Le disposizioni dei JAMS e le informazioni supplementari sui JAMS sono disponibili sul relativo sito web. Acquistando il Prodotto soggetto alla presente Garanzia Limitata, (a) l’utente riconosce e accetta di aver letto e compreso
    le disposizioni dei JAMS o (b) rinuncia alla possibilità di leggere le disposizioni dei JAMS e a qualsiasi rivendicazione del fatto che le disposizioni dei JAMS siano inique o non debbano essere applicate per qualsivoglia ragione.
  %p
    8. Clausola liberatoria. Se una qualsiasi parte della presente disposizione sull’arbitrato sia ritenuta nulla o ineseguibile, lo sarà nella misura minima prevista dalla legge e tutte le altre disposizioni ivi contenute rimarranno valide ed eseguibili.
    Inoltre, le rinunce di cui alla sub-sezione 2 (dal titolo «Divieto di arbitrato di classe,
    %em class action
    o azioni rappresentative») sono separabili dalle altre disposizioni della presente Garanzia Limitata e resteranno valide ed eseguibili,
    salvo quanto proibito dalla legge applicabile.
  %p
    Fermo restando quanto precede, la presente Garanzia Limitata e l’accesso ai e l’uso dei Prodotti da parte dell’utente sono disciplinati dal diritto svizzero e interpretati ed eseguiti conformemente allo stesso. In qualità di consumatore domiciliato in
    Svizzera, l’utente beneficerà di qualsiasi disposizione imperativa del diritto della giurisdizione della Svizzera. Nulla nella presente Garanzia Limitata, incluse le sopraccitate sezioni relative all’arbitrato obbligatorio, intaccherà i diritti dell’utente
    in qualità di consumatore svizzero di avvalersi delle disposizioni imperative della giurisdizione in cui è domiciliato.
