#warranty
  %h4 BEGRENZTE GARANTIE - DEUTSCHLAND
  %p Version: 20171109
  %p Zuletzt aktualisiert: 9/11/2017
  %p Diese begrenzte Garantie wird von ChefSteps, Inc., mit Sitz in 1501 Pike Place, #300, Seattle, Washington, 98101, gewährt. Diese Beschränkte Gewährleistung nimmt hiermit durch Verweis unsere Nutzungs- und Verkaufsbedingungen ("Bedingungen") auf.
  %p
    %strong> Was gedeckt ist
    \. ChefSteps gewährleistet, dass der Joule Circulator und der Joule Big Clamp (das "Produkt") bei normaler Nutzung durch den Verbraucher während der beiden ersten Jahre ab dem Tag des ursprünglichen Einzelhandelskaufs frei
    von Material- und Verarbeitungsmängeln sein wird. Diese begrenzte Garantie gilt nur für den ersten Verbrauchereigentümer. Während dieser Garantiefrist werden wir unter der Voraussetzung, dass Sie der erste Verbrauchereigentümer sind und sich ein Mangel
    des Produkts ergibt und Sie den Anweisungen für die Rückgabe des Produkts folgen, entweder (i) das Produkt unter Verwendung neuer oder aufgearbeiteter Teile reparieren oder (ii) es durch ein neues oder aufgearbeitetes Produkt ersetzen. Wir erkennen,
    dass viele unserer Kunden das Produkt längere Zeit vor Versand kaufen. Falls der Versand des Produkts an Sie mehr als 7 Tage nach dem Tag des Kaufs erfolgt, betrachten wir das Versanddatum für die Zwecke dieser begrenzten Garantie als den Tag des Kaufs.
  %p
    Diese begrenzte Garantie gilt für jede Reparatur, jedes Austauschteil oder Austauschprodukt für die verbleibende Dauer der ursprünglichen Garantiefrist oder - falls länger – während eines Zeitraumes von 90 Tagen. Teile oder Produkte, die wir austauschen,
    gehen in unser Eigentum über und Sie werden der Eigentümer der Austauschteile oder Produkte.
  %p
    %strong> Was nicht gedeckt ist
    \. Diese begrenzte Garantie gilt nicht für Schäden, die durch normalen Verschleiß, Stromstöße, Unfälle, Fehlgebrauch (einschließlich der Nichtbeachtung der Produktdokumentation und des Einsteckens des Produkts in die
    falsche Art Port), Vernachlässigung, Disassemblierung, Änderungen, externe Ursachen wie beispielsweise extreme thermische oder Umweltbedingungen oder durch kommerzielle Nutzung verursacht werden. Diese begrenzte Garantie gilt nur für Produkte, die in
    Deutschland verwendet werden. Die Verwendung des Produkts außerhalb von Deutschland führt zum Erlöschen diese begrenzte Garantie.
  %p
    Diese begrenzte Garantie gilt nicht für Software oder Applikationen, auch wenn diese mit dem Produkt verpackt sind oder verkauft werden oder zum Betrieb des Produkts notwendig sind. Bitte entnehmen Sie der Endnutzerlizenzvereinbarung, welche mit der Software
    oder der Applikation kommt, die Einzelheiten Ihrer Rechte in Bezug auf die Nutzung. ChefSteps gewährleistet nicht, dass die Software oder Applikation, welche das Produkt steuert, unterbrechungsfrei oder fehlerfrei ist.
  %p
    Kein Mitarbeiter oder Vertreter von ChefSteps und kein Dritter ist dazu befugt, diese begrenzte Garantie zu ändern, zu erweitern oder etwas hinzuzufügen. Falls eine Bestimmung dieser begrenzten Garantie für rechtswidrig oder undurchsetzbar erklärt wird,
    bleiben die übrigen Bestimmungen vollständig wirksam und in Kraft.
  %p
    %strong> Wie Sie die Garantie in Anspruch nehmen
    \. Bitte setzen Sie sich mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung, um zu erfahren, wie Sie die Garantie in Anspruch nehmen. Sie müssen Ihren Namen, Kontaktinformationen und die Seriennummer
    Ihres Produktes angeben. In bestimmten Situationen kann es auch erforderlich sein, dass Sie einen Kaufbeleg oder sonstigen Nachweis des Datums des Kaufs vorlegen.
  %p
    Falls ChefSteps feststellt, dass Ihr Produkt ausgetauscht oder repariert werden kann, können wir Ihnen vorausbezahlte Frachtbriefe und ggf. Verpackungsmaterial zuschicken, so dass Sie das Produkt unter Beachtung der Versandanweisungen verschicken können.
    Wir werden Ihnen entweder das reparierte Produkt oder ein Austauschprodukt zuschicken. Vorausgesetzt, das Produkt gewährt Ihnen Rechte aufgrund dieser begrenzten Garantie, zahlt ChefSteps für den Transport an und von Ihrem Standort, falls alle Weisungen
    befolgt werden. Sie sind verantwortlich für alle Versandkosten, wenn das Produkt nicht unter die Garantie fällt.
  %p
    ChefSteps kann als Sicherheit für Versandkosten oder den Einzelhandelsverkaufspreis für das Austauschprodukt eine Kreditkartenautorisierung verlangen. Falls für Ihr Produkt kein Garantieanspruch besteht oder Sie ein Produkt, für welches wir einen Austausch
    liefern, nicht zurückgeben, können wir Ihnen die Versandkosten oder die Einzelhandelskosten für das Austauschprodukt in vollem Umfang berechnen.
  %p Diese begrenzte Garantie gewährt Ihnen spezifische Rechte zusätzlich zu Ihren gesetzlichen Gewährleistungsrechten, die unberührt bleiben.
  %p Ungeachtet des Vorstehenden haften wir aufgrund dieser begrenzten Garantie nach Maßgabe der nachstehenden Bestimmungen:
  %p (a) Wir haften in vollem Umfang für Vorsatz und grobe Fahrlässigkeit und für Schäden, die durch Verletzung des Lebens, des Körpers oder der Gesundheit entstehen;
  %p
    (b) im Falle leichter Fahrlässigkeit haften wir nur für die Verletzung einer wesentlichen Vertragsverpflichtung, d.h. einer Verpflichtung, deren Erfüllung
    %strong>
    die Durchführung dieses Vertrages erst möglich macht und auf welche der Vertragspartner
    deshalb regelmäßig vertrauen darf;
  %p (c) wir haften nicht für jeglichen ausbleibenden wirtschaftlichen Erfolg, für entgangenen Gewinn oder mittelbare Schäden ;
  %p (d) wir sind begrenzt auf den typischen und vorhersehbaren Schaden zur Zeit der Annahme dieser begrenzten Garantie;
  %p (e) diese Haftungsbegrenzung gilt entsprechend zugunsten unserer Arbeitnehmer, Vertreter und Erfüllungsgehilfen;
  %p (f) jegliche potenzielle Haftung unsererseits für Garantien und für Ansprüche aufgrund des deutschen Produkthaftungsgesetzes bleibt unberührt.
  %p Nichts in dieser begrenzten Garantie beeinträchtigt irgendwelche gesetzlichen Rechte und Rechtsbehelfe, die Ihnen aufgrund Gesetzes zustehen.
  %p
    Als Verbraucher mit Wohnsitz in dem Europäischen Wirtschaftsraum (“
    %strong> EWR
    ”) können Sie in Bezug auf diese begrenzte Garantie vor den Gerichten des Staates, in dem Sie wohnhaft sind, Verfahren einleiten. Die Europäische Kommission stellt
    EWR-Verbrauchern auch online eine Streitschlichtungsplattform zur Verfügung, die unter der folgenden Adresse verfügbar ist: http://ec.europa.eu/consumers/odr/. Bitte beachten Sie, dass wir nicht dazu verpflichtet sind, uns unter Verwendung der Plattform
    der Europäischen Kommission oder unter Beteiligung eines Verbraucherstreitschlichters an einer alternativen Streitschlichtung zu beteiligen. Wir behalten uns das Recht vor, im Einzelfall der alternativen Streitschlichtung zuzustimmen.
  %p
    Als Verbraucher mit Wohnsitz in dem EWR genießen Sie auch die Vorteile aus zwingenden Bestimmungen des Rechts der Jurisdiktion, innerhalb welcher Sie wohnhaft sind. Nichts in den Bestimmungen dieser begrenzten Garantie beeinträchtigt Ihr Recht als EWR-Verbraucher,
    sich auf die zwingenden Bestimmungen der Jurisdiktion, in welcher Sie wohnhaft sind, zu berufen.
