#warranty
  %h4 BEGRENZTE GARANTIE - DEUTSCHLAND
  %p Version: 20180717
  %p Zuletzt aktualisiert: 17/7/2018
  %p Diese begrenzte Garantie wird von ChefSteps, Inc., mit Sitz in 1501 Pike Place, #300, Seattle, Washington, 98101, gewährt. Diese Beschränkte Garantie nimmt hiermit durch Verweis unsere Nutzungs- und Verkaufsbedingungen ("Bedingungen") auf.
  %p
    %strong> Was gedeckt ist
    \. ChefSteps gewährleistet, dass der Joule Circulator (das "Produkt") bei normaler Nutzung durch den Verbraucher während der beiden ersten Jahre ab dem Tag des ursprünglichen Kaufs im Einzelhandel frei von Material- und Verarbeitungsmängeln ist. Diese begrenzte Garantie gilt nur für den ersten Verbrauchereigentümer. Während dieser Garantiefrist werden wir unter der Voraussetzung, dass Sie der erste Verbrauchereigentümer sind und sich ein Mangel des Produkts ergibt und Sie den Anweisungen für einen Garantiefall folgen, werden wir das Produkt durch ein neues Produkt ersetzen.
  %p
    Diese begrenzte Garantie gilt auch für jedes Austauschprodukt für die verbleibende Dauer der ursprünglichen Garantiefrist oder - falls länger – für einen Zeitraum von 90 Tagen. Produkte, die wir austauschen, gehen in unser Eigentum über und Sie werden der Eigentümer der Austauschprodukte.
  %p
    %strong> Was nicht gedeckt ist
    \. Diese begrenzte Garantie gilt nicht für Schäden, die durch normalen Verschleiß, Stromstöße, Unfälle, Fehlgebrauch (einschließlich der Nichtbeachtung der Produktdokumentation und des Einsteckens des Produkts an einen falschen Anschluss), Vernachlässigung, Demontage, Änderungen, äußere Einflüsse wie beispielsweise extreme thermische oder Umweltbedingungen oder durch kommerzielle Nutzung verursacht werden.  Diese begrenzte Garantie gilt nur für Produkte, die innerhalb der Europäischen Union verwendet werden; die Verwendung des Produkts außerhalb der Europäischen Union sowie in Großbritannien und Irland führt zum Erlöschen der begrenzten Garantie.
  %p
    Diese begrenzte Garantie gilt nicht für Software oder Anwendungen, auch wenn diese mit dem Produkt verpackt sind oder verkauft werden oder zum Betrieb des Produkts notwendig sind. Bitte entnehmen Sie der Endnutzerlizenzvereinbarung, die der Software oder der Anwendung beigefügt ist, die Einzelheiten Ihrer Rechte in Bezug auf die Nutzung. ChefSteps gewährleistet nicht, dass die Software oder Anwendung, welche das Produkt steuert, unterbrechungsfrei oder fehlerfrei ist.
  %p
    Kein Mitarbeiter oder Vertreter von ChefSteps und kein Dritter ist dazu befugt, diese begrenzte Garantie zu ändern, zu erweitern oder dieser etwas hinzuzufügen. Falls eine Bestimmung dieser begrenzten Garantie für rechtswidrig oder undurchsetzbar erklärt wird, berührt dies nicht die Wirksamkeit der übrigen Bestimmungen.
  %p
    %strong> Wie Sie die Garantie in Anspruch nehmen
    \. Bitte setzen Sie sich mit uns unter info@chefsteps.com in Verbindung oder kontaktieren Sie den zertifizierten Wiederverkäufer, um zu erfahren, wie Sie die Garantie in Anspruch nehmen. Sie müssen Ihren Namen, Kontaktinformationen und die Seriennummer Ihres Produktes angeben. In bestimmten Situationen kann es auch erforderlich sein, dass Sie einen Kaufbeleg oder sonstigen Nachweis des Kaufdatums vorlegen.
  %p Diese begrenzte Garantie gewährt Ihnen spezifische Rechte zusätzlich zu Ihren gesetzlichen Gewährleistungsrechten, die unberührt bleiben.
  %p Ungeachtet des Vorstehenden haften wir aufgrund dieser begrenzten Garantie nach Maßgabe der nachstehenden Bestimmungen:
  %p (a) Wir haften in vollem Umfang für Vorsatz und grobe Fahrlässigkeit und für Schäden, die durch Verletzung des Lebens, des Körpers oder der Gesundheit entstehen;
  %p
    (b) im Falle leichter Fahrlässigkeit haften wir nur für die Verletzung einer wesentlichen Vertragspflicht, d.h. einer Verpflichtung, deren Erfüllung die ordnungsgemäße Durchführung dieses Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der Vertragspartner deshalb regelmäßig vertraut und vertrauen darf;
  %p (c) wir haften nicht für mangelnden wirtschaftlichen Erfolg, entgangenen Gewinn oder mittelbare Schäden ;
  %p (d) unsere Haftung ist begrenzt auf den typischen und vorhersehbaren Schaden zum Zeitpunkt des Abschlusses dieser begrenzten Garantie; 
  %p (e) diese Haftungsbegrenzung gilt entsprechend zugunsten unserer Arbeitnehmer, Vertreter und Erfüllungsgehilfen; und
  %p (f) jegliche potenzielle Haftung unsererseits für Garantien und für Ansprüche aufgrund des deutschen Produkthaftungsgesetzes bleibt unberührt.
  %p Nichts in dieser begrenzten Garantie beeinträchtigt irgendwelche gesetzlichen Rechte und Rechtsbehelfe, die Ihnen zustehen.
  %p
    Als Verbraucher mit Wohnsitz in der Europäischen Union können Sie in Bezug auf diese begrenzte Garantie vor den Gerichten des Staates, in dem Sie Ihren Wohnsitz haben, Verfahren einleiten. Die Europäische Kommission stellt Verbrauchern mit Wohnsitz in der Europäischen Union auch eine Online-Streitbeilegungsplattform zur Verfügung, die unter der folgenden Adresse verfügbar ist: http://ec.europa.eu/consumers/odr/. Bitte beachten Sie, dass wir nicht dazu verpflichtet sind, uns unter Verwendung der Online-Streitbeilegungsplattform der Europäischen Kommission oder unter Beteiligung eines Verbraucherstreitschlichters an einer alternativen Streitschlichtung zu beteiligen. Wir behalten uns das Recht vor, im Einzelfall der alternativen Streitschlichtung zuzustimmen.
  %p
    Als Verbraucher mit Wohnsitz in der Europäischen Union genießen Sie auch die Vorteile aus zwingenden Bestimmungen des Rechts des Landes, in dem Sie wohnhaft sind. Nichts in den Bestimmungen dieser begrenzten Garantie beeinträchtigt Ihr Recht als GeVerbraucher der Europäischen Union, sich auf die zwingenden Bestimmungen des Landes zu berufen, in welchem Sie wohnhaft sind.
