#warranty
  %h4 BEGRÆNSET GARANTI - DANMARK
  %p Version: 20171013
  %p Senest opdateret: 13/10/2017
  %p Denne Begrænsede Garanti er afgivet af ChefSteps, Inc. der har hjemsted 1501 Pike Place, #300, Seattle, Washington, 98101. Ved denne Begrænsede Garanti vedtages ved henvisning vores Vilkår for Anvendelse og Salg (”Vilkår”).
  %p
    %strong> Hvad er dækket
    \. ChefSteps garanterer, at Joule Circulator og Joule Big Clamp (”Produktet”) ikke er fejlbehæftede, hvad angår materialer og udførelse til en forbrugers sædvanlige benyttelse i to år fra datoen for det oprindelige detailkøb.
    Den Begrænsede Garanti gælder kun for den første forbruger, der ejer produktet. I løbet af denne garantiperiode, og hvis du er første forbruger, der ejer produktet, og en fejl opstår i Produktet, og du følger instrukserne om returnering af Produktet,
    vil vi efter eget valg, enten (i) reparere det med nye eller istandsatte dele, eller (ii) ombytte det med et nyt eller istandsat Produkt. Vi anerkender, at mange af vores kunder køber Produktet i god tid, inden det afsendes. Hvis dit Produkt afsendes
    til dig mere end syv dage efter din købsdato, behandler vi datoen, hvor du modtager Produktet, som købsdatoen for så vidt angår den Begrænsede Garanti.
  %p
    Den Begrænsede Garanti gælder for eventuelle reparationer, erstatningsdele, eller erstatningsprodukt i resten af det længste tidsrum af den oprindelige garantiperiode eller i 90 dage. Dele eller Produkter, som vi ombytter, bliver vores ejendom, og du
    kommer til at eje de ombyttede dele eller Produkter.
  %p
    %strong> Hvad er ikke dækket
    \. Den Begrænsede Garanti dækker ikke skade forårsaget af normal slitage, spændingsvariationer, ulykker, forkert anvendelse (herunder manglende overholdelse af produktdokumentation og isætning af Produktet i den forkerte
    type port), forsømmelse, adskillelse, ændringer, eksterne årsager såsom ekstreme termiske eller miljømæssige forhold, eller kommerciel brug. Den Begrænsede Garanti gælder kun for Produkter, der anvendes i Danmark. Brug af Produktet uden for Danmark
    ophæver denne Begrænsede Garanti.
  %p
    Den Begrænsede Garanti gælder ikke for software eller applikationer, selv hvis de er pakket eller solgt med Produktet eller nødvendige for at Produktet kan virke. Der henvises til Slutbrugerlicensaftalen, der følger med software eller applikationen, for
    yderligere detaljer om dine rettigheder hvad angår brugen. ChefSteps garanterer ikke, at softwaren eller applikationen, der styrer Produktet, undgår afbrydelser eller er fejlfri.
  %p
    Ingen medarbejder hos eller repræsentant for ChefSteps eller en tredjepart er berettiget til at ændre, udvide eller føje til den Begrænsede Garanti. Hvis et vilkår i den Begrænsede Garanti kendes ulovligt eller uden retskraft, forbliver de resterende
    vilkår med fuld gyldighed.
  %p
    %strong> Sådan opnår du garantiservice
    \. Du bedes kontakte os på info@chefsteps.com for at få instrukser om opnåelse af garantiservice. Du skal oplyse dit navn, kontaktoplysninger og serienummeret på dit Produkt. I nogle situationer bliver du også
    anmodet om at fremvise en købskvittering eller andet bevis for købsdatoen.
  %p
    Hvis ChefSteps bestemmer, at dit Produkt er berettiget til ombytning eller reparation, kan vi sende dig forudbetalte fragtbreve, og om nødvendigt, pakkemateriale, så du kan sende Produktet i overensstemmelse med vores forsendelsesinstrukser. Vi returnerer
    enten det reparerede eller ombyttede
    = succeed "." do
      %strong Produkt til dig
  %p
    ChefSteps kan anmode om kreditkort autorisation som sikkerhed for forsendelsesudgifter eller detailprisen på ombytningsproduktet. Hvis dit Produkt ikke er berettiget til garantiservice, eller hvis du ikke returnerer Produktet, som vi sender dig en ombytning
    af, kan vi opkræve de samlede forsendelsesudgifter eller detailprisen for ombytningsproduktet hos dig.
  %p
    %strong> Eneste beføjelser
    \. Den Begrænsede Garanti er den eneste udtrykkelige garanti, som ChefSteps giver for Produktet, og de ovenfor nævnte beføjelser er dine eneste beføjelser. I det af loven videst muligt tilladte omfang fraskriver ChefSteps
    sig alle andre garantier og betingelser, det være sig lovfæstede eller stiltiende, undtaget at en stiltiende garanti for salgbarhed, egnethed til et bestemt formål og ikke-krænkelse i varighed begrænses til en periode på et år af den udtrykkelige garanti.
  %p Nogle stater tillader ikke begrænsninger for, hvor længe en stiltiende garanti varer, så ovenstående begrænsning gælder måske ikke for dig.
  %p Andre begrænsninger på skadeserstatning. Du forstår og accepterer, at i det videst mulige omfang tilladt af gældende lov:
  %p
    ChefSteps (herunder eventuelle datterselskaber og tilknyttede selskaber) er ikke ansvarlig over for dig i henhold til noget ansvarsbegreb, uanset inden for kontrakt, uden for kontrakt (herunder uagtsomhed og objektivt ansvar) eller i øvrigt, for indirekte
    tab, følge tab, hændelige tab eller pønalt begrundet forhøjet erstatning (”tort”), du måtte pådrage dig i forbindelse med Produktet.
  %p
    Denne begrænsning gælder, selv om ChefSteps eller dennes repræsentanter er blevet meddelt eller burde have kendt til muligheden for, at sådanne tab ville opstå; og ChefSteps’ samlede ansvar i forbindelse med Produktet eller den Begrænsede Garanti kan
    ikke overstige Produktets købspris.
  %p
    Uanset det foranstående vil du, som forbruger bosat i Danmark drage fordel af eventuelle ufravigelige bestemmelser i dansk ret. Intet i denne Begrænsede Garanti påvirker dine rettigheder som forbruger bosat i Danmark til at påberåbe dig ufravigelige bestemmelser
    i dansk lov.
  %p Nogle stater tillader ikke ansvarsfrihed for hændelig skader eller følge skader, så den ovennævnte begrænsning eller undtagelse gælder måske ikke for dig.
  %p Den Begrænsede Garanti giver dig særlige juridiske rettigheder, og du kan også have andre rettigheder, der er forskellige fra stat til stat.
  %p
    %strong> Konfliktløsning
    \. Som forbruger bosat i det europæiske økonomiske samarbejdsområde (”EØS”), kan du anlægge sag, hvad angår denne Begrænsede Garanti ved domstolene i det land du bor i. EU-kommissionen giver også EØS-forbrugere en onlineplatform
    til konfliktløsning, som findes på følgende adresse: http://ec.europa.eu/consumers/odr/. Bemærk, at vi ikke er forpligtet til at deltage i alternativ konfliktløsning ved hjælp af EU-kommissionens platform eller nogen leverandør af konfliktløsninger
    for forbrugere. Vi forbeholder os retten til at samtykke i alternative konfliktløsninger i særskilte sager.
