#warranty
  %span.head4_text GARANTÍA LIMITADA - ESPAÑA
  %p Última actualización: 17/7/2018
  %p Esta Garantía Limitada se proporciona por ChefSteps, Inc., ubicada en 1501 Pike Place #300, Seattle, Washington, 98101. La presente Garantía Limitada incorpora por referencia nuestros Términos de Uso y Venta (“Términos”).
  %p
    %strong ¿Qué está cubierto?
    ChefSteps presta garantía sobre Joule Circulator (el “Producto”) contra defectos en los materiales y de fabricación por el uso ordinario del consumidor durante dos años a partir de la fecha de entrega. Esta Garantía Limitada se aplica únicamente al primer consumidor propietario. Durante este período de garantía, si usted es el primer consumidor propietario y surge un defecto en el Producto, y usted presenta una solicitud bajo la garantía siguiendo las instrucciones al efecto  nosotros (i) lo repararemos utilizando componentes nuevos  o (ii) lo sustituiremos con un Producto nuevo,  salvo que cualquiera de estas opciones sea objetivamente imposible o desproporcionada. 
  %p
    Esta Garantía Limitada se aplica a cualquier  Producto de sustitución durante el plazo que resulte superior entre el período de garantía original remanente o noventa días. Todos los Productos que sustituyamos pasarán a ser de nuestra propiedad y usted será propietario de los Productos reemplazados.
  %p
    Si la reparación o la sustitución no fueran posibles o fueran desproporcionadas, usted tendrá derecho a elegir entre una reducción razonable del precio y la terminación de la relación con ChefSteps. 
  %p
    %strong ¿Qué no está cubierto?
    Esta Garantía Limitada no cubre los daños causados por el desgaste y deterioro normales, sobretensiones, accidentes, uso indebido (incluido el no seguir la documentación del producto y enchufar el Producto en el tipo de puerto equivocado), descuido, desmontaje, alteraciones, causas externas como condiciones térmicas o medioambientales extremas, o el uso comercial. Esta Garantía Limitada se aplica únicamente a los Productos utilizados en Europa. El uso del Producto en cualquier otro lugar anula la Garantía Limitada.
  %p
    Ningún empleado o representante de ChefSteps ni ningún tercero están autorizados a modificar, extender o incrementar esta Garantía Limitada. Si alguna de las estipulaciones de esta Garantía Limitada fuera considerada ilícita o no aplicable, el resto de las estipulaciones permanecerán en pleno vigor y desplegarán todos sus efectos.
  %p
    %strong ¿Cómo obtener el servicio de garantía?
    Comuníquese con nosotros escribiendo a info@chefsteps.com o contacte a su Vendedor Autorizado para obtener indicaciones sobre cómo obtener el servicio de garantía. Deberá facilitar su nombre, información de contacto y el número de serie de su Producto. En determinadas situaciones, también es posible que tenga que facilitar un recibo de compra u otro comprobante de la fecha de compra.
  %p
    %strong> Arbitraje
    \. Con respecto a los usuarios que residan en España, todas las reclamaciones, conflictos o controversias que surjan de o en relación con esta Garantía Limitada serán trasladados y resueltos por el sistema arbitral de consumo previsto en las leyes de consumo, cuando proceda. En ausencia de dicho sistema de arbitraje, cualquier conflicto entre las partes que no esté sujeto a arbitraje se someterá al tribunal correspondiente a su lugar de residencia. Los consumidores residentes en Europa también pueden iniciar acciones legales en relación con esta Garantía Limitada en los tribunales del país en el que usted resida. La Comisión Europea también ofrece a los consumidores de Europa una plataforma en línea para la resolución de conflictos a la que se puede acceder en la siguiente dirección: http://ec.europa.eu/consumers/odr/. Como consumidor residente en España, usted se beneficiará de las disposiciones obligatorias de la ley española. Nada de lo previsto en esta Garantía Limitada afectará a sus derechos como consumidor residente en España a invocar disposiciones obligatorias de la ley del país en la que usted resida.
