#warranty
  %h3 Version: 20180717
  %p Last Updated:  17/7/2018

  %p
    This Limited Warranty is provided by ChefSteps, Inc. (“ChefSteps,” “we,” “us,” or “our”) located at 1501 Pike Place, #300, Seattle, Washington, 98101. This Limited Warranty hereby incorporates by reference our Terms of Use and Sale (“Terms”).
  %p  
    Scope of the limitation warranty. This Limited Warranty is an additional warranty that does not in way affect or limit the statutory rights you may have as a consumer, for example with respect to conformity. This Limited Warranty gives you specific legal rights in addition to your statutory warranty rights, which remain unaffected. As a consumer residing in Europe, you will benefit from any mandatory provisions of the law of the jurisdiction in which you are a resident.  Nothing in this Limited Warranty Terms affects your rights as a consumer to rely on mandatory provisions of the jurisdiction in which you are a resident.
  %p
    What is Covered. ChefSteps warrants the Joule Circulator (the "Product") against defects in materials and workmanship under ordinary consumer use for one year (or the statutory minimum amount of time, whichever is greater) from the date of original retail purchase. This Limited Warranty applies only to the first consumer owner. This Limited Warranty does not apply to Products purchased from any entity other than ChefSteps or a certified ChefSteps reseller (”Certified Reseller”). During this warranty period, if you are the first consumer owner and a defect arises in the Product, and you follow the instructions for a warranty claim, we will replace it with a new or refurbished Product. 
  %p
    This Limited Warranty applies to any replacement Product for the remainder of the original warranty period or for ninety days, whichever is longer. Any Products that we replace will become our property and you will own the replacement Products. 
  %p
    What is Not Covered. This Limited Warranty does not cover damage caused by normal wear and tear, power surges, accidents, misuse (including failure to follow product documentation and plugging the Product into the wrong type of port), neglect, disassembly, alterations, external causes such as extreme thermal or environmental conditions, or commercial use. This Limited Warranty applies only to Products used in Europe; use of the Product elsewhere voids this Limited Warranty. 
  %p
    This Limited Warranty does not apply to any software or application, even if packaged or sold with the Product or necessary to operate the Product. Please refer to the End User License Agreement accompanying the software or application for details of your rights with respect to its use. ChefSteps does not warrant that the software or application that controls the Product will be uninterrupted or error-free. 
  %p  
    No employee or representative of ChefSteps or any third party is authorised to modify, extend, or add to this Limited Warranty. If any term of this Limited Warranty is held to be illegal or unenforceable, the remaining terms will remain in full force and effect. 
  %p  
    How to Obtain Warranty Service. Please contact us at info@chefsteps.com or contact the Certified Reseller for instructions on obtaining warranty service. You must provide your name, contact information, and the serial number of your Product. In certain situations, you may also be required to provide a purchase receipt or other proof of purchase date. 
  %p  
    Exclusive Remedy. This Limited Warranty is the only express warranty that ChefSteps provides for the Product, and the above remedy is your sole remedy. To the maximum extent permitted by applicable law, ChefSteps disclaims all other warranties and conditions, whether statutory or implied, except that any implied warranties of merchantability, fitness for a particular purpose, and non-infringement are limited in duration to the period of the express warranty.
  %p
    Some jurisdictions do not allow limitations on how long an implied warranty lasts, so the above limitation may not apply to you. 
  %p
    Other Limitations on Damages. You understand and agree that, to the maximum extent permitted by applicable law: 
  %p
    ChefSteps (including any subsidiaries and affiliates) will not be liable to you under any theory of liability-whether contract, tort (including negligence and strict liability) or otherwise-for any indirect, special, consequential, incidental, or exemplary damages that you may incur in connection with the Product. 
  %p
    This limitation applies even if ChefSteps or our representatives have been advised of or should have known of the possibility that any such losses would occur. 
  %p
    ChefSteps’ total liability in connection with the Product or this Limited Warranty will not exceed the purchase price of the Product. 
  %p
    Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. 
  %p
    This Limited Warranty gives you specific legal rights, and you also may have other rights which vary from jurisdiction to jurisdiction. 
  %p
    Severability. If any term, clause or provision of this Limited Warranty is held invalid or unenforceable, then that term, clause or provision will be severable from these terms and will not affect the validity or enforceability of any remaining part of that term, clause or provision, or any other term, clause or provision of this Limited Warranty.  
  %p
    Dispute Resolution. As you are a consumer residing in Europe, you can bring legal proceedings in respect of this Limited Warranty in the courts of the country in which you reside. The European Commission also provides European consumers with an online dispute settlement platform accessible at the following address: http://ec.europa.eu/consumers/odr/. 
  %p
    This Limited Warranty and your access to and use of the Products shall be governed by and construed and enforced in accordance with the laws of your local jurisdiction, without regard to conflict of law rules or principles that would cause the application of the laws of any other jurisdiction and with exclusion of the applicability of the United Nations Convention on Contracts for the International Sale of Goods. 
