#warranty
  %h4 RAJOITETTU TAKUU - SUOMI
  %p Versio: 20171013
  %p Viimeksi päivitetty: 13/10/2017
  %p Tämän Rajoitetun takuun on myöntänyt ChefSteps, Inc., joka sijaitsee osoitteessa 1501 Pike Place, #300, Seattle, Washington, 98101. Tämän Rajoitetun takuun osaksi liitetään tällä viittauksella ChefStepsin Käyttö- ja myyntiehdot ("Ehdot").
  %p
    Mitä takuu kattaa. ChefSteps takaa Joule Circulator:in ja Joule Big Clamp:in ("Tuote") materiaali- ja valmistusvirheiden varalta normaalissa kuluttajakäytössä yhdeksi vuodeksi alkuperäisestä jälleenmyyntiostosta. Tämä Rajoitettu takuu soveltuu vain ensimmäiseen
    kuluttajaomistajaan. Tämän takuujakson aikana, jos olet ensimmäinen kuluttajaomistaja ja Tuotteessa ilmenee vika ja seuraat ohjeita Tuotteen palautukseen, me, oman valintamme mukaan, joko (i) korjaamme sen käyttäen uusia tai kunnostettuja osia, tai
    (ii) korvaamme sen uudella tai kunnostetulla Tuotteella. Tiedostamme, että monet asiakkaistamme ostavat Tuotteen kauan ennen kuin se toimitetaan. Jos Tuotteen toimituksessa sinulle kestää enemmän kuin 7 päivää ostopäivästä, me pidämme toimituspäivää
    ostopäivänä tämän Rajoitetun takuun osalta.
  %p
    Tämä Rajoitettu takuu soveltuu mihin vain korjaukseen, osan uusimiseen tai Tuotteen uusimiseen alkuperäisen takuuajan loppuun tai 90 päiväksi, kumpi tahansa kestää pidempään. Osat tai Tuotteet, jotka me korvaamme tulevat meidän omistukseemme ja uusitut
    osat tai Tuotteet tulevat sinun omistukseesi.
  %p
    Mitä takuu ei kata. Tämä Rajoitettu takuu ei kata normaalissa käytössä aiheutunutta vahinkoa, virtapiikin, onnettomuuden, väärinkäytön (mukaan lukien tuoteasiakirjojen noudattamisen laiminlyönti ja Tuotteen kytkeminen vääränlaiseen porttiin), laiminlyönnin,
    osiin purkamisen, muutosten tai ulkoisten tekijöiden, kuten äärimmäisten lämpö- tai ympäristötilojen, aiheuttamaa tai kaupallisessa käytössä aiheutunutta vahinkoa. Tämä rajoitettu takuu soveltuu vain Suomessa käytettyihin Tuotteisiin. Tuotteen käyttäminen
    Suomen ulkopuolella mitätöi takuun.
  %p
    Tämä Rajoitettu takuu ei sovellu mihinkään ohjelmistoon tai sovellukseen, vaikka ne olisi pakattu tai myyty Tuotteen kanssa tai ne olisivat välttämättömiä Tuotteen toimimiseksi. Katso ohjelmiston tai sovelluksen mukana oleva Loppukäyttäjän lisenssisopimus
    tarkempien tietojen saamiseksi ohjelmiston tai sovelluksen käyttöön liittyvien oikeuksiesi selvittämiseksi. ChefSteps ei takaa, että Tuotetta ohjaava ohjelmisto tai sovellus olisi häiriötön ja virheetön.
  %p
    ChefStepsin työntekijät tai edustajat tai kolmannet osapuolet eivät ole oikeutettuja muuttamaan, jatkamaan tai lisäämään tähän Rajoitettuun takuuseen. Jos jokin ehto tässä Rajoitetussa takuussa on laiton tai täytäntöönpanokelvoton, pysyvät muut ehdot
    silti täysimääräisesti voimassa.
  %p
    Miten saat Takuuhuoltoa. Ole meihin yhteydessä osoitteessa
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    saadaksesi ohjeita takuuhuollon saamiseksi. Ilmoita nimesi, yhteystietosi ja Tuotteesi sarjanumero. Joissain tilanteissa voit myös joutua toimittamaan ostokuitin tai muun tositteen
    ostopäivästä.
  %p
    Jos ChefSteps päättää, että Tuotteesi on oikeutettu uusimiseen tai korjaukseen, voimme lähettää sinulle ennakkoon maksetun palautustositteen, ja tilanteesta riippuen, pakkausmateriaalia, jotta voit lähettää Tuotteen antamiemme lähetysohjeiden mukaisesti.
    Palautamme sinulle korjatun tai uusitun Tuotteen. Jos Tuote on oikeutettu korjaukseen tämän Rajoitetun takuun mukaan, ChefSteps maksaa palautuksen ja takaisinlähetyksen, jos ohjeita on noudatettu. Olet itse vastuussa lähetyskuluista, jos Tuote ei ole
    oikeutettu takuukorjaukseen.
  %p
    ChefSteps voi vaatia luottokorttivarmennusta vakuudeksi toimituskuluille tai uusitun Tuotteen jälleenmyyntihinnalle. Jos Tuotteesi ei ole oikeutettu takuuhuoltoon tai jos et palauta Tuotetta, jolle olemme korvanneet uudella tuotteella, voimme veloittaa
    sinulta täydet toimituskulut tai uusitun Tuotteen jälleenmyyntihinnan.
  %p
    Yksinomainen korvaus. Tämä Rajoitettu takuu on ainoa nimenomainen takuu, jonka ChefSteps tarjoaa Tuotteelle ja yllä mainittu takuu on yksinomainen takuusi. Sovellettavan lain sallimissa rajoissa ChefSteps kiistää kaikki muut lakisääteiset tai implisiittiset
    takuut ja ehdot, paitsi sellaiset implisiittiset takuut myyntikelpoisuudesta, soveltuvuudesta tiettyyn tarkoitukseen ja loukkaamattomuudesta ovat voimassa yhden vuoden ajan nimenomaisessa takuulausekkeen mukaisesti.
  %p Jotkut valtiot eivät salli rajoituksia implisiittisen takuun kestoon, joten yllä mainitut rajoitukset eivät välttämättä sovellu sinun kohdallasi.
  %p Muita rajoituksia Vahingonkorvaukselle. Ymmärrät ja suostut siihen, että sovellettavan lain salliman maksimimäärän rajoissa:
  %p
    ChefSteps (mukaanlukien sen tytär- ja osakkuusyhtiöt) ei ole sinulle vastuussa minkään vastuuopin perusteella sopimus, vahingonkorvaus (mukaan lukien tuottamus ja ankara vastuu) tai muuten--mistään välillisestä, erityisistä, satunnaisista tai varoittavista
    vahingoista, joita sinulle voi aiheutua Tuotteeseen liittyen;
  %p
    Tämä rajoitus soveltuu vaikka ChefStepsiä tai sen edustajia on varoitettu tai heidän olisi tullut tietää mahdollisuudesta, että tällaisia tappioita voi tapahtua; ja ChefStepsin kokonaisvastuu liittyen Tuotteeseen tai tähän Rajoitettuun takuuseen ei ylitä
    Tuotteen ostohintaa.
  %p Jotkut osavaltiot eivät salli satunnaisten tai välillisten vahinkojen pois rajaamista tai rajoittamista, joten yllä mainittu rajoitus tai poissulkeminen ei välttämättä sovellu sinun kohdallasi.
  %p Tämä Rajoitettu takuu antaa sinulle tiettyjä laillisia oikeuksia, ja sinulla voi myös olla muita oikeuksia riippuen osavaltiosta.
  %p
    Sinulla on oikeus viedä tähän Rajoitettuun takuuseen liittyvä riita Kuluttajariitalautakunnan ratkaistavaksi (
    %a{:href => "http://www.kuluttajariita.fi"}> www.kuluttajariita.fi
    ). Ennen kuin viet asian Kuluttajariitalautakuntaan, tulee sinun olla yhteydessä
    Kuluttajaneuvontaan (
    %a{:href => "http://www.kuluttajaneuvonta.fi"}> www.kuluttajaneuvonta.fi
    ). Euroopan talousalueella ("
    %strong> ETA
    ") asuvana kuluttajana voit myös viedä tähän Rajoitettuun takuuseen liittyvän riidan asuinpaikkasi kansalliseen
    tuomioistuimeen. Euroopan komissiolla on myös verkkovälitteinen riidanratkaisu –sivusto ETA kuluttajille osoitteessa:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
