#warranty
  %h4 BEGRÄNSAD GARANTI - FINLAND
  %p Version: 20171109
  %p Senast uppdaterad den: 9/11/2017
  %p
    Denna Begränsade Garanti tillhandahålls av ChefSteps, Inc. som är beläget på följande adress: 1501 Pike Place, #300, Seattle, Washington, 98101. Denna Begränsade Garanti innefattar också våra Användnings- och Säljningsvillkor ("Villkor") som har införlivats
    till denna Begränsade Garanti genom hänvisning.
  %p
    %strong> Vad omfattar garantin
    \. ChefSteps garanterar att Joule Circulator och Joule Big Clamp ("Produkt") är fria från material- och tillverkningsfel vid normal konsumentanvändning under ett år från det ursprungliga inköpsdatumet. Denna Begränsade
    Garanti tillämpas endast på den första konsumentägaren. Denna
    Begränsade Garanti tillämpas inte på Produkter som har köpts från någon annan än ChefSteps eller en
    certifierad ChefSteps-återförsäljare (&quot;Certifierad Återförsäljare&quot;). Om du inte är den första konsumentägaren och om det uppstår ett fel i Produkten under garantiperioden och du följer instruktionerna gällande retur av Produkten skall vi, enligt vårt val, antingen
    (i) reparera Produkten med nya eller renoverade delar eller (ii) ersätta Produkten med en ny eller renoverad Produkt. Vi inser att många av våra kunder köper Produkten i god tid före den levereras. Om din Produkt levereras till dig senare än inom 7
    dagar från datumet för köpet ska vi anse leveransdatumet som datumet för köpet för den mening som avses i denna Begränsade Garanti.
  %p
    Denna Begränsade Garanti tillämpas på alla reparationer, ersättningsdelar eller ersättningsprodukter för den återstående ursprungliga garantiperioden eller för 90 dagar, beroende på vilket som inträffar senare. Delar eller Produkter som vi ersätter med
    en ersättningsprodukt skall bli vår egendom och du skall äga ersättande delar eller Produkter.
  %p
    %strong> Vad omfattar garantin inte
    \. Denna Begränsade Garanti omfattar inte skada som har orsakats till följd av normal förslitning, överspänningar, olyckor, missbruk (inklusive underlåtenhet att följa produktdokumentation och koppling av Produkten
    till fel slags uttag), försummelse, demontering, ändringar, externa orsaker såsom extrema temperatur- och miljöförhållanden eller kommersiell användning. Denna Begränsade Garanti tillämpas endast på Produkter som har använts i Finland. Om Produkten
    används utanför Finland blir denna Begränsade Garanti ogiltig.
  %p
    Denna Begränsade Garanti tillämpas inte på programvara eller applikationer, oavsett om programvaran eller applikationen ingår i förpackningen, är såld med Produkten eller är nödvändig för användning av Produkten. Information om dina rättigheter angående
    användandet av programvaran eller applikationen får du från Licensavtalet för slutanvändare som har givits till dig i samband med programvaran eller applikationen. ChefSteps garanterar inte att programvaran eller applikationen genom vilken man kontrollerar
    Produkten är oavbruten eller felfri.
  %p
    ChefSteps anställda eller representanter eller tredje parter är inte tillåtna att ändra eller förlänga denna Begränsade Garanti. Om någon bestämmelse av denna Begränsade Garanti bedömts vara olaglig eller overkställbar skall de återstående bestämmelserna
    förbli giltiga och i kraft.
  %p
    %strong> Hur kan garantiservicen användas
    \. Vänligen kontakta oss per
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    för instruktioner på användning av garantiservicen. Du bör ange ditt namn, dina kontaktuppgifter samt serienumret av
    din Produkt. I vissa fall kan det ytterligare krävas att du uppvisar ett kvitto eller annat dokument från vilket datumet för köpet framgår.
  %p
    Om ChefSteps fastställer att din Produkt kan ersättas eller repareras kan vi sända en förutbetald fraktsedel till dig och, i tillämpliga fall, det förpackningsmaterial som behövs för att du kan sända Produkten i enlighet med våra leveransinstruktioner.
    Vi returnerar antingen den reparerade Produkten eller ersättningsprodukten till dig. Förutsatt att denna Begränsade Garanti erbjuder dig ett rättsmedel och att alla instruktionerna har föjlts, betalar ChefSteps leveransen till och från dig. Du skall
    bära alla leveranskostnader om Produkten inte omfattas av garantin.
  %p
    ChefSteps kan kräva kreditkortsauktorisation som säkerhet för leveranskostnader eller för ersättningsproduktens försäljningspris. Om din Produkt inte omfattas av garantiservicen eller om du inte returnerar en Produkt som vi ersätter med en ersättningsprodukt
    kan vi ta betalt för alla leveranskostnader eller för ersättningsproduktens försäljningspris.
  %p
    %strong> Exklusivt rättsmedel
    \. Denna Begränsade Garanti är den enda uttryckliga garantin som ChefSteps ger för Produkten. I största möjliga utsträckning som tillåts av tillämplig lag avstår ChefSteps från alla andra garantier och bestämmelser,
    vare sig baserade på lagbestämmelser eller underförstådda villkor, med det undantaget att underförstådda garantier gällande handelskvalitet, lämplighet för ett bestämt ändamål och icke-intrång är begränsade i tid till ettårsperioden av den uttryckliga
    garantin.
  %p Vissa stater tillåter inte begränsning av en underförstådd garantis giltighetstid, vilket betyder att den ovandefinierade begränsningen inte nödvändigtvis tillämpas på dig.
  %p Andra begränsningar av skadeståndsansvar. Du förstår och godkänner att, i största möjliga utsträckning som tillåts av tillämplig lag:
  %p
    ChefSteps (inklusive eventuella dotterbolag och närstående företag) är inte ansvarig mot dig under någon som helst ansvarsteori – vare sig avtal, skadeståndsgrundande händelse (inklusive oaktsamhet och strikt ansvar) eller någon annan – för indirekta,
    särskilda eller oförutsedda skador som kan orsakas i anslutning till Produkten eller för bestraffande skadestånd;
  %p
    Denna begränsning tillämpas även i fall ChefSteps eller dess representanter har fått råd om eller borde ha känt till möjligheten att sådana förluster skulle uppstå; och ChefSteps totala ansvar med anknytning till Produkten eller denna Begränsade Garanti
    skall uppgå högst till Produktens försäljningspris.
  %p Vissa stater tillåter inte uteslutande eller begränsning av oförutsedda eller indirekta skador, vilket betyder att den ovandefinierade begränsningen eller uteslutandet inte nödvändigtvis tillämpas på dig.
  %p Denna Begränsade Garanti ger dig särskilda lagliga rättigheter. Du kan också ha andra rättigheter som varierar mellan olika stater.
  %p
    Du har rätt att hänskjuta ett klagomål angående dessa Bestämmelser till Konsumentverket (
    %a{:href => "http://www.kuluttajariita.fi"}> www.kuluttajariita.fi
    ). Innan hänskjutning av ett klagomål till Konsumentverket måste du kontakta Konsumentrådgivning (
    = succeed ")." do
      %a{:href => "http://www.kuluttajaneuvonta.fi"} www.kuluttajaneuvonta.fi
    = succeed "\")" do
      %strong EES
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
