#warranty
  %span.head4_text BEGRÄNSAD GARANTI - FINLAND
  %p Version: 20180717
  %p Senast uppdaterad den: 17/7/2018
  %p
    Denna Begränsade Garanti tillhandahålls av ChefSteps, Inc. som är beläget på följande adress: 1501 Pike Place, #300, Seattle, Washington, 98101. Denna Begränsade Garanti innefattar också våra Användnings- och Säljningsvillkor ("Villkor") som har införlivats till denna Begränsade Garanti genom hänvisning.
  %p
    %strong> Vad omfattar garantin
    \. ChefSteps garanterar att Joule Circulator ("Produkt") är fria från material- och tillverkningsfel vid normal konsumentanvändning under ett år från det ursprungliga inköpsdatumet. Denna Begränsade Garanti tillämpas endast på den första konsumentägaren. Om du inte är den första konsumentägaren och om det uppstår ett fel i Produkten under garantiperioden och du följer instruktionerna gällande garantianspråk, skall vi ersätta Produkten med en ny Produkt.
  %p
    Denna Begränsade Garanti tillämpas på alla ersättningsprodukter för den återstående ursprungliga garantiperioden eller för 90 dagar, beroende på vilket som inträffar senare. Produkter som vi ersätter med en ersättningsprodukt skall bli vår egendom och du skall äga ersättande Produkter. 
  %p
    %strong> Vad omfattar garantin inte
    \. Denna Begränsade Garanti omfattar inte skada som har orsakats till följd av normal förslitning, överspänningar, olyckor, missbruk (inklusive underlåtenhet att följa produktdokumentation och koppling av Produkten till fel slags uttag), försummelse, demontering, ändringar, externa orsaker såsom extrema temperatur- och miljöförhållanden eller kommersiell användning. Denna Begränsade Garanti tillämpas endast på Produkter som har använts i Europa; Begränsade Garantin blir ogiltig om produkten används annanstans.
  %p
    Denna Begränsade Garanti tillämpas inte på programvara eller applikationer, oavsett om programvaran eller applikationen ingår i förpackningen, är såld med Produkten eller är nödvändig för användning av Produkten. Information om dina rättigheter angående användandet av programvaran eller applikationen får du från Licensavtalet för slutanvändare som har givits till dig i samband med programvaran eller applikationen. ChefSteps garanterar inte att programvaran eller applikationen genom vilken man kontrollerar Produkten är oavbruten eller felfri.
  %p
    ChefSteps anställda eller representanter eller tredje parter är inte tillåtna att ändra eller förlänga denna Begränsade Garanti.  Om någon bestämmelse av denna Begränsade Garanti bedömts vara olaglig eller overkställbar skall de återstående bestämmelserna förbli giltiga och i kraft. 
  %p
    %strong> Hur kan garantiservicen användas
    \. Vänligen kontakta oss per info@chefsteps.com eller kontakta den certifierade återförsäljaren för instruktioner på användning av garantiservicen. Du bör ange ditt namn, dina kontaktuppgifter samt serienumret av din Produkt. I vissa fall kan det ytterligare krävas att du uppvisar ett kvitto eller annat dokument från vilket datumet för köpet framgår.
  %p
    %strong> Exklusivt rättsmedel
    \. Denna Begränsade Garanti är den enda uttryckliga garantin som ChefSteps ger för Produkten. I största möjliga utsträckning som tillåts av tillämplig lag avstår ChefSteps från alla andra garantier och bestämmelser, vare sig baserade på lagbestämmelser eller underförstådda villkor, med det undantaget att underförstådda garantier gällande handelskvalitet, lämplighet för ett bestämt ändamål och icke-intrång är begränsade i tid till ettårsperioden av den uttryckliga garantin.
  %p Vissa stater tillåter inte begränsning av en underförstådd garantis giltighetstid, vilket betyder att den ovandefinierade begränsningen inte nödvändigtvis tillämpas på dig. 
  %p Andra begränsningar av skadeståndsansvar. Du förstår och godkänner att, i största möjliga utsträckning som tillåts av tillämplig lag:
  %p
    ChefSteps (inklusive eventuella dotterbolag och närstående företag) är inte ansvarig mot dig under någon som helst ansvarsteori – vare sig avtal, skadeståndsgrundande händelse (inklusive oaktsamhet och strikt ansvar) eller någon annan – för indirekta, särskilda eller oförutsedda skador som kan orsakas i anslutning till Produkten eller för bestraffande skadestånd; 
  %p
    Denna Begränsade Garanti ger dig särskilda lagliga rättigheter. Du kan också ha andra rättigheter som varierar mellan olika stater. 
  %p Du har rätt att hänskjuta ett klagomål angående dessa Bestämmelser till Konsumentverket (www.kuluttajariita.fi). Innan hänskjutning av ett klagomål till Konsumentverket måste du kontakta Konsumentrådgivning (www.kuluttajaneuvonta.fi). Som konsument bosatt inom Europa, kan du också inleda rättsliga förfaranden rörande dessa Bestämmelser vid en domstol i den stat du är bosatt i. Europeiska kommissionen erbjuder till europeiska konsumenter en onlineplattform för tvistlösning som finns på följande adress: http://ec.europa.eu/consumers/odr/. Observera att vi inte är skyldiga att delta i alternativa tvistlösningsförfaranden genom Europeiska kommissionens plattform eller någon annan plattform för konsumenttvistlösning. Vi förbehåller oss rätten att ge vårt medgivande till alternativa tvistlösningar separat för varje enskilt fall.
