#warranty
  %h4 GARANTIE LIMITÉE - FRANCE
  %p Version : 20171013
  %p Dernière mise à jour : 13/10/2017
  %p Cette Garantie Limitée est fournie par ChefSteps, Inc., situé à 1501 Pike Place, #300, Seattle, Washington, 98101. La présente Garantie Limitée incorpore par référence nos Conditions d'Utilisation et de Vente ("Conditions").
  %p
    %strong Ce qui est couvert.
    ChefSteps garantit le Joule Circulator et le Joule Big Clamp (le « Produit ») contre les défauts de pièces et de fabrication en condition d’utilisation normale pendant un an à compter de la date d’achat initiale. Si,
    au cours de cette période de garantie, il apparaît que le produit présente un défaut, et si vous suivez les instructions relatives au retour du produit, alors nous déciderons à notre discrétion soit (i) de le réparer avec des pièces neuves ou reconditionnées,
    ou (ii) de l’échanger contre un produit neuf ou reconditionné. Nous sommes conscients qu’un grand nombre de nos clients achètent le produit bien avant qu’il ne soit expédié. Si votre produit vous est expédié plus de 7 jours après la date de l’achat,
    alors nous considérerons que la date d’achat correspond à la date d’expédition aux fins d’application de la présente Garantie Limitée.
  %p
    La présente Garantie Limitée s’applique à toute réparation, toute pièce de rechange et à tout produit de remplacement pendant le reste de la période de garantie initiale à concurrence ou pendant un période de 90 jours si la période de garantie initiale
    est inférieure à 90 jours. Tout produit ou pièce que nous remplaçons devient notre propriété et vous serez propriétaire des produits ou pièces de remplacement.
  %p
    %strong> Ce qui est n’est pas couvert.
    La présente Garantie Limitée ne couvre pas les dommages causés par l’usure normale, les surtensions, les accidents, toute mauvaise utilisation (y compris le fait de ne pas respecter les consignes qui figurent
    dans la documentation et de brancher le produit sur une prise de courant inadaptée), la négligence, le démontage, les modifications, les causes externes telles que conditions thermiques ou environnementales extrêmes, ou l’utilisation commerciale. La
    présente Garantie Limitée ne s’applique qu’aux produits utilisés en France. L’utilisation du produit dans un autre pays entraîne l’annulation de cette Garantie Limitée.
  %p
    La présente Garantie Limitée ne s’applique ni au logiciel ni à l’application, même s’ils sont joints dans l’emballage du produit, vendus avec le produit ou nécessaires pour le faire fonctionner. Pour en savoir plus sur vos droits concernant son utilisation,
    consultez le contrat de licence d’utilisateur final qui accompagne le logiciel ou l’application. ChefSteps ne garantit pas que le logiciel ou l’application qui contrôle le produit fonctionnera sans interruption ou sans erreur.
  %p
    Aucun employé ou représentant de ChefSteps ni aucun tiers n’est autorisé à modifier, étendre ou compléter la présente Garantie Limitée. Si un terme de la présente Garantie Limitée est jugé illégal ou non exécutoire, ses autres termes resteront en vigueur.
  %p
    %strong Comment bénéficier du service de garantie.
    Pour savoir comment bénéficier du service de garantie, contactez-nous à info@chefsteps.com. Vous devrez alors indiquer votre nom, vos coordonnées et le numéro de série de votre produit. Dans
    certains cas, il peut également vous être demandé de présenter une facture d’achat ou un autre justificatif de la date d’achat.
  %p
    Si ChefSteps estime que votre Produit peut être échangé ou réparé, nous pouvons vous envoyer des étiquettes prépayées et, le cas échéant, des matériaux d’emballage pour que vous puissiez expédier le produit dans le respect de nos instructions d’expédition.
    Nous vous retournerons le produit réparé ou un produit de remplacement. Dans la mesure où le produit peut bénéficier de la présente Garantie Limitée et où toutes les instructions sont respectées, ChefSteps prendra en charge les frais d’expédition dans
    les deux sens entre votre domicile et ses entrepôts. Si le produit ne peut pas bénéficier de la garantie, tous les frais d’expédition sont à votre charge.
  %p
    ChefSteps peut demander une autorisation de carte de crédit en garantie des frais d’expédition ou du prix de vente du produit de remplacement. Si votre produit ne peut bénéficier du service de garantie, ou si vous ne nous retournez pas un produit alors
    que nous vous envoyons un produit de remplacement, nous pouvons vous facturer la totalité des frais d’expédition ou du prix de vente du produit de remplacement.
  %p
    %strong Recours exclusifs
  %p
    Sauf aux termes de la garantie légale décrite ci-dessous, la présente Garantie Limitée est la seule garantie expresse que ChefSteps fournit pour le produit, et le recours décrit ci-dessus constitue votre seul et unique recours. Dans les limites prévues
    par la loi en vigueur, ChefSteps exclut toutes les autres garanties et conditions, qu’elles soient légales ou tacites, à l’exception des garanties tacites de qualité marchande, d’aptitude à l’exécution d’un travail donné et de non-contrefaçon, qui sont
    limitées en durée à la durée d’un an de la garantie expresse.
  %p
    GARANTIE LÉGALE : La Garantie Limitée décrite ci-dessus n’affecte pas votre droit de bénéficier des garanties légales françaises des vices cachés qui sont définies par les articles 1641 à 1648 du Code Civil français et de la garantie légale de conformité
    qui est définie par le Code de la Consommation français.
  %p En vertu de l’article L. 217-15 du Code de la Consommation français, les articles L.217-4, L.217-5, L.217-12 et L.217-16 du Code de la Consommation français et les articles 1641 et 1648 du Code Civil français sont reproduits ci-dessous :
  %p
    « Code de la Consommation – Article L.217-4 : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de
    montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
  %p Code de la Consommation – Article L.217-5 : Le bien est conforme au contrat :
  %p 1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
  %p - s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle,
  %p - s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage,
  %p 2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
  %p Code de la consommation – Article L217-12 : L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.
  %p
    Code de la consommation – Article L217-16 : Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie,
    toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir.
  %p Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention.
  %p
    Code Civil – Article 1641 : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en
    aurait donné qu'un moindre prix, s'il les avait connus.
  %p Code Civil – Article 1648 alinéa 1er : L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice. »
  %p
    %strong Autres limitations des dommages et intérêts.
    Vous comprenez et convenez que, dans les limites prévues par la loi en vigueur :
  %p
    ChefSteps (y compris ses filiales et ses sociétés apparentées) ne sera responsable envers vous en vertu d’aucun concept de responsabilité – que ce soit au titre de la responsabilité contractuelle, de la responsabilité délictuelle (y compris la négligence
    et la responsabilité stricte) ou d’autres dommages indirects dont vous seriez victime en lien avec le produit, et notamment les manque à gagner, la perte de revenus ou de bénéfices, la perte de jouissance ou de données, la perte ou diminution de la
    valeur d’actifs ou de titres, la perte de chance, et la perte d’activité.
  %p
    Cette limitation s’applique même si ChefSteps ou ses représentants avaient été avisés ou auraient dû avoir savoir que ces pertes allaient se concrétiser ; et la responsabilité totale de ChefSteps en lien avec le produit ou la présente Garantie Limitée
    ne saura être supérieure au prix d’achat du produit.
  %p
    Dans certains états, l’exclusion ou la limitation des dommages accessoires ou consécutifs ou encore la limitation ou l’exclusion de responsabilité envers les consommateurs sont interdites, et il est donc possible que les limitations ou exclusions mentionnées
    ci-dessus ne s’appliquent dans votre cas.
  %p La présente Garantie Limitée vous donne des droits légaux spécifiques et vous pouvez également avoir d’autres droits qui varient d’un état à l’autre.
  %p
    Arbitrage obligatoire. Nous mettrons tous les moyens en œuvre pour résoudre votre demande de mise en jeu de la garantie à votre entière satisfaction. Si nous n’y parvenons pas et que vous souhaitez soumettre à un tiers un litige relatif à la garantie,
    vous devez recourir à l’arbitrage exécutoire. Cela signifie que vous renoncez à votre droit d’entamer une action devant les tribunaux. Nous vous indiquons comment procéder ci-dessous.
  %p
    1. Arbitrage exécutoire. Vous et ChefSteps vous engagez (a) à renoncer tous les deux à vos droits respectifs de faire résoudre les litiges qui résulteraient de la présente Garantie Limitée par les tribunaux, et (b) à renoncer tous les deux à vos droits
    respectifs à un procès avec jury. Au lieu de cela, vous et ChefSteps vous engagez à soumettre vos litiges à un arbitrage exécutoire (il s’agit de soumettre le litige à une ou plusieurs personnes chargées d’examiner le litige et de rendre une décision
    finale et exécutoire afin de le résoudre au lieu de demander à un juge ou à un jury du tribunal de statuer sur ce litige).
  %p
    2. Interdiction des arbitrages collectifs, actions collectives et recours collectifs. Vous et ChefSteps convenez que convenez que tout litige faisant suite ou lié à la présente Garantie Limitée est un litige personnel qui vous oppose à ChefSteps et que
    ce litige sera résolu uniquement par arbitrage individuel et ne donnera pas lieu à un arbitrage collectif, à une action collective ou à tout autre type de recours collectif. Vous et ChefSteps convenez qu’il n’y aura ni arbitrage collectif ni arbitrage
    dans le cadre duquel un individu tenterait de résoudre un litige en qualité de représentant d’un autre individu ou groupe d’individus. De plus, vous et ChefSteps convenez que convenez qu’un litige ne peut prendre la forme d’une action collective ou
    d’un autre type de recours collectif, que ce soit dans le cadre ou en dehors de l’arbitrage, ou au nom de d’un autre individu ou groupe d’individus.
  %p
    3.
    = succeed "." do
      %em Federal Arbitration Act
    = succeed "," do
      %em Federal Arbitration Act
  %p
    4. Notification ; Règlement informel des litiges. Vous et ChefSteps convenez que chacune des Parties informera l’autre partie par écrit de tout litige arbitrable dans le délai de trente (30) jours à compter de la date de la naissance du litige, de manière
    à ce que les parties puissent tenter en toute bonne foi de résoudre ce litige de manière informelle. Une notification sera adressée par voie électronique à ChefSteps à l’adresse disputes@chefsteps.com. Vous devez indiquer dans cette notification (a)
    vos nom, adresse postale, numéro de téléphone, l’adresse e-mail que vous utilisez ou avez utilisée pour votre compte ChefSteps et, si elle différente, une adresse e-mail à laquelle vous pouvez être contacté(e), (b) une description raisonnablement détaillée
    de la nature ou du fondement du litige, et (c) la réparation spécifique que vous demandez. Notre notification vous sera adressée par voie électronique à l’adresse e-mail que vous avez communiquée lors de votre inscription et contiendra les informations
    suivantes : (a) nos nom, adresse postale, numéro de téléphone et une adresse e-mail à laquelle nous pouvons être contactés concernant le litige, (b) une description raisonnablement détaillée de la nature ou du fondement du litige, et (c) la réparation
    spécifique que nous demandons. Si vous et ChefSteps ne parvenez pas à vous entendre sur la façon de résoudre le litige dans le délai de trente (30) jours, alors vous-même ou ChefSteps pouvez, selon le cas et conformément à la présente clause d’arbitrage,
    entamer une procédure d’arbitrage.
  %p
    5. Processus. Vous et ChefSteps convenez que (a) tout arbitrage se déroulera dans le comté ou la ville dans lequel vous résidez, et (b) cet arbitrage sera dirigé de manière confidentielle par un arbitre unique conformément au règlement des
    %em Judicial Arbitration and Mediation Services
    (« JAMS »), qui est de par la présente mention intégré aux présentes.
  %p
    6. Pouvoir de l’arbitre. Conformément aux termes du FAA, aux de cetta Garantie Limitée et au règlement JAMS applicable, l’arbitre aura (a) le pouvoir et la compétence exclusifs pour prendre toutes les décisions sur les plans à la fois matériel et procédural
    concernant un litige, y compris pour déterminer si un litige est arbitrable, et (b) le pouvoir d’accorder une réparation qui serait disponible devant les tribunaux, étant toutefois entendu qu’il n’a pas le pouvoir de présider un arbitrage collectif
    ou un recours collectif, qui sont interdits par les présentes conditions. L’arbitre ne peut présider qu’un arbitrage individuel et n’est pas autorisé à rassembler les réclamations de plusieurs individus, de présider une action ou un recours de type
    collectif ou de présider une procédure impliquant plusieurs individus.
  %p
    7. Règlement du JAMS. Le règlement du JAMS et des informations concernant le JAMS peuvent être consultés sur le site Internet du JAMS. En achetant le produit couvert par la présente Garantie Limitée, (a) vous reconnaissez et convenez avoir lu et compris
    le règlement du JAMS, ou alors (b) vous renoncez à la possibilité de lire le règlement du JAMS et à toute revendication selon laquelle ce règlement serait injuste ou ne devrait pas s’appliquer pour une raison quelle qu’elle soit.
  %p
    8. Autonomie des termes. Si une partie de la présente clause d’arbitrage est jugée non valable ou non exécutoire, elle sera jugée non valable ou non exécutoire dans les limites du minimum légal nécessaire, et tous les autres termes de la clause resteront
    valables et exécutoires. De plus, les renonciations visées ans la sous-section 2 (intitulée « Interdiction des arbitrages collectifs, actions collectives et recours collectifs ») sont indépendantes des autres modalités de la présente Garantie Limitée
    et resteront valables et exécutoires, à moins que la loi en vigueur l’interdise.
  %p
    En tant que consommateur résidant dans l’Espace économique européen (« 
    %strong> EEE
     »), vous pouvez intenter une action concernant la présente Garantie Limitée en suivant la procédure d’arbitrage décrite ci-dessus ou devant les tribunaux du pays
    dans lequel vous résidez. La Commission européenne met également à la disposition des consommateurs EEE une plate-forme en ligne de règlement des litiges à l’adresse suivante :
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
  %p
    En tant que consommateur résidant in France, vous bénéficierez des dispositions impératives de la loi de votre pays de résidence. Aucune modalité des présentes conditions n’affecte vos droits en tant que consommateur résidant en France de vous prévaloir
    des dispositions impératives de votre pays de résidence.
