#warranty
  %h4 LIMITED WARRANTY - UNITED KINGDOM
  %p Version: 20180710
  %p Last Updated: 10/7/2018
  %p
    This Limited Warranty is provided by ChefSteps, Inc. (“ChefSteps,” “we,” “us,” or “our”) located at 1501 Pike Place, #300, Seattle, Washington, 98101. This Limited Warranty hereby incorporates by reference our
    %a{:href => "https://www.chefsteps.com/terms"} Terms of Use and Sale
    (“
    %strong> Terms
    ”).
  %p
    %strong> What is Covered
    \. ChefSteps warrants the Joule Circulator (the “Product”) against defects in materials and workmanship under ordinary consumer use for one year from the date of original retail purchase. This Limited Warranty applies only to the first consumer owner, unless you have received our written consent that you may transfer it to a subsequent owner. This Limited Warranty does not apply to Products purchased from any entity other than ChefSteps or a certified ChefSteps reseller (”Certified Reseller”). During this warranty period, if a defect arises in the Product, and you follow the instructions for a warranty claim, we will replace it with a new Product.
  %p
    TThis Limited Warranty applies to any replacement Product for the remainder of the original warranty period or for ninety (90) days, whichever is longer. Any Products that we replace will become our property and you will own the replacement Products.
  %p
    %strong> What is Not Covered
    \. This Limited Warranty does not cover damage caused by normal wear and tear, power surges, accidents, misuse (including failure to follow Product documentation and plugging the Product into the wrong type of port), neglect, disassembly, alterations, external causes such as extreme thermal or environmental conditions, or commercial use. This Limited Warranty applies only to Products used in the United Kingdom or Ireland. Using the Product outside the United Kingdom or Ireland voids Limited Warranty.
  %p
    This Limited Warranty does not apply to any software or application, even if packaged or sold with the Product or necessary to operate the Product. Please refer to the End User License Agreement accompanying the software or application for details of your rights with respect to its use. ChefSteps does not warrant that the software or application that controls the Product will be uninterrupted or error-free.
  %p
    No employee or representative of ChefSteps or any third party is authorised to modify, extend, or add to this Limited Warranty. If any term of this Limited Warranty is held to be illegal or unenforceable, the remaining terms will remain in full force and effect.
  %p
    %strong> How to Obtain Warranty Service
    \. Please contact us at
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com 
    or contact the Certified Reseller for instructions on obtaining warranty service. You must provide your name, contact information, and the serial number of your Product. In certain situations, you may also be required to provide a purchase receipt or other proof of purchase date.
  %p
    %strong> Your Statutory and other Legal Rights
    \. This Limited Warranty is in addition to, and does not affect, your legal rights and remedies including under statute and our Terms.
