#warranty
  %h4 GARANZIA LIMITATA - ITALIA
  %p Ultimo aggiornamento: 11/7/2018
  %p
    Questa Garanzia Limitata è fornita da ChefSteps, Inc., situato in 1501 Pike Place, #300, Seattle, Washington, 98101. Questa Garanzia Limitata incorpora per riferimento le nostre Condizioni di Utilizzo e Vendita ("Condizioni").
  %p
    %strong> Portata della garanzia
    \. ChefSteps garantisce il Joule Circulator (il “Prodotto”) contro difetti dei materiali e della lavorazione in caso di uso normale da parte dell’utente per due anni dalla data di acquisto originaria. la presente Garanzia Limitata si applica solo al primo consumatore proprietario. Durante tale periodo di garanzia, qualora il primo consumatore proprietario riscontri un vizio nel Prodotto e segua le istruzioni previste dalla procedura di reclamo, ChefSteps potrà sostituire il Prodotto con uno nuovo.
  %p
    La presente Garanzia Limitata si applica anche a qualsiasi Prodotto sostitutivo per la restante durata del periodo di garanzia originario o, se superiore, per un termine di novanta giorni. I Prodotti oggetto di sostituzione diventano di proprietà di ChefSteps, mentre il consumatore sarà proprietario dei Prodotti sostitutivi.
  %p
    %strong> Esclusione dalla garanzia
    \. La presente Garanzia Limitata non copre i danni derivanti da normale usura, sbalzi di tensione, incidenti, uso improprio (compresi l’inosservanza della documentazione del prodotto e il collegamento del Prodotto a prese di corrente non idonee), negligenza, smontaggio, alterazioni, cause esterne come condizioni termiche o ambientali estreme, o uso per finalità commerciali. La presente Garanzia Limitata si applica solo ai Prodotti utilizzati in Europa (ad esclusione di Gran Bretagna e Irlanda). L’utilizzo del Prodotto fuori del presente territorio rende nulla la Garanzia Limitata.
  %p
    La presente Garanzia Limitata non si applica ad alcun software o applicazione, anche se confezionati o venduti insieme al Prodotto o necessari per utilizzare il Prodotto. Si rimanda al Contratto di Licenza con l’Utente Finale che accompagna il software o l’applicazione per i dettagli relativi ai diritti dell’utente con riferimento al loro utilizzo. ChefSteps non garantisce che il software o l’applicazione che controlla il Prodotto saranno forniti in maniera ininterrotta o privi di errori.
  %p
    Nessun dipendente o rappresentante di ChefSteps o alcuna parte terza è autorizzata a modificare, estendere o integrare la presente Garanzia Limitata. Se qualche disposizione della presente Garanzia Limitata viene ritenuta illegale o inefficace, le restanti disposizioni continueranno a essere pienamente valide ed efficaci. 
  %p
    %strong Come avvalersi del servizio di Garanzia.
    Contattare ChefSteps all’indirizzo info@chefsteps.com o rivolgendosi ad un Rivenditore Autorizzato per ricevere istruzioni su come avvalersi del servizio di garanzia. La comunicazione deve contenere il nome e le informazioni di contratto dell’utente e il numero di serie del Prodotto. In alcuni casi potrebbe essere richiesto di fornire una ricevuta di acquisto o altra prova della data di acquisto.
  %p
    %strong> Garanzia esclusiva
    \. La presente Garanzia Limitata è l’unica garanzia espressa che ChefSteps fornisce per il Prodotto e il servizio di riparazione e sostituzione di cui sopra è l’unico servizio disponibile. Nella misura massima consentita dalle leggi in vigore, ChefSteps non riconosce altre garanzie e condizioni, sia legali che implicite, salvo laddove le eventuali garanzie implicite di commerciabilità, idoneità a un uso specifico e non violazione dei diritti di proprietà e proprietà intellettuale siano limitate nella loro durata al periodo di due anni della garanzia espressa.
  %p Alcuni Paesi non consentono limitazioni circa la durata della garanzia implicita, pertanto la limitazione di cui sopra potrebbe non applicarsi.
  %p Altre limitazioni sul risarcimento del danno. L’utente accetta che, nella misura massima consentita dalle leggi in vigore: 
  %p
    ChefSteps (incluse le eventuali società controllate e collegate) non sarà responsabile per qualsivoglia ipotesi di responsabilità – contrattuale, extracontrattuale (comprese negligenza e responsabilità oggettiva) o di altra natura – per eventuali danni indiretti, diretti, speciali o esemplari eventualmente connessi al Prodotto.
  %p Alcuni Paesi non consentono l’esclusione o la limitazione del risarcimento dei danni diretti o indiretti, pertanto la limitazione o esclusione di cui sopra potrebbe non applicarsi. 
  %p La presente Garanzia Limitata conferisce all’utente diritti specifici, a cui potrebbero aggiungersi ulteriori diritti a seconda del Paese di residenza.
  %p
    %strong> Arbitrato; Risoluzione delle controversie
    \.
  %p LEGGERE ATTENTAMENTE LA SEZIONE SEGUENTE.
  %p 1. Arbitrato obbligatorio
  %p
    Salvo eventuali controversie, pretese, cause, azioni, rivendicazioni, domande o procedimenti (collettivamente "Controversie") nelle quali la parte promuove un’azione individuale di modesta entità o cerca di ottenere un’inibitoria o altro mezzo di tutela in equity per la presunta violazione di diritti di proprietà intellettuale, compresi, a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali, loghi, segreti commerciali o brevetti, l’utente e ChefSteps convengono di rinunciare al diritto di adire il tribunale relativamente a tutte le Controversie derivanti dalla presente Garanzia Limitata o connesse a essa. Di contro, l’utente e ChefSteps accettano di sottoporre ogni eventuale Controversia a un procedimento arbitrale obbligatorio (che consiste nel deferire la Controversia a una o più persone incaricate di esaminare la stessa e di pronunciare una decisione definitiva e vincolante, anziché devolvere la Controversia a un giudice o a una giuria in sede giudiziale).
  %p 2. Comunicazioni; Risoluzione amichevole delle controversie
  %p
    L’utente e ChefSteps accettano che ciascuna parte darà comunicazione scritta all’altra parte di ogni eventuale Controversia arbitrabile o di modesta entità entro trenta (30) giorni dalla data in cui essa è sorta, cosicché le parti possano tentare in buona fede di risolvere la Controversia in maniera amichevole. La comunicazione a ChefSteps deve essere inviata elettronicamente a disputes@chefsteps.com e deve includere (a) nome, indirizzo postale e numero di telefono dell’utente, indirizzo email associato all’account ChefSteps e, se diverso, indirizzo email al quale indirizzare le comunicazioni, (b) una descrizione ragionevolmente dettagliata della natura o del fondamento della Controversia, e (c) lo specifico mezzo di tutela richiesto. Le comunicazioni di ChefSteps all’utente saranno inviate elettronicamente all’indirizzo email fornito al momento della registrazione e includeranno (x) nome, indirizzo postale, numero di telefono di ChefSteps e indirizzo email al quale indirizzare le comunicazioni in relazione alla Controversia, (y) una descrizione ragionevolmente dettagliata della natura o fondamento della Controversia, e (z) lo specifico mezzo di tutela richiesto. Qualora l’utente e ChefSteps non trovino un accordo su come risolvere la Controversia entro trenta (30) giorni, l’utente o ChefSteps potranno, se opportuno e conformemente alla presente Garanzia Limitata, avviare un procedimento arbitrale o, per quanto espressamente previsto all’articolo 1, promuovere un procedimento giudiziale.
  %p 3. Procedura
  %p
    Ad eccezione delle Controversie nelle quali la parte promuove un’azione individuale di modesta entità o cerca di ottenere un’inibitoria o altro mezzo di tutela in equity per la presunta violazione di diritti di proprietà intellettuale, compresi, a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali, loghi, segreti commerciali o brevetti, l’utente e ChefSteps convengono che (a) la sede dell’arbitrato sarà King County, Washington, (b) l’arbitrato sarà condotto in maniera riservata da un arbitro unico in conformità con il regolamento del Judicial Arbitration and Mediation Services ("JAMS"), espressamente richiamato dalla presente Garanzia Limitata, e (c) i tribunali statali o federali rispettivamente dello Stato di Washington e degli Stati Uniti, aventi sede in King County, Washington, hanno giurisdizione esclusiva in merito a eventuali impugnazioni e all’esecuzione del lodo arbitrale. L’utente potrà altresì devolvere la Controversia al tribunale competente per cause di minor valore situato nella contea del proprio indirizzo di fatturazione se la Controversia corrisponde alle condizioni necessarie per poter essere giudicata in tale sede.
  %p 4. Poteri dell’arbitro
  %p
    Nei limiti stabili dal Federal Arbitration Act statunitense, dalla presente Garanzia Limitata e dal regolamento JAMS applicabile, l’arbitro avrà (a) il potere e la giurisdizione esclusiva di assumere tutte le decisioni procedurali e sostanziali concernenti la Controversia, compresa la decisione sull’idoneità della Controversia a essere sottoposta ad arbitrato, e (b) il potere di garantire qualsiasi mezzo di tutela altrimenti esperibile giudizialmente, a condizione, tuttavia, che l’arbitro non abbia il potere di condurre arbitrati o azioni collettivi. L’arbitro potrà conoscere unicamente controversie individuali e non potrà riunire più procedimenti individuali, né potrà amministrare qualsiasi tipo di procedura collettiva o che coinvolga più soggetti.
  %p 5. Regolamento JAMS
  %p
    Il regolamento JAMS e le ulteriori informazioni concernenti i servizi di tale organismo sono disponibili sul sito web di JAMS. L’utente (a) dichiara di aver letto e compreso il regolamento JAMS, oppure (b) rinuncia all’opportunità di leggere il regolamento JAMS e a qualsiasi pretesa circa la sua iniquità o inapplicabilità per qualsiasi ragione.
  %p 6. Nullità parziale
  %p
    Qualora qualsiasi termine, clausola o disposizione della presente Garanzia Limitata fosse ritenuta invalida o non applicabile, tale invalidità o inapplicabilità sarà limitata alla misura minima richiesta dalla legge. Tutti gli altri termini, clausole o disposizioni della presente Garanzia Limitata resteranno validi ed efficaci.
  %p 7. Consumatori europei
  %p
    In quanto consumatore residente in Europa, l’utente potrà promuovere le eventuali azioni legali relative alla presente Garanzia Limitata sia in base alla procedura arbitrale sopra descritta nel dettaglio, sia davanti ai tribunali del Paese di residenza. La Commissione Europea mette inoltre a disposizione dei consumatori europei una piattaforma online per la composizione delle controversie accessibile al seguente indirizzo: http://ec.europa.eu/consumers/odr/. Si precisa che l’utilizzo della piattaforma ODR o di qualsiasi altro servizio di risoluzione alternativa delle controversie del consumatore non è obbligatorio. ChefSteps si riserva di valutare di volta in volta l’adesione ai metodi di risoluzione alternativa della controversia.
