#warranty
  %span.head4_text BEPERKTE GARANTIE - NEDERLAND
  %p Versie: 20180717
  %p Laatst gewijzigd: 17/7/2018
  %p Deze Beperkte Garantie is afgegeven door ChefSteps, Inc., gevestigd op het adres 1501 Pike Place, #300, Seattle, Washington, 98101. De Gebruiks- en Verkoopvoorwaarden zijn middels verwijzing in deze Beperkte Garantie opgenomen (“Voorwaarden”).
  %p
    %strong> Reikwijdte van de Beperkte Garantie.
    Deze Beperkte Garantie is een aanvullende garantie, die op geen enkele manier de wettelijke rechten die u als consument heeft aantast of beperkt, bijvoorbeeld met betrekking tot conformiteit.
  %p
    %strong Wat gedekt wordt.
    ChefSteps biedt voor de Joule Circulator (het "Product") een garantie tegen materiaal- en fabricagefouten bij gewoon gebruik door de consument gedurende één jaar vanaf de datum van de oorspronkelijke aankoop bij de detailhandel. Deze Beperkte Garantie is enkel van toepassing op de eerste consumenteigenaar. Deze Beperkte Garantie is niet van toepassing op Producten die zijn gekocht bij een andere entiteit dan ChefSteps of een gecertificeerde ChefSteps wederverkoper (“Gecertificeerde Wederverkoper”). Tijdens deze garantieperiode, wanneer u de eerste consumenteigenaar bent en er zich een defect in het Product voordoet, en u de instructies voor een garantieclaim van het Product heeft gevolgd, zullen wij het Product vervangen door een nieuw of gerenoveerd Product.
  %p
    Deze Beperkte Garantie is van toepassing op alle vervangende Producten voor de rest van de oorspronkelijke garantieperiode of voor negentig dagen, welke van de twee langer is. Alle Producten die wij vervangen worden ons eigendom en u wordt eigenaar van de vervangende Producten. 
  %p
    %strong Wat niet gedekt wordt.
    Deze Beperkte Garantie dekt geen schade veroorzaakt door normale slijtage, stroompieken, ongelukken, misbruik (inclusief het niet opvolgen van de productdocumentatie en het aansluiten van het Product op een verkeerd type poort), nalatigheid, demontage, wijzigingen, externe oorzaken zoals extreme thermische of milieuomstandigheden of commercieel gebruik. Deze Beperkte Garantie is alleen van toepassing op Producten die in Europa worden gebruikt; bij gebruik van het Product elders vervalt deze Beperkte Garantie.
  %p
    Deze Beperkte Garantie is niet van toepassing op software of toepassing, zelfs niet als dit verpakt of verkocht wordt met het Product of noodzakelijk is voor de werking van het Product. Raadpleeg de Licentieovereenkomst voor Eindgebruikers bij de software of applicatie voor informatie over uw rechten met betrekking tot het gebruik ervan. ChefSteps garandeert niet dat de software of applicatie die het Product bestuurt ononderbroken of foutvrij zal zijn. 
  %p
    Geen werknemer of vertegenwoordiger van ChefSteps of een derde is bevoegd om deze Beperkte Garantie te wijzigen, te verlengen of er iets aan toe te voegen. Indien enige voorwaarde van deze Beperkte Garantie onwettig of niet-afdwingbaar wordt geacht, blijven de overige voorwaarden volledig van kracht. 
  %p
    %strong Hoe service onder de garantie te verkrijgen.
    Neem contact met ons op via info@chefsteps.com of neem contact op met de Gecertificeerde Wederverkoper voor instructies over het verkrijgen van service onder de garantie. U dient uw naam, contactgegevens en het serienummer van uw Product te verstrekken. In bepaalde situaties is het mogelijk dat u ook een aankoopbewijs of ander bewijs van aankoopdatum moet overleggen.
  %p
    %strong Exclusieve verhaalsmogelijkheid.
    Tenzij u een consument bent (d.w.z. een natuurlijke persoon die handelt voor doeleinden die buiten zijn handel, bedrijf, ambacht of beroep vallen) die het Product rechtstreeks bij ons heeft gekocht, is deze Beperkte Garantie de enige garantie die ChefSteps voor het Product biedt, en bovenstaande remedie is uw enige remedie. Voorzover maximaal toegestaan op grond van toepasselijk recht en tenzij u een consument bent die het Product rechtstreeks bij ons heeft gekocht, wijst ChefSteps alle andere garanties en voorwaarden, wettelijk of impliciet, van de hand, met dien verstande dat alle impliciete garanties van verkoopbaarheid, geschiktheid voor een bepaald doel en niet-inbreuk beperkt zijn in duur tot de periode van één jaar van de uitdrukkelijke garantie.
  %p
    Sommige rechtsgebieden staan geen beperkingen toe voor de duur van een impliciete garantie, zodat de bovenstaande beperking mogelijk niet op u van toepassing is. 
  %p
    %strong Andere beperkingen van schade.
    U begrijpt en stemt ermee in dat, voor zover maximaal toegestaan op grond van toepasselijk recht:
  %p
    ChefSteps (inclusief dochtermaatschappijen en gelieerde ondernemingen) niet aansprakelijk is jegens u uit hoofde van enige aansprakelijkheidstheorie – via contract, onrechtmatige daad (met inbegrip van nalatigheid en risicoaansprakelijkheid) of anderszins – voor enige indirecte, speciale, gevolg-, incidentele schade of schadevergoeding als boete die in verband met het Product voor u kan ontstaan.
  %p
    Deze beperking zelfs van toepassing is als ChefSteps of haar vertegenwoordigers op de hoogte zijn gesteld of hadden moeten weten dat dergelijke verliezen zouden kunnen optreden; en de totale aansprakelijkheid van ChefSteps in verband met het Product of deze Beperkte Garantie de aankoopprijs van het Product niet zal overschrijden. 
  %p Sommige rechtsgebieden de uitsluiting of beperking van incidentele of gevolgschade niet toestaan, zodat bovenstaande beperking of uitsluiting mogelijk niet op u van toepassing is.
  %p Deze Beperkte Garantie u specifieke wettelijke rechten geeft, en u ook andere rechten kunt hebben die van jurisdictie tot jurisdictie verschillen. 
  %p
    %strong Scheidbaarheid.
    Indien enige voorwaarde, clausule of bepaling van deze Beperkte Garantie ongeldig of niet-afdwingbaar wordt geacht, dan zal die voorwaarde, clausule of bepaling van deze voorwaarden gescheiden kunnen worden en geen invloed hebben op de geldigheid of afdwingbaarheid van enig overblijvend deel van die voorwaarde, clausule of bepaling, of enige andere voorwaarde, clausule of bepaling van deze Beperkte Garantie.
  %p
    %strong Geschillenregeling
    Omdat u een consument bent die in Europa woont, kunt met betrekking tot deze Beperkte Garantie een juridische procedure instellen bij de rechtbanken van het land waar u woont. De Europese Commissie biedt Europese consumenten ook een online-platform voor geschillenbeslechting aan, dat toegankelijk is op het volgende adres: http://ec.europa.eu/consumers/odr/.
  %p
    Deze Beperkte Garantie en uw toegang tot en gebruik van de Producten worden beheerst door en geïnterpreteerd en gehandhaafd in overeenstemming met Nederlands recht, zonder inachtneming van collisieregels of -principes waardoor het recht van enig ander rechtsgebied zou gelden en met uitsluiting van de toepasselijkheid van het Verdrag van de Verenigde Naties inzake internationale koopovereenkomsten betreffende roerende zaken.
  %p Partijen onderwerpen zich hierbij aan de jurisdictie van de bevoegde Nederlandse rechter in Amsterdam.
  %p
    Als u een consument bent die in de Europa woont, profiteert u van u alle dwingende bepalingen van het recht van het land waarin u woonachtig bent.  Niets in deze Beperkte Garantie doet afbreuk aan uw rechten als  Europese consument om zich te beroepen op dwingende bepalingen van het land waarin u woonachtig bent.
