#warranty
  %h4 BEGRENSET GARANTI – NORGE
  %p Versjon: 20171109
  %p Sist oppdatert: 9/11/2017
  %p Denne begrensede garantien er gitt av ChefSteps, Inc, med adressen 1501 Pike Place, #300, Seattle, Washington, 98101. Denne begrensede garantien er herved gjort en del av Chefsteps vilkår for bruk og salg («Vilkårene»).
  %p
    %strong Det som dekkes.
    ChefSteps garanterer at Joule Circulator og Joule Big Clamp («produktet») vil være fritt for material- og utførelsesfeil under vanlig forbrukerbruk i ett år fra datoen for det opprinnelige detaljsalget. Denne begrensede
    garantien gjelder kun for den første forbrukeren som eier produktet. I denne garantiperioden vil vi, hvis du er den første forbrukeren som eier produktet, og det oppstår en feil på produktet, og du følger instruksjonene for retur av produktet, etter
    vårt valg enten (i) reparere produktet med nye eller renoverte deler eller (ii) erstatte produktet med et nytt eller renovert produkt. Vi erkjenner at mange av våre kunder kjøper produktet en god stund før det sendes. Hvis ditt produkt sendes til deg
    mer enn 7 dager etter din kjøpsdato, behandler vi forsendelsesdatoen som kjøpsdato i forbindelse med denne begrensede garantien.
  %p
    Denne begrensede garantien gjelder alle reparasjoner, erstatningsdeler og erstatningsprodukter i resten av den opprinnelige garantiperioden eller i nitti dager; den lengste perioden gjelder. Alle deler eller produkter vi erstatter, blir vår eiendom, og
    du blir eier av erstatningsdelen eller -produktet.
  %p
    %strong Det som ikke dekkes.
    Denne begrensede garantien dekker ikke skade forårsaket av vanlig slitasje, overspenning, ulykker, misbruk (herunder manglende etterfølgelse av produktdokumentasjon og tilkobling av utstyret til feil type port), forsømmelse,
    demontering, endringer, ytre årsaker som ekstreme temperatur- eller miljøforhold, eller kommersiell bruk. Denne begrensede garantien gjelder bare produkter som brukes i Norge. Bruk av produktet utenfor Norge gjør denne begrensede garantien ugyldig.
  %p
    Denne begrensede garantien gjelder ikke noen programvare eller applikasjon, selv om denne er pakket eller solgt sammen med produktet eller er nødvendig for at produktet skal kunne brukes. Se lisensavtalen for sluttbrukere som følger med programvaren eller
    applikasjonen for nærmere opplysninger om dine rettigheter med hensyn til bruken av programvaren eller applikasjonen. ChefSteps garanterer ikke at programvaren eller applikasjonen som styrer produktet, vil fungere avbrudds- eller feilfritt.
  %p
    Ingen ansatt hos eller representant for ChefSteps eller noen tredjepart har myndighet til å endre, utvide eller komme med tillegg til denne begrensede garantien. Hvis et vilkår i denne begrensede garantien blir vurdert å være ulovlig eller i strid med
    gjeldende rett, fortsetter de gjenværende vilkårene å gjelde fullt ut.
  %p
    %strong Hvordan påberope garantien.
    Kontakt oss på
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    for instruksjoner om hvordan du kan påberope garantien. Du må oppgi navnet ditt, kontaktopplysninger og serienummeret på produktet ditt. I visse tilfeller kan du også bli bedt
    om å framskaffe kjøpskvittering eller annen dokumentasjon på kjøpsdatoen.
  %p
    Hvis ChefSteps kommer fram til at produktet ditt kvalifiserer til et erstatningsprodukt eller reparasjon, kan vi sende deg en forhåndsbetalt returetikett, og hvis relevant, emballasjemateriell, slik at du kan sende produktet i samsvar med våre forsendelsesinstruksjoner.
    Vi sender enten det reparerte produktet eller erstatningsproduktet tilbake til deg. Forutsatt at produktet kvalifiserer for et erstatningsprodukt eller reparasjon etter denne begrensede garantien, vil ChefSteps betale for forsendelse til og fra deg
    hvis alle instruksjoner blir fulgt. Du er ansvarlig for alle forsendelseskostnader hvis produktet ikke er kvalifisert for et erstatningsprodukt eller reparasjon etter garantien.
  %p
    ChefSteps kan kreve en kredittkortautorisasjon som sikkerhet for forsendelseskostnader eller kjøpsprisen på erstatningsproduktet. Hvis produktet ditt ikke kvalifiserer for garantiservice, eller hvis du ikke sender et produkt tilbake til oss som vi kan
    erstatte, kan vi kreve at du betaler hele forsendelseskostnaden eller kjøpsprisen på erstatningsproduktet.
  %p
    %strong> Eneste garanti
    \. Denne begrensede garantien er den eneste uttrykkelige garantien ChefSteps gir for produktet, og det ovennevnte erstatningsproduktet eller reparasjonen er den eneste beføyelsen du kan kreve. I den utstrekning det er tillatt
    etter gjeldende rett, fraskriver ChefSteps seg alle andre garantier og vilkår, det være seg lovfestede eller stilltiende, bortsett fra at eventuelle stilltiende garantier om omsettelighet, egnethet for et bestemt formål og ikke-krenkelser av rettigheter
    er begrenset i varighet til den ett år lange perioden for den uttrykkelige garantien.
  %p Noen delstater tillater ikke begrensninger på hvor lenge en stilltiende garanti varer, så det kan hende at begrensningen over ikke gjelder deg.
  %p
    %strong> Andre erstatningsbegrensninger
    \. Du er innforstått med at følgende gjelder, i den utstrekning det er tillatt etter gjeldende rett:
  %p
    ChefSteps (herunder alle datterselskaper og tilknyttede selskaper) er ikke forpliktet etter noen ansvarsform – det være seg i kontrakt, utenfor kontakt (herunder uaktsomhet og objektivt ansvar) eller på annen måte – til å betale deg noen skadeserstatning
    for indirekte skader, spesielle skader, følgeskader eller tilknyttede skader du måtte pådra deg, eller til å betale deg noen straffeerstatning, i forbindelse med produktet.
  %p
    Denne begrensningen gjelder også hvis ChefSteps eller dets representanter ble informert om eller burde ha visst om muligheten for at slike tap kunne oppstå; og ChefSteps’ samlede ansvar i forbindelse med produktet eller denne begrensede garantien skal
    ikke overstige kjøpesummen for produktet.
  %p Noen delstater tillater ikke utelukkelse eller begrensning av ansvar for tilknyttede skader eller følgeskader; det kan dermed hende at den ovennevnte begrensningen eller utelukkelsen ikke gjelder deg.
  %p Denne begrensede garantien gir deg bestemte rettigheter, og det kan også hende at du har andre rettigheter, avhengig av hvilken delstat du befinner deg i.
  %p
    %strong> Tvungen voldgift
    \. Vi vil gjøre vårt ytterste for å løse ditt garantikrav til din tilfredshet. Hvis vi ikke kan det og du ønsker å gå til sak over tvisten, må du bringe saken inn for bindende voldgift. Det betyr at du gir avkall på retten
    til å bringe saken inn for en domstol. Nærmere opplysninger er gitt nedenfor.
  %p
    1. Bindende voldgift. Du og ChefSteps er enige om at dere (a) gir avkall på deres respektive rettigheter til å bringe tvister som springer ut av denne begrensede garantien inn for en domstol, og at dere (b) gir avkall på deres respektive rettigheter til
    å få saken ført for en jury. I stedet er du og ChefSteps enige om at dere skal løse slike tvister gjennom bindende voldgift (dvs. at tvisten skal henvises til en eller flere personer som har i oppgave å gjennomgå tvisten og å komme med en endelig og
    bindende avgjørelse i saken, i stedet for at tvisten skal avgjøres av en dommer eller en jury ved en domstol).
  %p
    2. Ingen gruppevoldgifter, gruppesøksmål eller representantsaker. Du og ChefSteps er enige om at tvister som måtte springe ut av denne begrensede garantien, bare angår deg personlig og ChefSteps, og at slike tvister bare kan løses gjennom individuell
    voldgift og ikke kan bringes inn for gruppevoldgift, som gruppesak eller en annen form for representantsak. Du og ChefSteps er enige om at det ikke vil finne sted noen gruppevoldgift eller voldgift der en person forsøker å løse en tvist som representant
    for en annen person eller en gruppe personer. Videre er du og ChefSteps enige om at tvister ikke kan bringes inn som gruppesøksmål eller annen form for representantsak, det være seg i eller utenfor voldgift, eller på vegne av andre personer eller grupper
    av personer.
  %p
    3. Federal Arbitration Act. Du og ChefSteps er enige om at denne begrensede garantien har virkning for handel mellom delstater, og at tvangskraften til denne voldgiftsbestemmelsen både materielt og prosessuelt skal være underlagt og tolkes og håndheves
    i samsvar med Federal Arbitration Act (9 U.S.C. § 1 et seq.)
    %em>
    («FAA»), i den utstrekning det er tillatt etter gjeldende rett.
  %p
    4. Varsler, uformell tvisteløsning. Du og ChefSteps er enige om at begge parter skal varsle den andre parten skriftlig om tvister som vil kunne bli gjenstand for voldgift, innen (30) dager etter at de oppstår, slik at partene i god tro kan forsøke å løse
    tvisten uformelt. Varsler til ChefSteps skal sendes elektronisk til
    %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
    Varslet ditt må inneholde (a) navnet ditt, adressen din, telefonnummeret ditt, e-postadressen du bruker eller brukte til ChefSteps-kontoen din og, hvis dette
    er en annen adresse, en e-postadresse du kan kontaktes på, (b) en rimelig detaljert beskrivelse av tvistens art eller grunnlaget for tvisten, og (c) en angivelse av hvilket utfall du ønsker i saken. Vårt varsel til deg vil bli sendt elektronisk til
    e-postadressen du oppga da du registrerte deg, og vil inneholde (a) vårt navn, vår postadresse, vårt telefonnummer og en e-postadresse vi kan kontaktes på i forbindelse med tvisten, (b) en rimelig detaljert beskrivelse av tvistens art eller grunnlaget
    for tvisten, og (c) en angivelse av hvilket utfall vi ønsker i saken. Hvis du og ChefSteps ikke blir enige om hvordan tvisten skal løses, innen tretti (30) dager, kan enten du eller ChefSteps, alt etter som og i samsvar med denne voldgiftsbestemmelsen,
    bringe saken inn for voldgift.
  %p
    5. Prosedyre. Du og ChefSteps er enige om (a) at en eventuell voldgift skal finne sted i landet eller byen der du bor, og (b) at voldgiften skal gjennomføres konfidensielt og med én voldgiftsdommer i samsvar med reglene til Judicial Arbitration and Mediation
    Services («JAMS»), som herved innlemmes ved henvisning.
  %p
    6. Voldgiftsdommerens myndighet. Med de begrensninger som følger av FAA, denne begrensede garantien og de gjeldende JAMS-reglene, skal voldgiftsdommeren ha (a) enemyndighet og -kompetanse til å treffe alle prosessuelle og materielle avgjørelser vedrørende
    en tvist, herunder slå fast om tvisten kan avgjøres ved voldgift, og (b) myndighet til å innvilge alle krav som også kan innvilges av en domstol; voldgiftsdommeren har imidlertid ikke myndighet til å gjennomføre gruppevoldgifter eller representantsaker,
    som er forbudt etter disse vilkårene. Voldgiftsdommeren kan bare gjennomføre en individuell voldgift og kan ikke slå sammen krav fra mer enn én person eller gjennomføre noen form for gruppesøksmål eller representantsak eller noen sak som involverer
    mer enn én person.
  %p
    7. JAMS’ regler. Reglene til JAMS og ytterligere informasjon om JAMS er tilgjengelig på JAMS’ nettsted. Ved å kjøpe produktet som er gjenstand for denne begrensede garantien, har du enten (a) bekreftet at du har lest og forstått reglene til JAMS, eller
    (b) gitt avkall på din mulighet til å lese reglene til JAMS, og eventuelle påstander om at JAMS’ regler er utilbørlige vil ikke bli tatt til følge av noen grunn.
  %p
    8. Virkninger av ugyldighet. Hvis en del av denne voldgiftsbestemmelsen blir funnet å være ugyldig eller i strid med gjeldende rett, skal den regnes som det bare i den utstrekning loven krever det, og alle andre vilkår i bestemmelsen skal forbli gyldige.
    Videre kan fraskrivelsene som er fastsatt i avsnitt 2 (med overskriften «Ingen gruppevoldgifter, gruppesaker eller representantsaker») holdes adskilt fra de andre bestemmelsene i denne begrensede garantien og fortsette å være gyldige, unntatt i den
    grad det er forbudt etter gjeldende rett.
  %p
    9. På tross av det som er sagt over, kan du som forbruker bosatt i Det europeiske økonomiske samarbeidsområde («
    %strong> EØS
    ») bringe saker knyttet til denne begrensede garantien inn for voldgift i samsvar med prosedyren som er beskrevet over,
    eller inn for domstolene i landet der du bor. EU-kommisjonen har også en nettbasert klageportal som forbrukere i EØS kan bruke, og som er tilgjengelig på denne adressen: http://ec.europa.eu/consumers/odr/. Merk at vi ikke er forpliktet til å delta i
    alternativ tvisteløsning gjennom EU-kommisjonens plattform eller tvisteløsningsleverandører for forbrukere. Vi forbeholder oss retten til å samtykke til alternativ tvisteløsning i enkeltsaker. I tillegg har du som forbruker bosatt i Norge vern etter
    gjeldende preseptoriske bestemmelser i norsk rett. Ingenting i denne begrensede garantien påvirker de rettighetene du som forbruker bosatt i Norge har til å påberope deg preseptoriske bestemmelser i din jurisdiksjon.
  %p Tidligere versjoner
  %ul
    %li
      %a{:href => "https://chefsteps.s3.amazonaws.com/joule_warranty/warranty_20151118.html"} 18. nov. 2015 – Versjon 20151118
    %li
      %a{:href => "https://chefsteps.s3.amazonaws.com/joule_warranty/warranty_20151130.html"} 30. nov. 2015 – Versjon 20151130
    %li 1. juni 2017 – Version 20170601
