/ - media_object = event.trackable.likeable
/ - case media_object.class.to_s
/ - when 'Activity'
/   - media_object_title = media_object.activity_type.first
/ - when 'Upload'
/   - media_object_title = 'Photo'
{{stream}}

.stream-item
  .stream-item-header
    .stream-item-header-user
      %div(ng-show="stream.trackable.like.likeable.user")
        %a(ng-href="/profiles/{{stream.trackable.like.likeable.user}}")
          %img(ng-src="{{userImageUrl(stream.trackable.like.likeable.user.image_id)}}")
          %h4
            {{stream.trackable.like.likeable.user.name}}
    .stream-item-header-title
      %h3
        {{stream.trackable.like.likeable.title}}  
  .stream-item-top
    %a(ng-href="/profiles/{{stream.trackable.like.likeable.slug}}")
      %img(ng-src="{{mediaObjectImageUrl(stream.trackable.like.likeable.featured_image)}}")
  .stream-item-bottom
    %p
      {{stream.created_at|date:'MMM d, yyyy @ h:mma'}}
    .stream-item-media2
      .stream-item-media2-content
        %div(ng-switch="stream.trackable.like.likeable.likes_count")
          %div(ng-switch-when='1')
            1 Like
          %div(ng-switch-default)
            {{stream.trackable.like.likeable.likes_count}} Likes
      .stream-item-media2-users
        / - media_object.likes.each do |like|
        /   = link_to user_profile_path(like.user) do
        /     = image_tag filepicker_circle_image(like.user.image_id)
        %span(ng-repeat="user in stream.trackable.like.likeable.like_users")
          %a(ng-href="/profiles/{{user.slug}}")
            %img(ng-src="{{userImageUrl(user.image_id)}}")