.stream-item(ng-show="stream.trackable.upload.approved")
  .stream-item-dialogue
    %img(ng-src="{{userImageUrl(stream.user.image_id)}}")
    %h4
      %a(ng-href="/profiles/{{stream.user.slug}}" onclick='track_viewed_profile_through_stream();')
        {{stream.user.name}}
      uploaded a photo
      %a(ng-href="{{stream.trackable.upload.path}}" onclick='track_viewed_item_through_stream();')
        {{stream.trackable.upload.title}}.
      %small
        {{stream.created_at|date:'MMM d, yyyy @ h:mma'}}
  .stream-item-image
    %a(ng-href="{{stream.trackable.upload.path}}" onclick='track_viewed_item_through_stream();')
      %img(ng-src="{{mediaObjectImageUrl(stream.trackable.upload.featured_image)}}")