.stream-item
  .stream-item-header
    .stream-item-header-user
      %a(ng-href="{{stream.trackable.vote.user}}")
        %img(ng-src="{{userImageUrl(stream.trackable.vote.user.image_id)}}")
        %h4
          {{stream.trackable.vote.user.name}}
    .stream-item-header-title
      %h3
        {{stream.trackable.vote.votable.title}}
  .stream-item-top
    / = link_to media_object do
    /   = image_tag 'http://placehold.it/160x90/cccccc/cccccc&text=ChefSteps'
  .stream-item-bottom
    %p
      {{stream.created_at|date:'MMM d, yyyy @ h:mma'}}
    .stream-item-media2
      .stream-item-media2-content
        %div(ng-switch="stream.trackable.vote.votable.votes_count")
          %div(ng-switch-when='1')
            1 Vote
          %div(ng-switch-default)
            {{stream.trackable.vote.votable.votes_count}} Votes
      .stream-item-media2-users
        / %span(ng-repeat="user in stream.trackable.vote.votable.vote_users")
        /   %a(ng-href="/profiles/{{user.slug}}")
        /     %img(ng-src="{{userImageUrl(user.image_id)}}")
