.stream-item
  .stream-item-dialogue
    %img(ng-src="{{userImageUrl(stream.user.image_id)}}")
    %h4
      %a(ng-href="/profiles/{{stream.user.slug}}")
        {{stream.user.name}}
      voted for
      {{stream.trackable.vote.votable.title}} in the poll:
      %a(ng-href="{{stream.trackable.vote.votable.poll.path}}")
        {{stream.trackable.vote.votable.poll.title}}
      %small
        {{stream.created_at|date:'MMM d, yyyy @ h:mma'}}
