- content_for :title, "Techniques Gallery"
- content_for :description, "Become a better by cook by learning from these amazing technique videos."
- content_for :keywords, @techniques.map(&:title).to_sentence

.container
  .row
    .span12
      %h1 Techniques
      / = paginate @techniques
      / .row.gallery
      /   - @techniques.each do |technique|
      /     .span4
      /       = link_to technique do
      /         = render 'shared/media_centered', media: technique, size: 'medium'
      / = paginate @techniques

.container.gallery-wrapper
  .row
    .span12#gallery-count{:'gallery-count' => "#{@techniques_count}"}
      %div(ng-controller='GalleryController')
        %span(ng-model="admin_signed_in" ng-init="admin_signed_in='#{admin_user_signed_in?}'")
        / .flat-form
        /   %form
        /     %input(ng-model='search' placeholder='Enter Name')
        = render 'shared/gallery'