.row
  .span12
    %h2 Techniques
    = paginate @techniques
    .row
      - @techniques.each do |technique|
        .span4
          = link_to technique_path(technique) do
            = render 'shared/media_centered', media: technique, main: 'Technique', size: 'medium'
    = paginate @techniques