- content_for :title, "Equipment"
- content_for :description, "Batch edit equipment"

.admin-table.container.relative(ng-controller="EquipmentIndexController" infinite-scroll="loadEquipment()" infinite-scroll-distance="3" ng-cloak)
  .navbar
    .container
      .form-horizontal
        %input.search-query(type="search" placeholder="Equipment name..." ng-model="searchString")
        %button.btn#exact-match(btn-checkbox type="button" ng-model="exactMatch")
          %span.icon-asterisk(tooltip="Exact Match Only")
        .btn-toolbar
          .btn-group
            %button.btn#refresh-button(ng-click="refreshEquipment()")
              %span.icon-refresh(tooltip="Refresh list (use when you make changes in another window)")
          .btn-group
            %button.btn#merge-button(ng-disabled="! canMerge()" ng-click="setMergeKeeper(null); mergeModalOpen = true" )
              .icon-pair(tooltip="Merge selected equipment (No Undo!)")
                %span.icon-arrow-right
                %span.icon-arrow-left
            %button.btn#delete-button(ng-disabled="! canDelete()" ng-click="deleteSelected()" )
              %span.icon-trash(tooltip="Delete selected equipment (No Undo!)")
        %span.loading-spinner.icon-spinner.icon-spin.pull-right(ng-show="dataLoading")

  -# %cs-notifications

  .row.grid
    .table-index.span12(ng-grid="gridOptions")


  / -# This modal and the following ones would be a good use for ui-router, but I'm annoyed that they don't have a
  / -# released build for 0.0.2 yet so I'm doing it the old fashioned way for now.
  %div.uses-modal(close="usesModalOpen = false" modal="usesModalOpen" options="modalOptions")
    .modal-header
      %h2(ng-bind-html="usesForModalEquipment.title")
    .modal-body
      %h3 Used In
      %ul
        %li(ng-repeat="activity in usesForModal")
          %a(ng-href="/activities/{{activity.id}}" target="_blank" ng-bind-html="activity.title")
    .modal-footer
      %button.btn.btn-warning.cancel(ng-click="usesModalOpen = false") Close

  / -# See comment above
  %div.merge-modal(close="mergeModalOpen = false" modal="mergeModalOpen" options="modalOptions")
    .modal-header
      %h2 Merge Equipment
      Click on the equipment that you want to keep to see a preview of your merge.
    .modal-body
      %div.anim-basic-fade(ng-show="mergeKeeper")
        %h3 Will Be Kept
        %ul.to-keep
          %li(ng-bind-html="mergeKeeper.title")
            %a(ng-bind-html="mergeKeeper.title" ng-click="setMergeKeeper(equipment)")
            %span
              \- Uses: {{mergeKeeper.use_count}}
            %span(ng-show="equipment.product_url")
              \- Link: {{urlAsNiceText(mergeKeeper.product_url)}}

      %h3.anim-basic-fade(ng-show="mergeKeeper") Will Be Merged and Deleted
      %ul.to-delete
        %li.anim-basic-fade(ng-repeat="equipment in gridOptions.selectedItems | orderBy:'useCount':true" ng-show="equipment.id != mergeKeeper.id" )
          %a.merge-link(ng-bind-html="equipment.title" ng-click="setMergeKeeper(equipment)")
          %span
            \- Uses: {{equipment.use_count}}
          %span(ng-show="equipment.product_url")
            \- Link: {{urlAsNiceText(equipment.product_url)}}
          %span(ng-show="mergeKeeper && splitNote(equipment)")
            ("{{splitNote(equipment)}}" will be moved to note)

    .modal-footer
      %button.btn.warning(ng-click="mergeSelected(mergeKeeper)" ng-show="mergeKeeper") Merge (No Undo!)
      %button.btn.cancel(ng-click="mergeModalOpen = false") Cancel
