:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.questionsData = JSON.parse('#{j(@questions)}');

%h2 Questions for "#{@quiz.title}"

#quiz-control-anchor{ data: { behavior: 'stick-to-top-anchor' } }
#quiz-controls{ data: { behavior: 'stick-to-top'} }
  = admin_button 'Add Multiple Choice Question', '#', id: 'add-multiple-choice-question'

#quiz-questions
  #question-count
    Question Count:
    %span
  %ul#question-list

