= render 'layouts/filepicker'

:javascript
  window.ChefStepsAdmin = window.ChefStepsAdmin || {};
  window.ChefStepsAdmin.quizImageData= JSON.parse('#{j(@quiz_images)}');

%h2 Upload Images for "#{@quiz.title}"

#image-uploader
  %button.admin-button{ data: {behavior: 'filepicker'}} Pick a File
  #image-list

