Thank you for purchasing ChefSteps Premium as a gift. When you are ready for the lucky recipient to receive their gift, simply give them the link below:

#{@redeem_url}

We're here to help. You can reach us anytime at info@chefsteps.com if you have any questions or issues.

Cheers,
Team ChefSteps