Hello!

You recently requested to opt out of data transfer to Breville. We wanted to reach out and clarify that if you opt out, your Joule will stop working. Please click a link below to let us know.

Conform Opt out. [ *|BASE_URL|*/users/update_privacy_settings?token=*|TOKEN|*&intent=confirm_opt_out ] I do not want my data transferred to Breville and I understand my Joule will stop functioning.

Decline Opt out. [ *|BASE_URL|*/users/update_privacy_settings?token=*|TOKEN|*&intent=decline_opt_out ] I want my data transferred to Breville so my Joule will continue to function.

Unsubscribe [ *|BASE_URL|*/users/update_privacy_settings?token=*|TOKEN|*&intent=unsubscribe ] I want my data transferred to Breville so my Joule will continue to function, but please unsubscribe me from marketing emails.

Thanks!