Hello!

We recently reached out to you to notify you of Breville acquiring assets from ChefSteps and continuing to support Joule and add new content. You are receiving this email because you requested to opt out of the data transfer to Breville. We want to explain exactly what opting out means for you as a Joule and/or Premium user and give you the chance to select the best option below.

Opting out means that we will not transfer your data into Breville's systems and we will be deleting your ChefSteps account and unsubscribing you from getting any sort of communication/marketing emails from ChefSteps (or from Breville as successor).  As a result of opting out and deleting your account, the following will no longer work:

* Joule: Since Joule requires you to log into your ChefSteps account on the Joule app to control it, your Joule will no longer function without an account.

* Premium: If you are a Premium member, you will no longer have access to any of the content or classes due to the fact that you no longer have a ChefSteps account. All interactions with the website like recipes created, recipes liked, and cook history will be gone as well.

Please Note: If you decide you want to use Joule after opting out, you can create a new account and control Joule but any data in your existing account will not be recovered.

Below you will find two options. Please select which option you would like to move forward with. If you don't select one of the two options below within 21 days, we will assume that you want to move forward with the first option.


1. Confirm Opt out. [ *|BASE_URL|*/users/update_privacy_settings?token=*|TOKEN|*&intent=confirm_opt_out ] I do not want my data transferred to Breville and I understand my Joule will stop functioning.

2. I changed my mind. [ *|BASE_URL|*/users/update_privacy_settings?token=*|TOKEN|*&intent=decline_opt_out ] I want my data transferred to Breville so my Joule will continue to function and I can still use my Premium account.

Irrespective of which option you select, you will be removed from any marketing distributions.  We did not however wish to disrupt your account without confirming your intent.

Thanks!