%p
  = task_button 'Create display quantities', admin_tasks_create_display_quantities_path
  Copies the decimal value of quantity in StepIngredient and RecipeIngredient
  into the display_quantity field.
