#overview
  h1
    +font-serif-large
    color: $brick
  h5
    +font-serif-medium
    color: $gray
    text-transform: uppercase
  span
    text-transform: uppercase
    font-weight: bold
  .horizontal-divider
    margin: 10px 0
  .difficulty
    &:before
      content: ''
      display: block
      height: 26px
      padding-right: 30px
      width: 32px
    &.easy
      &:before
        background: url('/assets/difficulty-easy.png')

  ul.equipment
    li
      padding: 5px 0
      list-style-type: disc
      +font-sans-medium

  table.ingredients
    width: 100%
    +font-sans-medium
    thead
      color: $white
      background: $gray
      th
        padding: 10px
      th:first-child
        text-align: left
    tbody
      .quantity
        text-align: right
      tr
        color: $black
        td
          padding: 5px 0 5px 10px
        td:first-child
          width: 100%

