#overview
  h1
    +font-serif-large
    color: $brick
  h5
    +font-serif-medium
    color: $gray
    text-transform: uppercase
  span
    text-transform: uppercase
    font-weight: bold
  .horizontal-divider
    margin: 10px 0
  .difficulty
    &:before
      content: ''
      display: block
      height: 26px
      padding-right: 30px
      width: 32px
    &.easy
      &:before
        background: url('/assets/difficulty-easy.png')

  ul.equipment
    li
      padding: 5px 0
      list-style-type: disc
      +font-sans-medium

  table.ingredients
    margin-top: 20px
    width: 100%
    table-layout: fixed
    +font-sans-medium
    thead
      color: $gray
      border-top: 1px solid $gray
      border-bottom: 1px solid $gray
      th
        padding: 7px 0
        font-weight: 400
        text-transform: uppercase
      #ingredient
        text-align: left
      #quantity
        text-align: right
        cursor: pointer

    tbody
      .quantity, .quantity_lbs
        text-align: right
      tr
        color: $black
        td
          padding: 7px 10px 0 0
        td:first-child
          width: 100%

  .cooked-this-count
    margin-top: 15px
