#step-by-step
  padding-top: 20px
  h4
    +font-serif-large
    color: $brick

.step
  color: $black
  +font-sans-medium
  h3
    +font-serif-medium
  strong
    color: $brick
    font-weight: normal
  h6
    +font-sans-medium
    color: $brick
  table
    width: 100%
  .well
    border: none
    background: $grayLight
    &.video
      background: $white
      border: 1px solid $grayLight
      +border-radius(0)

.horizontal-divider
  border-width: 2px
  margin-bottom: 20px

.cooked-this
  +font-sans-medium
  background: $brick
  color: $white
  text-transform: uppercase
  border: 1px dashed $white
  margin: 5px
  padding: 10px
