.step-by-step
  margin-top: 40px
  padding-top: 20px
  h4
    +font-serif-large
    color: $brick
  .horizontal-divider
    border-width: 2px
    margin-bottom: 20px

.step
  color: $black
  h3
    +font-serif-medium
  strong
    color: $black
    font-weight: normal
  h6
    +font-sans-medium
    color: $brick
  table
    width: 100%
    .quantity
      text-align: right
      padding-right: 3px
  .well
    border: none
    background: $grayLight
    &.video
      background: $white
      border: 1px solid $grayLight
      +border-radius(0)

.hero-step-by-step
  margin-top: 3.2em
  padding-bottom: 20px
  margin-bottom: 0

.step-directions
  line-height: 1.6em
  li
    margin-top: 0.8em
  p
    margin-top: 0
  p, li, > *
    font-weight: normal
    font-size: 16px
    line-height: 18px
    margin-bottom: 0.8em


