July, 16th 2019
JOINT NOTICE TO EU CUSTOMERS


Hello!  You are receiving this joint notice because you have subscribed to ChefSteps' services or connected products and, according to our records, you are located in the EU/European Economic Area (EEA).

ChefSteps and Breville today announced a transaction that will provide you with new opportunities and services for certain ChefSteps products.

Breville has acquired certain assets and ongoing operations of ChefSteps, with the ambition of growing and expanding ChefSteps' product and service offerings globally.

Breville will be supporting the continued operation of your Joule ™ products and is excited about continuing to build the community.

We anticipate that not much will change for you in the short term from a practical standpoint. Breville, like ChefSteps, wishes to provide you with a seamless service experience.  The website www.chefsteps.com will continue to provide information and tools to learn about sous vide cooking, our Joule product, the user forum, recipes, etc. that you enjoy.

We believe this combination is a great thing for you. Breville is as excited about our products and offerings as ChefSteps was, and has ambitions to expand the business in fun and interesting ways.

With Breville taking over these products and services from ChefSteps, Breville will gain access to your personal data that ChefSteps has received, such as your first and last name, your postal address(es) for billing and shipping, your telephone number, your email address, financial data (e.g., any retained credit or debit card number), purchase information, including lifestyle and food preferences, and grocery lists, personal details (e.g., date of birth, gender), your IP address, photographs, social media usernames as well as feedback and reviews on the joule products.
Like ChefSteps, Breville takes data protection very seriously. Breville will be solely responsible for all data processing. We have therefore posted a revised Privacy Policy [https://www.chefsteps.com/privacy] and revised Cookie Policy [https://www.chefsteps.com/cookie-policy] on the website www.chefsteps.com to reflect this transaction. We encourage you to read these two new policies and come to us with any questions. 

As a reminder, Breville and ChefSteps are located in the United States. Breville’s parent company in Australia may also access your personal data for IT and marketing purposes only. Therefore, please note that your personal data will be processed (or continue to be processed) in the United States and in Australia. These two countries may not provide the same level of data protection and the same data protection safeguards as a country in the EEA. For instance, there is no national data protection agency in the United States and no federal data protection laws with generally applicable data protection principles and data subjects rights as in the EEA. By sending Breville your information from the EEA, you acknowledge that you are aware of these risks for your personal data. Like ChefSteps, Breville is conscientious about mitigating any data protection risks for your personal data transferred to the United States, and will continue to honor your rights under the General Data Protection Regulation (GDPR), as further described below. Breville provides adequate data protection worldwide as described in its Privacy Policy and through the various security measures that Breville has in place to protect your personal data. 

If you do not want your personal data to be transferred to Breville, please let us know that you wish to opt out by sending an email to privacy@breville.com or by contacting the Breville Data Protection Officer (address below).

Here are some additional privacy/data protection safeguards adopted by Breville that you should be aware of:

•	Breville and its parent company in Australia will provide an adequate level of protection for your personal data and will not sell your personal data to anyone.

•	Breville and its parent company in Australia will not process your personal data for purposes that go beyond the purposes listed under the former ChefSteps privacy policy, and Breville's processing will be done in compliance with the GDPR.

•	Any personal data that you transfer to Breville in the United States will be subject to the legal safeguards provided by the GDPR. Please read the section “Legal Basis for Processing” in the new Privacy Policy and the EU GDPR Fact Sheet [https://ec.europa.eu/commission/sites/beta-political/files/data-protection-factsheet-sme-obligations_en.pdf ] for a detailed description .

•	If you are an existing ChefSteps customer, Breville or its parent company in Australia will send you the newsletters and product information that you are accustomed to receiving from ChefSteps, unless you opt-out (See Section Promotional Communications” in the Privacy Policy). For new customers, Breville will use a “double opt in” to protect such customers' identities. The “double opt-in” is further described in the new Privacy Policy under Section 5 of “Legal Basis for Processing.”

•	Breville and its parent company in Australia will fully honor your rights as a data subject under the GDPR. All EU-based individuals, irrespective of their nationality (“data subjects”) have certain individual rights under the GDPR, such as: 
 
1. The right to be informed about the collection and use of their personal data.
2. The right of access to find out that is stored about them. 
3. The right to rectification of their personal data if it is inaccurate or incomplete.
4. The right to erasure to enable an individual to request the deletion or removal of personal data where there is no compelling reason for its continued processing.
5. The right to restrict processing to ‘block’ or suppress processing of personal data.
6. The right to data portability allowing individuals to obtain and reuse their personal data for their own purposes across different services.
7. The right to object to the processing based on legitimate interests or the performance of a task in the public interest/exercise of official authority (including profiling), direct marketing and/or for purposes of scientific/historical research and statistics.
8. Various rights in relation to automated decision making (making a decision solely by automated means without any human involvement) and profiling (automated processing of personal data to evaluate certain things about an individual).
If you would like to exercise any of these rights, you can log into your account and edit your account information or contact us as described below.

As Breville is the new “controller” of your personal data, Breville is obligated under the GDRP to provide you with the following additional information:

Disclosures under Art. 13 and 14 GDPR

(a) The identity and the contact details of the controller(s) 	Breville USA Inc., 19400 S Western Ave., Torrance, CA 90501 in the EU/EEA represented by Sage Appliances GmbH, Campus Fichtenhain 48, D 47807 Krefeld, Germany
Telephone: +49 (0) 2151 38737 01 
(b) Contact details of the data protection officer 	Data Protection Officer: email: privacy@breville.com; Barbara Dirsa at Sage Appliances GmbH, Campus Fichtenhain 48, D 47807 Krefeld, Germany
(c) Purposes of the processing of personal data  	To provide service with respect to your connected appliance, to respond to your requests, to market Breville’s products and services, to fulfill and process your requests for payment, for developing new products, to notify you of changes to service, fraud prevention, postings etc. See section “Use of Information” in the posted Privacy Policy.  
(d) The recipients or categories of recipients of the personal data 	Employees of Breville who respond to inquiries as well as external service providers who need to know the data for purposes of providing the products or services you have requested.
(e) Storage Limitations	The personal data will be stored by Breville for a period necessary for the purposes listed under (c) above, unless applicable law mandates a longer storage (e.g. 4 years for tax records in the US), up to a potential maximum of 10 years subject to relevant exceptions.
(f) Access/Rectification/ Erasure Requests	The data subject has the right at any time to request access to and rectification or erasure of personal data held by Breville or restriction of processing concerning the individual or to object to processing as well as the right to data portability. In these cases, please send an email request to Breville’s Data Protection Officer listed under (b).
(g) Withdrawal of Consent	The data subject has right to withdraw his/her consent at any time, without affecting the lawfulness of processing based on consent before the withdrawal, by sending an email to the Data Protection Officer listed under (b).
(h) Complaints with the Supervisory Authorities	The data subject has the right to lodge a complaint with his/her data protection authority against the data processing.
(i) Legal Basis for processing	The data subject provides his/her personal data to Breville (such as name and contact information) so that Breville can provide requested services, process the payment or respond to the inquiry (Art. 6 (1) (b) GDPR). In all other cases, the processing is necessary for the purposes of legitimate interests pursued by Breville, as balanced against the interests and fundamental rights and freedoms of the EU customer which require protection of personal data (Art. 6 (1) (f) GDPR). A legitimate interest is, in particular, the continued need of Breville to serve the EU customers of ChefSteps with products and services.
(j) No automated decision making or profiling	Breville does not use the personal data of the data subject for automated decision-making, including profiling.
(k) Further processing	In the event Breville intends to further process personal data for a purpose other than that for which the personal data was collected, Breville will provide the data subject, prior to that further processing, with information on that other purpose and any further relevant information, provided the data subject does not already possess such information.

Questions or Complaints by EU Data Subjects

If you have a concern about our processing of personal data that Breville is not able to resolve, you have the right to lodge a complaint with the data privacy authority where you reside. If you are in the EEA and want to find contact details of your local Data Protection Authority, please see: http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm 

If you have any questions or comments about this notice, please contact Breville at privacy@breville.com or in writing to:
Breville USA, Inc.
Att: Data Protection Officer/ Legal Department
19400 S Western Ave.
Torrance, CA 90501, USA


