July, 16th 2019
JOINT NOTICE TO NON-EU CUSTOMERS

Hello! You are receiving this joint notice because you have subscribed ChefSteps’ services or connected products and, according to our records, you are not located in the EU/European Economic Area (EEA).

ChefSteps and Breville today announced a transaction that will provide you with new opportunities and services for all of ChefSteps’ products.

Breville has acquired certain assets and ongoing operations of ChefSteps, with the ambition of growing and expanding ChefSteps' product and service offerings globally.

Breville will be supporting the continued operation of your Joule ™ products and is excited about continuing to build the community.

We anticipate that not much will change for you in the short term from a practical standpoint. Breville, like ChefSteps, wishes to provide you with a seamless service experience. The website www.chefsteps.com will continue to provide information and tools to learn about sous vide cooking, our Joule product, the user forum, recipes etc. that you enjoy. 

We believe this combination is a great thing for you.  Breville is as excited about our products and offerings as ChefSteps was, and has ambitions to expand the business in fun and interesting ways.

With Breville taking over these products and services from ChefSteps, Breville will gain access to your personal data/personal information that ChefSteps has received, such as your first and last name, your postal address(es) for billing and shipping, your telephone number, your email address, financial data (e.g., any retained credit or debit card number), purchase information, including lifestyle and food preferences, and grocery lists, personal details (e.g., date of birth, gender), your IP address, photographs, social media usernames as well as feedback and reviews on the Joule products.
Like ChefSteps, Breville takes data protection very seriously. Breville will be solely responsible for all data processing. We have therefore posted a revised Privacy Policy [https://www.chefsteps.com/privacy] and revised Cookie Policy [https://www.chefsteps.com/cookie-policy] on the website www.chefsteps.com to reflect this transaction. We encourage you to read these two new policies and come to us with any questions. 

If you have any questions or comments about this notice, please contact Breville at privacy@breville.com or in writing to:
Breville USA, Inc.
Att: Data Protection Officer /Legal Department
19400 S Western Ave.
Torrance, CA 90501 USA
