Here are the deets.


Dear ChefSteps community,

We recently revised our Terms of Use (https://www.chefsteps.com/terms) and Privacy Policy (https://www.chefsteps.com/privacy), and the changes went into effect on April 11, 2017. We encourage you to carefully review our updated Terms of Use and Privacy Policy. Please know that by continuing to use our website or mobile apps, or by otherwise interacting with us, you agree to our revised Terms of Use and consent to our revised Privacy Policy.

It’s always our intention to be transparent with you, our trusted community, so if you have questions or concerns, fire them off to info@chefsteps.com (mailto:info@chefsteps.com), and we’ll get back to you as soon as possible.
Keep cooking!
Team ChefSteps

Copyright © *|CURRENT_YEAR|* ChefSteps, All rights reserved.
Our mailing address is:
1501 Pike Place #300
Seattle, WA 98101
** (http://www.facebook.com/chefsteps)
** (http://www.twitter.com/chefsteps)
** (http://instagram.com/chefsteps)
** (http://www.pinterest.com/chefsteps)