Hi there!

First off, we apologize for any issues you might have experienced getting in contact with us and for the delay in acknowledging your request.  While this is admittedly an auto-reply, please know that we will be in touch as soon as possible. There is no need to reply to this email as we are working on your request and you can expect to hear from us in 5-7 business days.

Our small but mighty customer experience team's hours are:

Monday - Friday 9am-5pm PST

We're looking forward to helping you and thanks so much for your patience,

Nell W.