/ = form_tag "http://www.aweber.com/scripts/addlead.pl", class: 'form-inline' do
/   .input-append
/     = email_field_tag('email', nil, {class: 'span3', placeholder: 'Enter your email for updates', required: true})
/     %input{ type: "hidden", name: "listname", value: 'cs_c_sousvide'}
/     %input{ type: "hidden", name: "meta_adtracking", value: 'site_top_form'}
/     %input{ type: "hidden", name: "redirect", value: thank_you_subscribing_url}
/     %button.btn.btn-primary{ :type=>"submit"}
/       %i.icon-double-chevron-right

= form_tag sign_up_url, class: 'form-inline', :method => :get do
  .input-append
    = email_field_tag 'email', nil, {class: 'span3', placeholder: 'Enter your email for updates', required: true}
    %button.btn.btn-primary{ :type=>"submit", id: 'subscribe-email'}
      %span.icon-double-chevron-right{style: 'display: inline-block;'}
