@charset "UTF-8";

@font-face {
  font-family: "chefsteps-app";
  src:url("fonts/chefsteps-app.eot");
  src:url("fonts/chefsteps-app.eot?#iefix") format("embedded-opentype"),
    url("fonts/chefsteps-app.woff") format("woff"),
    url("fonts/chefsteps-app.ttf") format("truetype"),
    url("fonts/chefsteps-app.svg#chefsteps-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chefsteps-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-cs-"]:before,
[class*=" icon-cs-"]:before {
  font-family: "chefsteps-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cs-celsius-selected:before {
  content: "a";
}
.icon-cs-close:before {
  content: "b";
}
.icon-cs-degree:before {
  content: "c";
}
.icon-cs-drops:before {
  content: "d";
}
.icon-cs-fahrenheit:before {
  content: "e";
}
.icon-cs-nav:before {
  content: "f";
}
.icon-cs-search:before {
  content: "g";
}
.icon-cs-timer:before {
  content: "h";
}
.icon-cs-waves:before {
  content: "i";
}
.icon-cs-celsius:before {
  content: "j";
}
.icon-cs-fahrenheit-selected:before {
  content: "k";
}
.icon-cs-target:before {
  content: "m";
}
.icon-cs-power:before {
  content: "n";
}
.icon-cs-iback:before {
  content: "l";
}
.icon-cs-colon:before {
  content: "o";
}
.icon-cs-flag-goal:before {
  content: "p";
}
.icon-cs-circulator:before {
  content: "q";
}
.icon-cs-comment-open:before {
  content: "r";
}
.icon-cs-comment-filled:before {
  content: "s";
}

.csicon {
  display: inline-block;
  fill: currentColor;
}

/*.csicon.csicon-facebook {
  content: '';
  background-image: url('./icons/facebook.svg');
  width: 11.4px;
  height: 22px;
}*/

/*.csicon.icon-saved {
  width: 0.5em;
}

.csicon.icon-twitter {
  width: 1.2314453125em;
}

.csicon.icon-code {
  width: 1.947265625em;
}

.csicon.icon-comment-add {
  width: 0.9404296875em;
}

.csicon.icon-comment {
  width: 0.9404296875em;
}

.csicon.icon-edit-a-copy {
  width: 1.1318359375em;
}

.csicon.icon-edit {
  width: 0.9580078125em;
}

.csicon.icon-mail {
  width: 1.3525390625em;
}

.csicon.icon-more {
  width: 4.775390625em;
  width: 1.59179687em;
}

.csicon.icon-print {
  width: 0.84375em;
}*/
