.container
  .box.box-solo
    %h2 Forgot your password?
    %h5 Enter your email for password reset instructions
    %hr
    = form_for @user, url: password_path(@user) do |f|
      .box-field= f.text_field :email, placeholder: 'email', required: true
      .box-field= f.submit 'Send Instructions', class: 'btn btn-primary'