.row
  .span12
    %h3 Standard Twitter Bootstrap Buttons
  .span2
    .btn Standard
  .span2
    .btn.btn-primary Primary
  .span2
    .btn.btn-info Info
  .span2
    .btn.btn-warning Warning
  .span2
    .btn.btn-success Success
  .span2
    .btn.btn-inverse Inverse

.row
  .span12
    %h3 Button Sizes
  .span2
    .btn.btn-primary.btn-mini Mini
  .span2
    .btn.btn-primary.btn-small Small
  .span2
    .btn.btn-primary.btn-large Large
  .span2
    .btn.btn-primary.btn-x-large X-Large

.row
  .span12
    %h3 Custom Buttons
  .span2
    .btn.btn-large.btn-facebook Facebook
  .span2
    .button
      .inner Stiched
  .span2
    .button.inverse
      .inner Stiched Inverse
  .span2
    .btn-uppercase.btn-primary Uppercase
  .span2
    .btn.btn-primary.btn-prev
      %i.icon-double-chevron-left
  .span2
    .btn.btn-primary.btn-next
      %i.icon-double-chevron-right
  .span2
    .btn.disabled{data: {behavior: 'loadable'} }

