.row
  .span12
    %h3 Colors

:ruby
  color_names = %w[black white gray grayDarker grayDark grayMedium  grayLight grayLighter brickDark
    brick brickLight beige blue blueDark]

- color_names.in_groups_of(11, false).each do |colors|
  .row.show-grid
    - colors.each do |color|
      .span1.styleguide-color{ class: color}= color

