.row
  .span12
    %h3 Colors

.row.show-grid
  .span1.styleguide-color.black
    black
  .span1.styleguide-color.gray
    gray
  .span1.styleguide-color.grayMedium
    grayMedium
  .span1.styleguide-color.grayDark
    grayDark
  .span1.styleguide-color.grayDarker
    grayDarker
  .span1.styleguide-color.grayLight
    grayLight
  .span1.styleguide-color.grayLighter
    grayLighter
  .span1.styleguide-color.white
    white
  .span1.styleguide-color.brick
    brick
  .span1.styleguide-color.brickLight
    brickLight
  .span1.styleguide-color.brickDark
    brickDark
.row.show-grid
  .span1.styleguide-color.blue
    brickDark
  .span1.styleguide-color.blueDark
    blueDark

