.row
  .span12
    %h3 Progress Dials
.row
  .span4
    = progress_dial 5, 20, 'normal'
  .span4
    = progress_dial 10, 20, 'medium', 'medium'
  .span4
    = progress_dial 15, 20, 'small', 'small'


