.row
  .span12
    %h3 Progress Dials
.row
  .span3
    = progress_dial 5, 20, label: 'normal'
  .span3
    = progress_dial 10, 20, label: 'medium', size: 'medium'
  .span3
    = progress_dial 15, 20, label: 'small', size: 'small'
  .span3
    = progress_dial 5, 20, label: 'normal' do
      a small
      %span caption


