.row
  .span12
    %h3 Progress Dials
.row
  .span4
    = progress_dial 5, 20, label: 'normal'
  .span4
    = progress_dial 10, 20, label: 'medium', size: 'medium'
  .span4
    = progress_dial 15, 20, label: 'small', size: 'small'


