.row.show-grid
  .span2.styleguide-sans-tiny
    Sans Tiny (11px)
  .span2.styleguide-sans-small
    Sans Small (14px)
  .span2.styleguide-sans-medium
    Sans Medium (16px)
  .span2.styleguide-sans-large
    Sans Large (20px)
.row.show-grid
  .span2.styleguide-serif-tiny
    Serif Tiny (12px)
  .span2.styleguide-serif-small
    Serif Small (14px)
  .span2.styleguide-serif-medium
    Serif Medium (16px)
  .span2.styleguide-serif-large
    Serif Large (20px)

