.row
  .span12
    %h3 Icons
    %p
      We're using FontAwesome. Checkout all of their icons by
      = link_to "clicking here", "http://fortawesome.github.com/Font-Awesome/#all-icons", target: "_blank"
.row
  .span12
    %h3 Custom Icons

.row.show-grid
  .span1
    %i.icon-double-chevron-left
  .span1
    %i.icon-double-chevron-right

