.row
  .span12
    %h3 Labels
.row
  .span2
    .label
      Regular Label
  .span2
    .label.label-large.label-green
      Large Label
  .span2
    .label.label-wide.label-red
      Wide Label
  .span2
    .label.label-wide.label-large.label-blue
      Large Wide Label

