.row
  %h3 Span Layout

.row.styleguide-row-layout
  - 12.times do
    .span1
      Span1
.row.styleguide-row-layout
  - 6.times do
    .span2
      Span2
.row.styleguide-row-layout
  - 4.times do
    .span3
      Span3
.row.styleguide-row-layout
  - 3.times do
    .span4
      Span4
.row.styleguide-row-layout
  - 2.times do
    .span6
      Span6
.row.styleguide-row-layout
  .span12
    Span12
.row.styleguide-row-layout
  - 2.times do
    .span2
      Span2
    .span1
      Span1
    .span3
      Span3
