= stylesheet_link_tag 'styleguide'
.container
  .row
    .span12.styleguide-colors
      .color
        %i.white
        White
      .color
        %i.black
        Black
      .color
        %i.brick
        Brick
      .color
        %i.brick-light
        Brick Light


