.cs-blinders(csblinders object-count="#{media_objects.count}")
  - media_objects.each_with_index do |media_object, index|
    .cs-blinder(csBlinder index="#{index}")
      = image_tag filepicker_activity_hero_image(media_object.image_id)