.cs-blinders(csblinders blindercount="#{media_objects.count}" inactivewidth=30)
  - media_objects.each_with_index do |media_object, index|
    .cs-blinder(csBlinder index="#{index}" ng-click="expandBlinder()")
      = image_tag filepicker_activity_hero_image(media_object.featured_image)
      %h3(ng-show='active')
        = media_object.title