.scroll-shadow-wrapper
  .carousel-scroll.scroll-shadow-horizontal
    .carousel-scroll-inner.scroll-shadow-content
      - items.each_with_index do |item,index|
        .item
          = link_to activity_path(item) do
            = render 'shared/media_centered', media: item, size: 'small'
  .scroll-overlay-left
  .scroll-overlay-right