.ingredients{:itemprop => "ingredients"}
  .ingredient-table-body(ui-sortable="sortOptions" ng-model="#{source}.ingredients")
    .ingredient-table-row(ng-repeat="ai in #{source}.ingredients" ng-animate="'custom'")
      %csIngredientEditPair


