.ingredients{:itemprop => "ingredients"}

  -if (defined? include_header) && include_header
    .ingredient-table-head
      .ingredient-table-row
        #ingredient.ingredient-title Ingredient
        #quantity.quantity-group(ng-hide="editMode" tooltip="Click on quantity column header to change units, or any value to scale the recipe.")
          %a.change_units Quantity
          %i.fake-link.icon-question-sign
        .quantity-group(ng-show="editMode")
          Quantity

  .ingredient-table-body(ui-sortable="sortOptions" ng-model="#{source}.ingredients")
    .ingredient-table-row(ng-repeat="ai in #{source}.ingredients" ng-animate="'custom'")
      %csIngredientEditPair

