.ingredients
  .ingredient-table-body(ui-sortable="sortOptions" ng-model="#{source}.ingredients")
    .ingredient-table-row.anim-basic-fade(ng-repeat="ai in #{source}.ingredients")
      %csIngredientEditPair


