/ Defaults to size medium
- cache media do
  %div{class: "media-centered media-centered-#{ size ||= 'medium' }"}
    .media-centered-overlay
    - if media.featured_image
      = image_tag s3_image_url(media.featured_image)
    - else
      = image_tag '/assets/missing.png'
    .title-block
      = media.title.html_safe