.media-hero
  = image_tag s3_image_url(media_image)
  .media-header-background
  .container
    .media-block
      .media
        .media-object.pull-left
          = link_to '#', data: {youtubeid: media_object.youtube_id}, class: 'media-hero-play' do
            .btn-play
              .btn-play-trangle
        .media-heading.pull-left
          %h2= main_title
          %h3= media_object.title.html_safe