%div{class: "media-box media-box-#{size} pull-left"}
  = link_to url do
    - if image
      = image_tag filepicker_media_box_image(image)
    - if title
      / = truncate(title, length: 35)
      .media-box-title
        = title