%script(type="text/ng-template" id="socialConnect.html")
  .modal-header
    %h2 Connect Your Accounts
    %p
      ChefSteps is built on community, plain and simple.  We'll show you what courses your friends are taking and what recipes they've liked, and you'll be able to meet, follow, an invite other folks who you think would be great additions to the community.
  .modal-body
    .button-group.connect-buttons
      .facebook-button
        %a(ng-click="facebookConnect()" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
          %i.icon-facebook
          %b Facebook
      .google-button
        -# %span.g-signin
        %a(ng-click="googleSignin()" class="btn btn-secondary btn-google" ng-disabled="dataLoading")
          %i.icon-google-plus
          %b Google
      .twitter-button
        -# %span.g-signin
        %a(ng-click="" class="btn btn-secondary btn-twitter" ng-disabled="dataLoading")
          %i.icon-twitter
          %b Twitter


  .modal-footer
    %button.btn(ng-click="$close()") Done
