- current_user_votes = current_user && current_user.votes.map(&:votable).include?(votable_object) ? 'true' : 'false'
- votes_count = votable_object.votes_count ? votable_object.votes_count : 0
%span(ng-controller='VotesController')
  %span(ng-model="current_user_votes" ng-init="current_user_votes=#{current_user_votes}")
  %span(ng-model="votes_count" ng-init="votes_count=#{votes_count}")
  %span(ng-switch on="current_user_votes")
    %span(ng-switch-when='true')
      .btn.btn-primary
        %i.icon-star
        {{votes_count}}
    %span(ng-switch-when='false')
      .btn.btn-primary(ng-click="voteObject('#{votable_object.class.to_s}', '#{votable_object.id}')")
        %i.icon-star-empty
        %span(ng-show="votes_count > 0")
          {{votes_count}}