Hey, you. You barbecue weekend warrior. You ice cream enthusiast. You epic meal planner. You dialing-it-all-in steak fanatic. We have all of you to thank for the overwhelming support you’ve shown for Joule. Enough support, in fact, that we reduced our cost to make Joule by producing way more of them. And now, we’re passing those savings on to you. 

Moving forward, Joule’s new retail price is $199. As our thanks for being one of the first to order Joule, you will get it for the new preorder price of $149. That means we’re returning nearly $1 million in cash and savings to preorder customers who supported us from the very beginning. We extend our immense gratitude to you for making this possible. By preordering early, you not only made Joule’s launch wildly successful—you also made Joule more accessible to cooks all over the country and, soon, all over the world.

We will issue your refund within the next few weeks. Has your credit card info changed? Got other questions about the refund? Visit our FAQ (https://support.chefsteps.com/hc/en-us/categories/202577867-Joule). 

Please rest assured that Joule will still be shipping in September. We can’t wait to get Joule to you ASAP! 

PSST: Know someone who will love Joule almost as much as you will? Use this link (http://chfstps.co/2aUSCDt) to spread the word! We have a limited supply of Joules available for preorder starting at 9am PDT tomorrow, Tuesday, August 9, while supplies last. 

Cheers,
Team ChefSteps
