Hello there, trailblazers:

For starters, we want to thank you again for being among the first people to preorder Joule! We also want to let you know we’re initiating your refund today—the difference between the amount you paid and your new preorder price of $149 plus tax. We first announced the new price on August 8; to learn more, check out this post from ChefSteps cofounder Chris Young: https://www.chefsteps.com/forum/posts/with-gratitude-and-joule-for-all. You should see those funds back in your account in 5 to 10 business days. Huzzah!

Your refund is: $*|REFUND_AMOUNT|*

A few quick things to verify as we prepare to ship your Joule:

* Make sure we have your up-to-date shipping address on file. Visit https://store.chefsteps.com/account/addresses and please email us at info@chefsteps.com if anything has changed since you ordered!

* Please do not plan on operating Joule on 220 V power, as it may not be safe. Joule will not be covered by our warranty when operated outside of the United States. If you need to cancel your order (and receive a full refund), please respond to this email to let us know. We are working hard to offer an international version of Joule, but we do not yet have an ETA. We appreciate your patience. More info here: https://support.chefsteps.com/hc/en-us/articles/217435228-Will-the-current-version-of-Joule-work-outside-the-US-internationally

That’s it for now. Thanks so much for preordering Joule. We can’t wait to get it to you!

Team ChefSteps
