<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
<!-- IMPORTANT -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*|SUBJECT|*</title>
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->
  </head>
  <body class="main" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; background: #edecea; margin: 0; padding: 0;" bgcolor="#edecea"><style type="text/css">
@media only screen and (max-width: 600px) {
  .main {
    background: #fff;
  }
  a[class="btn"] {
    margin-bottom: 10px !important; background-image: none !important;
  }
  div[class="column"] {
    width: auto !important; float: none !important;
  }
  table.social div[class="column"] {
    width: auto !important;
  }
}
</style>

<table class="main-content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #edecea; margin: 0; padding: 10px 0;" bgcolor="#edecea"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

			<!-- HEADER -->
			<div class="head-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-style: dashed; border-bottom-color: #edecea; border-bottom-width: 1px; max-width: 600px; display: block; background: #fff; margin: 0 auto; padding: 15px 25px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; margin: 0; padding: 15px;" align="center">
							<a href="http://chefsteps.com" title="ChefSteps" alt="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;"></a><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" /></td>
					</tr></table></div>

			<!-- You may like to include a Hero Image -->
			<div class="header-img" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
				<img src="https://gallery.mailchimp.com/9f69331c823fb9ca452fe5184/images/9b569dfb-6dae-49de-baed-b2cc8dd6bdac.jpg" alt="Joule" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" /></div>
			<!-- /Hero Image -->

			<!-- BODY -->
			<div class="body-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; background: #fff; margin: 0 auto; padding: 15px;">
			<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><h4 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 23px; margin: 0 0 15px; padding: 0;">Hello there, trailblazers:</h4>

            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">For starters, we want to thank you again for being among the first people to preorder Joule! We also want to let you know we’re initiating your refund today—the difference between the amount you paid and your new preorder price of $149 plus tax. We first announced the new price on August 8; to learn more, <a href="https://www.chefsteps.com/forum/posts/with-gratitude-and-joule-for-all" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">check out this post</a> from ChefSteps cofounder Chris Young. You should see those funds back in your account in <b style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">5 to 10 business days</b>. Huzzah!</p>

						<table class="highlight" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; border-radius: 4px; width: 100%; background: #edecea; margin: 5px 0 15px; padding: 25px 15px;" bgcolor="#edecea"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
									<h6 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 900; font-size: 12px; text-transform: uppercase; margin: 0 0 15px; padding: 0;">Your refund is:</h6>
									<h2 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 37px; text-align: center; margin: 0 0 25px; padding: 0;" align="center">$*|REFUND_AMOUNT|*</h2>
								</td>
							</tr></table><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><h5 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">A few quick things to verify as we prepare to ship your Joule:</h5>

						<ul style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;"><li style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 0 10px; padding: 0; list-style: inside;">Make sure we have your <b style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">up-to-date shipping address</b> on file. Visit <a href="https://store.chefsteps.com/account/addresses" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">this link</a> or click the button below to check, and please reply to this email if anything has changed since you ordered!</li>

							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><li style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 0 0 10px; padding: 0; list-style: inside;">Please do not plan on operating <a href="https://support.chefsteps.com/hc/en-us/articles/217435228-Will-the-current-version-of-Joule-work-outside-the-US-internationally-" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">Joule on 220 V</a> power, as it may not be safe. <b style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Joule will not be covered by our warranty when operated outside of the United States.</b> If you need to cancel your order (and receive a full refund), please respond to this email to let us know. We are working hard to offer an international version of Joule, but we do not yet have an ETA. We appreciate your patience.</li>
			      </ul><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;">That’s it for now. Thanks so much for preordering Joule. We can’t wait to <a href="https://support.chefsteps.com/hc/en-us/articles/218382558-When-will-my-preorder-ship-" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">get it to you</a>!</p>

						<h5 style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Team ChefSteps</h5>

						<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><hr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 0; border-top-color: rgba(0, 0, 0, 0.15); border-top-style: dashed; border-bottom-color: rgba(255, 255, 255, 0.3); border-bottom-style: dashed; margin: 0 0 30px; padding: 0; border-width: 1px 0;" /><h4 class="align-center no-margin" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 23px; text-align: center; margin: 0; padding: 0;" align="center">Shipping address Up to Date?</h4>
						<p class="align-center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; text-align: center; margin: 0 0 20px; padding: 0;" align="center"><a href="mailto:info@chefsteps.com" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;">Email us</a> if you’ve changed your address.</p>
						<p style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;" align="center">
							<a class="btn" href="https://store.chefsteps.com/account/addresses" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; text-decoration: none; width: 80%; max-width: 200px; border-radius: 30px; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background: #ff674d; margin: 0; padding: 12px 10%;">Check your address</a>
						</p>

					</td>
				</tr></table></div>

			<!-- FOOTER -->
			<div class="footer-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; max-width: 600px; display: block; background: #383736; margin: 0 auto; padding: 40px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							<a href="http://chefsteps.com" title="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: rgba(255,255,255,0.5); text-decoration: underline; margin: 0; padding: 0;"><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" alt="{{ shop_name }}" /></a>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">Copyright © *|CURRENT_YEAR|* ChefSteps, All rights reserved.</p>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;"><strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Our mailing address is:</strong></p>
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">1501 Pike Place<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />Seattle, WA 98101</p>
						</td>
					</tr></table></div>

		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></table></body>
</html>
