- content_for :title, "Ingredient Gallery"
- content_for :description, "Become a better cook. Learn about these essential ingredients."
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.gallery-wrapper.relative(ng-controller='IngredientsGalleryController' ng-cloak)
  .row
    .span12
      %div
        .gallery-filter.navbar
          %ul.nav.left-group

            %form.navbar-search.relative(ng-click="collapseFilters = true")
              %input.search-query(type="search" placeholder="Search..." ng-model="filters.search_all" ui-event='{blur: "trackSearch()"}')
              %a.clear-search(ng-click="filters.search_all = ''" ng-show="filters.search_all || '' != ''")
                %i.icon-remove

            %li.relative(ng-mouseenter="collapseFilters = false" ng-mouseleave="collapseFilters = true")
              .filter-collapser(ng-click="collapseFilters = ! collapseFilters")
                FILTER
                %i.icon-angle-down(ng-show="collapseFilters")
                %i.icon-angle-up(ng-hide="collapseFilters")
              .current-filter(ng-repeat="(k, f) in nonDefaultFilters()")
                {{f}}
                %span.reset-filter(ng-click="resetFilter(k)")
                  %i.icon-remove
              .filters-group(ng-show="!collapseFilters" data-ng-animate="'filters'" )
                %csRadioButtons.first-separate(ng-model="imageChoices" active="filters.image")
                %csRadioButtons.first-separate(ng-model="editLevelChoices" active="filters.edit_level")
                //%csRadioButtons.first-separate(ng-model="purchaseableChoices" active="filters.purchaseable")
 
            %li.relative(ng-mouseenter="collapseSort = false" ng-mouseleave="collapseSort = true")
              .filter-collapser(ng-click="collapseSort = ! collapseSort")
                SORT
                %i.icon-angle-down(ng-show="collapseSort")
                %i.icon-angle-up(ng-hide="collapseSort")

              .filters-group(ng-show="!collapseSort" data-ng-animate="'filters'")        
                .btn( ng-repeat="choice in getSortChoices()" 
                      ng-click="filters.sort = choice" 
                      ng-class="{active: filters.sort == choice}")
                  {{choice}}

  .row(ng-show="galleryItems.length == 0" ng-click="collapseFilters = true")
    .span12
      %h3 No results found, but perhaps you'd enjoy these ingredients?

  .row.gallery-contents(ng-click="collapseFilters = true")
    .span12
      %div(galleryscroll='loadData()')
        %div(ng-repeat='item in getDisplayItems()' ng-animate="'gallery-animation'")
          %csGalleryItem( title="item.title"
                          href="'ingredients/' + item.slug"
                          image="itemImageURL(item, 400)"
                          footer-right="maybeEditLink(item)"
                        )
  .row
    .span2.offset5
      .gallery-spinner(ng-show='spinner > 0')
        %i.icon-page-load
