- content_for :title, "Ingredients"
- content_for :description, "Batch edit ingredients"

.ingredient-index-container.container.section(ng-controller="IngredientsIndexController" ng-cloak)

  .row.section.controls
    .span12
      %form.form-inline
        %input.input-medium.search-query(type="search" placeholder="Ingredient name..." ng-model="searchString")
        %label.checkbox
          %input(ng-model="includeRecipes" type="checkbox")
            Include Recipes
        %button.btn.btn-primary(ng-click="loadIngredients()")
          More
        %i.icon-spinner.icon-spin(ng-show="dataLoading")

  .row.section-small
    .ingredient-index.span12(ng-grid="gridOptions")
