- content_for :title, "Ingredients"
- content_for :description, "Batch edit ingredients"

.ingredient-index-container.container.relative(ng-controller="IngredientsIndexController" infinite-scroll="loadIngredients()" infinite-scroll-distance="3" ng-cloak)

  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .form-horizontal
          %input.search-query(type="search" placeholder="Ingredient name..." ng-model="searchString")
          .btn-toolbar
            .btn-group
              %button.btn(ng-model="includeRecipes" btn-checkbox type="button")
                %i.icon-th-list(tooltip="Include recipes" )
              %button.btn(ng-click="refreshIngredients()")
                %i.icon-refresh(tooltip="Refresh list (use when you make changes in another window)")
            .btn-group
              %button.btn(ng-disabled="! canMerge()" ng-click="mergeSelected()" )
                .icon-pair(tooltip="Merge selected ingredients (No Undo!)")
                  %i.icon-arrow-right
                  %i.icon-arrow-left
              %button.btn(ng-disabled="! canDelete()" ng-click="deleteSelected()" )
                %i.icon-trash(tooltipe="Delete selected ingredients (No Undo!)")
          %i.loading-spinner.icon-spinner.icon-spin.pull-right(ng-show="dataLoading")


  .row.noprint(ng-cloak ng-show="alerts.length > 0")
    .span8.offset2
      %alert.alert-block(ng-repeat="alert in alerts" type="alert.type || 'error'" close="closeAlert($index)" ng-animate="'custom'")
        {{alert.message}}

  .row.grid
    .ingredient-index.span12(ng-grid="gridOptions")

  %div
    %div(close="usesModalOpen = false" modal="usesModalOpen" options="{backdropFade: true, dialogFade:true}")
      .modal-header
        %h3(ng-bind-html-unsafe="usesForModalIngredient.title")
      .modal-body
        %h2 Used In
        %ul
          %li(ng-repeat="activity in usesForModal")
            %a(ng-href="/activities/{{activity.id}}" target="_blank" ng-bind-html-unsafe="activity.title")
      .modal-footer
        %button.btn.btn-warning.cancel(ng-click="usesModalOpen = false") Close