- content_for :title, "Ingredient Gallery"
- content_for :description, "Become a better cook. Learn about these essential ingredients."
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.gallery-wrapper.relative(ng-controller='IngredientsGalleryController' ng-cloak)
  .row
    .span12
      %div
        .gallery-filter.navbar
          %ul.nav.left-group

            %form.navbar-search.relative(ng-click="collapse_filters = true")
              %input.search-query(type="search" placeholder="Search..." ng-model="filters.search_all")
              %a.clear-search(ng-click="filters.search_all = ''" ng-show="filters.search_all || '' != ''")
                %i.icon-remove

            %li.relative(ng-mouseenter="collapse_filters = false" ng-mouseleave="collapse_filters = true")
              .filter-collapser(ng-click="collapse_filters = ! collapse_filters")
                FILTER
                %i.icon-angle-down(ng-show="collapse_filters")
                %i.icon-angle-up(ng-hide="collapse_filters")
              .current-filter(ng-repeat="(k, f) in nonDefaultFilters()")
                {{f}}
                %span.reset-filter(ng-click="resetFilter(k)")
                  %i.icon-remove
              .filters-group(ng-show="!collapse_filters" data-ng-animate="'filters'" )
                .btn-group.first-separate
                  %csRadioButtons(ng-model="imageChoices" active="filters.image")
                .btn-group.first-separate
                  %csRadioButtons(ng-model="editLevelChoices" active="filters.edit_level")
                .btn-group.first-separate
                  %csRadioButtons(ng-model="purchaseableChoices" active="filters.purchaseable")
 
          %ul.nav.browse-group.pull-right(ng-click="collapse_filters = true")
            %li.browse-by Browse By
            %li(ng-repeat="choice in sortChoices" ng-hide="(filters.search_all || '') == ''")
              %a(ng-click="filters.sort = choice" ng-class="{active: filters.sort == choice}")
                {{choice}}
            %li(ng-repeat="choice in sortChoicesWhenNoSearch" ng-show="(filters.search_all || '') == ''")
              %a(ng-click="filters.sort = choice" ng-class="{active: filters.sort == choice}")
                {{choice}}

  .row(ng-show="galleryItems.length == 0" ng-click="collapse_filters = true")
    .span12
      %h3 No results found, but perhaps you'd enjoy these ingredients?

  .row.gallery-contents(ng-click="collapse_filters = true")
    .span12
      %div(galleryscroll='loadData()')
        %div(ng-repeat='item in getDisplayItems()' ng-animate="'gallery-animation'")
          %csGalleryItem( title="item.title"
                          href="'ingredients/' + item.slug"
                          image="itemImageURL(item, 400)"
                          footer-left=""
                          footer-right=""
                        )
  .row
    .span2.offset5
      .gallery-spinner(ng-show='spinner > 0')
        %i.icon-page-load
