- content_for :title, "Ingredient Gallery"
- content_for :description, "Become a better cook. Learn about these essential ingredients."
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.gallery-wrapper.relative(ng-controller='IngredientsGalleryController' ng-cloak)

  .gallery-controls.navbar

    %ul.nav.search-group
      %form.navbar-search.relative
        .input-group
          %input.search-query(  ng-model='input' 
                                ng-change='search(input)' 
                                placeholder='search')
          %a.clear-search(ng-click="clearSearch()")
            %i.icon-remove

        .filter-toggle(ng-click="filtersCollapsed = ! filtersCollapsed")
          FILTERS
          %i.icon-angle-down(ng-show="filtersCollapsed")
          %i.icon-angle-up(ng-hide="filtersCollapsed")

    %ul.nav.filters-group(ng-class="{'filters-collapsed' : filtersCollapsed}")
      %li
        %h5 Popular
        %a( ng-repeat="x in suggestedSearches" 
            ng-click="search(x)" 
            ng-class="{'active' : filters['search_all'] == x}")
          %span {{x}}

      %li
        %h5 Image
        %csRadioButtons(ng-model="imageChoices" active="filters.image")

      %li
        %h5 Edit Level
        %csRadioButtons.first-separate(ng-model="editLevelChoices" active="filters.edit_level")

      %li
        %h5 Sort
        %a( ng-repeat="choice in getSortChoices()" 
            ng-click="filters.sort = choice" 
            ng-class="{active: filters.sort == choice}") 
          %span {{choice}}

  .gallery-results(ng-class="{'reloading' : reloading}")
    .no-results(ng-show='noResults()')
      %h3 No results found. Here are some of our favorite ingredients:

    .gallery-items( infinite-scroll='next()' 
                    infinite-scroll-disabled='dataLoading' 
                    infinite-scroll-immediate-check='true' 
                    infinite-scroll-distance='1')

      %cs-index-item.cs-index-item( ng-repeat='ingredient in getResults() track by ingredient.id' 
                                    cs-title='ingredient.title' 
                                    url='ingredient.url' 
                                    image='ingredient.image_id')
    .load-checker                                
    .loading-icon-group(ng-show="dataLoading > 0")
      %i.icon-page-load

= render 'home/madlib_popup', registration_source: 'gallery'

%div(ng-cloak close="showNewIngredientModal = false" modal="showNewIngredientModal" options="modalOptions")
  .modal-header
    %h2 Add Ingredient
  .modal-body.new-ingredient-modal
    .section-tiny
      %input(type="text" ng-model="newIngredientName" placeholder="New ingredient name")
    .section(ng-show="possibleIngredientMatches")
      .div(ng-show="! exactMatchNewIngredient()")
        %h4 Could it be one of these? If so, click the name to edit the existing ingredient.
        %ul
          %li.anim-basic-fade(ng-repeat="ing in possibleIngredientMatches")
            %a(ng-href="/ingredients/{{ing.slug}}?edit=true" target="_blank" ) 
              {{ing.title}}
      .div(ng-show="exactMatchNewIngredient()")
        %h4 That ingredient already exists, click below to edit it.
        %ul
          %li
            %a(ng-href="/ingredients/{{exactMatchNewIngredient().slug}}?edit=true" target="_blank")
              {{exactMatchNewIngredient().title}}
  .modal-footer
    %i.icon-spinner.icon-spin(ng-show="newIngSpinner")
    .btn-group
      %button.btn.btn-link(ng-click="showNewIngredientModal = false") Cancel
      %button.btn(  ng-disabled="(newIngredientName.length < 3) || newIngSpinner || exactMatchNewIngredient()" 
                    ng-click="addAndEditNewIngredient()") 
        Create New Ingredient
