- content_for :title, "Ingredient Gallery"
- content_for :description, "Become a better cook. Learn about these essential ingredients."
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.gallery-wrapper.relative(ng-controller='IngredientsGalleryController' )
  .row(ng-cloak)
    .span12
      %div
        .gallery-filter.navbar
          %ul.nav.left-group

            %form.navbar-search.relative(ng-click="collapseFilters = true")
              %input.search-query(type="search" placeholder="Search..." ng-model="filters.search_all" ui-event='{blur: "trackSearch()"}')
              %a.clear-search(ng-click="filters.search_all = ''" ng-show="filters.search_all || '' != ''")
                %i.icon-remove

            %li.relative(ng-mouseenter="collapseFilters = false" ng-mouseleave="collapseFilters = true")
              .filter-collapser(ng-click="collapseFilters = ! collapseFilters")
                FILTER
                %i.icon-angle-down(ng-show="collapseFilters")
                %i.icon-angle-up(ng-hide="collapseFilters")
              .filters-group(ng-show="!collapseFilters" data-ng-animate="'filters'" )
                %csRadioButtons.first-separate(ng-model="imageChoices" active="filters.image")
                %csRadioButtons.first-separate(ng-model="editLevelChoices" active="filters.edit_level")
                //%csRadioButtons.first-separate(ng-model="purchaseableChoices" active="filters.purchaseable")

 
            %li.relative(ng-mouseenter="collapseSort = false" ng-mouseleave="collapseSort = true")
              .filter-collapser(ng-click="collapseSort = ! collapseSort")
                SORT
                %i.icon-angle-down(ng-show="collapseSort")
                %i.icon-angle-up(ng-hide="collapseSort")

              .filters-group(ng-show="!collapseSort" data-ng-animate="'filters'")        
                .btn( ng-repeat="choice in getSortChoices()" 
                      ng-click="filters.sort = choice" 
                      ng-class="{active: filters.sort == choice}")
                  {{choice}}
            .current-filter(ng-repeat="(k, f) in nonDefaultFilters()")
              {{f}}
              %span.reset-filter(ng-click="resetFilter(k)")
                %i.icon-remove
          .add-group.btn-group.pull-right(ng-show="filters.generator != 'ChefSteps'")
            %a.btn.btn-secondary.add-button(ng-click="showNewIngredientModal = true")
              Add Ingredient
            

  .row(ng-cloak ng-show="(galleryItems.length == 0) && initialLoadDone" ng-click="collapseFilters = true")
    .section
    .span12
      %h3 No results found, but perhaps you'd enjoy these ingredients?

  .row.gallery-contents(ng-cloak ng-click="collapseFilters = true")
    .span12
      %div(galleryscroll='loadData()')
        %div(ng-repeat='item in getDisplayItems()' ng-animate="'gallery-animation'")
          %csGalleryItem( title="item.title"
                          href="'/ingredients/' + item.slug"
                          image="itemImageURL(item, 400)"
                          footer-right="maybeEditLink(item)"
                        )
  .row
    .span2.offset5
      .gallery-spinner(ng-show='(spinner != 0) || (! initialLoadDone)')
        %i.icon-page-load

  %div(ng-cloak close="showNewIngredientModal = false" modal="showNewIngredientModal" options="modalOptions")
    .modal-header
      %h2 Add Ingredient
    .modal-body.new-ingredient-modal
      .section-tiny
        %input(type="text" ng-model="newIngredientName" placeholder="New ingredient name")
      .section(ng-show="possibleIngredientMatches")
        .div(ng-show="! exactMatchNewIngredient()")
          %h4 Could it be one of these? If so, click the name to edit the existing ingredient.
          %ul
            %li(ng-repeat="ing in possibleIngredientMatches")
              %a(ng-href="/ingredients/{{ing.slug}}?edit=true" target="_blank") 
                {{ing.title}}
        .div(ng-show="exactMatchNewIngredient()")
          %h4 That ingredient already exists, click below to edit it.
          %ul
            %li
              %a(ng-href="/ingredients/{{exactMatchNewIngredient().slug}}" target="_blank")
                {{exactMatchNewIngredient().title}}
    .modal-footer
      %i.icon-spinner.icon-spin(ng-show="newIngSpinner")
      .btn-group
        %button.btn.btn-link(ng-click="showNewIngredientModal = false") Cancel
        %button.btn(  ng-disabled="(newIngredientName.length < 3) || newIngSpinner || exactMatchNewIngredient()" 
                      ng-click="addAndEditNewIngredient") 
          Create New Ingredient
