- content_for :title, "Ingredients"
- content_for :description, "Batch edit ingredients"

.container.section(ng-controller="IngredientsIndexController" ng-cloak)
  %pre
    {{tableParams}}
  .row
    .span6
      %input(type="search" placeholder="Search..." ng-model="searchString")
  .row
    %table.table.ingredient-index-table(ng-table="tableParams")
      %tr(ng-repeat="ingredient in displayIngredients")
        %td(data-title="Name" data-title-text="Name" sortable="title")
          {{ingredient.title}}
        %td(data-title="Product" sortable="product_url")
          %a(ng-href="{{ingredient.product_url}}" ng-show="ingredient.product_url" target="_blank")
            Link

    .span12
      {{ingredient.title}}

