- content_for :title, "Ingredients"
- content_for :description, "Batch edit ingredients"

.admin-table.container.relative(ng-controller="IngredientsIndexController" infinite-scroll="loadIngredients()" infinite-scroll-distance="3" ng-cloak)

  .navbar
    .container
      .form-horizontal
        %input.search-query(type="search" placeholder="Ingredient name..." ng-model="searchString")
        %button.btn#exact-match(btn-checkbox type="button" ng-model="exactMatch")
          %span.icon-asterisk(tooltip="Exact Match Only")
        .btn-toolbar
          .btn-group
            %button.btn(ng-model="includeRecipes" btn-checkbox type="button")
              %span.icon-th-list(tooltip="Include recipes" )
            %button.btn#refresh-button(ng-click="refreshIngredients()")
              %span.icon-refresh(tooltip="Refresh list (use when you make changes in another window)")
          .btn-group
            %button.btn#merge-button(ng-disabled="! canMerge()" ng-click="setMergeKeeper(null); mergeModalOpen = true" )
              .icon-pair(tooltip="Merge selected ingredients (No Undo!)")
                %span.icon-arrow-right
                %span.icon-arrow-left
            %button.btn#delete-button(ng-disabled="! canDelete()" ng-click="deleteSelected()" )
              %span.icon-trash(tooltip="Delete selected ingredients (No Undo!)")
        %i.loading-spinner.icon-spinner.icon-spin.pull-right(ng-show="dataLoading")


  .row.grid
    .table-index.span12(ng-grid="gridOptions")


  -# This modal and the following ones would be a good use for ui-router, but I'm annoyed that they don't have a
  -# released build for 0.0.2 yet so I'm doing it the old fashioned way for now.
  %div.uses-modal(close="usesModalOpen = false" modal="usesModalOpen" options="modalOptions")
    .modal-header
      %h2(ng-bind-html="usesForModalIngredient.title")
    .modal-body
      %h3 Used In
      %ul
        %li(ng-repeat="activity in usesForModal")
          %a(ng-href="/activities/{{activity.id}}" target="_blank" ng-bind-html="activity.title")
    .modal-footer
      %button.btn.btn-warning.cancel(ng-click="usesModalOpen = false") Close

  -# See comment above
  %div.merge-modal(close="mergeModalOpen = false" modal="mergeModalOpen" options="modalOptions")
    .modal-header
      %h2 Merge Ingredients
      Click on the ingredient that you want to keep to see a preview of your merge.
    .modal-body
      %div.anim-basic-fade(ng-show="mergeKeeper")
        %h3 Will Be Kept
        %ul.to-keep
          %li(ng-bind-html="mergeKeeper.title")
            %a(ng-bind-html="mergeKeeper.title" ng-click="setMergeKeeper(ingredient)")
            %span
              \- Uses: {{mergeKeeper.use_count}}
            %span(ng-show="ingredient.product_url")
              \- Link: {{urlAsNiceText(mergeKeeper.product_url)}}

      %h3.anim-basic-fade(ng-show="mergeKeeper") Will Be Merged and Deleted
      %ul.to-delete
        %li.anim-basic-fade(ng-repeat="ingredient in gridOptions.selectedItems | orderBy:'useCount':true" ng-show="ingredient.id != mergeKeeper.id")
          %a.merge-link(ng-bind-html="ingredient.title" ng-click="setMergeKeeper(ingredient)")
          %span
            \- Uses: {{ingredient.use_count.toString()}}
          %span(ng-show="ingredient.product_url")
            \- Link: {{urlAsNiceText(ingredient.product_url)}}
          %span(ng-show="mergeKeeper && splitNote(ingredient)")
            ("{{splitNote(ingredient)}}" will be moved to note)

    .modal-footer
      %button.btn.warning(ng-click="mergeSelected(mergeKeeper)" ng-show="mergeKeeper") Merge (No Undo!)
      %button.btn.cancel(ng-click="mergeModalOpen = false") Cancel

  = render 'density_table'
