
= render 'layouts/filepicker'
- @body_tag_attributes = {:'ng-app' => "ChefStepsApp", :'ng-controller' => "IngredientShowController", :'data-ingredient-id' => @ingredient_id}

.container.ingredient-show(ng-cloak)
  .section

  .row
    .span12.relative
      .btn.btn-primary.edit-mode(ng-click="toggleEditMode()" ng-class="{'active' : editMode}")
        %i.icon-edit
      %h2(ng-bind-html-unsafe="ingredient.title")

  .row
    .span6
      .row.section
        .span6
          .noprint
            = render 'activities/hero_visual'
          //= render 'layouts/social_buttons', media_object: nil

      .row.section(ng-repeat="textField in ingredient.text_fields")
        .span6
          %div(ng-show="!! textField.contents|| editMode" ng-class="disableIf(! textField.contents)")
            %h3(ng-bind-html-unsafe="textField.title")
            %p(ng-model="textField.contents" contenteditable="true")          

    .span6.well
      .row.section(ng-show="usedInChefStepsActivities().length > 0")
        .span6
          %h3 Used In
          %ul
            %li(ng-repeat="activity in usedInChefStepsActivities()")
              %a(ng-href="/activities/{{activity.slug}}" ng-bind-html-unsafe="activity.title")

      .row.section(ng-show="frequentlyUsedWith().length > 0")
        .span6
          %h3 Often Used With
          %ul
            %li(ng-repeat="usedWith in frequentlyUsedWith()")
              %a(ng-href="/ingredients/{{usedWith.slug}}" ng-bind-html-unsafe="usedWith.title")

      .row.section(ng-show="ingredient.product_url")
        .span6
          %h3 Where To Buy
          %ul
            %li
              %a(ng-href="{{ingredient.product_url}}" target="_blank" ng-bind-html-unsafe="urlAsNiceText(ingredient.product_url)")
