.container.about-get-to-work
  .row
    .span12
      .section
        %h2 Get To Work
  .row.section
    .span6
      %strong Take a Class
      %br
      %p
        Our classes are guided workshops for those who want to get hands-on in the kitchen. They're informative, interactive, and entertaining... and quite unlike any cooking class you may have taken before. Each includes beautiful and brief instructional videos and fascinating background information that we guarantee will guide you to success. You'll master new skills that empower you to create your own recipes, and become more confident and creative in the kitchen. And you'll make some delicious food in the process. Success and satisfaction are guaranteed for those enrolled, or we'll refund you.
    .span6
      = render 'shared/cs_blinders', media_objects: @classes, object_path: '/classes'

  .row.section
    .span6
      %strong Try a New Recipe
      %br
      %p
        Our recipes are reliable, original, and developed by our award-winning culinary team. Each recipe is demonstrated with a brief and entertaining video; we highlight key techniques with beautiful photography, and every step is clearly explained. And it doesn't stop there: Want to adjust the quantities in a recipe to suit your needs? Simply click on the amounts and change them to scale the recipe accurately up or down. Want to radically change the recipe? You can "fork" it and make it your own, then share it. We're revolutionizing recipes by making them entertaining and interactive, and ensuring that culinary success is easier and more fun than ever before.
    .span6
      = render 'shared/cs_blinders', media_objects: @recipes, object_path: '/activities'

  .row
    .span6
      %strong Learn a New Technique
      %br
      %p
        ChefSteps makes modernist and traditional cooking techniques more accessible with succinct step-by-step demonstrations.  Learning new techniques will enable you to create your own original recipes, improvise amazing meals for family and friends, and simply improve your cooking skills.

      %strong Absorb the Science
      %br
      %p
        Here at ChefSteps, we're committed to teaching you the why behind the how.  We support our classes, recipes, and techniques with explanations of the science and history behind the food.  We believe you'll become a more confident, resourceful, and creative cook if you understand how cooking really works.  (Plus, we love trying crazy science stuff and making slow-motion videos.  So there's that, too.)
    .span6
      %strong Get Support
      %br
      %p
        Our James Beard award-winning team is committed to supporting you in your culinary adventures.  If you love browsing our recipes and videos and want to ask questions, sign up for our forum or ping us on social media -- we do our best to respond thoroughly and often.  If you're enrolled in a class, we provide personal support and engagement every step of the way.

      %strong Get Involved
      %br
      %p
        Our forum is an active and friendly community of novice and experienced cooks, including many professional chefs.  Sign up with ChefSteps and get your questions answered by our passionate community, including the creative team behind Modernist Cuisine (that's us), often within minutes.  ChefSteps members can also start community discussions, interact with other members, and post their own recipes, photos, and videos.