.container
  .row
    .span12
      .row.section
        .span10
          %h2 Latest from ChefSteps
        .span2.text-right
          = link_to 'See More', gallery_index_path, class: 'btn btn-large btn-outline-blue-large'
      = render 'shared/horizontal_slider', items: @latest, direction: 'right'

  .row
    .span8
    .span4
      %h2 Activity Stream
      / .stream
      /   - @followings_stream.each do |event|
      /     - path_array = event.group_type.downcase.split('_')
      /     - folder = path_array.first
      /     - file = (path_array - [folder]).join('_')
      /     = render "/activity_stream/#{folder}/#{file}", event: event
      /     %hr
      / = paginate @followings_stream
      .stream(ng-controller='StreamsController' ng-init="init()")
        %div(ng-repeat='stream in streams')
          %div(ng-switch="stream.group_type")
            %div(ng-switch-when='Comment_create')
              %div(ng-include src="'stream_views/comment_create.html'")
            %div(ng-switch-when='Course_enroll')
              %div(ng-include src="'stream_views/course_enroll.html'")
            %div(ng-switch-when='Like_create')
              %div(ng-include src="'stream_views/like_create.html'")
            %div(ng-switch-when='Upload_create')
              %div(ng-include src="'stream_views/upload_create.html'")
            %div(ng-switch-when='Vote_create')
              %div(ng-include src="'stream_views/vote_create.html'")

        %a.btn.btn-outline-blue-large(ng-click="loadMore()")
          See More
    .span2
