.container
  .row
    .span12
      %h2 Activity
    .span10
      .row
        .container-fluid
          .row-fluid
            - current_user.events.timeline.first(4).each do |event|
              - trackable = event.trackable
              .span3
                - case trackable.class.to_s
                - when 'Comment'
                  = link_to trackable.commentable do
                    = trackable.commentable.title
                    = image_tag filepicker_gallery_image(trackable.commentable.featured_image)