.billboard-spherification
  .foreground
    .text-content
      .heading1
        Learn All About
      .heading2
        Spherification
      .heading3
        from some of the
      .heading4
        best chefs in the world

  .background
    %video{loop: 'loop', autoplay: 'autoplay'}
      %source{src: 'assets/spheres-loop-2.mp4'}