#billboard-spherification
  .foreground
    .text-content
      .billboard-heading.heading1
        Create spheres   
      .billboard-heading.heading2
        that burst with flavor
      .billboard-heading.heading3-b
        learn spherification
      .billboard-heading.heading4-b
        with our help
      .billboard-heading.heading5.section
        = link_to 'START NOW', 'courses/spherification', class: 'btn btn-primary btn-large'

  .background
    %video{loop: 'loop', autoplay: 'autoplay'}
      %source{src: 'assets/spheres-loop-2.mp4'}