.container.customer-feedback-panel
  %div
    %img.customer-feedback-panel__logo{ src: image_path('feedback_panel.gif') }

    %h2 About the Joule Customer Feedback Panel
    %p Would you like to share your experiences using Joule or help us test new features? Here’s your chance!
    %p Feedback from Joule cooks like you is vital in building the best possible product. So we’re creating the Joule Customer Feedback Panel&mdash;basically a group of cooks who can provide insights into their experience with Joule and give feedback about our newest ideas. 

    %h3 What is Joule’s Customer Feedback Panel?
    %p As a member of our panel, you’ll get opportunities to help us by giving feedback in a variety of ways. You’ll help shape the future of Joule and be one of the first to see shiny new ideas from our team.

    %h3 How do I sign up?
    %p Want to be part of our feedback team? If you’re interested, sign up by taking this <a href="https://www.surveymonkey.com/r/GLFTB82">short survey</a>.

    %h3 What kind of feedback am I going to be giving?
    %p We’re looking to include Joule cooks like you at every stage of the design process. This can mean anything from answering a quick survey to testing a new prototype to one-on-one conversations with our product design team. There are so many ways for you to weigh in and shape the future of the product.

    %h3 How often will you be contacting me?
    %p Don’t worry&mdash;we’re not going to flood your in-box. Expect to hear from us about twice a month.

    %p If you have any additional questions, you can contact us at <a href="mailto:uxresearch@chefsteps.com">uxresearch@chefsteps.com</a>.