%div(ng-controller="LoginController" ng-init="registrationSource='embeddableSignup'; authentication.setCurrentUser(#{current_user.to_json}); showForm='signUp'; formFor='embed'; openWelcomeOrSignup()")
  = render "devise/sessions/new_angular"