.madlib-mini(ng-controller="LoginController" ng-show="!authentication.currentUser()" ng-cloak ng-init="authentication.setCurrentUser(#{current_user.to_json(methods: :authentication_token, include: [:enrollments])}); registrationSource='embeddableMadlib'; formFor='purchase';")
  = render "devise/sessions/new_angular"
  = render 'home/madlib'