#legal
  #facebook-optout
    %h3 Facebook Custom Audiences Opt-Out

    %p Filling out this form will opt you out of facebook's custom audience that ChefSteps' uses.  It will take up to 72 hours to remove you from the list.

    %form(action="/facebook_optout" method="post")
      .form-input
        %input(type="text" name="email" id="email" placeholder="Your Email Address")
      .form-submit
        %input(type='submit' value="Opt Out")
