- content_for :title, "Cook Smarter"
- content_for :description, "ChefSteps is here to make cooking more fun. Get recipes, tips, and videos that show the whys behind the hows for sous vide, grilling, baking, and more."

= render 'homepage'

= content_for :footer do
  = render 'layouts/footer'
