
.container-fluid
  .navbar
    .navbar-inner
      %a.brand{ href: root_path } ChefSteps

  .row-fluid
    .center.span12
      %img{ src: 'http://lorempixel.com/1600/900/food' }

  .row-fluid
    .span4
      Side
    .span3.offset2
      Offset
