- content_for :title, "Cook Smarter"
- content_for :description, "Founded by key members of the Modernist Cuisine team, ChefSteps creates entertaining, hands-on online cooking classes that inspire creativity and encourage expertise in the kitchen."

/ = render 'standard_homepage'
- if current_user
  = render 'signed_in_homepage'
- else
  = render 'standard_homepage'

= content_for :footer do
  = render 'layouts/footer'
