- content_for :title, "Cook Smarter"
- content_for :description, "A team of award-winning chefs, filmmakers, scientists, designers, and engineers focused on revolutionizing the way people cook."

= render 'homepage'

= content_for :footer do
  = render 'layouts/footer'
