- content_for :title, "Learn how to be a better cook."
- content_for :description, "Online cooking school from key members of the Modernist Cuisine team. Our first course will teach you everything you need to know about sous vide cooking."

= render 'index_B'