.chefsteps-filter
.container-fluid#madlib-container(ng-controller="LoginController" ng-init="registrationSource='kiosk'" ng-cloak)
  = render "devise/sessions/new_angular"
  .row-fluid
    .container
      .row
        .span10.offset1.relative
          = render 'madlib'