.container-fluid.well-gradient#madlib-container(ng-controller="LoginController" ng-init="registrationSource='homeMadlib'")
  = render "devise/sessions/new_angular"
  .row-fluid
    .container
      .row
        .span10.offset1.relative
          = render 'madlib'