// This may not be necessary.  The original thinking was to make it easy to manage just the homepage components.  Or at least to see the mappings.

%h1 Home Manager

%h5 Home Hero One
%div(component-load component-id='home-hero-one')

%h5 Home Matrix One
%div(component-load component-id='home-matrix-one')

%h5 Home List One | Home List One
.home-component-split
  .home-component-split-item(component-load component-id='home-list-one')
  .home-component-split-item(component-load component-id='home-list-one')

%h5 Home Matrix Two
%div(component-load component-id='home-matrix-two')

%h5 Home Hero Two
%div(component-load component-id='home-hero-two')

%h5 Home Matrix Three
%div(component-load component-id='home-matrix-three')

%h5 Home Matrix Four
%div(component-load component-id='home-matrix-four')

%h5 Home Hero Three
%div(component-load component-id='home-hero-three')

%h5 Home Matrix Five
%div(component-load component-id='home-matrix-five')

%h5 Home Matrix Six
%div(component-load component-id='home-matrix-six')
