%div(ng-controller='HomeController as home')
  %div(ng-repeat='container in home.example')
    %div(cs-container-form form-data='container' form-state='container.formState')

.home-manager(ng-controller='HomeManagerController as manager')
  %div(ng-repeat='container in manager.content')
    %div(cs-container-form form-data='container' form-state='container.formState')

  .home-manager-add-toggle(ng-click='manager.addToggle()' ng-cloak)
    %div(ng-if='!manager.showAddMenu')
      Add
    %div(ng-if='manager.showAddMenu')
      Cancel

  .home-manager-add-menu-container(ng-cloak)
    .home-manager-add-menu(ng-class="{true: 'active', false: 'inactive'}[manager.showAddMenu]")
      .home-manager-add-item(ng-click="manager.add('hero')")
        Hero
      .home-manager-add-item(ng-click="manager.add('list')")
        List
      .home-manager-add-item(ng-click="manager.add('matrix', {rows:2, columns: 3})")
        Matrix