.container
  %div(ng-controller='HomeManagerController as manager')
    %h1 Home Manager

  %h3 Container Creator
  %div(ng-controller='ContainerCreatorController as creator')
    %label Container Type
    %select(ng-options='option.name for option in creator.containerTypeOptions' ng-model='creator.containerType' required)

    %div(ng-include="creator.containerType.url")

    -# %div(ng-switch='creator.containerType.name')
    -#   %div(ng-switch-when='hero')
    -#     %div(cs-hero='{{creator.form}}' ng-if="creator.containerType.name == 'hero'")
    -#   %div(ng-switch-when='standard')
    -#     STANDARD!
    -#   %div(ng-switch-default)
    -#     DEFAULT
    -#     {{creator.containerType.name}}

    -# %div(preview='creator.form')
    -#   %div(cs-hero='{{creator.form}}' ng-if="creator.containerType.name == 'hero'")
    -#   %div(cs-standard='{{creator.form}}' max-items='{{creator.form.maxItems}}' ng-if="creator.containerType.name == 'standard'")