.container
  %div(ng-controller='HomeManagerController as manager')
    %h1 Home Manager

  %h3 Container Creator
  %div(ng-controller='ContainerCreatorController as creator')
    %label Container Type
    %select(ng-options='option.name for option in creator.containerTypeOptions' ng-model='creator.containerType' required)

    %div(ng-include="creator.containerType.url")

    -# %form(name='creator.form' ng-submit='creator.submit()')
      
    -#   %label Source
    -#   %input(ng-model='creator.source')

    -#   %label Number of items
    -#   %input(ng-model='creator.numItems')

    -#   %button(type='submit')
    -#     submit


    -# %h3 Raw:
    -# {{creator}}
    -# %h3 Preview
    -# %div(ng-controller='HomeController as home')
    -#   %div(ng-switch='creator.containerType')
    -#     %div(cs-hero='creator' ng-switch-when='hero')
    -#     %div(cs-standard='creator' ng-switch-when='standard')

  -# %div(ng-controller='HomeController as home')
  -#   %div(ng-repeat='item in home.content')
  -#     %div(ng-switch='item.containerType')
  -#       %div(cs-hero='item' ng-switch-when='hero')
  -#       %div(cs-standard='item' ng-switch-when='standard')