.creator-container(ng-controller='ContainerCreatorController as creator')
  .creator
    .creator-form
      %label Container Type
      %select(ng-options='option.name for option in creator.containerTypeOptions' ng-model='creator.containerType' required)

      %div(ng-include="creator.containerType.url")

    .creator-preview(ng-switch='creator.containerType.name')
      %div(ng-switch-when='hero')
        %div(cs-hero='{{creator.form}}')
      %div(ng-switch-when='standard')
        %div(cs-standard='{{creator.form}}' max-items='{{creator.form.maxItems}}')