%div(component-load component-id='hero-one')
%div(component-load component-id='matrix-one')

.home-component-split
  .home-component-split-item(component-load component-id='list-one')
  .home-component-split-item(component-load component-id='list-one')

%div(component-load component-id='matrix-two')
%div(component-load component-id='hero-two')
%div(component-load component-id='matrix-three')
%div(component-load component-id='matrix-four')
%div(component-load component-id='hero-three')
%div(component-load component-id='matrix-five')
%div(component-load component-id='matrix-six')
