%div(ng-controller='homeController as home')
  .btn.btn-primary(ng-if='home.editable' ng-click="home.showEditable = ! home.showEditable")
    Toggle Edit

  %component-edit-button(component-name='Home Hero One' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-hero-one')

  %component-edit-button(component-name='Home Matrix One' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-one')

  .home-component-split
    .home-component-split-item
      %component-edit-button(component-name='Home List One' ng-if='home.editable && home.showEditable')
      %div(component-load component-id='home-list-one')

    .home-component-split-item
      %component-edit-button(component-name='Home List One' ng-if='home.editable && home.showEditable')
      %div(component-load component-id='home-list-one')

  %component-edit-button(component-name='Home Matrix Two' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-two')

  %component-edit-button(component-name='Home Hero Two' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-hero-two')

  %component-edit-button(component-name='Home Matrix Three' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-three')

  %component-edit-button(component-name='Home Matrix Four' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-four')

  %component-edit-button(component-name='Home Hero Three' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-hero-three')

  %component-edit-button(component-name='Home Matrix Five' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-five')

  %component-edit-button(component-name='Home Matrix Six' ng-if='home.editable && home.showEditable')
  %div(component-load component-id='home-matrix-six')
