-# CONTAINERS
-# Gallery
-# Matrix
-# List


-# ITEMS
-# Hero
-# Standard Style 2 (photo, title, description)
-# Minimal (photo)
-# Circle (photo, title, description)
-# Standard Style 1 (photo, title)
-# List Item

-# .matrix
-#   .matrix-hero
-#     .matrix-hero-content
-#       .matrix-hero-image
-#         %img(src='https://d3awvtnmmsvyot.cloudfront.net/api/file/Ip0MOte2TdWlXELNtiKD')
-#       .matrix-hero-cta
-#         %h2 Scoop that shit out.
-#         %button Get the recipe

.cs-hero
  .cs-hero-content
    .cs-hero-image
      %img(src='https://d3awvtnmmsvyot.cloudfront.net/api/file/Ip0MOte2TdWlXELNtiKD')
    .cs-hero-cta
      %h2 Scoop that shit out.
      %button Get the recipe

.cs-container-standard
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
  .cs-item-container
    .cs-item-standard
      .cs-item-image
        %img(src='http://placehold.it/320x180')
      .cs-item-title
        %h3 Standing Rib Roast
      .cs-item-description
        %p If you throw a last-minute dinner but then serve your guests a gorgeous rib roast, they’re going to think you’re some kind of wizard. Deep brown crust, juicy pink meat—prime rib is elegant, crowd-friendly, and really quite easy to prepare, requiring no special equipment or hard-to-find ingredients.
