-# CONTAINERS
-# Gallery
-# Matrix
-# List


-# ITEMS
-# Hero
-# Standard Style 2 (photo, title, description)
-# Minimal (photo)
-# Circle (photo, title, description)
-# Standard Style 1 (photo, title)
-# List Item

.matrix
  .matrix-hero
    .matrix-hero-content
      .matrix-hero-image
        %img(src='https://d3awvtnmmsvyot.cloudfront.net/api/file/Ip0MOte2TdWlXELNtiKD')
      .matrix-hero-cta
        %h2 Scoop that shit out.
        %button Get the recipe