%div(component-load component-id='home-hero-one')
%div(component-load component-id='home-matrix-one')

.home-component-split
  .home-component-split-item(component-load component-id='home-list-one')
  .home-component-split-item(component-load component-id='home-list-one')

%div(component-load component-id='home-matrix-two')
%div(component-load component-id='home-hero-two')
%div(component-load component-id='home-matrix-three')
%div(component-load component-id='home-matrix-four')
%div(component-load component-id='home-hero-three')
%div(component-load component-id='home-matrix-five')
%div(component-load component-id='home-matrix-six')
