-# TODO Make the metatags below angularized.  We won't be able to do this until we update application.html
- content_for :title, "Cook Smarter"
- content_for :description, "ChefSteps is here to make cooking more fun. Get recipes, tips, and videos that show the whys behind the hows for sous vide, grilling, baking, and more."
- content_for :keywords, "ChefSteps, Chef, Cooking, Sous Vide, Modernist, Baking, Barbecue, Cooking School"

-# TODO Make the madlib into a real component
.container-fluid.well-gradient#madlib-container-new(ng-controller="LoginController" ng-show="!authentication.currentUser()" ng-cloak ng-init="registrationSource='homeMadlib'; setIntent('ftue')")
  = render "devise/sessions/new_angular"
  .row-fluid
    .container
      .row
        .span10.offset1.relative
          = render 'madlib'

.new-home(ng-controller='homeController as home' ng-cloak)

  .component-container(component-load component-id='home-one')

  .component-container(component-load component-id='home-two')

  .component-container(component-load component-id='home-three')

  .component-container(component-load component-id='home-four')

  .component-container(component-load component-id='home-five')

  .component-container(component-load component-id='home-six')

  .component-container(component-load component-id='home-seven')

  .component-container(component-load component-id='home-eight')

-# TODO Make the footer into a real component
= content_for :footer do
  = render 'layouts/footer'
