


.container#legal
  #terms
    %div
      %h2.pull-left Joule WEEE Compliance

      - if @languages.length > 1
        .pull-right
          = select_tag :lang, options_for_select(@languages, @selected_language), {:onchange => "window.location.href='/cookie-policy?language=' + this.value"}

    %p.clearfix

    %p In the United Kingdom, private households may take WEEE to the appropriate municipal disposal authorities, and at seller or producer arranged disposal locations, which can be located via this website: https://www.recyclenow.com/

    %p UK WEEE Registration WEE/AX3811VA/PRO
    %p Spain WEEE Registration 6780

    %p End-of-life electronics contain materials that can have toxic effects on human, animal, and plant health. Collection and recycling of WEEE reduces the hazardous impacts of this waste, while contributing to the conservation of natural resources and efficient reallocation of valuable raw materials that are contained in waste electrical and electronic equipment.

    = image_tag '2000px-WEEE_symbol_vectors.svg.png', :size => '200x200'


