.container.smoker(ng-controller="SmokerController" ng-cloak)
  -#%pre
    {{ state | json }}

  %h1.title
    Smoker Prototype N+1

  .all-controls
    .lrpair.first
      .left
        %label.control-label
          %h4 Probe 1 Temp
        %h1
          {{probe1Temp}} 째C

      .right
        %label.control-label
          %h4 Probe 2 Temp
        %h1
          {{probe2Temp}} 째C


    -# %hr

    .lrpair
      .left
        %label.control-label
          %h4 Target Temp
        .controls
          %input.input-full.inline(ng-model="targetTemp" type="text")
          %h1.inline
            째C
           
      .right
        %label.control-label
          %h4 Current Temp
        .controls
          %h1(ng-class="colorClass(targetTemp, state.temperatureValue)")
            {{state.temperatureValue}}  째C

    .lrpair
      .left
        %label.control-label
          %h4 Target RH
        .controls
          %input.input-full.inline(ng-model="targetRH" type="text")
            %h1.inline
              \%
           
      .right
        %label.control-label
          %h4 Current RH
        .controls
          %h1(ng-class="colorClass(targetRH, state.humidityValue)")
            {{state.humidityValue}} %


    .lrpair
      .left
        %label.control-label
          %h4 Smoke
        .btn-group
          %button.btn(btn-radio="false" ng-model="smokeState" type="button") Off
          %button.btn(btn-radio="true" ng-model="smokeState" type="button") On

      .right
        %label.control-label
          %h4 Fan
        .btn-group
          %button.btn(btn-radio="false" ng-model="fanState" type="button") Off
          %button.btn(btn-radio="true" ng-model="fanState" type="button") On


= content_for :footer do
  = render 'layouts/footer'
