.container.smoker.relative(ng-controller="SmokerController" ng-cloak)

  %h1.title
    SmokeBox N+1

  .all-controls
    .lrpair.first
      .left
        %label.control-label
          %h4 Probe 1 Temp
        %h1
          {{probe1Temp}} °C

      .right
        %label.control-label
          %h4 Probe 2 Temp
        %h1
          {{probe2Temp}} °C


    -# %hr

    .lrpair
      .left
        %label.control-label
          %h4 Target Temp
        .controls
          %input.input-full.inline(ng-model="state.temperatureSetPoint" type="text" ui-event='{focus : "pauseLoad = true", blur: "pauseLoad = false"}')
          %h1.inline
            °C
           
      .right
        %label.control-label
          %h4 Current Temp
        .controls
          %h1(ng-class="colorClass(state.temperatureSetPoint, state.temperatureValue)" )
            {{state.temperatureValue}}  °C

    .lrpair
      .left
        %label.control-label
          %h4 Target RH
        .controls
          %input.input-full.inline(ng-model="state.humiditySetPoint" type="text" ui-event='{focus : "pauseLoad = true", blur: "pauseLoad = false"}')
            %h1.inline
              \%
           
      .right
        %label.control-label
          %h4 Current RH
        .controls
          %h1(ng-class="colorClass(state.humiditySetPoint, state.humidityValue)")
            {{state.humidityValue}} %

    .lrpair
      .right.right-only
        %label.control-label
          %h4 Wet Bulb Temp
        .controls
          %h1
            {{wetBulb()}} °C


    .lrpair
      .left
        %label.control-label
          %h4 Smoke
        .btn-group
          %button.btn(btn-radio="false" ng-model="smokeState" type="button") Off
          %button.btn(btn-radio="true" ng-model="smokeState" type="button") On

      .right
        %label.control-label
          %h4 Fan
        .btn-group
          %button.btn(btn-radio="false" ng-model="fanState" type="button") Off
          %button.btn(btn-radio="true" ng-model="fanState" type="button") On

  -#%pre
    {{ state | json }}

  .loading
    %i.icon-2x.icon-spinner(ng-class="{'icon-spin': loading}")

= content_for :footer do
  = render 'layouts/footer'
