#terms
  %p CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE CHEFSTEPS
  %p Derni&#xE8;re mise &#xE0; jour&#xA0;: 13/1/2017
  %p
    LISEZ ATTENTIVEMENT LES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE, Y COMPRIS LA CLAUSE IMP&#xC9;RATIVE D&#x2019;ARBITRAGE DE L&#x2019;ARTICLE 18 POUR LES R&#xC9;SIDENTS DES &#xC9;TATS-UNIS. SI VOUS NE R&#xC9;SIDEZ PAS AUX &#xC9;TATS-UNIS, D&#x2019;AUTRES CONDITIONS PEUVENT S&#x2019;APPLIQUER
    \&#xC0; VOUS, QU&#x2019;ELLES COMPL&#xC8;TENT OU REMPLACENT CERTAINES CLAUSES DES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE. POUR SAVOIR SI D&#x2019;AUTRES CONDITIONS S&#x2019;APPLIQUENT &#xC0; VOUS, CONSULTEZ LA FIN DE CE DOCUMENT.
  %p
    EN CLIQUANT AFIN D&#x2019;EXPRIMER VOTRE ACCEPTATION DES PR&#xC9;SENTES CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE, OU ENCORE EN ACC&#xC9;DANT &#xC0; NOS PRODUITS ET SERVICES (QUI SONT D&#xC9;FINIS CI-DESSOUS) OU EN LES UTILISANT, VOUS ACCEPTEZ D&#x2019;&#xCA;TRE LI&#xC9;(E) PAR LES PR&#xC9;SENTES
    CONDITIONS G&#xC9;N&#xC9;RALES D&#x2019;UTILISATION ET DE VENTE ET PAR L&#x2019;ENSEMBLE DES CONDITIONS QUI SONT MENTIONN&#xC9;ES DANS LES PR&#xC9;SENTES. SI VOUS N&#x2019;ACCEPTEZ PAS L&#x2019;ENSEMBLE DE CES TERMES, N&#x2019;ACC&#xC9;DEZ PAS &#xC0; NOS PRODUITS OU SERVICES, NE LES ACHETEZ PAS ET NE LES UTILISEZ
    PAS.
  %p
    Les pr&#xE9;sentes conditions g&#xE9;n&#xE9;rales d&#x2019;utilisation et de vente (&#xAB;&#xA0;
    %strong> Conditions
    \&#xA0;&#xBB;) s&#x2019;appliquent &#xE0; l&#x2019;acc&#xE8;s, par vous-m&#xEA;me, aux Produits et services de ChefSteps, Inc. (&#xAB;&#xA0;
    %strong> ChefSteps&#xA0;&#xBB;
    , &#xAB;&#xA0;
    %strong> nous&#xA0;&#xBB;, &#xAB;&#xA0;notre&#xA0;&#xBB; ou &#xAB;&#xA0;nos
    \&#xA0;&#xBB;),
    soci&#xE9;t&#xE9; constitu&#xE9;e dans l&#x2019;&#xE9;tat de Washington (&#xC9;tats-Unis) et sise au 1501 Pike Place, #300, Seattle, Washington, 98101, dont le num&#xE9;ro d&#x2019;identification fiscale est le
    464326180
    , et &#xE0; leur utilisation. Le terme &#xAB;&#xA0;
    %strong> Produits
    \&#xA0;&#xBB; d&#xE9;signe
    le mat&#xE9;riel et les dispositifs physiques vendus par ChefSteps, parmi lesquels le Joule Circulator et le Joule Big Clamp. Le terme &#xAB;&#xA0;
    %strong> Services
    \&#xA0;&#xBB; d&#xE9;signe nos sites Internet, nos applications mobiles et autres Produits et services en ligne.
  %p
    Les pr&#xE9;sentes conditions ne modifient en aucune mani&#xE8;re les modalit&#xE9;s d&#x2019;un autre accord que vous auriez conclu avec nous concernant des Produits, Services ou tout autre accord. Si vous utilisez les Produits ou Services pour le compte d&#x2019;une personne morale,
    vous d&#xE9;clarez et garantissez que vous &#xEA;tes autoris&#xE9;(e) &#xE0; accepter les pr&#xE9;sentes conditions pour le compte de cette personne morale et qu&#x2019;elle accepte d&#x2019;engager sa responsabilit&#xE9; si vous ou elle ne respecte(z) pas les pr&#xE9;sentes conditions.
  %p
    ChefSteps se r&#xE9;serve le droit de modifier les pr&#xE9;sentes conditions &#xE0; tout moment et &#xE0; son gr&#xE9;. Si nous apportons des modifications aux pr&#xE9;sentes conditions, nous vous aviserons de ces modifications, par exemple en vous envoyant une notification par e-mail,
    en vous en avisant dans le cadre des services ou en actualisant la date de &#xAB;&#xA0;
    %strong> Derni&#xE8;re mise &#xE0; jour
    \&#xA0;&#xBB; indiqu&#xE9;e au d&#xE9;but des pr&#xE9;sentes conditions. En continuant d&#x2019;utiliser les Services, vous confirmerez que vous acceptez les conditions
    r&#xE9;vis&#xE9;es. Nous vous conseillons de consultez fr&#xE9;quemment les conditions afin de vous assurer que vous comprenez les modalit&#xE9;s qui s&#x2019;appliquent lorsque vous acc&#xE9;dez aux services ou les utilisez. Si vous n&#x2019;acceptez pas les conditions r&#xE9;vis&#xE9;es, vous n&#x2019;avez
    pas le droit d&#x2019;acc&#xE9;der aux services ni de les utiliser. Les modifications que nous apportons ne sauront affecter vos droits concernant des Produits d&#xE9;j&#xE0; achet&#xE9;s ni les commandes d&#xE9;j&#xE0; pass&#xE9;es.
  %h3 1.	Politique de confidentialit&#xE9;
  = succeed "." do
    %p
      Pour de plus amples information sur la mani&#xE8;re dont nous recueillons, dont nous utilisons et dont nous divulguons des informations sur vous, consultez notre
      %a{:href => "https://www.chefsteps.com/privacy”>Politique de confidentialité"}
