#terms
  %p CHEFSTEPS NUTZUNGS- UND VERKAUFSBEDINGUNGEN
  %p Zuletzt aktualisiert: 13/1/2017
  %p
    Bitte lesen Sie diese Nutzungs- und Verkaufsbedingungen sorgf&#xE4;ltig durch, einschlieSSlich der f&#xFC;r rEsidenten der vereinigten STaaten verbindlichen Schiedsbestimmungen in Ziffer 18. Wenn Sie au&#xDF;erhalb der Vereinigten STaaten wohnhaft sind, k&#xF6;nnen zus&#xE4;tzliche
    bestimmungen und bedingungen, welche bestimmte bestimmungen dieser Nutzungs- und verkaufsbedingungen erg&#xE4;nzen oder ersetzen, f&#xFC;r sie gelten. bitte pr&#xFC;fen Sie das ende dieses dokuments, um festzustellen, ob zus&#xE4;tzliche bestimmungen und bedingungen f&#xFC;r
    sie gelten.
  %p
    indem sie klicken, um ihre annahme dieser nutzungs- und Verkaufsbedingungen zu erkl&#xE4;ren, oder indem sie in sonstiger weise auf unsere produkte und leistungen (nachstehend definiert) zugreifen oder diese nutzen, verpflichten Sie sich dazu, an diese Nutzungs-
    und verkaufsbedingungen und alle darin in bezug genommenen bestimmungen gebunden zu sein. falls sie nicht alle diese bedingungen akzeptieren, greifen sie nicht auf unsere produkte oder leistungen zu und kaufen oder nutzen sie diese nicht.
  %p
    Diese Nutzungs- und Verkaufsbedingungen ("
    %strong> Bedingungen
    ") gelten f&#xFC;r Ihren Zugriff auf die Produkte und Leistungen der ChefSteps, Inc. ("
    %strong> ChefSteps
    ", "
    %strong> wir
    ", "
    %strong> uns
    " oder "
    %strong> unsere
    "),
    eine in dem Staat Washington, U.S.A., gegr&#xFC;ndete Gesellschaft mit Sitz in 1501 Pike Place, #300, Seattle, Washington, 98101, mit der Steueridentifikationsnummer
    464326180
    , und f&#xFC;r die Nutzung dieser Produkte und Leistungen. Der Begriff &#x201C;
    %strong> Produkte
    \&#x201D;
    bezeichnet die Hardware und die k&#xF6;rperlichen Ger&#xE4;te, die von ChefSteps verkauft werden, einschlie&#xDF;lich des Joule Circulator und des Joule Big Clamp. Der Begriff &#x201C;
    %strong> Leistungen
    \&#x201D; bezieht sich auf unsere Webseiten, mobilen Applikationen und
    sonstige Online-Produkte und Leistungen.
  %p
    Diese Bedingungen &#xE4;ndern in keiner Weise die Bestimmungen oder Bedingungen sonstiger Vereinbarungen, die Sie mit uns in Bezug auf Produkte, Leistungen oder Sonstiges abgeschlossen haben. Falls Sie die Produkte oder Leistungen f&#xFC;r einen Dritten nutzen,
    erkl&#xE4;ren und sichern Sie zu, dass Sie dazu befugt sind, diese Bedingungen f&#xFC;r den Dritten anzunehmen, und dass diese Dritte sich uns gegen&#xFC;ber damit einverstanden erkl&#xE4;ren, uns gegen&#xFC;ber verantwortlich zu sein, falls Sie oder der Dritte diese Bedingungen
    verletzt.
  %p
    ChefSteps beh&#xE4;lt sich das Recht vor, diese Bedingungen jederzeit und nach unserem freien Ermessen zu &#xE4;ndern oder zu modifizieren. Falls wir diese Bedingungen &#xE4;ndern, teilen wir diese &#xC4;nderungen mit, beispielsweise durch &#xDC;bersendung einer Mitteilung per
    Email, durch Mitteilung durch die Leistungen oder durch Aktualisierung des unter "
    %strong> Zuletzt aktualisiert
    " angegebenen Datums am Anfang dieser Bedingungen. Wir empfehlen Ihnen, die Bedingungen h&#xE4;ufig zu pr&#xFC;fen, um sicherzustellen, dass
    Sie die Bestimmungen und Bedingungen, die gelten, wenn Sie auf die Leistungen zugreifen oder diese nutzen, verstehen. Falls Sie mit den &#xFC;berarbeiteten Bedingungen nicht einverstanden sind, d&#xFC;rfen Sie auf die Leistungen nicht zugreifen oder diese nutzen.
    Jegliche &#xC4;nderungen, die wir vornehmen, lassen Ihre Rechte in Bezug auf Produkte, die Sie bereits gekauft haben, oder Bestellungen, die Sie bereits aufgegeben haben, unber&#xFC;hrt.
  %p
    %strong 1.	Datenschutzgrunds&#xE4;tze
  %p
    Bitte entnehmen Sie unseren
    %a{:href => "https://www.chefsteps.com/privacy”>Datenschutzgrundsätzen"}
  Informationen dar&#xFC;ber, wie wir Informationen &#xFC;ber Sie sammeln, nutzen und weitergeben.
