#terms
  %h3 CHEFSTEPS NUTZUNGS- UND VERKAUFSBEDINGUNGEN
  %p Zuletzt aktualisiert: 13/1/2017
  %p
    Bitte lesen Sie diese Nutzungs- und Verkaufsbedingungen sorgf&#xE4;ltig durch, einschlieSSlich der f&#xFC;r rEsidenten der vereinigten STaaten verbindlichen Schiedsbestimmungen in Ziffer 18. Wenn Sie au&#xDF;erhalb der Vereinigten STaaten wohnhaft sind, k&#xF6;nnen zus&#xE4;tzliche
    bestimmungen und bedingungen, welche bestimmte bestimmungen dieser Nutzungs- und verkaufsbedingungen erg&#xE4;nzen oder ersetzen, f&#xFC;r sie gelten. bitte pr&#xFC;fen Sie das ende dieses dokuments, um festzustellen, ob zus&#xE4;tzliche bestimmungen und bedingungen f&#xFC;r
    sie gelten.
  %p
    indem sie klicken, um ihre annahme dieser nutzungs- und Verkaufsbedingungen zu erkl&#xE4;ren, oder indem sie in sonstiger weise auf unsere produkte und leistungen (nachstehend definiert) zugreifen oder diese nutzen, verpflichten Sie sich dazu, an diese Nutzungs-
    und verkaufsbedingungen und alle darin in bezug genommenen bestimmungen gebunden zu sein. falls sie nicht alle diese bedingungen akzeptieren, greifen sie nicht auf unsere produkte oder leistungen zu und kaufen oder nutzen sie diese nicht.
  %p
    Diese Nutzungs- und Verkaufsbedingungen ("
    %strong> Bedingungen
    ") gelten f&#xFC;r Ihren Zugriff auf die Produkte und Leistungen der ChefSteps, Inc. ("
    %strong> ChefSteps
    ", "
    %strong> wir
    ", "
    %strong> uns
    " oder "
    %strong> unsere
    "),
    eine in dem Staat Washington, U.S.A., gegr&#xFC;ndete Gesellschaft mit Sitz in 1501 Pike Place, #300, Seattle, Washington, 98101, mit der Steueridentifikationsnummer
    464326180
    , und f&#xFC;r die Nutzung dieser Produkte und Leistungen. Der Begriff &#x201C;
    %strong> Produkte
    \&#x201D;
    bezeichnet die Hardware und die k&#xF6;rperlichen Ger&#xE4;te, die von ChefSteps verkauft werden, einschlie&#xDF;lich des Joule Circulator und des Joule Big Clamp. Der Begriff &#x201C;
    %strong> Leistungen
    \&#x201D; bezieht sich auf unsere Webseiten, mobilen Applikationen und
    sonstige Online-Produkte und Leistungen.
  %p
    Diese Bedingungen &#xE4;ndern in keiner Weise die Bestimmungen oder Bedingungen sonstiger Vereinbarungen, die Sie mit uns in Bezug auf Produkte, Leistungen oder Sonstiges abgeschlossen haben. Falls Sie die Produkte oder Leistungen f&#xFC;r einen Dritten nutzen,
    erkl&#xE4;ren und sichern Sie zu, dass Sie dazu befugt sind, diese Bedingungen f&#xFC;r den Dritten anzunehmen, und dass diese Dritte sich uns gegen&#xFC;ber damit einverstanden erkl&#xE4;ren, uns gegen&#xFC;ber verantwortlich zu sein, falls Sie oder der Dritte diese Bedingungen
    verletzt.
  %p
    ChefSteps beh&#xE4;lt sich das Recht vor, diese Bedingungen jederzeit und nach unserem freien Ermessen zu &#xE4;ndern oder zu modifizieren. Falls wir diese Bedingungen &#xE4;ndern, teilen wir diese &#xC4;nderungen mit, beispielsweise durch &#xDC;bersendung einer Mitteilung per
    Email, durch Mitteilung durch die Leistungen oder durch Aktualisierung des unter "
    %strong> Zuletzt aktualisiert
    " angegebenen Datums am Anfang dieser Bedingungen. Wir empfehlen Ihnen, die Bedingungen h&#xE4;ufig zu pr&#xFC;fen, um sicherzustellen, dass
    Sie die Bestimmungen und Bedingungen, die gelten, wenn Sie auf die Leistungen zugreifen oder diese nutzen, verstehen. Falls Sie mit den &#xFC;berarbeiteten Bedingungen nicht einverstanden sind, d&#xFC;rfen Sie auf die Leistungen nicht zugreifen oder diese nutzen.
    Jegliche &#xC4;nderungen, die wir vornehmen, lassen Ihre Rechte in Bezug auf Produkte, die Sie bereits gekauft haben, oder Bestellungen, die Sie bereits aufgegeben haben, unber&#xFC;hrt.
  %h3 1.	Datenschutzgrundsätze
  %p Bitte entnehmen Sie unseren Datenschutzgrundsätzen [insert hyperlink] Informationen darüber, wie wir Informationen über Sie sammeln, nutzen und weitergeben.
  %h3 2.	Zusätzliche Bedingungen
  %p
    Wenn Sie unsere Produkte und Leistungen nutzen, so unterliegt Ihre Nutzung den geltenden Bedingungen und Bestimmungen für diese Produkte und Leistungen. Wenn Sie beispielsweise unsere mobilen Applikationen herunterladen, installieren oder in sonstiger
    Weise nutzen, so unterliegt Ihre Nutzung unserer Endnutzerlizenzvereinbarung [insert hyperlink]. Wenn Sie Produkte kaufen, stimmen Sie unserer begrenzten Gewährleistung [insert hyperlink] zu.
  %h3 3.	Berechtigung; Registrierung und Konto; benötigte Geräte, ISP und Anbieter
  %p
    Berechtigung. Die Leistungen sind nicht an Personen, die noch nicht das Alter von 13 Jahren erreicht haben, gerichtet oder für sie gedacht. Falls Sie zwischen 13 und 18 Jahren alt sind (oder zwischen 13 Jahren und dem jeweils geltenden Volljährigkeitsalter),
    so können Sie diese Leistungen nur unter Aufsicht eines Elternteils oder Vormundes, der sich damit einverstanden erklärt, an diese Bedingungen gebunden zu sein, nutzen. Durch die Nutzung der Leistungen sichern Sie zu und gewährleisten, dass Sie (a) nicht
    bereits in der Vergangenheit vorübergehend oder endgültig von den Leistungen ausgeschlossen wurden oder andere Handlungen begegangen haben, welche zu einem vorübergehenden oder endgültigen Ausschluss von den Leistungen führen könnten, und (b) in vollem
    Umfang dazu befugt und berechtigt sind, diese Bedingungen abzuschließen, ohne dadurch irgendeine sonstige Vereinbarung, an der Sie als Partei beteiligt sind, zu verletzen.
  %p
    Registrierung und Konto. Für den Zugang und die Nutzung bestimmter Bereiche oder Merkmale der Leistungen müssen Sie sich für ein ChefSteps-Konto registrieren und/oder ein Profil erstellen. Wenn Sie sich für ein Konto registrieren, können Sie ohne Genehmigung
    des Markeninhabers keinen Kontonamen wählen, welcher eine Marke beinhaltet. Wir behalten uns das Recht vor, für Unternehmen oder Personen, welche Rechte einschließlich Markenrechte halten, in ihrem jeweiligen Namen solche Kontonamen zurückzufordern.
    Durch Erstellung eines Kontos verpflichten Sie sich dazu, (a) zutreffende, aktuelle und vollständige Kontoinformationen anzugeben, (b) Ihre Kontoinformationen jeweils nach Bedarf zu pflegen und umgehend zu aktualisieren, (c) die Sicherheit Ihrer Kontozugangsdaten
    zu wahren, (d) für die Handlungen oder Unterlassungen eines Dritten, den Sie dazu ermächtigen, auf Ihr Konto und die Leistungen zuzugreifen oder diese zu nutzen, verantwortlich zu sein, und (e) uns sofort zu informieren, falls Sie Sicherheitsverletzungen
    bezüglich der Leistungen oder Ihres Kontos entdecken oder vernünftigerweise vermuten.
  %p
    Benötigte Geräte, ISP und Anbieter. Sie erkennen an, dass die Verfügbarkeit bestimmte Leistungen von (a) Ihrem Computer, Mobiltelefon oder Tablet, Ihrer Heimverkabelung, Ihrem Wi-Fi Netzwerk zu Hause, Ihrer Bluetooth-Verbindung oder sonstiger entsprechender
    Ausstattung (”Geräte”), (b) Ihrem Internet-Anbieter (“
    %strong> ISP
    ”) und (c) Ihrem Mobiltelefon- oder Tablet-Anbieter (“
    %strong> Anbieter
    ”) abhängt. Sie sind damit einverstanden, dass Sie für alle Gebühren verantwortlich sind, die Ihr
    ISP und Anbieter im Zusammenhang mit Ihrer Nutzung der Leistungen abrechnet, und dass Sie für die Beachtung aller Vereinbarungen und sonstiger Regeln Ihres ISP und Anbieters verantwortlich sind. Sie erkennen des Weiteren an und sind damit einverstanden,
    dass Ihre Interaktionen mit Ihrem ISP und Anbieter ausschließlich zwischen Ihnen und solchen Dritten erfolgen und dass ChefSteps in keiner Weise für solche Interaktionen verantwortlich ist oder haftet.
  %h3 4.	Verkaufsbedingungen
  %h4 4.1.	Zahlungs- und Abrechungsinformationen
  %p
    Durch Angabe einer Kreditkarte oder einer sonstigen Zahlungsmethode, welche wir akzeptieren, sichern Sie zu und gewährleisten, dass Sie dazu berechtigt sind, die angegebene Zahlungsmethode zu verwenden und dass Sie uns (oder unserem außenstehenden Zahlungsabwickler)
    erlauben, über Ihre Zahlungsmethode den Gesamtbetrag Ihrer Bestellung (einschließlich geltender Steuern oder sonstiger Lasten) abzurechnen. Falls die Zahlungsmethode nicht verifiziert werden kann, ungültig ist oder in sonstiger Weise nicht akzeptabel
    ist, kann Ihre Bestellung suspendiert oder storniert werden. Sie müssen jegliches Problem, welches wir in Bezug auf die von Ihnen gewählte Zahlungsmethode erleben, zur Weiterbearbeitung Ihrer Bestellung lösen.
  %p
    Unsere Präsentation von Produkten und Leistungen gilt nicht als verbindliches Angebot, sondern als Aufforderung zur Aufgabe einer Bestellung. Sobald Sie den Kaufvorgang online abgeschlossen haben, haben wir einen verbindlichen Verkaufsvertrag . Sie können
    jederzeit bis zum Abschluss des Kaufverfahrens online Ihren Einkaufswagen aktualisieren. Wir leiten die Auslieferung erst ein, wenn Ihre Zahlung eingegangen ist.
  %h4 4.2.	Preise und Verfügbarkeit
  %p
    Alle Preise sind in U.S.-Dollar angegeben, außer soweit wir gesetzlich dazu verpflichtet sind, die Preise in der örtlichen Währung auszuweisen. Preise beinhalten keine Steuern (nachstehend definiert), Versand- und Bearbeitungsgebühren oder sonstige Gebühren,
    außer soweit wir ausdrücklich anderweitig angeben oder gesetzlich dazu verpflichtet sind, Preise einschließlich Steuern, Lasten und sonstiger Gebühren auszuweisen.
  %p
    Alle Produkte und Leistungen, die wir zum Verkauf anbieten, werden nur angeboten, solange der Vorrat reicht, und wir behalten das Recht vor, für jede Bestellung Mengenbegrenzungen festzulegen, eine Bestellung insgesamt oder teilweise abzulehnen und den
    Verkauf von Produkten und Leistungen ohne Vorankündigung einzustellen. Preise für Produkte und Leistungen sind jederzeit freibleibend, jedoch betreffen eventuelle Änderungen keine Produkte oder Leistungen, die Sie bereits bestellt haben.
  %h4 4.3.	Steuern
  %p
    Sie sind in vollem gesetzlich zulässigen Maße verantwortlich für sämtliche Umsatz-, Nutzungs-, Mehrwert- oder sonstige staatlichen Steuern, Gebühren oder Abgaben (gemeinsam
    = succeed ")," do
      %strong ”Steuern”
  %h4 4.4.	Versand; Verlustrisiko
  %p
    Sie verpflichten sich dazu, jegliche Versand- und Bearbeitungsgebühren, die zur Zeit ihres Kaufes ausgewiesen werden, zu zahlen. Wir behalten uns das Recht vor, Versand- und Bearbeitungsgebühren von Zeit zu Zeit zu erhöhen, zu verringern, zusätzlich zu
    berechnen oder abzuschaffen, aber wir werden die für Sie geltenden Gebühren ausweisen, bevor Sie Ihren Kauf tätigen. Jegliche als Teil des Zahlungsvorganges angegebenen Liefertermine oder Fristen stellen nur Schätzungen da und werden nicht garantiert.
    Außer soweit wir anderweitig erklären, geht die Gefahr des Verlustes oder der Beschädigung eines Verlustes mit Lieferung des Produkts an die von Ihnen angegebene Lieferanschrift auf Sie über. Falls Sie in Bezug auf den Versand Fragen oder Sorgen haben,
    setzen Sie sich bitte mit uns unter info@chefsteps.com in Verbindung.
  %h4 4.5.	Rücksendungen und Erstattungen
  %p
    ChefSteps Premium-Mitgliedschaft. Die ChefSteps Premium-Mitgliedschaft gewährt Ihnen unbegrenzten Zugang zu ChefSteps-Klassen und anderen sonstigen Vorteilen, die nur Mitgliedern zur Verfügung stehen (für Einzelheiten, siehe
    = succeed ")." do
      %a{:href => "https://www.chefsteps.com/premium"} https://www.chefsteps.com/premium
  %p
    Von ChefSteps direkt gekaufte Produkte. Falls Sie in den U.S.A. wohnhaft sind, akzeptieren wir Rückgaben und gewähren Erstattungen für Nicht-Lebensmittelprodukte, die Sie direkt von uns kaufen, wenn solche Produkte innerhalb von 30 Tagen nach Lieferung
    ungeöffnet und ungenutzt zurückgegeben werden. Vor Rückgabe eines Produktes müssen Sie von ChefSteps die Erlaubnis zur Rückgabe erlangen, indem Sie sich mit uns unter
    %a{:href => "mailto:support@chefsteps.com"} support@chefsteps.com
    in Verbindung setzen
    und die folgenden Informationen liefern: (a) Seriennummer des Produkts, (b) Grund für die Rückgabe und (c) die ursprüngliche Bestellungsnummer. Wir können für jegliche Rückgabe, welche nicht unter Beachtung dieser Bedingungen erfolgt, eine 20%-ige Wiedereinlagerungsgebühr
    in Rechnung stellen. Personen, die außerhalb der U.S.A. wohnhaft sind, finden die Bedingungen für die Rückgabe und Rückerstattung für die Produkte, die von ChefSteps gekauft wurden, nachstehend aufgrund des jeweiligen Wohnsitzstatus.
  %p
    Von Drittverkäufern gekaufte Produkte Dritter. Wir können die Möglichkeit eröffnen, durch die Leistungen Produkte von Drittverkäufern zu kaufen, in welchem Fall wir nur als Vermittler handeln. Falls Sie ein Produkt von einem Drittverkäufer kaufen, unterliegt
    Ihr Kauf den Bestimmungen und Grundsätzen dieses Dritten. Wir sind nicht die Verkäufer solcher Produkte und nicht als Partei an dem Verkauf dieser Produkte beteiligt; wir machen deshalb keine Zusicherungen und übernehmen keine Gewährleistung in Bezug
    auf diese Produkte und akzeptieren keine Rückgaben oder gewähren Rückerstattungen für solche Produkte.
  %h4 4.6.	Fehler
  %p
    Wir bemühen uns, so genau wie möglich zu sein und Fehler unserer Leistungen zu beseitigen; jedoch sichern wir nicht zu oder gewährleisten, dass die Beschreibungen, die preis- oder sonstigen produkt-oder leistungsbezogenen Informationen zutreffend, vollständig,
    verlässlich, aktuell oder fehlerfrei sind. Im Falle eines Fehlers behalten wir uns das Recht vor, diesen Fehler zu korrigieren und Ihre Bestellung entsprechend zu revidieren (was die Berechnung des richtigen Preises beinhaltet) oder die Bestellung zu
    stornieren und jeglichen berechneten Betrag zurückzuerstatten.
  %h3 5.	Lizenzen zur Nutzung der Leistungen und Materialien
  %p
    Außer soweit anderweitig angegeben, sind alle Inhalte oder sonstigen Materialien, die in den Leistungen enthalten sind, einschließlich – jedoch ohne Beschränkung darauf – unserer Logos oder aller Designs, Texte, Rezepte, Zutatenlisten, Kochzeiten, Videos,
    Grafiken, Bilder, Informationen, Daten, Software, Tondateien, sonstiger Dateien und ihrer Auswahl und Anordnung (gemeinsam ”Materialien”), alleiniges Eigentum von ChefSteps oder unserer Lizenzgeber und sind durch nationales und internationales Urheberrecht
    und Marken- und sonstige Gesetze zum Schutz geistigen Eigentums geschützt.
  %p
    ChefSteps gewährt Ihnen eine begrenzte, Lizenzgebühr-freie, nicht ausschließliche, nicht übertragbare, nicht sublizenzierbare, weltweite Lizenz für den Zugang und die Nutzung der Materialien, welche durch die Leistungen zur Verfügung gestellt werden,
    für Ihre eigenen persönlichen und nicht-kommerziellen Zwecke. Außer soweit ausdrücklich gesetzlich oder von ChefSteps schriftlich erlaubt, dürfen Sie unsere Leistungen nicht reproduzieren, weitervertreiben, verkaufen, derivative Werke oder Folgeversionen
    schaffen, dekompilieren, entschlüsseln oder disassemblieren (außer soweit Sie dazu nach geltendem Recht berechtigt sind), und Sie dürfen keine Maßnahmen treffen, welche unsere Leistungen stören oder schädigen.
  %p
    ChefSteps befürwortet die Nutzung und den Vertrieb bestimmter Materialien auf den Leistungen, einschließlich unserer Rezepte, Zutatenlisten, Videos, Bilder und Nutzerinhalte (definiert in Ziffer 11). Außer soweit anderweitig angegeben, werden solche Materialien
    Ihnen aufgrund der aktuellsten Fassung der Creative Commons Attribution-Noncommercial-ShareAlike Lizenz (BY-NC-SA) zur Verfügung gestellt. Beachten Sie, dass unsere Dienstleistungsnamen, Marken, Logos und Slogans, die auf Leistungen erscheinen können,
    nicht an Sie aufgrund der Creative Commons Lizenz lizenziert werden.
  %p
    Außer soweit von uns ausdrücklich erklärt, gilt nichts in diesen Bedingungen als Gewährung eines Rechts oder einer Lizenz an Patenten, Marken, Urheberrechten oder sonstigen geistigen Schutzrechten von ChefSteps oder einem Dritten, ob ausdrücklich, impliziert
    oder in sonstiger Weise. Die hier gewährten Lizenzen sind jederzeit widerrufbar.
  %h3 6.	Wiederholte Verletzungen; Urheberrechtsbeschwerden
  %p
    Wir haben nach Maßgabe des Digital Millennium Copyright Act und anderer geltender Gesetze Grundsätze zur Begrenzung des Zugangs zu den Leistungen eingeführt, indem wir die Konten von Nutzern, die die geistigen Schutzrechte anderer verletzen, unter angemessenen
    Umständen und nach unserem alleinigen Ermessen kündigen. Falls Sie glauben, dass die Leistungen in irgendeiner Weise ein Urheberrecht, dessen Inhaber Sie sind oder das Sie kontrollieren, verletzen, können Sie unserem benannten Agenten eine Mitteilung
    über die Verletzung wie folgt zustellen:
  %p
    Name des benannten Agenten: Edward Starbird 
    %br>/
    Adresse: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Telefon: (206) 905-1099 
    %br>/
    Email:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p
    Wenn Sie in den Vereinigten Staaten ansässig sind, beachten Sie  
    %a{:href => "#512"} 17 U.S.C. § 512(c)(3) 
    hinsichtlich der Anforderungen an eine ordnungsgemäße Mitteilung. Für nicht in den Vereinigten Staaten ansässige Personen sind die nachstehenden
    jurisdiktionsspezifischen Anforderungen an eine ordnungsgemäße Mitteilung zu beachten.
  %p
    Sie sollten auch beachten, dass Sie in dem Fall, dass Sie in Ihrer Mitteilung falsche Darstellungen dahingehend, dass das Material oder die Tätigkeit eine Verletzung begründet, aufnehmen, für jegliche Schäden haften, einschließlich – jedoch ohne Beschränkung
    darauf – Kosten und Rechtsanwaltsgebühren, welche uns oder dem angeblichen Verletzer infolge unseres Vertrauens auf die falsche Darstellung durch Maßnahmen zu dem Zweck, den Zugang zu den angeblich verletzenden Materialien oder Tätigkeiten zu entfernen
    oder abzustellen, entstehen.
  %h3 7.	Marken
  %p
    "
    %strong> ChefSteps
    ," das ChefSteps-Logo und jegliche sonstigen ChefSteps-Dienstleistungsnamen, Logos oder Slogans,die auf den Leistungen erscheinen können, können als Marke von ChefSteps und unserer Lieferanten und unserer Lizenzgeber eingetragen
    sein und dürfen nicht insgesamt oder teilweise kopiert, imitiert oder genutzt werden, ohne die vorherige schriftliche Zustimmung von uns oder dem jeweiligen Markeninhaber einzuholen. Überdies stellt das Erscheinungsbild der Leistungen einschließlich
    – jedoch ohne Beschränkung darauf – aller Seitentitel, benutzerdefinierten Grafiken, benutzerdefinierten Schaltflächen und Skripten die Dienstleistungsmarke, die Marke oder die Handelsaufmachung von ChefSteps dar und darf ohne unsere vorherige schriftliche
    Zustimmung weder insgesamt noch teilweise kopiert, imitiert oder genutzt werden. Alle anderen Marken, eingetragenen Marken, Produktnamen oder Unternehmensnamen oder Logos, die auf den Leistungen erwähnt sind, sind das Eigentum ihrer jeweiligen Inhaber
    und dürfen ohne Zustimmung des betreffenden Markeninhabers weder insgesamt noch teilweise kopiert, imitiert oder genutzt werden. Bezugnahmen auf Produkte, Leistungen, Verfahren oder sonstige Informationen durch Namen, Marken, Hersteller, Lieferanten
    oder in sonstiger Weise begründen oder implizieren keine Billigung, kein Sponsoring und keine Empfehlung durch ChefSteps.
  %p
    Falls Sie glauben, dass die Leistungen in irgendeiner Weise eine Marke, dessen Inhaber Sie sind oder das Sie kontrollieren, verletzen, so können Sie unserem benannten Agenten gemäß Ziffer 6 eine Mitteilung über die Verletzung zustellen. Eine ordnungsgemäße
    Mitteilung sollte dieselben Elemente beinhalten, die für Urheberrechtsbeschwerden erforderlich sind.
  %h3 8.	Hyperlinks
  %p
    Ihnen wird ein begrenztes, nicht ausschließliches, nicht übertragbares Recht zur Erstellung eines Text-Hyperlinks zu den Leistungen gewährt, wobei dieser Link ChefSteps und keine unserer Leistungen in falscher, irreführender, herabwürdigender oder sonstiger
    schädigender Weise darstellen darf und überdies die verlinkte Seite keine für Erwachsene bestimmte oder illegale Materialien oder sonstige Materialien enthalten darf, welche anstössig, belästigend oder in sonstiger Weise beanstandbar sind. Dieses begrenzte
    Recht kann jederzeit widerrufen werden. Sie dürfen ohne unsere ausdrückliche schriftliche Zustimmung kein ChefSteps-Logo oder sonstige geschützte Grafiken von ChefSteps für einen Link zu den Leistungen nutzen. Überdies dürfen Sie ohne unsere ausdrückliche
    schriftliche Zustimmung keine Frametechniken nutzen oder Frames einsetzen, um Marken, Logos oder sonstiges Informationseigentum von ChefSteps einzubinden, einschließlich der auf den Leistungen gefundenen Bilder, des Inhalt eines Textes oder des Layout
    oder des Design einer Seite oder der auf einer Seite enthaltenen Form.
  %p
    Im vollen gesetzlich zulässigen Umfang gibt ChefSteps keine Erklärungen ab und erklärt keine Zusicherungen bezüglich der Qualität, des Inhaltes, der Art und der Verlässlichkeit der Webseiten Dritter, die per Hyperlink von den Leistungen zugänglich sind,
    oder von Webseiten mit Links zu den Leistungen, und akzeptiert keine Verantwortung dafür. Solche Seiten liegen außerhalb unserer Kontrolle und wir sind nicht verantwortlich für die Inhalte irgendwelcher verlinkter Seiten, weiterer in verlinkten Seiten
    enthaltener Links oder Überprüfungen, Änderungen oder Aktualisierungen solcher Seiten.Wir stellen diese Verknüpfungen nur als Annehmlichkeit für Sie zur Verfügung und die Aufnahme eines Links bedeutet keinerlei Empfehlung, Billigung oder Übernahme einer
    Seite oder der darin enthaltenen Informationen. Wenn Sie die Leistungen verlassen, sollte Ihnen bewusst sein, dass unsere Bestimmungen und Grundsätze nicht mehr gelten. Sie sollten die jeweils geltenden Bestimmungen und Grundsätze einschließlich der
    Datenschutz- und Datenerhebungspraktiken jeglicher Seite, die Sie von den Leistungen aus besuchen, prüfen.
  %h3 9.	Inhalte Dritter; quelloffene Software; Schnittstelle zu Produkten und Leistungen Dritter
  %p
    Inhalte Dritter. Wir können Inhalte, Werbung und Verkaufsförderungsmaterial Dritter durch die Leistungen zeigen (insgesamt "
    %strong> Inhalte Dritter
    "). In vollem gesetzlich zulässigen Umfang werden Inhalte Dritter von uns nicht kontrolliert, empfohlen
    oder übernommen und wir übernehmen keinerlei Gewährleistung und erklären keine Zusicherung irgendeiner Art in Bezug auf Inhalte Dritter, einschließlich – jedoch ohne Beschränkung darauf – ihrer Richtigkeit oder Vollständigkeit. Sie erkennen an und stimmen
    zu, dass Ihre Interaktionen mit Dritten, welche Inhalte Dritter zur Verfügung stellen, ausschließlich zwischen Ihnen und diesen Dritten stattfinden und dass ChefSteps in keiner Weise für solche Interaktionen oder für Inhalte Dritter verantwortlich ist
    oder haftet.
  %p
    Quelloffene Software. Unsere Leistungen können auch Software Dritter enthalten, welche die GNU General Public License ("
    %strong> GPL
    ") oder sonstigen Open Source-Lizenzen unterliegen ("
    %strong> quelloffene Software
    "). Die quelloffene Software
    wird nach den Bestimmungen der Lizenz, welche mit der quelloffenen Software verbunden ist, unter Geltung zusätzlicher und unter
    %a{:href => "https://www.chefsteps.com/libraries"} https://www.chefsteps.com/libraries
    verfügbarer Bestimmungen und Bedingungen
    lizenziert. Nichts in diesen Bedingungen beschränkt Ihre Rechte aufgrund der Bestimmungen und Bedingungen jeglicher geltender Endnutzerlizenz für solche quelloffene Software oder gewährt Ihnen Rechte, welche diesen Bestimmungen und Bedingungen vorgehen.
    Wir machen keine Zusicherungen oder übernehmen Gewährleistungen irgendeiner Art in Bezug auf solche Software Dritter und Sie akzeptieren, dass ChefSteps in keiner Weise für solche Software Dritter verantwortlich ist oder haftet.
  %p
    Verbindungen mit Produkten und Leistungen Dritter. ChefSteps kann es Ihnen ermöglichen, unsere Produkte und Leistungen (beispielsweise Joule) in Verbindung mit Produkten und Leistungen Dritter, z.B. Amazon Alexa (“
    %strong> Produkte und Leistungen Dritter
    ”),
    zu nutzen. Falls Sie sich dazu entscheiden, unsere Produkte oder Leistungen mit Produkten und Leistungen Dritter zu verbinden, so ist Ihre ausdrückliche Zustimmung und Genehmigung erforderlich und kann von Ihnen jederzeit widerrufen werden. Durch Zustimmung
    zur Verbindung bestimmter Produkte und Leistungen Dritter mit unseren Produkten oder Leistungen akzeptieren Sie, dass ChefSteps und der Erbringer der Produkte und der Leistungen Dritter Informationen austauschen können, um die von Ihnen genehmigte Funktion
    zu ermöglichen. Wenn ChefSteps Informationen mit dem Erbringer von Produkten oder Leistungen Dritter austauscht, so unterliegt die Nutzung dieser Informationen durch den Dritten ausschließlich seinen eigenen Datenschutzgrundsätzen. Sie erkennen an und
    akzeptieren, dass ChefSteps keine Zusicherungen erklärt oder Gewährleistungen übernimmt, welche die Sicherheit von Produkten oder Leistungen Dritter betreffen, und dass ChefSteps nicht verantwortlich für Ihre Nutzung von Produkten und Leistungen Dritter
    oder für Schäden oder Verluste, die sich aus Ihrer Nutzung von Produkten oder Leistungen Dritter ergeben oder sich darauf beziehen, verantwortlich ist. Sie sollten sich mit Fragen über Produkte und Leistungen Dritter unmittelbar mit dem jeweiligen Dritten
    in Verbindung setzen.
  %h3 10.	Nutzerverhalten
  %p
    Sie verpflichten sich dazu, keine Gesetze, Verträge, gewerblichen Schutzrechte oder sonstigen Rechte Dritter zu verletzen und keine unerlaubte Handlung zu begehen und alleine verantwortlich für Ihr Verhalten zu sein, wenn Sie auf die Produkte und Leistungen
    zugreifen oder diese nutzen. Sie verpflichten sich dazu, diese Bedingungen zu beachten, und Sie werden nicht:
  %ul
    %li sich in irgendeiner belästigenden, drohenden, einschüchternden Weise verhalten oder Personen verfolgen oder stalken;
    %li das Konto eines anderen Nutzers ohne Genehmigung dieses Nutzers und von ChefSteps nutzen oder zu nutzen versuchen;
    %li
      die Produkte oder Leistungen in irgendeiner Weise nutzen, welche andere Nutzer bei der uneingeschränkten Nutzung der Produkte oder Leistungen stören könnte oder diese in sonstiger Weise beeinträchtigen oder einschränken könnte oder das Funktionieren
      der Produkte oder Leistungen in irgendeiner Weise schädigen, verhindern, überlasten oder beeinträchtigen könnte;
    %li irgendeinen Aspekt der Produkte oder Leistungen ohne Genehmigung von ChefSteps transformieren, einschließlich der Berichtigung von Fehlern;
    %li
      irgendeinen Aspekt der Produkte oder Leistungen entschlüsseln oder irgendetwas tun, was zur Entdeckung der Quellcodes führen könnte oder Maßnahmen zur Verhinderung oder Beschränkung des Zugangs zu Materialien oder Merkmalen oder Bereichen der Produkte
      oder Leistungen umgehen könnte, außer soweit nach geltendem Recht ausdrücklich erlaubt;
    %li ohne unsere vorherige Zustimmung Applikationen Dritter entwickeln, welche mit Nutzerinhalten oder den Produkten oder Leistungen interagieren;
    %li
      Roboter, Spider, Crawler, Scraper, Skripten, Browser-Erweiterungen, Offline-Leser oder sonstige automatischen Mittel oder Schnittstellen, die nicht von uns für den Zugriff auf die Produkte oder Leistungen genehmigt wurden, nutzen oder Daten extrahieren
      oder in sonstiger Weise die Wiedergabe von Materialien oder Funktionen stören oder modifizieren;
    %li
      Weisungen, die in der robots.txt-Datei, welche unter
      %a{:href => "https://www.chefsteps.com/robots.txt"} https://www.chefsteps.com/robots.txt
      zugänglich sind und jeden automatischen Zugriff auf die Leistungen kontrollieren, umgehen oder ignorieren;
    %li Produkte oder Leistungen für irgendwelche rechtswidrigen oder nicht genehmigte Zwecke nutzen oder irgendwelche Handlungen begehen oder fördern, welche diese Bedingungen verletzen.
  %h3 11.	Nutzerinhalte
  %p
    Die Leistungen können interaktive Merkmale und Bereiche umfassen, welche es Nutzern ermöglichen, Inhalte zu erstellen, posten, teilen oder speichern, einschließlich – jedoch ohne Beschränkung darauf – nutzergenerierter Inhalte, Rezepte, Bewertungen, Fotos,
    Videos, Musik, Ton, Texte, Grafiken, Codes, Artikel oder sonstiger Materialien (insgesamt "
    %strong> Nutzerinhalte
    "). Falls Sie sich dazu entscheiden, Nutzerinhalte mit anderen durch die Leistungen oder Plattformen Dritter zu teilen, so verstehen
    Sie, dass diese Nutzerinhalte von anderen gemäß der Datenschutzeinstellungen, die Sie in Ihrem Konto vornehmen, gesehen werden können.
  %p
    Sie akzeptieren, dass Sie alleinverantwortlich für Ihre Nutzerinhalte und für Ihre Nutzung interaktiver Merkmale und Bereiche der Leistungen sind. Durch das Posten, Heraufladen oder sonstige Vorlegen von Nutzerinhalten sichern Sie zu und gewährleisten,
    dass (a) solche Nutzerinhalte nicht vertraulich sind, (b) Sie Inhaber aller geistigen Schutzrechte sind (oder alle erforderlichen Genehmigungen erlangt haben), um diese Inhalte zur Verfügung zu stellen und die hier vorgesehenen Lizenzen zu erteilen,
    und (c) die Nutzerinhalte keine geistigen Schutzrechte oder sonstigen Schutzrechte verletzen, einschließlich des Veröffentlichungs- oder Persönlichkeitsrechts jeglicher Personen oder Unternehmen.
  %p Durch Nutzung der interaktiven Merkmale und Bereiche der Leistungen verpflichten Sie sich des Weiteren dazu, keine Nutzerinhalte der folgenden Art zu erstellen, posten, teilen oder speichern:
  %ul
    %li
      Nutzerinhalte, die rechtswidrig, verleumderisch, rufschädigend, obszön, pornografisch, unanständig, unzüchtig, suggestiv, belästigend, drohend, missbräuchlich, aufrührerisch, betrügerisch oder in sonstiger Weise beanstandbar sind oder Persönlichkeits-
      oder Veröffentlichungsrechte verletzen;
    %li
      Nutzerinhalte, welche eine Straftat darstellen würden oder fördern oder Weisungen dafür darstellen würden, die Rechte einer Partei verletzen oder in sonstiger Weise eine Haftung begründen oder örtliches, nationales oder internationales Recht verletzen
      würden;
    %li Nutzerinhalte, welche Erklärungen, Bemerkungen oder Behauptungen enthalten oder darstellen, welche nicht Ihre ehrlichen Ansichten und Erfahrungen widerspiegeln;
    %li Nutzerinhalte, durch welche Sie sich als eine andere Person oder Unternehmen ausgeben oder Ihre Verbindung mit ihnen falsch darstellen;
    %li Nutzerinhalte, welche auf ChefSteps oder unsere Produkte oder Leistungen Bezug nehmen oder uns darstellen, jedoch eine bedeutende Verbindung zu uns nicht offenlegen, falls Sie eine haben (wenn Sie beispielsweise Arbeitnehmer von ChefSteps sind);
    %li Nutzerinhalte, welche unaufgefordert Verkaufsförderung, politische Kampagnen, Werbung oder Akquisitionsbemühungen enthalten;
    %li Nutzerinhalte, welche Viren, beschädigte Daten oder sonstige schädliche, störende oder zerstörerische Dateien oder Inhalte enthalten; oder
    %li
      Nutzerinhalte, welche nach unserer alleinigen Bewertung beanstandbar sind oder andere Personen bei der Nutzung von Produkten oder Leistungen einschränken oder beeinträchtigen oder welche für ChefSteps oder andere zu einem Schaden oder einer Haftung
      irgendeiner Art führen könnten.
  %p
    Wir sind nicht verantwortlich für Nutzerinhalte und haften dafür nicht. Obgleich wir keine Verpflichtung dazu haben, Nutzerinhalte vorab zu prüfen, zu editieren oder überwachen, behalten wir uns das Recht vor, nach freiem Ermessen Nutzerinhalte, die auf
    den Leistungen gepostet oder gespeichert werden, jederzeit und aus jeglichem Grunde zu entfernen, zu prüfen oder zu editieren, und Sie sind alleine dafür verantwortlich, auf Ihre eigenen Kosten und Ausgaben Sicherheitskopien anzufertigen und Nutzerinhalte,
    die Sie auf den Leistungen posten oder speichern, zu ersetzen.
  %h3 12.	Rechte an Nutzerinhalten
  %p
    Außer soweit in diesen Bedingungen oder in einer separaten Vereinbarung anderweitig vorgesehen, beanspruchen wir keine Eigentums- oder Kontrollrechte an Ihren Nutzerinhalten. Jedoch gewähren Sie durch das Heraufladen, Posten oder sonstige Vorlegen von
    Nutzerinhalten ChefSteps ein nicht ausschließliches, lizenzgebührfreies, weltweites, ewiges, unwiderrufliches, übertragbares und vollständig sublizenzierbares Recht, solche Nutzerinhalte und Ihren Namen, Ihr Bildnis, Ihre Stimme und Ihre Person auf
    den Leistungen, auf Seiten Dritter und mobilen Applikationen und in allen sonstigen Medien oder Formaten, die gegenwärtig bekannt sind oder noch entwickelt werden, zu jedem beliebigen Zweck zu nutzen, reproduzieren, modifizieren, anzupassen, veröffentlichen,
    übersetzen, derivative Werke anzufertigen, zu vertreiben, aufzuführen und zu zeigen, auch für kommerzielle Zwecke von ChefSteps. Sie gewähren des Weiteren allen Nutzern unserer Leistungen die Erlaubnis, nach Maßgabe der aktuellsten Fassung der Creative
    Commons Attribution-NonCommercial-ShareAlike Lizenz (BY-NC-SA) auf Ihre Nutzerinhalte zuzugreifen und diese zu nutzen.
  %h3 13.	Feedback
  %p
    Separat und unabhängig von Nutzerinhalten können Sie Fragen, Kommentare, Anregungen, Ideen, Original- oder kreative Materialien oder sonstige Informationen über ChefSteps oder unsere Produkte oder Leistungen (insgesamt "
    %strong> Feedback
    ") vorlegen.
    Feedback ist nicht vertraulich und wird alleiniges Eigentum von ChefSteps. ChefSteps hält die ausschließlichen Rechte einschließlich – jedoch ohne Beschränkung darauf – aller geistigen Schutzrechte an solchem Feedback und ist dazu berechtigt, das Feedback
    für jeden kommerziellen oder sonstigen Zweck ohne Namensnennung oder Vergütung für Sie zu nutzen und zu verbreiten.
  %h3 14.	Entschädigung
  %p
    Sie verpflichten sich in vollem gesetzlich zulässigen Umfang dazu, ChefSteps und unsere ehemaligen, gegenwärtigen und zukünftigen Arbeitnehmer, Organmitglieder, Führungskräfte, Auftragnehmer, Berater, Anteilseigner, Lieferanten, Verkäufer, Service Provider,
    Muttergesellschaften, Tochtergesellschaften, Schwestergesellschaften, Agenten, Vertreter, Vorgänger, Nachfolger und Zessionare (zusammen mit ChefSteps die "
    %strong> ChefSteps-Parteien
    ") für alle Ansprüche Dritter jeglicher Art zu entschädigen
    und dagegen zu verteidigen und davon freizustellen, ob sie sich aus unerlaubter Handlung, Vertrag oder Sonstigem ergeben (insgesamt die "
    %strong> Ansprüche
    "), einschließlich Sachschäden oder Personenschäden, soweit sich dies aus Folgendem ergibt
    und darauf bezieht:
  %ul
    %li Ihr Zugriff auf unsere Produkte, Leistungen und Materialien oder deren Nutzung oder Mißbrauch;
    %li jegliche Nutzerinhalte, die Sie auf oder durch unsere Leistungen oder unsere Seiten oder Einspeisungen auf sozialen Media-Plattformen Dritter erstellen, posten, teilen oder speichern;
    %li jegliches Feedback von Ihnen;
    %li Ihre Verletzung dieser Bedingungen;
    %li Ihre Verletzung der Rechte eines Dritten; oder
    %li Nutzung oder Mißbrauch der Produkte oder Leistungen durch einen Dritten, den Sie dazu befugen, die an Sie erbrachten Produkte oder Leistungen zu nutzen.
  %p Diese Entschädigungsverpflichtung umfasst die Z ahlung für jegliche Rechtsanwaltskosten der ChefSteps-Parteien sowie sonstige Kosten für die Untersuchung und die Verteidigung gegen Ansprüche und die Kosten für die Durchsetzung der Entschädigungsverpflichtung.
  %p
    Sie verpflichten sich dazu, ChefSteps unverzüglich über jegliche Ansprüche Dritter zu informieren und mit den ChefSteps-Parteien bei der Verteidigung gegen solche Ansprüche zusammenzuarbeiten. Sie sind des Weiteren damit einverstanden, dass die ChefSteps-Parteien
    die Verteidigung gegen Ansprüche Dritter und jeglichen Vergleich darüber bestimmen. Diese Entschädigung erfolgt zusätzlich und nicht anstelle jeglicher sonstigen Entschädigungen, die in einer schriftlichen Vereinbarung zwischen Ihnen und ChefSteps geregelt
    sind.
  %h3 15.	Haftungausschlüsse
  %p
    wir können wichtige Gesundheits- und sicherheitswarnungen und weisungen erteilen, die sie lesen müssen, bevor sie bestimmte produkte von chefsteps nutzen und/oder an bestimmten tätigkeiten oder leistungen teilnehmen. wir können diese warnungen und weisungen
    aktualisieren oder revidieren, so dass sie sie bitte regelmäSSig prüfen.
  %p
    in vollem gesetzlich zulässigen Umfang werden die leistungen und materialien von chefsteps in dem zustand, in dem sie sind, und unter vorbehalt der verfügbarkeit ohne gewährleistung jeglicher art, ob ausdrücklich oder impliziert, erbracht und wir lehnen
    ausdrücklich jegliche sonstigen ausdrücklichen oder implizierten gewährleistungen ab, einschlieSSlich – jedoch ohne Beschränkung darauf – implizierter Gewährleistung der marktGänGkeit, der eignung für einen bestimmten zweck, des eigentums und der Nicht-Verletzung.
    wir sichern nicht zu oder gewährleisten, dass die webseiten, mobilen applikationen und materialien von chefsteps zutreffend, vollständig, verlässlich, aktuell oder fehlerfrei sind. überdies (A) dienen unsere webseiten, mobilen applikationen und materialien
    nur ZU informationszwecken, (B) werden als allgemeine beratung zur verfügung gestellt UND (C) sind nicht als ersatz für professionelle medizinische oder ernährungsberatung gedacht. während wir uns bemühen, ihren zugang zu den webseiten, mobilen applikationen
    und materialien von chefsteps und deren Nutzung sicher zu machen, können und werden wir nicht zusichern oder gewährleisten, dass sie oder unsere server frei von viren oder sonstigen schädlichen bestandteilen sind; sie sollten deshalb BRANCHENanerkannte
    software nutzen, um viren in heruntergeladenen dateien zu entdecken und zu desinfizieren.
  %p
    sie sind alleine verantwortlich dafür, lebensmittel ordnungsgemäSS und sicher zu waschen, bearbeiten, zuzubereiten, zu lagern, kochen, nutzen und konsumieren. die kochanweisungen und hinweise von chefsteps werden lediglich als richtlinien angeboten. handeln
    sie nach bestem urteilsvermögen und pflichtegemäSSem ermessen, wenn sie lebensmittel zubereiten oder zu sich nehmen. der verzehr von fleisch, geflügel,meeresfrüchen, schalentieren oder eiern in rohem oder nicht garem zustand kann ihr risiko einer lebensmittelvergiftung
    erhöhen und jeder solche verzehr erfolgt nach ihrem eigenen ermessen. wir lehnen ausdrücklich jegliche verantwortung für nachteilige auswirkungen aB, welche sich aus ihrer Nutzung oder anwendung der durch unsere leistungen gelieferten informationen
    ergeben.
  %p
    CHEFSTEPS übernimmt keine gewährleistung für produkte, die von anderen unternehmen hergestellt werden, auch wenn sie diese durch unsere Leistungen kaufen. Produkte, die Von anderen unternehmen hergestellt werden, aber durch unsere Leistungen verkauft
    werden, werden von chefsteps so, wie sie sind, und mit allen mängeln verkauft. chefsteps lehnt jegliche gewährleistung für solche produkte ab, einschlieSSlich der implizierten gewährleistung der marktgängigkeit, der eingung für einen bestimmten zweck,
    des eigentums und der nicht-verletzung. chefsteps übernimmt keine gewährleistung einer qualität oder eigenschaft von produkten, die wir nicht herstellen. wenn der hersteller keine gewährleistung übernimmt, so tragen sie als käufer die gesamte gefahr
    bezüglich der qualität und der leistung solcher produkte und sie anstelle von chefsteps tragen die gesamten kosten, falls ein austausch oder eine reparatur erforderlich ist.
  %p
    hersteller von produkten, die von chefsteps verkauft werden, können ihre eigene gewährleistung ÜBERNEHMen und sie akzeptieren, dass ihr rechtsbehelf im falle von mängeln solcher produkte ausschlieSSlich auf den ggf. von diesen herstellern übernommenen
    gewährleistungen beruhen.
  %h3 16.	Haftungsbegrenzung; Befreiung
  %p
    im vollen gesetzlich zulässigen UMFANG (A) Ist in keinem Fall chefsteps oder irgendeine andere chefsteps-partei haftbar für mittelbare, besondere, neben-, folgeschäden jeglicher art (einschlieSSlich – jedoch ohne beschränkung darauf – entgangener einnahmen,
    erträge oder Gewinne, des verlustes der nutzung Oder von daten, des verlustes oder der verringerung des wertes von vermögensgegenständen oder wertpapieren sowie des schadensersatzes wegen geschäftsunterbrechung), welche sich aus dem zugriff auf leistungen
    oder materialien oder deren nutzung ergEBEN oder in irgendeiner SONSTIGEN weise ergeben oder sich darauf beziehen oder in sonstiger weise auf diese bedingungen beziehen (einschlieSSlich – jedoch ohne beschränkung darauf – schäden, die durch das vertrauen
    eines nutzers auf informationen von chefsteps verursacht werden oder sich daraus oder aus fehlern, unterlassungen, unterbrechungen, der löschung von dateien oder emails, irrtümern, mängeln, programmierfehlern, viren, trojanischen pferden, betrieblichen
    verzögerungen oder irgendeiner leistungsstörung ergeben, ob infolge höherer gewalt, kommunikationsstörungen, diebstahls, zerstörung oder unbefugteN zugriffS auf die unterlagen, programme oder systeme von chefsteps), ungeachtet der form der handlung,
    ob aufgrund vertrages, unerlaubter handlung (einschlieSSlich – jedoch ohne beschränkung darauf –leichter fahrlässigkeit, ob aktiv, passiv oder zugerechnet), strikter produkthaftung oder jeglicher sonstiger rechtlicher oder billigkeitsrechtlicher grundlage
    (auch wenn die partei über die möglichkeit solcher schäden aufgeklärt wurde und solche schäden vorhersehbar waren), und (B) IN keinem fall übersteigt die gesamthaftung von chefsteps und den chefsteps-parteien (gemeinschaftlich) aufgrund vertrages, gewährleistung,
    unerlaubter Handlung (einschlieSSlich fahrlässigkeit, ob aktiv, passiv oder zugerechnet), produkthaftung, gefährdungshaftung oder sonstiger grundlage, welche sich aus der nutzung oder der unmöglichkeit der nutzung der leistungen einschlieSSlich der
    darin enthaltenen materialien und funktionen ergibt oder darauf bezieht, die an uns für ihren zugang zu den produkten oder leistungen oder deren Nutzung gezahlte VERGÜTUNG.
  %p
    im vollen gesetzlich zulässigen umfang befreien sie hiermit für ihre erben, testamentsvollstrecker, verwalter, gesetzlichen oder persönlichen vertreter die chefsteps-Parteien von allen UND jeglichen Ansprüchen, welche sich aus diesen Bedingungen ergeben
    oder darauf beziehen. wenn sie in kalifornien wohnhaft sind, verzichten sie hiermit im zusammenhang mit dem vorstehenden auf § 1542 des california civil code, der lautet: “eine allgemeine befreiung erstreckt sich nicht auf ansprüche, deren existenz
    zu seinen gunsten der gläubiger im zeitpunkt der erklärung der befreiung nicht kennt oder vermutet und welche seine einigung mit dem schuldner wesentlich bestimmt hätte, wenn sie ihm bekannt gewesen wären.” sie verzichten hiermit auf jegliche ähnliche
    bestimmungen in jeder anderen jurisdiktion.
  %p
    die in dieser ziffer 16 enthaltenen beschränkungen führen nicht zur einschränkung oder zum ausschluss der haftung wegen todes oder personenschadens oder sachschadens, welche durch produkte oder leistungen, die sie VON uns kaufen, verursacht werden, oder
    wegen betruges, grober fahrlässigkeit oder vorsätzlichem, absichtlichem, arglistigem oder rücksichtslosem fehlverhalten.
  %h3 17.	Änderungen der Leistungen
  %p
    Wir behalten uns das Recht vor, nach freiem Ermessen jegliche Materialien zu ändern und den Zugang zu den Leistungen (oder jegliche Merkmale oder Funktionen der Leistungen) jederzeit ohne Vorankündigung und ohne Verpflichtung oder Haftung Ihnen gegenüber
    zu ändern, zu suspendieren oder einzustellen. Sie sind ebenfalls dazu berechtigt, die Leistungen insgesamt oder teilweise nicht zu nutzen oder diesen Vertrag jederzeit zu kündigen.
  %h3 18.	Streitbeilegung; Schiedsverfahren
  %p Bitte lesen Sie den folgenden abschnitt sorgfältig durch, da er sie dazu verpflichtet, bestimmte streitigkeiten und ansprüche im verhältnis zu chefsteps durch schiedsverfahren beizulegen, und die weise, in welcher sie uns in anspruch nehmen können, einschränkt.
  %h4 18.1.	Verbindliches Schiedsverfahren
  %p
    Mit Ausnahme von Streitigkeiten, Ansprüchen, Prozessen, Klagen, Klagegründen, Forderungen oder Verfahren (insgesamt die "
    %strong> Streitigkeiten
    "), welche sich aus einer Verletzung von Ziffer 10 ergeben oder sich darauf beziehen, oder Streitigkeiten,
    in welchen eine Partei eine individuelle Klage vor ein Gericht mit Zuständigkeit für kleinere Ansprüche erheben möchte oder wegen der behaupteten rechtswidrigen Nutzung geistigen Eigentums einschließlich – jedoch ohne Beschränkung darauf – Urheberrechte,
    Marken, Handelsnamen, Logos, Geschäftsgeheimnissen oder Patenten, Rechtsschutz aufgrund Billigkeitskeitsrechts erlangen möchte, vereinbaren Sie und ChefSteps (a) auf Ihre Rechte und die Rechte von ChefSteps, jegliche und sämtliche Streitigkeiten, die
    sich aus diesen Bedingungen oder den Leistungen, Materialien oder Produkten ergeben oder sich darauf beziehen, gerichtlich entscheiden zu lassen, zu verzichten und (b) auf Ihre Rechte und die Rechte von ChefSteps auf ein Jury-Verfahren zu verzichten.
    Stattdessen vereinbaren Sie und ChefSteps, Streitigkeiten durch ein verbindliches Schiedsverfahren beizulegen (dies ist die Vorlage einer Streitigkeit an eine oder mehrere Personen, die damit beauftragt sind, die Streitigkeit zu prüfen und eine endgültige
    und verbindliche Entscheidung zu treffen, um sie beizulegen, anstatt die Streitigkeit von einem Richter oder einem Gericht entscheiden zu lassen).
  %h4 18.2.	Keine Sammelschiedsverfahren, Sammelklagen oder repräsentative Klagen
  %p
    Sie und ChefSteps vereinbaren, dass jegliche Streitigkeit, die sich aus diesen Bedingungen, den Leistungen, Produkten oder Materialien ergibt oder sich darauf bezieht, für Sie und ChefSteps persönlich ist und dass die Streitigkeit ausschließlich durch
    individuelle Entscheidung beigelegt wird und nicht durch Sammelschiedsverfahren, Sammelklage oder irgendeine sonstige Art eines repräsentativen Verfahrens. Sie und ChefSteps vereinbaren, dass es kein Sammelschiedsverfahren oder Schiedsverfahren gibt,
    in welchem eine Person versucht, eine Streitigkeit als Repräsentant einer anderen Person oder einer Gruppe von Personen zu lösen. Des Weiteren vereinbaren Sie und ChefSteps, dass eine Streitigkeit nicht als Sammelklage oder sonstige Art repräsentativer
    Klage innerhalb oder außerhalb eines Schiedsverfahrens oder für eine andere Person oder eine Gruppe von Personen entschieden werden kann.
  %h4 18.3.	Federal Arbitration Act
  %p
    Sie und ChefSteps sind darüber einig, dass diese Bedingungen den Handel zwischen Bundesstaaten betreffen und dass die Durchsetzbarkeit dieser Ziffer 18 im gesetzlich größtmöglichen zulässigen Umfang sowohl materiell- als auch verfahrensrechtlich dem Federal
    Arbitration Act, Ziffer 9 U.S.C. § 1 ff. (der "
    %strong> FAA
    ") unterliegt und danach ausgelegt und durchgesetzt wird.
  %h4 18.4.	Ankündigung; informelle Streitbeilegung
  %p
    Sie und ChefSteps vereinbaren, dass jede Partei die andere Partei schriftlich über jede Streitigkeit, welche schiedsfähig oder eine kleine Streitigkeit ist, innerhalb von dreißig (30) Tagen nach dem Tag des Entstehens informiert, so dass die Parteien
    sich in gutem Glauben um die informelle Beilegung der Streitigkeit bemühen können. Die Mitteilung an ChefSteps ist elektronisch an
    %a{:href => "file:///\\\\chefsteps.com"} disputes@chefsteps.com
    zu übersenden. Ihre Mitteilung muss (a) Ihren Namen, Postanschrift,
    Telefonnummer, die von Ihnen verwendete oder für Ihr ChefSteps-Konto verwendete Emailadresse und – falls anders – eine Emailadresse, unter welcher Sie kontaktiert werden können, (b) eine Beschreibung mit angemessenen Einzelheiten der Art oder Grundlage
    der Streitigkeit und (c) die genaue Entscheidung, die Sie beantragen, enthalten. Unsere Mitteilung an Sie wird elektronisch an die von Ihnen bei der Anmeldung angegebene Emailadresse geschickt und beinhaltet (x) unseren Namen, unsere Postanschrift,
    Telefonnummer und eine Emailadresse, unter welcher wir in Bezug auf die Streitigkeit kontaktiert werden können, (y) eine Beschreibung unter angemessener Angabe der Art oder Grundlage der Streitigkeit und (z) die genaue Entscheidung, die wir beantragen.
    Falls Sie und ChefSteps sich nicht innerhalb von dreißig (30) Tagen darauf einigen können, wie die Streitigkeit beizulegen ist, so können entweder Sie oder ChefSteps nach Maßgabe dieser Ziffer 18 ein Schiedsverfahren einleiten oder, soweit dies in dieser
    Ziffer 18.1 speziell vorgesehen ist, einen Anspruch gerichtlich geltend machen.
  %h4 18.5.	Verfahren
  %p
    Mit Ausnahme von Streitigkeiten, welche sich aus einer Verletzung der Ziffer 10 ergeben oder sich darauf beziehen, oder Streitigkeiten, in welchen eine Partei eine individuelle Klage vor einem für kleinere Ansprüche zuständigen Gericht erheben möchte
    oder einstweiligen oder sonstigen billigkeitsrechtlichen Rechtsschutz wegen der angeblich rechtswidrigen Nutzung geistiger Schutzrechte einschließlich – jedoch ohne Beschränkung darauf – Urheberrechte, Marken, Handelsnamen, Logos, Geschäftsgeheimnisse
    oder Patente erlangen möchte, vereinbaren Sie und ChefSteps, dass (a) jegliches Schiedsverfahren in King County, Washington, stattfindet, (b) das Schiedsverfahren vertraulich von einem alleinigen Schiedsrichter nach Maßgabe der Regeln der Judicial Arbitration
    and Mediation Services ("
    %strong> JAMS
    "), welche durch Bezugnahme hier einbezogen werden, durchgeführt wird und (c) dass die Staats- oder Bundesgerichte des Staates Washington bzw. der Vereinigten Staaten mit Sitz in King County, Washington,
    ausschließliche Zuständigkeit für Berufungen und die Durchsetzung eines Schiedsspruches haben. Sie können eine Streitigkeit auch von dem für kleinere Ansprüche zuständigen Gericht in dem County, in dem sich Ihre Rechnungsanschrift befindet, streitig
    entscheiden lassen, wenn die Streitigkeit die Anforderungen an ein Verfahren vor dem Gericht für kleinere Streitigkeiten erfüllt.
  %h4 18.6.	Befugnis des Schiedsrichters
  %p
    Nach Maßgabe der Beschränkungen durch den FAA, diese Bedingungen und die geltenden JAMS-Regeln hat der Schiedsrichter (a) die ausschließlliche Befugnis und Zuständigkeit, alle verfahrens- und materiell-rechtlichen Entscheidungen bezüglich einer Streitigkeit
    zu treffen, einschließlich der Feststellung, ob eine Streitigkeit schiedsfähig ist, und (b) die Befugnis, Rechtsschutz zu gewähren, der ansonsten vor Gericht erlangt werden könnte; der Schiedsrichter ist jedoch nicht dazu befugt, ein Sammelschiedsverfahren
    oder eine repräsentative Klage, welche durch diese Bedingungen verboten sind, durchzuführen. Der Schiedsrichter darf nur ein individuelles Schiedsverfahren durchführen und darf nicht mehr als die Ansprüche einer Person zusammenfassen, irgendeine Art
    von Sammel- oder repräsentativer Verfahren führen oder ein Verfahren führen, an dem mehr als eine Person beteiligt ist.
  %h4 18.7.	Regeln der JAMS
  %p
    Die Regeln der JAMS und zusätzliche Informationen über JAMS stehen auf der Webseite der JAMS zur Verfügung. Durch Ihr Einverständnis, an diese Bedingungen gebunden zu sein, (a) erkennen Sie entweder an und erklären, dass Sie die Regeln von JAMS gelesen
    und verstanden haben, oder (b) verzichten auf Ihre Gelegenheit, die Regeln von JAMS zu lesen, und den Einwand, dass die Regeln von JAMS unfair sind und aus irgendeinem Grunde nicht angewendet werden sollten.
  %h4 18.8.	Teilunwirksamkeit
  %p
    Falls eine Bestimmung, Klausel oder Vorschrift dieser Ziffer 18 für unwirksam oder undurchsetzbar erklärt wird, so gilt dies im geringsten gesetzlich zulässigem Umfang und alle sonstigen Bestimmungen, Klauseln und Vorschriften dieser Ziffer 18 bleiben
    wirksam und durchsetzbar. Des Weiteren wirken die in Ziffer 18.2 genannten Verzichte separat von den sonstigen Bestimmungen dieser Bedingungen und bleiben wirksam und durchsetzbar, außer soweit dies nach geltendem Recht verboten ist.
  %h3 19.	Anwendbares Recht und Gerichtsstand
  %p
    Diese Bedingungen und Ihr Zugang zu den Produkten und Leistungen und deren Nutzung unterliegen dem Recht des Staates Washington und sind danach auszulegen und durchzusetzen, jedoch ohne Berücksichtigung der Kollisionsnormen oder Grundsätze (des Staates
    Washington oder jeder sonstigen Jurisdiktion), soweit diese zur Anwendung der Gesetze einer anderen Jurisdiktion führen würden. Jede Streitigkeit zwischen den Parteien, die nicht dem Schiedsverfahren unterliegt oder vor einem für kleine Ansprüche zuständigen
    Gericht verhandelt werden kann, wird von den Staats- oder Bundesgerichten des Staates Washington bzw. der Vereinigten Staaten in King County, Washington, beigelegt.
  %h3 20.	Kündigung
  %p
    Ungeachtet entgegenstehender Regelungen dieser Bedingungen und in vollem gesetzlich zulässigen Umfang behalten wir uns das Recht vor, ohne Vorankündigung und nach unserem freien Ermessen Ihr Recht auf Zugang zu den Leistungen und auf deren Nutzung zu
    beenden und Ihren zukünftigen Zugang zu den Leistungen und deren Nutzung zu blockieren oder zu verhindern. Falls Sie ein Produkt mit einem Link zu unseren Leistungen, beispielsweise Joule, auf einen neuen Eigentümer übertragen, so endet Ihr Recht zur
    Nutzung der Leistungen in Bezug auf dieses Produkt automatisch und der neue Eigentümer hat sodann kein Recht zur Nutzung der Leistungen durch Ihr Konto und muss sich für ein separates Konto bei ChefSteps registieren.
  %h3 21.	Salvatorische Klausel
  %p
    Falls eine Bestimmung, Klausel oder Vorschrift dieser Bedingungen für unwirksam oder undurchsetzbar erklärt wird, so wird die Bestimmung, Klausel oder Vorschrift von diesen Bedingungen abgetrennt und lässt die Wirksamkeit oder Durchsetzbarkeit jeglicher
    verbleibender Teile der Bestimmung, Klausel oder Vorschrift oder jeglicher sonstigen Bestimmung, Klausel oder Vorschrift dieser Bedingungen unberührt.
  %h3 22.	Fortgeltung
  %p Die folgenden Ziffern gelten über den Ablauf oder die Kündigung dieser Bedingungen und das Ende Ihres ChefSteps-Kontos hinaus: Alle definierten Begriffe und die Ziffern 1, 2, 3, 4, 5 (nur der erste Absatz), 6, 7, 8 (nur der zweite Absatz), 9 bis 23.
  %h3 23.	Kalifornien Hinweis
  %p
    Wenn Sie in Kalifornien wohnhaft sind, können Sie Beschwerden an die Verbraucherunterstützungsabteilung der Consumer Information Division des California Department of Consumer Affairs richten, indem Sie schriftlich unter 1625 North Market Blvd., Suite
    N 112, Sacramento, CA 95834, oder telefonisch unter (800) 952‑5210 Kontakt aufnehmen.
  %h3 24.	Fragen
  %p
    Falls Sie Fragen bezüglich dieser Bedingungen oder unserer Produkte oder Leistungen haben, setzen Sie sich bitte mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung.
