#terms
  %p CHEFSTEPS&#x2019; VILK&#xC5;R FOR BRUK OG SALG
  %p Sist oppdatert: 13/1/2017
  %p
    VENNLIGST LES N&#xD8;YE GJENNOM DISSE VILK&#xC5;RENE FOR BRUK OG SALG, HERUNDER BESTEMMELSEN OM OBLIGATORISK VOLDGIFT I PUNKT&#xA0;18 FOR PERSONER BOSATT I USA. HVIS DU BOR UTENFOR USA, KAN DET FOR DEG GJELDE YTTERLIGERE VILK&#xC5;R SOM ENTEN SUPPLERER ELLER ERSTATTER VISSE
    BESTEMMELSER I DISSE VILK&#xC5;RENE FOR BRUK OG SALG. VENNLIGST LES GJENNOM SLUTTEN AV DETTE DOKUMENTET FOR &#xC5; AVGJ&#xD8;RE OM YTTERLIGERE VILK&#xC5;R GJELDER FOR DEG.
  %p
    VED &#xC5; KLIKKE FOR &#xC5; ANGI AT DU GODTAR DISSE VILK&#xC5;RENE FOR BRUK OG SALG, ELLER P&#xC5; ANNEN M&#xC5;TE &#xC5;PNE TILGANG TIL ELLER BRUKE V&#xC5;RE PRODUKTER OG TJENESTER (DEFINERT NEDENFOR), SAMTYKKER DU I &#xC5; V&#xC6;RE BUNDET AV DISSE VILK&#xC5;RENE FOR BRUK OG SALG OG ALLE VILK&#xC5;R NEVNT
    I DETTE DOKUMENTET. HVIS DU IKKE SAMTYKKER I ALLE DISSE VILK&#xC5;RENE, M&#xC5; DU IKKE &#xC5;PNE TILGANG TIL, KJ&#xD8;PE ELLER BRUKE V&#xC5;RE PRODUKTER ELLER TJENESTER.
  %p
    Disse vilk&#xE5;rene for bruk og salg (&#xAB;
    %strong> Vilk&#xE5;rene
    \&#xBB;) gjelder din tilgang til, og bruk av, produktene og tjenestene til ChefSteps, Inc. (&#xAB;
    %strong> ChefSteps
    \&#xBB;, &#xAB;
    %strong> vi
    \&#xBB;, &#xAB;
    %strong> oss
    \&#xBB; eller &#xAB;
    %strong> v&#xE5;r/v&#xE5;rt/v&#xE5;re
    \&#xBB;),
    et selskap registrert i delstaten Washington i USA med adresse 1501 Pike Place, #300, Seattle, Washington, 98101 og skatteidentifikasjonsnummer
    464326180
    \. Med &#xAB;
    %strong> Produkter
    \&#xBB; menes materiellet og det fysiske utstyret som selges av
    ChefSteps, herunder Joule Circulator og Joule Big Clamp. Med &#xAB;
    %strong> Tjenester
    \&#xBB; menes v&#xE5;re nettsteder, mobilapper og andre nettbaserte produkter og tjenester.
  %p
    Disse vilk&#xE5;rene endrer ikke p&#xE5; noen m&#xE5;te vilk&#xE5;rene i annen avtale du m&#xE5;tte ha med oss om produkter, tjenester eller annet. Hvis du bruker Produktene eller Tjenestene p&#xE5; vegne av et foretak, erkl&#xE6;rer og garanterer du at du har tillatelse til &#xE5; godkjenne
    disse Vilk&#xE5;rene p&#xE5; foretakets vegne, og at foretaket samtykker i &#xE5; st&#xE5; ansvarlig overfor oss hvis du eller foretaket bryter disse Vilk&#xE5;rene.
  %p
    ChefSteps forbeholder seg alene retten til n&#xE5;r som helst &#xE5; endre disse Vilk&#xE5;rene. Hvis vi endrer disse Vilk&#xE5;rene, vil vi informere om disse endringene, f.eks. ved &#xE5; underrette i e-post, informere gjennom Tjenestene eller oppdatere datoen merket &#xAB;
    %strong> Sist oppdatert
    \&#xBB;
    i begynnelsen av disse Vilk&#xE5;rene. Hvis du fortsetter &#xE5; bruke Tjenestene, bekrefter du at du godtar de reviderte Vilk&#xE5;rene. Vi oppfordrer deg til &#xE5; gjennomg&#xE5; Vilk&#xE5;rene ofte for &#xE5; p&#xE5;se at du forst&#xE5;r vilk&#xE5;rene som gjelder n&#xE5;r du &#xE5;pner tilgang til eller
    bruker Tjenestene. Hvis du ikke samtykker i de reviderte Vilk&#xE5;rene, kan du ikke &#xE5;pne tilgang til eller bruke Tjenestene. Endringer vi utf&#xF8;rer, p&#xE5;virker ikke dine rettigheter til Produkter du allerede har kj&#xF8;pt, eller bestillinger du allerede har gjort.
  %h3 1.	Personvernerkl&#xE6;ring
  = succeed "." do
    %p
      Informasjon om hvordan vi samler inn, bruker og utleverer opplysninger om deg, finnes i v&#xE5;r
      %a{:href => "https://www.chefsteps.com/privacy”>personvernerklæring"}
