#terms
  %h3 CHEFSTEPS ANV&#xC4;NDAR- OCH F&#xD6;RS&#xC4;LJNINGSVILLKOR
  %p Senast uppdaterad: 9/11/2017
  %p
    V&#xC4;NLIGEN L&#xC4;S DESSA ANV&#xC4;NDAR- OCH F&#xD6;RS&#xC4;LJNINGSVILLKOR NOGGRANT, INKLUSIVE DEN OBLIGATORISKA SKILJEKLAUSULEN I AVSNITT 18 F&#xD6;R BOSATTA I F&#xD6;RENTA STATERNA. OM DU &#xC4;R BOSATT UTANF&#xD6;R F&#xD6;RENTA STATERNA KAN YTTERLIGARE VILLKOR VARA TILL&#xC4;MPLIGA P&#xC5; DIG SOM ANTINGEN
    UTG&#xD6;R TILL&#xC4;GG TILL ELLER ERS&#xC4;TTER VISSA BEST&#xC4;MMELSER I DESSA ANV&#xC4;NDAR- OCH F&#xD6;RS&#xC4;LJNINGSVILLKOR. V&#xC4;NLIGEN SE SLUTET AV DETTA DOKUMENT F&#xD6;R ATT AVG&#xD6;RA HURUVIDA N&#xC5;GRA YTTERLIGARE VILLKOR &#xC4;R TILL&#xC4;MPLIGA P&#xC5; DIG.
  %p
    GENOM ATT KLICKA F&#xD6;R ATT INDIKERA DITT GODK&#xC4;NNANDE AV DESSA ANV&#xC4;NDAR- OCH F&#xD6;RS&#xC4;LJNINGSVILLKOR ELLER P&#xC5; ANNAT S&#xC4;TT &#xC5;TKOMMER ELLER ANV&#xC4;NDA V&#xC5;RA PRODUKTER OCH TJ&#xC4;NSTER (SOM DEFINIERAS NEDAN), GODK&#xC4;NNER DU ATT BLI BUNDED AV DESSA ANV&#xC4;NDAR- OCH F&#xD6;RS&#xC4;LJNINGSVILLKOR
    OCH ALLA VILLKOR SOM H&#xC4;NVISAS TILL H&#xC4;RI. K&#xD6;P ELLER ANV&#xC4;ND INTE V&#xC5;RA PRODUKTER OCH TJ&#xC4;NSTER OM DU INTE GODK&#xC4;NNER ALLA DESSA VILLKOR.
  %p
    Dessa anv&#xE4;ndar- och f&#xF6;rs&#xE4;ljningsvillkor ("
    %strong> Villkoren
    ") &#xE4;r till&#xE4;mpliga p&#xE5; din tillg&#xE5;ng till och anv&#xE4;ndande av Produkter och Tj&#xE4;nster fr&#xE5;n ChefSteps, Inc. ("
    %strong> ChefSteps
    ," "
    %strong> vi
    ," "
    %strong> oss
    ," eller
    "
    %strong> v&#xE5;r
    "), ett bolag registrerat i staten Washington, U.S.A. med kontor p&#xE5; 1501 Pike Place, #300, Seattle, Washington, 98101, med skatteidentifikationsnummer
    464326180
    \. Begreppet &#x201C;
    %strong> Produkter
    \&#x201D; avser h&#xE5;rdvaran och fysiska
    enheter som s&#xE4;ljs av ChefSteps, inklusive Joule Circulator och Joule Big Clamp. Begreppet &#x201C;
    %strong> Tj&#xE4;nster
    \&#x201D; avser v&#xE5;ra webbsidor, mobila applikationer, och andra digitala produkter och tj&#xE4;nster.
  %p
    Villkoren f&#xF6;r&#xE4;ndrar inte p&#xE5; n&#xE5;got s&#xE4;tt de villkor i n&#xE5;got annat avtal du kan ha med oss avseende Produkter, Tj&#xE4;nster eller annat. Om du anv&#xE4;nder v&#xE5;ra Produkter eller Tj&#xE4;nster p&#xE5; uppdrag av n&#xE5;gon organisation intygar du och garanterar att du &#xE4;r beh&#xF6;rig
    att godk&#xE4;nna Villkoren p&#xE5; s&#xE5;dan organisations v&#xE4;gnar och att s&#xE5;dan organisation godtar att vara ansvarig gentemot oss om du eller s&#xE5;dan organisation bryter mot Villkoren.
  %p
    ChefSteps f&#xF6;rbeh&#xE5;ller sig r&#xE4;tten att n&#xE4;rsomhelst &#xE4;ndra eller justera Villkoren efter v&#xE5;rt eget gottfinnande. Om vi g&#xF6;r &#xE4;ndringar i Villkoren kommer vi meddela om s&#xE5;dana &#xE4;ndringar, t.ex. genom att skicka ett meddelande per mejl, l&#xE4;mna meddelande via v&#xE5;ra
    Tj&#xE4;nster eller uppdatera datumet angiven i "
    %strong> Senast uppdaterad
    " i b&#xF6;rjan av Villkoren. Din forts&#xE4;tta anv&#xE4;ndning av v&#xE5;ra Tj&#xE4;nster bekr&#xE4;ftar ditt godk&#xE4;nnande av de reviderade Villkoren. Vi uppmuntrar dig att g&#xE5; igenom Villkoren med j&#xE4;mna
    mellanrum f&#xF6;r att s&#xE4;kerst&#xE4;lla att du f&#xF6;rst&#xE5;r de villkor som g&#xE4;ller n&#xE4;r du tillg&#xE5;r eller anv&#xE4;nder Tj&#xE4;nster. Om du inte godk&#xE4;nner de reviderade Villkoren f&#xE5;r du inte tillg&#xE5; eller anv&#xE4;nda Tj&#xE4;nster. De &#xE4;ndringar vi g&#xF6;r kommer inte p&#xE5;verka dina r&#xE4;ttigheter
    avseende Produkter du redan har k&#xF6;pt eller best&#xE4;llningar du redan gjort.
  %h3 1.	Integritetspolicy
  %p
    Vänligen se vår
    %a{:href => "https://www.chefsteps.com/privacy"} Integritetspolicy
    för information om hur vi samlar in, använder och lämnar ut information om dig.
  %h3 2.	Ytterligare villkor
  %p
    När du använder våra Produkter och Tjänster lyder din användning under de tillämpliga Villkoren för dessa Produkter och Tjänster. Till exempel, när du använder nedladdning, installering eller på annat sätt använder våra mobilapplikationer, lyder ditt
    användande under vårt
    %a{:href => "https://www.chefsteps.com/eula"} Slutanvändaravtal
    \.
    Vill du sälja vidare en Produkt som du köpt från oss kan du söka in till vårt certifierade program för
    återförsäljare för att bli  godkänd som certifierad ChefSteps-återförsäljare (&quot;Certifierad Återförsäljare&quot;).
    Om du köper Produkter från oss eller från en Certifierad Återförsäljare samtycker du till vår   
    %a{:href => "https://www.chefsteps.com/joule/warranty"} Begränsade Garanti
    \.
  %h3 3.	Behörighet; Registrering och konto; Nödvändig utrustning, ISP (internetleverantör) och internetoperatör
  %p
    Behörighet. Våra Tjänster är inte riktade mot eller avsedda för användande av någon under 13 år. Därtill, om du är mellan 13 och 18 år (eller mellan 13 år och myndig ålder enligt tillämplig lag), får du endast använda våra Tjänster under överinseende
    av en förälder eller vårdnadshavare som samtycker till att bli bunden av Villkoren. Genom att använda våra Tjänster, intygar och garanterar du att du (a) inte tidigare blivit avstängd eller borttagen från Tjänster, eller ägnat dig åt någon aktivitet
    som kan leda till avstängning eller borttagning från våra Tjänster, och (b) är fullt behörig och kapabel att ingå Villkoren och att du därmed inte strider mot något annat avtal vartill du är part.
  %p
    Registrering och Konto. För att tillgå och använda vissa delar eller funktioner i våra Tjänster kommer du att behöva registrera dig för ett ChefSteps-konto och/eller skapa en profil. När du registrerar dig för ett konto kan du inte skapa ett kontonamn
    som innehåller ett varumärke utan tillåtelse från varumärkesinnehavaren. Vi förbehåller oss rätten att återkalla kontonamn på uppdrag av företag eller enskilda personer som innehar rättsliga krav, inklusive varumärkesrättigheter, i dessa namn. Genom
    att skapa ett konto accpeterar du att (a) tillhandahålla korrekt, aktuell och fullständig kontoinformation, (b) upprätthålla och uppdatera din kontoinformation vid behov, c) upprätthålla säkerheten för dina kontouppgifter, (d) vara ansvarig för handlingar
    eller försummelser från tredje part du godkänner för att få tillgång till eller använda ditt konto och för Tjänster, och (e) omedelbart meddela oss om du upptäcker eller på annat sätt misstänker några säkerhetsbrott relaterade till Tjänster eller ditt
    konto.
  %p
    Nödvändig utrustning, Internetleverantör och Enheter. Du bekräftar att tillgången till vissa Tjänster beror på (a) din dator, mobiltelefon eller surfplatta, hemledning, hem Wi-Fi-nätverk, Bluetooth-anslutning och annan relaterad utrustning (“
    %strong> Utrustning
    ”),
    (b) din Internetleverantör (“
    %strong> Internetleverantör
    ”), och (c) din mobil eller surfplatta (“
    %strong> Enheter
    ”). Du samtycker till att du är ansvarig för alla avgifter som din Internetleverantör och Enheter tar ut i samband med din
    användning av Tjänster och att du är ansvarig för att följa alla avtal och andra policyer hos din Internetleverantör och dina Enheter. Du bekräftar och accepterar vidare att dina interaktioner med din Internetleverantör och Enheter är enbart mellan
    dig och sådana tredje parter, och att ChefSteps inte är ansvarig eller ansvarig på något sätt för sådana interaktioner.
  %h3 4.	Försäljningsvillkor
  %h4 4.1.	Betalnings- och Faktureringsinformation
  %p
    Genom att tillhandahålla ett kreditkort eller annan betalningsmetod som vi accepterar, garanterar du att du är auktoriserad att använda den angivna betalningsmetoden och att du tillåter oss (eller vår tredje-partsbetalningsförmedlare) att debitera din
    betalningsmetod med det totala beloppet av din beställning (inklusive eventuella tillämpliga Skatter och andra avgifter). Om betalningsmetoden inte kan verifieras, är ogiltig eller annars inte är acceptabel, kan din beställning avbrytas eller annulleras.
    Du måste lösa alla problem vi stöter på i förhållande till betalningsmetoden du väljer för att fortsätta med din order.
  %p
    Vår presentation av Produkter och Tjänster ska inte betraktas som ett bindande erbjudande, utan snarare en inbjudan att beställa. När du avslutar onlineköpsprocessen kommer vi att ha ett bindande försäljningsavtal. Du kan uppdatera din kundvagn när som
    helst innan du avslutar onlineköpsprocessen. Vi kommer inte att gå vidare med leveransprocessen förrän din betalning har mottagits.
  %h4 4.2.	Prissättning och Tillgänglighet
  %p
    Samtliga priser visas i amerikanska dollar, såvida vi inte enligt lag är skyldiga att visa priser i lokal valuta. Priserna inkluderar inte tillämpliga skatter (definieras nedan), fraktkostnader eller andra avgifter, såvida vi inte tydligt anger annat
    eller lagstadgade att visa priser inklusive eventuella skatter, avgifter och andra avgifter.
  %p
    Alla Produkter och Tjänster som erbjuds till försäljning är föremål för tillgänglighet och vi förbehåller oss rätten att införa kvantitetsbegränsningar på alla beställningar, avvisa hela eller någon del av en beställning och upphöra med försäljningen
    av Produkter och Tjänster utan föregående meddelande. Priserna för Produkter och Tjänster kan ändras när som helst, men sådana ändringar påverkar inte någon beställning för Produkter eller Tjänster du redan har gjort.
  %h4 4.3.	Skatter
  %p
    I den utsträckning som tillåts enligt gällande lag är du ansvarig för eventuella försäljningar, användningsområden, mervärdesskatter eller andra statliga skatter, avgifter eller avgifter (gemensamt "
    %strong> Skatter
    ") i samband med ditt köp och
    användning av Produkter eller Tjänster. Beställningar utanför USA kan medföra skatter som fastställts av tullmyndigheten i destinationslandet. Bedömning av skatter baseras i allmänhet på beställningens värde och skattefria tröskelvärdet (om tillämpligt)
    för varor som importeras till destinationslandet. Vi kommer att samla in tillämpliga Skatter om vi anser att vi har en plikt att samla in Skatter. Observera att vi inte samlar in skatter på varor som skickas till jurisdiktioner där vi inte har någon
    väsentlig förbindelse. För våra amerikanska användare kan de faktiska Skatterna som debiteras och samlas in, skilja sig från det belopp som visas vid kassan. Flera faktorer kan orsaka denna skillnad, såsom variationer mellan processorns program och
    förändringar i skattesatser.
  %h4 4.4.	Frakt; risk för förlust
  %p
    Du godkänner att betala eventuella frakt- och fraktkostnader som visas när du köper. Vi förbehåller oss rätten att öka, minska, lägga till eller eliminera frakt och fraktkostnader från tid till annan, men vi kommer att meddela de avgifter som gäller för
    dig innan du gör ditt köp. De leveransdatum eller tider som visas som en del av utcheckningen vid kassan är endast beräkningar och kan inte garanteras. Om inget annat anges är risken för förlust eller skada på en våra Produkter överlämnad till dig vid
    leverans av våra Produkter till den av dig angivna leveransplats. Om du har några frågor eller oro angående frakten, kontakta oss på info@chefsteps.com.
  %h4 4.5.	Retur och Återbetalning
  %p
    ChefSteps Premiummedlemskap. ChefSteps Premiummedlemskap ger dig obegränsad tillgång till ChefSteps-klasser och andra medlemsförmåner (för mer information, se https://www.chefsteps.com/premium). Vårt Premiummedlemskap erbjuds med 100 % garanti om tillfredsställelse.
    Om du inte är nöjd med Premiummedlemskapet kommer vi att återbetala en engångsavgift för Premiummedlemskapet i sin helhet i den ursprungliga betalningsformen, minus eventuella rabatter som du fått som medlem.
  %p
    Produkter köpta direkt från ChefSteps. Om du bor i USA accepterar vi returer och utfärdar återbetalningar för icke-livsmedel Produkter som du köper direkt från oss om sådana Produkter returneras inom 30 dagar efter leverans, i oöppnat och oanvänt skick.
    Innan du returnerar någon Produkt måste du få ett returtillstånd från ChefSteps genom att kontakta oss på support@chefsteps.com och tillhandahålla följande information: (a) Produktens serienummer; b) Anledningen till returen och (c) det ursprungliga
    beställningsnumret. Vi kan ta ut en 20 % avgift för eventuella returer som inte görs i enlighet med Villkoren. För personer utanför USA, se nedan angående retur och återbetalning i Villkoren för Produkter som köpts från ChefSteps som gäller för dig
    baserat på ditt hemland.
  %p
    Tredje-partsprodukter inköpta från Tredje-partssäljare. Vi kan erbjuda möjligheten att köpa Produkter från tredje parts säljare via våra Tjänster, i så fall fungerar vi endast som mellanhand. Om du köper en produkt från en tredje-partssäljare, regleras
    ditt köp genom tredjeparts villkor och policy. Vi är inte säljare av sådana produkter och är därmed inte part i försäljningen av dessa produkter; därmed gör vi inga utfästelser eller ger garantier i villkoren för den produkten, vi accepterar inte returer
    eller utfärdar återbetalningar för sådana produkter.
  %h4 4.6.	Fel
  %p
    Vi försöker vara så noggrann som möjligt och för att eliminera fel på vår Tjänster; vi garanterar dock inte att beskrivningarna, prissättningen eller annan information relaterad till Produkter eller Tjänster är korrekt, fullständig, tillförlitlig, aktuell
    eller felfri. I händelse av ett fel förbehåller vi oss rätten att korrigera ett sådant fel och revidera din beställning i enlighet därmed (som inkluderar debitering av rätt pris) eller att avbryta ordern och återbetala eventuellt belopp som debiteras.
  %h3 5.	Licens att använda Tjänster och Material
  %p
    Om inget annat anges är allt innehåll och annat material på Tjänsten, inklusive, men utan begränsning, våra logotyper och alla mönster, text, recept, ingredienslistor, tillagningstider, videor, grafik, bilder, information, data, programvara, ljudfiler,
    andra filer, och urvalet och arrangemanget av det (gemensamt, "
    %strong> Material
    "), egendom som ägs av ChefSteps eller våra licensgivare och är skyddad av nationella och internationella upphovsrätts-, varumärkes- och andra immateriella rättigheter.
  %p
    ChefSteps ger dig en begränsad, royaltyfri, icke-exklusiv, icke-överlåtbar, icke-underlicenserbar, världsvid licens för att få tillgång till och använda material som görs tillgängliga via Tjänsten för dina egna personliga, icke-kommersiella ändamål. Med
    undantag för vad som uttryckligen är tillåtet enligt lag eller av ChefSteps skriftligt, åtar du dig att inte reproducera, omfördela, sälja, skapa beroendeverk eller senare versioner, sönderdela, omvandla eller demontera våra Tjänster (utom i fall där
    du har rätt att göra det enligt gällande lag), och du kommer inte att vidta några åtgärder för att störa eller skada våra Tjänster.
  %p
    ChefSteps uppmuntrar användning och distribution av visst Material i våra Tjänster, inklusive våra recept, ingredienslistor, videor, bilder och användarinnehåll (definierad i avsnitt 11). Om inget annat anges är sådant Material tillgängligt för dig enligt
    den senaste versionen av Creative Commons Attribution-NonCommercial-ShareAlike-licensen (BY-NC-SA). Observera att våra servicenamn, varumärken, logotyper och slogans som kan visas på våra Tjänster inte är licensierade till dig enligt Creative Commons-licensen.
  %p
    Om inget uttryckligen anges av oss ska inget i Villkoren tolkas som att ge någon rättighet eller licens till något patent, varumärke, upphovsrätt eller annan äganderätt till ChefSteps eller någon tredje part, vare sig genom lagligt hinder, underförstått
    eller på annat sätt. Licenserna som beviljats här kan återkallas när som helst.
  %h3 6.	Upprepad Intrångspolicy; Upphovsrättsklagomål
  %p
    I enlighet med Digital Millennium Copyright Act och andra tillämpliga lagar har vi antagit en policy för att begränsa tillgången till våra Tjänster genom att avsluta användarnas konton, under lämpliga omständigheter och efter eget gottfinnande, som bryter
    mot andras immateriella rättigheter. Om du tror att något på våra Tjänster bryter mot upphovsrätt som du äger eller kontrollerar, kan du lämna in en anmälan om sådan överträdelse genom en av oss utsedda agenter enligt nedan:
  %p
    Namn på utsedd agent: Edward Starbird 
    %br>/
    Adress: 1501 Pike Place, #300, Seattle, WA 98101 
    %br>/
    Telefon: (206) 905-1099 
    %br>/
    Email:
    %a{:href => "mailto:dmca@chefsteps.com"} dmca@chefsteps.com
  %p Om du är bosatt i USA, se 17 U.S.C. § 512 c (3) för kraven på en korrekt anmälan. För personer som är bosatta utanför USA, se nedan för eventuella behörighetsspecifika krav för en korrekt anmälan.
  %p
    Notera även att om du medvetet gör någon materiellt oriktig framställning i din anmälan om att Materialet eller aktiviteten gör intrång, kommer du att vara ansvarig för eventuella skador, inklusive, utan begränsning, kostnader och advokatkostnader som
    ådras oss eller den påstådda intrångsgöraren som ett resultat av att vi förlitar oss på sådan oriktig framställning vid borttagning eller inaktivering av tillgång till materialet eller aktiviteten som hävdats vara inkräktande.
  %h3 7.	Varumärken
  %p
    "
    %strong> ChefSteps
    ," ChefSteps-logotypen och andra ChefSteps-servicenamn, logotyper eller slogans som kan visas på våra Tjänster kan vara registrerade som varumärken tillhörande ChefSteps och våra leverantörer och våra licensgivare och får inte
    kopieras, imiteras eller användas helt eller delvis utan vår eller varumärkesinnehavarens skriftliga tillstånd. Du får inte använda några metataggar eller annat "
    %strong> gömd text
    " som använder "
    %strong> ChefSteps
    " eller annat namnvarumärke
    eller produkt eller service namn som tillhör ChefSteps utan vårt föregående skriftliga tillstånd. Dessutom, utseendet och känslan hos Tjänsten, inklusive, utan begränsning till, alla sidhuvud, specialtillverkad grafik, knappikoner och skript utgör tjänstemärke,
    varumärke eller trade dress som tillhör ChefSteps får inte kopieras, imiteras eller användas i helt eller delvis, utan vårt föregående skriftliga tillstånd. Alla andra varumärken, registrerade varumärken, produktnamn och företagsnamn eller logotyper
    som nämns på våra Tjänster är deras respektive ägares egendom och får inte kopieras, imitera eller användas helt eller delvis utan tillstånd från respektive varumärkesinnehavare. Hänvisningar till produkter, tjänster, processer eller annan information
    med namn, varumärke, tillverkare, leverantör eller eljest utgör inte eller innebär inte ett godkännande, sponsring eller rekommendation av ChefSteps.
  %p
    Om du tror att något på våra Tjänster gör intrång på varumärken som du äger eller kontrollerar, kan du lämna in en anmälan om sådan överträdelse med hjälp av vår, enligt avsnitt 6, utsedda agent. En sådan anmälan bör innehålla samma beståndsdelar som
    krävs vid upphovsrättsklagomål.
  %h3 8.	Hyperlänkar
  %p
    Du tillerkänns en begränsad, icke-exklusiv, icke-överlåtbar rätt att skapa en hyperlänk i test till våra Tjänster, under förutsättning att en sådan länk inte visar ChefSteps eller någon av våra Tjänster på ett falskt, vilseledande, nedsättande eller på
    annat förekommande sätt och under förutsättning att länkplatsen inte innehåller olagligt material eller material som är stötande, trakasserande eller på annat sätt anstötligt. Denna begränsade rätt kan återkallas när som helst. Du får inte använda en
    ChefSteps-logotyp eller annan grafik som ägs av ChefSteps för att länka till våra Tjänster utan vårt skriftliga tillstånd. Vidare får du inte använda, rama eller använda inramningsteknik för att bifoga ChefSteps varumärken, logotyper eller annan av
    ChefStep ägd information, inklusive bilderna som finns på våra Tjänster, innehållet i någon text eller layout eller design av någon sida eller formulär som finns på en sida, på våra Tjänster utan vårt skriftliga samtycke.
  %p
    I den utsträckning som tillåts enligt tillämplig lag gör ChefSteps inga krav gällande eller invändningar avseende, och tar inget ansvar för, kvalitén, innehållet, arten eller tillförlitligheten hos tredje parts webbplatser som är tillgängliga via hyperlänkar
    från våra Tjänster eller webbplatser som länkar till våra Tjänster. Sådana webbplatser är inte under vår kontroll, och vi är inte ansvariga för innehållet på länkad webbplats, länk som finns på en länkad webbplats, eller översyn, ändringar eller uppdateringar
    av sådana webbplatser. Vi tillhandahåller dessa länkar till dig som en bekvämlighet, och inkluderandet av länk innebär inte vår anslutning, godkännande eller adoption av någon webbplats eller information som finns i den. När du lämnar våra Tjänster,
    bör du vara medveten om att Villkoren och våra Policys inte längre tillämpas. Du bör därför granska de tillämpliga villkoren och policys, inklusive praxis avseende sekretess och datainsamling, på den webbplats som du navigerat dig till genom våra Tjänster.
  %h3 9.	Tredje-parts innehåll; Open Source Software; Interface i tredje-parts Produkter och Tjänster
  %p
    Tredje-Pars Innehåll. Vi kan visa innehåll, annonser och kampanjer från tredje part via våra Tjänster (gemensamt, "
    %strong> Tredje-parts Innehåll
    "). I den utsträckning som tillåts enligt tillämplig lag kontrollerar vi inte, godkänner eller antar
    Tredje-parts Innehåll och vi lämnar inga garantier av något slag avseende sådant Tredje-parts Innehåll, inklusive, utan begränsning, om dess noggrannhet eller fullständighet. Du bekräftar och godkänner att dina interaktion med tredje parter som tillhandahåller
    Tredje-parts Innehåll är enbart mellan dig och tredje-part, och att ChefSteps inte på något sätt är ansvariga för sådana interaktioner eller Tredje-parts Innehåll.
  %p
    Open Source Software. Våra tjänster kan även innehålla program från tredje part som omfattas av GNU General Public License ("
    %strong> GPL
    ") eller annan open source licens ("
    %strong> Open Source Software
    "). Open Source Software är licensierad
    enligt de licensensvillkoren som följer av sådan Open Source Software, med förbehåll för ytterligare villkor, tillgänglig på https://www.chefsteps.com/libraries. Ingenting i dessa villkor begränsar dina rättigheter enligt, eller ger dig rättigheter
    som ersätter, Villkoren och villkoren för alla tillämpliga slutanvändarlicenser för sådan Open Source Software. Vi lämnar inga garantier av något slag angående sådan tredje-parts software, och du samtycker till att ChefSteps inte på något sätt är ansvarig
    för sådan tredje-parts software.
  %p
    Ansluta till Tredje-parts Produkter och Tjänster. ChefSteps kan tillåta dig att använda våra Produkter och Tjänster (såsom Joule) i kombination med Tredje-Parts Produkter och Tjänster, såsom Amazon Alexa (“
    %strong> Tredje-parts Produkter och Tjänster
    ”).
    Om du bestämmer dig för att ansluta våra Produkter eller Tjänster till Tredje-parts Produkter och Tjänster, krävs ditt uttryckliga samtycke och godkännande, vilket kan återkallas av dig när som helst. När du samtyckt till att ansluta en Tredje-parts
    Produkter och Tjänster till våra Produkter eller Tjänster, samtycker du till att ChefSteps och leverantören av Tredje-parts Produkter och Tjänster kan utbyta information för att möjliggöra den funktionalitet du godkänner. När ChefSteps delar information
    med en leverantör av en Tredje-parts Produkter och Tjänster, kommer denna Tredje-Parts användning av sådan information endast att regleras genom deras egen integritetspolicy. Du bekräftar och godkänner att ChefSteps inte garanterar säkerheten för Tredje-parts
    Produkter och Tjänster och att ChefSteps inte ansvarar för din användning av någon Tredje-parts Produkter eller Tjänster eller någon skada eller förlust som härrör från eller kan relateras till din användning av någon Tredje-parts Produkter eller Tjänster.
    Du bör kontakta tredje-partsleverantörer vid frågor om deras Tredje-parts Produkter eller Tjänster.
  %h3 10.	Användaruppförande
  %p
    Du godkänner att du inte kommer bryta mot någon lag, avtal, immateriell rättighet eller annan rättighet från tredje-part eller begår en otillåten civilrättslig handling och att du ensamt är ansvarig för ditt beteende när du öppnar eller använder våra
    Produkter och Tjänster. Du godkänner att du kommer att följa Villkoren och kommer inte att:
  %p Ägna dig åt trakasserande, hotande, hotfull, aggressivt eller stalking-beteende;
  %p Använda eller försök att använda en annan användares konto utan tillstånd från sådan användare och ChefSteps;
  %p
    Använd våra Produkter eller Tjänster på något sätt som kan störa, störa, negativt påverka eller hindra andra användare från att helt njuta av våra Produkter eller Tjänster, eller som kan skada, inaktivera, överbelasta eller försämra Produkter eller Tjänstens
    funktion på något sätt;
  %p Förändra någon aspekt av Produkter eller Tjänster, inklusive felkorrigering, utan tillstånd från ChefSteps;
  %p
    Reverse engineer någon aspekt av våra Produkter eller Tjänster eller göra något för att upptäcka källkod eller kringgå åtgärder som används för att förhindra eller begränsa tillgången till Materialet eller funktioner eller delar av våra Produkter eller
    Tjänster, med undantag av vad som uttryckligen är tillåtet enligt tillämplig lag;
  %p Utveckla tredje-parts applikationer som interagerar med Användarinnehåll eller våra Produkter eller Tjänster utan vårt föregående skriftliga samtycke;
  %p
    Använd någon robot, spider, sökrobot, skrapa, skript, webbläsarförlängning, offline-läsare eller annat automatiserat sätt eller gränssnitt som inte är godkänt av oss för att komma åt våra Produkter eller Tjänster, extrahera data eller på annat sätt störa
    eller ändra återgivandet av material eller funktionalitet;
  %p Förbigå eller ignorera instruktionerna i robots.txt-filen, tillgänglig på https://www.chefsteps.com/robots.txt, som kontrollerar all automatiserad åtkomst till Tjänsten; eller
  %p Använd våra Produkter eller Tjänster för olagligt eller obehörigt ändamål, eller delta, uppmuntra eller främja någon aktivitet som bryter mot Villkoren.
  %h3 11.	Användarinnehåll
  %p
    Våra Tjänster kan innehålla interaktiva funktioner och områden som tillåter användare att skapa, posta, dela eller lagra innehåll, inklusive men inte begränsat till innehåll genererat av användare såsåom recept, recensioner, foton, videor, musik, ljud,
    text, grafik, kod, föremål eller annat material (gemensamt, "
    %strong> Användarinnehåll
    "). Om du väljer att dela ditt Användarinnehåll med andra via våra Tjänster eller genom tredje-partsplatformar förstår du att detta Användarinnehåll är synligt
    för andra i enlighet med de sekretessinställningar du anger i ditt konto.
  %p
    Du godkänner att du är ensamt ansvarig för Användarinnehållet och för din användning av interaktiva funktioner och områden i våra Tjänster. Genom att publicera, ladda upp eller på annat sätt skicka in Användarinnehåll, garanterar du att (a) sådant Användarinnehåll
    är icke-konfidentiellt (b) du äger alla immateriella rättigheter (eller har erhållit alla nödvändiga tillstånd) för att tillhandahålla sådant innehåll och att bevilja licenser som anges här och (c) sådant Användarinnehåll inte strider mot eller kränker
    någon immateriell rättighet eller annan äganderätt, inklusive rätten till publicitet eller privatliv, för någon person eller enhet.
  %p Genom att använda de interaktiva funktionerna och områdena i våra Tjänster, godtar du att inte skapa, posta, dela eller lagra något av följande:
  %p
    Användarinnehåll som är olagligt, bedrägligt, förolämpande, obscent, pornografiskt, oanständigt, otrevligt, suggestivt, trakasserande, hotande, invasivt för integritets- eller reklamrättigheter, missbrukande, provocerande, bedräglig eller på annat sätt
    anstötlig;
  %p Användarinnehåll som skulle utgöra, uppmuntra eller ge instruktioner för brott, bryta mot någon parts rättigheter eller på annat sätt skapa skadeståndsansvar eller bryta mot lokal, statlig, nationell eller internationell rätt;
  %p Användarinnehåll som innehåller eller visar några uttalanden, kommentarer eller påståenden som inte speglar dina ärliga åsikter och upplevelser;
  %p Användarinnehåll som framställer eller lämnar oriktig uppgift om din anknytning till någon person eller enhet;
  %p Användarinnehåll som refererar till eller visar ChefSteps eller våra Produkter eller Tjänster men misslyckas med att visa materiell anslutning till oss, om du har en (till exempel om du anställd hos ChefSteps);
  %p Användarinnehåll som innehåller oönskade kampanjer, politiska kampanjer, reklam eller förfrågningar;
  %p Användarinnehåll som innehåller virus, skadad data eller andra skadliga, störande eller destruktiva filer eller innehåll; eller
  %p
    Användarinnehåll som, enligt vår egen bedömning, är tvistigt eller som begränsar eller förhindrar någon annan person från att använda eller njuta av våra Produkter eller Tjänster eller som kan utsätta ChefSteps eller andra för någon skada eller ansvar
    av något slag.
  %p
    Vi är inte ansvariga för Användarinnehåll. Även om vi inte har någon skyldighet att granska, redigera eller övervaka användarinnehåll, förbehåller vi oss rätten och har absolut diskretion att avlägsna, screena eller redigera användarinnehåll som publicerats
    eller lagrats på våra Tjänster när som helst och för vilken anledning som helst, och du är ensamt ansvarig för att på egen bekostnad skapa säkerhetskopior och ersätta Användarinnehåll som du skickar in eller lagrar på våra Tjänster.
  %h3 12.	Rättigheter i Användarinnehåll
  %p
    Med undantag för vad som sägs i Villkoren eller i ett separat avtal, hävdar vi inte något ägande eller kontroll över ditt Användarinnehåll. Genom att ladda upp, posta eller på annat sätt skicka in Användarinnehåll ger du ChefSteps en icke-exklusiv, royaltyfri,
    världsomspännande, evig, oåterkallelig, överförbar och fullständigt underlicensierbar rätt att använda, reproducera, ändra, anpassa, publicera, översätta, skapa beroendeverk från, distribuera, utföra och visa sådant Användarinnehåll och ditt namn, gestalt,
    röst och persona på våra Tjänster, på tredje parts webbplatser samt mobila applikationer, och i alla andra media eller format, vare sig nu kända eller senare utvecklade, för alla syfte, inklusive för ChefSteps kommersiella syften. Vidare beviljar du
    alla användare av våra Tjänster tillstånd att komma åt och använda ditt Användarinnehåll i enlighet med den senaste versionen av Creative Commons Attribution-NonCommercial-ShareAlike-licensen (BY-NC-SA).
  %h3 13.	Feedback
  %p
    Separat och bortsett från Användarinnehåll kan du skicka frågor, kommentarer, förslag, idéer, original eller kreativt material eller annan information om ChefSteps eller våra Produkter eller Tjänster (gemensamt, "
    %strong> Feedback
    "). Feedback
    är icke-konfidentiell och blir ChefSteps egendom. ChefSteps ska äga de exklusiva rättigheterna till, inklusive, utan begränsning, alla immateriella rättigheter, i och till sådan återkoppling och har rätt att obegränsat använda och sprida denna Feedback
    för varje ändamål, kommersiellt eller eljest, utan din bekräftelse eller skyldighet att utge ersättning till dig.
  %h3 14.	Ersättningsskyldighet
  %p
    I den utsträckning som tillåts enligt tillämplig lag, godkänner du att sköta, försvara och hålla ChefSteps skadelös samt våra fördetta, nuvarande och framtida anställda, tjänstemän, ledare, uppdragstagare, konsulter, aktieägare, leverantörer, tjänsteleverantörer,
    moderbolag, dotterbolag, agenter, föregångare, efterträdare och successorer (tillsammans med ChefSteps, "
    %strong> ChefSteps Parter
    ") från alla tredje-parts krav av alla slag, oavsett om det avser skadad, kontrakt eller annat (gemensamt, "
    %strong> Krav
    "),
    inklusive skador på egendom eller personskada som uppstår från eller hänför sig till:
  %p din tillgång till eller användning eller missbruk av våra Produkter, Tjänster och Material;
  %p allt Användarinnehåll du skapar, postar, delar eller lagrar på eller via våra Tjänster eller våra sidor eller flöden på tredje parts sociala medier;
  %p all Feedback du förser;
  %p dina överträdelser av Villkoren;
  %p dina överträdelser av tredje-parts rättigheter; or
  %p användning eller missbruk av våra Produkter eller Tjänster av någon tredje part som du tillåtit att använda de Produkter eller Tjänster som tillhandahålls till dig.
  %p Denna ersättningsskyldighet omfattar att betala för någon av ChefSteps Parters advokatkostnader och andra kostnader för att undersöka och försvara fordringar samt kostnaderna för att verkställa ersättningsskyldigheten.
  %p
    Du samtycker till att meddela ChefSteps om eventuella krav från tredje part och att samarbeta med ChefSteps Parter för att försvara sådana krav. Vidare samtycker du till att ChefSteps Parter ska ha kontroll över försvaret eller förlikning av eventuella
    krav från tredje part. Denna ersättning gäller som tillägg till, och inte i stället för, andra ersättningsskyldigheter som framgår av skriftliga avtal mellan dig och ChefSteps.
  %h3 15.	Friskrivning
  %p
    VI KAN TILLHANDAHÅLLA VIKTIGA SÄKERHETS- OCH SÄKERHETSANVISNINGAR OCH INSTRUKTIONER SOM DU MÅSTE LÄS FÖRE ANVÄNDNING AV VISSA CHEFSTEPS PRODUKTER OCH/ELLER DELTR I VISSA AKTIVITETER ELLER TJÄNSTER. VI KAN KOMMA ATT UPPDATERA ELLER REVIDERA DESSA VARNIGNAR
    OCH INSTRUKTIONER, VÄNLIGEN GRANSKA DESSA REGULBUNDET.
  %p
    I DEN UTSTRÄCKNING SOM TILLÄMPLIG LAG TILLÅTER GÄLLER CHEFSTEPS TJÄNSTER OCH MATERIAL "I BEFITNLIGT SKICK" och "SOM TILLGÄNLIG" UTAN GARANTIER AV NÅGOT SLAG, UTTRYCKLIGT ELLER UNDERFÖRSTÅTT OCH VI UTTRYCKLIGEN AVSÄGER OS ALLA ANDRA GARANTIER, UTTRYCKTA
    ELLER UNDERFÖRSTÅDDA, INKLUSIVE, MEN INTE BEGRÄNSAT TILL, UNDERFÖRSTÅDDA GARANTIER FÖR ALLMÄN BESKAFFENHET, LÄMPLIGT FÖR ETT SÄRSKILT SYFTE, ÄGANDERÄTT OCH ICKE-INTRÅNG. VI ÅTAR OSS INTE ELLER GARANTERAR INTE ATT CHEFSTEPS HEMSIDA, MOBILAPPLIKATIONER
    OCH MATERIAL ÄR KORREKTA, KOMPLETTA, PÅLITLIGA, AKTUELLA ELLER FELFRIA. DESSUTOM ÄR VÅRA HEMSIDOR, MOBILAPPLIKATIONER OCH MATERIAL (A) ENBART FÖR INFORAMTIONSSYFTE, (B) TILLHANDAHÅLLEN SOM GENERELLA RÅDGIVNING OCH (C) ÄR INTE AVSEDDA TILL ATT UTGÖRA
    ETT SUSBSTITUT FÖR PROFESSIONELL MEDICINSK- ELLER NÄRINGSRÅDGIVNING. MEDAN VI FÖRSÖKER ATT GÖRA DIN TILLGÅNG TILL OCH DIN ANVÄNDNING AV CHEFSTEPS HEMISIDOR, MOBILAPPLIKATIONER OCH MATERIALET SÄKERT, KAN VI INTE OCH ÅTAR OSS INTE, ELLER GARANTERA ATT
    DE ELLER VÅRA SERVARAR ÄR FRIA FRÅN VIRUS ELLER ANDRA SKADLIGA KOMPONENTER; DÄRMED MÅSTE DU ANVÄNDA EN BRANSCHERKÄND MJUKVARA FÖR ATT UPPTÄCKA OCH SÄKRA MOT VIRUS VID NEDLADDNING.
  %p
    DU ÄR ENSAMT ANSVARIG FÖR LÄMPLIG OCH SÄKER RENGÖRING, HANTERING, FÖRBEREDELSE, FÖRVARING, KOKING, ANVÄNDNING OCH FÖRTÄRING AV MAT. MATLAGNINGSANVISNINGARNA OCH RIKTLINJER SOM SKICKAS UT AV CHEFSTEPS ANVÄNDAS ENDAST SOM ANVISNINGAR. ANVÄND DITT BÄSTA
    OMDÖME OCH LÄMPLIG DISKRETION UNDER FÖRBEREDNING ELLER FÖRTÄRNG AV MATEN. ATT FÖRTÄRA RÅTT ELELR UNDERKOKT KÖTT, FÅGEL, FISK, SKALDJUR ELLER ÄGG KAN ÖKA DIN RISK FÖR MATFÖRGIFTNING, OCH SÅDAN FÖRTÄRING GÖRS PÅ EGEN RISK. VI UTTRYCKLIGEN FRISKRIVER OSS
    FRÅN AVSNVAR FÖR EVENTUELLA NEGATIVA EFFETER SOM ÄR ETT RESULTAT AV DIN ANVÄNDING ELLER TILÄPMNING AV INFORMATION SOM TILLHADNAHÅLLS GENOM VÅRA TJÄNSTER.
  %p
    CHEFSTEPS LÄMNAR INGEN GARANTI PÅ PRODUKTER SOM TILLVERKAS AV ANDRA ENHETER, MEN SOM DU KAN KÖPA GENOM VÅR TJÄNSTER. PRODUKTER SOM ÄR FRAMSTÄLLDA AV ANDRA ENHETER MEN SÄLJS TILL VÅRA TJÄNSTER ELLER SOM SÄLJS AV CHEFSTEPS "I BEFINTLIGT SKICK" OCH "MED
    SAMTLIGA FEL." CHEFSTEPS FRISKRIVER SIG FRÅN ALLA UNDERFÖRSTÅDDA GARANTIER FÖR DENNA PRODUKT, INKLUSIVE DEN UNDERFÖRSTÅDDA GARANTIN FÖR ALLMÄN BESKAFFENHET, LÄMPLIGHET FÖR ETT SÄRSKILT SYFTE, ÄGANDERÄTT OCH ICKE-INTRÅNG. CHEFSTEPS GARANTERAR INGEN KVALITET
    ELLER UTMÄRKANDE DRAG FÖR PRODUKTER SOM VI INTE PRODUCERAR. OM INTE TILLVERKAREN TILLHANDAHÅLLER EN GARANTI, STÅR DU SOM KÖPARE HELA RISKEN GÄLLANDE KVALITE OCH PRESTANDAN FÖR SÅDAN PRODUKT, OCH DU, INTE CHEFSTEP, ÅTAR DIG ALLA KOSTNADER FÖR NÖDVÄNDIG
    UTBYTE ELLER REPARATION.
  %p TILLVERKARE AV PRODUKTER SOM SÄLJS AV CHEFSTEPS KAN TILLHANDAHÅLLA SÄRSKILDA GARANTIER OCH DU SAMTYCKER TILL ATT DINA RÄTTSLIGA ÅTGÄRDER FÖR SKADA I DESSA PRODUKTER SKA ENBART BASERAS PÅ GARANTIERNA, SOM TILLHANDAHÅLLS AV TILLVERKARNA.
  %h3 16.	Ansvarsbegränsning; Ansvarsbefrielse
  %p
    I DEN UTSTRÄCKNING SOM TILLÅTS AV TILLÄMPLIG LAG: (A) SKA INTE CHEFSTEP ELLER NÅGON ANNAN CHEFSTEP PART VAR ANSVARIG FÖR INDIREKTA, SÄRSKILDA, FÖLJDSKADOR AV NÅGOT SLAG (INKLUSIVE, MEN INTE BEGRÄNSAT TILL, FÖRLUST AV INKOMSTER, INKOMST ELLER VINST, FÖRLUST
    AV ANVÄNDNING ELLER DATA, FÖRLUST ELLER FÖRSÄKRING I VÄRDE AV TILLGÅNGAR ELLER SÄKERHETER ELLER SKADOR FÖR VERKSAMHETSSTÖRNINGAR) SOM UPPSTÅR GENOM ELLER PÅ NÅGOT SÄTT RELATERAS TILL TILLGÅNG ELLER ANVÄNDNING AV TJÄNSTER ELLER MATERIAL ELLER PÅ ANNAT
    SÄTT RELATERAS TILL VILLKOREN (INKLUDERANDE, MEN INTE BEGRÄNSAT TILL, SKADOR SOM ORSAKAS AV ELLER SOM ÄR ETT RESULTAT AV TILLIT FRÅN NÅGON ANVÄNDARE FÖR UPPGIFTER SOM ERHÅLLITS FRÅN CHEFSTEP, ELLER GENOM MISSTAG, UNDERLÅTENHET, AVBROTT, RADERING AV
    FILER ELLER E-POST, FEL, DEFEKTER, BUGGAR, VIRUS, TROJANSKA HÄSTAR, STÖRNINGAR I DRIFT ELLER ÖVERFÖRINGAR ELLER NÅGOT MISSLYCKANDE I PRESTATION, OSVASETT OM DET RESULTERAR I EN HANDLING AV GUD ELLER FORCE MAJEURE, KOMMUNIKATIONSFEL, STÖLD, FÖRSTÖRELSE
    ELLER OBEHÖRIG ÅTKOMST TIL CHEFSTEPS ARKIV, PROGRAM ELLER SYSTEM), OAKTAT FORMEN AV ÅTGÄRD, OAVSETT OM DEN ÄR BESERAD PÅ ETT KONTRAKT, OAKTSAM HANDLING (INKLUSIVE MEN INTE BRGRÄNSAD TILL, ENKEL OAKTSAMHET, OAVSETT OM DET ÄR AKTIVT, PASSIVT ELLER HÄNFÖRLIG),
    STRIKT PRODUKTANSVAR ELLER NÅGON ANNAN JURIDISK ELLER LIKVÄRDIG TEORI (ÄVEN OM PARTEN HAR BLIVIT TILLRÅD OM MÖJLIGHETEN ATT SÅDAN SKADA OCH OVSETT OM SÅDAN SKADA VAR FÖRUTSÄGBAR); OCH (B) I INGET FALL SKA ANSVAR FÖR CHEFSTEP OCH CHEFSTEPS PARTER (GEMENSAMT)
    AGGREGERAS, OSVASETT OM I KONTRAKT, GARANTI, OTILLÅTEN CIVILRÄTTSLIG HANDLING (INKLUSIVE FÖRSUMLIGHET, OASVSETT OM DEN ÄR AKTIV, PASSIV ELLER HÄNFÖRLIG), PRODUKTANSVAR, STRIKT ANSVAR ELLER ANNAN TEORI, TILL FÖLJD AV ELLER I SAMBAND MED OFÖRMÅGA ATT
    ANVÄNDA TJÄNSTER, INKLUSIVE MATERIAL OCH FUNKTIONER SOM INNEHÅLLAS DÄRI, ÖVERSKRIDA NÅGON KOMPENSATION SOM BETALTS TILL OSS FÖR DIN ÅTKOMST TILL ELLER ANVÄNDNING AV VÅRA PRODUKTER ELLER TJÄNSTER.
  %p
    I DEN UTSTRÄCKNING SOM TILLÅTS AV TILLÄMPLIG LAG, PÅ UPPDRAG AV DINA ARVINGAR, EXEKUTORER, ADMINISTRATÖRER, JURIDISKA OCH PERONLIGA REPRESENTANTER, SKA DU HÄRMED AVSTÅ OCH BEFRIA CHEFSTEPS PARTER FRÅN OCH MOT ALLA KRAV SOM UPPSTÅR IFRÅN EELLER RELATERAS
    TILL VILLKOREN. OM DU ÄR BOSATT I KALIFORNIEN, AVSTÅR DU HÄRMED FRÅN ATT ÅBEROPA CALIFORNIA CIVIL CODE SECTION 1542 I RELATION TILL DET FÖREGÅENDE, SOM ANGER ATT: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT
    TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.” DU AVSTÅR ÄVEN FRÅN ATT ÅBEROPA LIKNANDE BESTÄMMELSE I ANNAN JURISDIKTION.
  %p
    BEGRÄNSNINGARNA SOM DETTA AVSNITT 16 INNEHÅLLER SKA INTE BEGRÄNSA ELLER EXKLUDERA ANSVAR FÖR DÖD ELLER PERSONLIG SKADOR ELLER EGENDOMS SKADOR SOM FÖROSAKAS AV PRODUKTER ELLER TJÄNSTER DU KÖP FRÅN USA ELLER FÖR VÅRT BEDRÄGERI, GROVA OAKTSAMHET ELLER UPPSÅTLIG,
    AVSIKTLIG ELLER GENOM VÅRDSLÖS FÖRSUMMELSE.
  %h3 17.	Ändringar av våra Tjänster
  %p
    Vi förbehåller oss rätten att efter eget gottfinnande ändra i Material och att modifiera, avbryta eller upphöra med att ge tillgång till våra Tjänster (eller funktioner eller funktionalitet i våra Tjänster) när som helst utan förvarning och utan förpliktelser
    eller ansvar gentemot dig. Du har även rätt att inte använda hela eller delar av våra Tjänster, eller att säga upp detta avtal när som helst.
  %h3 18.      Tvistelösning; Skiljeförfarande
  %p VÄNLIGEN LÄS FÖLJANDE AVSNITT NOGGRANT DÅ DET KRÄVER ATT DU PRÖVAR VISSA TVISTER OCH KRAV I SKILJEFÖRFARANDE MED CHEFSTEPS OCH BEGRÄNSAR SÄTTET PÅ VILKET DU KAN SÖKA AVHJÄLPANDE FRÅN OSS.
  %h4 18.1.              Bindande skiljeförfarande
  %p
    Förutom vad som gäller för tvister, fordringar, stämningar, talan, grund för talan, krav eller förfaranden (gemensamt benämnda "
    %strong> Tvister
    ") som härrör från eller är hänförliga till ett brott mot avsnitt 10 eller Tvister där endera parten
    avser väcka enskild talan i domstol för små-mål eller söker interimistiskt eller motsvarande föreläggande för påstådd olovlig användning av immateriell egendom, inklusive och utan begränsning, upphovsrätt, varumärken, firmanamn, logotyper, företagshemligheter
    eller patent, är du och ChefSteps ense om (a) att avsäga dig dina och ChefSteps respektive rättigheter att ha alla Tvister som härrör från eller är hänförliga till Villkoren, eller Tjänster, Material eller Produkter, lösta i domstol och (b) att avsäga
    dig dina och ChefSteps respektive rättigheter till en rättegång inför en jury. Istället överenskommer du och ChefSteps att lösa Tvister genom bindande skiljeförfarande (vilket innebär hänskjutandet av Tvister till en eller flera personer som är ansvariga
    för att gå igenom Tvisten och fatta ett slutligt och bindande beslut att lösa den istället för att låta Tvister avgöras av en domare eller jury inför domstol).
  %h4 18.2.              Ingen grupptalan i skiljeförfarande, grupptalan inför domstol eller företrädartalan
  %p
    Du och ChefSteps är ense om att Tvister som härrör från Villkoren, Tjänster, Produkter eller Material är personlig för dig och ChefSteps och att Tvister kommer att lösas endast genom individuellt skiljeförfarande och inte kommer att föras som en grupptalan
    i skiljeförfarande, grupptalan i domstol, eller som någon annan sorts företrädartalan. Du och ChefSteps är överens om att det inte kommer vara någon grupptalan i skiljeförfarande eller skiljeförfarande där en individ försöker lösa en tvist såsom företrädare
    för en annan individ eller grupp av individer. Därtill kommer du och ChefSteps överens om att en tvist inte kan föras som en grupptalan eller någon annan sorts företrädartalan, vare sig inom eller utom skiljeförfarande, eller på uppdrag av någon annan
    individ eller grupp av individer.
  %h4 18.3.              Federal Arbitration Act
  %p
    Du och ChefSteps är ense om att dessa garantivillkor påverkar handeln mellan stater och att verkställigheten av detta avsnitt 18 både ur materiellt och processrättsligt hänseende ska regleras och tolkas och verkställas i enlighet med Federal Arbitration
    Act, 9 U.S.C. § 1 et seq. (the "
    %strong> FAA
    "), i den utsträckning som tillåts enligt gällande lag.
  %h4 18.4.              Meddelande; Informell tvistlösning
  %p
    Du och ChefSteps överenskommer att var part skriftligen ska meddela den andra parten om någon skiljetvist inom trettio (30) dagar från den dag den uppkommer, så att parterna i god tro kan försöka lösa tvisten informellt. Meddelande till ChefSteps ska
    skickas elektroniskt till
    = succeed "." do
      %a{:href => "mailto:disputes@chefsteps.com"} disputes@chefsteps.com
  %h4 18.5.              Tvister
  %p
    Förutom Tvister som härrör från ett brott mot avsnitt 10 eller Tvister där endera parten avser väcka enskild talan i domstol för små-mål eller söker interimistiskt eller motsvarande föreläggande för påstådd olovlig användning av immateriell egendom, inklusive
    och utan begränsning, copyright, varumärken, firmanamn, logotyper, företagshemligheter eller patent, är du och ChefSteps överens om att (a) eventuellt skiljeförfarande kommer att äga rum i King County, Washington, (b) skiljeförfarande ska genomföras
    konfidentiellt av en ensam skiljedomare i enlighet med reglerna för Judicial Arbitration and Mediation Services ("
    %strong> JAMS
    "), vilka härmed införlivas som referens, och (c) statlig eller federal domstol i staten Washington respektive Förenta
    Staterna, belägen i King County, Washington, har exklusiv jurisdiktion över alla överklaganden och verkställandet av en skiljedom. Du kan också driva Tvister i domstol för små-mål belägen i landet där din faktureringsadress finns om Tvisten uppfyller
    kraven för att höras som små-mål.
  %h4 18.6.              Skiljemannens befogenhet
  %p
    I enlighet med begränsningarna i FAA, Villkoren, och tillämpliga regler från JAMS, kommer skiljemannen ha (a) den exklusiva myndigheten och jurisdiktionen att fatta alla processuella och materiella beslut i en tvist, inklusive bedömningen huruvida en
    tvist är skiljedomsmässig, och (b) befogenheten att ge vilkensomhelst lösning som annars skulle vara tillgänglig i domstol; dock förutsatt att skiljemannen inte har befogenhet att genomföra en grupptalan i skiljeförfarande eller en företrädartalan,
    vilket är förbjudet enligt Villkoren. Skiljemannen får endast genomföra ett individuellt skiljeförfarande och får inte lägga samman mer än en individs krav, presidera över någon sorts grupptalan eller företrädartalan, eller presidera över något förfarande
    som involverar mer än en individ.
  %h4 18.7.              Regler från JAMS
  %p
    Reglerna från JAMS och ytterligare information om JAMS finns tillgängliga på JAMS hemsida. Genom att du godkänner att vara bunden av dessa Villkor, antingen (a) bekräftar och godkänner du att du läst och förstått JAMS regler, eller (b) avstår du från
    din möjlighet att läsa JAMS regler och att hävda att JAMS regler är orättvisa eller inte skulle vara tillämpliga av någon orsak.
  %h4 18.8.              Avskiljbarhet
  %p
    Om villkor, klausul eller bestämmelse i detta avsnitt 18 befinns ogiltig eller icke-verkställbar, anses det så i den minsta utsträckning som krävs av lag, och alla övriga villkor, klausuler och bestämmelser i detta avsnitt 18 är fortsatt giltiga och verkställbara.
    Därutöver är avståendena i avsnitt 18.2 avskiljbara från övriga bestämmelser i Villkoren och fortsatt giltiga och verkställbara där så inte är förbjudet av tillämplig lag.
  %h3 19.      Tillämplig lag och säte
  %p
    Villkoren och din tillgång till och användande av Produkter och Tjänster ska styras av och tolkas och verkställas enligt staten Washingtons lagar, utan hänsyn till lagkonfliktsregler eller rättsliga principer (vare sig för staten Washington eller någon
    annan jurisdiktion) som skulle kunna medföra tillämpning av lagarna i någon annan jurisdiktion. Tvist mellan parterna som inte är föremål för skiljeförfarande eller inte kan höras som små-mål i domstol ska lösas i de statliga eller federala domstolarna
    i staten Washington respektive Förenta Staterna, belägen i King County, Washington.
  %h3 20.      Uppsägning
  %p
    Oaktat vad som ingår i Villkoren förbehåller vi oss rätten, i så stor utsträckning som tillåts enligt gällande lag, att utan föregående meddelande och efter eget gottfinnande säga upp din rätt att tillgå eller använda Tjänster, och att blockera eller
    hindra din framtida tillgång till och användning av Tjänster.  Om du överlåter en Product som länkar till våra Tjänster, som t.ex. Joule, till en ny ägare, upphör din rätt att använda våra Tjänster gentemot den Produkten per automatik, och den nya ägaren
    kommer inte ha rätt att använda våra Tjänster med ditt konto utan behöver registrera sig för ett separat konto hos ChefSteps.
  %h3 21.      Avskiljbarhet
  %p
    Om villkor, klausul eller bestämmelse i Villkoren befinns ogiltig eller icke-verkställbar kommer villkoret, klausulen eller bestämmelsen vara avskiljbart från Villkoren och kommer inte påverka giltigheten eller verkställbarheten av någon kvarvarande del
    av villkoret, klausulen eller bestämmelsen, eller något annat villkor, klausul eller bestämmelse i Villkoren.
  %h3 22.      Överlevnad
  %p Följande avsnitt överlever upphörande eller uppsägningen av Villkoren och uppsägningen av ditt ChefSteps-konto: alla definierade villkor och avsnitt 1, 2, 3, 4, 5 (endast första stycket), 6, 7, 8 (endast andra stycket), 9 till 23.
  %h3 23.      Upplysningar i Kalifornien
  %p
    Om du är bosatt i Kalifornien kan du lämna klagomål till konsumentavdelningen hos Kaliforniens avdelning för konsumentfrågor (Consumer Assistance unit of the Consumer Information Division of the California Department of Consumer Affairs) genom att kontakta
    dem skriftligen på adress 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, eller per telefon (800) 952‑5210.
  %h3 24.      Frågor
  %p
    Om du har några frågor angående Villkoren eller våra Produkter eller Tjänster, vänligen kontakta oss på
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
