.container#legal
  #terms
    %div
      %span.head2_text.pull-left Cookie Policy

      - if @languages.length > 1
        .pull-right
          = select_tag :lang, options_for_select(@languages, @selected_language), {:onchange => "window.location.href='/cookie-policy?language=' + this.value"}

    %p.clearfix

    = render @cookie_policy_template
