.container#legal
  #terms
    %div
      %span.head2_text.pull-left

      - if @languages.length > 1
        .pull-right
          = select_tag :lang, options_for_select(@languages, @selected_language), {:onchange => "window.location.href='/eula?language=' + this.value"}

    %p.clearfix
    = render @eula_template
    = render @addendums_template
