.container#legal
  #terms
    %div
      %h2.pull-left Privacy Policy

      - if @languages.length > 1
        .pull-right
          = select_tag :lang, options_for_select(@languages, @selected_language), {:onchange => "window.location.href='/privacy?language=' + this.value"}

    %p.clearfix
    = render @privacy_policy_template
