.container#legal
  #terms
    %h2.pull-left CHEFSTEPS TERMS OF USE

    /
      %select.pull-right
        %option Danish
        %option Dutch
        %option{:selected => "selected"} English
        %option Finnish
        %option French
        %option German
        %option Italian
        %option Norwegian
        %option Spanish
        %option Swedish

    %p.clearfix

    = render @terms_template

    = render @addendums_template
