%p
  %strong Bijzondere Bepalingen die van Toepassing zijn op Gebruikers Woonachtig in België
%p
  Wanneer u woonachtig bent in België en wanneer de Gelicentieerde Applicatie van Chefsteps aan u wordt aangeboden in België gelieve deze Bijzondere Bepalingen van Toepassing op Gebruikers Woonachtig in België dan door te nemen ( “Bijzondere Bepalingen”).
  Deze Bijzondere Bepalingen vullen aan of komen in sommige gevallen in de plaats van de Licentieovereenkomst voor Eindgebruiker. Alle begrippen die in hoofdletters worden weergegeven en die niet worden gedefinieerd in deze Bijzondere Bepalingen hebben
  dezelfde betekenis zoals beschreven in de Licentieovereenkomst voor Eindgebruiker.
%p
  1.
  = succeed "." do
    %strong Geen Garantie
%ul
  %li
    U ERKENT EN GAAT AKKOORD DAT (A) DE GELICENTIEERDE APPLICATIE BUGS, FOUTEN EN GEBREKEN KAN BEVATTEN WAAR WE NIET VAN OP DE HOOGTE ZIJN OF; (B) HET DOWNLOADEN, INSTALLEREN EN GEBRUIKEN VAN DE GELICENTIEERDE APPLICATIE BERUST OP UW EIGEN RISICO; EN (C)
    HET VOLLEDIG RISICO TEN GEVOLGE VAN KWALITEIT, UITVOERING, ACCURAATHEID EN INSPANNING OP U SCHOUDERS RUST. DE GELICENTIEERDE APPLICATIE WORDT AANGEBODEN “AS IS” “ZOALS BESCHIKBAAR”, MET ALLE FOUTEN, DEFECTEN EN GEBREKEN EN ZONDER GARANTIE OP ENIGE
    WIJZE. CHEFSTEPS VRIJWAART ZICH VOOR ALLE GARANTIES (UITDRUKKELIJK EN IMPLICIET EN DIE VOLGEN UIT DE WET OF OP EEN ANDERE MANIER) IN VERBAND MET DE GELICENTIEERDE APPLICATIE EN DE UITVOERING OF GESCHIKTHEID VOOR UW BESTEMD GEBRUIK, DAARIN INBEGREPEN,
    ZONDER BEPERKEND TE ZIJN, TOT ELKE IMPLICIETE GARANTIE OF VERKOOPBAARHEID, GESCHIKTHEID VOOR EEN BEPAALD GEBRUIK, JUISTHEID EN NIET OVERSCHRIJDING. CHEFSTEPS ZAL OP GEEN ENKELE MANIER AANSPRAKELIJK ZIJN VOOR HET GEBRUIK OF DE ONMOGELIJKHEID TOT GEBRUIK,
    VAN DE GELICENTIEERDE APPLICATIE OF VOOR ENIG VERLIES VAN DATA. CHEFSTEPS STAAT NIET GARANT DAT DE GELICENTIEERDE APPLICATIE VRIJ VAN ENIGE STORING, VERTRAGINGEN, OMISSIES OF FOUTEN ZAL GELEVERD WORDEN (TESAMEN NAAR VERWEZEN ALS: “FOUTEN”) OF OP EEN
    VEILIGE MANIER ZAL WERKEN OF DAT ENIGE FOUT ZAL RECHTGEZET WORDEN. GEEN MONDELINGE OF SCHRIFTELIJKE INFORMATIE OF ADVIES DAT GEGEVEN WORDT DOOR CHEFSTEPS OF DOOR HAAR GEMACHTIGDE VERTEGENWOORDIGERS ZAL ENIGE VORM VAN GARANTIE BIEDEN. WANNEER DE GELICENTIEERDE
    APPLICATIE DEFECT IS, NEEMT U DE VOLLEDIGE KOSTEN OP ZICH VOOR ALLE NODIGE ONDERHOUD, HERSTEL OF VERVANGING.
%p
  DE AANBIEDER VAN DE APPLICATIE HEEFT GEEN GARANTIE VERPLICHTING OP WELKE MANIER DAN OOK IN VERBAND MET DE GELICENTIEERDE APPLICATIE OF ENIGE ANDERE VORDERINGEN, VERLIEZEN, AANSPRAKELIJKHEDEN, SCHADE, KOSTEN OF UITGAVEN DIE TOEREKENBAAR ZIJN AAN ENIGE
  TEKORTKOMING VAN DE GELICENTIEERDE APPLICATIE.
%p
  2.
  = succeed "." do
    %strong Beperking van aansprakelijkheid
%ul
  %li
    VOOR ZOVER TOEGELATEN DOOR HET TOEPASSELIJK RECHT, ZAL CHEFSTEPS OF EEN ANDERE CHEFSTEPS PARTIJ IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, SPECIALE, TOEVALLIGE, CONSEQUENTIËLE, COMPENSATOIRE OF PUNITIEVE SCHADE VAN ENIGE SOORT (DAARBIJ INBEGREPEN,
    MAAR NIET BEPERKT TOT, VERLIES VAN OMZET, VERLIES VAN GEBRUIK OF VAN DATA, VERLIES OF VERMINDERING IN WAARDE VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR ONDERBREKING VAN DE BUSINESS) DIE VOORTVLOEIEN UIT OF IN IEDER GEVAL VERBONDEN ZIJN AAN UW DOWNLOAD,
    INSTALLATIE OF GEBRUIK VAN DE GELICENTIEERDE APPLICATIE (DAARBIJ INBEGREPEN, MAAR NIET BEPERKT TOT, ENIGE SCHADE VEROORZAAKT DOOR OF DIE VOLGT UIT HET VERTROUWEN DOOR EEN GEBRUIKER OP ENIGE INFORMATIE VERKREGEN DOOR CHEFSTEPS OF DOOR VERGISSINGEN,
    OMISSIES, ONDERBREKINGEN, VERWIJDERINGEN VAN BESTANDEN OF E-MAILS, FOUTEN, GEBREKEN, BUGS, VIRUSSEN, TROJAANSE PAARDEN, VERTRAGINGEN IN WERKING OF TRANSFER OF ENIGE ANDERE TEKORTKOMING VAN DE PRESTATIE, DIE AL DAN NIET VOLGEN UIT DADEN VAN GOD, MISCOMMUNICATIE,
    DIEFSTAL, VERNIETIGING OF ONGEOORLOOFDE TOEGANG TOT CHEFSTEP’S ARCHIEVEN, PROGRAMMA’S OF SYSTEMEN), ONGEACHT DE VORM VAN VORDERING, HETZIJ BIJ CONTRACT, DOOR ONRECHTMATIGE DAAD (INCLUSIEF MAAR NIET BEPERKT TOT EENVOUDIGE NALATIGHEID, AL DAN NIET ACTIEF
    PASSIEF OF GEINSINUEERD), OF ENIGE ANDERE WETTELIJKE OF BILLIJKE THEORIE (ZELFS WANNER DE PARTIJ GEADVISEERD WORDT OVER DE MOGELIJKHEID VAN DERGELIJKE SCHADE EN ONAFHANKELIJK OF DERGELIJKE SCHADE VOORZIENBAAR WAS).
%p Sommige jurisdicties laten het niet toe om de incidentele of gevolgschade te beperken of uit te sluiten, zodanig dat de hierboven vermelde beperkingen of uitsluitingen niet op u van toepassing kunnen zijn.
%p
  3
  %strong> .  Toepasselijk Recht
  \. In de plaats van Afdeling 18, geldt het volgende:
%ul
  %li Deze Overeenkomst wordt geregeld, uitgelegd en afgedwongen overeenkomstig de Belgische wetten zonder inachtneming van conflicten van regelgeving of principes die de toepassing van de wetten van een andere jurisdictie zou voorschrijven.
%p
  Consumenten woonachtig in de Europese Economische Ruimte verblijven (“EER”) genieten van de dwingende bepalingen opgenomen in de wet van het land waar men verblijft. Niets in deze Overeenkomst tast uw rechten aan als EER consument om u te beroepen op
  deze dwingende bepalingen die bepaald worden in de wet van het land waar u woont.
