%p
  %strong Dispositions Spéciales Applicables aux Utilisateurs Résidant en Belgique
%p
  Si vous résidez en Belgique et si l’Application sous Licence vous a été proposée par ChefSteps en Belgique, veuillez consulter les Dispositions Particulières Applicables aux Utilisateurs Résidant en Belgique (« Dispositions Spéciales »). Ces dispositions
  spéciales s'appliquent en complément ou, dans certains cas, en lieu et place de certains articles du Contrat de Licence d'Utilisateur Final. Tous les termes en majuscules non définis dans ces Dispositions Spéciales auront la signification qui leur est
  donnée dans le Contrat de Licence d'Utilisateur Final.
%p
  1.
  %strong> Aucune garantie
  \. Au lieu de l’article 9, ce qui suit s’applique :
%ul
  %li
    VOUS RECONNAISSEZ ET ACCEPTEZ QUE (A) L’APPLICATION SOUS LICENCE PEUT CONTENIR DES BUGS, DES ERREURS ET DES DÉFAUTS DONT NOUS N’AVONS PAS CONNAISSANCE; (B) LE TÉLÉCHARGEMENT, L'INSTALLATION ET L'UTILISATION DE L'APPLICATION SOUS LICENCE SONT À VOS PROPRES
    RISQUES ET PERILS; ET QUE (C) VOUS SUPPORTEZ L'ENSEMBLE DES RISQUES DE QUALITÉ, DE PERFORMANCE, D'EXACTITUDE ET D'EFFORT SATISFAISANTS. EN CONSÉQUENCE, L’APPLICATION SOUS LICENCE EST FOURNIE « EN L'ÉTAT », « TELLE QUE DISPONIBLE », AVEC TOUS LES MANQUEMENTS,
    DEFAUTS ET VICES ET SANS GARANTIE D'AUCUNE SORTE. CHEFSTEPS DÉCLINE TOUTE GARANTIE (EXPLICITE ET IMPLICITE ET DÉCOULANT DE LA LOI OU AUTREMENT) CONCERNANT L’APPLICATION SOUS LICENCE ET SA PERFORMANCE OU SA PERTINENCE POUR L’UTILISATION A LAQUELLE
    VOUS LA DESTINEZ, Y COMPRIS, SANS LIMITATION, TOUTE GARANTIE TACITE DE QUALITÉ MARCHANDE OU D’ADAPTABILITE DANS UN BUT PARTICULIER, D'EXACTITUDE ET DE NON-INFRACTION. CHEFSTEPS N'ASSUME AUCUNE RESPONSABILITÉ QUANT À L'UTILISATION DE OU À L'INCAPACITÉ
    D'UTILISER L’APPLICATION SOUS LICENCE OU À TOUTE PERTE DE DONNÉES. CHEFSTEPS NE PEUT PRETENDRE OU GARANTIR QUE L’APPLICATION SOUS LICENCE SERA LIVRÉE SANS INTERRUPTIONS, RETARDS, OMISSIONS OU ERREURS (COLLECTIVEMENT, « Défauts ») OU DE MANIÈRE SÉCURISÉE
    OU QUE TOUT DÉFAUT SERA CORRIGÉ. AUCUNE INFORMATION OU CONSEIL ORAL OU ÉCRIT DONNÉ PAR CHEFSTEPS OU SES REPRÉSENTANTS AUTORISÉS NE CRÉERA UNE GARANTIE. DANS LE CAS OU L'APPLICATION SOUS LICENCE EST DÉFECTUEUSE, VOUS ASSUMEZ LE COÛT TOTAL DE TOUT ENTRETIEN,
    RÉPARATION OU CORRECTION NÉCESSAIRE.
%p LE MAGASIN FOURNISSEUR DE L'APPLICATION N'A AUCUNE OBLIGATION DE GARANTIE QUANT À L'APPLICATION SOUS LICENCE OU TOUTE AUTRE RÉCLAMATION, PERTES, RESPONSABILITÉS, DOMMAGES, DÉPENS OU DÉPENSES ATTRIBUABLES À TOUT DÉFAUT DE L’APPLICATION SOUS LICENCE.
%p
  2.
  = succeed "." do
    %strong Limitation de responsabilité
%ul
  %li
    DANS TOUTE LA MESURE PERMISE PAR LA LOI APPLICABLE, CHEFSTEPS OU TOUTE AUTRE ENTITÉ DE CHEFSTEPS NE SERA EN AUCUN CAS TENUE RESPONSABLE DE TOUT DOMMAGE INDIRECT, SPÉCIAL, ACCIDENTEL, CONSÉCUTIF, EXEMPLAIRE OU PUNITIF DE QUELQUE NATURE QUE CE SOIT (Y
    COMPRIS, SANS S’Y LIMITER, PERTE DE REVENUS OU BÉNÉFICES, PERTE D'UTILISATION OU DE DONNÉES, PERTE OU DIMINUTION DE LA VALEUR D'ACTIFS OU D’ACTIONS, OU DE L'INTERRUPTION D'ACTIVITÉ) DÉCOULANT DE VOTRE TÉLÉCHARGEMENT, INSTALLATION OU UTILISATION DE
    L’APPLICATION SOUS LICENCE (Y COMPRIS, SANS S'Y LIMITER, TOUT DOMMAGE CAUSÉ PAR OU RÉSULTANT DE LA CONFIANCE DE TOUT UTILISATEUR QUANT A TOUTE INFORMATION OBTENUE DE CHEFSTEPS, OU D'ERREURS, D’OMISSIONS, D’INTERRUPTIONS, DE SUPPRESSIONS DE FICHIERS
    OU DE COURRIELS, ERREURS, DÉFAUTS, BUGS, VIRUS, CHEVAUX DE TROIE, RETARDS EN CAS D'EXPLOITATION OU DE TRANSMISSION OU DE TOUT MANQUEMENT À L'EXÉCUTION, DÉCOULANT OU NON D’EVENEMENTS DE FORCE MAJEURE, DE L'ÉCHEC DES COMMUNICATIONS, DU VOL, DE LA DESTRUCTION
    OU DE L'ACCÈS NON AUTORISÉ AUX DOSSIERS, PROGRAMMES OU SYSTÈMES DE CHEFSTEPS) QUELLE QUE SOIT LA FORME DE L'ACTION, QU'ELLE SOIT BASÉE SUR UN CONTRAT, UN QUASI-DÉLIT (Y COMPRIS, MAIS SANS S'Y LIMITER, LA NÉGLIGENCE SIMPLE, ACTIVE, PASSIVE OU IMPUTÉE)
    OU TOUT AUTRE REGIME EN DROIT OU EN EQUITE (MEME SI LA PARTIE A ÉTÉ AVISÉE DE LA POSSIBILITÉ DE TELS DOMMAGES ET INDEPENDAMMENT QU'ILS SOIENT OU NON PRÉVISIBLES).
%p Certaines juridictions n'autorisant pas l'exclusion ou la limitation des dommages accessoires ou indirects, les limitations ou exclusions ci-dessus peuvent ne pas s'appliquer à vous.
%p
  3
  %strong> .  Droit applicable
  \. Au lieu de l’article 18, ce qui suit s’applique :
%ul
  %li Le présent Contrat est régi et doit être interprété et exécuté conformément au droit belge sans égard aux règles ou principes de conflits de lois qui entraîneraient l'application de lois de toute autre juridiction.
%p
  Les consommateurs résidant dans l'Espace Economique Européen ("EEE") bénéficieront de toutes les dispositions impératives du droit du pays dans lequel vous résidez. Rien dans le présent Contrat n'affecte vos droits en tant que consommateur de l'EEE à
  se prévaloir des dispositions impératives de la loi du pays dans lequel vous résidez.
