%p
  %strong Sonderbestimmungen für Benutzer mit Wohnsitz in der Schweiz
%p
  Sollten Sie in der Schweiz wohnhaft und Ihnen die lizenzierte Anwendung durch ChefSteps in der Schweiz angeboten worden sein, möchten wir Sie bitten, diese Sonderbedingungen für Benutzer mit Wohnsitz in der Schweiz («Sonderbestimmungen») zur Kenntnis
  zu nehmen. Diese Sonderbestimmungen gelten neben, oder in einigen Fällen an Stelle bestimmter Bestimmungen des Endbenutzer-Lizenzvertrags. Begriffe in Kapitälchen, die nicht in diesen Sonderbestimmungen definiert werden, erhalten dieselbe Bedeutung
  wie jene, die ihnen im Endbenutzer-Vertrag zugewiesen wird.
%p
  1.
  = succeed "." do
    %strong Keine Garantie
%ul
  %li
    INSBESONDERE ÜBERNIMMT CHEFSTEPS KEINE HAFTUNG ALS TELEKOMMUNIKATIONSDIENSTLEISTER. FÜR DIE KONNEKTIVITÄT IHRES GERÄTS (DIE SICH AUF DIE VERFÜGBARKEIT UND QUALITÄT DER DIENSTLEISTUNGEN IM RAHMEN DER LIZENZIERTEN ANWENDUNG AUSWIRKT) IST DER TELEKOMMUNKATIONSDIENSTLEISTER,
    BEI DEM SIE IHR GERÄT ANGEMELDET HABEN, VERANTWORTLICH.
%p
  2.
  = succeed "." do
    %strong Haftungsbeschränkung
%ul
  %li
    Soweit Gesetzlich Zulässig, Übernimmt/übernehmen Chefsteps Oder Andere Chefsteps-Parteien Keinerlei Haftung Für Unmittelbare, Mittelbare, Besondere, Beiläufig Entstandene, Folge-, Exemplarische Schäden Oder Schäden Mit Strafschadenscharakter («
    %em> Punitive Damages
    »)
    Jeglicher Art (Insbesondere Einschliesslich Entgangener Einkünfte, Einnahmen Oder Gewinne, Nutzungs- Oder Datenausfälle, Wertverluste Oder -Verringerungen Von Vermögenswerten Oder Wertpapieren Oder Schäden Wegen Geschäftsunterbrechung), Die Aufgrund
    Oder In Zusammenhang Mit Dem Download, Der Installation Oder Der Verwendung Der Lizenzierten Anwendung Durch Sie Entstehen (Insbesondere Einschliesslich Von Schäden, Die Dadurch Verursacht Werden, Dass Benutzer Auf Informationen Vertrauen, Die Sie
    Von Chefsteps Erhalten Haben, Oder Die Durch Fehler, Unterlassungen, Unterbrechungen, Löschungen Von Dateien Oder E-Mails, Irrtümer, Mängel, Bugs, Viren, Trojaner, Verzögerungen Beim Betrieb Oder Bei Der Übertragung Oder Durch Nichterfüllungen Herbeigeführt
    Werden, Ungeachtet Davon, Ob Dies Folge Höherer Gewalt, Von Kommunikationsfehlern, Diebstahl, Zerstörung Von Oder Unbefugtem Zugang Zu Aufzeichnungen, Programmen Oder Systemen Von Chefsteps War), Ungeachtet Davon, Ob Der Anspruch Auf Vertrag, Deliktsrecht
    (Insbesondere Einschliesslich Von Einfacher - Aktiver, Passiver Oder Zurechenbarer - Fahrlässigkeit ) Oder Auf Sonstige Rechtliche Oder Billigkeitsrechtlichen Anspruchsgrundlagen Gestützt Wird (Selbst Dann, Wenn Die Partei Kenntnis Dieser Schäden
    Hatte Oder Hätten Haben Müssen Und Ungeachtet Davon, Ob Diese Schäden Vorhersehbar Waren).
%p
  SOWEIT GESETZLICH ZULÄSSIG, DARF DIE MAXIMALE GESAMTHAFTUNG VON CHEFSTEPS UND DER CHEFSTEPS-PARTEIEN (GEMEINSAM), UNGEACHTET DAVON, OB SIE VERTRAGLICHER ART IST, ODER AUS DER LIZENZIERTEN ANWENDUNG HERRÜHRT ODER IN IRGENDEINEM ZUSAMMENHANG MIT IHR STEHT,
  ZEHN DOLLAR ($10.00) NICHT ÜBERSCHREITEN.
%p In einigen Ländern ist ein Haftungsausschluss oder eine Haftungsbeschränkung für beiläufig entstandene oder Folgeschäden nicht zulässig. In diesen Ländern gilt die obige Beschränkung bzw. der obige Ausschluss nicht.
%p
  3.
  = succeed "." do
    %strong Anwendbares Recht
%ul
  %li Für diesen Vertrag, seine Auslegung und Durchsetzung gilt schweizerisches Recht, unter Ausschluss kollisionsrechtlicher Normen, die zu einer Anwendung der Gesetze eines anderen Landes führen würden.
%p
  Verbraucher mit Wohnsitz in der Schweiz können alle zwingenden Bestimmungen der Gesetze des Landes, in dem Sie wohnhaft sind, in Anspruch nehmen. Der Inhalt dieses Vertrags führt nicht zu einer Beeinträchtigung Ihres Rechts als Schweizer Verbraucher,
  sich auf die zwingenden Bestimmungen des Landes, in dem Sie wohnhaft sind, zu berufen.
