%p
  %strong Disposizioni speciali applicabili a utenti domiciliati in Svizzera
%p
  Se l’utente è domiciliato in Svizzera e se l’applicazione concessa in licenza gli è stata offerta da ChefSteps in Svizzera, è pregato di rivedere le presenti Disposizioni speciali applicabili a utenti domiciliati in Svizzera («Disposizioni Speciali»).
  Tali Disposizioni Speciali si applicano in aggiunta a o, in alcuni casi, al posto di determinate sezioni del Contratto di licenza con l’utente finale. Tutti i termini in maiuscolo non definiti nelle presenti Disposizioni Speciali hanno lo stesso significato
  ad essi attribuito nel Contratto di licenza con l’utente finale.
%p
  1.
  = succeed "." do
    %strong Omessa garanzia
%ul
  %li
    IN PARTICOLARE, CHEFSTEPS NON SI ASSUME LE RESPONSABILITÀ DI UN FORNITORE DI SERVIZI DI TELECOMUNICAZIONE. LA CONNETTIVITÀ DEL DISPOSITIVO DELL’UTENTE (CHE PUÒ INFLUIRE SULLA DISPONIBILITÀ E QUALITÀ DEI SERVIZI DI CUI ALL’APPLICAZIONE CONCESSA IN LICENZA)
    RIENTRA NELLA SFERA DI RESPONSABILITÀ DEL FORNITORE DI SERVIZI DI TELECOMUNICAZIONE CON IL QUALE L’UTENTE HA REGISTRATO IL PROPRIO DISPOSITIVO.
%p
  2.
  = succeed "." do
    %strong Limitazione di responsabilità
%ul
  %li
    ENTRO IL LIMITE MASSIMO CONSENTITO DALLA LEGGE APPLICABILE, IN NESSUN CASO CHEFSTEPS O UNO QUALSIASI DEGLI ALTRI SOGGETTI LEGATI A CHEFSTEPS SARÀ RESPONSABILE PER ALCUN DANNO DIRETTO, INDIRETTO, SPECIALE, INCIDENTALE, CONSEGUENTE, ESEMPLARE O PUNITIVO
    DI ALCUN TIPO (INCLUSI, FRA L’ALTRO, PERDITA DI REDDITI, GUADAGNO O PROFITTI, PERDITA D’USO O DI DATI, PERDITA O DIMINUZIONE DI VALORE DI ATTIVI O TITOLI O DANNI PER INTERRUZIONE DELL’ATTIVITÀ) DERIVANTE DA O COMUNQUE CORRELATO AL DOWNLOAD, ALL’INSTALLAZIONE
    O ALL’UTILIZZO DA PARTE DELL’UTENTE DELL’APPLICAZIONE CONCESSA IN LICENZA (INCLUSO, FRA L’ALTRO, QUALSIASI DANNO CAUSATO O RISULTANTE DALL’AFFIDAMENTO DA PARTE DI QUALSIASI UTENTE SU QUALSIASI INFORMAZIONE OTTENUTA DA CHEFSTEPS O DA ERRORI, OMISSIONI,
    INTERRUZIONI, CANCELLAZIONI DI FILE O E-MAIL, ERRORI, DIFETTI, BUG, VIRUS, CAVALLI DI TROIA, RITARDI NEL FUNZIONAMENTO O NELLA TRASMISSIONE O DA QUALSIASI INADEMPIMENTO RISULTANTE O MENO DA FORZA MAGGIORE, FALLIMENTO DELLE COMUNICAZIONI, FURTO, DISTRUZIONE
    O ACCESSO NON AUTORIZZATO A REGISTRAZIONI, PROGRAMMI O SISTEMI DI CHEFSTEPS), A PRESCINDERE DALLA FORMA DELL’AZIONE, CHE SIA LA STESSA BASATA SU CONTRATTO, ILLECITO (INCLUSA, FRA L’ALTRO, LA SEMPLICE NEGLIGENZA, INDIPENDENTEMENTE DAL FATTO CHE SIA
    ATTIVA, PASSIVA O IMPUTATA) O QUALSIASI ALTRA IPOTESI LEGALE O SECONDO EQUITÀ (ANCHE SE CHEFSTEPS O IL SOGGETTO AD ESSA LEGATO È STATA(O) INFORMATA(O) DELLA POSSIBILITÀ DI TALI DANNI E A PRESCINDERE DAL FATTO CHE GLI STESSI FOSSERO PREVEDIBILI O MENO).
%p
  NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE APPLICABILE, IN NESSUN CASO LA RESPONSABILITÀ COMPLESSIVA MASSIMA DI CHEFSTEPS E DEI CONTRAENTI DI CHEFSTEPS (CONGIUNTAMENTE), CHE SIA DI CARATTERE CONTRATTUALE DERIVANTE DA O COMUNQUE RELATIVA ALL’APPLICAZIONE
  CONCESSA IN LICENZA, PUÒ ECCEDERE DIECI DOLLARI ($ 10.00).
%p Alcune giurisdizioni non consentono l’esclusione o la limitazione di danni incidentali o conseguenti, cosicché la suddetta limitazione o esclusione può non essere applicabile all’utente.
%p
  3.
  = succeed "." do
    %strong Diritto applicabile
%ul
  %li
    Il presente Contratto è disciplinato dal diritto svizzero e interpretato ed eseguito conformemente allo stesso, a esclusione delle norme o principi sui conflitti di legge che comporterebbero l’applicazione delle leggi di qualsiasi altra giurisdizione.
%p
  I consumatori domiciliati in Svizzera beneficeranno di qualsiasi disposizione imperativa del diritto della giurisdizione in cui sono domiciliati. Nulla nel presente Contratto intaccherà i diritti dell’utente in qualità di consumatore svizzero di avvalersi
  delle disposizioni imperative del diritto del Paese in cui è domiciliato.
