%p
  %strong Dispositions spéciales applicables aux utilisateurs résidant en Suisse
%p
  Si vous résidez en Suisse et si l’application sous licence vous a été proposée par ChefSteps en Suisse, veuillez lire les présentes Dispositions spéciales applicables aux utilisateurs résidant en Suisse («Dispositions spéciales»). Les présentes Dispositions
  spéciales s’appliquent en plus et, dans certains cas, en lieu place de certains articles du Contrat de licence pour utilisateur final. Tous les termes avec une majuscule qui ne sont pas définis dans les présentes Dispositions spéciales ont le sens qui
  leur est attribué dans le Contrat de licence pour utilisateur final.
%p
  1.
  = succeed "." do
    %strong Absence de garantie
%ul
  %li
    CHEFSTEPS N’ASSUME NOTAMMENT AUCUNE RESPONSABILITÉ D’UN FOURNISSEUR DE SERVICES DE TÉLÉCOMMUNICATIONS. LA CONNECTIVITÉ DE VOTRE APPAREIL (QUI PEUT AVOIR UN IMPACT SUR LA DISPONIBILITÉ ET LA QUALITÉ DES SERVICES LIÉS À L’APPLICATION SOUS LICENCE) RELÈVE
    DE LA RESPONSABILITÉ DE VOTRE FOURNISSEUR DE SERVICES DE TÉLÉCOMMUNICATIONS AUPRÈS DUQUEL VOUS AVEZ SOUSCRIT LES SERVICES UTILISÉS PAR VOTRE APPAREIL.
%p
  2.
  = succeed "." do
    %strong Limitation de la responsabilité
%ul
  %li
    DANS LES LIMITES PERMISES PAR LE DROIT APPLICABLE, EN AUCUN CAS CHEFSTEPS NI AUCUNE AUTRE PARTIE LIÉE À CHEFSTEPS N’ASSUME DE RESPONSABILITÉ EN CAS DE DOMMAGE DIRECT, INDIRECT, SPÉCIAL, CONSÉCUTIF, EXEMPLAIRE OU PUNITIF DE QUELQUE SORTE QUE CE SOIT
    (Y COMPRIS NOTAMMENT LA PERTE DE REVENUS, DE GAINS OU DE BÉNÉFICES, LA PERTE D’UTILISATION OU DE DONNÉES, LA PERTE OU LA DIMINUTION DE VALEUR D’ACTIFS OU DE TITRES OU LES DOMMAGES RÉSULTANT DE L’INTERRUPTION D’ACTIVITÉ) CAUSÉ DE QUELQUE FAÇON QUE
    CE SOIT DU FAIT OU DANS LE CADRE DU TÉLÉCHARGEMENT, DE L’INSTALLATION OU DE L’UTILISATION DE VOTRE PART DE L’APPLICATION SOUS LICENCE (Y COMPRIS NOTAMMENT TOUT DOMMAGE CAUSÉ PAR OU RÉSULTANT DE LA CONFIANCE ACCORDÉE PAR UN UTILISATEUR À TOUTE INFORMATION
    OBTENUE DE CHEFSTEPS, OU RÉSULTANT DE FAUTES, D’OMISSIONS, D’INTERRUPTIONS, DE SUPPRESSION DE FICHIERS OU D’E-MAILS, D’ERREURS OU DE DÉFECTUOSITÉ, DE DYSFONCTIONNEMENTS, DE VIRUS, DE CHEVAUX DE TROIE, DE RETARDS LIÉS AU FONCTIONNEMENT OU À LA TRANSMISSION,
    OU DE TOUTE DÉFAILLANCE CONSÉCUTIVE À LA FORCE MAJEURE, À UNE PANNE DE COMMUNICATION, AU VOL, À LA DESTRUCTION OU À L’ACCÈS NON AUTORISÉ AUX FICHIERS, PROGRAMMES OU SYSTÈMES DE CHEFSTEPS), INDÉPENDAMMENT DU CHEF DE RESPONSABILITÉ, QU’IL SOIT DE NATURE
    CONTRACTUELLE, DÉLICTUELLE (NOTAMMENT EN CAS DE SIMPLE NÉGLIGENCE, QU’ELLE SOIT ACTIVE, PASSIVE OU IMPUTABLE), OU FONDÉ SUR TOUTE AUTRE PRINCIPE DE DROIT (MÊME SI LA PARTIE A ÉTÉ AVISÉE DE LA POSSIBILITÉ DE TELS DOMMAGES ET SANS ÉGARD AU FAIT QUE
    DE TELS DOMMAGES ÉTAIENT PRÉVISIBLES OU NON).
%p
  DANS LES LIMITES PERMISES PAR LE DROIT APPLICABLE, EN AUCUN CAS LA RESPONSABILITÉ GLOBALE DE CHEFSTEPS ET DES PARTIES LIÉES À CHEFSTEPS (CONJOINTEMENT), QU’ELLE SOIT CONTRACTUELLE OU QU’ELLE DÉCOULE DE L’APPLICATION SOUS LICENCE OU SOIT EN LIEN AVEC CELLE-CI
  DE QUELQUE FAÇON QUE CE SOIT, NE DÉPASSERA LE MONTANT MAXIMUM DE DIX DOLLARS ($10.00).
%p Certaines juridictions n’autorisent pas l'exclusion de responsabilité pour les dommages accessoires ou consécutifs; par conséquent, la limitation ou l’exclusion prévue ci-dessus peut ne pas s’appliquer dans votre cas.
%p
  3.
  = succeed "." do
    %strong Droit applicable
%ul
  %li Le présent Contrat est régi, interprété et exécuté conformément au droit suisse, à l’exclusion des règles ou des principes de conflit de lois qui auraient pour effet de rendre applicables les lois d’une autre juridiction.
%p
  Les consommateurs résidants en Suisse bénéficient de toutes les dispositions impératives du droit de l’État dans lequel ils résident. Aucune disposition du présent Contrat n’affecte votre droit de consommateur suisse de vous fonder sur les dispositions
  impératives du droit de l’État dans lequel vous résidez.
