%p
  %strong Besondere Bestimmungen für Nutzer, die in Deutschland wohnhaft sind
%p
  Falls Sie in Deutschland wohnhaft sind und falls Ihnen die lizenzierte Anwendung von ChefSteps in Deutschland angeboten wurden, prüfen Sie bitte diese besonderen Bedingungen für Nutzer, die in Deutschland wohnhaft sind (“Besondere Bedingungen”). Diese
  besonderen Bedingungen gelten zusätzlich zu bestimmten Abschnitten der Endnutzerlizenzvereinbarung und in manchen Fällen anstelle jener Bedingungen. Alle Begriffe mit großem Anfangsbuchstaben, die nicht in diesen besonderen Bedingungen definiert sind,
  haben die Bedeutung, die ihnen in der Endnutzerlizenzvereinbarung zugewiesen wird.
%p
  1.
  = succeed "." do
    %strong Einleitung
%ul
  %li
    bitte lesen sie diese Vereinbarung sorgfältig durch. sie enthält wichtige bestimmungen, welche sie und ihre Nutzung der lizenzierten applikation betreffen, einschliesslich unserer nutzungs- und Verkaufsbedingungen, welche durch bezugnahme einbezogen
    werden. falls sie den Bestimmungen dieses vertrages und unseren Nutzungs- und Verkaufsbedingungen nicht zustimmen, dürfen sie die lizenzierte applikation nicht installieren, darauf zugreifen oder sie nutzen.
%p
  2.
  %strong> Keine Gewährleistung.
  Anstelle der Ziffer 9,
%ul
  %li
    der inhaber des applikationsgeschäfts hat keinerlei gewährleistungsverpflichtung oder sonstige verpflichtung irgendeiner art in bezug auf die lizenzierte applikation oder jegliche sonstigen ansprüche, verluste, verbindlichkeiten, schäden, kosten oder
    ausgaben, welche einem versagen der lizenzierten applikationen zuzuschreiben sind.
%p Ungeachtet des Vorstehenden finden die gesetzlichen Gewährleistungsrechte Anwendung auf alle Verträge, die zwischen Ihnen und uns abgeschlossen werden.
%p
  3.
  %strong Entschädigung.
  Anstelle der Ziffer 10 gilt Folgendes:
%ul
  %li
    Sie verpflichten sich dazu, ChefSteps und unsere ehemaligen, gegenwärtigen und zukünftigen Arbeitnehmer, Organmitglieder, Führungskräfte, Berater, Anteilseigner, Lieferanten, Verkäufer, Service Provider, Muttergesellschaften, Tochtergesellschaften Schwestergesellschaften,
    Agenten, Vertreter, Vorgänger, Nachfolger und Zessionare (die "
    %strong> ChefSteps-Parteien
    ") für alle Ansprüche von ChefSteps-Parteien oder Dritter jeglicher Art zu entschädigen und dagegen zu verteidigen und davon freizustellen, ob sie sich
    aus unerlaubter Handlung, Vertrag oder sonstigem ergeben (insgesamt die "
    %strong> Ansprüche
    "), einschließlich Sachschäden oder Personenschäden, soweit sie sich aus Ihrer schuldhaften (fahrlässigen oder vorsätzlichen) Verletzung von Pflichten
    aus diesem Vertrag oder sonstiger rechtlicher Pflichten im Zusammenhang mit den Downloads, der Installierung und/oder Nutzung der lizenzierten Applikationen durch Sie ergeben. Im Falle einer Behauptung, dass die lizenzierte Applikation oder ihr Besitz
    oder ihre Nutzung geistiges Eigentum eines Dritten verletzt, verpflichten Sie sich dazu, ChefSteps unverzüglich und direkt zu kontaktieren, und der Inhaber des Applikationsgeschäfts ist nicht verantwortlich für die Untersuchung, Verteidigung, den
    Ausgleich und Erledigung eines solchen Anspruches aufgrund geistigen Eigentums. Sie verpflichten sich dazu, mit den ChefSteps-Parteien bei der Verteidigung gegen solche Ansprüche zusammenzuarbeiten. Sie akzeptieren des Weiteren, dass die ChefSteps-Parteien
    die Verteidigung gegen Ansprüche Dritter oder eine diesbezügliche vergleichsweise Regelung bestimmen, soweit nach anwendbarem Recht möglich. Diese Entschädigung besteht zusätzlich zu jeglichen Entschädigungen, die in anderen schriftlichen Vereinbarungen
    zwischen Ihnen und ChefSteps geregelt sind, und nicht stattdessen.
%p
  3.
  = succeed "." do
    %strong Haftungsbegrenzung
%p
  4.
  %strong Kündigung.
  Anstelle des ersten Satzes der Ziffer 16 gilt Folgendes:
%ul
  %li
    Ungeachtet jeglicher entgegenstehender Bestimmungen in diesem Vertrag behält ChefSteps sich das Recht vor, Ihr Recht auf Zugang zu der lizenzierten Applikation oder auf deren Nutzung zu beenden und Ihren zukünftigen Zugang und die Nutzung der lizenzierten
    Applikation zu blockieren oder zu verhindern.
%p
  5.
  = succeed "." do
    %strong Teilunwirksamkeit
%p
  6.
  %strong> Anwendbares Recht
  \. Anstelle der Ziffer 18 gilt Folgendes:
%ul
  %li Dieser Vertrag unterliegt dem deutschen Recht und ist danach auszulegen und durchzusetzen, jedoch ohne Berücksichtigung der Kollisionsnormen oder Grundsätze, welche zu der Anwendung der Gesetze einer anderen Jurisdiktion führen würden.
%p
  Falls Sie ein Verbraucher mit Wohnsitz in dem Europäischer Wirtschaftsraum (“EWR“) sind, genießen Sie den Schutz jeglicher zwingender Bestimmungen des Rechts des Staates, in dem Sie wohnhaft sind. Nichts in diesem Vertrag beeinträchtigt Ihre Rechte als
  EWR-Verbraucher, sich auf die zwingenden Bestimmungen des Rechts des Staates, in dem Sie wohnhaft sind, zu berufen.
