%p
  %strong Særlige Bestemmelser gældende for brugere, der bor i Danmark
%p
  Hvis du er bosiddende i Danmark, og hvis Applikationen med licens er blevet tilbudt af ChefSteps til dig i Danmark, bedes du gennemgå disse Særlige Bestemmelser, der gælder for brugere bosiddende i Danmark ("Særlige Bestemmelser"). Disse Særlige Bestemmelser
  gælder ud over, og i nogle tilfælde i stedet for bestemte afsnit i Slutbrugerlicensaftalen. Alle termer med stort begyndelsesbogstav, som ikke er defineret i disse Særlige Bestemmelser, har den betydning, de har fået i Slutbrugerlicensaftalen.
%p
  1.
  %strong Skadesløsholdelse
  I stedet for punkt 10 gælder følgende:
%ul
  %li
    I det af gældende lov videst muligt tilladte omfang accepterer du at skadesløsholde, friholde og forsvare ChefSteps og vores respektive tidligere, nuværende og fremtidige medarbejdere, ledende medarbejdere, bestyrelsesmedlemmer, konsulenter, aktionærer,
    leverandører, sælgere, tjenesteudbydere, moderselskaber, datterselskaber, tilknyttede selskaber, agenter, repræsentanter, forgængere, retsefterfølgere og adkomsterhververe (”ChefSteps Partnere”), for alle krav fra ChefSteps Partnere og tredjeparter
    af enhver art, det være sig uden for kontrakt, inden for kontrakt eller i øvrigt (samlet ”Krav”), der udspringer af eller vedrører din hentning, installation og/eller brug af Applikationen med licens. I tilfælde af et krav om, at Applikationen med
    licens, eller din besiddelse eller brug deraf, krænker en tredjeparts immaterielle rettigheder, accepterer du at kontakte ChefSteps straks og direkte, og Appstore-udbyderen er ikke ansvarlig for undersøgelsen, forsvaret af, forligsmæssig løsning på
    og/eller opfyldelse af et sådant immaterielt Krav. Du accepterer at samarbejde med ChefSteps-Parter i forsvaret mod disse Krav. Du accepterer endvidere, at ChefSteps-Parterne skal kontrollere forsvaret eller aftalen af eventuelle Krav fra tredjeparter.
    Denne skadesløsholdelse er ud over, og ikke i stedet for, eventuel skadesløsholdelse anført i anden skriftlig aftale mellem dig og ChefSteps.
%p
  2.
  %strong Lovvalg
  I stedet for punkt 18 gælder følgende:
%ul
  %li
    Aftalen reguleres af og fortolkes og håndhæves i overensstemmelse med lovene i Danmark, uden hensyntagen til lovvalgsregler eller principper, der ville forårsage, at en anden jurisdiktions love ville være gældende. Forbrugere bosiddende i Europæisk
    økonomisk Område (”
    %strong> EØS
    ”) kan have rettigheder i medfør af eventuelle ufravigelige bestemmelser i loven i det land, hvor du er bosiddende. Intet i disse Vilkår påvirker dine rettigheder som EØS-forbruger til at påberåbe dig ufravigelige
    bestemmelser i loven i det land, hvor du er bosiddende.
