%p
  %strong Disposiciones Especiales Aplicables a los Usuarios Residentes en España
%p
  Si reside en España y ChefSteps le ofreció la Aplicación Licenciada en España, le rogamos que revise estas Disposiciones Especiales Aplicables a los Usuarios Residentes en España (“Disposiciones Especiales”). Estas Disposiciones Especiales se aplican
  de manera adicional al Acuerdo de Licencia de Usuario Final o, en algunos casos, sustituyendo a determinadas cláusulas de dicho Acuerdo. Todos los términos en mayúsculas no definidos en estas Disposiciones Especiales tendrán el significado que se les
  atribuye en el Acuerdo de Licencia de Usuario Final.
%p
  1.
  %strong Titularidad de la Aplicación Licenciada.
  En lugar de la Cláusula2, se aplica lo siguiente:
%ul
  %li
    La Aplicación Licenciada es de la titularidad de ChefSteps y sus licenciantes y está protegida por derechos de autor y otras leyes y convenios en materia de derechos de propiedad intelectual e industrial. ChefSteps y sus licenciantes poseen todos los
    derechos, títulos e intereses sobre la Aplicación Licenciada, incluidos todos los derechos de autor y otros derechos de propiedad intelectual e industrial sobre la misma. ChefSteps se reserva todos los derechos que no le hayan sido concedidos a usted
    expresamente.
%p
  2.
  = succeed "." do
    %strong Ámbito de Aplicación de la Licencia sobre la Aplicación Licenciada
%ul
  %li
    Con sujeción a los términos y condiciones de este Acuerdo, ChefSteps le concede a usted una licencia limitada, no exclusiva, intransferible, no sub-licenciable, mundial y perpetua (o por el plazo máximo de protección disponible para los derechos en
    cuestión) para descargar, instalar y usar la Aplicación Licenciada en determinados dispositivos o productos autorizados por el Proveedor de la Tienda de Aplicaciones (cada uno de ellos, un “Dispositivo”) que usted posea o controle y según lo permitan
    las Normas de Uso que figuren en los Términos del Servicio de la Tienda de Aplicaciones (las “Normas de Uso”).
%p
  3.
  = succeed "En" do
    %strong Restricciones de la Licencia.
%ul
  %li
    Lo anterior establece la totalidad de sus derechos con respecto a las Aplicaciones Licenciadas, reservándonos todos los derechos sobre las Aplicaciones Licenciadas que no le hayan sido concedidos a usted expresamente en este Acuerdo. La licencia que
    se le concede en la Cláusula3 no le permite hacer nada de lo siguiente: (a) utilizar la Aplicación Licenciada en cualquier Dispositivo que usted no posea o controle; (b) distribuir, copiar, licenciar, alquilar, vender, revender, transformar (incluida
    la corrección de errores), publicar, arrendar o transferir de otro modo a un tercero la Aplicación Licenciada (salvo cuando esto esté expresamente permitido en el presente Acuerdo o en las Normas de Uso) o cualquier material susceptible de protección
    que sea titularidad de ChefSteps; (c) aplicar ingeniería inversa, descompilar, desmontar o intentar descubrir cualquier código fuente o secretos comerciales vinculados a la Aplicación Licenciada o cualquier material susceptible de protección que sea
    titularidad de ChefSteps; (d) modificar, alterar o crear obras derivadas o versiones posteriores de la Aplicación Licenciada; (e) retirar, alterar u ocultar cualquier aviso de derechos de autor, marcas comerciales u otros derechos susceptibles de
    protección sobre la Aplicación Licenciada; (f) solventar cualesquiera limitaciones técnicas de la Aplicación Licenciada; o (g) usar la Aplicación Licenciada para fines distintos de su propio uso personal, no comercial, o utilizarla con fines para
    los que no haya sido diseñada. A menos que ChefSteps establezca expresamente lo contrario en este Acuerdo o de otra forma, nada de lo dispuesto en este Acuerdo podrá ser interpretado como la concesión de cualquier derecho o licencia sobre los derechos
    de propiedad intelectual e industrial, ya sea por preclusión, implicación o de otro modo. Si usted incumple cualquiera de estas restricciones podrá enfrentarse a acciones judiciales y al resarcimiento de daños y perjuicios. Esta licencia es revocable
    en cualquier momento.
%p
  4.
  = succeed "." do
    %strong Indemnización
%p
  5.
  %strong Limitación de Responsabilidad.
  En lugar de la Cláusula11, se aplica lo siguiente:
%ul
  %li
    EN NINGÚN CASO CHEFSTEPS NI NINGUNA OTRA PARTE RELACIONADA CON CHEFSTEPS SERÁ RESPONSABLE DE DAÑOS (INCLUYENDO, SIN LIMITACIÓN, LA PÉRDIDA DE GANANCIAS, INGRESOS O BENEFICIOS, LA PÉRDIDA DE USO O DE DATOS, LA PÉRDIDA O DISMINUCIÓN DEL VALOR DE ACTIVOS
    O GARANTÍAS, O DAÑOS POR LA INTERRUPCIÓN DE NEGOCIO) QUE NO RESULTEN DE ACTOS U OMISIONES DE CHEFSTEPS O QUE NO SEAN ATRIBUIBLES A CHEFSTEPS.
%p
  6.
  = succeed "." do
    %strong Ley Aplicable y Jurisdicción
%ul
  %li
    Este Acuerdo se regirá e interpretará, y se hará valer de conformidad con las leyes de España, sin tener en cuenta normas o principios en materia de conflicto de leyes que pudiesen dar lugar a la aplicación de las leyes de cualquier otra jurisdicción.
%p
  Los consumidores que residan en el Área Económica Europea (“EEA”) se beneficiarán de las disposiciones obligatorias de la ley del país en el que usted resida. Nada de lo previsto en este Acuerdo afectará a sus derechos como consumidor del EEA a invocar
  disposiciones obligatorias de la ley del país en el que usted resida.
