%p
  %strong Erityiset sopimusehdot, jotka soveltuvat Suomessa asuviin käyttäjiin
%p
  Jos asut Suomessa ja jos Lisensoitu Sovellus tarjottiin sinulle ChefStepsin toimesta Suomessa, lue seuraavat Erityiset sopimusehdot, jotka soveltuvat Suomessa asuviin käyttäjiin ("Erityiset ehdot"). Nämä Erityiset ehdot soveltuvat Loppukäyttäjän lisenssisopimuksen
  lisäksi ja joissain tapauksissa joidenkin Loppukäyttäjän lisenssisopimuksen osioiden sijaan. Isolla alkukirjaimella alkavilla termeillä, joita ei ole määritetty näissä Erityisissä ehdoissa, tarkoittavat samaa kuin Loppukäyttäjän lisenssisopimuksessa.
%ol
  %li
    Sovellettava laki. Osion 18 sijaan sovelletaan seuraavaa:
    %ul
      %li Tähän Sopimukseen sovelletaan ja sitä tulkitaan ja se pannaan täytäntöön Suomen lakien mukaan, ilman sen lainvalintasääntöjä, jotka johtaisivat jonkin muun lainkäyttöalueen lakien soveltamiseen.
%p Euroopan talousalueell. ETA-alueella asuvat kuluttajat hyötyvät asumisvaltionsa lainsäädännön pakottavista säännöksistä. Mikään tässä Sopimuksessa ei vaikuta oikeuksiisi ETA-alueella asuvana kuluttajana vedota asumisvaltiosi pakottaviin säännöksiin.
