%p
  %strong Särskilda bestämmelser tillämpliga på användare bosatta i Finland
%p
  Om du är bosatt i Finland och om den Licensierade Applikationen har erbjudits till dig av ChefSteps i Finland, var vänlig och granska de här Särskilda Bestämmelserna tillämpliga på användare bosatta i Finland ("Särskilda Bestämmelser"). De här Särskilda
  Bestämmelserna tillämpas förutom, eller i vissa fall i stället för vissa paragrafer av, Licensavtal för slutanvändare. Alla begrepp skrivna med stora bokstäver som inte har definierats i de här Särskilda Bestämmelserna skall ha den betydelse som ges
  i Licensavtalet för slutanvändare.
%p 1. Tillämplig lag. I stället för paragraf 18 skall följande tillämpas:
%ul
  %li Detta avtal skall tolkas, tillämpas och verkställas enligt finsk lag, utan att beakta lagvalsregler och -principer som skulle medföra att någon annan stats lag skulle vara tillämplig.
%p
  En konsument bosatt inom Europeiskt Ekonomiskt Område (”EES”) kan åberopa tvingande regler av den stat han/hon är bosatt i. Ingen bestämmelse i de här Särskilda Bestämmelserna skall inverka på dina rättigheter som konsument bosatt i EES att åberopa tvingande
  lagbestämmelser av den stat du är bosatt i.
