/ FR - French
%p
  %strong Dispositions spécifiques applicables aux utilisateurs résidant en France
%p
  Si vous résidez en France et si l’application sous licence vous ont été proposés en France par ChefSteps, lisez les présentes dispositions spécifiques applicables aux utilisateurs résidant en France (ci-après « les Dispositions spécifiques »). Ces Dispositions
  Spécifiques complètent ou, dans certains cas, remplacent certains articles ou dispositions du Contrat de licence d’utilisateur final. Tous les termes qui commencent par une majuscule et qui ne sont pas définis dans les présentes Dispositions Spécifiques
  ont la signification qui leur est donnée dans le Contrat de licence d’utilisateur final.
%p
  1.
  = succeed "." do
    %strong Responsabilité limitée
%p
  Dans les limites prévues par les lois applicables, la responsabilité de ChefSteps ni d’aucune de ses parties ne pourra être engagée en cas de dommages indirects (notamment la perte de chiffre d’affaires, de revenu ou de résultat bénéficiaire, perte d’utilisation
  ou de données, perte ou diminution de la valeur d’actifs ou de titres ou dommages par suite d’une interruption d’activité) directement ou indirectement liés au téléchargement, à l’installation ou à l’utilisation par vos soins de l’Application sous licence
  (notamment tout dommage directement ou indirectement lié au fait qu’un utilisateur se sera fié à une information obtenue auprès de ChefSteps, ou par suite d’erreur, omission, interruption, suppression de fichiers ou d’e‑mails, défaut, « bug », virus,
  cheval de Troie, retard d’exploitation ou de transmission ou défaillance de fonctionnement, résultant ou non d’un cas de force majeure, défaillance de télécommunication, vol, destruction ou accès sans autorisation aux dossiers, programmes ou systèmes
  de ChefSteps), que le fondement de l’action en justice soit contractuel, délictuel ou autre (notamment pour simple négligence active, passive ou supposée), une stricte responsabilité du fait du produit ou toute autre théorie juridique ou en équité (même
  si la partie a été informée de l’éventualité de tels dommages et quand bien même ils étaient prévisibles).
%p
  Les limitations visées à l’Article 11 n’entraînent aucune limitation ni exclusion de responsabilité en cas de décès ou de dommages aux personnes ou aux biens du fait de l’utilisation de l’Application sous licence ou en cas de fraude, de négligence grave
  ou de conduite délictuelle délibérée avec intention de nuire ou imprudente.
%p
  2.
  = succeed "." do
    %strong Loi applicable
%ul
  %li Le Contrat est régi, interprété et pourra être exécuté par décision de justice conformément au droit français, nonobstant les règles ou principes en matière de conflits de lois qui pourraient entraîner l’application des lois d’un autre pays.
%p
  En qualité de consommateur résidant dans l’Espace économique européen (« 
  %strong> l’EEE
   »),, vous bénéficiez de toutes les dispositions impératives des lois de votre pays de résidence. Rien dans le Contrat n’affecte vos droits, en tant que consommateur
  résidant dans l’EEE, d’invoquer les dispositions obligatoires des lois de votre pays de résidence.
