%p
  %strong Special Provisions Applicable to Users Residing in Ireland
%p
  If you reside in Ireland and if the Licensed Application was offered to you in Ireland, please review these Special Provisions Applicable to Users Residing in Ireland (“
  %strong> Special Provisions
  ”). These Special Provisions apply in addition
  to, or in some cases in lieu of certain sections of, the End User License Agreement. All capitalized terms not defined in these Special Provisions shall have the meaning given to them in the End User License Agreement.
%p
  1.
  %strong Governing Law.
  Instead of Section 18, the following applies:
%ul
  %li This Agreement shall be governed by and construed and enforced in accordance with the laws of Ireland, without regard to conflict of law rules or principles that would cause the application of the laws of any other jurisdiction.
%p
  Consumers residing in the European Economic Area (“
  %strong> EEA
  ”) will benefit from any mandatory provisions of the law of the country in which you reside. Nothing in this Agreement affects your rights as a consumer residing in the EEA to rely
  on mandatory provisions of the law of the country in which you reside.
