%p
  %strong Disposizioni speciali applicabili agli utenti residenti in Italia
%p
  Se risiedete in Italia e se l’applicazione concessa in licenza vi sono stati offerti da ChefSteps in Italia, siete pregati di consultare le presenti disposizioni speciali applicabili agli utenti residenti in Italia (“Disposizioni Speciali”). Tali Disposizioni
  Speciali si applicano in aggiunta al Contratto di Licenza con l’Utente Finale o, in alcuni casi, in sostituzione di alcune delle sue clausole. Tutti i termini maiuscoli non definiti nelle presenti Disposizioni Speciali hanno il significato loro attribuito
  nel Contratto di Licenza con l’Utente Finale.
%p
  1.
  = succeed "." do
    %strong Assenza di Garanzia
%ul
  %li
    L’UTENTE RICONOSCE E ACCETTA CHE (A) L’APP CONCESSA IN LICENZA POTREBBE CONTENERE BUG, ERRORI E DIFETTI; (B) L’UTENTE SI ASSUME OGNI RISCHIO LEGATO AL DOWNLOAD, L’INSTALLAZIONE E L’USO DELL’APP CONCESSA IN LICENZA; E (C) L’UTENTE SI ASSUME OGNI RISCHIO
    PER QUANTO RIGUARDA QUALITÀ, RENDIMENTO, ACCURATEZZA E SFORZO. PERTANTO, L’APP CONCESSA IN LICENZA È FORNITA “NELLO STATO IN CUI SI TROVA” E “IN QUANTO DISPONIBILE”, CON TUTTI I VIZI, DIFETTI ED ERRORI E SENZA GARANZIA DI ALCUN TIPO. CHEFSTEPS NON
    RICONOSCE ALCUNA GARANZIA (ESPLICITA, IMPLICITA, LEGALE O DI ALTRO TIPO) RELATIVAMENTE ALL’APP CONCESSA IN LICENZA E ALLA SUA ESECUZIONE O IDONEITÀ IN BASE ALL’USO CHE L’UTENTE INTENDA FARNE, COMPRESA, A TITOLO MERAMENTE ESEMPLIFICATIVO, QUALSIASI
    GARANZIA IMPLICITA DI COMMERCIABILITÀ, IDONEITA’ A UN USO SPECIFICO, ACCURATEZZA E NON VIOLAZIONE DI DIRITTI DI PROPRIETÀ E PROPRIETÀ INTELLETTUALE. CHEFSTEPS NON DICHIARA NÉ GARANTISCE CHE L’APP CONCESSA IN LICENZA VERRÀ FORNITA SENZA EVENTUALI INTERRUZIONI,
    RITARDI, OMISSIONI O ERRORI (COMPLESSIVAMENTE, “
    %strong> Vizi
    ”) O IN MODO SICURO, O CHE EVENTUALI VIZI VERRANNO CORRETTI. LE INFORMAZIONI O PARERI ORALI O SCRITTI FORNITI DA CHEFSTEPS O DAI SUOI RAPPRESENTANTI AUTORIZZATI NON POSSONO IN NESSUN
    CASO COSTITUIRE GARANZIA.
%p
  IL FORNITORE DELL’
  %em APP STORE
  NON HA OBBLIGHI DI GARANZIA DI ALCUN TIPO CON RIFERIMENTO ALL’APP CONCESSA IN LICENZA O AD ALTRE EVENTUALI PRETESE, RESPONSABILITÀ, DANNI, COSTI O SPESE ASCRIVIBILI A QUALSIASI MANCANZA DELL’APP CONCESSA IN LICENZA.
%p
  2.
  = succeed "." do
    %strong Limitazione della Responsabilità
%p
  3.
  = succeed "." do
    %strong Cessazione
%ul
  %li
    Ferme restando le disposizioni contenute nel presente Contratto, ChefSteps si riserva il diritto, senza preavviso e a propria discrezione, di cessare il diritto dell’utente di accedere o utilizzare l’App concessa in licenza, e di bloccare o impedire
    il futuro accesso e uso dell’App concessa in licenza in caso di violazione del presente Contratto o dei relativi Termini di Uso e Vendita da parte dell’utente. L’utente ha il diritto di risolvere il presente Contratto senza preavviso, a propria discrezione
    ed in qualsiasi momento, disinstallando l’App concessa in licenza.
%p
  4.
  %strong Legge Applicabile.
  L’Articolo 18 è sostituito con quanto segue:
%ul
  %li Il presente Contratto sarà disciplinato e interpretato in conformità al diritto italiano, con esclusione delle sue norme di diritto internazionale privato o dei principi che potrebbero comportare l’applicazione delle leggi di un altro ordinamento.
%p
  In quanto consumatore residente nello Area Economica Europea (“
  %strong> SEE
  ”), l’utente potrà beneficiare di eventuali norme imperative della legge del paese in cui risiede. Niente nel presente Contratto pregiudica i diritti dell’utente in quanto
  consumatore dello SEE di invocare le disposizioni imperative previste dalla legge del paese in cui risiede.
