%p
  %strong Bijzondere bepalingen van toepassing op gebruikers woonachtig in Nederland
%p
  Indien u in Nederland woonachtig bent en indien de Gelicentieerde Applicatie door ChefSteps aan u in Nederland is aangeboden, verzoeken wij u kennis te nemen van deze Bijzondere Bepalingen die gelden voor in Nederland woonachtige gebruikers ("Bijzondere
  Bepalingen"). Deze Bijzondere Bepalingen zijn van toepassing in aanvulling op of in sommige gevallen in plaats van, bepaalde delen van, de Licentieovereenkomst voor Eindgebruikers. Alle termen die met een hoofdletter beginnen en niet in deze Bijzondere
  Bepalingen zijn gedefinieerd, hebben de betekenis die aan dit begrip is toegekend in de Licentieovereenkomst voor Eindgebruikers.
%p
  1.
  %strong Inleiding.
  In plaats van de tweede zin van de tweede alinea van de inleiding geldt het volgende:
%ul
  %li
    Indien ChefSteps wijzigingen in deze Overeenkomst aanbrengt, zal zij deze wijzigingen melden, bijvoorbeeld door het verzenden van een e-mailbericht, het bijwerken van de datum van "Laatst bijgewerkt" aan het begin van deze Overeenkomst, of door het
    verstrekken van een kennisgeving via de Gelicentieerde Applicatie, ten minste dertig (30) dagen voordat deze wijzigingen van kracht worden.
%p
  2.
  %strong Beperking van de aansprakelijkheid.
  In plaats van de eerste alinea van artikel 11 is het volgende van toepassing:
%ul
  %li
    VOOR ZOVER TOEGESTAAN DOOR TOEPASSELIJKE WETGEVING ZAL CHEFSTEPS OF EEN VAN DE ANDERE CHEFSTEPS PARTIJEN IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, BIJZONDERE OF INCIDENTELE SCHADE, GEVOLGSCHADE OF PUNITIEVE SCHADE VAN WELKE AARD DAN OOK
    (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, VERLIES VAN OMZET, INKOMEN OF WINST, VERLIES VAN GEBRUIK OF GEGEVENS, VERLIES OF WAARDEVERMINDERING VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR BEDRIJFSONDERBREKING) DIE VOORTVLOEIT UIT OF OP ENIGERLEI WIJZE VERBAND
    HOUDT MET UW DOWNLOAD, INSTALLATIE OF GEBRUIK VAN DE GELICENTIEERDE APPLICATIE (MET INBEGRIP VAN MAAR NIET BEPERKT TOT, ALLE SCHADE VEROORZAAKT DOOR OF VOORTVLOEIENDE UIT HET VERTROUWEN VAN EEN GEBRUIKER IN DE VAN CHEFSTEPS ONTVANGEN INFORMATIE OF
    FOUTEN, OMISSIES, ONDERBREKINGEN, VERWIJDERINGEN VAN BESTANDEN OF E-MAILS, VERGISSINGEN, DEFECTEN, BUGS, VIRUSSEN, TROJAANSE PAARDEN, VERTRAGINGEN IN DE WERKING OF VERZENDING OF EEN GEBREKKIGE WERKING, AL DAN NIET ALS GEVOLG VAN NATUURRAMPEN, FALEN
    VAN DE COMMUNICATIE, DIEFSTAL, VERNIETIGING OF ONBEVOEGDE TOEGANG TOT DOCUMENTEN, PROGRAMMA'S OF SYSTEMEN VAN CHEFSTEPS) ONGEACHT DE VORM VAN DE ACTIE, HETZIJ OP BASIS VAN CONTRACTBREUK OF ONRECHTMATIGE DAAD (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT,
    EENVOUDIGE NALATIGHEID, OFWEL ACTIEF, PASSIEF OF TOEREKENBAAR), OF ENIGE ANDERE RECHTS- OF BILLIJKHEIDSTHEORIE (ZELFS ALS DE PARTIJ OP DE HOOGTE IS GESTELD VAN DE MOGELIJKHEID VAN DERGELIJKE SCHADE EN ONGEACHT OF DEZE SCHADE HAD KUNNEN WORDEN VOORZIEN).
%p
  3.
  %strong Beëindiging.
  In plaats van artikel 16 is het volgende van toepassing:
%ul
  %li
    Niettegenstaande alles wat in deze Overeenkomst is opgenomen, behoudt ChefSteps zich het recht voor om zonder voorafgaande kennisgeving en naar eigen goeddunken uw recht op toegang tot of uw gebruik van de Gelicentieerde Applicatie te beëindigen en
    om uw toekomstige toegang tot en uw gebruik van de Gelicentieerde Applicatie te blokkeren of te verhinderen indien u deze Overeenkomst of onze Gebruiks- en Verkoopvoorwaarden schendt. U heeft ook het recht om de Overeenkomst zonder voorafgaande kennisgeving,
    naar eigen goeddunken en te allen tijde te beëindigen door de Gelicentieerde Applicatie te verwijderen.
%p
  4.
  %strong Heersend recht.
  In plaats van artikel 18 is het volgende van toepassing:
%ul
  %li
    Deze Overeenkomst wordt beheerst door en geïnterpreteerd en uitgevoerd in overeenstemming met Nederlands recht, zonder rekening te houden met collisieregels of -principes waardoor het recht van enig ander rechtsgebied zou gelden en met uitsluiting van
    de toepasselijkheid van het Verdrag van de Verenigde Naties inzake internationale koopovereenkomsten betreffende roerende zaken.
%p De Partijen hierbij onderwerpen zich aan de jurisdictie van de bevoegde rechter te Amsterdam.
%p
  Indien u een consument die in de Europese Economische Ruimte (“
  %strong> EER
  ”) woont, profiteert u van alle dwingende bepalingen van het recht van het land waarin u woonachtig bent. Niets in deze Overeenkomst doet afbreuk aan uw rechten als EER-consument
  om zich te beroepen op dwingende bepalingen van het recht van het land waarin u woonachtig bent.
