%p
  %strong Særbestemmelser for brukere bosatt i Norge
%p
  Hvis du bor i Norge og den lisensierte applikasjonen ble tilbudt av ChefSteps til deg i Norge, ber vi deg gå igjennom disse særbestemmelsene for brukere bosatt i Norge («Særbestemmelsene»). Disse Særbestemmelsene gjelder i tillegg til, eller i noen tilfeller
  istedenfor, visse punkter i Lisensavtale for sluttbrukere. Begreper med stor forbokstav som ikke er definert i disse Særbestemmelsene, har den betydningen de er gitt i Lisensavtale for sluttbrukere.
%p
  1.
  %strong> Lovvalg
  \. Istedenfor punkt 18 gjelder følgende:
%ul
  %li Denne Avtalen skal være underlagt og tolkes og håndheves i samsvar med Norges lover, med unntak av eventuelle lovvalgsregler eller -prinsipper som tilsier anvendelse av lovene i en annen jurisdiksjon.
%p
  Som forbruker bosatt i Det europeiske økonomiske samarbeidsområde («
  %strong> EØS
  ») nyter du godt av eventuelle preseptoriske bestemmelser i lovgivningen i ditt land. Ingenting i denne Avtalen påvirker de rettighetene du har som forbruker bosatt
  i EØS til å påberope deg preseptoriske bestemmelser i ditt land.
