%p
  %strong Särskilda villkor för användare bosatta i Sverige
%p
  Om du är bosatt i Sverige och ChefSteps erbjuds en Licenserad Applikation till dig i Sverige, vänligen granska dessa Särskilda villkor för användare bosatta i Sverige ("Särskilda villkor"). Dessa Särskilda villkor är tillämpliga jämte, eller i vissa fall
  i stället för, vissa delar av Slutanvändarlicensavtalet. Samtliga termer som inte definieras i dessa Särskilda villkor har den innebörd som de ges i Slutanvändarlicensavtalet.
%p
  1.
  = succeed "." do
    %strong Gällande lag
%p
  Dessa villkor och din tillgång till och användning av produkterna och tjänsterna ska regleras av och tolkas och verkställas i enlighet med svensk lag utan hänsyn till lagkonfliktsregler eller principer som skulle kunna leda till tillämpning av lagar i
  någon annan jurisdiktion. Konsumenter som är bosatta inom Europeiskt Ekonomiskt Område (”EES”) kommer att omfattas av eventuella obligatoriska bestämmelser i lagen i landet där du är bosatt. Detta avtal påverkar inte din rättighet att, som en konsument
  bosatt inom EES, förlita dig på obligatoriska bestämmelser i lagen i landet där du är bosatt.
