.course-breakdown
  h3
    +font-serif-medium
    text-transform: none
  h4
    +font-sans-small
    text-transform: uppercase
    font-weight: bold

.module
  margin-top: 20px
  ul
    list-style-type: none
    margin-left: 20px
  li
    +font-sans-small
    color: $grayLight
    margin-top: 10px

.module:first-child
  margin-top: 0

