.course-breakdown
  +font-sans-small
  h3
    +font-serif-large
    color: $brick
    text-transform: none
    margin-top: 6px

.nested-activity-list-shared, .nested-activity-list-pretty

  ol
    margin-left: 0

  .module
    margin-top: 20px
    list-style-type: none
    counter-increment: module-counter

    > div
      +font-sans-small
      color:  black
      text-transform: uppercase
      font-weight: bold

      &:before
        content: 'MODULE ' counter(module-counter) ':  '


  .activity
    +font-sans-small
    color: $gray
    list-style-type: decimal
    margin-left: 22px
    margin-top: 10px
    text-transform: none

  .subactivity
    list-style-type: none
    margin-left: 20px

    > div
      &:before
        content: '-'
        position: relative
        left: -5px

