.course-title
  margin-bottom: 0

.course-info
  h1
    +font-serif-large
    color: $brick
  p
    +font-sans-medium

  h3
    +font-serif-large
    text-transform: uppercase

.instructor
  margin-top: 30px
  h4
    +font-serif-large
    color: $brick
  p
    margin-top: 5px
    +font-sans-medium
    letter-spacing: 1px
  .border
    border-bottom: 1px solid $grayLighter
    margin-top: 20px

.instructor:first-child
  margin-top: 20px

.top-video
  margin-bottom: 10px

