.course-title
  margin-bottom: 0
  a
    margin-top: 5px

.course-info
  h1
    +font-serif-large
    color: $brick
    margin-top: 3.2em
  h3
    margin-top: 3.2em
    +font-serif-large
    text-transform: uppercase

.instructor
  margin-top: 30px
  h4
    +font-serif-large
    color: $brick
  p
    margin-top: 5px
  .horizontal-divider
    margin-top: 20px

.instructor:first-child
  margin-top: 20px

