- likeable_object ||= nil

.section
  %div(ng-controller="NonAngularSocialController" ng-init="title='#{title}'; url='https://www.chefsteps.com/knife-collection'; media='#{image}?cache=true'")
    = render '/layouts/share_button', likeable_object: likeable_object