.container.egg-timer-container(ng-controller="EggTimerController")
  .row
    .span6
      .iphone-container
        .egg-header
          .egg-hamburger(ng-click="showSettings = ! showSettings")
            .hamburger-bar
            .hamburger-bar
            .hamburger-bar
          .egg-title
            %h3 EGGS

        .egg-body
          .page-bg
            %img(src="assets/egg_timer_background.png")
          .page-switch(ng-switch="state.name" ng-animate="'fade'")
            .page(ng-switch-when="white")
              %h4.text-center What texture would you like your egg white?
              .control-group
                .controls
                  Runny
                  %input(type="range" ng-model='inputs.water_temp' min="60" max="85")
                  Firm

            .page(ng-switch-when="yolk")
              %h4.text-center What texture would you like your egg yolk?
              .control-group
                .controls
                  Syrup
                  %input(type="range" ng-model='inputs.desired_viscosity' min="5" max="30")
                  Icing

            .page(ng-switch-when="results")
              %h4 {{inputs.water_temp}} &deg;C
              %h4 {{formatTime(output.items[1])}} if serving immediately
              %h4 {{formatTime(output.items[4])}} if ice-chilled and reheated later
              .section
                Add data for more accurate cooking time:
              .section.text-center
                .btn.btn-circle.large(ng-click="goState('size')") Size
                .btn.btn-circle.large(ng-click="goState('startTemp')") Starting Temp
                .btn.btn-circle.large(ng-click="goState('bathType')") Bath Type

            .page(ng-switch-when="size")
              %h4 What size is your egg?
              .section.text-center
                .btn-group
                  .btn.btn-secondary(ng-click="inputs.diameter = 35" active="inputs.diameter == 35") Medium
                  .btn.btn-secondary(ng-click="inputs.diameter = 43" active="inputs.diameter == 43") Large
                  .btn.btn-secondary(ng-click="inputs.diameter = 47" active="inputs.diameter == 47") X-Large
                  .btn.btn-secondary(ng-click="inputs.diameter = 50" active="inputs.diameter == 50") Jumbo
              .section.text-center
                or measure the diameter with a string at widest point
              .section.text-center
                %input(type="number" ng-model="inputs.diameter") cm

            .page(ng-switch-when="startTemp")
              %h4 What temperature is your egg?
              .section.text-center
                .btn-group
                  .btn.btn-secondary(ng-click="inputs.start_temp = 5" active="inputs.start_temp == 5") Refrigerator
                  .btn.btn-secondary(ng-click="inputs.start_temp = 22" active="inputs.start_temp == 22") Room Temp
              .section.text-center
                or 
              .section.text-center
                %input(type="number" ng-model="inputs.start_temp") &deg; C


              
        .egg-footer
          .btn.btn-primary.state-button-prev(ng-show="getPrevState()" ng-click="goPrevState()") 
            %i.icon-angle-left
            BACK
          .btn.btn-primary.state-button-next(ng-show="getNextState()" ng-click="goNextState()") 
            NEXT
            %i.icon-angle-right

          

    .span6
      %h2 DEBUGGING
      .section
      .section
        %h3 
          Computed Times
          %i.icon-spin.icon-spinner(ng-show="loading")
        Immediate Service: Min {{formatTime(output.items[0])}}, 
        %b Suggested {{formatTime(output.items[1])}}
        , Max {{formatTime(output.items[2])}}
        %br
        Ice Water Chilled: Min {{formatTime(output.items[3])}}, 
        %b Suggested {{formatTime(output.items[4])}}
        , Max {{formatTime(output.items[5])}}
      .section
        %h3 Inputs
        .control-group
          %label Water Temp {{inputs.water_temp}} &deg;c
          .controls
            60 &deg;c
            %input(type="range" ng-model='inputs.water_temp' min="60" max="85")
            85 &deg;c
        .control-group
          %label Desired Viscosity {{inputs.desired_viscosity}} (Like {{viscosityToDescriptor(inputs.desired_viscosity)}})
          .controls
            5
            %input(type="range" ng-model='inputs.desired_viscosity' min="5" max="30")
            30
            
        .control-group
          %label Egg Diameter {{inputs.diameter}} mm
          .controls
            30
            %input(type="range" ng-model='inputs.diameter' min="30" max="60" step="0.5")
            60
        .control-group
          %label Start Temp {{inputs.start_temp}}
          .controls
            1
            %input(type="range" ng-model='inputs.start_temp' min="1" max="35")
            35
        .control-group
          %label Heat Transfer Coefficient {{inputs.surface_heat_transfer_coeff}}
          .controls
            50
            %input(type="range" ng-model='inputs.surface_heat_transfer_coeff' min="50" max="200")
            200
        .control-group
          %label Egg Shape
          .controls
            .btn.btn-secondary(ng-click="inputs.beta = 1.6" ng-class="{active: inputs.beta==1.6}") Torpedo
            .btn.btn-secondary(ng-click="inputs.beta = 1.7" ng-class="{active: inputs.beta==1.7}") Normal
            .btn.btn-secondary(ng-click="inputs.beta = 1.8" ng-class="{active: inputs.beta==1.8}") Spherical


  

