- content_for :title, "Sous Vide Resources"
- content_for :description, "Sous vide is a modernist technique that slowly cooks packaged foods to a particular temperature in a heated water bath. It prevents overcooking, preserves flavor, and yields inimitable texture. Many people believe that sous vide cooking is inherently expensive, and requires lots of gadgets. But often you can cook sous vide with nothing more than an inexpensive digital thermometer. Other times, dedicated sous vide equipment is the only practical way to do the job. Either way, having proper sous vide cooking equipment is invaluable if you frequently cook sous vide, and if you’ve never tried it, we highly recommend you do. It’s a simple technique that’s revolutionizing kitchens worldwide, and for good reason: it works."

.row-fluid
  = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/akXA53S1uzpyoGWQN4oA/convert?cache=true&rotate=exif&quality=90')
.section
.row-fluid.white-space
  .span8.offset2
    .center
      %h2.text-center
.component-container(component-load component-id='sous-vide-two')
.component-container(component-load component-id='sous-vide-three')
.component-container(component-load component-id='sous-vide-four')
.component-container(component-load component-id='sous-vide-five')
.component-container(component-load component-id='sous-vide-six')
=render 'layouts/footer'
