- content_for :title, "What can sous vide do for you?"
- content_for :description, "Sous vide solve a lot of problems for every cook. It allows you to think big and hone your skills in becoming a better cook. It allows you to get more done and not compromise on having great food on the table every night. And it helps you really nail your protein when you've invested time and money into getting something cooked right. It makes you a better cook."

.component-container(component-load component-id='sv-jobs-one')
.component-container(component-load component-id='sv-jobs-two')
.component-container(component-load component-id='sv-jobs-three')
.component-container(component-load component-id='sv-jobs-four')
.component-container(component-load component-id='sv-jobs-five')
.component-container(component-load component-id='sv-jobs-six')
.component-container(component-load component-id='sv-jobs-seven')
.component-container(component-load component-id='sv-jobs-eight')
.component-container(component-load component-id='sv-jobs-nine')
.component-container(component-load component-id='sv-jobs-ten')
.component-container(component-load component-id='sv-jobs-eleven')
.component-container(component-load component-id='sv-jobs-twelve')
.component-container(component-load component-id='sv-jobs-thirteen')
.component-container(component-load component-id='sv-jobs-fourteen')
.component-container(component-load component-id='sv-jobs-fifteen')
.component-container(component-load component-id='sv-jobs-sixteen')
.component-container(component-load component-id='sv-jobs-seventeen')

=render 'layouts/footer'
