- content_for :title, "Sous Vide Resources"
- content_for :description, "Sous vide is a modernist technique that slowly cooks packaged foods to a particular temperature in a heated water bath. It prevents overcooking, preserves flavor, and yields inimitable texture. Many people believe that sous vide cooking is inherently expensive, and requires lots of gadgets. But often you can cook sous vide with nothing more than an inexpensive digital thermometer. Other times, dedicated sous vide equipment is the only practical way to do the job. Either way, having proper sous vide cooking equipment is invaluable if you frequently cook sous vide, and if you’ve never tried it, we highly recommend you do. It’s a simple technique that’s revolutionizing kitchens worldwide, and for good reason: it works."

.row-fluid
  = image_tag ('https://d3awvtnmmsvyot.cloudfront.net/api/file/akXA53S1uzpyoGWQN4oA/convert?cache=true&rotate=exif&quality=90')
.section
.row-fluid.white-space
  .span8.offset2
    .center
      %h2.text-center
-# .container
-#   .row-fluid
-#     .span4.fixed
-#       .text-center.section
-#         = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/ybgAAVFYQZamHV45Bm8D/convert?fit=crop&w=200&h=200&cache=true', class: 'img-circle', alt: ''
-#       %h2.text-center The Egg Calculator
-#       %p.text-center Find your perfect egg's time and temperature
-#     .span4.fixed
-#       .text-center.section
-#         = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/hzcVs66KS4AUZpVi9Ban/convert?fit=crop&w=200&h=200&cache=true', class: 'img-circle', alt: ''
-#       %h2.text-center Sous Vide Time & Temp Chart
-#       %p.text-center
-#         Hand reference for your major proteins
-#     .span4.fixed
-#       .text-center.section
-#         = image_tag 'https://d3awvtnmmsvyot.cloudfront.net/api/file/cGoQ39OSje1fuV8RuMMu/convert?fit=crop&w=200&h=200&cache=true', class: 'img-circle', alt: ''
-#       %h2.text-center Map of Sous Vide
-#       %p.text-center
-#         An overview of how to travel in sous vide land
.component-container(component-load component-id='sous-vide-featured')
.component-container(component-load component-id='sous-vide-social-proof')
.component-container(component-load component-id='sous-vide-classes')
.component-container(component-load component-id='sous-vide-feed')
.component-container(component-load component-id='sous-vide-faq')

  -# FAQ Should probably get driven by content eventually so they can swap out and update any of the good stuff.

  -# .row-fluid.whitespace
  -#   .span12
  -#     .text-center
  -#       %h1.section FAQ
  -#   .row
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://www.chefsteps.com/activities/what-is-sous-vide")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: What is sous vide?
  -#               %br
  -#               A: It’s the easiest, most consistent way to get delicious results in the kitchen, from succulent steaks to flavor-packed veggies and fork-tender salmon. We have a nice little video explaining it if you click through.
  -#
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://www.chefsteps.com/activities/why-sous-vide-consistency")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: Why cook sous vide?
  -#               %br
  -#               A: Consistency. Sous vide affords consistency in temperature, portion size, product quality, healthfulness, and food hygiene. Learn more about how sous vide helps you be more consistent
  -#
  -#   .row
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://blog.chefsteps.com/2014/09/10-foods-you-didnt-know-you-could-cook-sous-vide/")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: What can I cook sous vide?
  -#               %br
  -#               A: Custards, Purées, Burgers, Flavored oils, Cheese Curds, and a lot more. Click through for the full list!
  -#
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://www.chefsteps.com/activities/why-sous-vide-consistency")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: How do I cook sous vide tonight?
  -#               %br
  -#               A: Plastic bags, a thermometer and a pot. Not a lot, we'll show you how.
  -#
  -#   .row
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://blog.chefsteps.com/2014/09/5-common-misconceptions-about-sous-vide-cooking/")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: Are plastic bags safe?
  -#               %br
  -#               A: Yes. Don't use cheap bags though; we go into this in-depth over here in "5 Common Misconceptions About Sous Vide Cooking".
  -#
  -#     .span6
  -#       .component-item.list.list-a
  -#         %a.component-item-content(ng-href="http://www.chefsteps.com/activities/why-sous-vide-consistency")
  -#           .item-content-image
  -#             = image_tag ('http://placehold.it/150x150'), class: 'img-circle'
  -#           .item-content-text
  -#             .item-content
  -#               Q: Isn't it wasteful?
  -#               %br
  -#               A: Recycle your plastic bags! Re-use them for storage after you cook. Re-use your water. Sous vide is sustainable as long as you think about how you're doing it.


=render 'layouts/footer'
