- content_for :title, "Sous Vide"
- content_for :description, "Sous vide is a modernist technique that slowly cooks packaged foods to a particular temperature in a heated water bath. It prevents overcooking, preserves flavor, and yields inimitable texture."

.component-container(component-load component-id='sous-vide-one')
.component-container(component-load component-id='sous-vide-two')
.component-container(component-load component-id='sous-vide-three')
.component-container(component-load component-id='sous-vide-four')
.component-container(component-load component-id='sous-vide-five')
.component-container(component-load component-id='sous-vide-six')
.component-container(component-load component-id='sous-vide-seven')
.component-container(component-load component-id='sous-vide-eight')
.component-container(component-load component-id='sous-vide-nine')
.component-container(component-load component-id='sous-vide-ten')

=render 'layouts/footer'
