.user-profile-intro.simple-well
  %p= "Welcome back, #{user.name}!"
  %p
    parel gastropub cliche pop-up occaecat, consequat viral brooklyn you
    probably haven't heard of them cupidatat cillum scenester DIY labore.
    Anim truffaut in trust fund, swag banksy photo booth typewriter.
    Bushwick pinterest hella proident cupidatat echo park, quinoa fixie
    wolf blog leggings labore ea kogi gastropub.

