.edit-user-profile
  .row
    .span1
      = link_to 'https://en.gravatar.com/site/signup/', target: '_blank', class: 'change-pic' do
        = image_tag 'chris-large.jpg', class: 'pull-left'
        .change-pic-label
          Change pic

    .span3
      %label{ for: 'name'} What is your name?
      %input#name{name: 'name', value: user.name }
      %ul.unstyled
        %li
          %label.location{ for: 'location'} What is your current hometown?
          %input#location{name: 'location', value: user.location }
        %li
          %label.website{ for: 'website'} What is your personal website/blog?
          %input#website{name: 'website', value: user.website }
  .row
    .span4.horizontal-divider

  .row
    .span4
      %label{ for: 'quote'} Have anything to say?
      %textarea#quote{name: 'quote'}= user.quote
      .pull-right
        %span.edit-profile-cancel.uppercase-link Cancel
        %span.vertical-divider
          |
        %span.save-profile.uppercase-link.brick Save

