.row
  .span2.info-box.active
    %span.count= quiz_count
    %span= "Course".pluralize(quiz_count)

.row
  .span8.info-set
    - if started_quizzes.count > 0
      .row
        .span8
          %span.section-label
            %i.icon-trophy
            Quizzes In Progress
      - started_quizzes.in_groups_of(2, false) do |quizzes|
        .row
          - quizzes.each do |quiz|
            .span4
              = render 'profile_quiz_info_card', quiz: quiz
      - if completed_quizzes.count > 0 && started_quizzes.count > 0
        .row
          .span8.horizontal-divider
    - if completed_quizzes.count > 0
      .row
        .span8
          %span.section-label
            %i.icon-trophy
            Quizzes Completed
      - completed_quizzes.in_groups_of(2, false) do |quizzes|
        .row
          - quizzes.each do |quiz|
            .span4
              = render 'profile_quiz_info_card', quiz: quiz

