.edit-user-profile
  .row
    .span1
      = image_tag 'chris-large.jpg', class: 'pull-left'
    .span3
      %span What is your name?
      %input{name: 'name', value: user.name }
      %ul.unstyled
        %li
          %span What is your current hometown?
          %input{name: 'location', value: user.location }
        %li
          %span What is your personal website/blog?
          %input{name: 'website', value: user.website }
  .row
    .span4.horizontal-divider

  .row
    .span4
      %textarea{name: 'quote'}= user.quote
      %span.edit-profile-cancel.uppercase-link Cancel
      %span
        |
      %span.save-profile.uppercase-link.brick Save

