.span4
  .user-profile-step
    .thumbnail
      = image_tag step_image
    %span.step= "Step #{count}:"
    %span= title
    %p
      Craft beer placeat qui, food truck trust fund put a bird on it mumblecore
      truffaut do viral laboris semiotics mlkshk. Lomo art party +1, seitan culpa
      direct trade pop-up wayfarers scenester ethnic vero Austin thundercats dolor.
      Gentrify master cleanse vero, et qui skateboard accusamus godard magna ex est.
      Sed veniam ethnic, viral accusamus pinterest letterpress yr incididunt.
      Keffiyeh banksy velit fap direct trade. Carles qui blog cred, ethnic lomo ad
      exercitation elit master cleanse mlkshk fingerstache excepteur id

