- content_for :title, "#{user.name}'s Profile"

.hero-unit
  .container
    .row
      .span12
        %h3 My Profile

.container.user-profile
  .row
    .span4.pull-right
      = render partial: 'profile_bio', user: user
    .simple-well
      .span8.pull-left.user-profile-intro
        = render partial: 'profile_intro', user: user

