<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>*|SUBJECT|*</title>

<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->
<style>
	/* -------------------------------------
			GLOBAL
	------------------------------------- */
	* {
		margin:0;
		padding:0;
	}
	* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

	img {
		max-width: 100%;
	}
	.collapse {
		margin:0;
		padding:0;
	}
	body {
		-webkit-font-smoothing:antialiased;
		-webkit-text-size-adjust:none;
		width: 100%!important;
		height: 100%;
	}


	/* -------------------------------------
			ELEMENTS
	------------------------------------- */
	a { color: #ff674d;}

	.btn {
		text-decoration:none;
		color:#FFF;
		background-color:#ff674d;
		width:80%;
		max-width: 200px;
		padding:12px 10%;
		border-radius: 30px;
		font-weight:bold;
		text-align:center;
		cursor:pointer;
		display:inline-block;
	}

	p.callout {
		padding:15px;
		text-align:center;
		background-color:#edecea;
		margin-bottom: 15px;
	}
	.callout a {
		font-weight:bold;
		color: #ff674d;
	}

	.highlight {
		background-color: #edecea;
		padding: 25px 15px;
		margin: 5px 0 15px;
		text-align: center;
		border-radius: 4px;
	}

	.column table { width:100%;}
	.column {
		width: 300px;
		float:left;
	}
	.column tr td { padding: 15px; }
	.column-wrap {
		padding:0!important;
		margin:0 auto;
		max-width:600px!important;
	}
	.columns .column {
		width: 280px;
		min-width: 279px;
		float:left;
		margin-bottom: 15px;
	}
	table.columns, table.column, .columns .column tr, .columns .column td {
		padding:0;
		margin:0;
		border:0;
		border-collapse:collapse;
	}

	/* -------------------------------------
			Main
	------------------------------------- */
	table.main-content { width: 100%; background:#edecea; padding: 10px 0;}
	.main {background:#edecea;}

	/* -------------------------------------
			HEADER
	------------------------------------- */
	.head-wrap.content {
		background:#fff;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom: 1px dashed #edecea;
		padding: 15px 25px;
	}
	.head-wrap table td.logo { padding: 15px; }
	.head-wrap table td.label { padding: 15px; padding-left:0px;}


	/* -------------------------------------
			BODY
	------------------------------------- */
	.body-wrap.content {
		background:#fff;
	}

	/* -------------------------------------
			FOOTER
	------------------------------------- */
	.footer-wrap.content {
		background: #383736;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 40px;
	}
	.footer-wrap.content p {
		font-size:10px;
		font-weight: bold;
		margin-bottom: 0;
	}
	.footer-wrap p {
		color: rgba(255,255,255,0.5);
	}
	.footer-wrap a {
		color: rgba(255,255,255,0.5);
		text-decoration: underline;
	}


	/* -------------------------------------
			TYPOGRAPHY
	------------------------------------- */
	h1,h2,h3,h4,h5,h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; color:#43413f;
	}
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: rgb(184,182,180); line-height: 0; text-transform: none; }
	small {font-size: 12px; line-height: 16px;}

	h1 { font-weight:700; font-size: 44px; text-align: center; margin-bottom: 25px;}
	h2 { font-weight:700; font-size: 37px; text-align: center; margin-bottom: 25px;}
	h3 { font-weight:700; font-size: 27px; text-align: center; margin-bottom: 25px;}
	h4 { font-weight:700; font-size: 23px; margin-bottom:15px;}
	h5 { font-weight:900; font-size: 17px; margin-bottom:15px;}
	h6 { font-weight:900; font-size: 12px; margin-bottom:15px; text-transform: uppercase;}

	.collapse { margin:0!important;}

	p, ul {
		margin-bottom: 20px;
		font-weight: normal;
		font-size:14px;
		line-height:1.6;
		color:#43413f;
	}
	p.lead { font-size:17px; }
	p.last { margin-bottom:0px;}

	ul li {
		margin-left:5px;
		list-style-position: inside;
	}

	hr {
	    border: 0;
	    height: 0;
	    border-top: 1px dashed rgba(0, 0, 0, 0.15);
	    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
			margin-bottom: 30px;
	}

	.align-center {
		text-align: center;
	}
	.no-margin {
		margin-bottom: 0;
	}


	/* -------------------------------------
			Social Links
	------------------------------------- */

table.social-links, .social-links table {
	width: auto!important;
	margin: 0 auto;
}

.social-links a {
	margin-right: 10px;
}

.social-links img {
	width: 25px;
	height: 25px;
}

	/* ---------------------------------------------------
			RESPONSIVENESS
			Nuke it from orbit. It's the only way to be sure.
	------------------------------------------------------ */

	/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
	.container {
		display:block!important;
		max-width:600px!important;
		margin:0 auto!important; /* makes it centered */
		clear:both!important;
	}

	/* This should also be a block element, so that it will fill 100% of the .container */
	.content {
		padding:15px;
		max-width:600px;
		margin:0 auto;
		display:block;
	}

	/* Let's make sure tables in the content area are 100% wide */
	.content table { width: 100%; }

	/* Be sure to place a .clear element after each set of columns, just to be safe */
	.clear { display: block; clear: both; }


	/* -------------------------------------------
			PHONE
			For clients that support media queries.
			Nothing fancy.
	-------------------------------------------- */
	@media only screen and (max-width: 600px) {

		.main {background:#fff;}

		a[class="btn"] {margin-bottom:10px!important; background-image:none!important;}

		div[class="column"] { width: auto!important; float:none!important;}

		table.social div[class="column"] {
			width:auto!important;
		}

	}
</style>

</head>

<body class="main">

<table class="main-content">
	<tr>
		<td></td>
		<td class="container">

			<!-- HEADER -->
			<div class="head-wrap content">
				<table>
					<tr>
						<td>
							<a href="http://chefsteps.com" title="ChefSteps" alt="ChefSteps" /><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" style="width:120px;height:auto;" /></a>
						</td>
						<td align="right">
							<h6 class="collapse">Preorder Received</h6>
						</td>
					</tr>
				</table>
			</div>

			<!-- You may like to include a Hero Image -->
			<div class="header-img">
				<img src="https://gallery.mailchimp.com/9f69331c823fb9ca452fe5184/images/74d75fe5-04d5-4922-bb77-0cb88426d54c.jpg" alt="Joule" />
			</div>
			<!-- /Hero Image -->

			<!-- BODY -->
			<div class="body-wrap content">
			<table>
				<tr>
					<td>
            <br />

						<h4>Hi *|NAME|*!</h4>

            <p>Thanks for purchasing Joule! We can’t wait for you to get cooking.</p>
						
						<p>We estimate that your order will ship in 6–8 weeks. When your order does ship you will receive an email with your tracking number.</p>
						
						<p>If you have questions, comments, or concerns at any point between now and when Joule arrives on your doorstep, check out the <a href="https://support.chefsteps.com/hc/en-us" target="_blank">FAQ</a>, or send us an <a href="mailto:ellenk@chefsteps.com?subject=Joule%20Order%20Question" target="_blank">email</a>. We'll be happy to help.</p>

						<p>In the meantime, we hope you'll explore the recipes and classes on <a href="http://chefsteps.com" target="_blank">chefsteps.com</a>. Thanks so much again, and happy cooking!</p>

						<h5>Team ChefSteps</h5>
						<br />

						<table class="highlight">
							<tr>
								<td>
									<p>Psst: Are you as stoked about Joule as we are? Help us spread the word on Facebook and Twitter! Use #MeetJoule to find other future Joule owners.
									</p>


									<table class="social-links">
										<tr>
											<td>
												<table>
													<tr>
														<td>
															<a href="http://www.facebook.com/sharer/sharer.php?u=*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-facebook-48.png"></a>
														</td>
														<td>
															<a href="http://www.facebook.com/sharer/sharer.php?u=*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank">Share</a>
														</td>
													</tr>
												</table>
											</td>

											<td>
												<table>
													<tr>
														<td>
															<a href="http://twitter.com/intent/tweet?text=*%7CURL:MC_SUBJECT%7C*:%20*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-color-twitter-48.png"></a>
														</td>
														<td>
															<a href="http://twitter.com/intent/tweet?text=*%7CURL:MC_SUBJECT%7C*:%20*%7CURL:ARCHIVE_LINK_SHORT%7C*" target="_blank">Tweet</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>

								</td>
							</tr>
						</table>

						<br />
						<hr>

						<h4 class="align-center no-margin">Be a hero</h4>
						<p class="align-center">Preorder Joule for someone you love</p>
						<p style="text-align:center;">
							<a class="btn" href="http://chefsteps.com/joule?utm_source=ChefSteps&amp;utm_medium=email&amp;utm_campaign=%20Joule-presales-thankyou#gift" target="_blank">Give Joule</a>
						</p>

					</td>
				</tr>
			</table>
			</div>

			<!-- FOOTER -->
			<div class="footer-wrap content">
				<table>
					<tr>
						<td align="center">
							<a href="http://chefsteps.com" title="ChefSteps"><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" style="width:120px;height:auto;" alt="{{ shop_name }}" /></a>
							<br/><br/>
							<p>Copyright © *|CURRENT_YEAR|* ChefSteps, All rights reserved.</p>
							<br />
							<p><strong>Our mailing address is:</strong></p>
							<p>1501 Pike Place<br />Seattle, WA 98101</p>
						</td>
					</tr>
				</table>
			</div>

		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
