.container
  .row
    .span12
      %h1 Polls

/ .container.gallery-wrapper
/   .row
/     .span12#gallery-count{:'gallery-count' => "#{@recipes_count}"}
/       %div(ng-controller='GalleryController')
/         %span(ng-model="admin_signed_in" ng-init="admin_signed_in='#{admin_user_signed_in?}'")
/         = render 'shared/gallery'