.container
  .row
    .span12
      %h1= @poll.title

.container
  .row
    .span12(ng-controller='VotingController')
      - @poll.poll_items.each do |poll_item|
        = content_tag_for :div, poll_item do
          .poll-item-vote-up
            %a.poll-item-btn
              %i.icon-chevron-up
          .poll-item-text
            %h2= poll_item.title
          .poll-item-sharing
            %a.poll-item-btn
              %i.icon-share-alt
          .poll-item-comments
            %a.poll-item-btn
              %i.icon-comment-alt
