.container
  .row
    .span12
      %h1= @poll.title

.container
  .row
    .span12(ng-controller='VotingController')
      - @poll.votables.each do |votable|
        = content_tag_for :div, votable do
          .votable-vote-up
            %a.btn
              %i.icon-chevron-up
          .votable-text-wrapper
            .votable-text
              %h2= votable.title
          .votable-sharing
            sharing
          .votable-comments
            comments
