/ .container
/   .row
/     .span12
/       %h1= @poll.title

/ .container
/   .row
/     .span12
/       - @poll.poll_items.order('votes_count DESC').each do |poll_item|
/         = content_tag_for :div, poll_item do
/           .poll-item-vote-up
/             = render 'shared/vote_button', votable_object: poll_item
/           .poll-item-text
/             %h2= poll_item.title
/             %span= "#{poll_item.votes_count} Votes"
/           .poll-item-sharing
/             %a.poll-item-btn
/               %i.icon-share-alt
/           .poll-item-comments
/             %a.poll-item-btn
/               %i.icon-comment-alt

.container#poll{data: {:'poll-id' => "#{@poll.id}"}}
  .row
    .span12(ng-controller='VotesController')
      = current_user_votes = current_user.votes.scoped_by_type('PollItem').map(&:votable_id)
      %span(ng-model="current_user_votes" ng-init="current_user_votes=#{current_user_votes}")
      %h1
        {{poll.title}}
      %div(ng-repeat='poll_item in poll.poll_items' ng-cloak)
        .poll-item
          .poll-item-vote-up
            %span(ng-switch on="current_user_voted_for_this({{poll_item.id}})")
              %span(ng-switch-when='true')
                .poll-item-btn.poll-item-btn-voted
                  %i.icon-chevron-up
                  / {{votes_count}}
              %span(ng-switch-when='false')
                .poll-item-btn(ng-click="voteObject('PollItem', 'poll_item.id')")
                  %i.icon-chevron-up
                  %span(ng-show="votes_count > 0")
                    / {{votes_count}}
          .poll-item-text
            %h2
              {{poll_item.title}}
            %span
              {{poll_item.votes_count}} Votes
          .poll-item-sharing
            %a.poll-item-btn
              %i.icon-share-alt
          .poll-item-comments
            %a.poll-item-btn
              %i.icon-comment-alt