#solutions-list
  .solution
    float: left
    width: 175px
    background-color: whitesmoke
    padding: 10px 25px
    margin-right: 10px

    a.remove
      color: #f00
      font-style: italic
      display: block
      margin-top: 20px

    .edited
      display: none
      color: #f00
      margin-bottom: 5px
      font-weight: bold
      font-style: italic

    ol
      list-style: decimal inside

      li
        padding: 10px
        border: 1px dashed #000
        margin-bottom: 5px
        cursor: move

  .solution.dirty
    background-color: #fbf6be

    .edited
      display: block

  clear: both
