#quiz-controls
  float: left
  margin-right: 40px

#quiz-questions
  float: left


ul#question-list
  width: 600px
  list-style-type: none

#question-list
  .question
    position: relative
    border: 1px solid $black
    float: left
    padding: 20px
    width: 100%
    .type
      float: left
      text-transform: uppercase
      color: $redLight
    label
      float: left
      clear: both
      font-weight: bold
    input[name=question], input[name=instructions]
      float: left
      clear: both
      font-size: 14px
      padding: 5px
      width: 97%
      margin-top: 5px
    h3
      float: left
      clear: both

  .actions
    float: right

  .options
    list-style-type: none
    width: 100%
    float: left

  .form-actions
    margin-top: 20px

