#quiz-controls
  float: left
  margin-right: 40px
  &.stuck-to-top
    position: fixed
    top: 10px

#quiz-control-anchor
  float: left

#quiz-questions
  float: left

#question-filters
  width: 104%
  .ordering
    float: right

#question-count
  float: left
  position: relative
  top: 10px
  left: 16%
  background: whiteSmoke
  padding: 1.5em
  border-radius: 5px
  color: $grayLight
  text-align: center
  font-weight: bold
  .count
    display: block
    font-size: 26px
    margin-bottom: 5px

ol#question-list
  width: 600px
  list-style-type: none
  float: left
  counter-reset: li

  li.question:before
    content: counter(li) "."
    counter-increment: li
    position: absolute
    left: -60px
    top: 20px
    text-align: right
    font-weight: bold
    font-family: Helvetica, Arial, sans-serif
    font-size: 24px
    width: 2em

#question-list
  .question
    position: relative
    border: 1px solid $black
    float: left
    padding: 20px
    width: 100%
    background: $white
    margin-top: 10px
    &:hover
      cursor: move
      border-style: dashed
    .type
      float: left
      text-transform: uppercase
      color: $redLight
    label
      float: left
      clear: both
      font-weight: bold
      margin-top: 10px
    input[name=question], input[name=instructions]
      float: left
      clear: both
      font-size: 14px
      padding: 5px
      width: 97%
      margin-top: 5px
    h3, h4
      float: left
      margin-bottom: 0
    h4
      clear: both
    .question-box
      width: 96%
      border: 1px solid $grayLight
      background: whiteSmoke
      padding: 10px
      float: left
      margin-top: 5px

  .actions
    float: right

  .edit-option
    list-style-type: none
    margin-top: 5px
    position: relative
    width: 100%
    float: left
    padding: 5px
    background: whitesmoke
    border: 1px dashed transparent
    input[type=text]
      display: block
    label
      display: inline-block
    .delete-option
      position: absolute
      right: 5px
      top: 5px
    &.correct
      background: lighten($green, 40%)
    &:hover
      border: 1px dashed $black

  .options
    margin-top: 5px
    width: 100%
    float: left
    .option
      margin-top: 5px
      position: relative
      width: 100%
      float: left

  .option.correct
    &:after
      content: "\2713"
      color: $green
      margin-left: 5px
      font-size: 1.5em
      font-weight: bold

  .form-actions
    margin-top: 20px
    width: 100%
    .add-option
      float: left
    .cancel, .done
      float: right

.admin_namespace button.admin-button.upload-image
  float: right
  font-size: 24px
  border-radius: 10px
  padding: 12px 10px 10px 10px

