#image-uploader
  .quiz-image
    $imageWidth: 250px
    $imageHeight: 250px
    margin: 10px
    float: left
    padding: 15px
    background: whitesmoke
    border-radius: 5px
    position: relative
    img
      float: left
      margin-bottom: 15px
      width: $imageWidth
      height: $imageHeight
    span
      font-size: 16px
      clear: left
    .caption
      float: left
      width: $imageWidth - 25px
    .edit
      float: right
      font-size: 24px
    .delete
      position: absolute
      top: 17px
      left: 17px
      background: $black
      border: 2px solid $white
      padding: 10px
      padding-bottom: 6px
      color: white
      font-size: 24px
      border-radius: 1em
      display: none
      cursor: pointer
    &:hover
      .delete
        display: inline-block
    form
      textarea
        float: left
        width: $imageWidth - 25px
        height: 50px
      button
        margin-top: 10px
        float: right
        clear: left

