-if @recipient_message
  =@recipient_message

#{@purchaser_name} has sent you a gift of free enrollment in the ChefSteps
#{@gift_title} class. To join the class, paste the following link 
into your browser:
    
=@redeem_url

If we can help you in any way, just drop us a note to
info@chefsteps.com.
