!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    -if @recipient_message
      %blockquote
        =@recipient_message
    %p
      #{@purchaser_name} has sent you a gift of free enrollment in the ChefSteps
      #{@gift_title} class. To join the class, click the following link or type it
      into your browser:

      %a{href: @redeem_url}
        =@redeem_url

    %p
      If we can help you in any way, just drop us a note to
      %a(href="mailto:info@chefsteps.com")
        info@chefsteps.com
      \.
