Hi there! #{@purchaser_name} has been a pal and purchased the ChefSteps #{@gift_title} class for you.

-if @recipient_message
  Message from #{@purchaser_name}:
  =@recipient_message

To redeem your gift, just use this link: #{@redeem_url}

We're here to help. You can reach us anytime at info@chefsteps.com if you have any questions or issues getting to the course.

Cheers,
Team ChefSteps