Good news, future Joulers!

We are so pleased to announce that we’ll ship your Joule in September 2016!

We’ll send you an email in August to confirm your shipping address(es), and we’ll email you again with a tracking number when your order ships. 

Questions? Check out our FAQ (https://support.chefsteps.com/hc/en-us/categories/202577867-Joule), or feel free to email Ellen at ellenk@chefsteps.com any time.

Thank you again for preordering Joule, and thank you for your patience and understanding about our delay. We really value your business and your support. We can’t wait to get you cooking with Joule!
 
Team ChefSteps
