.box-sort-result
  margin-top: 20px
  .swatch
    float: left
    $swatchSize: 15px
    height: $swatchSize
    width: $swatchSize
    display: inline-block
    margin-top: 2px
    margin-right: 10px
    &.correct
      //background: $green
    &.incorrect
      //background: $red
    &.ambivalent
      //background: $grayMedium

  .option-label
    float: left
    //+font-serif-small
    margin-right: 20px

  img.key-image
    border: 5px solid transparent
    width: 100%

  .key-image-information
    padding: 20px 10px
    span
      float: left
      //+font-serif-small
      //color: $grayMedium
    p
      //+font-serif-medium

    // We decided this was a bad idea, since box sort questions don't really
    // have right or wrong answers. Keeping it around in case we change our minds.
    //
    //p.correct, p.incorrect, p.ambivalent
    //  &:before
    //    font-size: 1.5em
    //    font-weight: bold
    //    padding-right: 8px
    //
    //p.correct
    //  &:before
    //    content: "\2714"
    //    color: $green
    //p.incorrect, p.ambivalent
    //  &:before
    //    content: "\2716"
    //    color: $red

