.box-sort-result
  .swatch
    float: left
    $swatchSize: 15px
    height: $swatchSize
    width: $swatchSize
    display: inline-block
    margin-top: 2px
    margin-right: 10px

  .option-label
    float: left
    +font-serif-small
    margin-right: 20px

  .correct
    background: $green

  .incorrect
    background: $red


