.order-sort.results
  .toggle-tabs
    border-bottom: 1px solid #d15129
    margin-bottom: 5px

    .toggle-tab
      border-top: 1px solid #d15129
      border-left: 1px solid #d15129
      border-right: 1px solid #d15129
      padding: 1px 8px 0 8px
      font-size: 14px
      color: #333
      display: inline-block

    .toggle-tab.active-tab
      padding-top: 3px
      font-weight: bold
      color: #000
      background-color: rgb(255, 232, 189)
