.quiz-title
  +font-serif-large

#quiz-overview
  .container
    min-height: 610px

  p
    +font-serif-huge
    margin-top: 0

  .hero-unit
    background: whiteSmoke
    margin: 20px 0 30px 0
    [class*="span"]
      margin-left: 0

  .dial-wrapper
    display: none
    float: left
    height: 180px
    position: relative

    canvas
      +border-radius(100px)
      background: $white

    .dial-text
      +font-sans-small
      font-weight: bold
      color: $brick
      position: absolute
      top: 52px
      left: 40px
      line-height: 50px
      text-align: center
      text-transform: uppercase

      strong
        display: block
        font-size: 85px
