.quiz-wrapper
  .container
    margin: 0px

.quiz-title
  //+font-serif-large

#quiz-container
  margin-bottom: 30px

  p
    //+font-serif-huge
    margin-top: 0

  .hero-unit
    //background: $grayLighter

  .overview
    margin: 20px 0 30px 0
    [class*="span"]
      margin-left: 0

    .dials
      margin-left: 10px
      margin-top: 90px
      margin-bottom: 80px

  .dial-left
    width: 50%
    float: left

  .dial-right
    width: 50%
    float: right

  .dial-wrapper
    margin: 0 auto

@media (max-width: 767px)
  .quiz-wrapper
    h2
      font-size: 24px
      line-height: 24px
    h3
      font-size: 18px
      line-height: 24px
    h4
      font-size: 14px
      line-height: 24px
