@import compass/css3/transition

.question
  margin-left: 110%
  opacity: 0
  position: relative

  .instructions
    +font-serif-medium
    margin-bottom: 20px

  .hero-unit
    +border-radius(3px)
    background: $grayLighter
    color: $black
    border: 1px solid $grayMedium
    padding: 30px
    margin-right: 60px
    margin-left: 0
    position: relative

    a
      position: absolute
      top: 40%
      right: -50px
      display: none

  .question-label
    +font-sans-tiny
    color: $grayMedium
    font-weight: 500
    text-transform: uppercase
    text-align: center
    margin: 10px 0

  .question-text
    +font-serif-huge
    text-align: center
    margin-bottom: 20px

  .question-image
    margin: 0 auto 10px
    float: none

  .option
    img
      max-width: 181px

.box-sort
  margin-left: 0
  opacity: 1

  .images
    margin-bottom: 25px

  .image-caption
    +font-serif-small
    font-weight: bold
    color: $grayDark
    margin: 0 auto 40px
    padding-left: 30px
    float: none
    line-height: 22px

  .drophover
    background: #eee

  #sort-image
    margin: 0 auto 10px
    float: none
    img
      margin-left: 10px

  .sort-option
    +border-radius(3px)
    +box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5))
    height: 152px
    background: $beige

  label
    font-weight: bold
    color: $grayDark
    text-align: center
    margin-top: 10px
