@import compass/css3/transition

.question
  +transition-property(margin-left opacity)
  +transition-duration(1.0s)
  margin-left: 110%
  opacity: 0

  &.visible
    margin-left: 0
    opacity: 1

  .instructions
    +font-serif-medium
    margin-bottom: 20px

  .hero-unit
    +border-radius(3px)
    background: $grayLighter
    color: $black
    border: 1px solid $grayMedium
    padding: 30px

  .question-label
    +font-sans-tiny
    color: $grayMedium
    font-weight: 500
    text-transform: uppercase
    text-align: center
    margin: 10px 0

  .question-text
    +font-serif-huge
    text-align: center
    margin-bottom: 20px
