#quiz-results
  .horizontal-divider
    margin: 20px 0

  .center
    display: table-cell
    vertical-align: middle
    width: 50%

  .results-header, .column-label, .average-label
    //+font-sans-tiny
    //color: $gray

  .results-header, .column-label
    text-transform: uppercase
    font-weight: 500

  .results-header
    margin-bottom: 1px
    [class*='span']
      text-align: center
      display: table
      height: 41px
    [class*='span']:first-child
      text-align: left

  .column-label, .average-label
    display: none

  .column-label
    text-align: center


  .count, .type, .student-average
    //+font-serif-small
    //color: $grayMedium

  @import application/quizzes/box_sort_result
  @import application/quizzes/multiple_choice_result
  @import application/quizzes/order_sort_result
