span.head4_text Slutbrugerlicensaftale
%p Senest opdateret: 9/11/2017
%p
  Denne Slutbrugerlicensaftale (”Aftale”) regulerer din hentning, installation og brug af mobilapplikationen (”
  %strong> Applikationen med licens
  ”) leveret af ChefSteps Inc. (”
  %strong> ChefSteps
  ”). HVIS DU BOR UDEN FOR USA, KAN DER GÆLDE
  YDERLIGERE VILKÅR OG BETINGELSER FOR DIG, SOM ENTEN SUPPLERER ELLER ERSTATTER VISSE BESTEMMELSER I DENNE AFTALE. DU BEDES GENNEMGÅ SLUTNINGEN AF DETTE DOKUMENT FOR AT AFGØRE, OM DER GÆLDER YDERLIGERE VILKÅR OG BETINGELSER FOR DIG.
%p
  ChefSteps forbeholder sig til enhver tid retten til at ændre denne Aftale efter eget skøn. Hvis ChefSteps foretager ændringer i Aftalen, gives der varsel om disse ændringer, såsom ved at sende en e-mailbesked, give meddelelse via Applikationen med licens
  eller opdatering af datoen ”
  %strong> Senest opdateret
  ” i starten af Aftalen. Ved fortsat at få adgang til eller bruge Applikationen med licens efter at ChefSteps har givet varsel om disse ændringer, bekræfter du din accept af den reviderede
  Aftale og alle de vilkår inkorporeret heri ved henvisning.
%p
  DU BEDES LÆSE DENNE AFTALE GRUNDIGT. DEN INDEHOLDER VIGTIGE VILKÅR, DER PÅVIRKER DIG OG DIN BRUG AF APPLIKATIONEN MED LICENS. VED AT INSTALLERE DEN MOBILE APPLIKATION ACCEPTERER DU AT VÆRE BUNDET AF VILKÅRENE I DENNE AFTALE OG VORES
  %a{:href => "https://www.chefsteps.com/terms"} VILKÅR FOR ANVENDELSE
  OG SALG, SOM ER INKORPORERET VED HENVISNING. HVIS DU IKKE ACCEPTERER VILKÅRENE I AFTALEN OG VORES VILKÅR FOR ANVENDELSE, MÅ DU IKKE INSTALLERE, FÅ ADGANG TIL ELLER BRUGE APPLIKATIONEN MED LICENS.
%p
  Denne Aftale er en bindende aftale mellem dig og ChefSteps, og ikke med udbyderen af mobile applikationer, hvorfra du har installeret Applikationen med licens ”
  %strong Applikations-udbyderen
  ChefSteps og ikke Applikations-udbyderen er eneansvarlig for Applikationen med licens og indholdet deri.
%p
  %strong 1.	Samtykke til Elektronisk Kommunikation
  Lovgivningen kan kræve, at ChefSteps sender kommunikation til dig, der vedrører Applikationen med licens og din brug deraf. Du samtykker i at modtage disse kommunikationer elektronisk (f.eks.
  via e-mail, via ChefSteps’ webside eller Applikationen med licens).
%p
  %strong> 2.	Ejerskab til Applikationen med Licens
  Applikationen med licens er ChefSteps’ og dennes licensgiveres værdifulde ejendom og beskyttes af ophavsret og andre immaterialretlige love og traktater. ChefSteps og dennes licensgivere ejer
  alle rettigheder, adkomst og interesser i Applikationen med licens, herunder alle ophavsretlige og andre immaterialretlige rettigheder dertil. ChefSteps forbeholder sig alle rettigheder, der ikke udtrykkeligt er givet til dig.
%p
  %strong 3.	Omfang af licensen til Applikationen med licens
  Applikationen med licens gives i licens og sælges ikke til dig. Med respekt af Aftalens vilkår og betingelser tildeler ChefSteps dig en begrænset, ikke-eksklusiv, uoverdragelig, verdensomspændende
  licens, som ikke kan gives i underlicens, til at hente, installere og bruge Applikationen med licens på bestemte enheder eller produkter (hver især en ”Enhed”), som Applikations-udbyderen har givet bemyndigelse til, som du ejer eller kontrollerer og
  som tilladt af gældende vilkår og betingelser leveret af Applikations-udbyderen (”
  %strong> Regler for brug
  ”).
  Applikationen med licens vil ikke virke med en Joule købt fra en anden enhed end ChefSteps eller en Autoriseret Forhandler.
  Vilkårene for denne licens regulerer eventuelle opgraderinger leveret af ChefSteps, der erstatter eller supplerer den originale Applikation
  med licens, medmindre en opgradering ledsages af en særskilt licens, i hvilket tilfælde vilkårene for den særskilte licens regulerer forholdet.
%p
  %strong 4.	Licensbegrænsninger
  Det foranstående angiver dine rettigheder i deres helhed, hvad angår Applikationerne med Licens, og vi forbeholder os alle rettigheder til Applikationerne med licens, som ikke udtrykkeligt er givet til dig i Aftalen.
  Den licens givet til dig i afsnit 3 tillader dig ikke at foretage dig noget af følgende:
  (a) betjene en Joule købt af en anden enhed end ChefSteps eller en Autoriseret Forhandler;
  (b) bruge Applikationen med licens på en Enhed, du ikke ejer eller kontrollerer;
  (c) distribuere, kopiere, give i licens, leje, sælge, videresælge, offentliggøre, lease eller på anden vis overdrage Applikationen med licens (undtagen som udtrykkeligt tilladt i Aftalen eller Reglerne for Brug) eller beskyttede materialer tilhørende ChefSteps til en tredjepart;
  (d) foretage reverse engineering (undtagen i tilfælde, hvor du har ret til at gøre dette i henhold til gældende ufravigelige rettigheder), dekompilere, skille eller forsøge at finde en kildekode eller fabrikationshemmeligheder i relation til Applikationen med licens eller eventuelle beskyttede materialer tilhørende ChefSteps, undtagen i det af gældende lov tilladte omfang;
  (e) ændre eller skabe afledte værker eller efterfølgende versioner af Applikationen med licens;
  (f) fjerne, ændre eller skjule en meddelelse om ophavsret, varemærke eller andre beskyttede
  rettigheder på eller i Applikationen med licens;
  (g) komme uden om tekniske begrænsninger i Applikationen med licens; eller
  (h) bruge Applikationen med licens til formål ud over egen personlig, ikke-kommerciel brug, eller hvortil den ikke er beregnet.
  Medmindre det udtrykkeligt er anført heri eller i øvrigt af ChefSteps, skal intet i Aftalen fortolkes som at give ret eller licens til immaterielle rettigheder, uanset om det sker ved præklusion, stiltiende eller på anden måde. Hvis du bryder nogen
  af disse begrænsninger, kan du gøres til genstand for retsforfølgelse og være erstatningsansvarlig. Licensen kan til enhver tid tilbagekaldes, fx hvis du bryder Aftalen.
%p
  %strong 5.	Datapolitik
  ChefSteps kan i overensstemmelse med sin
  %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik
  indsamle, bruge og dele oplysninger om dig, herunder, men ikke begrænset til, oplysninger om din brug af Applikationen
  med licens, Enhed, system- og applikationssoftware, og periferiudstyr, som samles i forbindelse med din adgang til og brug af Applikationen med licens. For yderligere oplysninger om, hvordan ChefSteps indsamler, bruger og deler oplysninger om dig i
  forbindelse med din brug af Applikationen med licens, henviser vi til ChefSteps'
  %a{:href => "https://www.chefsteps.com/privacy"} Datapolitik.
%p
  %strong 6.	Supportydelser
  ChefSteps er for øjeblikket ikke forpligtet til at yde support eller vedligeholdelsesydelser til Applikationen med licens. Hvis du har spørgsmål angående Applikationen med licens, bedes du kontakte ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \. Applikations-udbyderen har ingen forpligtelser til at levere support eller vedligeholdelsesydelser hvad angår Applikationen med licens.
%p
  %strong 7.	Krav vedrørende Produktet
  ChefSteps, og ikke Applikations-udbyderen, er ansvarlig for at tage sig af eventuelle spørgsmål, kommentarer eller krav i forbindelse med Applikationen med licens eller din besiddelse og brug af Applikationen
  med licens, herunder, men ikke begrænset til, (a) krav vedrørende produktansvar; (b) eventuelle krav om, at Applikationen med licens ikke overholder de gældende juridiske eller regulatoriske krav; eller (c) krav opstået i henhold til forbrugerbeskyttelses-
  eller lignende lovgivning. Hvis du har spørgsmål, bedes du kontakte ChefSteps på
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong 8.	Yderligere vilkår
  Applikationen med licens kan muliggøre adgang til websider, mobile applikationer og andre onlineprodukter og tjenester, der leveres af ChefSteps og tredjeparter. Din adgang til og brug af disse websider, mobile applikationer
  eller andre onlineprodukter og tjenester kan kræve, at du accepterer og overholder yderligere vilkår og politikker, der gives af ChefSteps og/eller tredjeparter, afhængig af forholdene, herunder, men ikke begrænset til ChefSteps’
  %a{:href => "https://www.chefsteps.com/terms"} Vilkår for Anvendelse
  og Salg (samlet de ”
  %strong> Yderligere Vilkår
  ”).
%p
  %strong> 9.	Ingen Garanti
  DU ANERKENDER OG ACCEPTERER, AT (A) APPLIKATIONEN MED LICENS KAN INDEHOLDE PROGRAMFEJL, FEJL OG MANGLER, VI IKKE ER KLAR OVER; (B) HENTNING, INSTALLATION OG BRUG AF APPLIKATIONEN MED LICENS SKER FOR DIN RISIKO; OG (C)
  HELE RISIKOEN FOR TILFREDSSTILLENDE KVALITET, YDELSE, NØJAGTIGHED OG INDSATS PÅHVILER DIG. SOM FØLGE HERAF LEVERES APPLIKATIONEN MED LICENS ”SOM DEN ER OG FOREFINDES”, ”SOM TILGÆNGELIG” MED ALLE FEJL OG MANGLER OG UDEN GARANTI AF NOGEN ART. CHEFSTEPS
  FRASKRIVER SIG ALLE GARANTIER (UDTRYKKELIGE OG STILTIENDE OG SOM UDSPRINGER AF LOV ELLER PÅ ANDEN MÅDE) ANGÅENDE APPLIKATIONEN MED LICENS OG DENS YDELSE ELLER EGNETHED TIL DIN TILSIGTEDE BRUG, HERUNDER, MEN IKKE BEGRÆNSET TIL, EVENTUELLE STILTIENDE
  GARANTIER FOR SALGBARHED, EGNETHED TIL ET BESTEMT FORMÅL, NØJAGTIGHED OG IKKE-KRÆNKELSE. CHEFSTEPS HAR INTET ANSVAR AF NOGEN ART FOR BRUGEN AF ELLER MANGLENDE EVNE TIL AT BRUGE APPLIKATIONEN MED LICENS ELLER FOR EVENTUELLE TAB AF DATA. CHEFSTEPS ERKLÆRER
  OG GARANTERER IKKE, AT APPLIKATIONEN MED LICENS LEVERES UDEN FORSTYRRELSER, FORSINKELSER, UNDLADELSER ELLER FEJL (SAMLET ”
  %strong> Fejl
  ”) ELLER PÅ SIKKER MÅDE, ELLER AT ALLE FEJL BLIVER RETTET. INGEN MUNDTLIGE ELLER SKRIFTLIGE OPLYSNINGER ELLER
  RÅD GIVET AF CHEFSTEPS ELLER DENNES BEMYNDIGEDE REPRÆSENTANTER SKABER EN GARANTI. HVIS APPLIKATIONEN MED LICENS ER FEJLBEHÆFTET, PÅTAGER DU DIG ALLE UDGIFTER TIL AL NØDVENDIG SERVICE, REPARATION ELLER RETTELSE.
%p APPLIKATIONS-UDBYDEREN HAR INGEN GARANTIFORPLIGTELSE HVAD ANGÅR APPLIKATIONEN MED LICENS ELLER ANDRE KRAV, TAB, ANSVAR, SKADESERSTATNINGER, UDGIFTER ELLER OMKOSTNINGER, DER KAN HENFØRES TIL EN FEJL VED APPLIKATIONEN I LICENS.
%p Loven i nogle stater eller jurisdiktioner tillader ikke, at stiltiende garantier udelukkes. I det omfang disse love gælder, gælder undtagelserne anført ovenfor måske ikke for dig.
%p
  %strong 10.	Skadesløsholdelse
  I det af gældende lov videst muligt tilladte omfang accepterer du at skadesløsholde, friholde og forsvare ChefSteps og vores respektive tidligere, nuværende og fremtidige medarbejdere, ledende medarbejdere, bestyrelsesmedlemmer,
  konsulenter, aktionærer, leverandører, sælgere, serviceudbydere, moderselskaber, datterselskaber, tilknyttede selskaber, agenter, repræsentanter, forgængere, retsefterfølgere og adkomsterhververe (”
  %strong> ChefSteps-parter
  ”), for alle krav
  fra ChefSteps-parter og tredjeparter af enhver art, det være sig uden for kontrakt, inden for kontrakt eller i øvrigt (samlet ”
  %strong> Krav
  ”), herunder skade på ejendom eller personskade, der udspringer af eller vedrører din hentning, installation
  og/eller brug af Applikationen med licens. I tilfælde af et krav om, at Applikationen med licens, eller din besiddelse eller brug deraf, krænker en tredjeparts immaterielle rettigheder, accepterer du at kontakte ChefSteps straks og direkte, og Applikations-udbyderen
  er ikke ansvarlig for undersøgelsen, forsvaret, forligsmæssig løsning og/eller opfyldelse af et sådant immaterielt Krav. Du accepterer at samarbejde med ChefSteps-parterne i forsvaret mod disse Krav. Du accepterer endvidere, at ChefSteps-partnerne skal
  kontrollere forsvaret af eller den forligsmæssige løsning på eventuelle Krav fra tredjeparter. Denne skadesløsholdelse er ud over, og ikke i stedet for, eventuel skadesløsholdelse anført i anden skriftlig aftale mellem dig og ChefSteps.
%p
  %strong> 11.
  Ansvarsbegrænsning I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG ER CHEFSTEPS ELLER EN AF DE ANDRE CHEFSTEPS-PARTER I INTET TILFÆLDE ANSVARLIG FOR INDIREKTE TAB, FØLGE TAB, PØNALT BEGRUNDET FORHØJET ERSTATNING (”TORT”) AF NOGEN
  ART (HERUNDER, MEN IKKE BEGRÆNSET TIL, TAB AF INDTÆGT, INDKOMST ELLER FORTJENESTE, TAB AF BRUG ELLER DATA, TAB ELLER FORMINDSKELSE AF VÆRDIEN AF AKTIVER ELLER VÆRDIPAPIRER, ELLER ERSTATNING FOR DRIFTSTAB), DER UDSPRINGER AF ELLER PÅ NOGEN MÅDE HAR FORBINDELSE
  TIL DIN HENTNING, INSTALLATION ELLER BRUG AF APPLIKATIONEN MED LICENS (HERUNDER, MEN IKKE BEGRÆNSET TIL, ERSTATNINGER FORÅRSAGET AF ELLER SOM FØLGE AF EN BRUGERS PÅBERÅBELSE AF OPLYSNINGER, INDHENTET FRA CHEFSTEPS, ELLER FRA FEJL, UNDLADELSER, AFBRYDELSER,
  SLETNING AF FILER ELLER E-MAILS, FEJL, MANGLER, FEJLFINDINGER, VIRA, TROJANSKE HESTE, FORSINKELSER I DRIFTEN ELLER TRANSMISSIONEN ELLER EN FEJL I YDELSEN, UANSET OM DEN MÅTTE VÆRE EN FØLGE AF NATURKATASTROFE, KOMMUNIKATIONSFEJL, TYVERI, ØDELÆGGELSE
  ELLER UBERETTIGET ADGANG TIL CHEFSTEPS’ OPTEGNELSER, PROGRAMMER ELLER SYSTEMER), UANSET ARTEN AF HANDLING, OM DEN ER BASERET PÅ KONTRAKT, UDEN FOR KONTRAKT (HERUNDER, MEN IKKE BEGRÆNSET TIL, SIMPEL UAGTSOMHED, DET VÆRE SIG AKTIV, PASSIV ELLER TILSKREVET),
  OBJEKTIVT PRODUKTANSVAR, ANDEN JURIDISK ELLER RIMELIG TEORI (SELV OM PARTEN ER BLEVET OPLYST OM MULIGHEDEN FOR SÅDANNE ERSTATNINGER OG UANSET OM SÅDANNE ERSTATNINGER KUNNE FORUDSES).
%p
  I DET AF GÆLDENDE LOV VIDEST MULIGT TILLADTE OMFANG SKAL CHEFSTEPS’ OG CHEFSTEPS-PARTNERNES (SAMMEN) MAKSIMALE SAMLEDE ANSVAR, DET VÆRE SIG I INDEN FOR KONTRAKT, UDSPRINGER AF ELLER PÅ NOGEN MÅDE ER RELATERET TIL APPLIKATIONEN MED LICENS IKKE OVERSTIGE
  USD TI DOLLARS (USD 10).
%p Nogle jurisdiktioner tillader ikke ansvarsfrihed for hændelig- eller følgeskade, så den ovennævnte begrænsning eller undtagelse gælder måske ikke for dig.
%p
  %strong 12.	Ingen eksport
  Du må ikke bruge eller på anden måde eksportere eller reeksportere Applikationen med licens eller noget indhold deri, undtagen som berettiget i henhold til amerikansk lov og lovene i den jurisdiktion, hvor Applikationen
  med licens eller noget indhold blev opnået. Især, men uden begrænsning, må Applikationen med licens og det deri indeholdte indhold ikke eksporteres eller reeksporteres til (a) lande der er pålagt embargo af USA; eller (b) nogen i det amerikanske finansministeriums
  liste over personer, der er genstand for særlige restriktioner eller det amerikanske handelsministeriums liste over personer eller enheder, som er på den sorte liste.
%p
  %strong 13.	Overholdelse af lovkrav
  Ved at hente, installere og bruge Applikationen med licens erklærer og garanterer du, at (a) du ikke befinder dig i et land, der er underlagt embargo fra den amerikanske regering eller som af den amerikanske
  regering er betegnet som et land, der ”støtter terrorister”; og (b) du ikke er opført på en liste fra den amerikanske regering med forbudte eller begrænsede parter. Du vil overholde alle gældende love, regler og forskrifter, herunder, men ikke begrænset
  til amerikanske love om eksportkontrol.
%p
  %strong 14.	Kommercielle varer
  Hvis Applikationen med licens erhverves af en myndighed i den amerikanske regering, anerkender denne myndighed, at (a) Applikationen med licens udgør ”kommerciel computersoftware” eller ”dokumentation for kommerciel
  computersoftware” i nr. 48 Code of Federal Regulations (CFR), § 12.212 og 48 CVR § 227.7202, alt efter forholdene; og (b) denne myndigheds rettigheder er begrænset til dem, der specifikt er givet i henhold til Aftalen.
%p
  %strong> 15.	Tredjeparts begunstigede
  Applikations-udbyderen og nogle af dennes datterselskaber er tredjeparts begunstigede i henhold til Aftalen. Ved din accept af Aftalen har Applikations-udbyderen ret til (og bliver anset for at have accepteret
  retten) at håndhæve Aftalen over for dig som tredjeparts begunstiget.
%p
  %strong 16.	Opsigelse
  Uanset hvad der er indeholdt i denne Aftale forbeholder ChefSteps sig retten til, uden varsel og efter eget skøn, at bringe din ret til adgang eller brug af Applikationen med licens til ophør og blokere eller forhindre din
  fremtidige adgang til og brug af Applikationen med licens. Du er også berettiget til at opsige Aftalen uden varsel, efter eget skøn og til enhver tid, ved at afinstallere Applikationen med licens.
%p
  %strong 17.	Vilkårenes uafhængighed
  Hvis et vilkår, en klausul eller bestemmelse i Aftalen anses for at være ugyldig eller uden retskraft, så skal det vilkår, den klausul eller bestemmelse udskilles af Aftalen og påvirker ikke gyldighed eller
  retskraft, hvad angår en resterende del af vilkåret, klausulen eller bestemmelsen, eller et andet vilkår, klausul eller bestemmelse i Aftalen.
%p
  %strong 18.	Lovvalg
  Aftalen reguleres af og fortolkes og håndhæves i overensstemmelse med lovene i Staten Washington, uden hensyntagen til lovvalgsregler eller principper, der ville forårsage, at en anden jurisdiktions love ville være gældende.
%p
  %strong 19.	Kontakt
  Hvis du har spørgsmål eller overvejelser angående Applikationen med licens eller Aftalen, bedes du kontakte ChefSteps på:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
