/ BE - Dutch
span.head4_text Licentieovereenkomst voor eindgebruikers
%p Laatst bijgewerkt: 9/11/2017
%p
  Deze Licentieovereenkomst voor Eindgebruikers ("
  %strong> Overeenkomst
  ") regelt uw download, installatie en gebruik van de mobiele applicatie (de "
  %strong> Gelicentieerde Applicatie
  ") die door ChefSteps Inc. wordt geleverd ("
  %strong> ChefSteps
  ").
  INDIEN U BUITEN DE VERENIGDE STATEN WOONACHTIG BENT, KUNNEN AANVULLENDE VOORWAARDEN OP U VAN TOEPASSING ZIJN DIE SOMMIGE BEPALINGEN IN DEZE OVEREENKOMST AANVULLEN OF VERVANGEN. LEES HET EINDE VAN DIT DOCUMENT OM TE BEPALEN OF ER AANVULLENDE VOORWAARDEN
  OP U VAN TOEPASSING ZIJN.
%p
  ChefSteps behoudt zich het recht voor om deze Overeenkomst te allen tijde en naar eigen goeddunken te wijzigen of aan te passen. Indien ChefSteps wijzigingen aanbrengt in deze Overeenkomst, zullen wij deze wijzigingen melden, bijvoorbeeld door het verzenden
  van een e-mailbericht, het verstrekken van een kennisgeving via de Gelicentieerde Applicatie of het bijwerken van de datum "
  %strong> Laatst bijgewerkt
  " aan het begin van deze Overeenkomst. Door toegang te zoeken tot de Gelicentieerde Applicatie
  of deze te gebruiken nadat ChefSteps een kennisgeving van dergelijke wijzigingen heeft verstrekt, bevestigt u uw aanvaarding van de herziene Overeenkomst en alle hierin middels verwijzing opgenomen voorwaarden.
%p
  LEES DEZE OVEREENKOMST ZORGVULDIG DOOR. DE OVEREENKOMST BEVAT BELANGRIJKE VOORWAARDEN DIE VAN INVLOED ZIJN OP U EN UW GEBRUIK VAN DE GELICENTIEERDE APPLICATIE. DOOR DE MOBIELE APPLICATIE TE INSTALLEREN KOMT U OVEREEN GEBONDEN TE ZIJN AAN DE VOORWAARDEN
  VAN DEZE OVEREENKOMST EN ONZE
  %a{:href => "https://www.chefsteps.com/terms"} GEBRUIKSVOORWAARDEN
  EN VERKOOPVOORWAARDEN, DIE MIDDELS VERWIJZING ZIJN OPGENOMEN. INDIEN U NIET AKKOORD GAAT MET DE VOORWAARDEN VAN DEZE OVEREENKOMST EN ONZE GEBRUIKS- EN VERKOOPVOORWAARDEN,
  DIENT U GEEN TOEGANG TE ZOEKEN TOT DE GELICENTIEERDE APPLICATIE EN DEZE NIET TE INSTALLEREN OF TE GEBRUIKEN.
%p
  Deze Overeenkomst is een bindende overeenkomst tussen u en ChefSteps, en niet met de aanbieder van de winkel voor mobiele applicaties waaruit u de Gelicentieerde Applicatie installeert ("
  %strong> Application Store Provider
  "). ChefSteps, en niet
  de Application Store Provider, is als enige verantwoordelijk voor de Gelicentieerde Applicatie en de inhoud ervan.
%p
  %strong 1.
  = succeed "." do
    %strong Toestemming voor elektronische communicatie
%p
  %strong 2.
  %strong Eigendom van de Gelicentieerde Applicatie.
  De Gelicentieerde Applicatie is het waardevolle eigendom van ChefSteps en haar licentiegevers en wordt beschermd door auteursrecht en andere intellectuele eigendomswetten
  en -verdragen. ChefSteps en haar licentiegevers zijn eigenaar van alle rechten, belangen en aanspraken in en op de Gelicentieerde Applicatie, met inbegrip van alle daarin vervatte auteursrechten en andere intellectuele eigendomsrechten. ChefSteps behoudt
  zich alle rechten voor die niet uitdrukkelijk aan u worden verleend.
%p
  %strong 3.
  %strong Licentieomvang van de Gelicentieerde Applicatie.
  De Gelicentieerde Applicatie wordt aan u in licentie gegeven en niet aan u verkocht. Onder voorbehoud van de voorwaarden en van deze Overeenkomst verleent ChefSteps
  u een beperkte, niet-exclusieve, niet-overdraagbare, niet-sublicentieerbare, wereldwijde licentie om de Gelicentieerde Applicatie te downloaden, installeren en gebruiken op bepaalde door de Application Store Provider goedgekeurde apparaten of producten
  (elk een "
  %strong> Apparaat
  ") die u bezit of beheert en zoals toegestaan door eventuele toepasselijke voorwaarden die verstrekt zijn door de Application Store Provider ("
  %strong> Gebruiksregels
  ").
  De Gelicentieerde Applicatie zal niet met een Joule functioneren die is gekocht van een andere entiteit dan ChefSteps of een Gecertificeerd Wederverkoper.
  De voorwaarden van deze licentie zijn
  van toepassing op alle upgrades die door ChefSteps worden uitgevoerd en die de oorspronkelijke Gelicentieerde Applicatie vervangen of aanvullen, tenzij een upgrade vergezeld gaat van een afzonderlijke licentie, in welk geval de voorwaarden van die afzonderlijke
  licentie van toepassing zullen zijn.
%p
  %strong 4.
  %strong Licentiebeperkingen.
  In het voorgaande staan al uw rechten met betrekking tot de Gelicentieerde Applicaties en wij behouden ons alle rechten op de Gelicentieerde Applicaties voor die in deze Overeenkomst niet uitdrukkelijk
  aan u zijn verleend. De licentie die aan u in artikel 3 wordt verleend, staat u niet toe om een van de volgende zaken te doen:
  (a) een Joule gebruiken die is gekocht van een andere entiteit dan ChefSteps of een Gecertificeerd Wederverkoper;
  (b) gebruik maken van de Gelicentieerde Applicatie op een Apparaat waarvan u geen eigenaar bent of waarover u geen zeggenschap heeft;
  (c) de Gelicentieerde Applicatie (behoudens voor zover uitdrukkelijk toegestaan door deze Overeenkomst of de Gebruiksregels) of ChefSteps’ eigen materialen distribueren, kopiëren, in licentie geven, verhuren, verkopen, wederverkopen, publiceren, leasen of anderszins overdragenaan een derde ;
  (d) reverse engineeren (behoudens in gevallen waarin u het recht heeft om dit te doen uit hoofde van het toepasselijk dwingend recht), decompileren, demonteren of enige broncode of handelsgeheimen met betrekking tot de Gelicentieerde Applicatie of enige eigen materialen van ChefSteps proberen te ontdekken, tenzij en voor zover toegestaan onder de toepasselijke wetgeving;
  (e) afgeleide werken of latere versies van de Gelicentieerde Applicatie aanpassen, veranderen of creëren;
  (f) aanduidingen van auteursrecht, handelsmerken of andere aanduidingen van eigendomsrechten op of in de Gelicentieerde Applicatie verwijderen, wijzigen of verbergen;
  (g) een omweg om technische beperkingen in de Gelicentieerde Applicatie
  aanbrengen (workaround); of
  (h) de Gelicentieerde Applicatie gebruiken voor andere doeleinden dan voor uw eigen persoonlijke, niet-commerciële gebruik of waarvoor deze niet is ontworpen. Tenzij uitdrukkelijk hierin of anderszins door ChefSteps wordt
  vermeld, zal niets in deze Overeenkomst worden uitgelegd als het verlenen van enig recht of licentie op intellectuele eigendomsrechten, hetzij door uitsluiting, implicatie of anderszins. Wanneer u in strijd handelt met deze beperkingen, kan een vervolging
  tegen u worden ingesteld en schadevergoeding worden geëist. Deze licentie is op elk moment herroepbaar, bijvoorbeeld als u deze Overeenkomst overtreedt.
%p
  %strong 5.
  %strong Privacybeleid
  \.
  %a{:href => "https://www.chefsteps.com/privacy"} Privacybeleid
  van ChefSteps toegestaan informatie over u te verzamelen, gebruiken en delen, met inbegrip van,
  maar niet beperkt tot, informatie over uw gebruik van de Gelicentieerde Applicatie, het Apparaat, de systeem- en applicatiesoftware en randapparatuur, die wordt verzameld in verband met uw toegang tot en gebruik van de Gelicentieerde Applicatie. Voor
  meer informatie over hoe ChefSteps informatie over u verzamelt, gebruikt en deelt in verband met uw gebruik van de Gelicentieerde Applicatie, verwijzen wij u naar het
  %a{:href => "https://www.chefsteps.com/privacy"} Privacybeleid
  van ChefSteps.
%p
  %strong 6.
  %strong Ondersteunende diensten.
  ChefSteps is op dit moment niet verplicht om ondersteunende diensten of onderhoudsdiensten voor de Gelicentieerde Applicatie te verlenen. Indien u vragen heeft over de Gelicentieerde Applicatie,
  verzoeken wij u contact op te nemen met ChefSteps op
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
  De Application Store Provider heeft geen enkele verplichting tot het verlenen van ondersteunende diensten
  of onderhoudsdiensten met betrekking tot de Gelicentieerde Applicatie.
%p
  %strong 7.
  ChefSteps, niet de Application Store Provider, is verantwoordelijk voor het
  beantwoorden van vragen, opmerkingen of claims met betrekking tot de Gelicentieerde Applicatie of uw
  bezit en gebruik van de Gelicentieerde Applicatie, met inbegrip van maar niet beperkt tot (a)
  productaansprakelijkheidsclaims; (b) elke claim dat de Gelicentieerde Applicatie niet voldoet aan de
  toepasselijke vereisten van wet- of regelgeving; of (c) claims die voortvloeien uit wetgeving ter
  bescherming van consumenten of soortgelijke wetgeving. Indien u nog vragen heeft kunt u contact
  opnemen met ChefSteps op
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong 8.
  De Gelicentieerde Applicatie kan toegang verlenen tot websites,
  mobiele applicaties en andere online producten en diensten die door ChefSteps en derden worden
  aangeboden. Uw toegang tot en gebruik van deze websites, mobiele toepassingen of andere online
  producten en diensten kan vereisen dat u aanvullende voorwaarden en beleid van ChefSteps en/of derden,
  afhankelijk van het geval, aanvaardt en naleeft, met inbegrip van, maar niet beperkt tot de
  Gebruiksvoorwaarden en Verkoopvoorwaarden van ChefSteps (samen de "Aanvullende Voorwaarden").
%p
  %strong 9. Geen garantie.
  U ERKENT EN GAAT ERMEE AKKOORD DAT (A) DE GELICENTIEERDE APPLICATIE
  BUGS, FOUTEN EN DEFECTEN KAN BEVATTEN WAARVAN WIJ NIET OP DE HOOGTE ZIJN; (B) HET
  DOWNLOADEN, INSTALLEREN EN GEBRUIKEN VAN DE GELICENTIEERDE APPLICATIE VOOR UW EIGEN RISICO
  IS; EN (C) HET VOLLEDIGE RISICO MET BETREKKING TOT BEVREDIGENDE KWALITEIT, PRESTATIES,
  NAUWKEURIGHEID EN WERKING VOOR U IS. DE GELICENTIEERDE APPLICATIE WORDT DERHALVE &quot;AS IS&quot;
  EN &quot;ZOALS BESCHIKBAAR&quot; GELEVERD MET ALLE GEBREKEN, DEFECTEN EN FOUTEN EN ZONDER ENIGE
  VORM VAN GARANTIE. CHEFSTEPS WIJST ALLE GARANTIES AF (UITDRUKKELIJKE EN STILZWIJGENDE EN
  VOORTVLOEIEND UIT DE WET OF ANDERSZINS) MET BETREKKING TOT DE GELICENTIEERDE APPLICATIE EN
  DE PRESTATIES OF GESCHIKTHEID ERVAN VOOR HET DOOR U BEOOGDE GEBRUIK, MET INBEGRIP VAN,
  MAAR NIET BEPERKT TOT, ELKE STILZWIJGENDE GARANTIE VAN VERKOOPBAARHEID, GESCHIKTHEID VOOR
  EEN BEPAALD DOEL, NAUWKEURIGHEID EN NIET-INBREUK. CHEFSTEPS IS OP GEEN ENKELE WIJZE
  AANSPRAKELIJK VOOR HET GEBRUIK OF HET NIET KUNNEN GEBRUIKEN VAN DE GELICENTIEERDE
  APPLICATIE OF VOOR ENIG VERLIES VAN GEGEVENS. CHEFSTEPS VERKLAART OF GARANDEERT NIET DAT DE
  GELICENTIEERDE APPLICATIE VRIJ VAN ONDERBREKINGEN, VERTRAGINGEN, OMISSIES OF FOUTEN (SAMEN
  &quot;Gebreken&quot;) OF OP EEN VEILIGE MANIER ZAL WORDEN AFGELEVERD OF DAT EVENTUELE GEBREKEN
  ZULLEN WORDEN HERSTELD. GEEN DOOR CHEFSTEPS OF HAAR BEVOEGDE VERTEGENWOORDIGERS
  GEGEVEN MONDELING(E) OF SCHRIFTELIJK(E) INFORMATIE OF ADVIES ZAL EEN GARANTIE CREËREN. IN
  HET GEVAL DAT DE GELICENTIEERDE APPLICATIE GEBREKEN VERTOONT, KOMEN ALLE KOSTEN VAN AL HET
  NOODZAKELIJKE ONDERHOUD, HERSTEL OF CORRECTIE VOOR UW REKENING.
%p
  DE APPLICATION STORE PROVIDER HEEFT GEEN ENKELE GARANTIEVERPLICHTING MET BETREKKING TOT DE
  GELICENTIEERDE APPLICATIE OF ENIGE ANDERE CLAIMS, VERLIEZEN, AANSPRAKELIJKHEDEN, SCHADE,
  KOSTEN OF UITGAVEN DIE AAN EEN DEFECT VAN DE GELICENTIEERDE APPLICATIE KUNNEN WORDEN
  TOEGESCHREVEN.
  Het recht van sommige staten of rechtsgebieden staat niet toe dat stilzwijgende garanties worden
  uitgesloten. Voor zover deze wetten van toepassing zijn, zijn de hierboven vermelde uitsluitingen mogelijk
  niet op u van toepassing.
%p
  DE APPLICATION STORE PROVIDER HEEFT GEEN ENKELE GARANTIEVERPLICHTING MET BETREKKING TOT DE GELICENTIEERDE APPLICATIE OF ENIGE ANDERE CLAIMS, VERLIEZEN, AANSPRAKELIJKHEDEN, SCHADE, KOSTEN OF UITGAVEN DIE AAN EEN DEFECT VAN DE GELICENTIEERDE APPLICATIE
  KUNNEN WORDEN TOEGESCHREVEN.
%p Het recht van sommige staten of rechtsgebieden staat niet toe dat stilzwijgende garanties worden uitgesloten. Voor zover deze wetten van toepassing zijn, zijn de hierboven vermelde uitsluitingen mogelijk niet op u van toepassing.
%p
  %strong 10. Vrijwaring.
  Voor zover toegestaan door toepasselijke wetgeving komt u overeen om ChefSteps en
  onze respectieve voormalige, huidige en toekomstige werknemers, functionarissen, bestuurders,
  aannemers, consultants, aandeelhouders, leveranciers, dienstverleners, moedermaatschappijen,
  dochterondernemingen, gelieerden, agenten, vertegenwoordigers, voorgangers, opvolgers en
  rechtverkrijgenden (de &quot;ChefSteps Partijen&quot;) te vrijwaren, te verdedigen en schadeloos te stellen voor en
  tegen alle vorderingen van alle ChefSteps Partijen of derden van enigerlei aard, op grond van een
  onrechtmatige daad, contractbreuk of anderszins (samen &quot;Vorderingen&quot;), met inbegrip van schade aan
  eigendommen of persoonlijk letsel, die voortvloeien uit of verband houden met uw download, installatie
  en/of gebruik van de Gelicentieerde Applicatie. In het geval van een Vordering dat de Gelicentieerde
  Applicatie, of uw bezit of gebruik ervan, inbreuk maakt op intellectuele eigendomsrechten van een derde,
  komt u overeen om onmiddellijk en rechtstreeks contact op te nemen met ChefSteps, en de Application
  Store Provider zal niet verantwoordelijk zijn voor het onderzoek, het verweer, de afwikkeling en kwijting
  van een dergelijke Vordering met betrekking tot intellectuele eigendomsrechten. U komt overeen om uw
  medewerking te verlenen aan ChefSteps Partijen bij het verweer tegen dergelijke Vorderingen. U komt
  voorts overeen dat de ChefSteps Partijen zeggenschap hebben over het verweer of de afwikkeling van alle
  Vorderingen van derden. Deze vrijwaring is een aanvulling op, en geen vervanging van, enige vrijwaringen
  die in een andere schriftelijke overeenkomst tussen u en ChefSteps zijn vastgelegd.
%p
  %strong 11. Beperking van de aansprakelijkheid.
  VOOR ZOVER TOEGESTAAN DOOR TOEPASSELIJKE WETGEVING ZAL CHEFSTEPS OF EEN VAN DE ANDERE CHEFSTEPS PARTIJEN IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, BIJZONDERE OF INCIDENTELE
  SCHADE, GEVOLGSCHADE OF PUNITIEVE SCHADE VAN WELKE AARD DAN OOK (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, VERLIES VAN OMZET, INKOMEN OF WINST, VERLIES VAN GEBRUIK OF GEGEVENS, VERLIES OF WAARDEVERMINDERING VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR BEDRIJFSONDERBREKING)
  DIE VOORTVLOEIT UIT OF OP ENIGERLEI WIJZE VERBAND HOUDT MET UW DOWNLOAD, INSTALLATIE OF GEBRUIK VAN DE GELICENTIEERDE APPLICATIE (MET INBEGRIP VAN MAAR NIET BEPERKT TOT, ALLE SCHADE VEROORZAAKT DOOR OF VOORTVLOEIENDE UIT HET VERTROUWEN VAN EEN GEBRUIKER
  IN DE VAN CHEFSTEPS ONTVANGEN INFORMATIE, OF FOUTEN, OMISSIES, ONDERBREKINGEN, VERWIJDERINGEN VAN BESTANDEN OF E-MAILS, VERGISSINGEN, DEFECTEN, BUGS, VIRUSSEN, TROJAANSE PAARDEN, OF VERTRAGINGEN IN WERKING OF OVERDRACHT OF EEN GEBREKKIGE WERKING, AL
  DAN NIET ALS GEVOLG VAN NATUURRAMPEN, FALEN VAN DE COMMUNICATIE, DIEFSTAL, VERNIETIGING OF ONBEVOEGDE TOEGANG TOT DOCUMENTEN, PROGRAMMA'S OF SYSTEMEN VAN CHEFSTEPS), ONGEACHT DE VORM VAN DE ACTIE, HETZIJ OP BASIS VAN CONTRACTBREUK OF ONRECHTMATIGE DAAD
  (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, EENVOUDIGE NALATIGHEID, OFWEL ACTIEF, PASSIEF OF TOEREKENBAAR), RISICOAANSPRAKELIJKHEID VOOR HET PRODUCT OF ENIGE ANDERE RECHTS- OF BILLIJKHEIDSTHEORIE (ZELFS ALS DE PARTIJ OP DE HOOGTE IS GESTELD VAN DE MOGELIJKHEID
  VAN DERGELIJKE SCHADE EN ONGEACHT OF DEZE SCHADE HAD KUNNEN WORDEN VOORZIEN).
%p
  VOOR ZOVER TOEGESTAAN DOOR HET TOEPASSELIJK RECHT, ZAL DE MAXIMALE TOTALE AANSPRAKELIJKHEID VAN CHEFSTEPS EN DE CHEFSTEPS PARTIJEN (GEZAMENLIJK) IN GEEN GEVAL, , ONGEACHT OF HET VOORTKOMT UIT EEN CONTRACTUELE INBREUK VOORKOMENDE UIT OF OP ENIGERLEI WIJZE
  VERBANDHOUDEND MET DE GELICENTIEERDE AANVRAAG, MEER BEDRAGEN DAN TIEN DOLLAR ($10,00).
%p In sommige rechtsgebieden is uitsluiting of beperking van incidentele of gevolgschade niet toegestaan, zodat de bovenstaande beperking of uitsluiting mogelijk niet op u van toepassing is.
%p
  %strong 12. Geen export.
  Het is u niet toegestaan de Gelicentieerde Applicatie of enige daarin opgenomen
  content te gebruiken of anderszins te exporteren of opnieuw te exporteren behoudens zoals toegestaan
  naar het recht van de Verenigde Staten en het recht van de jurisdictie waarin de Gelicentieerde Applicatie
  of enige content werd verkregen. In het bijzonder geldt, echter zonder beperking, dat de Gelicentieerde
  Applicatie en de daarin opgenomen content niet mag worden geëxporteerd of opnieuw geëxporteerd (a)
  naar landen die onder een Amerikaans embargo vallen; of (b) naar iemand op de lijst van Specially
  Designated Nationals van de Verenigde Staten Treasury Department of de Denied Person’s List of Entity List
  van de Verenigde Staten Department of Commerce.
%p
  %strong 13. Naleving van de wet.
  Door de Gelicentieerde Applicatie te downloaden, installeren en gebruiken
  verklaart en garandeert u dat (a) u zich niet bevindt in een land dat onderworpen is aan een embargo van
  de Amerikaanse regering of dat door de Amerikaanse regering is aangewezen als een land dat terroristische
  steun verleent; en (b) u niet voorkomt op een lijst van verboden of aan beperkingen onderworpen partijen
  van de Amerikaanse regering. U zult voldoen aan alle toepasselijke wetten, regels en voorschriften, met
  inbegrip van, maar niet beperkt tot, Verenigde Staten exportcontrolewetten.
%p
  %strong 14. Commerciële zaken.
  Indien verworven door een agentschap van de Amerikaanse overheid, erkent
  dit agentschap dat (a) de Gelicentieerde Applicatie "commerciële computersoftware" of "documentatie van
  commerciële computersoftware" is in de zin van 48 C.F.R. §12.212 dan wel 48 C.F.R. §227.7202, voor zover
  van toepassing; en (b) de rechten van dat agentschap beperkt zijn tot de rechten die specifiek uit hoofde
  van deze Overeenkomst zijn verleend.
%p
  %strong 15. Begunstigde derden.
  De Application Store Provider en haar dochtermaatschappijen zijn
  begunstigde derden van deze Overeenkomst. Na uw aanvaarding van deze Overeenkomst heeft de
  Application Store Provider het recht (en wordt zij geacht het recht te hebben aanvaard) om deze
  Overeenkomst, als begunstigde derde daarvan, jegens u af te dwingen.
%p
  %strong 16. Beëindiging.
  Niettegenstaande alles wat in deze Overeenkomst is opgenomen, behoudt ChefSteps
  zich het recht voor om zonder voorafgaande kennisgeving en naar eigen goeddunken uw recht op toegang
  tot of uw gebruik van de Gelicentieerde Applicatie te beëindigen en om uw toekomstige toegang tot en uw
  gebruik van de Gelicentieerde Applicatie te blokkeren of te verhinderen. U heeft ook het recht om de
  Overeenkomst zonder voorafgaande kennisgeving, naar eigen goeddunken en te allen tijde te beëindigen
  door de Gelicentieerde Applicatie te verwijderen.
%p
  %strong 17. Scheidbaarheid.
  Indien enige voorwaarde, clausule of bepaling van deze Overeenkomst ongeldig
  of niet-afdwingbaar wordt geacht, dan zal die voorwaarde, clausule of bepaling gescheiden kunnen worden
  van deze Overeenkomst en zal dit geen invloed hebben op de geldigheid of afdwingbaarheid van enig
  resterend deel van die voorwaarde, clausule of bepaling, of enige andere voorwaarde, clausule of bepaling
  van deze Overeenkomst.
%p
  %strong 18. Heersend recht.
  Deze Overeenkomst wordt beheerst door en geïnterpreteerd en uitgevoerd in
  overeenstemming met de wetten van de staat Washington, zonder rekening te houden met collisieregels of
  \-principes die tot de toepassing van de wetten van enig ander rechtsgebied zouden leiden.
%p
  %strong 19. Contact. Indien u vragen of zorgen heeft over de Gelicentieerde Applicatie of deze Overeenkomst,
  verzoeken wij u contact op te nemen met ChefSteps:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
