:css
  div.block {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 0 0 10px;
        margin-bottom: 2.4rem;
        color: #929292;
  }

  div.block > ul > li {
        color: #414141
  }

  div.block > ul {
        margin-top: 2.4rem;
  }

%h4 End User License Agreement
%div.block Last Updated: 3/10/2020
%div.block
  This End User License Agreement ("
  %strong> Agreement
  ") governs your download, installation and use of the mobile application (the "
  %strong> Licensed Application
  ") provided by Breville USA, Inc., dba ChefSteps ("
  %strong> ChefSteps
  "), a company incorporated in the State of California, U.S.A. and located at 19400 S Western Ave, Torrance, CA 90501. IF YOU RESIDE
  OUTSIDE THE UNITED STATES, ADDITIONAL TERMS AND CONDITIONS MAY BE APPLICABLE TO YOU THAT EITHER SUPPLEMENT OR REPLACE CERTAIN PROVISIONS IN THIS AGREEMENT. PLEASE REVIEW THE END OF THIS DOCUMENT TO DETERMINE WHETHER ANY ADDITIONAL TERMS AND CONDITIONS
  APPLY TO YOU.
%div.block
  ChefSteps reserves the right to change or modify this Agreement at any time and in its sole discretion to the extent not prohibited by law. If ChefSteps makes changes to this Agreement, it will provide notice of such changes, such as by sending an email notification, providing notice through the Licensed Application or updating the "
  %strong> Last Updated
  " date at the beginning of this Agreement. By continuing to access or use the Licensed Application after ChefSteps' provision of notice of such changes, you confirm your acceptance of the revised Agreement and all of the terms incorporated herein by reference. This Agreement does not alter in any way the terms or conditions of any other agreement you may have with us. If you are using the Licensed Application on behalf of any entity, you represent and warrant that you are authorized to accept this Agreement on such entity's behalf and that such entity agrees to be responsible to us if you or such entity violates this Agreement.
%div.block
  PLEASE READ THIS AGREEMENT CAREFULLY, INCLUDING THE MANDATORY ARBITRATION PROVISION FOR RESIDENTS OF THE UNITED STATES. IT CONTAINS IMPORTANT TERMS THAT AFFECT YOU AND YOUR USE OF THE LICENSED APPLICATION. BY INSTALLING THE MOBILE APPLICATION, YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT, OUR
  %a{:href => "https://www.chefsteps.com/privacy"} PRIVACY POLICY
  AND OUR
  %a{:href => "https://www.chefsteps.com/terms"} TERMS OF USE AND SALE
  , WHICH ARE ALL INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT AND OUR PRIVACY POLICY AND TERMS OF USE AND SALE, DO NOT INSTALL, ACCESS OR USE THE LICENSED APPLICATION.
%div.block
  %strong> 1.	Consent to Electronic Communications
  \. ChefSteps may be required by law to send communications to you that pertain to the Licensed Application and your use thereof. You consent to receive these communications electronically (e.g., via email, through the ChefSteps website or via the Licensed Application).
%div.block
  %strong> 2.	Ownership of the Licensed Application
  \. The Licensed Application is the valuable property of ChefSteps and its licensors and is protected by copyright and other intellectual property laws and treaties. ChefSteps, and its affiliates and licensors, own all right, title and interest in and to the Licensed Application, including all copyright and other intellectual property rights therein. ChefSteps reserves all rights not expressly granted to you.
%div.block
  %strong> 3. Eligibility; Registration and Account; Required Equipment, ISP and Carrier
%div.block
  %strong> 3.1 Eligibility.
  \. The Licensed Application is not targeted toward or intended for use by anyone under the age of 16. In addition, if you are between the ages of 16 and 18 (or between 16 and the age of legal majority under applicable law), you may only use the Licensed Application under the supervision of a parent or legal guardian who agrees to be bound by this Agreement. By using the Licensed Application, you represent and warrant that you (a) have not been previously suspended or removed from the Licensed Application, or engaged in any activity that could result in suspension or removal from the Licensed Application, and (b) have full power and authority to enter into this Agreement and that in so doing, will not violate any other agreement to which you are a party.
%div.block
  %strong> 3.2 Registration and Account.
  \. In order to access and use certain areas or features of the Licensed Application, you will need to register for a ChefSteps account and/or create a profile. When registering for an account, you cannot create an account name that incorporates a trademark without authorization from the trademark owner. We reserve the right to reclaim account names on behalf of any business or individual that holds legal claim, including trademark rights, in those names. By creating an account, you agree (a) to provide accurate, current and complete account information, (b) to maintain and promptly update your account information from time to time as necessary, (c) to maintain the security of your account credentials, (d) to be responsible for the acts or omissions of any third party you authorize to access or use your account and the Licensed Application, and (e) to immediately notify us if you discover or otherwise suspect any security breaches related to the Licensed Application or your account.
%div.block
  %strong> 3.3 Required Equipment, ISP and Carrier.
  \. You acknowledge that the availability of the Licensed Application depends on (a) your computer, mobile phone or tablet, home wiring, home Wi-Fi network, Bluetooth connection, and other related equipment ("
  %strong> Equipment
  "), (b) your Internet service provider ("
  %strong> ISP
  "), and (c) your mobile phone or tablet carrier ("
  %strong> Carrier
  "). You agree that you are responsible for all fees charged by your ISP and Carrier in connection with your use of the Licensed Application and that you are responsible for complying with all agreements and other policies of your ISP and Carrier. You further acknowledge and agree that your interactions with your ISP and Carrier are solely between you and such third parties, and that ChefSteps is not responsible or liable in any manner for such interactions.
%div.block
  %strong> 4. Repeat Infringer Policy; Copyright Complaints.
%div.block
  In accordance with the Digital Millennium Copyright Act and other applicable laws, we have adopted a policy of limiting access to the Licensed Application by or terminating the accounts of users, in appropriate circumstances and in our sole discretion, who infringe the intellectual property rights of others. If you believe that anything in the Licensed Application infringes any copyright that you own or control, you may file a notification of such infringement with our designated agent.  If you are a resident of the United States, please see dmca.com for the requirements of a proper notification.
%div.block
  You should also note that if you knowingly make any material misrepresentation in your notification that the material or activity is infringing, you will be liable for any damages, including, without limitation, costs and attorneys' fees, incurred by us or the alleged infringer as the result of our relying on such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.
%div.block
  %strong> 5.	Scope of License to the Licensed Application
  \. The Licensed Application is licensed, not sold, to you. Subject to the terms and conditions of this Agreement, ChefSteps grants you a limited, nonexclusive, nontransferable, non-sublicensable, worldwide license to download, install and use the Licensed Application on certain authorized devices or products (each, a "
  %strong> Device
  ") that you own or control and as permitted by any applicable terms and conditions provided by the mobile application store provider from whom you install the Licensed Application ("
  %strong> Usage Rules
  "). The Licensed Application will not operate an appliance purchased from any entity other than ChefSteps or a Certified Reseller. The terms of this license will govern any upgrades provided by ChefSteps that replace or supplement the original Licensed Application, unless an upgrade is accompanied by a separate license in which case the terms of that separate license will govern.
%div.block
  %strong> 6.	License Restrictions
  \. The preceding states the entirety of your rights with respect to the Licensed Applications and we reserve all rights in and to the Licensed Applications not expressly granted to you in this Agreement. The license granted to you herein does not allow you to do any of the following: (a) operate an appliance purchased from any entity other than ChefSteps or a Certified Reseller; (b) use the Licensed Application on any Device you do not own or control; (c) distribute, copy, license, rent, sell, resell, publish, lease or otherwise transfer the Licensed Application (except as expressly permitted by this Agreement or the Usage Rules) or any proprietary materials of ChefSteps to any third party; (d) reverse engineer (except in cases where you have the right to do so under the applicable mandatory rights), decompile, disassemble or attempt to discover any source code or trade secrets related to the Licensed Application or any proprietary materials of ChefSteps, unless and to the extent permitted under the applicable law; (e) modify, alter or create any derivative works or subsequent versions of the Licensed Application; (f) remove, alter or obscure any copyright, trademark or other proprietary rights notice on or in the Licensed Application; (g) work around any technical limitations in the Licensed Application; or (h) use the Licensed Application for purposes other than your own personal, noncommercial use, or for which it was not designed.; (i) violate any applicable laws, rules or regulations in connection with your access or use of the Licensed Application. Unless explicitly stated herein or otherwise by ChefSteps, nothing in this Agreement shall be construed as conferring any right or license to intellectual property rights, whether by estoppel, implication or otherwise. If you breach any of these restrictions, you may be subject to prosecution and damages. This license is revocable at any time, such as if you breach this Agreement.
%div.block
  %strong> 7.	Privacy Policy
  \. In accordance with ChefSteps’
  = succeed "," do
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
  ChefSteps may collect, use and share information about you, including, but not limited to, information about your use of the Licensed Application, Device, system and application software, and peripherals, that is gathered in connection with your access to and use of the Licensed Application. For further information about how ChefSteps collects, uses and shares information about you in connection with your use of the Licensed Application, please refer to ChefSteps'
  = succeed "." do
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
%div.block
  %strong> 8.	Support Services
  \. ChefSteps is not obligated to provide any support or maintenance services for the Licensed Application at this time. If you have any questions regarding the Licensed Application, please contact ChefSteps at 
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%div.block
  %strong> 9.	Product Claims
  \. ChefSteps will use all reasonable efforts to address any questions, comments or claims relating to the Licensed Application or your possession and use of the Licensed Application, including, but not limited to, (a) product liability claims; (b) any claim that the Licensed Application fails to conform to the applicable legal or regulatory requirement; or (c) claims arising under consumer protection or similar legislation. If you have any questions, please contact ChefSteps at 
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%div.block
  %strong> 10.	Additional Terms
  \. The Licensed Application may enable access to websites, mobile applications and other online products and services provided by ChefSteps and third parties. Your access to and use of these websites, mobile applications or other online products and services may require your acceptance of, and compliance with, additional terms and policies provided by ChefSteps and/or third parties, as applicable, including, but not limited to, ChefSteps' 
  %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy 
  (which provides information about how we collect, use, and disclose information about you) and 
  %a{:href => "https://www.chefsteps.com/terms"} Terms of Use and Sale
  \.
%div.block
  %strong> 11. Trademarks
  \. "
  %strong> ChefSteps
  " and the ChefSteps logo (collectively, the "
  %strong> Trademarks
  ") are owned by ChefSteps or its affiliates, and may not be copied, imitated or used, in whole or in part, without ChefSteps' prior written permission in each instance. You may not use any metatags or other "
  %strong> hidden text
  " utilizing the Trademarks or any other name, trademark or product or service name of ChefSteps without prior written permission in each instance. In addition, the look and feel of the Licensed Application, including, without limitation, all page headers, custom graphics, button icons and scripts, constitute the service mark, trademark or trade dress of ChefSteps and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names, and company names or logos mentioned on the Licensed Application may be trademarks of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information by name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation by ChefSteps.
%div.block
  If you believe that anything on the Licensed Application infringes on any trademarks which you own or control, you may file a notification of such infringement with our designated agent as follows:
%div.block
  Name of Designated Agent: General Counsel, Breville USA, Inc.
  %br
  Email:
  %a{:href => "mailto:generalcounsel@breville.com"} generalcounsel@breville.com
%div.block
  A proper notification should contain the same elements required for copyright complaints.
%div.block
  %strong> 9.	No Warranty
  \. YOU ACKNOWLEDGE AND AGREE THAT (A) THE LICENSED APPLICATION MAY CONTAIN BUGS, ERRORS AND DEFECTS WE ARE NOT AWARE OF; (B) DOWNLOAD, INSTALLATION AND USE OF THE LICENSED APPLICATION IS AT YOUR SOLE RISK; AND (C) THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU. ACCORDINGLY, THE LICENSED APPLICATION IS PROVIDED "AS IS," "AS AVAILABLE," WITH ALL FAULTS, DEFECTS AND ERRORS AND WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. CHEFSTEPS DISCLAIMS ALL WARRANTIES (EXPRESS AND IMPLIED AND ARISING BY LAW OR OTHERWISE) REGARDING THE LICENSED APPLICATION AND ITS PERFORMANCE OR SUITABILITY FOR YOUR INTENDED USE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY AND NON-INFRINGEMENT. CHEFSTEPS SHALL HAVE NO LIABILITY OF ANY KIND FOR THE USE OF, OR INABILITY TO USE, THE LICENSED APPLICATION OR FOR ANY LOSS OF DATA. CHEFSTEPS DOES NOT REPRESENT OR WARRANT THAT THE LICENSED APPLICATION WILL BE DELIVERED FREE OF ANY INTERRUPTIONS, DELAYS, OMISSIONS, INACCURACIES, INCOMPLETENESS, OR ERRORS. (COLLECTIVELY, "
  %strong> FAULTS
  ") OR IN A SECURE MANNER OR THAT ANY FAULTS WILL BE CORRECTED. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY CHEFSTEPS OR ITS AUTHORIZED REPRESENTATIVES SHALL CREATE ANY WARRANTY. IN THE EVENT THAT THE LICENSED APPLICATION IS DEFECTIVE, YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
%div.block The laws of some states or jurisdictions do not allow the exclusion of implied warranties. To the extent that those laws apply, the exclusions set forth above may not apply to you.
%div.block
  %strong> 13.	Indemnification
  \. To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless ChefSteps and our respective past, present and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, insurers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (together with ChefSteps, the "
  %strong> ChefSteps Parties
  ") from all third-party claims of any kind, whether in tort, contract or otherwise (collectively, "
  %strong> Claims
  "), including damages to property or personal injury, that arise from or relate to: 
  %ul
    %li your download, installation, access, and/or use or misuse of the Licensed Application;
    %li your violation of this Agreement;
    %li your violation of any applicable law;
    %li your violation of any third-party right of any kind or nature;
    %li your violation of the ChefSteps' Privacy Policy and/or Terms of Use and Sale;
    %li any Feedback (as defined in the Terms of Use and Sale) that you provide;
    %li any User Content (as defined in the Terms of Use and Sale) that you create, post, share or store on or through the Licensed Application or our pages or feeds on third-party social media platforms; and/or
    %li use or misuse of the Licensed Application by any third party you authorize to use the Licensed Application provided to you.  
%div.block
  In the event of any Claim that the Licensed Application, or your possession or use thereof, infringes any intellectual property rights of a third party, you agree to contact ChefSteps promptly and directly. You agree to cooperate with the ChefSteps Parties in defending such Claims. You further agree that the ChefSteps Parties shall have control of the defense or settlement of any third-party Claims. This indemnity is in addition to, and not in lieu of, any indemnities set forth in any other written agreement between you and ChefSteps.
%div.block
  %strong> 14.	Limitation of Liability
  \. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL CHEFSTEPS OR ANY OF THE OTHER CHEFSTEPS PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO YOUR DOWNLOAD, INSTALLATION OR USE OF THE LICENSED APPLICATION (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM CHEFSTEPS, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF FILES OR EMAILS, ERRORS, DEFECTS, BUGS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD OR FORCE MAJEURE, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO CHEFSTEPS' RECORDS, PROGRAMS OR SYSTEMS), REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE). TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF CHEFSTEPS AND THE CHEFSTEPS PARTIES (JOINTLY), WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR IN ANY WAY RELATED TO THE LICENSED APPLICATION (INCLUDING THE USE OF OR INABILITY TO USE THE LICENSED APPLICATION, INCLUDING MATERIALS AND FUNCTIONS CONTAINED THEREIN), EXCEED TEN DOLLARS ($10.00). 
%div.block
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU, ON BEHALF OF YOUR HEIRS, EXECUTORS, ADMINISTRATORS, LEGAL AND PERSONAL REPRESENTATIVES, HEREBY RELEASE, WAIVE, AND DISCHARGE THE CHEFSTEPS PARTIES FROM AND AGAINST ANY AND ALL CLAIMS ARISING OUT OF OR RELATING TO THIS AGREEMENT. IF YOU ARE A CALIFORNIA RESIDENT, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 IN CONNECTION WITH THE FOREGOING, WHICH STATES: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." YOU HEREBY WAIVE ANY SIMILAR PROVISION IN ANY OTHER JURISDICTION.
%div.block
  THE LIMITATIONS SET FORTH IN THIS SECTION WILL NOT LIMIT OR EXCLUDE LIABILITY FOR DEATH OR PERSONAL INJURY OR PROPERTY DAMAGE CAUSED BY PRODUCTS OR SERVICES YOU PURCHASE FROM US, OR FOR OUR FRAUD, GROSS NEGLIGENCE, OR INTENTIONAL, WILLFUL, MALICIOUS OR RECKLESS MISCONDUCT. 
%div.block Additionally, some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.
%div.block
  %strong> 15.	No Export
  \. You may not use or otherwise export or re-export the Licensed Application or any content contained therein, except as authorized by United States law and the laws of the jurisdiction in which the Licensed Application or any content was obtained. In particular, but without limitation, the Licensed Application and the content contained therein may not be exported or re-exported to (a) any U.S. embargoed countries; or (b) anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Department of Commerce Denied Person's List or Entity List.
%div.block
  %strong> 16.	Legal Compliance
  \. By downloading, installing and using the Licensed Application, you represent and warrant that (a) you are not located in a country that is subject to a U.S. Government embargo or that has been designated by the U.S. Government as a "terrorist supporting" country; and (b) you are not listed on any U.S. Government list of prohibited or restricted parties. You will comply with all applicable laws, rules, and regulations, including, but not limited to, U.S. export control laws.
%div.block
  %strong> 17.	Commercial Items
  \. If acquired by any agency of the U.S. Government, such agency acknowledges that (a) the Licensed Application constitutes "commercial computer software" or "commercial computer software documentation" for purposes of 48 C.F.R. §12.212 and 48 C.F.R. §227.7202, as applicable; and (b) such agency's rights are limited to those specifically granted under this Agreement.
%div.block
  %strong> 18.	Termination
  \. Notwithstanding anything contained in this Agreement, to the fullest extent permitted by applicable law, ChefSteps reserves the right, without notice and in our sole discretion, to modify or terminate the Licensed Application or your right to access or use the Licensed Application at any time with or without notice, and to block or prevent your future access to and use of the Licensed Application. Breville shall not be liable to you or any third party for any modification, suspension or discontinuance of the Services.  You are also entitled to terminate the Agreement without notice, in your sole discretion and at any time, by uninstalling the Licensed Application. If we terminate your right to use the Licensed Application, these Terms will terminate and all rights you have to access the Licensed Application will immediately terminate; however, certain provisions of these Terms will still apply post termination, including without limitation, and as applicable, Section 20 of these Terms. Termination of your account may also include, at our sole discretion, the deletion of your account and/or User Content, and you will not be able to retrieve any information related to your account except as required by applicable law.
  %strong> If you transfer a Product that links to the Licensed Application, such as the Joule® appliance, to a new owner, your right to use the Licensed Application with respect to that Product automatically terminates, and the new owner will have no right to use the Licensed Application under your account and will need to register for a separate account with ChefSteps.
%div.block
  %strong> 19.	Severability
  \. If any term, clause or provision of this Agreement is held invalid or unenforceable, then that term, clause or provision will be severable from this Agreement and will not affect the validity or enforceability of any remaining part of that term, clause or provision, or any other term, clause or provision of this Agreement.
%div.block
  %strong> 20. Dispute Resolution; Arbitration
%div.block
  PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE CERTAIN DISPUTES AND CLAIMS WITH CHEFSTEPS AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM US.
%div.block
  %strong> 20.1. Binding Arbitration
%div.block
  Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, "
  %strong> Disputes
  ") arising out of or related to your use of third-party content or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and ChefSteps agree (a) to waive your and ChefSteps' respective rights to have any and all Disputes arising from or related to this Agreement or the Licensed Application resolved in a court, and (b) to waive your and ChefSteps' respective rights to a jury trial. Instead, you and ChefSteps agree to arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).
%div.block
  %strong> 20.2. No Class Arbitrations, Class Actions or Representative Actions
%div.block
  You and ChefSteps agree that any Dispute arising out of or related to this Agreement and the Licensed Application is personal to you and ChefSteps and that such Dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding. You and ChefSteps agree that there will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, you and ChefSteps agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.
%div.block
  %strong> 20.3. Federal Arbitration Act
%div.block
  You and ChefSteps agree that this Agreement affect interstate commerce and that the enforceability of this Section shall be both substantively and procedurally governed by and construed and enforced in accordance with the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the "
  %strong>FAA
  "), to the maximum extent permitted by applicable law.
%div.block
  %strong> 20.4. Notice; Informal Dispute Resolution
%div.block
  You and ChefSteps agree that each party will notify the other party in writing of any arbitrable or small claims Dispute within thirty (30) days of the date it arises, so that the parties can attempt in good faith to resolve the Dispute informally. Notice to ChefSteps shall be sent electronically to generalcounsel@breville.com.
%div.block
  %strong> 20.5. Process
%div.block
  Except for Disputes arising out of or related to your use of third-party content or Disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, logos, trade secrets or patents, you and ChefSteps agree that (a) any arbitration will occur in Los Angeles County, California, (b) arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of the Judicial Arbitration and Mediation Services ("
  %strong>JAMS
  "), which are hereby incorporated by reference, and (c) that the state or federal courts of the State of California and the United States, respectively, sitting in Los Angeles County, California, have exclusive jurisdiction over any appeals and the enforcement of an arbitration award. You may also litigate a Dispute in the small claims court located in the county of your billing address if the Dispute meets the requirements to be heard in small claims court. 
%div.block
  %strong> 20.6. Authority of Arbitrator
%div.block
  As limited by the FAA, this Agreement and the applicable JAMS rules, the arbitrator will have (a) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and (b) the authority to grant any remedy that would otherwise be available in court; provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative action, which is prohibited by this Agreement. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual's claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.
%div.block
  %strong> 20.7. Rules of JAMS
%div.block
  The rules of JAMS and additional information about JAMS are available on the JAMS website. By agreeing to be bound by this Agreement, you either (a) acknowledge and agree that you have read and understand the rules of JAMS, or (b) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.
%div.block
  %strong> 20.8. Severability
  \. If any term, clause, or provision of this Section is held invalid or unenforceable, it will be so held to the minimum extent required by law, and all other terms, clauses, and provisions of this Section will remain valid and enforceable. Further, the waivers set forth in Section 20.2 are severable from the other provisions of this Agreement and will remain valid and enforceable, except as prohibited by applicable law.
%div.block
  %strong> 21. Governering Law
  \. This Agreement shall be governed by and construed and enforced in accordance with the laws of the State of California, without regard to conflict of law rules or principles that would cause the application of the laws of any other jurisdiction. Any dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the State of California and the United States, respectively, sitting in Los Angeles County, California.
%div.block
  %strong> 22. Contact
  \. If you have any questions or concerns regarding the Licensed Application or this Agreement, please contact ChefSteps at: 
  %a{:href => "mailto:generalcounsel@breville.com"} generalcounsel@breville.com
  , or send a letter to: ChefSteps c/o Breville USA, Inc., 19400 S. Western Ave., Torrance, CA 90501; Attn.: General Counsel. 
%div.block
  %strong> 23. Modifications to the Licensed Application
  \. We reserve the right in our sole discretion to change, modify, suspend or stop providing access to the Licensed Application (or any features or functionality of the Licensed Application) at any time without notice and without obligation or liability to you. 
%div.block
  %strong> 24. California Disclosures
  \. If you are a California resident, you may report complaints to the Consumer Assistance unit of the Consumer Information Division of the California Department of Consumer Affairs by contacting them in writing at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (800) 952 5210.
