%h4 End User License Agreement
%p Last Updated: 11/9/2017
%p
  This End User License Agreement ("
  %strong> Agreement
  ") governs your download, installation and use of the mobile application (the "
  %strong> Licensed Application
  ") provided by ChefSteps Inc. ("
  %strong> ChefSteps
  "). IF YOU RESIDE
  OUTSIDE THE UNITED STATES, ADDITIONAL TERMS AND CONDITIONS MAY BE APPLICABLE TO YOU THAT EITHER SUPPLEMENT OR REPLACE CERTAIN PROVISIONS IN THIS AGREEMENT. PLEASE REVIEW THE END OF THIS DOCUMENT TO DETERMINE WHETHER ANY ADDITIONAL TERMS AND CONDITIONS
  APPLY TO YOU.
%p
  ChefSteps reserves the right to change or modify this Agreement at any time and in its sole discretion. If ChefSteps makes changes to this Agreement, it will provide notice of such changes, such as by sending an email notification, providing notice through
  the Licensed Application or updating the "
  %strong> Last Updated
  " date at the beginning of this Agreement. By continuing to access or use the Licensed Application after ChefSteps' provision of notice of such changes, you confirm your acceptance
  of the revised Agreement and all of the terms incorporated herein by reference.
%p
  PLEASE READ THIS AGREEMENT CAREFULLY. IT CONTAINS IMPORTANT TERMS THAT AFFECT YOU AND YOUR USE OF THE LICENSED APPLICATION. BY INSTALLING THE MOBILE APPLICATION, YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT AND OUR
  %a{:href => "https://www.chefsteps.com/terms"} TERMS OF USE
  AND SALE, WHICH ARE INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT AND OUR TERMS OF USE AND SALE, DO NOT INSTALL, ACCESS OR USE THE LICENSED APPLICATION.
%p
  This Agreement is a binding agreement between you and ChefSteps, and not with the mobile application store provider from whom you install the Licensed Application ("
  %strong> Application Store Provider
  "). ChefSteps, and not the Application Store
  Provider, is solely responsible for the Licensed Application and the content thereof.
%p
  %strong> 1.	Consent to Electronic Communications
  \. ChefSteps may be required by law to send communications to you that pertain to the Licensed Application and your use thereof. You consent to receive these communications electronically (e.g., via
  email, through the ChefSteps website or via the Licensed Application).
%p
  %strong> 2.	Ownership of the Licensed Application
  \. The Licensed Application is the valuable property of ChefSteps and its licensors and is protected by copyright and other intellectual property laws and treaties. ChefSteps, and its licensors,
  own all right, title and interest in and to the Licensed Application, including all copyright and other intellectual property rights therein. ChefSteps reserves all rights not expressly granted to you.
%p
  %strong> 3.	Scope of License to the Licensed Application
  \. The Licensed Application is licensed, not sold, to you. Subject to the terms and conditions of this Agreement, ChefSteps grants you a limited, nonexclusive, nontransferable, nonsublicensable,
  worldwide license to download, install and use the Licensed Application on certain Application Store Provider authorized devices or products (each, a "
  %strong> Device
  ") that you own or control and as permitted by any applicable terms and conditions
  provided by the Application Store Provider ("
  %strong> Usage Rules
  "). The Licensed Application will not operate a Joule purchased from any entity other than
  ChefSteps or a Certified Reseller.
  The terms of this license will govern any upgrades provided by ChefSteps that replace or supplement the original Licensed Application, unless an upgrade is accompanied by a
  separate license in which case the terms of that separate license will govern.
%p
  %strong> 4.	License Restrictions
  \. The preceding states the entirety of your rights with respect to the Licensed Applications and we reserve all rights in and to the Licensed Applications not expressly granted to you in this Agreement. The license
  granted to you in Section 3 does not allow you to do any of the following:
  (a) operate a Joule purchased from any entity other than ChefSteps or a Certified Reseller;
  (b) use the Licensed Application on any Device you do not own or control;
  (c) distribute, copy, license, rent, sell, resell, publish, lease or otherwise transfer the Licensed Application (except as expressly permitted by this Agreement or the Usage Rules) or any proprietary materials of ChefSteps to any third party;
  (d) reverse engineer (except in cases where you have the right to do so under the applicable mandatory rights), decompile, disassemble or attempt to discover any source code or trade secrets related to the Licensed Application or any proprietary materials of ChefSteps , unless and to the extent permitted under the applicable law;
  (e) modify, alter or create any derivative works or subsequent versions of the Licensed Application;
  (f) remove, alter or obscure any copyright, trademark or other proprietary rights notice on or in the Licensed Application;
  (g) work around any technical limitations in the Licensed Application; or
  (h) use the Licensed Application for purposes other than your own personal, noncommercial use, or for which it was not designed. Unless explicitly stated herein or otherwise by ChefSteps, nothing in this Agreement shall be construed
  as conferring any right or license to intellectual property rights, whether by estoppel, implication or otherwise. If you breach any of these restrictions, you may be subject to prosecution and damages. This license is revocable at any time, such as
  if you breach this Agreement.
%p
  %strong> 5.	Privacy Policy
  \. In accordance with ChefSteps’
  = succeed "," do
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
  ChefSteps may collect, use and share information about you, including, but not limited to, information about your use of the Licensed Application, Device, system and application software, and peripherals, that is gathered in connection with your access to and use of the Licensed Application.  For further information about how ChefSteps collects, uses and shares information about you in connection with your use of the Licensed Application, please refer to ChefSteps' 
  = succeed "." do
    %a{:href => "https://www.chefsteps.com/privacy"} Privacy Policy
%p
  %strong> 6.	Support Services
  \. ChefSteps is not obligated to provide any support or maintenance services for the Licensed Application at this time. If you have any questions regarding the Licensed Application, please contact ChefSteps at
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \. The Application Store Provider has no obligation whatsoever to furnish any support or maintenance services with respect to the Licensed Application.
%p
  %strong> 7.	Product Claims
  \. ChefSteps, not the Application Store Provider, is responsible for addressing any questions, comments or claims relating to the Licensed Application or your possession and use of the Licensed Application, including,
  but not limited to, (a) product liability claims; (b) any claim that the Licensed Application fails to conform to the applicable legal or regulatory requirement; or (c) claims arising under consumer protection or similar legislation. If you have any
  questions, please contact ChefSteps at
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong> 8.	Additional Terms
  \. The Licensed Application may enable access to websites, mobile applications and other online products and services provided by ChefSteps and third parties. Your access to and use of these websites, mobile applications
  or other online products and services may require your acceptance of, and compliance with, additional terms and policies provided by ChefSteps and/or third parties, as applicable, including, but not limited to, ChefSteps'
  %a{:href => "https://www.chefsteps.com/terms"} Terms of Use
  and Sale (collectively, the "
  %strong> Additional Terms
  ").
%p
  %strong> 9.	No Warranty
  \. YOU ACKNOWLEDGE AND AGREE THAT (A) THE LICENSED APPLICATION MAY CONTAIN BUGS, ERRORS AND DEFECTS WE ARE NOT AWARE OF; (B) DOWNLOAD, INSTALLATION AND USE OF THE LICENSED APPLICATION IS AT YOUR SOLE RISK; AND (C) THE ENTIRE
  RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU. ACCORDINGLY, THE LICENSED APPLICATION IS PROVIDED "AS IS," "AS AVAILABLE," WITH ALL FAULTS, DEFECTS AND ERRORS AND WITHOUT WARRANTY OF ANY KIND. CHEFSTEPS DISCLAIMS ALL WARRANTIES
  (EXPRESS AND IMPLIED AND ARISING BY LAW OR OTHERWISE) REGARDING THE LICENSED APPLICATION AND ITS PERFORMANCE OR SUITABILITY FOR YOUR INTENDED USE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
  ACCURACY AND NON-INFRINGEMENT. CHEFSTEPS SHALL HAVE NO LIABILITY OF ANY KIND FOR THE USE OF, OR INABILITY TO USE, THE LICENSED APPLICATION OR FOR ANY LOSS OF DATA. CHEFSTEPS DOES NOT REPRESENT OR WARRANT THAT THE LICENSED APPLICATION WILL BE DELIVERED
  FREE OF ANY INTERRUPTIONS, DELAYS, OMISSIONS OR ERRORS (COLLECTIVELY, "
  %strong> Faults
  ") OR IN A SECURE MANNER OR THAT ANY FAULTS WILL BE CORRECTED. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY CHEFSTEPS OR ITS AUTHORIZED REPRESENTATIVES
  SHALL CREATE ANY WARRANTY. IN THE EVENT THAT THE LICENSED APPLICATION IS DEFECTIVE, YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION.
%p THE APPLICATION STORE PROVIDER HAS NO WARRANTY OBLIGATION WHATSOEVER WITH RESPECT TO THE LICENSED APPLICATION OR ANY OTHER CLAIMS, LOSSES, LIABILITIES, DAMAGES, COSTS OR EXPENSES ATTRIBUTABLE TO ANY FAILURE OF THE LICENSED APPLICATION.
%p The laws of some states or jurisdictions do not allow the exclusion of implied warranties. To the extent that those laws apply, the exclusions set forth above may not apply to you.
%p
  %strong> 10.	Indemnification
  \. To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless ChefSteps and our respective past, present and future employees, officers, directors, contractors, consultants,
  equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (the "
  %strong> ChefSteps Parties
  ") from all ChefSteps Party or third party claims
  of any kind, whether in tort, contract or otherwise (collectively, "
  %strong> Claims
  "), including damages to property or personal injury, that arise from or relate to your download, installation and/or use of the Licensed Application. In the
  event of any Claim that the Licensed Application, or your possession or use thereof, infringes any intellectual property rights of a third party, you agree to contact ChefSteps promptly and directly, and the Application Store Provider will not be responsible
  for the investigation, defense, settlement and discharge of any such intellectual property Claim. You agree to cooperate with the ChefSteps Parties in defending such Claims. You further agree that the ChefSteps Parties shall have control of the defense
  or settlement of any third party Claims. This indemnity is in addition to, and not in lieu of, any indemnities set forth in any other written agreement between you and ChefSteps.
%p
  %strong> 11.	Limitation of Liability
  \. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL CHEFSTEPS OR ANY OF THE OTHER CHEFSTEPS PARTIES BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES
  OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, LOSS OR DIMINUTION IN VALUE OF ASSETS OR SECURITIES, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO YOUR DOWNLOAD, INSTALLATION
  OR USE OF THE LICENSED APPLICATION (INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM CHEFSTEPS, OR FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETIONS OF FILES OR EMAILS, ERRORS,
  DEFECTS, BUGS, VIRUSES, TROJAN HORSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO CHEFSTEPS' RECORDS, PROGRAMS OR
  SYSTEMS), REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), STRICT PRODUCT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS
  BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE).
%p
  TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF CHEFSTEPS AND THE CHEFSTEPS PARTIES (JOINTLY), WHETHER IN CONTRACT ARISING OUT OF OR IN ANY WAY RELATED TO THE LICENSED APPLICATION EXCEED TEN DOLLARS
  ($10.00).
%p Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.
%p
  %strong> 12.	No Export
  \. You may not use or otherwise export or re-export the Licensed Application or any content contained therein, except as authorized by United States law and the laws of the jurisdiction in which the Licensed Application or
  any content was obtained. In particular, but without limitation, the Licensed Application and the content contained therein may not be exported or re-exported to (a) any U.S. embargoed countries; or (b) anyone on the U.S. Treasury Department's list
  of Specially Designated Nationals or the U.S. Department of Commerce Denied Person's List or Entity List.
%p
  %strong> 13.	Legal Compliance
  \. By downloading, installing and using the Licensed Application, you represent and warrant that (a) you are not located in a country that is subject to a U.S. Government embargo or that has been designated by the U.S.
  Government as a "terrorist supporting" country; and (b) you are not listed on any U.S. Government list of prohibited or restricted parties. You will comply with all applicable laws, rules and regulations, including, but not limited to, U.S. export control
  laws.
%p
  %strong> 14.	Commercial Items
  \. If acquired by any agency of the U.S. Government, such agency acknowledges that (a) the Licensed Application constitutes "commercial computer software" or "commercial computer software documentation" for purposes
  of 48 C.F.R. §12.212 and 48 C.F.R. §227.7202, as applicable; and (b) such agency's rights are limited to those specifically granted under this Agreement.
%p
  %strong> 15.	Third Party Beneficiaries
  \. The Application Store Provider and any of its subsidiaries are third party beneficiaries of this Agreement. Upon your acceptance of this Agreement, the Application Store Provider will have the right (and
  will be deemed to have accepted the right) to enforce this Agreement against you as a third party beneficiary thereof.
%p
  %strong> 16.	Termination
  \. Notwithstanding anything contained in this Agreement, ChefSteps reserves the right, without notice and in our sole discretion, to terminate your right to access or use the Licensed Application, and to block or prevent
  your future access to and use of the Licensed Application. You are also entitled to terminate the Agreement without notice, in your sole discretion and at any time, by uninstalling the Licensed Application.
%p
  %strong> 17.	Severability
  \. If any term, clause or provision of this Agreement is held invalid or unenforceable, then that term, clause or provision will be severable from this Agreement and will not affect the validity or enforceability of any
  remaining part of that term, clause or provision, or any other term, clause or provision of this Agreement.
%p
  %strong> 18.	Governing Law
  \. This Agreement shall be governed by and construed and enforced in accordance with the laws of the State of Washington, without regard to conflict of law rules or principles that would cause the application of the laws
  of any other jurisdiction.
%p
  %strong> 19.	Contact
  \. If you have any questions or concerns regarding the Licensed Application or this Agreement, please contact ChefSteps at:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
