%p Loppukäyttäjän lisenssisopimus
%p Viimeksi päivitetty: 13/10/2017
%p
  Tätä Loppukäyttäjän lisenssisopimusta ("
  %strong> Sopimus
  ") sovelletaan ChefSteps Inc. ("
  %strong> ChefSteps
  ") yhtiön mobiilisovelluksen ("
  %strong> Lisensoitu sovellus
  ") lataukseen, asennukseen ja käyttöön. JOS ASUT YHDYSVALTOJEN
  ULKOPUOLELLA, TÄSSÄ SOPIMUKSESSA OLEVIA LAUSEKKEITA TÄYDENTÄVÄT TAI KORVAAVAT TÄYDENTÄVÄT KÄYTTÖEHDOT VOIVAT SOVELTUA. TARKISTA TÄMÄN ASIAKIRJAN LOPPUOSA SEN VARMISTAMISEKSI, SOVELTUVATKO TÄYDENTÄVÄT KÄYTTÖEHDOT SINUUN.
%p
  ChefSteps varaa oikeuden muuttaa tätä Sopimusta milloin tahansa yksinomaisen päätäntävaltansa mukaan. Jos ChefSteps muuttaa tätä Sopimusta, ilmoittaa se muutoksista esimerkiksi lähettämällä sähköpostitse ilmoituksen, välittämällä ilmoituksen Lisensoidun
  sovelluksen kautta tai päivittämällä "
  %strong> Viimeksi päivitetty
  " päivämäärän tämän Sopimuksen alusta. Jatkamalla Lisensoidun sovelluksen käyttöä ChefStepsin toimittaman muutosilmoituksen jälkeen, vahvistat muutetun Sopimuksen ja tässä viittaamalla
  esitetyt ehdot.
%p
  LUE TÄMÄ SOPIMUS HUOLELLISESTI. SE SISÄLTÄÄ TÄRKEITÄ EHTOJA, JOTKA VAIKUTTAVAT SINUUN JA LISENSOIDUN SOVELLUKSEN KÄYTTÖÖSI. ASENTAMALLA MOBIILISOVELLUKSEN SUOSTUT SITOUTUMAAN TÄMÄN SOPIMUKSEN EHTOIHIN JA MEIDÄN KÄYTTÖ- JA MYYNTIEHTOIHIMME, JOTKA ON VIITTAAMALLA
  ESITETTY. JOS ET HYVÄKSY TÄMÄN SOPIMUKSEN EHTOJA TAI KÄYTTÖ- JA MYYNTIEHTOJAMME, ÄLÄ ASENNA TAI KÄYTÄ LISENSOITUA SOVELLUSTA.
%p
  Tämä Sopimus on sitova sopimus sinun ja ChefStepsin välillä, eikä sen mobiilisovelluskaupan tarjoajan välillä, josta lataat Lisensoidun sovelluksen ("
  %strong> Sovelluskaupan tarjoaja
  "). ChefSteps, eikä Sovelluskaupan tarjoaja, on yksinomaan vastuussa
  Lisensoidusta sovelluksesta ja sen sisällöstä.
%p
  %strong> 1.	Suostumus Sähköiseen viestintään.
  ChefSteps voi olla lain mukaan vaadittu lähettämään sinulle tietoja, jotka liittyvät Lisensoituun sovellukseen tai sen käyttöösi. Suostut vastaanottamaan tällaisia tietoja sähköisesti (esim. Sähköpostilla,
  ChefStepsin nettisivujen tai Lisensoidun sovelluksen kautta).
%p
  %strong 2.	Lisensoidun sovelluksen omistajuus.
  Lisensoitu sovellus on ChefStepsin ja sen lisensoijien arvokasta omaisuutta ja Lisensoitu sovellus on tekijänoikeuden ja muiden immateriaalioikeudellisten lakien ja sopimusten suojaama. ChiefSteps
  ja sen lisensoijat omistavat Lisensoidun sovelluksen kaikki oikeudet, mukaan lukien sen kaikki tekijänoikeudet ja muut immateriaalioikeudet. ChiefSteps pidättää kaikki oikeudet, joita ei ole nimenomaisesti myönnetty sinulle.
%p
  %strong> 3.	Lisenssin laajuus Lisensoituun sovellukseen.
  Lisensoitu sovellus on lisensoitu, ei myyty, sinulle. Tämän Sopimuksen ehtojen mukaan ChefSteps myöntää sinulle rajoitetun, ei-yksinomaisen, ei-siirrettävän, ei-alilisensoitavan, maailman
  laajuisen lisenssin Lisensoidun sovelluksen lataamiseen, asentamiseen ja käyttöön tietyillä Sovelluskaupan tarjoajan valtuuttamilla laitteilla tai tuotteilla (jokainen, "
  %strong> Laite
  "), jotka sinä omistat tai joita sinä hallitset, niinkuin
  Sovelluskaupan tarjoajan soveltuvissa käyttöehdoissa ("Käyttösäännöt") sallitaan. Tämän lisenssin ehtoja sovelletaan ChefStepsin tarjoamiin päivityksiin, jotka korvaavat tai täydentävät alkuperäistä Lisensoitua sovellusta, jollei päivityksen mukana
  ole erillistä lisenssiä, missä tapauksessa tämän erillisen lisenssin ehdot soveltuvat.
%p
  %strong> 4.	Lisenssirajoitukset.
  Edellä on kuvailtu kaikki oikeutesi Lisensoituun sovellukseen ja me varaamme kaikki oikeudet Lisensoidussa sovelluksessa ja Lisensoituun sovellukseen, joita ei ole nimenomaisesti myönnetty sinulle tässä Sopimuksessa.
  Sinulle kohdassa 3 myönnetty lisenssi ei salli sinun tehdä seuraavaa: (a) käyttää Lisensoitua sovellusta sellaisella laitteella, jota sinä et omista tai hallitse; (b) jakaa, kopioida, lisensoida, vuokrata, myydä, jälleenmyydä, julkaista, liisata tai
  muuten siirtää Lisensoitua sovellusta (paitsi jos se on nimenomaisesti sallittu tässä Sopimuksessa tai Käyttösäännöissä) tai mitään ChiefStepsin yksinoikeuden alaista materiaalia kolmannelle osapuolelle; (c) takaisinmallintaa (paitsi tapauksissa, joissa
  sinulla on siihen oikeus soveltuvien pakottavien oikeuksien nojalla), takaisinkääntää, purkaa tai yrittää löytää lähdekoodia tai liikesalaisuuksia liittyen Lisensoituun sovellukseen tai ChefStepsin yksinikeuden alaiseen materiaaliin, paitsi siinä laajuudessa
  kuin se on sallittua sovellettavan lainsäädännön alla; (d) modifioida, muuttaa tai luoda johdannaisteoksia tai myöhempiä versioita Lisensoidusta sovelluksesta; (e) poistaa, muuttaa tai hämärtää tekijänoikeutta, tavaramerkkiä tai muita yksinoikeuksia
  Lisensoidussa sovelluksessa; (f) kiertää Lisensoidussa sovelluksessa olevia teknisiä rajoituksia; tai (g) käyttää Lisensoitua sovellusta muuhun tarkoitukseen kuin henkilökohtaiseen, ei-kaupalliseen käyttöön, tai mihin sitä ei ole suunniteltu. Jollei
  tässä tekstissä tai muutoin ChefStepsin toimesta ole nimenomaisesti mainittu, mitään tässä Sopimuksessa ei voi tulkita niin, että se myöntäisi oikeuden tai lisenssin immateriaalioikeuksiin, oli se sitten estoppel-teorian mukaisesti, epäsuorasti tai
  muutoin. Jos rikot näitä rajoituksia, voit joutua syytteeseen tai maksamaan vahingonkorvauksia. Tämä lisenssi voidaan peruuttaa milloin tahansa, kuten jos rikot tätä Sopimusta.
%p
  %strong> 5.	Tietosuojaseloste.
  ChefStepsin Tietosuojaselosteen mukaisesti ChefSteps voi kerätä, käyttää ja jakaa tietoja sinusta, mukaan lukien, mutta ei rajoitettuna tietoihin Lisensoidun sovelluksen käytöstäsi, Laitteesta, järjestelmä- ja sovellusohjelmistosta,
  ja oheistietoja, joita kerätään liittyen pääsyysi Lisensoituun sovellukseen ja Lisensoidun sovelluksen käytöstäsi. Lisätietoja siitä, miten ChefSteps kerää, käyttää ja jakaa tietoja sinusta liittyen Lisensoidun sovelluksen käyttöösi, saat ChefStepsin
  Tietosuojaselosteesta.
%p
  %strong> 6.	Tukipalvelut.
  ChefSteps ei ole velvoitettu tarjoamaan minkäänlaisia tuki- tai huoltopalveluja Lisensoidulle sovellukselle tällä hetkellä. Jos sinulla on kysyttävää Lisensoituun sovellukseen liittyen, ota yhteyttä ChefStepsiin osoitteessa
  info@chefsteps.com. Sovelluskaupan tarjoajalla ei ole minkäänlaista velvollisuutta toimittaa tuki- tai huoltopalveluja Lisensoidulle sovellukselle.
%p
  %strong 7.	Tuotevaatimukset.
  Chefstepsin, ei Sovelluskaupan tarjoajan, vastuulla on vastata kysymyksiin, kommentteihin tai vaatimuksiin liittyen Lisensoituun sovellukseen tai sinun Lisensoidun sovelluksen hallintaan tai käyttöön, mukaan lukien,
  mutta ei rajoitettuna (a) tuotevastuuvaatimuksiin; (b) vaatimuksiin siitä, että Lisensoitu sovellus ei täytä sovellettavia lainsäädännöllisiä tai hallinnollisia vaatimuksia; tai (c) vaatimuksiin kuluttajansuojaan tai vastaavaan lainsäädäntöön liittyen.
  Jos sinulla on kysyttävää, ota yhteyttä ChefStepsiin osoitteessa info@chefsteps.com.
%p
  %strong 8.	Lisäehdot.
  Lisensoitu sovellus voi mahdollistaa pääsyn ChefStepsin tai kolmannen osapuolen tarjoamille internetsivustoille, mobiillisovelluksiin tai muihin internettuotteisiin ja –palveluihin. Pääsysi näille internetsivustoille, mobiilisovelluksiin
  ja muihin internettuotteisiin tai –palveluihin ja niiden käyttösi voi vaatia suostumuksen antamista ChefStepsin ja/tai kolmannen osapuolen lisäehtoihin ja –käytäntöihin, tapauksen mukaan, mukaan lukien, muttei rajoitettuna ChefStepsin Käyttö- ja myyntiehtoihin
  (yhdessä "
  %strong> Lisäehdot
  "), sekä näiden lisäehtojen ja –käytäntöjen noudattamista.
%p
  %strong 9.	Ei takuuta.
  TIEDOSTAT JA SUOSTUT SIIHEN, ETTÄ (A) LISENSOITU SOVELLUS VOI SISÄLTÄÄ VIKOJA, VIRHEITÄ JA PUUTTEITA JOISTA ME EMME OLE TIETOISIA; (B) LISENSOIDUN SOVELLUKSEN LATAUS, ASENNUS JA KÄYTTÖ TAPAHTUU TÄYSIN OMALLA VASTUULLASI;
  JA (C) TÄYSI RISKI TYYDYTTÄVÄSTÄ LAADUSTA, TOIMINNASTA, TARKKUUDESTA JA TYÖSTÄ ON SINULLA. VASTAAVASTI, LISENSOITU SOVELLUS TARJOTAAN "SELLAISENA KUIN SE ON", KAIKKINE VIKOINEEN, PUUTTEINEEN JA VIRHEINEEN SEKÄ ILMAN MINKÄÄNLAISTA TAKUUTA. CHEFSTEPS
  KIELTÄÄ KAIKKI TAKUUT (NIMENOMAISET JA IMPLISIITTISET JA LAISTA JOHTUVAT TAI MUUT) LIITTYEN LISENSOITUUN SOVELLUKSEEN JA SEN TOIMINTAAN TAI SEN SOVELTUVUUTEEN AIKOMAASI KÄYTTÖÖN, MUKAAN LUKIEN, RAJOITTAMATTOMASTI, MIKÄ VAIN TAKUU KAUPALLISUUDESTA, SOVELTUVUUDESTA
  TIETTYYN KÄYTTÖÖN, VIRHEETTÖMYYDESTÄ JA EI-LOUKKAAVUUDESTA. CHEFSTEPSILLÄ EI OLE MINKÄÄNLAISTA VASTUUTA LISENSOIDUN SOPIMUKSEN KÄYTÖSTÄ TAI KÄYTTÖKELVOTTOMUUDESTA TAI TIETOJEN MENETYKSESTÄ. CHEFSTEPS EI TAKAA, ETTÄ LISENSOITU SOVELLUS TOIMITETAAN ILMAN
  HÄIRIÖITÄ, VIIVÄSTYKSIÄ, PUUTTEITA TAI VIRHEITÄ (YHDESSÄ "
  %strong> Viat
  ") TAI ETTÄ SE TOIMITETAAN TURVALLISESTI TAI ETTÄ VIAT TULLAAN KORJAAMAAN. MITÄÄN CHEFSTEPSIN TAI SEN VALTUUTETUN EDUSTAJAN SUULLISESTI TAI KIRJALLISESTI ANTAMAA TIETOA TAI
  NEUVOA EI KATSOTA TAKUUKSI. JOS LISENSOITU SOVELLUS ON VIALLINEN, KANNAT VASTUULLASI KAIKKI KUSTANNUKSET KAIKISTA TARPEELLISISTA HUOLLOISTA, KORJAUKSISTA TAI OIKAISUISTA.
%p
  SOVELLUSKAUPAN TARJOAJALLA EI OLE MINKÄÄNLAISTA VELVOLLISUUTTA TAKUUSEEN LISENSOIDUN SOVELLUKSEN TAI MUIDEN VAATIMUSTEN, MENETYSTEN, VASTUUN, VAHINGONKORVAUKSEN, KUSTANNUSTEN TAI KULUJEN, JOTKA JOHTUVAT MISTÄ TAHANSA VIASTA LISENSOIDUSSA SOVELLUKSESSA,
  OSALTA.
%p Joidenkin osavaltioiden tai hallintoalueiden lait eivät salli implisiittisten takuiden poissulkemista. Jos nämä lait soveltuvat, edellä esitetyt rajoitukset eivät välttämättä sovellu sinun kohdallasi.
%p
  %strong 10.	Vastuu vahingoista.
  Sovellettavan lain sallimassa laajuudessa suostut korvaamaan, puolustamaan ja ChefStepsin ja meidän entiset, nykyiset ja tulevat työntekijät, toimihenkilöt, esimiehet, urakoitsijat, konsultit, osakkeenomistajat,
  toimittajat, myyjät, palveluntarjoajat, emoyhtiöt, tytäryhtiöt, osakkuusyhtiöt, asiamiehet, edustajat, edeltäjät, seuraajat ja luovutuksensaajat ("
  %strong> ChefStepsin osapuolet
  ") kaikilta ChefStepsin osapuolten tai kolmannen osapuolen vaatimuksilta,
  olivat ne sitten vahingonkorvauksellisia, sopimuksellisia tai muita (yhdessä "
  %strong> Vaatimukset
  "), mukaan lukien vahingot omaisuudelle tai henkilövahingot, johtuvat tai liittyvät Lisensoidun sovelluksen lataukseesi, asennukseesi ja/tai käyttöösi.
  Tilanteessa, jossa Vaatimus koskee sitä, että Lisensoitu sovellus tai sinun Lisensoidun sovelluksen hallinta tai käyttö loukkaa mitä tahansa kolmannen osapuolen immateriaalioikeutta, suostut ottamaan pikaisesti ja suoraan yhteyttä ChefStepsiin, ja Sovelluskaupan
  tarjoaja ei ole vastuussa minkään tällaisen immateriaalioikeudellisen Vaatimuksen tutkimisesta, puolustamisesta, sovittelusta tai suorittamisesta. Suostut toimimaan yhteistyössä ChefStepsin osapuolten kanssa tällaisten Vaatimusten puolustamisessa. Suostut
  myös siihen, että ChefStepsin osapuolilla on määräysvalta kolmansien osapuolten Vaatimusten puolustamisen ja sovittelun osalta. Tämä kohdassa asetetut velvoitteet eivät rajoita niitä vakuuksia, jotka on esitetty muissa kirjallisissa sopimuksissa sinun
  ja ChefStepsin välillä, eikä tässä sanottu korvaa niitä.
%p
  %strong 11.	Vastuunrajoitus.
  SOVELLETTAVAN LAIN SALLIMISSA RAJOISSA, CHEFSTEPS TAI MIKÄÄN MUU CHEFSTEPSIN OSAPUOLI EI MISSÄÄN TILANTEESSA OLE VASTUUSSA MINKÄÄNLAISISTA VÄLILLISISTÄ, ERITYISISTÄ, SATUNNAISISTA, VAROITTAVISTA TAI RANKAISEVISTA
  VAHINGONKORVAUKSISTA (MUKAANLUKIEN, MUTTA EI RAJOITETTUNA LIIKEVAIHDON, TULOJEN TAI LIIKEVOITON MENETYKSEEN, KÄYTÖN TAI TIEDON MENETYKSEEN, VARALLISUUDEN TAI VAKUUKSIEN ARVON MENETYKSEEN TAI VÄHENEMISEEN TAI HAITTAAN LIIKETOIMINNAN KESKEYTYMISESTÄ),
  JOTKA SYNTYVÄT LISENSOIDUN SOVELLUKSEN LATAUKSESTASI, ASENNUKSESTASI TAI KÄYTÖSTÄSI TAI LIITTYVÄT NIIHIN JOLLAIN TAPAA (MUKAAN LUKIEN, MUTTA EI RAJOITETTUNA VAHINGONKORVAUKSEEN, JOKA ON AIHEUTUNUT TAI ON SEURAUSTA KÄYTTÄJÄN LUOTTAMUKSESTA CHEFSTEPSILTÄ
  SAATUUN TIETOON TAI VAHINGONKORVAUKSEEN JOKA ON AIHEUTUNUT TAI ON SEURAUSTA VIRHEISTÄ, PUUTTEISTA, KESKEYTYKSISTÄ, TIEDOSTOJEN TAI SÄHKÖPOSTIEN POISTOSTA, EREHDYKSISTÄ, VIOISTA, OHJELMOINTIVIRHEISTÄ, VIIRUKSISTA, TROIJALAISISTA HEVOSISTA, VIIVEISTÄ
  TOIMINNASSA TAI TIEDONSIIRROSSA TAI MISTÄ TAHANSA VIASTA SUORITUSKYVYSSÄ, RIIPPUMATTA SIITÄ, JOHTUUKO SE YLIVOIMAISESTA ESTEESTÄ, VIESTINNÄN EPÄONNISTUMISESTA, CHEFSTEPSIN ASIAKIRJA-AINEISTON, OHJELMIEN TAI JÄRJESTELMIEN VARKAUDESTA, TUHOAMISESTA TAI
  LUVATTOMASTA PÄÄSYSTÄ NIIHIN), RIIPPUMATTA TOIMINTAMUODOSTA JA SIITÄ, PERUSTUUKO TOIMINTA SOPIMUKSEEN, VAHINGONKORVAUKSEEN (MUKAAN LUKIEN, MUTTA EI RAJOITETTU PELKKÄÄN HUOLIMATTOMUUTEEN, OLI SE SITTEN AKTIIVISTA, PASSIIVISTA TAI SYYKSILUETTUA), TIUKKAAN
  TUOTEVASTUUSEEN TAI MUUHUN LAINMUKAISEEN TAI OIKEUDENMUKAISEEN TEORIAAN (VAIKKA OSAPUOLTA OLISI INFORMOITU TÄLLAISTEN VAHINKOJEN MAHDOLLISUUDESTA JA RIIPPUMATTA SIITÄ, OLIVATKO TÄLLAISET VAHINGOT ENNAKOITAVISSA).
%p
  SOVELLETTAVAN LAIN SALLIMISSA RAJOISSA, CHEFSTEPSIN JA CHEFSTEPSIN OSAPUOLTEN (YHTEISESTI) YHTEISVASTUUN ENIMMÄISMÄÄRÄ EI MISSÄÄN TAPAUKSESSA SAA, OLI SE SITTEN LISENSOIDUSTA SOVELLUKSESTA SYNTYNEESSÄ SOPIMUKSESSA TAI LISENSOITUUN SOVELLUKSEEN MUUTEN
  LIITTYEN, YLITTÄÄ KYMMENTÄ DOLLARIA ($10.00).
%p Jotkin lainkäyttöalueet eivät salli satunnaisten tai välillisten vahingonkorvausten rajoittamista tai pois sulkemista, joten yllä mainittu rajoitus tai poissulkeminen ei välttämättä sovellu sinun kohdallasi.
%p
  %strong 12.	Ei vientiä.
  Et saa käyttää tai muutoin viedä tai uudelleenviedä Lisensoitua sovellusta tai mitään siihen sisältyvää sisältöä, paitsi kuten Yhdysvaltojen laki tai sen maan lait, missä Lisensoitu sovellus tai sisältö hankittiin, sallii.
  Erityisesti, mutta ilman rajoituksia, Lisensoitua sovellusta tai siihen sisältyvää sisältöä ei saa viedä tai uudelleenviedä (a) mihinkään Yhdysvaltojen vientikiellon alaiseen maahan; tai (b) kenellekään Yhdysvaltojen valtiovarainministeriön Erikseen
  nimettyjen kansalaisten listalla tai Yhdysvaltojen kauppaministeriön Kiellettyjen henkilöiden listalla tai Yhteisölistalla olevalle.
%p
  %strong 13.	Lainsäädännön noudattaminen.
  Lataamalla, asentamalla ja käyttämällä Lisensoitua sovellusta, vakuutat, että (a) et ole sijoittunut maahan, joka on Yhdysvaltojen hallituksen vientikiellon kohteena tai joka on nimetty Yhdysvaltojen hallituksen
  toimesta "terroristeja tukevaksi" maaksi; ja (b) et ole millään Yhdysvaltojen hallituksen kiellettyjen tai rajoitettujen osapuolten listalla. Noudatat kaikkia soveltuvia lakeja, sääntöjä ja määräyksiä, mukaan luettuna, mutta ei rajoitettuna, Yhdysvaltojen
  vientivalvontalakeihin.
%p
  %strong 14.	Kaupalliset asiat.
  Jos hankkijana on Yhdysvaltojen hallituksen virasto, tällainen virasto tiedostaa, että (a) Lisensoitu sovellus on "kaupallinen tietokoneohjelma" tai "kaupallisen tietokoneohjelman dokumentaatio" 48 C.F.R. §12.212
  ja 48 C.F.R. §227.7202 tarkoituksiin, soveltuvilta osin; ja (b) tällaisen viraston oikeudet on rajoitettu oikeuksiin, jotka on tämän Sopimuksen nojalla nimenomaisesti myönnetty.
%p
  %strong 15.	Edunsaajana oleva kolmas osapuoli.
  Sovelluskaupan tarjoaja ja kaikki sen tytäryhtiöt ovat tämän Sopimuksen edunsaajana olevia kolmansia osapuolia. Sen jälkeen kun hyväksyt tämän Sopimuksen, on Sovelluskaupan tarjoajalla oikeus (ja
  hänen katsotaan hyväksyneen tämän oikeuden) täytäntöönpanna tämä Sopimus sinua vastaan kolmantena osapuolena olevana edunsaajana.
%p
  %strong 16.	Päättyminen.
  Sen estämättä, mitä tässä Sopimuksessa on, ChefSteps varaa oikeuden päättää, ilman ennakkoilmoitusta ja oman harkintamme mukaan, oikeutesi päästä Lisensoituun sovellukseen tai käyttää sitä ja torjua tai estää tuleva pääsysi
  Lisensoituun sovellukseen tai sen käyttösi. Myös sinä olet oikeutettu lakkauttamaan Sopimuksen, ilman ennakkoilmoitusta, oman harkintasi mukaan ja milloin vain, poistamalla Lisensoidun sovelluksen asennuksen.
%p
  %strong> 17.	Erotettavuus.
  Jos tämän Sopimuksen jokin ehto, lauseke tai säännös katsotaan pätemättömäksi tai mahdottomaksi noudattaa, on tämä ehto, lauseke tai säännös erotettava tästä Sopimuksesta ja se ei vaikuta ehdon, lausekkeen tai säännöksen
  jäljelle jäävän osan tai Sopimuksen minkään muunkaan ehdon, lausekkeen tai säännöksen pätevyyteen tai täytäntöönpanokelpoisuuteen.
%p
  %strong 18.	Soveltuva laki.
  Tähän sopimukseen sovelletaan Washingtonin osavaltion lakeja, ottamatta huomioon lainvalintasääntöjä tai -periaatteita, jotka johtaisivat jonkun muun lainkäyttöalueen lakien soveltumiseen.
%p
  %strong 19.	Yhteystiedot.
  Jos sinulla on kysymyksiä liittyen Lisensoituun sovelukseen tai tähän Sopimukseen, ota yhteyttä ChefStepsiin:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
