span.head4_text Endnutzerlizenzvereinbarung
%p Zuletzt aktualisiert: 9/11/2017
%p
  Diese Endnutzerlizenzvereinbarung ("
  %strong> Vereinbarung
  ") regelt das Herunterladen, die Installierung und die Nutzung der mobilen Applikation (die "
  %strong> lizenzierte Applikation
  "), die von ChefSteps Inc. ("
  %strong> ChefSteps
  ")
  bereitgestellt wird, duch Sie. Falls sie außerhalb der vereinigten staaten wohnhaft sind, können zusätzliche bestimmungen und bedingungen für sie gelten, welche bestimmte bedingungen dieses vertrages entweder ergänzen oder ersetzen. bitte prüfen sie
  das ende dieses dokuments, um festzustellen, ob zusätzliche bestimmungen und bedingungen für sie gelten.
%p
  ChefSteps behält sich das Recht vor, diesen Vertrag jederzeit und nach freiem Ermessen zu ändern oder zu modifizieren. Falls ChefSteps diesen Vertrag ändert, werden Sie über diese Änderungen in Kenntnis gesetzt, beispielsweise durch Übersendung einer
  Email-Benachrichtigung, durch eine Mitteilung durch die lizenzierte Applikation oder durch die Aktualisierung des "
  %strong> Zuletzt aktualisiert
  "-Datums am Anfang dieses Vertrages. Durch Fortsetzung des Zugriffs oder der Nutzung der lizenzierten
  Applikation nach der Mitteilung von ChefSteps über diese Änderungen bestätigen Sie Ihre Annahme der überarbeiteten Vereinbarung und aller durch Bezugnahme darin aufgenommener Bestimmungen.
%p
  Bitte lesen sie diese vereinbarung sorgfältig durch. sie enthält wichtige bestimmungen, die sie und ihre nutzung der lizenzierten applikation betreffen. durch installierung der mobilen applikation erklären sie sich damit einverstanden, an die bestimmungen
  dieser vereinbarung und unsere nutzungs- und verkaufsbedingungen, welche durch bezugnahme einbezogen werden, gebunden zu sein. wenn sie mit den bestimmungen dieser vereinbarung und unseren nutzungs- und verkaufsbedingungen nicht einverstanden sind,
  dürfen sie die lizenzierte appliation nicht installieren, darauf zugreifen oder nutzen.
%p
  Diese Vereinbarung ist eine verbindliche Vereinbarung zwischen Ihnen und ChefSteps und nicht mit dem Inhaber des mobilen Applikationsgeschäfts., aus dem Sie die lizenzierte Applikation installiert haben ("
  %strong> Inhaber des Applikationsgeschäfts
  ").
  ChefSteps und nicht der Inhaber des Applikationsgeschäfts ist alleine verantwortlich für die lizenzierte Applikation und dessen Inhalt.
%p
  %strong> 1.	Zustimmung zur elektronischer Kommunikation
  \. ChefSteps kann gesetzlich dazu verpflichtet sein, Mitteilungen an Sie zu schicken, die sich auf die lizenzierte Applikation und deren Nutzung durch Sie beziehen. Sie stimmen zu, dass Sie
  diese Mitteilungen elektronisch (z.B. per Email, durch die Webseite von ChefSteps oder über die lizenzierte Applikation) erhalten.
%p
  %strong> 2.	Eigentum an der lizenzierten Applikation
  \. Die lizenzierte Applikation ist werthaltiges Eigentum von ChefSteps und ihren Lizenzgebern und ist durch Urheberrecht und sonstige geistigen Schutzrechte und Abkommen geschützt. ChefSteps und
  ihre Lizenzgeber sind Inhaber aller Rechte und Eigentümer der lizenzierten Applikation, einschließlich aller Urheberrechte und sonstiger geistigen Schutzrechte daran. ChefSteps behält sich alle Rechte, die nicht ausdrücklich Ihnen gewährt werden, vor.
%p
  %strong> 3.	Umfang der Lizenz an der lizenzierte Applikation
  \. Die lizenzierte Applikation wird an Sie lizenziert, nicht verkauft. Vorbehaltlich der Bestimmungen und Bedingungen dieser Vereinbarung gewährt ChefSteps Ihnen eine begrenzte, nicht
  ausschließliche , nicht übertragbare, nicht-sublizenzierbare, weltweite Lizenz zum Download, zur Installierung und Nutzung der lizenzierten Applikation auf bestimmten Produkten oder Geräten, die von dem Inhaber des Applikationsgeschäfts autorisiert
  wurden (jeweils ein "
  %strong> Gerät
  "), welche Ihnen gehören oder in Ihrem Besitz sind, jeweils soweit dies nach den von dem Inhaber des Applikationsgeschäfts gestellten Bestimmungen und Bedingungen ("
  %strong> Nutzungsregeln
  ") zulässig ist.
  Die lizenzierte Anwendung wird kein Joule betreiben, dass von einem anderen Unternehmen als ChefSteps oder als ein Zugelassener Händler erworben worden ist.
  Die Bestimmungen dieser Lizenz regeln jegliche Upgrades, die von ChefSteps vorgenommen werden und die ursprüngliche lizenzierte Applikation ersetzen oder ergänzen, es sei denn, ein Upgrade ist mit einer separaten Lizenz verbunden, in welchem Fall
  die Bestimmungen dieser separaten Lizenz gelten.
%p
  %strong> 4.	Lizenzbeschränkungen
  \. Vorstehend sind sämtliche Rechte in Bezug auf die lizenzierte Applikation dargestellt und wir behalten uns alle Rechte an den lizenzierten Applikationen, die Ihnen nicht ausdrücklich in dieser Vereinbarung gewährt
  werden, vor. Die Ihnen in Ziffer 3 gewährte Lizenz erlaubt Ihnen nicht, Folgendes zu tun:
  (a) ein Joule, das von einem anderen Unternehmen als ChefSteps oder als ein Zugelassenen Händler erworben worden ist, zu betreiben;
  (b) Die lizenzierte Applikation auf einem Gerät zu nutzen, welches Ihnen nicht gehört oder nicht von Ihnen kontrolliert wird;
  (c) die lizenzierte Applikation oder sonstige geschützten Materialien von ChefSteps an einen Dritten zu vertreiben,lizenzieren, vermieten, verkaufen, weiterzuverkaufen, zu veröffentlichen, zu leasen oder in sonstiger Weise zu übertragen (außer soweit durch diese Vereinbarung oder die Nutzungsregeln ausdrücklich erlaubt);
  (d) Quellcodes oder Geschäftsgeheimnisse bezüglich der lizenzierten Applikation oder jegliche geschützten Materialien von ChefSteps entschlüsseln (außer in Fällen, in denen Sie nach zwingendem geltenden Recht dazu berechtigt sind), dekompilieren, disassemblieren oder zu entdecken versuchen (außer soweit nach geltendem Recht erlaubt);
  (e) die lizenzierte Applikation modifizieren, ändern oder derivative Werke oder neuere Fassungen davon erstellen;
  (f) Urheberrechts-, Warenzeichen- oder sonstige Hinweise auf Schutzrechte auf oder in der lizenzierten Applikation entfernen, ändern oder verdecken;
  (g) technische Begrenzungen der lizenzierte Applikation umgehen; oder
  (h) die lizenzierte Applikation für andere Zwecke als Ihre eigenen
  persönlichen und nicht-kommerziellen Zwecke oder für Zwecke, für die sie nicht gedacht ist, nutzen. Außer soweit hier oder in sonstiger Weise von ChefSteps ausdrücklich erklärt, ist nichts in dieser Vereinbarung als Gewährung eines Rechts oder einer
  Lizenz an geistigen Schutzrechten auszulegen, ob ausdrücklich, impliziert oder in sonstiger Weise. Falls Sie diese Beschränkungen verletzen, können Sie strafrechtlich verfolgt werden und schadensersatzpflichtig gemacht werden. Diese Lizenz kann jederzeit
  widerrufen werden, beispielsweise wenn Sie diese Vereinbarung verletzen.
%p
  %strong> 5.	Datenschutzgrundsätze
  \. Nach Maßgabe der Datenschutzgrundsätze von ChefSteps kann ChefSteps Informationen über Sie sammeln, nutzen und teilen, einschließlich – jedoch ohne Beschränkung darauf - Informationen über Ihre Nutzung der lizenzierten
  Applikation, das Gerät, das System und die Applikationssoftware und Peripheriegeräte, welche im Zusammenhang mit Ihrem Zugriff auf die lizenzierte Applikation und deren Nutzung gesammelt werden. Für weitere Informationen darüber, wie ChefSteps Informationen
  über Sie im Zusammenhang mit Ihrer Nutzung der lizenzierte Applikation verwendet und teilt, lesen Sie bitte die Datenschutzgrundsätze von ChefSteps.
%p
  %strong> 6.	Support-Leistungen
  \. ChefSteps ist nicht dazu verpflichtet, derzeit Support- oder Wartungsleistungen für die lizenzierte Applikation zu erbringen. Falls Sie Fragen bezüglich der lizenzierten Applikation haben, setzen Sie sich bitte
  mit ChefSteps unter
  = succeed ".com" do
    %a{:href => "mailto:info@chefsteps"} info@chefsteps
%p
  %strong> 7.	Produktansprüche
  \. ChefSteps und nicht der Inhaber des Applikationsgeschäfts ist verantwortlich für die Behandlung jeglicher Fragen, Kommentare oder Ansprüche in Bezug auf die lizenzierte Applikation oder ihren Besitz und die Nutzung
  der lizenzierte Applikation, einschließlich – jedoch ohne Beschränkung darauf - (a) Produkthaftungsansprüche; (b) jegliche Behauptung, dass die lizenzierte Applikation nicht den geltenden gesetzlichen oder aufsichtsbehördlichen Anforderungen entspricht;
  oder (c) Ansprüche, die sich aus Verbraucherschutz- oder ähnlichen Gesetzen ergeben.
%p
  Falls Sie Fragen haben, setzen Sie sich bitte mit ChefSteps unter
  = succeed ".com" do
    %a{:href => "mailto:info@chefsteps"} info@chefsteps
%p
  %strong> 8.	Zusätzliche Bestimmungen
  \. Die lizenzierte Applikation kann es Ihnen ermöglichen, auf Webseiten, mobile Applikationen und andere Online-Produkte und Leistungen von ChefSteps und Dritten zuzugreifen. Ihr Zugang zu diesen Webseiten, mobilen
  Applikationen und sonstigen Online-Produkten und Leistungen und deren Nutzung kann voraussetzen, dass Sie zusätzliche Bestimmungen und Grundsätze von ChefSteps und/oder Dritten akzeptieren und beachten, einschließlich – jedoch ohne Beschränkung darauf
  – die Nutzungs- und Verkaufsbedingungen von ChefSteps (gemeinsam die "
  %strong> zusätzlichen Bedingungen
  ").
%p
  %strong> 9.	Keine Gewährleistung
  \. Sie erkennen an und akzeptieren, dass (A) die lizenzierte Applikation programmier- und andere Fehler und Mängel enthalten kann, die uns nicht bekannt sind; (B) der download, die installierung und nutzung der lizenzierten
  applikation auf ihr alleiniges risiko ERFOLGT; und (c) das gesamte Risiko der zufriedenstellenden qualität, leistung, genauigkeit und des Aufwandes bei ihnen LIEGT. dementsprechend wird die lizenzierte applikation so, wie sie ist, unter dem vorbehalt
  der verfügbarkeit und mit allen fehlern, mängeln und programmierfehlern und ohne gewährleistung irgendeiner art geliefert. chefsteps lehnt jegliche gewährleistung (ausdrücklich und impliziert und kraft gesetzes oder in sonstiger weise) bezüglich der
  lizenzierten applikation und ihrer leistung oder für den von ihnen beabsichtigten zweck ab, einschliesslich – jedoch ohne beschränkung darauf – jeglicher implizierten gewährleistung der marktgängigkeit, der Eignung für einen bestimmten zweck, der richtigkeit
  und der Nicht-verletzung. chefsteps haftet in keiner Weise für die nutzung oder die unmöglichkeit der Nutzung der lizenzierten applikation oder für irgendwelche Datenverluste. chefsteps sichert nicht zu oder gewährleistet, dass die lizenzierte applikation
  frei von jeglichen unterbrechungen, verzögerungen, unterlassungen oder fehlern (gemeinsam ”
  %strong> Fehler
  ”) oder in sicherer Weise geliefert wird oder dass eventuelle fehler korrigiert werden. keine mündliche oder schriftliche information oder
  beratung durch chefsteps oder vertreter von chefsteps begründet irgendeine gewährleistung. falls die lizenzierte applikation mangelhaft ist, übernehmen sie die gesamten kosten für sämtlichen notwendigen SERVICE-, REPARATUR- ODER KORREKTURMASSNAHMEN.
%p
  Der Inhaber des Applikationsgeschäfts hat keinerlei Gewährleistungsverpflichhtung in bezug auf die lizenzierte applikation oder sonstige ansprüche, verluste, verbindlichkeiten, schäden, kosten oder ausgaben, die einem versagen der lizenzierten applikation
  zuzuschreiben sind..
%p Die Gesetze mancher Staaten oder Jurisdiktionen erlauben nicht den Ausschluss implizierter Gewährleistungen. Soweit diese Gesetze Anwendung finden, gelten die vorstehenden Ausschlüsse möglicherweise nicht für Sie.
%p
  %strong> 10.	Entschädigung
  \. Sie verpflichten sich in vollem gesetzlich zulässigem Umfang dazu, ChefSteps und unsere ehemaligen, gegenwärtigen und zukünftigen Arbeitnehmer, Organmitglieder, Führungskräfte, Berater, Anteilseigner, Lieferanten, Verkäufer,
  Service Provider, Muttergesellschaften, Tochtergesellschaften Schwestergesellschaften, Agenten, Vertreter, Vorgänger, Nachfolger und Zessionare (die "
  %strong> ChefSteps-Parteien
  ") für alle Ansprüche von ChefSteps-Parteien oder Dritter jeglicher
  Art zu entschädigen und dagegen zu verteidigen und davon freizustellen, ob sie sich aus unerlaubter Handlung, Vertrag oder sonstigem ergeben (insgesamt die "
  %strong> Ansprüche
  "), einschließlich Sachschäden oder Personenschäden, soweit sie sich
  aus den Downloads, der Installierung und/oder Nutzung der lizenzierten Applikationen durch Sie ergeben oder darauf beziehen. Im Falle einer Behauptung, dass die lizenzierte Applikation oder ihr Besitz oder ihre Nutzung geistiges Eigentum eines Dritten
  verletzt, verpflichten Sie sich dazu, ChefSteps unverzüglich und direkt zu kontaktieren, und der Inhaber des Applikationsgeschäfts ist nicht verantwortlich für die Untersuchung, Verteidigung, den Ausgleich und Erledigung eines solchen Anspruches aufgrund
  geistigen Eigentums. Sie verpflichten sich dazu, mit den ChefSteps-Parteien bei der Verteidigung gegen solche Ansprüche zusammenzuarbeiten. Sie akzeptieren des Weiteren, dass die ChefSteps-Parteien die Verteidigung gegen Ansprüche Dritter oder eine
  diesbezügliche vergleichsweise Regelung bestimmen. Diese Entschädigung besteht zusätzlich zu jeglichen Entschädigungen, die in anderen schriftlichen Vereinbarungen zwischen Ihnen und ChefSteps geregelt sind, und nicht stattdessen.
%p
  %strong 11.	Haftungsbegrenzung.
  In VOLLEM GESETZLICH ZULÄSSIGEN UMFANG Ist in keinem Fall chefsteps oder irgendeine andere chefsteps-partei haftbar für mittelbare, besondere, neben-, folgeschäden jeglicher art (einschlieSSlich – jedoch ohne beschränkung
  darauf – entgangener einnahmen, erträge oder Gewinne, des verlustes der nutzung Oder von daten, des verlustes oder der verringerung des wertes von vermögensgegenständen oder wertpapieren sowie des schadensersatzes wegen geschäftsunterbrechung), welche
  sich aus dem zugriff auf leistungen oder materialien oder deren nutzung ergEBEN oder in irgendeiner SONSTIGEN weise ergeben oder sich darauf beziehen oder in sonstiger weise auf diese bedingungen beziehen (einschlieSSlich – jedoch ohne beschränkung
  darauf – schäden, die durch das vertrauen eines nutzers auf informationen von chefsteps verursacht werden oder sich daraus oder aus fehlern, unterlassungen, unterbrechungen, der löschung von dateien oder emails, irrtümern, mängeln, programmierfehlern,
  viren, trojanischen pferden, betrieblichen verzögerungen oder irgendeiner leistungsstörung ergeben, ob infolge höherer gewalt, kommunikationsstörungen, diebstahls, zerstörung oder unbefugteN zugriffS auf die unterlagen, programme oder systeme von chefsteps),
  ungeachtet der form der handlung, ob aufgrund vertrages, unerlaubter handlung (einschlieSSlich – jedoch ohne beschränkung darauf - leichter fahrlässigkeit, ob aktiv, passiv oder zugerechnet), strikter produkthaftung oder jeglicher sonstiger rechtlicher
  oder billigkeitsrechtlicher grundlage (auch wenn die partei über die möglichkeit solcher schäden aufgeklärt wurde und solche schäden vorhersehbar waren).
%p
  in vollem gesetzlich zulässigen umfang darf in keinem fall die maximale gesamthaftung von chefsteps und den chefsteps-parteien (gemeinsam) aufgrund vertrages oder in sonstiger weise in bezug auf die lizenzierte applikation 10 dollar ($ 10,0) übersteigen.
%p Manche Jurisdiktionen erlauben nicht den Ausschluss oder die Begrenzung von Neben- oder Folgeschäden, so dass die vorstehende Begrenzung oder der Ausschluss möglicherweise für Sie nicht gelten.
%p
  %strong> 12.	Kein Export
  \. Sie dürfen die lizenzierte Applikation oder jeden darin enthaltenen Inhalt nicht nutzen oder in sonstiger Weise exportieren oder re-exportieren, außer soweit dies nach dem Recht der Vereinigten Staaten und den Gesetzen
  der Jurisdiktion, in welcher die lizenzierte Applikation oder jegliche Inhalte erlangt wurden, erlaubt ist. Insbesondere – jedoch ohne Beschränkung darauf – darf die lizenzierte Applikation und der darin enthaltene Inhalt nicht (a) in Staaten, die einem
  U.S.-Embargo unterliegen oder (b) an irgendjemanden auf der List of Specially Designated Nationals des U.S. Treasury Department oder auf der Denied Person's List or Entity List des U.S. Department of Commerce exportiert oder re-exportiert werden.
%p
  %strong> 13.	Rechtsbeachtung
  \. Durch das Downloaden, Installieren und die Nutzung der lizenzierten Applikation sichern Sie zu und gewährleisten, dass (a) Sie sich nicht in einem Land befinden, welches einem Embargo der U.S.-Regierung unterliegt
  oder von der U.S.-Regierung als ”Terrorismus unterstützender” Staat genannt wurde; und (b) Sie auf keiner Liste der verbotenen oder eingeschränkten Parteien der U.S.-Regierung geführt werden. Sie werden alle geltenden Gesetze, Vorschriften und Verordnungen
  beachten, einschließlich – jedoch ohne Beschränkung darauf – der U.S.-Exportkontrollgesetze.
%p
  %strong> 14.	Kommerzielle Gegenstände
  \. Falls sie von einer Behörde der U.S.-Regierung erworben wird, so erkennt diese Behörde an, dass (a) die lizenzierte Applikation eine "kommerzielle Computersoftware" oder "kommerzielle Computersoftwaredokumentation"
  im Sinne von 48 C.F.R. §12.212 bzw. 48 C.F.R. §227.7202 darstellt; und (b) die Rechte dieser Behörde auf diejenigen, die speziell für diesen Vertrag gewährt werden, begrenzt sind.
%p
  %strong> 15.	Drittbegünstigte
  \. Der Inhaber des Applikationsgeschäfts und seine Tochtergesellschaften sind Drittbegünstigte dieser Vereinbarung. Nach Annahme dieser Vereinbarung durch Sie hat der Inhaber des Applikationsgeschäfts das Recht (und
  seine Annahme dieses Rechts gilt als erklärt), diesen Vertrag als Drittbegünstigter gegen Sie durchzusetzen.
%p
  %strong> 16.	Kündigung
  \. Ungeachtet jeglicher entgegenstehender Bestimmungen in dieser Vereinbarung behält ChefSteps sich das Recht vor, ohne Ankündigung und nach unserem freien Ermessen Ihr Recht, auf die lizenzierte Applikation zurückzugreifen
  oder sie zu nutzen, zu beenden und jeglichen zukünftigen Zugriff oder die Nutzung der lizenzierten Applikation zu blockieren oder behindern. Sie sind auch dazu berechtigt, die Vereinbarung fristlos nach Ihrem freien Ermessen und jederzeit durch Deinstallierung
  der lizenzierten Applikation zu beenden.
%p
  %strong 17.	Teilunwirksamkeit.
  Falls Bestimmungen, Klauseln oder Regelungen dieser Vereinbarung für unwirksam oder undurchsetzbar erklärt werden, so ist die betreffende Bestimmung, Vorschrift oder Regelung von diesem Vertrag abtrennbar und lässt
  die Wirksamkeit oder Durchsetzbarkeit des verbleibenden Teils der Bestimmung, Vorschrift oder Regelung oder jegliche sonstigen Bestimmungen, Vorschriften oder Regelungen dieser Vereinbarung unberührt.
%p
  %strong> 18.	Anwendbares Recht
  \. Diese Vereinbarung unterliegt dem Recht des Staates Washington und ist danach auszulegen und durchzusetzen, jedoch ohne Berücksichtigung der kollisionsrechtlichen Regelungen oder Grundsätze, die zu der Anwendung
  der Gesetze einer anderen Jurisdiktion führen würden.
%p
  %strong> 19.	Kontakt
  \. Falls Sie Fragen oder Sorgen bezüglich der lizenzierten Applikation oder dieser Vereinbarung haben, setzen Sie sich bitte mit ChefSteps in Verbindung:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
