%h4 Contratto di Licenza con l’Utente Finale
%p Ultimo aggiornamento: 9/11/2017
%p
  Il presente Contratto di Licenza con l’Utente Finale (il “
  %strong> Contratto
  ”) regola il download, l’installazione e l’utilizzo da parte dell’utente dell’app per dispositivi mobili (l’“
  %strong> Applicazione Concessa in Licenza
  ”) fornita
  da ChefSteps Inc. (“
  %strong> ChefSteps
  ”). AGLI UTENTI RESIDENTI AL DI FUORI DEGLI STATI UNITI POTREBBERO APPLICARSI TERMINI E CONDIZIONI AGGIUNTIVI, INTEGRATIVI O SOSTITUTIVI DI ALCUNE DELLE DISPOSIZIONI DEL PRESENTE CONTRATTO. CONSULTARE LA
  PARTE FINALE DEL PRESENTE DOCUMENTO PER VERIFICARE L’EVENTUALE APPLICAZIONE DI TERMINI E CONDIZIONI AGGIUNTIVI.
%p
  ChefSteps si riserva il diritto di cambiare o modificare il presente Contratto in qualsiasi momento e a propria discrezione. In caso di modifiche al presente Contratto, ChefSteps ne darà comunicazione all’utente via email, attraverso una notifica sull’Applicazione
  Concessa in Licenza o tramite l’aggiornamento della data dell’“
  %strong> Ultimo Aggiornamento
  ” all’inizio del presente Contratto. L’utilizzo dell’Applicazione Concessa in Licenza senza soluzione di continuità da parte dell’utente equivale ad
  accettazione del Contratto aggiornato e di tutte le condizioni richiamate nel presente documento.
%p
  SI PREGA DI LEGGERE ATTENTAMENTE IL PRESENTE CONTRATTO IN QUANTO CONTIENE IMPORTANTI CONDIZIONI RIGUARDANTI L’UTENTE E L’UTILIZZO DELL'APPLICAZIONE CONCESSA IN LICENZA DA PARTE DELLO STESSO. INSTALLANDO L’APP PER DISPOSITIVI MOBILI, L’UTENTE ACCETTA DI
  VINCOLARSI ALLE CONDIZIONI DEL PRESENTE CONTRATTO E ALLE
  %a{:href => "https://www.chefsteps.com/terms"} CONDIZIONI DI UTILIZZO E VENDITA
  DI CHEFSTEPS QUI RICHIAMATE. IN CASO DI MANCATA SOTTOSCRIZIONE DELLE CONDIZIONI DEL PRESENTE CONTRATTO E DELLE CONDIZIONI
  DI UTILIZZO E VENDITA DI CHEFSTEPS, SI PREGA DI NON INSTALLARE, ACCEDERE O UTILIZZARE L'APPLICAZIONE CONCESSA IN LICENZA.
%p
  Il presente Contratto instaura un rapporto vincolante tra l’utente e ChefSteps, mentre non vincola il fornitore dell’
  %em application store
  dal quale l’utente installa l’Applicazione Concessa in Licenza (il “
  %strong>
    Fornitore dell’
    %em Application Store
  ”).
  L’unico soggetto responsabile dell’Applicazione Concessa in Licenza e dei suoi contenuti è ChefSteps, con esclusione di responsabilità del Fornitore dell’
  %em> Application Store
  \.
%p
  %strong 1.	Consenso all’invio di comunicazioni in formato elettronico.
  ChefSteps potrebbe essere tenuta, ai sensi di legge, a inviare comunicazioni all’utente riguardanti l'Applicazione Concessa in Licenza e l’utilizzo della stessa. L’utente
  accetta di ricevere tali comunicazioni in forma elettronica (ad esempio, tramite email, il sito ChefSteps o l’Applicazione Concessa in Licenza).
%p
  %strong 2.	Titolarità dell'Applicazione Concessa in Licenza.
  L’Applicazione Concessa in Licenza è di proprietà di ChefSteps e dei suoi licenzianti ed è tutelata dalle norme sul diritto d’autore, nonché dalle leggi e dalle convenzioni in materia
  di proprietà intellettuale. ChefSteps e i suoi licenzianti detengono tutti i diritti sull'Applicazione Concessa in Licenza, compresi i relativi diritti d’autore o gli ulteriori diritti di proprietà intellettuale. ChefSteps si riserva tutti i diritti
  non espressamente concessi all’utente.
%p
  %strong 3.	Oggetto della licenza.
  L’applicazione oggetto del presente Contratto viene concessa in licenza, ma non venduta, all’utente. Ai sensi dei termini e delle condizioni del presente Contratto, ChefSteps concede all’utente il diritto limitato,
  non esclusivo, non trasferibile, non concedibile in sublicenza, valido in tutto il mondo, di scaricare, installare e utilizzare l'Applicazione Concessa in Licenza su dispositivi o prodotti autorizzati dal Fornitore dell’
  %em Application Store
  (ciascuno
  un “
  %strong> Dispositivo
  ”) di cui l’utente è proprietario o in possesso, conformemente ai termini e alle condizioni applicabili eventualmente stabiliti dal Fornitore dell’
  %em Application Store
  (“
  %strong> Regole di Utilizzo
  ”).
  L' Applicazione Concessa in Licenza non azionerà un Joule
  acquistato da una società diversa da ChefSteps o da un Rivenditore Autorizzato.
  Le
  condizioni della presente licenza disciplineranno altresì gli aggiornamenti eventualmente offerti da ChefSteps a sostituzione o integrazione dell'Applicazione Concessa in Licenza originaria, eccetto laddove l’aggiornamento sia soggetto alle condizioni
  di una licenza separata.
%p
  %strong 4.	Limitazioni della licenza.
  L’articolo precedente prevede la totalità dei diritti conferiti all’utente in relazione all'Applicazione Concessa in Licenza. ChefSteps si riserva tutti i diritti sull'Applicazione Concessa in Licenza non
  espressamente concessi all’utente ai sensi del presente Contratto. I diritti concessi all’utente dall’Articolo 3 non consentono la realizzazione delle seguenti attività:
  (a) azionare un Joule acquistato da una società diversa da ChefSteps o da un Rivenditore Autorizzato ;
  (b) utilizzare l'Applicazione Concessa in Licenza su Dispositivi che non appartengono o non sono in possesso dell’utente;
  (c) distribuire, copiare, concedere in licenza, noleggiare, vendere, rivendere, pubblicare, concedere in locazione o altrimenti trasferire a terzi l'Applicazione Concessa in Licenza (salvo laddove espressamente consentito dal presente Contratto o dalle Regole di Utilizzo) o qualsiasi bene di proprietà di ChefSteps;
  (d) sottoporre a
  %em reverse engineering
  (salvo ove previsto dalle norme imperative applicabili), decompilare, disassemblare o tentare di risalire al codice sorgente o ai segreti commerciali riferiti all'Applicazione Concessa in Licenza o ai beni di proprietà di ChefSteps, eccetto nella misura eventualmente prevista dalla legge applicabile;
  (e) modificare, alterare, elaborare o creare versioni successive dell'Applicazione Concessa in Licenza;
  (f) rimuovere, alterare od oscurare le indicazioni presenti sull'Applicazione Concessa in Licenza riguardanti diritti d’autore, marchi o altri diritti;
  (g) tentare di aggirare le eventuali limitazioni tecniche dell'Applicazione Concessa in Licenza; o
  (h) utilizzare l'Applicazione Concessa in Licenza per finalità diverse dall’uso personale e non commerciale, o per usi non previsti. Fatto salvo quanto espressamente previsto dal presente Contratto o altrimenti
  stabilito da ChefSteps, nulla nel presente Contratto potrà essere inteso come un’attribuzione di diritti o licenze relativi a diritti di proprietà intellettuale mediante
  = succeed "," do
    %em estoppel
%p
  %strong
    5.
    %em Policy
    sulla Privacy.
  Conformemente alla
  %a{:href => "https://www.chefsteps.com/privacy"}
    %em Policy
    sulla Privacy
  di ChefSteps, ChefSteps potrà raccogliere, utilizzare e condividere i dati dell’utente, comprese, a titolo
  meramente esemplificativo, le informazioni raccolte durante l’accesso e l’utilizzo dell'Applicazione Concessa in Licenza da parte dell’utente, concernenti l’utilizzo dell'Applicazione Concessa in Licenza, dei Dispositivi, dei software di sistema e applicativi
  e delle periferiche. Si prega di fare riferimento alla
  %a{:href => "https://www.chefsteps.com/privacy"} Policy sulla Privacy
  di ChefSteps per ottenere maggiori informazioni sulle modalità di raccolta, utilizzo e divulgazione dei dati degli utenti nell’ambito
  dell’utilizzo dell'Applicazione Concessa in Licenza.
%p
  %strong 6.	Servizi di assistenza.
  ChefSteps non è attualmente tenuta a fornire servizi di assistenza o manutenzione relativamente all'Applicazione Concessa in Licenza. In caso di dubbi sull'Applicazione Concessa in Licenza, è possibile contattare
  ChefSteps all’indirizzo
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
  %em Application Store
  non è in alcun modo tenuto a fornire servizi di assistenza o manutenzione relativamente all’Applicazione
  Concessa in Licenza.
%p
  %strong 7.	Responsabilità sul prodotto.
  ChefSteps, e non il Fornitore dell’
  %em> Application Store
  , ha l’obbligo di risolvere eventuali richieste, commenti o reclami concernenti l’Applicazione Concessa in Licenza o il possesso e l’utilizzo
  della stessa da parte dell’utente, anche, a titolo meramente esemplificativo, in caso di (a) responsabilità per danni causati dal prodotto; (b) responsabilità per non conformità ai requisiti di leggi o regolamenti; o (c) responsabilità derivanti dalle
  norme a tutela dei consumatori o leggi analoghe. In caso di dubbi, è possibile contattare ChefSteps all’indirizzo
  %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
  \.
%p
  %strong 8.	Condizioni aggiuntive.
  L’Applicazione Concessa in Licenza potrebbe consentire l’accesso a siti web, app per dispositivi mobili e altri prodotti e servizi online forniti da ChefSteps e da soggetti terzi. L’accesso e utilizzo da parte
  dell’utente di tali siti web, app per dispositivi mobili e altri prodotti e servizi online forniti da ChefSteps e/o soggetti terzi potrebbero richiedere l’accettazione e l’osservanza di termini e condizioni aggiuntivi imposti, a seconda dei casi, da
  ChefSteps e/o soggetti terzi, comprese, a titolo meramente esemplificativo, le
  %a{:href => "https://www.chefsteps.com/terms"} Condizioni di Utilizzo e Vendita
  di ChefSteps (collettivamente, le “
  %strong> Condizioni Aggiuntive
  ”).
%p
  %strong 9.	Assenza di garanzia.
  L’UTENTE RICONOSCE E ACCETTA A) CHE L’APPLICAZIONE CONCESSA IN LICENZA POTREBBE CONTENERE BUG, ERRORI E DIFETTI NON NOTI A CHEFSTEPS; (B) DI ASSUMERSI OGNI RISCHIO LEGATO AL DOWNLOAD, ALL’INSTALLAZIONE E ALL’UTILIZZO
  DELL’APPLICAZIONE CONCESSA IN LICENZA; E (C) DI ASSUMERSI OGNI RISCHIO PER QUANTO RIGUARDA QUALITÀ, RENDIMENTO, ACCURATEZZA E SFORZO. PERTANTO, L’APPLICAZIONE CONCESSA IN LICENZA È FORNITA “NELLO STATO IN CUI SI TROVA” E “IN QUANTO DISPONIBILE”, CON
  TUTTI I VIZI, DIFETTI ED ERRORI E SENZA GARANZIA DI ALCUN TIPO. CHEFSTEPS NON RICONOSCE ALCUNA GARANZIA (ESPLICITA, IMPLICITA, LEGALE O DI ALTRO TIPO) RELATIVAMENTE ALL’APPLICAZIONE CONCESSA IN LICENZA E ALLA SUA ESECUZIONE O IDONEITÀ IN BASE ALL’UTILIZZO
  PREVISTO, COMPRESA, A TITOLO MERAMENTE ESEMPLIFICATIVO, QUALSIASI GARANZIA IMPLICITA DI COMMERCIABILITÀ, IDONEITÀ A UN PARTICOLARE SCOPO, ACCURATEZZA E NON VIOLAZIONE DI DIRITTI DI PROPRIETÀ E PROPRIETÀ INTELLETTUALE. CHEFSTEPS NON SARÀ IN NESSUN CASO
  RESPONSABILE DELL’USO O DELL’IMPOSSIBILITÀ D’USO DELL’APPLICAZIONE CONCESSA IN LICENZA NÉ DELLA PERDITA DI DATI. CHEFSTEPS NON DICHIARA NÉ GARANTISCE CHE L’APPLICAZIONE CONCESSA IN LICENZA SARÀ FORNITA SENZA EVENTUALI INTERRUZIONI, RITARDI, OMISSIONI
  O ERRORI (COMPLESSIVAMENTE, "
  %strong> Vizi
  ") O IN MODO SICURO, O CHE EVENTUALI VIZI VERRANNO CORRETTI. LE INFORMAZIONI O PARERI ORALI O SCRITTI FORNITI DA CHEFSTEPS O DAI SUOI RAPPRESENTANTI AUTORIZZATI NON POSSONO IN NESSUN CASO COSTITUIRE
  GARANZIA. IN CASO DI VIZI NELL’APPLICAZIONE CONCESSA IN LICENZA, L’UTENTE SOSTERRÀ TUTTI I COSTI PER I SERVIZI DI ASSISTENZA, RIPARAZIONE O CORREZIONE CHE DOVESSERO RENDERSI NECESSARI.
%p
  IL FORNITORE DELL’
  %em APPLICATION STORE
  NON HA OBBLIGHI DI GARANZIA DI ALCUN TIPO CON RIFERIMENTO ALL’APPLICAZIONE CONCESSA IN LICENZA O AD ALTRE EVENTUALI PRETESE, RESPONSABILITÀ, DANNI, COSTI O SPESE ASCRIVIBILI A QUALSIASI MANCANZA DELL’APPLICAZIONE
  CONCESSA IN LICENZA.
%p Le leggi di alcuni Stati o ordinamenti non consentono l’esclusione delle garanzie implicite. Nella misura in cui tali leggi trovino applicazione, le esclusioni sopra indicate potrebbero non essere applicate.
%p
  %strong 10.	Manleva.
  Nella misura massima consentita dalla legge applicabile, l’utente accetta di manlevare e tenere indenne ChefSteps e i suoi dipendenti, dirigenti, amministratori, collaboratori, consulenti, azionisti, fornitori, venditori,
  fornitori di servizi, società controllanti, controllate, collegate, agenti, rappresentanti, danti causa, aventi causa e cessionari, passati, presenti e futuri (le “
  %strong> Parti ChefSteps
  ”) in relazione a pretese delle Parti ChefSteps o di
  terzi di qualsiasi tipo, per responsabilità aquiliana, contrattuale o di altro tipo (collettivamente, le “
  %strong> Pretese
  ”), compresi i danni alle cose o alle persone derivanti dal download, l’installazione e/o utilizzo dell’Applicazione Concessa
  in Licenza. In caso di Pretese aventi a oggetto la violazione dei diritti di proprietà intellettuale di terzi derivante dall’Applicazione Concessa in Licenza o dal suo uso o possesso da parte dell’utente, l’utente accetta di contattare direttamente
  e tempestivamente ChefSteps, restando inteso che il Fornitore dell’
  %em Application Store
  non sarà responsabile dell’indagine, della difesa, della transazione e della risoluzione di tali Pretese. L’utente accetta di collaborare con le Parti ChefSteps
  nell’ambito della difesa nei procedimenti relativi alle Pretese. L’utente accetta altresì che le Parti ChefSteps assumeranno il controllo esclusivo della difesa o transazione delle Pretese di terzi. La presente manleva integra, senza sostituirle, le
  manleve contenute nei contratti eventualmente stipulati per iscritto tra l’utente e ChefSteps.
%p
  %strong 11.	Limitazione della responsabilità.
  NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE APPLICABILE, CHEFSTEPS O LE PARTI CHEFSTEPS NON SARANNO IN NESSUN CASO RESPONSABILI DI DANNI DIRETTI, INDIRETTI, SPECIALI, ESEMPLARI O PUNITIVI DI QUALSIASI
  TIPO (COMPRESI, A TITOLO MERAMENTE ESEMPLIFICATIVO, LUCRO CESSANTE, PERDITA DI USO O DI DATI, PERDITA O DIMINUZIONE NEL VALORE DELLE IMMOBILIZZAZIONI O DEI TITOLI, O DANNI PER INTERRUZIONE DELL’ATTIVITÀ) DERIVANTI DA O IN QUALSIASI MODO COLLEGATI AL
  DOWNLOAD, ALL’INSTALLAZIONE O ALL’UTILIZZO DELL’APPLICAZIONE CONCESSA IN LICENZA (COMPRESI, A TITOLO MERAMENTE ESEMPLIFICATIVO, I DANNI CAUSATI O RISULTANTI DALL’AFFIDAMENTO, DA PARTE DELL’UTENTE, SULLE INFORMAZIONI OTTENUTE DA CHEFSTEPS O DA ERRORI,
  OMISSIONI, INTERRUZIONI, CANCELLAZIONI DI FILE O EMAIL, VIZI, BUG, VIRUS, CAVALLI DI TROIA, RITARDI NELLA GESTIONE O NELLA TRASMISSIONE O QUALSIASI DIFETTO DI ESECUZIONE, RISULTANTE O MENO DA CAUSE DI FORZA MAGGIORE, MANCATE COMUNICAZIONI, FURTO, DISTRUZIONE
  O ACCESSO NON AUTORIZZATO AI DOCUMENTI, PROGRAMMI O SISTEMI DI CHEFSTEPS), INDIPENDENTEMENTE DALLA FORMA DELL’AZIONE, FONDATI SU CONTRATTO, ILLECITO (COMPRESA, A TITOLO MERAMENTE ESEMPLIFICATIVO, LA SEMPLICE NEGLIGENZA ATTIVA, PASSIVA O IMPUTATA), RESPONSABILITÀ
  OGGETTIVA O SU ALTRA TEORIA GIURIDICA O EQUITATIVA (ANCHE SE LA PARTE È STATA AVVERTITA DELLA POSSIBILITÀ DI TALI DANNI E INDIPENDENTEMENTE DAL FATTO CHE TALI DANNI FOSSERO PREVEDIBILI).
%p
  NELLA MISURA MASSIMA CONSENTITA DALLA LEGGE APPLICABILE, LA RESPONSABILITÀ COMPLESSIVA, CONTRATTUALE O EXTRACONTRATTUALE, DI CHEFSTEPS E DELLE PARTI CHEFSTEPS (IN SOLIDO TRA LORO) RELATIVA ALL’APPLICAZIONE CONCESSA IN LICENZA NON POTRÀ IN NESSUN CASO
  SUPERARE L’IMPORTO DI DIECI DOLLARI ($10,00).
%p Alcuni ordinamenti non consentono l’esclusione o la limitazione di responsabilità per danni diretti o indiretti, rendendo inapplicabile l’esclusione o limitazione di responsabilità di cui sopra.
%p
  %strong 12.	Divieto di esportazione.
  L’utente non potrà utilizzare o in altro modo esportare o riesportare l’Applicazione Concessa in Licenza o i suoi contenuti, salvo ove previsto dalla normativa statunitense o dalle leggi dell’ordinamento in
  cui l’Applicazione Concessa in Licenza o i contenuti sono stati ottenuti. Nello specifico, a titolo meramente esemplificativo, l’Applicazione Concessa in Licenza e i suoi contenuti non potranno essere esportati o riesportati (a) in Paesi sottoposti
  a embargo da parte degli Stati Uniti; o (b) verso soggetti elencati nelle liste di esclusione del Dipartimento del Tesoro o del Dipartimento del Commercio degli Stati Uniti.
%p
  %strong 13.	Conformità alla legge.
  Scaricando, installando e utilizzando l’Applicazione Concessa in Licenza, l’utente dichiara (a) di non trovarsi in un Paese sottoposto a embargo o ritenuto “sostenitore del terrorismo” da parte del governo degli
  Stati Uniti; o (b) di non essere elencato nelle liste di esclusione del governo degli Stati Uniti. L’utente accetta di osservare le leggi, le norme e i regolamenti applicabili, comprese, a titolo meramente esemplificativo, le leggi statunitensi in materia
  di controllo all’esportazione.
%p
  %strong 14.	Natura commerciale dei beni.
  Qualora l’Applicazione Concessa in Licenza sia acquisita da agenzie governative degli Stati Uniti, tali agenzie dichiarano che (a) l’Applicazione Concessa in Licenza si configura come “software commerciale”
  o “documentazione per software commerciale” ai fini del Titolo 48, §12.212 e §227.7202, del
  %em Code of Federal Regulations
  (CFR) statunitense, in quanto applicabili; e (b) i diritti di tali agenzie si limitano a quanto specificato nel presente
  Contratto.
%p
  %strong 15.	Terzi beneficiari.
  Il Fornitore dell’
  %em Application Store
  e le sue controllate sono ritenuti terzi beneficiari ai fini del presente Contratto. Con l’accettazione del presente Contratto da parte dell’utente, il Fornitore dell’
  %em Application Store
  acquisisce il diritto (che si ritiene accettato dal medesimo) di far valere il presente Contratto nei confronti dell’utente in qualità di terzo beneficiario.
%p
  %strong 16.	Cessazione.
  Ferme restando le disposizioni contenute nel presente Contratto, ChefSteps si riserva il diritto, senza preavviso e a sua completa discrezione, di far cessare il diritto dell’utente di accedere o utilizzare l’Applicazione
  Concessa in Licenza, e di bloccare o impedire il futuro accesso e utilizzo della stessa da parte dell’utente. L’utente ha facoltà di recedere in qualsiasi momento dal presente Contratto, senza obbligo di preavviso, disinstallando l’Applicazione Concessa
  in Licenza.
%p
  %strong 17.	Nullità parziale.
  Qualora qualsiasi termine, clausola o disposizione del presente Contratto fosse ritenuta invalida o non applicabile, la stessa sarà considerata scindibile dal presente Contratto e non pregiudicherà la validità o
  l’applicabilità della parte residua di tale termine, clausola o disposizione, né degli altri termini, clausole o disposizioni del presente Contratto.
%p
  %strong 18.	Legge applicabile.
  Il presente Contratto sarà disciplinato e interpretato, e vi sarà data esecuzione, conformemente alle leggi dello Stato di Washington, senza alcun riferimento al diritto internazionale privato che potrebbe comportare
  l’applicazione delle leggi di un altro ordinamento.
%p
  %strong 19.	Recapiti.
  In caso di domande o dubbi sull’Applicazione Concessa in Licenza o sul presente Contratto, è possibile contattare ChefSteps all’indirizzo:
%p ChefSteps, Inc.
%p Alla C.A. di: ChefSteps Legal Team
%p 1501 Pike Place, Suite 300,
%p Seattle, WA 98101
%p Telefono: 206-905-1099
%p Email: info@chefsteps.com
