%h3 Acuerdo de Licencia de Usuario Final
%p Última Actualización: 9/11/2017
%p
  Este Acuerdo de Licencia de Usuario Final ("
  %strong> Acuerdo
  ") regirá su descarga, instalación y uso de la aplicación móvil (la "
  %strong> Aplicación Licenciada
  ") proporcionada por ChefSteps Inc. ("
  %strong> ChefSteps
  "). SI USTED
  RESIDE FUERA DE LOS ESTADOS UNIDOS, PUEDEN APLICARLE TÉRMINOS Y CONDICIONES ADICIONALES QUE YA SEA, SUPLEMENTEN, O REEMPLACEN, CIERTAS DISPOSICIONES EN ESTE ACUERDO. POR FAVOR REVISE EL FINAL DE ESTE DOCUMENTO PARA DETERMINAR SI TÉRMINOS Y CONDICIONES
  ADICIONALES LE APLICAN.
%p
  ChefSteps se reserva el derecho a cambiar o modificar este Acuerdo en cualquier momento y a su única discreción. Si ChefSteps realiza cambios a este Acuerdo, proporcionará notificación de tales cambios, tal como enviando una notificación por correo electrónico,
  proporcionando notificación a través de la Aplicación Licenciada o al actualizar la fecha de
  %strong> “Última Actualización
  ” al principio de este acuerdo. Al continuar con el acceso o uso de la Aplicación Licenciada después de la notificación
  de tales cambios de ChefSteps, usted confirma su aceptación del Acuerdo modificado y de todos los términos incorporados al presente por referencia.
%p
  POR FAVOR LEA ESTE ACUERDO CUIDADOSAMENTE. CONTIENE TÉRMINOS IMPORTANTES QUE LO AFECTAN A USTED Y SU USO DE LA APLICACIÓN LICENCIADA. AL INSTALAR LA APLICACIÓN MÓVIL, ACEPTA LIMITARSE POR LOS TÉRMINOS DE ESTE ACUERDO Y NUESTROS
  %a{:href => "https://www.chefsteps.com/terms"} TÉRMINOS DE USO
  Y VENTA, QUE SE INCORPORAN POR REFERENCIA. SI NO ESTÁ DE ACUERDO CON LOS TÉRMINOS DE ESTE ACUERDO Y NUESTROS TÉRMINOS DE USO Y VENTA, NO INSTALE, ACCEDA O UTILICE LA APLICACIÓN LICENCIADA.
%p
  Este Acuerdo es un acuerdo vinculante entre usted y ChefSteps, y no con el proveedor de tienda de aplicaciones móviles, a través del cual usted instaló la Aplicación Licenciada ("
  %strong> Proveedor de Tienda de Aplicaciones
  "). ChefSteps, y no
  el Proveedor de Tienda de Aplicaciones, es el único responsable de la Aplicación Licenciada y el contenido de la misma.
%p
  %strong> 1.Consentimiento de Comunicados Electrónicos
  \. Puede requerirse por ley que ChefSteps le envíe comunicados que se relacionen a la Aplicación Licenciada y su uso de la misma. Usted otorga su consentimiento para recibir
  estos comunicados de manera electrónica (por ejemplo, mediante correo electrónico, a través del sitio web de ChefSteps o mediante la Aplicación Licenciada).
%p
  %strong> 2.Propiedad de Aplicación Licenciada
  \. La Aplicación Licenciada es propiedad valiosa de ChefSteps y sus licenciantes y está protegida por derechos de autor y otras leyes y tratados de propiedad intelectual. ChefSteps,
  y sus licenciantes, poseen todos los derechos, títulos e intereses en o sobre la Aplicación Licenciada, que incluye todos los derechos de autor y otros derechos de propiedad intelectual en el mismo. ChefSteps se reserva todos los derechos no expresamente
  otorgados a usted.
%p
  %strong> 3.Alcance de la Licencia de la Aplicación Licenciada
  \. La Aplicación Licenciada se le licencia, no se le vende. Sujeto a los términos y condiciones de este Acuerdo, ChefSteps le concede una licencia limitada, no exclusiva,
  intransferible, no sublicenciable, mundial, para descargar, instalar y utilizar la Aplicación Licenciada en ciertos dispositivos o productos autorizados por el Proveedor de Tienda de Aplicaciones (cada uno, un "
  %strong> Dispositivo
  ") que usted
  posee o controla, como lo permitan por cualquiera de los términos y condiciones aplicables proporcionados por el Proveedor de Tienda de Aplicaciones ("
  %strong> Reglas de Uso
  "). Los términos de esta licencia regirán las actualizaciones proporcionadas
  por ChefSteps que reemplacen o complementen la Aplicación Licenciada original , a menos que una actualización se acompañe de una licencia separada, en cuyo caso, regirán los términos de esa licencia separada.
%p
  %strong> 4.Restricciones de la Licencia
  \. Lo anterior establece la totalidad de sus derechos con respecto a las Aplicaciones Licenciadas y nos reservamos los derechos en y sobre las Aplicaciones Licenciadas que no se le concedan
  expresamente en este Acuerdo. La licencia que se le concede en la Sección 3, no le permite hacer nada de lo siguiente:
  (a) utilizar la Aplicación Licenciada en cualquier Dispositivo que usted no posea o controle;
  (b) distribuir, copiar, licenciar, alquilar, vender, revender, publicar, arrendar o transferir de cualquier otra forma la Aplicación Licenciada (excepto cuando así se permita expresamente por este Acuerdo o las Reglas de Uso) o cualquier material propiedad de ChefSteps, a terceros;
  (c) descifrar (excepto en los casos en que tenga derecho a hacerlo bajo los derechos obligatorios aplicables), descompilar, desensamblar o intentar descubrir cualquier código fuente o secretos comerciales relacionados con la Aplicación Licenciada o cualquier material propiedad de ChefSteps, salvo y en la medida permitida por la ley aplicable;
  (d) modificar, alterar o crear cualquier obra derivada o versiones posteriores de la Aplicación Licenciada,
  (e) eliminar, alterar u ocultar cualquier aviso de derechos de autor, marcas comerciales u otros derechos de propiedad en o sobre la Aplicación Licenciada; 
  (f) solucionar temporalmente cualquier limitación técnica en la Aplicación Licenciada; o
  (g) utilizar la Aplicación Licenciada para propósitos que no sean su uso personal,
  no comercial o para los cuales no se diseñó. A menos que se manifieste explícitamente en la presente, o de otra forma, por ChefSteps, nada en este Acuerdo debe interpretarse como que se confiere algún derecho o licencia a los derechos de propiedad intelectual,
  ya sea por impedimento, implicación o de otro modo. Si usted incumple cualquiera de estas restricciones, puede estar sujeto a procesamiento judicial y daños. Esta licencia es revocable en cualquier momento, tal como si usted incumple este Acuerdo.
%p
  %strong> 5.Aviso de Privacidad
  \. De acuerdo con el Aviso de Privacidad de ChefSteps, ChefSteps puede recabar, utilizar y compartir información acerca de usted, que incluye, pero no se limita a, información acerca de su uso de
  la Aplicación Licenciada, Dispositivo, sistema y software de aplicación, y periféricos, que se recaba en relación con su acceso a, y uso, de la Aplicación Licenciada. Para información adicional sobre cómo ChefSteps recaba, utiliza y comparte información
  acerca de usted en relación con su uso de la Aplicación Licenciada, por favor refiérase al Aviso de Privacidad de ChefSteps.
%p
  %strong> 6.Servicios de Soporte
  \. ChefSteps no está obligado a proporcionar ningún servicio de soporte o mantenimiento para la Aplicación Licenciada en este momento. Si tiene cualquier pregunta con respecto a la Aplicación Licenciada,
  por favor contacte a ChefSteps en
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 7.Reclamaciones del Producto
  \. ChefSteps, no el Proveedor de Tienda de Aplicaciones, es responsable de dirigir cualquier pregunta, comentario o reclamación con relación a la Aplicación Licenciada o su posesión y uso de
  la Aplicación Licenciada, que incluye, pero no se limita a (a) reclamaciones por responsabilidad del producto, (b) cualquier reclamación de que la Aplicación Licenciada falle para conformar el requerimiento legal o regulatorio aplicable; o (c) reclamaciones
  que surjan bajo la protección del consumidor o legislación similar. Si tiene cualquier pregunta, por favor contacte a ChefSteps en
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 8.Términos Adicionales
  \. La Aplicación Licenciada puede permitir el acceso sitios web, aplicaciones móviles y otros productos y servicios en línea proporcionados por ChefSteps y terceros. Su acceso y uso de estos sitios
  web, aplicaciones móviles u otros productos y servicios en línea pueden requerir su aceptación de, y cumplimiento con, términos y políticas adicionales proporcionados por ChefSteps y/o terceros, según sea el caso, que incluyen pero no se limitan a los
  %a{:href => "https://www.chefsteps.com/terms"} Términos de Uso
  y Venta de ChefSteps (conjuntamente “
  %strong> Términos Adicionales
  ").
%p
  %strong> 9.Sin garantía
  \. USTED RECONOCE Y ESTÁ DE ACUERDO QUE (A) LA APLICACIÓN LICENCIADA PUEDE CONTENER ERRORES LÓGICOS, ERRORES Y DEFECTOS DE LOS QUE NO ESTAMOS CONSCIENTES; (B) LA DESCARGA, INSTALACIÓN Y USO DE LA APLICACIÓN
  LICENCIADA ES BAJO SU PROPIO RIESGO; Y (C) TODO EL RIESGO CON RESPECTO A LA CALIDAD SATISFACTORIA, RENDIMIENTO, EXACTITUD Y ESFUERZO LO ASUME USTED. POR CONSIGUIENTE, LA APLICACIÓN LICENCIADA SE PROPORCIONA “TAL CUAL”, “COMO SE ENCUENTRE DISPONIBLE”
  CON TODOS LOS FALLOS, DEFECTOS Y ERRORES Y SIN GARANTÍA DE NINGUNA CLASE. CHEFSTEPS RENUNCIA A TODAS LAS GARANTÍAS (EXPRESAS E IMPLÍCITAS Y QUE SURJAN POR LEY O DE OTRO MODO) CON RESPECTO A LA APLICACIÓN LICENCIADA Y SU RENDIMIENTO O ADECUACIÓN PARA
  SU USO DESTINADO, INCLUYENDO, SIN LIMITACIÓN, CUALQUIER GARANTÍA IMPLÍCITA DE COMERCIABILIDAD, APTITUD PARA UN PROPÓSITO PARTICULAR, EXACTITUD Y NO INFRACCIÓN. CHEFSTEPS NO DEBE TENER RESPONSABILIDAD DE NINGÚN TIPO POR EL USO DE, O INCAPACIDAD DE USAR,
  LA APLICACIÓN LICENCIADA, O POR CUALQUIER PÉRDIDA DE DATOS. CHEFSTEPS NO DECLARA O GARANTIZA QUE LA APLICACIÓN LICENCIADA SE ENCONTRARÁ LIBRE DE CUALQUIER INTERRUPCIÓN, RETRASO, OMISIÓN O ERROR (CONJUNTAMENTE, "
  %strong> Fallas
  ”) O DE UNA MANERA
  SEGURA O QUE CUALQUIER FALLA SERÁ CORREGIDA. NINGUNA INFORMACIÓN O CONSEJO ORAL O ESCRITO OFRECIDO POR CHEFSTEPS O SUS REPRESENTANTES AUTORIZADOS DEBE CREAR NINGUNA GARANTÍA. EN EL CASO QUE LA APLICACIÓN CON LICENCIA ESTÉ DEFECTUOSA, USTED ASUMIRÁ EL
  COSTO TOTAL DE TODO EL SERVICIO, REPARACIÓN O CORRECCIÓN NECESARIOS.
%p
  EL PROVEEDOR DE TIENDA DE APLICACIONES NO TIENE OBLIGACIÓN DE GARANTÍA ALGUNA CON RESPECTO A LA APLICACIÓN LICENCIADA O CUALQUIER OTRAS RECLAMACIONES, PÉRDIDAS, RESPONSABILIDADES, DAÑOS, COSTOS O GASTOS ATRIBUIBLES A CUALQUIER FALLA DE LA APLICACIÓN LICENCIADA.
%p Las leyes de algunos estados o jurisdicciones no permiten la exclusión de garantías implícitas. En la medida que estas leyes apliquen, las exclusiones establecidas en lo anterior pueden no aplicarle.
%p
  %strong> 10.Indemnización
  \. En la mayor medida en que lo permita la ley aplicable, está de acuerdo en indemnizar, defender y eximir a ChefSteps y a nuestros pasados, presentes y futuros empleados, funcionarios, directores, contratistas,
  consultores, accionistas, suministradores, vendedores, proveedores de servicios, empresas matrices, subsidiarias, afiliados, agentes, representantes, predecesores, sucesores y cesionarios (las
  = succeed "\")," do
    %strong "Partes de ChefSteps
  = succeed "\")," do
    %strong Reclamaciones
%p
  %strong 11.Limitación de Responsabilidad
  EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, EN NINGÚN CASO CHEFSTEPS O CUALQUIERA DE LAS OTRAS PARTES DE CHEFSTEPS SON RESPONSABLES POR CUALQUIER DAÑO INDIRECTO, ESPECIAL, INCIDENTAL,
  CONSECUENTE, EJEMPLAR O PUNITIVO DE CUALQUIER TIPO (QUE INCLUYE PERO NO SE LIMITA A, LA PÉRDIDA DE INGRESOS TOTALES, INGRESOS O GANANCIAS, PÉRDIDA DE USO O DATOS, PÉRDIDA O DIMINUCIÓN DE VALORES DE ACTIVOS O VALORES, O DAÑOS POR INTERRUPCIÓN DE NEGOCIOS)
  QUE SURJAN DE O EN CUALQUIER FORMA SE RELACIONEN CON SU DESCARGA, INSTALACIÓN O USO DE LA APLICACIÓN LICENCIADA (QUE INCLUYE, PERO NO SE LIMITA A CUALQUIER DAÑO PROVOCADO O QUE RESULTE DE LA CONFIANZA DE CUALQUIER USUARIO EN CUALQUIER INFORMACIÓN OBTENIDA
  POR CHEFSTEPS, O DE FALTAS, OMISIONES, INTERRUPCIONES, SUPRESIONES DE ARCHIVOS O CORREOS ELECTRÓNICOS, ERRORES, DEFECTOS, ERRORES LÓGICOS, VIRUS, CABALLOS DE TROYA, RETRASOS EN LA OPERACIÓN O TRANSMISIÓN O CUALQUIER FALLA DE RENDIMIENTO, RESULTANDO
  O NO DE CASOS FORTUITOS, FALLA DE COMUNICACIÓN, ROBO, DESTRUCCIÓN O ACCESO NO AUTORIZADO A LOS REGISTROS, PROGRAMAS O SISTEMAS DE CHEFSTEPS), INDEPENDIENTEMENTE DE LA FORMA DE ACCIÓN, YA SEA CON BASE EN CONTRATO, RESPONSABILIDAD CIVIL (QUE INCLUYE,
  PERO NO SE LIMITA A, NEGLIGENCIA SIMPLE, ACTIVA, PASIVA O IMPUTADA), RESPONSABILIDAD ESTRICTA DEL PRODUCTO O CUALQUIER OTRA TEORÍA LEGAL O EQUITATIVA (INCLUSO SI LA PARTE HA SIDO ADVERTIDA DE LA POSIBILIDAD DE TALES DAÑOS E INDEPENDIENTEMENTE DE SI
  TALES DAÑOS FUERON PREVISIBLES).
%p
  EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE, EN NINGÚN CASO EL LÍMITE MÁXIMO DE RESPONSABILIDAD DE CHEFSTEPS Y LAS PARTES DE CHEFSTEPS (CONJUNTAMENTE), YA SEA QUE SURJA POR CONTRATO O DE UNA MANERA RELACIONADA CON LA APLICACIÓN LICENCIADA, DEBE
  EXCEDER DIEZ DÓLARES ($10.00).
%p Algunas jurisdicciones no permiten la exclusión o limitación de daños incidentales o consecuenciales, así que la limitación o exclusión anterior puede no aplicarle.
%p
  %strong> 12.No Exportación
  \. Usted no puede utilizar o de otro modo exportar o re-exportar la Aplicación Licenciada o cualquier contenido incluido en la misma, excepto como se autoriza por la ley de los Estados Unidos y las leyes
  de la jurisdicción en las cuales se obtuvo la Aplicación Licenciada o cualquier contenido. En particular, pero sin limitación, la Aplicación Licenciada y el contenido en la misma no puede exportarse o re-exportarse a (a) ningún país bajo embargo de
  los EE.UU., o (b) ninguno en la lista del Departamento del Tesoro de los EE.UU. de Nacionales Especialmente Designados o la Lista de Personas Denegadas del Departamento de Comercio de los EE. UU. o la Lista de Entidades.
%p
  %strong> 13.Conformidad Legal
  \. Al descargar, instalar y utilizar la Aplicación Licenciada, usted manifiesta y garantiza que (a) no se ubica en un país sujeto a un embargo gubernamental de los EE.UU. o que se ha designado por
  el Gobierno de los EE.UU. como un país "de apoyo terrorista"; y (b) usted no está listado en ninguna lista del Gobierno de los EE. UU. de las partes prohibidas o restringidas. Cumplirá con todas las leyes, reglas y regulaciones aplicables, que incluyen
  pero no se limitan a, las leyes de control de exportación de los EE.UU.
%p
  %strong> 14.Artículos Comerciales
  \. Si se adquiere por cualquier agencia del Gobierno de los EE.UU., dicha agencia reconoce que (a) la Aplicación Licenciada constituye un "software de computadora comercial" o "documentación de
  software de computadora comercial" para propósitos de 48 C.F.R. §12.212 y 48 C.F.R. §227.7202, según corresponda; y (b) los derechos de dicha agencia se limitan a aquellos específicamente concedidos bajo este Acuerdo.
%p
  %strong> 15.Terceros Beneficiarios
  \. El Proveedor de Tienda de Aplicación y cualquiera de sus subsidiarios son terceros beneficiarios de este Acuerdo. Tras la aceptación de este Acuerdo, el Proveedor de Tienda de Aplicaciones
  tendrá el derecho (y se considerará que ha aceptado el derecho) de hacer cumplir este Acuerdo en contra de usted como un tercer beneficiario del mismo.
%p
  %strong> 16.Terminación
  \. No obstante lo contenido en este Acuerdo, ChefSteps se reserva el derecho, sin notificación y a nuestra única discreción, de terminar su derecho de acceso o uso de la Aplicación Licenciada, y bloquear
  o evitar su acceso y uso futuro de la Aplicación Licenciada. También tiene el derecho de terminar el Acuerdo sin notificación, a su única discreción y en cualquier momento, al desinstalar la Aplicación Licenciada.
%p
  %strong 17.Divisibilidad.
  Si cualquier término, cláusula o disposición de este Acuerdo se considera inválida o no ejecutable, entonces ese término, cláusula o disposición se separará de este Acuerdo y no afectará la validez
  o aplicabilidad de cualquier parte de ese término, cláusula o disposición, o cualquier otro término, cláusula o disposición de este Acuerdo.
%p
  %strong 18.Ley que Rige.
  Este Acuerdo debe regirse por, e interpretarse y ejecutarse de acuerdo con las leyes del Estado de Washington, sin considerar el conflicto de leyes o principios de ley que pudieran provocar la aplicación
  de las leyes de cualquier otra jurisdicción.
%p
  %strong> 19.Contacto
  \. Si tiene cualquier pregunta o inquietud con respecto a la Aplicación Licenciada o este Acuerdo, por favor contacte a ChefSteps en:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
