%h3 Slutanvändarlicensavtal
%p Senast uppdaterat: 9/11/2017
%p
  Detta slutanvändarlicensavtal ("
  %strong> Avtalet
  ") reglerar nedladdning, installation och användande av mobilapplikation ("
  %strong> Licensierad Applikation
  ") som tillhandahålls av ChefSteps Inc. ("
  %strong> ChefSteps
  "). OM DU ÄR
  BOSATT UTANFÖR FÖRENTA STATERNA, KAN YTTERLIGARE VILLKOR VARA TILLÄMPBARA PÅ DIG SOM ANTINGEN ÄR TILLÄGG TILL ELLER ERSÄTTER VISSA BESTÄMMELSER I DETTA AVTAL. VÄNLIGEN GÅ IGENOM SLUTET AV DETTA DOKUMENT FÖR ATT AVGÖRA HURUVIDA NÅGRA YTTERLIGARE VILLKOR
  TILLÄMPAS PÅ DIG.
%p
  ChefSteps förbehåller sig rätten att ändra eller justera Avtalet vid var tid och efter eget gottfinnande. Om ChefSteps gör ändringar i Avtalet, meddelar ChefSteps sådana ändringar t.ex. genom e-postmeddelande, via notiser genom Licensierad Applikation
  eller genom uppdatering av datumet i ”
  %strong> Senast Uppdaterat
  ” i början av Avtalet. Genom att ha tillgång till eller använda Licensierad Applikation efter ChefSteps meddelande om sådana förändringar bekräftar du ditt godkännande av det reviderade
  Avtalet och samtliga villkor häri genom hänvisning.
%p
  VÄNLIGEN LÄS AVTALET NOGGRANT. DET INNEHÅLLER VIKTIGA VILLKOR SOM PÅVERKAR DIG OCH DIN ANVÄNDNING AV LICENSIERAD APPLIKATION. GENOM ATT INSTALLERA DEN MOBILA APPLIKATIONEN ACCEPTERAR DU ATT VARA BUNDEN AV DETTA AVTALS VILLKOR OCH VÅRA ANVÄNDARVILLKOR
  OCH FÖRSÄLJNINGSVILLKOR, VILKA INNEFATTAS I DETTA AVTAL GENOM HÄNVISNING. OM DU INTE GODKÄNNER VILLKOREN I AVTALET OCH VÅRA ANVÄNDARVILLKOR OCH FÖRSÄLJNINGSVILLKOR, INSTALLERA, TILLGÅ ELLER ANVÄND INTE LICENSIERAD APPLIKATION.
%p
  Avtalet är ett bindande avtal mellan dig och ChefSteps, och inte med leverantören av mobilapplikationer genom vilken du installerade Licensierad Applikation ("
  %strong> Applikationsleverantören
  "). Det är ChefSteps, och inte Applikationsleverantören,
  som ensamt svarar för Licensierad Applikation och innehållet däri.
%p
  %strong> 1.	Samtycke till elektronisk kommunikation
  \. ChefSteps kan genom lag vara skyldig att översända meddelanden till dig som rör Licensierad Applikation och din användning därav. Du samtycker till att motta dessa meddelanden digitalt (t.ex.
  via e-post, via ChefSteps hemsida eller via Licensierad Applikation).
%p
  %strong> 2.	Äganderätt till Licensierad Applikation
  \. Licensierad Applikation är ChefSteps värdefulla egendom samt dess licensgivare och är skyddad av upphovsrätt och annan immaterialrättslig lagstiftning. ChefSteps, och dess licensgivare, innehar
  samtliga rättigheter, ägande och intresse i och till Licensierad Applikation, inklusive all copyright och andra immateriella rättigheter därtill. ChefSteps förbehåller sig alla rättigheter som inte uttryckligen lämnats till dig.
%p
  %strong> 3.	Omfattning av licens till Licensierad Applikation
  \. Licensierad Applikation är licenserad, inte såld, till dig. Med förbehåll för villkoren i Avtalet, lämnar ChefSteps dig en begränsad, icke-exklusiv, icke-överförbar, icke-underlicensbar,
  världsvid licens att ladda ner, installera och använda Licensierad Applikation på vissa av Applikationsleverantören godkända enheter eller produkter (var för sig, "
  %strong> Enhet
  ") som du äger eller kontrollerar inom ramen för Applikationsleverantörens
  tillämpliga villkor ("
  %strong> Användningsregler
  "). Villkoren för denna licens gäller för alla uppgraderingar från ChefSteps som ersätter eller gör tillägg till ursprunglig Licensierad Applikation, om inte en uppgradering åtföljs av en separat
  licens varpå villkoren för den separata licensen ska gälla.
%p
  %strong> 4.	Licensbegränsningar
  \. Föregående anger alla dina rättigheter avseende Licensierad Applikation och vi förbehåller oss alla rättigheter i och till Licensierad Applikation som inte uttryckligen lämnats dig i Avtalet. Licensen som beviljats
  dig i Avsnitt 3 tillåter dig inte att göra något av följande:
  (a) använda Licensierad Applikation på någon Enhet du inte äger eller kontrollerar;
  (b) distribuera, kopiera, licensiera, uthyra, sälja, återförsälja, publicera, leasa eller på annat sätt överföra Licensierad Applikation (förutom på sätt som uttryckligen tillåts i Avtalet eller Användningsreglerna) eller något skyddat material tillhörande ChefSteps till någon tredje part; 
  (c) ”reverse engineer” (förutom i fall där du har rätt att göra så enligt tillämpliga tvingande rättigheter), dekompilera, nedmontera eller försöka hitta källkod eller företagshemligheter gällande Licensierad Applikation eller något skyddat material tillhörande ChefSteps, förutom där så är tillåtet enligt tillämplig lag;
  (d) justera, ändra eller skapa beroendeverk eller efterföljande versioner av Licensierad Applikation;
  (e) bortta, ändra eller dölja någon upphovsrätt, varumärkesrätt eller annat immaterialrättsligt meddelande på eller i Licensierad Applikation;
  (f) kringgå några tekniska begränsningar i Licensierad Applikation; eller
  (g) använda Licensierad Applikation i annat syfte än för ditt eget personliga, icke-kommersiella användande, eller för ett syfte det inte är utformat för. Om det inte uttryckligen
  angetts häri eller på annat sätt av ChefSteps, ska inget i Avtalet tolkas som en upplåtelse av någon rättighet eller immaterialrättslig licens, vare sig genom lagligt hinder, innebörd eller på annat sätt. Om du bryter mot någon av dessa restriktioner
  kan du bli föremål för åtal och skadeståndsskyldighet. Denna licens kan återkallas när som helst, t.ex. om du bryter mot Avtalet.
%p
  %strong> 5.	Integritetspolicy
  \. I enlighet med ChefSteps Integritetspolicy kan ChefSteps komma att samla in, använda och dela information om dig, inklusive men inte begränsat till information om ditt användande av Licensierad Applikation, Enhet,
  system och applikationsprogramvara, samt kringutrustning, som insamlas i samband med din tillgång till och användning av Licensierad Applikation. För vidare information om hur ChefSteps samlar in, använder och delar information om dig i samband med
  ditt användande av Licensierad Applikation, vänligen se ChefSteps
  %a{:href => "https://www.chefsteps.com/privacy"} Integritetspolicy.
%p
  %strong> 6.	Supporttjänster
  \. ChefSteps är i vid den här tiden inte skyldiga att lämna någon sorts support eller underhåll avseende Licensierad Applikation. Om du har några frågor angående Licensierad Applikation, vänligen kontakta ChefSteps på
  adressen
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 7.	Produktansvar
  \. ChefSteps, inte Applikationsleverantören, ansvarar för att hantera frågor, kommentarer eller krav avseende Licensierad Applikation eller ditt innehav och användning av Licensierad Applikation, inklusive men inte begränsat
  till (a) produktansvarskrav; (b) påståenden att Licensierad Applikation inte lever upp till tillämplig lagstiftning eller lagstadgade krav; eller (c) krav som uppstår i samband med konsumentskydd eller liknande lagstiftning. Om du har några frågor,
  vänligen kontakta ChefSteps på
  = succeed "." do
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  %strong> 8.	Tilläggsvillkor
  \. Licensierad Applikation kan ge tillgång till hemsidor, mobila applikationer och andra digitala produkter och tjänster som erbjuds av ChefSteps och tredje part. Din tillgång till och användande av dessa hemsidor, mobilapplikationer
  eller andra digitala tjänster kan komma att kräva ditt godkännande och efterföljande av tillkommande villkor or policys från ChefSteps och/eller tredje part, där så är tillämpligt, inklusive men inte begränsat till ChefSteps Användarvillkor och Försäljningsvillkor
  (tillsammans "
  %strong> Tilläggsvillkoren
  ").
%p
  %strong> 9.	Garantifriskrivning
  \. DU BEKRÄFTAR OCH SAMTYCKER TILL ATT (A) LICENSIERAD APPLIKATION KAN INNEHÅLLA BUGGAR, FEL OCH DEFEKTER SOM VI INTE ÄR MEDVETNA OM; (B) NEDLADDNING, INSTALLATION OCH ANVÄNDNING AV LICENSIERAD APPLIKATION SKER PÅ
  DIN EGEN RISK; OCH (C) HELA RISKEN FÖR TILLFREDSSTÄLLANDE KVALITET, PRESTANDA, TILLFÖRLITLIGHET OCH INSATS LIGGER HOS DIG. FÖLJAKTLIGEN TILLHANDAHÅLLS LICENSIERAD APPLIKATION ”I BEFINTLIGT SKICK”, ”SOM TILLGÄNGLIG”, MED ALLA FELAKTIGHETER, SKADOR OCH
  FEL OCH UTAN NÅGON SOM HELST GARANTI. CHEFSTEPS FRISKRIVER SIG FRÅN ALLA GARANTIER (UTTRYCKTA OCH UNDERFÖRSTÅDDA OCH HÄRRÖRANDE FRÅN LAG ELLER PÅ ANNAT SÄTT) AVSEENDE LICENSIERAD APPLIKATION OCH DESS UTFÖRANDE ELLER LÄMPLIGHET FÖR DITT AVSEDDA ANVÄNDANDE
  INKLUSIVE, UTAN BEGRÄNSNING, NÅGON UNDERFÖRSTÅDD SÄLJBARHETSGARANTI, LÄMPLIGHET FÖR ETT VISST ÄNDAMÅL, TILLFÖRLITLIGHET OCH ICKE-INTRÅNG. CHEFSTEPS SKA INTE HA NÅGOT SOM HELST ANSVAR FÖR ANVÄNDNINGEN AV, ELLER OFÖRMÅGAN ATT ANVÄNDA, LICENSIERAD APPLIKATION
  ELLER FÖR FÖRLUST AV DATA. CHEFSTEPS PÅSTÅR INTE OCH GARANTERAR INTE ATT LICENSIERAD APPLIKATION KOMMER LEVERERAS UTAN AVBROTT, FÖRSENINGAR, FÖRBISEENDE ELLER FEL (GEMENSAMT BENÄMNT "
  %strong> Fel
  ") ELLER PÅ ETT SÄKERT SÄTT ELLER ATT NÅGOT FEL
  KOMMER KORRIGERAS. INGEN MUNTLIG ELLER SKRIFTLIG INFORMATION ELLER RÅD FRÅN CHEFSTEPS ELLER DESS FÖRETRÄDARE SKA UTGÖRA NÅGON GARANTI. I DE FALL LICENSIERAD APPLIKATION ÄR DEFEKT BÄR DU HELA KOSTNADEN FÖR ALL NÖDVÄNDIG SERVICE, REPARATIONER ELLER KORRIGERING.
%p APPLIKATIONSLEVERANTÖREN HAR INGET GARANTIANSVAR ÖVERHUVUDTAGET AVSEENDE LICENSIERAD APPLIKATION ELLER NÅGRA ANDRA KRAV, FÖRLUSTER, SKULDER, SKADOR, KOSTNADER ELLER UTGIFTER HÄNFÖRLIGA TILL NÅGON BRIST I LICENSIERAD APPLIKATION.
%p Lagarna i vissa stater eller jurisdiktioner tillåter inte undantag från underförstådda garantier. I den utsträckning sådana lagar är tillämpliga kan inte undantagen enligt ovan komma att vara tillämpliga i ditt fall.
%p
  %strong> 10.	Ansvarsbefrielse
  \. I den utsträckning som tillämplig lag tillåter samtycker du till att ansvarsbefria, försvara och hålla ChefSteps och dess tidigare, nuvarande och framtida anställda, tjänstemän, företagsledning, underleverantörer,
  konsulter, aktieägare, leverantörer, tjänsteleverantörer, moderbolag, dotterbolag, koncernbolag, agenter, representanter, föregångare, efterträdare och arvingar ("
  %strong> ChefSteps Parter
  ") skadeslösa från alla ChefSteps Parters eller tredje
  parters krav av vilketsomhelst slag, vare sig skadeståndsrättsligt, kontraktsrättsligt eller i övrigt (gemensamt benämnt "
  %strong> Krav
  "), inklusive sak- eller personskada, som härrör från eller är hänförligt till din nedladdning, installation
  och/eller användande av Licensierad Applikation. I det fall Krav framställs som påstår att Licensierad Applikation eller ditt innehav eller användande därav bryter mot någon tredje parts immateriella rättigheter, samtycker du till att kontakta ChefSteps
  omedelbart och direkt. Applikationsleverantören kommer inte att vara ansvarig för utredning, försvar, uppgörelse eller befrielse från sådant immaterialrättsligt Krav. Du samtycker till att samarbeta med ChefSteps Parter i försvar mot sådant Krav. Du
  samtycker vidare till att ChefSteps Parter har kontroll över försvaret eller uppgörelsen av något som helst Krav från tredje part. Denna ansvarsbefrielse gäller i tillägg till, och inte istället för, ansvarsbefrielser som framgår av något annat skriftligt
  avtal mellan dig och ChefSteps.
%p
  %strong> 11.	Ansvarsbegränsning
  \. I DEN UTSTRÄCKNING SOM TILLÅTS ENLIGT TILLÄMPLIG LAG SKA INTE I NÅGOT FALL CHEFSTEPS ELLER NÅGON AV CHEFSTEPS PARTER HÅLLAS ANSVARIGA FÖR NÅGON INDIREKT, SÄRSKILD, TILLFÄLLIG, PÅFÖLJANDE SKADA ELLER SKADESTÅND
  I AVSKRÄCKANDE SYFTE AV NÅGOT SLAG (INKLUSIVE MEN INTE BEGRÄNSAT TILL FÖRLUST AV INTÄKTER, INKOMSTER ELLER VINSTER, FÖRLUST AV ANVÄNDNING ELLER DATA, FÖRLUST ELLER VÄRDEMINSKNING FÖR TILLGÅNGAR ELLER VÄRDEPAPPER, ELLER SKADESTÅND FÖR AVBROTT I VERKSAMHETEN)
  SOM HAR SITT URSPRUNG I ELLER PÅ ANNAT SÄTT ÄR HÄNFÖRLIGT TILL DIN NEDLADDNING, INSTALLATION ELLER ANVÄNDNING AV LICENSIERAD APPLIKATION (INKLUSIVE MEN INTE BEGRÄNSAT TILL SKADA ORSAKAD AV ELLER HÄNFÖRLIG TILL TILLIT TILL UPPGIFTER FRÅN NÅGON ANVÄNDARE
  ELLER FRÅN CHEFSTEPS, ELLER FRÅN MISSTAG, UTELÄMNANDE, AVBROTT, RADERANDE AV FILER ELLER E-POST, FEL, DEFEKTER, BUGGAR, VIRUS, TROJANSKA HÄSTAR, FÖRSENINGAR I DRIFT ELLER ÖVERFÖRING ELLER NÅGOT SOM HELST BRISTANDE UPPFYLLELSE, VARE SIG DETTA BEROR PÅ
  FORCE MAJEURE, KOMMUNIKATIONSFEL, STÖLD, FÖRSTÖRELSE ELLER OBEHÖRIG TILLGÅNG TILL CHEFSTEPS ARKIV, PROGRAM ELLER SYSTEM), OAVSETT TYP AV ÅTGÄRD, VARE SIG KONTRAKTSRÄTTSLIG, SKADESTÅNDSRÄTTSLIG (INKLUSIVE MEN INTE BEGRÄNSAT TILL VANLIG OAKTSAMHET, VARE
  SIG AKTIV, PASSIV ELLER HÄNFÖRLIG), STRIKT PRODUKTANSVAR ELLER NÅGON ANNAN RÄTTSLIG ELLER LIKVÄRDIG TEORI (ÄVEN OM PART HAR INFORMERATS OM RISKEN FÖR SÅDANA SKADOR OCH OAVSETT OM SÅDANA SKADOR VAR FÖRUTSEBARA).
%p
  I DEN UTSTRÄCKNING SOM TILLÅTS ENLIGT TILLÄMPLIG LAG SKA INTE I NÅGOT FALL SUMMAN AV CHEFSTEPS OCH CHEFSTEPS PARTERS (GEMENSAMMA) ANSVARSSKYLDIGHET ÖVERSTIGA TIO DOLLAR (USD 10.00), VARE SIG DET HÄRRÖR UR AVTAL ELLER PÅ NÅGOT SÄTT ÄR HÄNFÖRLIGT TILL LICENSIERAD
  APPLIKATION.
%p Vissa jurisdiktioner tillåter inte undantag eller begränsning av skadestånd för oavsiktliga skador eller följdskador, varför ovanstående begränsning eller undantag kanske inte är tillämpligt i ditt fall.
%p
  %strong> 12.	Ingen export
  \. Du får inte använda eller på annat sätt exportera eller återexportera Licensierad Applikation eller något innehåll däri, förutom när så tillåts av Förenta Staternas lagar och lagarna i de jurisdiktioner där Licensierad
  Applikation eller något innehåll erhölls. I synnerhet, men utan begränsning, får Licensierad Applikation och dess innehåll inte exporteras eller återexporteras till (a) några länder där USA har exportförbud; eller (b) någon på U.S. Treasury Department
  List of Specially Designated Nationals eller U.S. Department of Commerce Denied Person's List or Entity List.
%p
  %strong> 13.	Compliance
  \. Genom att ladda ner, installera och använda Licensierad Applikation, framställer och garanterar du att (a) du inte är belägen i ett land som är föremål för exportförbud enligt den amerikanska regeringen eller som har utnämnts
  av den amerikanska regeringen som ett ”terroriststödjande” land; och (b) du är inte upptagen på någon av den amerikanska regeringens listor över förbjudna eller begränsade avtalsparter. Du efterföljer alla tillämpliga lagar, regler och författningar,
  inklusive men inte begränsat till amerikanska exportkontrolllagar.
%p
  %strong> 14.	Kommersiella artiklar
  \. Om den förvärvas av någon av den amerikanska regeringens myndigheter, accepterar sådan myndighet att (a) Licensierad Applikation utgör "kommersiell mjukvara" eller "dokumentation för kommersiell mjukvara" i
  enlighet med syftet i 48 C.F.R. §12.212 and 48 C.F.R. §227.7202, där tillämpligt; och (b) sådan byrås rättigheter är begränsade till de rättigheter som specifikt lämnats i Avtalet.
%p
  %strong> 15.	Berättigad tredje man
  \. Applikationsleverantören och alla dess dotterbolag är berättigad tredje man enligt Avtalet. I och med ditt godkännande av Avtalet har Applikationsleverantören rätt (och kommer anses ha accepterat rätten) att
  verkställa Avtalet gentemot dig som en berättigad tredje man därtill.
%p
  %strong> 16.	Uppsägning
  \. Oaktat det som anges i Avtalet förbehåller sig ChefSteps rätten att utan föregående meddelande och enligt vårt eget gottfinnande säga upp din rätt att tillgå eller nyttja Licensierad Applikation och att blockera eller
  förhindra din framtida tillgång till och användande av Licensierad Applikation. Du har också rätt att säga upp Avtalet utan föregående meddelande enligt ditt eget gottfinnande och närsomhelst genom att avinstallera Licensierad Applikation.
%p
  %strong> 17.	Avskiljbarhet
  \. Om villkor, klausul eller bestämmelse i Avtalet förklaras ogiltig eller ej verkställbar ska villkoret, klausulen eller bestämmelsen vara avskild från Avtalet och kommer inte att påverka giltigheten eller verkställbarheten
  av någon kvarvarande del av villkoret, klausulen eller bestämmelsen, eller av något annat villkor, klausul eller bestämmelse i Avtalet.
%p
  %strong> 18.	Tillämplig lag
  \. Avtalet ska regleras av och tolkas och verkställas i enlighet med lagarna i staten Washington utan hänsyn till lagkonfliktregler eller principer som skulle kunna leda till tillämpning av lagar i någon annan jurisdiktion.
%p
  %strong> 19.	Kontaktuppgifter
  \. Om du har några frågor eller funderingar avseende Licensierad Applikation eller Avtalet, vänligen kontakta ChefSteps:
%p
  ChefSteps, Inc.
  %br/
  Attn: ChefSteps Legal Team
  %br/
  1501 Pike Place, Suite 300,
  %br/
  Seattle, WA 98101
  %br/
  USA
  %br/
  Telephone: 206-905-1099
  %br/
  Email: info@chefsteps.com
  %br/
