- content_for :title, "Recipe Gallery"
- content_for :description, "Become a better cook. Learn from our beautiful recipe videos."
- content_for :keywords, @recipes.map(&:title).to_sentence
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.gallery-wrapper.relative(ng-controller='GalleryController' ng-cloak)
  .row
    .span12
      %div
        .gallery-filter.navbar
          %ul.nav.left-group

            %form.navbar-search.relative(ng-click="collapse_filters = true")
              %input.search-query(type="search" placeholder="Search..." ng-model="filters.search_all" ui-event='{blur: "trackSearch()"}')
              %a.clear-search(ng-click="filters.search_all = ''" ng-show="filters.search_all || '' != ''")
                %i.icon-remove

            %li.relative(ng-mouseenter="collapse_filters = false" ng-mouseleave="collapse_filters = true")
              .filter-collapser(ng-click="collapse_filters = ! collapse_filters")
                FILTER
                %i.icon-angle-down(ng-show="collapse_filters")
                %i.icon-angle-up(ng-hide="collapse_filters")
              .current-filter(ng-repeat="(k, f) in nonDefaultFilters()")
                {{f}}
                %span.reset-filter(ng-click="resetFilter(k)")
                  %i.icon-remove
              .filters-group(ng-show="!collapse_filters" data-ng-animate="'filters'" )
                %csRadioButtons.first-separate(ng-model="typeChoices" active="filters.activity_type")
                %csRadioButtons.first-separate(ng-model="difficultyChoices" active="filters.difficulty")
                %csRadioButtons.first-separate(ng-model="generatorChoices" active="filters.generator")
                -if can? :update, User
                  %csRadioButtons.first-separate(ng-model="publishedStatusChoices" active="filters.published_status")

          %ul.nav.browse-group.pull-right(ng-click="collapse_filters = true")
            %li.browse-by Browse By
            %li(ng-repeat="choice in sortChoices" ng-hide="(filters.search_all || '') == ''")
              %a(ng-click="filters.sort = choice" ng-class="{active: filters.sort == choice}")
                {{choice}}
            %li(ng-repeat="choice in sortChoicesWhenNoSearch" ng-show="(filters.search_all || '') == ''")
              %a(ng-click="filters.sort = choice" ng-class="{active: filters.sort == choice}")
                {{choice}}

  .row(ng-show="galleryItems.length == 0" ng-click="collapse_filters = true")
    .span12
      %h3 No results found, but perhaps you'd enjoy these recipes?

  .row.gallery-contents(ng-click="collapse_filters = true")
    .span12
      %div(galleryscroll='loadData()')
        %div(ng-repeat='activity in getDisplayItems()' ng-animate="'gallery-animation'")
          %csGalleryItem( title="activity.title"
                          href="'activities/' + activity.slug"
                          image="itemImageURL(activity, 400)"
                          footer-left="activity.difficulty"
                          footer-right="getFooterRightContents(activity)"
                        )
  .row
    .span2.offset5
      .gallery-spinner(ng-show='spinner > 0')
        %i.icon-page-load
