- content_for :title, "Recipe Gallery"
- content_for :description, "Become a better cook. Learn from our beautiful recipe videos."
- content_for :keywords, @recipes.map(&:title).to_sentence
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.gallery-wrapper.relative(ng-controller='GalleryController' ng-cloak)
  .gallery-filter.navbar
    %ul.nav.left-group

      %form.navbar-search.relative
        %input.search-query(ng-model='input' ng-change='search(input)' placeholder='search')
        %a.clear-search(ng-click="clearSearch()")
          %i.icon-remove

      %li
        %h5 Suggestions
        .basic-two-column
          %a( ng-repeat="x in suggestedSearches" 
              ng-click="search(x)" 
              ng-class="{'active' : params['search_all'] == x}")
            %span {{x}}
            -#%span(ng-hide="$last")<
              -#,&#32; 


      %li
        %h5 Difficulty
        .basic-two-column
          %csRadioButtons(ng-model="difficultyChoices" active="filters.difficulty")

      %li
        %h5 Source
        .basic-two-column
          %csRadioButtons.first-separate(ng-model="generatorChoices" active="filters.generator")

      %li
        %h5 Admin
        .basic-two-column
          %csRadioButtons.first-separate(ng-model="publishedStatusChoices" active="filters.published_status" ng-if="csAuthentication.isAdmin()")

      %li
        %h5 Sort
        %div.basic-two-column
          %a( ng-repeat="choice in sortChoices" 
                ng-click="filters.sort = choice" 
                ng-class="{active: filters.sort == choice}")
            {{choice}}


    -#.add-group.btn-group.pull-right(ng-show="(filters.generator != 'chefsteps') || csAuthentication.isAdmin()")
      -#%a.btn.btn-secondary.add-button(href="/activities/new")
        -# Add Recipe

  .gallery-results
    .no-results(ng-cloak ng-show='noResults && !dataLoading')
      %h3 No results found.

    .gallery-items(infinite-scroll='next()' infinite-scroll-disabled='dataLoading' infinite-scroll-immediate-check='true' infinite-scroll-distance='2' ng-cloak)
      %cs-index-item.cs-index-item(ng-repeat='activity in activities' cs-title='activity.title' url='activity.url' image='activity.image' hover-info='activity.likesCount')

= render 'home/madlib_popup', registration_source: 'gallery'
