- content_for :title, "Recipe Gallery"
- content_for :description, "Become a better cook. Learn from our beautiful recipe videos."
- content_for :keywords, @recipes.map(&:title).to_sentence
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.gallery-madlib(ng-if="! csAuthentication.loggedIn()" ng-cloak)
  %div.noprint( ng-controller="LoginController"
                ng-init="registrationSource ='gallery'; setIntent('ftue');"
                ng-hide="editMode || authentication.currentUser()" )
    = render "devise/sessions/new_angular"
    = render 'home/madlib'

.gallery-wrapper.relative(ng-controller='GalleryController' ng-cloak)

  .gallery-controls.navbar

    %ul.search-group
      %form.navbar-search.relative
        .input-group
          %a.search-icon(ng-click='focusSearch()')
            %i.icon-search
          %input.cs-nav-search-input.focusme(  ng-model='input'
                                ng-change='search(input)'
                                placeholder='search')
          %a.clear-search.anim-basic-fade(ng-click="clearSearch()" ng-show="input.length")
            %i.icon-remove

        .filter-toggle(ng-click="filtersCollapsed = ! filtersCollapsed")
          FILTERS
          %i.icon-angle-down(ng-show="filtersCollapsed")
          %i.icon-angle-up(ng-hide="filtersCollapsed")

    %ul.nav.filters-group(ng-class="{'filters-collapsed' : filtersCollapsed}")
      %li
        %h5
          Popular Tags
          %small.fake-link(ng-if="filters['tag']" ng-click='clearTags()') Clear
        %a( ng-repeat="x in suggestedTags"
            ng-class="{'active' : filters['tag'].toLowerCase() == x.toLowerCase()}")
          %span(ng-click="tags(x)") {{x}}

      %li
        %h5 Difficulty
        %csRadioButtons(ng-model="difficultyChoices" active="filters.difficulty")

      %li
        %h5 Source
        %csRadioButtons.first-separate(ng-model="generatorChoices" active="filters.generator")

      %li(ng-if="csAuthentication.isAdmin()")
        %h5 Admin
        %csRadioButtons.first-separate(ng-model="publishedStatusChoices" active="filters.published_status")

      %li
        %h5 Sort
        %a( ng-repeat="choice in getSortChoices()"
            ng-click="filters.sort = choice"
            ng-class="{active: filters.sort.toLowerCase() == choice.toLowerCase()}")
          %span {{choice}}

      %li
        %a.blue-link(href="/activities/new") Add New Recipe

  .gallery-results(ng-class="{'reloading' : reloading}")
    .no-results(ng-show='noResults()')
      %h3 No results found. Here are some of our most popular recipes:

    .gallery-items( infinite-scroll='next()'
                    infinite-scroll-disabled='dataLoading'
                    infinite-scroll-immediate-check='true'
                    infinite-scroll-distance='1')

      .gallery-item(ng-repeat='activity in getResults() track by activity.objectID')
        %cs-index-item.cs-index-item( cs-title='activity.title || activity.objectID'
                                      url='activity.url'
                                      image='activity.image'
                                      hover-info='<i class="icon-star-empty"></i> {{activity.likes_count}}')

    .load-checker
    .loading-icon-group(ng-show="dataLoading > 0")
      %cs-loading-spinner

