- content_for :title, "Recipe Gallery"
- content_for :description, "Become a better by cook by learning from these amazing recipe videos."
- content_for :keywords, @recipes.map(&:title).to_sentence

.container.gallery-wrapper
  .row
    .span12#gallery-count{:'gallery-count' => "#{@recipes_count}"}
      %div(ng-controller='GalleryController')
        %span(ng-model="admin_signed_in" ng-init="admin_signed_in='#{admin_user_signed_in?}'")
        / .flat-form
        /   %form
        /     %input(ng-model='search' placeholder='Enter Name')
        = render 'shared/gallery'
