- content_for :title, "Recipe Gallery"
- content_for :description, "Become a better cook. Learn from our beautiful recipe videos."
- content_for :keywords, @recipes.map(&:title).to_sentence
- content_for :ajax_seo do
  %meta{name: "fragment", content: "!"}

.container.gallery-wrapper.relative(ng-controller='GalleryController')
  .row(ng-cloak)
    .span12.section
      %div
        .gallery-filter.navbar
          %ul.nav.left-group

            %form.navbar-search.relative
              %input.search-query(ng-model='input' ng-change='search(input)' placeholder='search')
              %a.clear-search(ng-click="clearSearch()")
                %i.icon-remove

            %li.relative(ng-mouseenter="showOptions.filters = true" ng-mouseleave="showOptions.filters = false")
              .filter-collapser(ng-click="showOptions.filters = ! showOptions.filters")
                FILTER
                %i.icon-angle-down(ng-hide="showOptions.filters")
                %i.icon-angle-up(ng-show="showOptions.filters")
              .filters-group.anim-filters(ng-show="showOptions.filters")
                %csRadioButtons.first-separate(ng-model="difficultyChoices" active="filters.difficulty")
                %csRadioButtons.first-separate(ng-model="generatorChoices" active="filters.generator")
                %csRadioButtons.first-separate(ng-model="publishedStatusChoices" active="filters.published_status" ng-if="csAuthentication.isAdmin()")

            %li.relative(ng-mouseenter="showOptions.sort = true" ng-mouseleave="showOptions.sort = false")
              .filter-collapser(ng-click="showOptions.sort = ! showOptions.sort")
                SORT
                %i.icon-angle-down(ng-hide="showOptions.sort")
                %i.icon-angle-up(ng-show="showOptions.sort")
              .filters-group.anim-filters(ng-show="showOptions.sort")
                .btn( ng-repeat="choice in sortChoices" 
                      ng-click="filters.sort = choice" 
                      ng-class="{active: filters.sort == choice}")
                  {{choice}}

        .add-group.btn-group.pull-right(ng-show="(filters.generator != 'chefsteps') || csAuthentication.isAdmin()")
          %a.btn.btn-secondary.add-button(href="/activities/new")
            Add Recipe

  .row
    .span12(infinite-scroll='next()' infinite-scroll-disabled='dataLoading' infinite-scroll-immediate-check='dataLoading' infinite-scroll-distance=1)
      %div(ng-repeat='activity in activities')
        %cs-index-item(title='activity.title' url='activity.url' image='activity.image' difficulty='activity.difficulty' likes-count='activity.likesCount')

= render 'home/madlib_popup', registration_source: 'gallery'
