.row
  .span12
    %h2 Recipes
    = paginate @recipes
    %ul.thumbnails
      - @recipes.each do |recipe|
        %li.span4
          = render 'shared/media_centered', media: recipe, media_image: recipe.step_images.last, main: 'Recipe'
    = paginate @recipes