.row
  .span12#recipe-gallery
    %h2 Recipes
    = paginate @recipes
    .row
      - @recipes.each do |recipe|
        .span4
          = render 'shared/media_centered', media: recipe, media_image: recipe.featured_image, main: 'Recipe', size: 'medium'
    = paginate @recipes