%csEditPair
  %csEditPairShow
    %div(ng-switch="" on="!!item.equipment.product_url")
      %span.drag-handle(ng-show="editOffered")
        %i.icon-sort
      %span(ng-switch-when="true")
        %a(ng-href='{{item.equipment.product_url}}' target='_blank')
          {{item.equipment.title || item.equipment}}&nbsp;
      %span(ng-switch-default="")
        {{item.equipment.title || item.equipment}}&nbsp;
  %csEditPairEdit
    %input(csinputmonkeyequipment="" type="text" placeholder="New equipment" typeahead-editable="true" autofocus="autofocus" autocomplete="off" class="equipment-typeahead" ng-model="item.equipment" typeahead="e as e.title for e in all_equipment($viewValue)")
    .remove-button(ng-click="removeItem()")
      %i.icon-remove
