:ruby
  is_template = equipment.nil?

  row_id = 'equipment-row' if is_template
  title_data_attrs = {
    data: {source: Equipment.titles, provide: 'typeahead'},
    autocomplete: 'off'
  }

  title = equipment.title unless is_template
  optional = equipment.optional unless is_template

%tr{id: row_id, class: ('template-row' if is_template )}
  %td= text_field_tag 'activity[equipment][][title]', title, title_data_attrs
  %td= check_box_tag('activity[equipment][][optional]', true, checked = optional)
  %td
    = remove_button 'tr'
    = reorder_icon
