:ruby
  is_template = recipe.nil?

  row_id = 'recipe-row' if is_template

  recipe_id = is_template ? nil : recipe.id

%tr{id: row_id}
  %td
    = select_tag "activity[recipes][]", options_from_collection_for_select(Recipe.all, "id", "title", recipe_id), include_blank: true
    = remove_button 'tr'
    = reorder_icon

