window.ChefSteps = {}

class ChefSteps.NavigationBootstrap
  constructor: (@headerTarget) ->

  # cssLink: "<link rel=stylesheet type='text/css' href='http://<%= CDN_DOMAIN %>/assets/global_navigation.css' />"

  getHeader: =>
    jQuery.ajax
      url: "http://<%= DOMAIN %>/global-navigation"
      dataType: 'html'
      type: "GET"
      success: @loadHeader

  loadHeader: (response) =>
    jQuery(@headerTarget).html(response)

  fixNavLinks: =>
    jQuery(document).on 'click', 'body .nav a', ->
      top.location = $(this).attr('href')

  bootstrap: =>
    @getHeader()
    @fixNavLinks()

$ ->
  filepicker.setKey('ANAsscmHGSKqZCHObvuK6z')
  $(document).on "click", ".forum-filepicker", (event) ->
    event.preventDefault()
    doc = $('.cleditorMain').find('iframe')[0].contentWindow.document

    filepicker.pickAndStore {mimetype:"image/*"}, {location:"S3"}, (fpfiles) =>
      console.log(JSON.stringify(fpfiles))
      url = JSON.stringify(fpfiles[0]['url'])
      convert = "/convert?fit=max&w=480"
      url_with_conversion = JSON.parse(url) + convert
      content = "<br/><a href='" + JSON.parse(url) + "' target='_blank'><img src='" + url_with_conversion + "'/></a><br/>"
      $(doc).find('body').append(content)
      $('.cleditorMain').find('iframe')[0].updateTextArea() 