.user-form
  max-width: 560px
  border: 1px solid red

  h1, legend
    text-align: center

  h1
    color: $brick
    border-bottom: 2px solid $grayMedium
    margin: 0
    padding: 25px 0

  form
    background: $grayLight

  legend
    +font-sans-large
    border: none
    padding-top: 20px

  ol
    margin: 0
    list-style-type: none

  label
    +font-sans-large
    font-weight: 200
    text-align: right
    letter-spacing: 1px
    display: inline-block
    vertical-align: baseline
    color: #AAAAAA
    width: 100px
    white-space: normal
    text-shadow: none
    line-height: 20px
    margin: 0 14px 0 45px
    padding: 0

  abbr[title=required]
    display: none

  input
    height: 28px
    width: 257px

#sign-up
  label[for=user_password_confirmation]
    vertical-align: middle
    margin-bottom: 11px
