%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  -course.moduled_activities.each_with_index do |m, idx|
    %li.module
      %h4= "Module " + (idx + 1).to_s + ": " + m.shift.title
      %ol
        - m.each do |activity|
          -if activity.published?
            %li= link_to (raw activity.title), course_activity_path(course, activity)
          - else
            %li= raw activity.title