%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  %li.module
    %h4 Module 1: Introduction
    %ul
      %li
        What is sousvide?
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 2: Preparation
    %ul
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 3: Packaging
    %ul
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 4: Cooking Temperature
    %ul
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 5: Cooking Time
    %ul
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 6: Finishing Strategies
    %ul
      %li
        What is sousvide?
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 7: Putting it all together
    %ul
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)

