%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  %li.module
    %h4 Module 1: Introduction
    %ol
      %li What is sousvide cooking?
      %li The story of sous vide cooking
      %li Why cook sous vide?
      %li What you'll learn in this course
      %li An overview of the sous vide process
      - activities.each do |activity|
        %li
          =link_to activity.title, activity_path(activity)
  %li.module
    %h4 Module 2: Preparation
    %ol
      %li The importance of organization and working clean
      %li Trimming and portioning
      %li Seasonings, brines, marinades
      %li Tips and tricks
  %li.module
    %h4 Module 3: Packaging
    %ol
      %li Why package food?
      %li Packaging options
      %li Vacuum packing
      %li Edge sealing
      %li Rigid containers
      %li Improvised strategies
  %li.module
    %h4 Module 4: Cooking Temperature
    %ol
      %li Heat as an ingredient
      %li Controlling temperature
      %li Sous vide cooking equipment
      %li Selecting a cooking temperature
  %li.module
    %h4 Module 5: Cooking Time
    %ol
      %li Selecting a cooking time
      %li Sous vide cooking strategies
      %li Cook to core temperature
      %li Cook and hold at temperature
      %li Food safety considerations
  %li.module
    %h4 Module 6: Finishing Strategies
    %ol
      %li Chilling, freezing, and reheating
      %li Tips and tricks
      %li Searing strategies
      %li Tips and tricks
  %li.module
    %h4 Module 7: Putting it all together
    %ol
      %li Simple sous vide meal from start to finish
      %li Intermediate sous vide meal from start to finish
      %li Advanced sous vide meal from start to finish
      %li Holiday meal prepared sous vide from start to finish

