%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  %li
    %h3 Module 1
    %ul.unstyled
      %li
        %h4 Topic A
        %ul.unstyled
          - activities.each do |activity|
            %li
              =link_to activity.title, activity_path(activity)
      %li
        %h4 Topic C
  %li
    %h3 Module 2
    %ul.unstyled
      %li
        %h4 Topic A
        %ul.unstyled
          %li Activity B
          %li Activity C
          %li Activity D
      %li
        %h4 Topic B
        %ul.unstyled
          %li Activity E
