%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  -course.moduled_activities.each_with_index do |m, idx|
    %li.module
      %h4= "Module " + (idx + 1).to_s + ": " + m.shift.title
      %ol
        - m.each do |activity|
          %li= activity.title