%ul.course-breakdown.unstyled
  %li
    %h3 Syllabus
  %li
    %h3 Module 1
    %ul.unstyled
      %li Topic A
      %li Activity B
      %li Topic C
  %li
    %h3 Module 2
    %ul.unstyled
      %li Topic A
      %li Activity B
      %li Topic C

