.noprint{ data: { behavior: 'stick-to-top-anchor' } }
.sticky-navbar.noprint{ data: { behavior: 'stick-to-top' } }
  .container
    .navbar
      .navbar-inner
        %ul.nav.nav-activities
          %li.navbar-activity-title
            .navbar-text
              %h4= raw model.title

        %ul.nav.nav-anchors.pull-right
          - if model.prev.present?
            %li
              = link_to model.prev do
                %i.icon-double-chevron-left
                %span.nav-label &nbsp;Prev
          - if model.next.present?
            %li
              = link_to model.next do
                %span.nav-anchors.nav-label Next&nbsp;
                %i.icon-double-chevron-right
          %li#syllabus-flyout
            %a.icon-list-alt.icon-white
              %span.nav-label Syllabus
          %li
            %a.icon-chevron-up.icon-white{href: '#overview'}
              %span.nav-label Top
          %li
            %a.icon-print.icon-white{href: "#", onclick: 'window.print()'}
              %span.nav-label Print
          - if show_quizzes? && model.has_quizzes?
            %li
              %a.icon-trophy.icon-white{href: '#quizzes'}
                %span.nav-label Quiz
          %li
            %a.icon-comment{href: '#disqus_thread', data: {'disqus-identifier' => disqus_id}}
              %span.nav-label Comments


#syllabus-body
  #syllabus-body-inner
    = render 'courses/course_breakdown', copy: syllabus_copy

