%div{ data: { behavior: 'stick-to-top-anchor' } }
.sticky-navbar{ data: { behavior: 'stick-to-top' } }
  .container
    .row
      .span1
        =link_to "<", model.prev, { class: "btn #{'disabled' if model.prev.nil?}" }
      .span4
        %h4= model.title
      .span1
        =link_to ">", model.next, { class: "btn #{'disabled' if model.next.nil?}" }

      .span2
        %h5
          %a{href: '#spec-sheet'} Spec Sheet
      .span2
        %h5
          %a{href: '#step-by-step'} Step-By-Step
      .span2
        %h5
          %a{href: '#disqus_thread'} Comments

