%div{ data: { behavior: 'stick-to-top-anchor' } }
.sticky-navbar{ data: { behavior: 'stick-to-top' } }
  .container
    .row
      .span1
        =link_to "»", model.prev, { class: "#{'disabled' if model.prev.nil?}" }
      .span4
        %h4= model.title
      .span1
        =link_to "»", model.next, { class: "#{'disabled' if model.next.nil?}" }
      .span6
        %ul.horizontal-list
          %li
            %i.icon-info-sign.icon-white
            %a{href: '#overview'} Overview
          %li
            %i.icon-list-ol.icon-white
            %a{href: '#step-by-step'} Step-By-Step
          %li
            %i.icon-comment.icon-white
            %a{href: '#disqus_thread'} Comments

