%div.noprint{ data: { behavior: 'stick-to-top-anchor' } }
.sticky-navbar.noprint{ data: { behavior: 'stick-to-top' } }
  .container
    .navbar
      .navbar-inner
        %ul.nav.nav-activities
          %li
            - if model.prev.present?
              = link_to model.prev do
                %i.icon-double-chevron-left
                %span.nav-anchors.nav-label Prev
            - else
              %a
                %i.icon-double-chevron-left.disabled
          %li.navbar-activity-title
            .navbar-text
              %h4= raw model.title
          %li
            - if model.next.present?
              = link_to model.next do
                %span.nav-anchors.nav-label Next
                %i.icon-double-chevron-right
            - else
              %a
                %i.icon-double-chevron-right.disabled
        %ul.nav.nav-anchors.pull-right
          %li
            %a.icon-info-sign.icon-white{href: '#overview'}
              %span.nav-label Overview
          %li
            %a.icon-list-ol.icon-white{href: '#step-by-step'}
              %span.nav-label Step-By-Step
          %li
            %a.icon-print.icon-white{href: "#", onclick: 'window.print()'}
              %span.nav-label Print
          - if show_quizzes? && model.has_quizzes?
            %li
              %a.icon-trophy.icon-white{href: '#quizzes'}
                %span.nav-label Quiz
          %li
            %a.icon-comment{href: '#disqus_thread', data: {'disqus-identifier' => disqus_id}}
              %span.nav-label Comments

