.course-syllabus
  - course.inclusions.each do |inclusion|
    = link_to course_activity_path(course, inclusion.activity) do
      - case inclusion.nesting_level
      - when 0
        .nested-0
          = inclusion.activity.title
      - when 1
        .nested-1
          = inclusion.activity.title
      - when 2
        .nested-2
          = inclusion.activity.title