- content_for :title, "Classes"
- content_for :description, "Become a better cook with our online classes"
- content_for :keywords, @assembly_courses.map(&:title).to_sentence

.container(ng-cloak)
  .row.section-large
    .text-center
      %h1
        Classes

  - @assembly_courses.each do |course|
    = render 'one_course', course: course

:javascript
  mixpanel.track('Viewed Classes Index Page');
