.container
  .row
    .span12
      %h2 Courses
      = paginate @courses
      .row
        - @courses.each do |course|
          .span4
            = render 'shared/media_box_2', url: course_path(course), title: course.title, image: course.featured_image, object: course
      = paginate @courses