.row
  .span12
    %h2 Courses
    = paginate @courses
    .row.gallery
      - @courses.each do |course|
        .span4
          = link_to course_path(course) do
            = course.title
            / = render 'shared/media_centered', media: course, size: 'medium'
    = paginate @courses