.row
  .span12
    %h2 Intro to Sous Vide

.row
  %iframe.course-overview-video.span12{:src => 'http://www.youtube.com/embed/ydOB-YNJ8Jw'}

.row
  .span8
    %h2 Instructors
    %ul.unstyled.instructors
      %li.row
        .span1
          %img{ src: 'http://lorempixel.com/100/100/people' }
        .span3
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %li.row
        .span1
          %img{ src: 'http://lorempixel.com/100/100/people' }
        .span3
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %li.row
        .span1
          %img{ src: 'http://lorempixel.com/100/100/people' }
        .span3
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  .span4
    = render 'course_breakdown'

