Verify Your Shipping Address.

Your Joule will ship very soon! Please verify that the shipping address below is correct and up to date. If you find any mistakes at all, please update your address by clicking the orange "No" button and entering in your new address into the web form.

Your shipping address is:
*|NAME|*
*|ADDRESS_1|*
*|ADDRESS_2|*
*|CITY|* *|PROVINCE|*, *|ZIP|*

Is this the correct address?
If Yes, visit *|CONFIRM_URL|* to confirm your address.
If No, visit *|UPDATE_URL|* to update your address.
