<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <head>
    <meta name="viewport" content="width=device-width" />
<!-- IMPORTANT -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*|SUBJECT|*</title>
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->
  </head>
  <body class="main" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; background: #edecea; margin: 0; padding: 0;" bgcolor="#edecea"><style type="text/css">
@media only screen and (max-width:550px) {
  .main {
    background: #fff;
  }
  a[class="btn"] {
    margin-bottom: 10px !important; background-image: none !important;
  }
  div[class="column"] {
    width: auto !important; float: none !important;
  }
  table.social div[class="column"] {
    width: auto !important;
  }
}
</style>

<table class="main-content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; background: #edecea; margin: 0; padding: 10px 0;" bgcolor="#edecea"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
		<td class="container" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 550px !important; clear: both !important; margin: 0 auto; padding: 0;">

			<!-- HEADER -->
			<div class="head-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-style: dashed; border-bottom-color: #edecea; border-bottom-width: 1px; max-width: 550px; display: block; background: #fff; margin: 0 auto; padding: 15px 25px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; text-align: center; margin: 0; padding: 15px;" align="center">
							<a href="http://chefsteps.com" title="ChefSteps" alt="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ff674d; margin: 0; padding: 0;"></a><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" /></td>
					</tr></table></div>

			<!-- BODY -->
			<div class="body-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 550px; display: block; background: #fff; margin: 0 auto; padding: 20px;">
			<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><h3 style="text-align: center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 27px; margin: 0 0 25px; padding: 0;" align="center">Verify Your Shipping Address.</h3>
						<p style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; color: #43413f; margin: 0 0 20px; padding: 0;" align="center">Your Joule will ship very soon! Please verify that the shipping address below is correct and up to date. If you find any mistakes at all, please update your address by clicking the orange "No" button and entering in your new address into the web form.</p>

						<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><hr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 0; border-top-color: rgba(0, 0, 0, 0.15); border-top-style: dashed; border-bottom-color: rgba(255, 255, 255, 0.3); border-bottom-style: dashed; margin: 0 0 30px; padding: 0; border-width: 1px 0;" /><h6 style="text-align: center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: rgb(184,182,180); font-weight: 900; font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px; margin: 0 0 15px; padding: 0;" align="center">Your shipping address is:</h6>
						<h5 style="text-align: center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 17px; margin: 0 0 15px; padding: 0;" align="center">John Doe<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
						123 Sesame Street<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />
						Los Angeles, CA, 88888</h5>

						<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><hr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 0; border-top-color: rgba(0, 0, 0, 0.15); border-top-style: dashed; border-bottom-color: rgba(255, 255, 255, 0.3); border-bottom-style: dashed; margin: 0 0 30px; padding: 0; border-width: 1px 0;" /><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><h5 style="text-align: center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #43413f; font-weight: 700; font-size: 17px; margin: 0 0 15px; padding: 0;" align="center">Is this the correct address?
						<div style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 20px 0 0; padding: 0;" align="center">
							<a class="btn btn-green" href="{{URL}}" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; text-decoration: none; width: 80%; max-width: 150px; border-radius: 30px; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background: #28b897; margin: 0 0 10px; padding: 12px 10%;">Yes</a>
						</div>
						<div style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" align="center">
							<a class="btn" href="{{URL}}" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #FFF; text-decoration: none; width: 80%; max-width: 150px; border-radius: 30px; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; background: #ff674d; margin: 0 0 10px; padding: 12px 10%;">No</a>
						</div>

						<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /></h5></td>
				</tr></table></div>

			<!-- FOOTER -->
			<div class="footer-wrap content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; max-width: 550px; display: block; background: #383736; margin: 0 auto; padding: 40px;">
				<table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><td align="center" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
							<a href="http://chefsteps.com" title="ChefSteps" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: rgba(255,255,255,0.5); text-decoration: underline; margin: 0; padding: 0;"><img src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png" style="width: 120px; height: auto; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;" alt="{{ shop_name }}" /></a>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">Copyright © *|CURRENT_YEAR|* ChefSteps, All rights reserved.</p>
							<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" /><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;"><strong style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Our mailing address is:</strong></p>
							<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; color: rgba(255,255,255,0.5); line-height: 1.6; margin: 0; padding: 0;">1501 Pike Place<br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;" />Seattle, WA 98101</p>
						</td>
					</tr></table></div>

		</td>
		<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
	</tr></table></body>
</html>
