- content_for :title, 'ChefSteps Jobs'

.container.jobs
  .row
    .span12.chefsteps-filter
      .row
        .span6.offset3.section.text-center
          %h1.tagline Join ChefSteps
          .text-center
            .btn.btn-secondary SEE OPEN POSITIONS
    .span12
      .row
        .span10.offset1
          .text-center
            %h2 ChefSteps is on a mission to help people cook smarter.
    .span12
      %hr
      .row
        .span4
          %h3 Quality
          %p We ship on quality, not time, quantity, or any other arbitrary measure. 
        .span4
          %h3 Communication
          %p We thrive on open communication and understanding across disciplines. 
        .span4 
          %h3 Love
          %p We do what we love, and people in turn, will love it.
      .row
        .span4 
          %h3 Smart and Gets Things Done
          %p Intelligence and Execution
        .span4
          %h3 Lipsum
          %p dolor sit amet
        .span4
          %h3 Filler Filler
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %hr
      .row
        .span12
          .text-center.section
            %h2 Why work here?
      .row
        .span5.offset1
          %ul
            %li Amazing work space in Pike PlaceMarket
            %li Unlimited vacation & Sick time
            %li Really freaking good Medical, Dental &  Vision
            %li Flexible work environment
        .span5
          %ul
            %li Food & Drink (The dev kitchen)
            %li Bottomless supply o famazing coffee
            %li Work on what you value most
            %li Small team environment
            %li Encouraged to learn
            %li Be your own boss


    .span12
      %hr
        .row
          .span12
            %h1 Open Positions
            %p ChefSteps is a pretty flat company. We value self-starters
        .row
          .span6
            %h3 Product Designer
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %script{type: "text/javascript", src: "http://app.theresumator.com/widgets/buttons/create/chefsteps/weQ3WD"}
          .span6
            %h3 Software Developer
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %script{type: "text/javascript", src: "http://app.theresumator.com/widgets/buttons/create/chefsteps/GVhfP6"}




