- content_for :title, 'Thank You For Subscribing'

.container.thank-you
  .row.intro
    .span12
      :markdown
        #{thank_you_subscribing}
  .row
    .span4
      = render 'image_navigation', image: thank_you_image_left, caption: thank_you_image_left_caption
    .span4
      = render 'image_navigation', image: thank_you_image_middle, caption: thank_you_image_middle_caption
    .span4
      = render 'image_navigation', image: thank_you_image_right, caption: thank_you_image_right_caption

