=render 'activities/step_side_edit_buttons'

.standard-item(ng-if='! step.is_aside')
  .step-number-container.section(ng-if="! step.hide_number")
    %h1.step-number
      %div(ng-bind="stepNumber($index)")

  %h4(  cs-contenteditable="getStepOpenForEdit()" 
        ng-model="step.title"
        placeholder="'Click to write step title'")

  .step-first-row
    =render 'activities/step_ingredients'

  .step-content-container.relative
    .step-content.relative(   cs-contenteditable="getStepOpenForEdit()" 
                              creator="activity.creator"
                              ng-model="step.directions"
                              placeholder="'Click to write step directions'" )

    // Tacky little trick to render asides by changing 'step' within this scope
    %div( ng-if='activity.steps[$index + 1].is_aside' 
          ng-init='step=activity.steps[$index + 1]' 
          ng-include="'_aside.html'")

  %div(ng-include="'_step_edit_images.html'")
  .step-last-row(ng-show='((!! step.youtube_id) || (!! step.image_id))')

    %div(ng-if='hasAV()')
      .step-video-outer.noprint(ng-if="!! step.youtube_id")
        .new-step-video(id="{{'step-video-' + $index}}")
          .video-container(csenforceaspect)
            %iframe(cssrcreplacer="{{'//www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0&iv_load_policy=3'}}")

      -# Image only if there is no video
      .step-image-outer(ng-if="(! step.youtube_id) && (!! step.image_id)")
        .new-step-image(id="{{'step-image-' + $index}}")
          %img(cs-responsive-image='step.image_id' alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}" itemprop="image")

