
.step-row(ng-scope
          ng-mouseenter="hovered=true"
          ng-mouseleave="hovered=false")
  .aside.aside-separate.anim-basic-fade(  ng-if='isSeparateAside($index)'
                                          ng-controller="StepController"
                                          cs-watch-focus=''
                                          ng-class="asideClass()")
    =render 'activities/step_side_edit_buttons'
    %div(ng-include="'_aside.html'")

  %div( ng-if='! step.is_aside'
        ng-controller="StepController"
        ng-class="getStepClass()"
        cs-watch-focus='')


    .btn.btn-link(ng-if="getStepOpenForEdit()" ng-click="addStep($index, -1)")
      %i.icon-circle-arrow-up
      Add step above

    =render 'activities/step_side_edit_buttons'

    .step-number-container.section(ng-if="! step.hide_number")
      %h1.step-number
        %div(ng-bind="stepNumber($index)")

    %h5(ng-if="getStepOpenForEdit()")
      Step Title
    %h4.text-center(  cs-contenteditable="getStepOpenForEdit()"
                      ng-model="step.title"
                      placeholder="'Click to write step title'")

    .step-first-row
      =render 'activities/step_ingredients'

    .step-content-container
      .aside.aside-inset.anim-basic-fade(  ng-if='isInsetAside($index - 1)'
                                              ng-init='step=activity.steps[$index - 1]'
                                              ng-controller="StepController"
                                              cs-watch-focus=''
                                              ng-class="asideClass()")
        =render 'activities/step_side_edit_buttons'
        %div(ng-include="'_aside.html'")
      %h5(ng-if="getStepOpenForEdit()")
        Directions
      .step-content-group

        .step-content(   cs-contenteditable="getStepOpenForEdit()"
                                  creator="activity.creator"
                                  ng-model="step.directions"
                                  placeholder="'Click to write step directions'" )

        %cs-comment-manager(  comments-type="step"
                              comments-id="{{step.id}}"
                              seo-bot="#{is_brombone}"
                              show-when-zero="{{hovered}}")

      %div(ng-if="getStepOpenForEdit() && csAuthentication.isAdmin()" )
        %h5
          Special Sauce
        .step-special-sauce(   cs-contenteditable="getStepOpenForEdit()"
                                  creator="activity.creator"
                                  ng-model="step.extra"
                                placeholder="'Click to add special sauce'")

    %div(ng-include="'_step_edit_images.html'")
    .step-last-row.noprint(ng-show='((!! step.youtube_id) || (!! step.vimeo_id) || (!! step.image_id))')

      %div(ng-if='hasAV()')
        .step-video-outer.noprint(ng-if="!! step.youtube_id || !! step.vimeo_id")
          .new-step-video(id="{{'step-video-' + $index}}")
            %csembedvideo(vimeo-id='{{step.vimeo_id}}' youtube-id='{{step.youtube_id}}')

        -# Image only if there is no video
        .step-image-outer(ng-if="(! step.youtube_id) && (!! step.image_id)")
          .new-step-image(id="{{'step-image-' + $index}}")
            %cs-image(url="step.image_id" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}")

    .btn.btn-link(ng-if="getStepOpenForEdit()" ng-click="addStep($index, 1)")
      %i.icon-circle-arrow-down
      Add step below

  -# Center aside
  .aside.aside-center.anim-basic-fade(  ng-if='isCenterAside($index)'
                                        ng-controller="StepController"
                                        cs-watch-focus=''
                                        ng-class="asideClass()")

    =render 'activities/step_side_edit_buttons'
    %div(ng-include="'_aside.html'")
