=render 'activities/step_side_edit_buttons'

.step-number
  %div(collapse="step.hide_number" ng-bind="stepNumber($index)")

%csEditPair
  %csEditPairShow
    %h4(ng-show="step.title || editMode" ng-bind-html-unsafe="step.title || (editMode && 'Optional title...') | markdown | shortcode" ng-class="disableIf(! step.title.length)")
  %csEditPairEdit
    %textarea.step-title-input(ng-model="step.title" rows="5" placeholder="Optional title...")

.row


  .span6(ng-show='(!! step.youtube_id) || (!! step.image_id) || (step.ingredients.length > 0)')
    .step-optional-stuff
      =render 'activities/step_ingredients'

      .step-video-outer(ng-show="!! step.youtube_id")
        .new-step-video(id="{{'step-video-' + $index}}")
          .video-container(csenforceaspect)
            %iframe(ng-src="{{'http://www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0&vq=hd720'}}")

      .step-image-outer(ng-show="!! step.image_id")
        .new-step-image(id="{{'step-image-' + $index}}")
          %img(ng-src="{{stepImageURL(step, 600)}}" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}" itemprop="image")

  .span6
    .step-content
      %csEditPair
        %csEditPairShow
          %div(ng-show="step.directions || editMode" ng-bind-html-unsafe="(step.directions || 'Add direction...') | markdown | shortcode" ng-class="disableIf(!step.directions)")
        %csEditPairEdit
          %textarea(ng-model="step.directions" rows="5" placeholder="Add direction...")

