
.disabled-section
  -# display:none is a hack to keep from fading out at start. has to be inline style. Can go away w/ angular 1.1.5 I think.
  %h4(style="display: none;" ng-show="editMode && (activity.steps.length == 0)" data-ng-animate="'fade'" ng-click="addStepAtIndex(0)")
    Add first step...


%ul#step-dots.nav(ng-class="{'menu-showing': showCourseMenu}")
  %li.step-dot.intro
    %a(href="activity-description" prevent-default scroll-to="activity-description" spy="activity-description" )
      %i.icon-circle

  %li.step-dot(ng-repeat="step in numberedSteps()")
    %a(href="{{'numbered-step-' + ($index + 1)}}" prevent-default scroll-to="{{'numbered-step-' + ($index + 1)}}" spy="{{'numbered-step-' + ($index + 1)}}")
      %i.icon-circle

.ordered-steps-new(ng-show="activity.steps.length > 0"){:itemprop => "recipeInstructions"}
  .ordered-step-item.relative(ng-repeat="step in activity.steps" id="{{'numbered-step-' + stepNumber($index)}}" ng-controller="StepController" data-ng-animate="'custom'" csstephovered="" ng-mouseenter="setMouseOverStep()")
    = render 'activities/latest/step'

