// See http://minhajuddin.com/2013/04/28/angularjs-templates-and-rails-with-eager-loading !!!

angular.module('templates', []).run(["$templateCache", function($templateCache) {
    <% Dir.glob(Rails.root.join('app','views','client_views', '*.haml')).each do |f| %>
    console.log("Caching <%= File.basename(f).gsub(/\.haml$/, '')  %>");
    $templateCache.put("<%= File.basename(f).gsub(/\.haml$/, '')  %>", <%= Haml::Engine.new(File.read(f)).render.to_json %>);
    <% end %>

    $templateCache.put("template/csrating/csrating.html",
      "<span ng-mouseleave=\"reset()\">\n" +
      " <i ng-repeat=\"number in range\" ng-hide=\"(readonly) && (val == 0.0)\" ng-mouseenter=\"enter(number)\" ng-click=\"rate(number)\" ng-class=\"getIcon(number, val)\"></i>\n" +
      "</span>\n" +
    "");
}]);
//14<= forced change, just add something here for every change to files in app/views/client_views
