%html(lang= 'en')
  %head
    %title ChefSteps Community Beta Invite
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    %link(href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css")
    :css
      body{font-family:'Lato','Helvetica Neue','Arial',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
      img.logo{height:36px}
      img.hero-image{display:block;width:75%;margin:0 auto;}
      header{margin-top:20px;margin-bottom:20px}
      h1{font-weight:700}
      a.go-button{background-color:#e25f25;color:#fff;text-align:center;font-size:18px;border-radius:3px;display:block;line-height:50px;opacity:.9;transition:opacity .2s;width:100%;max-width:400px;margin:20px auto;}
      a.go-button:hover{text-decoration:none;opacity:1}
      .wrapper{max-width:750px;width:90%;margin:0 auto 100px;}
      .wrapper p{font-size:16px;line-height:1.5}

  %body
    .wrapper
      %header
        %img.logo(src="https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-h.png")

      %img.hero-image(src="https://d3awvtnmmsvyot.cloudfront.net/api/file/DlgwWNi9QJKGxb43IpQP?cache=true")
      .wrapper-inner
        %a.go-button(href="https://www.chefsteps.com/forum" target="_blank")
          Go to the new ChefSteps community
        %p
          Community is a core tenet at ChefSteps, and we've been busy building custom software to power it and make it better. Today, we're excited to open it up to public beta testing and would like to invite you to check it out.
        %p
          It's still early, and many things are different. We'll be listening closely to your feedback. You can help the most by starting to use it - create threads, post photos of what you had for dinner, and ask for help. Don't be shy!
        %p
          Sincerely,
          %br Andrew and Nick

        %p
          p.s. please don't hesitate to email either of us personally with any thoughts, suggestions, or requests -
          %a(href="mailto:andrew@chefsteps.com")
            andrew@chefsteps.com
          and
          %a(href="mailto:nickc@chefsteps.com")
            nickc@chefsteps.com
          &#46;
