%html
  %head
    %title ChefSteps Community Beta Invite
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    %link(href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css")
    :css
      body{font-family:'Lato','Helvetica Neue','Arial',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
      img.logo{height:36px}
      img.hero-image{display:block;width:100%;margin:30px auto}
      header{margin-top:20px;margin-bottom:40px}
      h1{font-weight:700}
      a.go-button{background-color:#e25f25;color:#fff;text-align:center;font-size:18px;border-radius:3px;display:block;line-height:50px;opacity:.9;transition:opacity .2s;width:100%;max-width:400px;margin:40px auto;}
      a.go-button:hover{text-decoration:none;opacity:1}
      .wrapper{max-width:750px;width:90%;margin:0 auto 100px;}
      .wrapper p{font-size:16px;line-height:1.5}
    = render 'layouts/mixpanel'
    :javascript
      mixpanel.track('Beta Invite Page Viewed');

  %body
    .wrapper
      %header
        %img.logo(src="https://s3.amazonaws.com/chefsteps/static/chefsteps-logo-h-tagline.png")

      %h1.text-center ChefSteps Community Beta Invite
      %img.hero-image(src="https://d3awvtnmmsvyot.cloudfront.net/api/file/DlgwWNi9QJKGxb43IpQP?cache=true")
      .wrapper-inner
        %a.go-button(href="http://chefsteps.com/forum" target="_blank" onclick="mixpanel.track('Beta Invite Button Clicked');")
          Go to ChefSteps Community Beta
        %p
          Community is incredibly important to ChefSteps, and we've been busy building better custom software to power it. Today, we're excited to invite you to beta test it.
        %p
          It's still early, and many things are different. We'll be listening closely to your feedback. You can help the most by starting to use it - create threads, post photos of what you had for dinner, and ask for help. Don't be shy!
        %p
          Sincerely, 
          %br Andrew and Nick

        %p 
          p.s. please don't hesitate to email either of us personally with any thoughts, suggestions, or requests - 
          %a(href="mailto:adhsu01@gmail.com")
            adhsu01@gmail.com
          and
          %a(href="mailto:cammarata.nick@gmail.com")
            cammarata.nick@gmail.com
          &#46;