// Mixins
=boxsizing
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -o-box-sizing: border-box

=contentbox
  box-sizing: content-box
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  -o-box-sizing: content-box

=any_shadow($c)
  box-shadow: $c
  -moz-box-shadow: $c
  -webkit-box-shadow: $c
  -o-box-shadow: $c

=shadow
  box-shadow: 0px 0px 2px #888888
  -moz-box-shadow: 0px 0px 2px #888888
  -webkit-box-shadow: 0px 0px 2px #888888
  -o-box-shadow: 0px 0px 2px #888888

=big-shadow
  @include any_shadow(5px 5px 15px #888888)

=dark-shadow
  box-shadow: 0px 0px 5px black
  -moz-box-box-shadow: 0px 0px 5px black
  -webkit-box-shadow: 0px 0px 5px black
  -o-box-shadow: 0px 0px 5px black

=annotation-shadow
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2)
  -moz-box-box-shadow: 0px 1px 4px rgba(0,0,0,0.2)
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2)
  -o-box-shadow: 0px 1px 4px rgba(0,0,0,0.2)

=bottom-only-annotation-shadow
  box-shadow: 2px 4px 4px rgba(0,0,0,0.2)
  -moz-box-box-shadow: 2px 4px 4px rgba(0,0,0,0.2)
  -webkit-box-shadow: 2px 4px 4px rgba(0,0,0,0.2)
  -o-box-shadow: 2px 4px 4px rgba(0,0,0,0.2)

=radius($value)
  border-radius: $value
  -moz-border-radius: $value
  -webkit-border-radius: $value
  -o-box-border-radius: $value

=transition($value)
  transition: $value
  -moz-transition: $value
  -webkit-transition: $value
  -o-transition: $value

=transform($value)
  transform: $value
  -moz-transform: $value
  -webkit-transform: $value
  -o-transform: $value

=transform-origin($value)
  transform-origin: $value
  -moz-transform-origin: $value
  -webkit-transform-origin: $value
  -o-transform-origin: $value

=transition-delay($value)
  transition-delay: $value
  -moz-transition-delay: $value
  -webkit-transition-delay: $value
  -o-transition-delay: $value

=animation($value)
  animation: $value
  -moz-animation: $value
  -webkit-animation: $value
  -o-animation: $value

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=columncount($value)
  column-count: $value
  -moz-column-count: $value
  -webkit-column-count: $value
  -o-column-count: $value

=columngap($value)
  column-gap: $value
  -moz-column-gap: $value
  -webkit-column-gap: $value
  -o-column-gap: $value

=unselectable
  -webkit-user-select: none /* Chrome/Safari */        
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* IE10+ */
  -o-user-select: none
  user-select: none

=background-size($value)
  -webkit-background-size: $value
  -moz-background-size: $value
  -o-background-size: $value
  background-size: $value

=chefsteps-filter($url)
  background: linear-gradient(rgba(226,95,37,.7), rgba(226,95,37,.7)), url($url) no-repeat left top fixed
  @include background-size(100%)
  height: 300px
  width: 100%
  margin-bottom: $baseline * 3 

=popover-arrow($left)
  bottom: 100%
  left: $left
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none

=popover($margin-right)
  background: white
  border: 1px solid $offwhite
  position: absolute
  top: 60px
  right: $margin-right
  float: right
  width: 200px
  padding: $baseline
  background: #fff
  border: 1px solid $offwhite
  border-top: 2px solid $orange

/* This works on both inputs and spans */
=editable_text
  @include boxsizing
  @include any-shadow(none)
  @include primary-font-light
  background-color: transparent
  border: none
  border-radius: 0
  border-bottom: 1px solid darkgray
  padding-bottom: 1px
  outline: none

/* Typography */

$baseline: 1.1rem /* = 11px/14px */

=gotham-narrow
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Helvetica Neue'
  font-weight: 400
  font-style: normal

=primary-font
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', arial, sans-serif
  font-weight: 400
  font-style: normal

=primary-font-light
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', arial, sans-serif
  font-weight: 300
  font-style: normal 

=primary-font-bold
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', arial, sans-serif
  font-weight: 700
  font-style: normal 

/* Animations */

=anim-slide-down($distance)
  &.ng-enter
    @include transition(all 100ms ease-in-out)
    opacity: 0
    margin-top: $distance
  &.ng-enter-active
    opacity: 1  
    margin-top: 0px  



/* Colors */
$orange: #e25f25
//$orange: #DB7354
$dark-orange: #D25029
$darker-orange: #B84724
$light-blue: #0088CC
$blue: #006DCC
$blue-opaque: rgba(0,109,204,.8)
$red: #DA4f49
$red-opaque: rgba(218,79,73,.8)
$light-gray: #ccc
$dark-gray: rgb(146, 146, 146)
$offwhite: #f1f1f1
$white-opaque: rgba(255,255,255,.3)
