// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import active_admin/mixins
@import active_admin_stripped_base

@import application/custom_mixins
@import compass/css3/border-radius
@import compass/css3/box-shadow

@import twitter/bootstrap/variables
@import twitter/bootstrap/mixins
@import twitter/bootstrap/dropdowns
@import twitter/bootstrap/scaffolding
@import twitter/bootstrap/popovers
@import twitter/bootstrap/tooltip
@import font-awesome

$redLight:      #e63742
@import admin/quiz
@import admin/image_uploader

body.admin_namespace
  .img-polaroid
    @extend .img-polaroid

  table.nested-records
    display: none
    padding: 0 1.4em

    // hide template row
    tr.template-row:nth-child(2)
      display: none

  ul.typeahead
    list-style-type: none
    padding-left: 0

    li.active
      a
        color: white

    a
      text-decoration: none
      padding: 5px

  table.sortable
    tr
      &:nth-child(odd)
        background: #f4f4f4
      &:nth-child(1)
        background: none

    .ui-sortable-helper
      background: lighten($yellow, 40%) !important

    [data-behavior=remove-element]
      padding: 1px 2px 0 2px

    i.icon-remove
      font-size: 14px

    i.icon-reorder
      float: right
      margin-top: 6px
      font-size: 16px
      cursor: move

  #template_activity, #template_module
    display: none

  .control-row
    margin-left: 16px
    margin-bottom: 16px

  fieldset.inputs.no-background
    background: none

  a.admin-button, button.admin-button
    @include light-button

  .two-button-row
    overflow: hidden
    a, button
      float: right
      &:first-child
        float: left

  // nested activity stuff for both edit and show view
  .nested-activity-list-shared
    counter-reset: module-counter
    .module
      margin-top: 20px
      list-style-type: none

      > div
        text-transform: uppercase
        font-weight: bold
        &:before
          content: 'MODULE ' counter(module-counter) ':  '
          counter-increment: module-counter

  // nested activity stuff for use in edit form only
  .sortable.allow-nested
    .placeholder
      background-color: #cfcfcf

      margin: 0 0 0 25px
      padding: 0
      list-style-type: none

    li
      margin: 7px 0 0 30px
      padding: 0px
      max-width: 500px

      div
        padding: 5px
        cursor: move
        border: 1px solid #999
        background: #eee
        color: #333

      button
        float: right

  // nested activity stuff for show only
  .nested-activity-list-pretty
    .activity
      list-style-type: decimal

    .subactivity
      list-style-type: none
      div
        &:before
          content: '- '

.admin_recipes.associated_ingredients
  .step-ingredients
    li
      margin-left: 20px

.admin_activities
  #activity_published_input label
    font-size: 20px

#resource-actions
  float: left
  width: 100%
  &.top
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: 1px solid $black
  &.bottom
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid $black
  a, .admin-button
    float: right

.admin_namespace button.admin-button.upload-image
  border-radius: 10px
  padding: 12px 10px 10px 10px
  [class*=icon-]
    font-size: 24px

.input.hidden
  padding: 0

