// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import active_admin/mixins
@import active_admin/base

@import compass/css3/border-radius
@import compass/css3/box-shadow

@import twitter/bootstrap/variables
@import twitter/bootstrap/mixins
@import twitter/bootstrap/dropdowns
@import twitter/bootstrap/scaffolding
@import font-awesome


$redLight:      #e63742
@import admin/quiz
@import admin/quiz_image

body.admin_namespace
  .img-polaroid
    @extend .img-polaroid

  table.nested-records
    display: none
    padding: 0 1.4em

    // hide template row
    tr.template-row:nth-child(2)
      display: none

  ul.typeahead
    list-style-type: none
    padding-left: 0

    li.active
      a
        color: white

    a
      text-decoration: none
      padding: 5px

  table.sortable
    tr
      &:nth-child(odd)
        background: #f4f4f4
      &:nth-child(1)
        background: none

    .ui-sortable-helper
      background: lighten($yellow, 40%) !important

    [data-behavior=remove-element]
      padding: 1px 2px 0 2px

    i.icon-remove
      font-size: 14px

    i.icon-reorder
      float: right
      margin-top: 6px
      font-size: 16px
      cursor: move

  fieldset.inputs.no-background
    background: none

  a.admin-button, button.admin-button
    @include light-button

  .two-button-row
    overflow: hidden
    a, button
      float: right
      &:first-child
        float: left

.admin_recipes.associated_ingredients
  .step-ingredients
    li
      margin-left: 20px

.admin_activities
  #activity_published_input label
    font-size: 20px

#resource-actions
  float: left
  width: 100%
  &.top
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: 1px solid $black
  &.bottom
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid $black
  a, .admin-button
    float: right

