@import 'mixins'

.activity_show, .action-jobs
  .nav-spacer
    height: 0
  
.banner-image
  height: 338px
  width: 100%
  xoverflow: none
  position: relative
  margin-bottom: $baseline

  img
    // Allowing a stretch here, but it is only effective temporarily because
    // we retrieve the correct sized image as quickly as possible.
    width: 100%
    height: 100%
    @include transition(all 300ms ease-in-out)


  .play-button
    position: absolute
    height: 100px
    top: 137px
    right: 50%
    left: 50%
    margin-left: -50px
    font-size: 100px
    color: #b4d8d8

    img
      opacity: 1
      @include transition(all 300ms ease-in-out)

  .video-container
    position: absolute
    top: 0
    width: 600px
    height: 100%
    opacity: 0
    @include transition(all 300ms ease-in-out)

  .hero-video
    position: absolute
    height: 338px
    bottom: 0px
    left: 50%
    margin-left: -300px

  &.hero-video-showing
    > img
      opacity: .3
      @include blur(10px)

    .video-container
      opacity: 1

.banner-spacer
  height: $baseline * 2

.step-number-container
  padding-top: $baseline * 3
  width: 100%

.step-number
  margin-left: auto
  margin-right: auto
  text-align: center
  padding-top: 15px
  @include primary-font-bold
  -webkit-backface-visibility: hidden
  background-color: $offwhite
  color: $orange
  width: 70px
  height: 70px
  border-radius: 50%
  @include boxsizing

.tools-list
  position: relative
  z-index: 1
  li 
    cursor: pointer
    border-bottom: 1px solid $offwhite
    border-top: 1px solid rgba(0, 0, 0, 0)
    margin-top: -1px
    padding-top: $baseline / 2 
    padding-bottom: $baseline / 2
    @include transition(all 300ms ease-in-out)

    &:hover
      color: $orange !important
      border-bottom: 1px solid $orange
      border-top: 1px solid $orange
      .icon-holder 
        i
          color: $orange
    a:hover
      color: $orange !important

    .icon-holder
      display: inline-block
      width: 18px !important
      i
        @include transition(all 300ms ease-in-out)
        color: $light-gray
      i.icon-heart
        color: $orange

    a
      @include transition(all 300ms ease-in-out)
      color: #333333


.step-edit-tools
  @include popup-card
  top: 0
  right: 100%
  margin-right: 22px


.btn-edit-step
  color: gray
  cursor: pointer
  display: inline-block
  font-size: 2.0312rem
  i.active
    color: $orange

@media (max-width: 780px)
  #step-dots
    display: none