@import 'mixins'

.activity_show, .action-jobs
  .nav-spacer
    height: $baseline * 5
  
.banner-image
  height: 338px
  width: 100%
  position: relative
  margin-bottom: $baseline

  .play-button
    position: absolute
    top: 50%
    bottom: 50%
    right: 50%
    left: 50%
    margin-left: -50px
    margin-top: -25px
    font-size: 100px
    color: #b4d8d8

  .banner-cropper
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    img
      opacity: 1
      width: 100%
      max-width: 100%
      @include transition(all 300ms ease-in-out)

  .video-container
    position: absolute
    top: 0
    width: 600px
    height: 100%
    opacity: 0
    @include transition(all 300ms ease-in-out)

  .hero-video
    position: relative
    top: -338px

  &.hero-video-showing
    .banner-cropper
      img
        opacity: .3
        @include blur(10px)

    .video-container
      opacity: 1

.banner-spacer
  height: $baseline * 2

.step-number-container
  width: 100%

.step-number
  margin-left: auto
  margin-right: auto
  text-align: center
  padding-top: 15px
  @include primary-font-bold
  -webkit-backface-visibility: hidden
  background-color: lighten($orange, 25%)
  width: 70px
  height: 70px
  border-radius: 50%
  @include boxsizing

.tools-list
  position: relative
  z-index: 1
  li 
    cursor: pointer
    border-bottom: 1px solid $offwhite
    border-top: 1px solid rgba(0, 0, 0, 0)
    margin-top: -1px
    padding-top: $baseline / 2 
    padding-bottom: $baseline / 2
    @include transition(all 300ms ease-in-out)

    &:hover
      color: $orange !important
      border-bottom: 1px solid $orange
      border-top: 1px solid $orange
      .icon-holder 
        i
          color: $orange
    a:hover
      color: $orange !important

    .icon-holder
      display: inline-block
      width: 18px !important
      i
        @include transition(all 300ms ease-in-out)
        color: $light-gray
      i.icon-heart
        color: $orange

    a
      @include transition(all 300ms ease-in-out)
      color: #333333



.step-edit-tools
  @include transition(all 300ms ease-in-out)
  @include dark-shadow
  padding: $baseline * 2
  background: white
  position: absolute
  top: $baseline * 3
  left: 0
  border-top: 4px solid $orange

.btn-edit-step
  color: $orange
  cursor: pointer
  display: inline-block
  font-size: 2.0312rem

@media (max-width: 780px)
  #step-dots
    display: none