@import 'mixins'

.negative-z
  z-index: -10000

.activity_show, .action-jobs
  .nav-spacer
    height: 60px

$banner-height: $baseline * 45

.banner-image
  max-height: $banner-height
  width: 100%
  position: relative
  margin-bottom: $baseline
  cursor: pointer
  min-height: 500px

  img
    // Allowing a stretch here, but it is only effective temporarily because
    // we retrieve the correct sized image as quickly as possible.
    max-height: $banner-height
    @include transition(all 300ms ease-in-out)

  .play-button-container
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    @include center-only-child

    .play-button
      font-size: 100px
      color: #b4d8d8

  .hero-visual
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    width: $banner-height * 16.0 / 9.0
    height: $banner-height
    margin-left: -444px
    overflow: hidden

  .video-iframe-container
    opacity: 0
    @include transition(opacity 300ms ease-in-out)

  &.hero-video-showing
    > img
      opacity: .3
      @include blur(7px)

    .video-iframe-container
      opacity: 1

.banner-spacer
  height: $baseline * 2

.step-number-container
  padding-top: $baseline * 2
  width: 100%

.step-row
  width: 100%

.step-content-group
  position: relative

  .step-comment-icon-group
    position: absolute
    right: -40px
    top: 0
    @include transition(all 300ms ease-in-out)
    @include unselectable
    cursor: pointer

    &:hover
      i, .plus
        color: $orange

    i
      font-size: 25px !important
      color: $light-gray

    .comments-with-count, .comments-no-count

      position: relative
      width: 25px
      i
        position: absolute
        top: 0

    .comment-count, .plus
      position: relative
      text-align: center
      top: -1px
      z-index: 2
      font-size: 13px
      &.three-digits
        font-size: 9px

    .comment-count
      color: white
    .plus
      color: $light-gray
      font-size: 15px

  .step-comment-container
    position: absolute
    right: -426px
    top: 34px
    z-index: 99
    @include transition(opacity 300ms ease-in-out)
    @include transition-delay(0ms)
    opacity: 0
    background-color: white
    padding: 0
    @include boxsizing
    width: 400px

    &.open
      @include transition-delay(150ms)
      opacity: 1

.comments-slide
  position: relative
  left: 0
  @include transition(all 300ms ease-in-out)

  &.comments-showing
    left: 0px

    .aside-separate, .aside-inset
      opacity: 0

@media (max-width: 1500px)
  .comments-slide
    &.comments-showing
      left: -200px

@media (max-width: 1110px)
  .comments-slide
    &.comments-showing
      left: -400px

@media (max-width: 768px)
  .step-comment-icon-group
    .comments-no-count-maybe-hover.ng-hide
      display: block !important
      opacity: 1 !important

@media (max-width: 460px)
  .step-content-group
    .step-comment-container
      width: 290px
      right: -434px

@media (max-width: 860px)
  .step-content-group
    .step-comment-icon-group
      right: -33px



.step-number
  margin-left: auto
  margin-right: auto
  @include center-only-child
  @include primary-font-bold
  -webkit-backface-visibility: hidden
  background-color: $offwhite
  color: $orange
  width: 70px
  height: 70px
  border-radius: 50%
  @include boxsizing

.tools-list
  position: relative
  z-index: 1
  max-width: 245px
  li 
    cursor: pointer
    border-bottom: 1px solid $offwhite
    border-top: 1px solid rgba(0, 0, 0, 0)
    margin-top: -1px
    padding-top: $baseline / 2 
    padding-bottom: $baseline / 2
    @include transition(all 300ms ease-in-out)

    .tool-group
      @include display-flex
      @include align-items(baseline)

    &:hover
      color: $orange !important
      border-bottom: 1px solid $orange
      border-top: 1px solid $orange
      .icon-holder 
        i
          color: $orange
    a:hover
      color: $orange !important

    .icon-holder
      width: 18px !important
      margin-right: $horz-baseline-small
      i
        @include transition(all 300ms ease-in-out)
        color: $light-gray
      i.icon-heart
        color: $orange

    a
      @include transition(all 300ms ease-in-out)
      color: #333333


.step-edit-tools
  @include popup-card
  top: 0
  right: 100%
  margin-right: 22px

.left, .leftInset
  .step-edit-tools
    right: -100%



.btn-edit-step
  color: gray
  cursor: pointer
  display: inline-block
  font-size: 2.0312rem
  i.active
    color: $orange


// Fix so that asides are always on top.  Triggered with isSeparateAside($index + 1)
.is-aside
  z-index: 999

@media (max-width: 900px)
  .banner-image
    min-height: 260px
    > img
      display: none

    .play-button-container
      display: none

    .hero-visual
      position: static
      top: 0px
      bottom: 0
      left: 0
      height: auto
      margin-left: 0
      width: 100%
      z-index: 1

@media (max-width: 480px)
  .banner-image
    min-height: 100px
  .activity-columns-1
    .aside.rightInset
      margin-right: -16%
