@import 'mixins'

.master-column
  width: 100%
  max-width: 1200px
  @include horizontal-center

.base-item
  @include boxsizing
  @include horizontal-center
  position: relative  

.standard-item
  @extend .base-item
  width: 600px
  
.medium-item
  @extend .base-item
  width: 800px

.wide-item
  @extend .base-item
  width: 100%

.half-item
  vertical-align: top
  display: inline-block
  width: 48%
  &:first-child
    margin-right: 2%

.aside-right-standard
  width: 300px
  display: inline-block
