@import 'mixins'

.cs-alert
  padding-top: $baseline
  .icon
    color: $orange
    font-size: 1.5238rem * 2
    display: inline-block


  h4
    vertical-align: middle
    display: inline-block


.alert-popup.nell-popup
  min-width: auto
  width: auto
  top: 7rem

#error_explanation h2
  font-size: 1.4rem
  line-height: 2.2rem
