@import twitter/bootstrap-no-sprites
@import font-awesome

.center
  text-align: center

.hero-unit
  padding: 0
  background: black
  +border-radius(0)

  .row:first-child
    margin-top: 0

// #main-container
//   max-width: 1170px
//   margin: 0 auto

iframe
  border: none

/* ########## */
/* $CAROUSEL  */
/* ########## */
.carousel
  margin-bottom: 0
.carousel .item
  width: 100%
  max-height: 600px

.carousel .item img
  width: 100%

.carousel .carousel-control
  background: none
  border: none
  top: 50%

.fluid-width-video-wrapper
  iframe
    min-height: 200px

@media (max-width: 767px)
  // make this items full-width (remove body padding)
  .hero-unit, .slider-block
    margin-left: -20px
    margin-right: -20px

@import application/home/index
@import application/title_bar
@import application/step
@import application/spec_sheet

@import twitter/bootstrap/responsive

