@import twitter/bootstrap-no-sprites
@import font-awesome

body
  font-size: 16px

.center
  text-align: center

.hero-unit
  color: white
  padding: 0
  background: black
  +border-radius(0)

  .row:first-child
    margin-top: 0

.hero-comments
  margin-bottom: 0

iframe
  border: none

.fluid-width-video-wrapper
  iframe
    min-height: 200px

.top-video, .course-info, .spec-sheet, .creator, .instructor
  margin-bottom: 20px

#disqus_thread
  padding-top: 20px

@import application/header
@import application/nav_bar
@import application/step
@import application/carousel

@import twitter/bootstrap/responsive
@import application/media_queries

