@import bootstrap_config
@import twitter/bootstrap-no-sprites
@import font-awesome

@import application/fonts
@import application/sprites

.hero-unit
  color: $white
  padding: 0
  background: $brick
  +border-radius(0)
  &.gray
    background: $grayLighter
  .row:first-child
    margin-top: 0

.hero-comments
  margin-bottom: 0
  background: $grayLight
  color: $black

ul.horizontal-list
  margin: 0
  padding: 0
  li
    padding-left: 10px
    display: inline
    list-style-type: none
    &:first-child
      margin: 0

.horizontal-divider
  border-top: 1px solid $grayLight

.icon-double-chevron-left
  @extend .icon-chevron-left
  &:before
    content: "\f053 \f053"

.icon-double-chevron-right
  @extend .icon-chevron-right
  &:before
    content: "\f054 \f054"

.icon-white
  color: $white

.icon-pot-brick
  +icons-sprite(pot-brick, $dimensions: true)
  display: inline-block
  vertical-align: middle

.icon-pot-white
  +icons-sprite(pot-white, $dimensions: true)
  display: inline-block
  vertical-align: middle

.breadcrumb .active
  color: $grayDark

iframe
  border: none

.btn[disabled][data-behavior~='loadable'], .btn.disabled[data-behavior~='loadable']
  &:before
    display: block
    content: ''
    background: url('ajax-loader.gif') no-repeat
    background-position: center
    height: 20px
    width: 20px

.fluid-width-video-wrapper
  iframe
    min-height: 200px

#disqus_thread
  padding-top: 20px

.img-profile
  +border-radius(3px)

=input-placeholder
  &:-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@import application/header
@import application/navigation
@import application/carousel
@import application/subscribe
@import application/home
@import application/courses/show
@import application/courses/course_breakdown
@import application/activities/overview
@import application/activities/step_by_step

@import twitter/bootstrap/responsive
@import application/media_queries

