@import 'mixins'



.aside
  float: right
  width: $aside-width
  .aside-image
    margin-bottom: $baseline

  &.left
    float: left

.list-view
  .aside.aside-with-media
    width: 100%
    float: left
    .aside-video
      width: 50%
      float: left
      margin-bottom: 0px
      @include boxsizing
    .aside-image
      width: 50%
      float: left
      margin-bottom: 0px
      @include boxsizing
    .aside-text
      width: 50%
      float: left
      padding-left: 15px
      @include boxsizing

// Fix for the case where the aside is in the last step in the class view
.course-assembly-container
  .ordered-step-item
    float: left
  .ordered-step-item.step-with-aside
    float: right