@import 'mixins'



.aside
  float: right
  width: $aside-width
  .aside-image
    margin-bottom: $baseline

  &.left, &.leftInset
    float: left

  &.aside-inset
    width: $aside-width * 2

  &.leftInset
    margin-right: $horz-baseline-large
    margin-left: -$aside-width

  &.rightInset
    margin-left: $horz-baseline-large
    margin-right: -$aside-width

  &.aside-center
    float: none
    width: $desktop-standard-item-width
    margin-left: auto
    margin-right: auto

// Fix for the case where the aside is in the last step in the class view
.course-assembly-container
  .ordered-step-item
    float: left
  .ordered-step-item.step-with-aside
    float: right