@import 'mixins'

=aspect-4-6
  position: relative
  overflow: hidden
  &:before
    content: ''
    display: block
    padding-top: calc(100%*2/3)

.slideshow
  @include aspect-4-6
  @include display-flex
  @include justify-content(center)
  @include align-items(center)
  &.fullscreen
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 99999
    background-color: black

  .slideshow-slides
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    .slideshow-slide
      position: absolute
      height: 100%
      width: 100%
      background-size: contain
      background-repeat: no-repeat
      background-position: 50% 50%
      background-color: black

  .slideshow-fullscreen-toggle
    position: absolute
    top: 10px
    right: 10px
    color: white
    z-index: 2
    &:hover
      cursor: pointer

  .slideshow-button-prev
    height: 100%
    width: 50%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    color: white
    @include display-flex
    @include justify-content(flex-start)
    @include align-items(center)
    .slideshow-button-text
      font-size: 40px
      padding: 20px
      @include transition(300ms all ease-in-out)
      opacity: 0
    &:hover
      cursor: pointer
      .slideshow-button-text
        opacity: 1
    &::selection
      background-color: rgba(0,0,0,0)

  .slideshow-button-next
    height: 100%
    width: 50%
    position: absolute
    top: 0
    right: 0
    z-index: 1
    color: white
    @include display-flex
    @include justify-content(flex-end)
    @include align-items(center)
    .slideshow-button-text
      font-size: 40px
      padding: 20px
      @include transform(scale(-1))
      @include transition(200ms all ease-in-out)
      opacity: 0
    &:hover
      cursor: pointer
      .slideshow-button-text
        opacity: 1
    &::selection
      background-color: rgba(0,0,0,0)

.slideshow-slide.ng-hide-add,
.slideshow-slide.ng-hide-remove
  @include transition(300ms all ease-in-out)
  display: block!important
  opacity: 1

.slideshow-slide.ng-hide
  opacity: 0
