@import 'mixins'

$one-item-width: 100%
$two-item-width: calc((100% - 40px)/2)
$three-item-width: calc((100% - 60px)/3)
$four-item-width: calc((100% - 80px)/4)
$five-item-width: calc((100% - 100px)/5)

.feed
  @include display-flex
  @include flex-wrap(wrap)
  .feed-item
    margin: 10px
    min-width: 200px

  .feed-item.feed-item-1-per-row
    @include flex(0 1 $one-item-width)

  .feed-item.feed-item-2-per-row
    @include flex(0 1 $two-item-width)

  .feed-item.feed-item-3-per-row
    @include flex(0 1 $three-item-width)

  .feed-item.feed-item-4-per-row
    @include flex(0 1 $four-item-width)

  .feed-item.feed-item-5-per-row
    @include flex(0 1 $five-item-width)
