@import 'mixins'

.list
  list-style: none
  margin: 0px
  .list-item
    margin-bottom: 10px
    @include display-flex
    .list-image
      @include flex(0 0 80px)
    .list-text
      margin-left: 10px
      .list-title
        font-weight: bold