@import 'mixins'

$one-item-width: 100%
$two-item-width: calc((100% - 40px)/2)
$three-item-width: calc((100% - 60px)/3)
$four-item-width: calc((100% - 80px)/4)
$five-item-width: calc((100% - 100px)/5)

.matrix
  width: 100%
  @include display-flex
  @include flex-wrap(wrap)

  .matrix-item.matrix-item-1-per-row
    @include flex(0 1 $one-item-width)

  .matrix-item.matrix-item-2-per-row
    @include flex(0 1 $two-item-width)

  .matrix-item.matrix-item-3-per-row
    @include flex(0 1 $three-item-width)

  .matrix-item.matrix-item-4-per-row
    @include flex(0 1 $four-item-width)

  .matrix-item.matrix-item-5-per-row
    @include flex(0 1 $five-item-width)

@media (max-width: 600px)
  .matrix
    .matrix-item.matrix-item-1-per-row
      @include flex(0 1 100%)

    .matrix-item.matrix-item-2-per-row
      @include flex(0 1 100%)

    .matrix-item.matrix-item-3-per-row
      @include flex(0 1 100%)

    .matrix-item.matrix-item-4-per-row
      @include flex(0 1 100%)

    .matrix-item.matrix-item-5-per-row
      @include flex(0 1 100%)

@media (min-width: 601px) and (max-width: 800px)
  .matrix
    .matrix-item.matrix-item-1-per-row
      @include flex(0 1 $two-item-width)

    .matrix-item.matrix-item-2-per-row
      @include flex(0 1 $two-item-width)

    .matrix-item.matrix-item-3-per-row
      @include flex(0 1 $two-item-width)

    .matrix-item.matrix-item-4-per-row
      @include flex(0 1 $two-item-width)

    .matrix-item.matrix-item-5-per-row
      @include flex(0 1 $two-item-width)
