@import 'mixins'

.action-new_home
  padding: 0

.component-container
  width: 100%
  margin-bottom: 80px
  @include display-flex
  @include justify-content(center)
  .component.small
    @include flex(0 1 700px)
    padding: 0 30px
  .component.standard
    @include flex(0 1 1080px)
    padding: 0 30px
  .component.full
    @include flex(0 1 100%)

.component-edit-button
  @include display-flex
  @include justify-content(center)

.component-preview
  position: fixed
  top: 0px
  left: 50%
  width: 50%
  height: 100%
  @include display-flex
  @include flex-direction(column)
  @include justify-content(flex-start)
  @include align-items(flex-start)
  .component-preview-header
    width: 100%
    padding-top: 20px
    @include boxsizing
    @include flex(1 0 auto)
  .component
    width: 100%
    overflow: auto
    @include flex(0 1 100%)
  .component-preview-json
    width: 100%
    margin-bottom: 0px
    overflow: auto
    @include boxsizing
    @include flex(0 1 100%)

// Notifications //
.notifications
  .notification
    text-align: center
    padding: 20px
    background-color: $offwhite
    @include display-flex
    @include justify-content(center)
    @include align-items(center)
    @include boxsizing
    .notification-message
      margin: 0
    .notification-button
      margin: 0
      margin-left: 10px

.btn-outline
  display: block
  border: 2px solid rgba(255,255,255,.8)
  color: white
  padding: 5px 20px
  background-color: none
  z-index: 1
  text-align: center
  @include transition(all 300ms)
  &:hover
    border: 2px solid $orange
    background-color: $orange
    color: white
    cursor: pointer

.btn-outline-rounded
  display: block
  border: 2px solid rgba(255,255,255,.8)
  border-radius: 3px
  color: white
  padding: 5px 20px
  background-color: none
  z-index: 1
  text-align: center
  @include transition(all 300ms)
  &:hover
    border: 2px solid $orange
    background-color: $orange
    color: white
    cursor: pointer

// TEMP NEW HOMEPAGE

.home-component-split-container
  @include display-flex
  @include justify-content(center)

.home-component-split
  @include display-flex
  @include flex-wrap(wrap)
  @include flex(0 1 1080px)
  padding: 0px 30px
  .home-component-split-item
    padding-right: 20px
    @include flex(1 1 50%)
    @include boxsizing
    &:last-of-type
      padding-right: 0px
      padding-left: 20px

@media (max-width: 600px)
  .home-component-split
    .home-component-split-item
      padding: 0px
      @include flex(0 1 100%)
      &:last-of-type
        padding: 0px

// Temp Experimental
.experimental
  .experimental-nav
    width: 100%
    padding: 10px
    @include display-flex
    .experimental-nav-item
      margin-right: 20px
      @include display-flex
      @include align-items(center)
      label
        margin: 0
        margin-right: 10px
      input
        margin: 0
      select
        margin: 0

.search-typeahead
  width: 100%
  position: relative
  .search-typeahead-input
    width: 100%
  .search-typeahead-results
    position: absolute
    background: white
    width: 100%
    z-index: 9999
    .search-typeahead-result
      padding: 5px
      @include boxsizing
      &:hover
        color: $orange
        cursor: pointer
