@import 'mixins'

.item-container
  @include display-flex
  width: 100%
  .item
    width: 100%

// HERO STYLES
.item.hero
  float: none
  @include aspect-3-1
  .item-content
    background-size: cover
    background-position: center
    @include aspect-content
    @include display-flex
    @include justify-content(flex-start)
    @include align-items(center)
    .item-content-image
      position: absolute
    .item-content-text
      z-index: 1
      height: 100%
      width: 50%
      padding-left: 10%
      @include boxsizing
      @include display-flex
      @include flex-direction(column)
      @include justify-content(center)
      @include align-items(flex-start)
      .item-title
        width: 100%
        font-size: 60px
        line-height: 60px
        margin-bottom: 10px
        font-weight: bold
      .item-description
        width: 100%
        font-size: 20px
        line-height: 25px
        margin-bottom: 20px
      .item-button.btn-outline
        font-size: 20px
        font-weight: bold
        padding: 10px 40px

@media (max-width: 1100px)
  .item.hero
    .item-content
      .item-content-text
        .item-title
          font-size: 45px
          line-height: 45px

@media (max-width: 900px)
  .item.hero
    @include aspect-16-9
    .item-content
      .item-content-text
        width: 100%
        padding-left: 0px
        text-align: center
        .item-title
          font-size: 30px
          line-height: 30px
      .item-button
        margin: 0 auto

@media (max-width: 600px)
  .item.hero
    @include aspect-1-1
    .item-content
      .item-content-text
        width: 100%
        padding-left: 0px
        text-align: center
        .item-title
          font-size: 30px
          line-height: 30px
      .item-button
        margin: 0 auto
// END HERO STYLES

// SQUARE STYLES
.item.square
  float: none
  @include aspect-1-1
  .item-content
    color: white
    text-align: center
    background-size: cover
    overflow: hidden
    @include aspect-content
    @include display-flex
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
    .item-content-image
      position: absolute
      @include filter(brightness(85%))
    .item-divider.first
      z-index: 1
      padding: 10px
      height: 100%
      width: 100%
      font-weight: bold
      font-size: 2rem
      line-height: 2.6rem
      @include boxsizing
      @include flex(0 1 100%)
      @include display-flex
      @include align-items(flex-end)
      @include justify-content(center)
    .item-divider.middle
      z-index: 1
      @include flex(0 0 auto)
    .item-divider.last
      z-index: 1
      height: 100%
      width: 100%
      @include flex(0 1 100%)
      @include display-flex

@media (max-width: 600px)
  .item.square
    @include aspect-3-2

.item.square.blank
  @include aspect-1-1
  border: 1px solid $light-gray
  background-color: $offwhite
  .item-content
    color: white
    text-align: center
    @include aspect-content
    @include display-flex
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
// END SQUARE STYLES

// LIST STYLES
.item.list
  float: none
  .item-content
    margin-bottom: 25px
    @include boxsizing
    @include display-flex
    @include transition(100ms all linear)
    @include align-items(flex-start)
    .item-content-image
      @include flex(0 0 100px)
      border-radius: 6px
      overflow: hidden
      @include aspect-1-1
      cs-image
        @include aspect-content
    .item-content-text
      margin-left: 10px
      width: 100%
      color: #333
      .item-title
        font-weight: bold
        font-size: 1.6rem
        line-height: 2.4rem
        margin-bottom: 10px
  &:hover
    .item-content-image
      cs-image
        img
          @include transform(scale(1.1,1.1))
// END LIST STYLES

// MEDIA STYLES
.item.media
  float: none
  @include display-flex
  @include flex-direction(column)
  @include justify-content(space-between)
  .item-content
    @include boxsizing
    .item-content-image
      width: 100%
      margin-bottom: 25px
      border-radius: 6px
      overflow: hidden
      @include aspect-16-9
      cs-image
        @include aspect-content
    .item-content-text
      width: 100%
      padding-left: 10px
      padding-right: 10px
      color: #333
      @include boxsizing
      .item-title
        font-weight: bold
        font-size: 1.6rem
        line-height: 2.4rem
        margin-bottom: 10px
  .item-action
    margin-top: 20px
    margin-left: 10px
    @include display-flex

// END MEDIA STYLES

// HEADER STYLES
.item.header
  float: none
  .item-content
    text-align: center
    @include boxsizing
    @include display-flex
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
    h2.header
      margin-bottom: 0px
    .subheader
      font-size: 20px
      margin-top: 10px
// END HEADER STYLES

// Forms
.item-form
  padding: 20px
  border: 1px solid #ccc
  width: 100%
  @include boxsizing
  input[type='text'], input[type='number'], textarea
    width: 100%
    border: 1px solid $light-gray
    border-radius: 0px
    margin-bottom: 20px
    @include box-shadow(none)
  textarea
    min-height: 200px

// Zoom hover
.item-content-image.zoom-hover
  // Fix for bug in Safari where overflow hidden doesn't work with css3 animations
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black)
  cs-image
    background-color: #333
    img
      opacity: 1
      @include transform(scale3d(1,1,1))
      -webkit-transition: -webkit-transform 500ms
      -moz-transition: -moz-transform 500ms
      -ms-transition: -ms-transform 500ms
      -o-transition: -o-transform 500ms
      transition: ease transform 500ms, ease opacity 500ms
      @include backface-visibility(hidden)
      &:hover
        opacity: 0.7
        @include transform(scale3d(1.06,1.06,1.06))

// Themes
.item.light
  .item-content
    .item-title
      color: white
    .item-description
      color: white
    .item-button
      border-color: white
      color: white
      &:hover
        border: 1px solid $orange
        color: white
        background-color: $orange

.item.dark
  .item-content
    .item-title
      color: #333
    .item-description
      color: #333
    .item-button
      border-color: #333
      color: #333
      &:hover
        border: 2px solid $orange
        color: white
        background-color: $orange
