@import 'mixins'

.course_activity_content
  padding: 0px
  overflow: hidden

.course-nav-bottom
  position: relative
  .course-nav-bottom-left
    position: absolute
    top: 10px
    left: 10px
  .course-nav-bottom-center
    width: 100%
    text-align: center
  .course-nav-bottom-right
    position: absolute
    top: 10px
    right: 10px

.course-nav-side
  top: 90px
  width: 270px

/* Large desktop */
@media (max-width: 1200px)
  .course-nav-side
    width: 220px
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
  .affix-parent
    width: 100%
    margin-left: 0px

  .course-nav-side
    position: static
    width: 100%
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  .affix-parent
    width: 100%
    margin-left: 0px

  .course-nav-side
    position: static
    width: 100%

/* Landscape phones and down */
@media (max-width: 480px)
  .affix-parent
    width: 100%
    margin-left: 0px

  .course-nav-side
    position: static
    width: 100%