// nested activity stuff for both edit and show view
.nested-activity-list-shared
  >ol >li  >div
    text-transform: uppercase
    &:before
      content: 'MODULE: '
    margin-top: 20px

  ol
    list-style-type: none


// nested activity stuff for use in edit form only
.sortable.allow-nested
  .placeholder
    background-color: #cfcfcf

    margin: 0 0 0 25px
    padding: 0
    list-style-type: none

  li
    margin: 7px 0 0 30px
    padding: 0px
    max-width: 500px

    div
      padding: 5px
      cursor: move
      border: 1px solid #999
      background: #c2c2c2
      color: #333

    button
      float: right

// nested activity stuff for show only
.nested-activity-list-pretty
  ol
    ol
      list-style-type: decimal
      ol
        list-style-type: none
        div
          &:before
            content: '- '