@import 'mixins'

.course_activity_content
  padding: 0px
  .course-activity-header
    margin: 0px

.course-nav-top
  font-family: 'Raleway', sans-serif
  position: relative
  height: 34px
  margin-bottom: 10px
  .course-nav-top-prev
    float: left
    margin: 0px
    margin-right: 5px
    height: 34px
    width: 34px
    padding: 5px
    font-size: 16px
    border: 2px solid $light-gray
    color: $light-gray
    a
      color: $light-gray
    &:hover
      background: gray
      color: white
  .nav-pills > .active > a, .nav-pills > .active
    background: white
    color: $orange
    font-weight: bold
  ul
    float: left
    li
      height: 34px
      overflow: hidden
      white-space: nowrap
      .active
        background-color: white
    .hide-course-navbar-item
      width: 0px
    .show-course-navbar-item
      width: auto

.course-nav-modules
  font-family: 'Raleway', sans-serif
  width: 100%
  border: 0px
  li
    width: 100%
    .course-nav-module-link
      border: 0px
      &:hover
        border: 0px
    .active-module
      font-weight: bold

.course-side-bar.affix
  top: 60px

.course-nav-side
  font-family: 'Raleway', sans-serif
  position: relative
  border: 1px solid $orange
  border-radius: 5px
  padding: 10px 8px
  margin-top: 5px
  font-size: 13px
  @include boxsizing
  ul
    margin-bottom: 0px
  .nav-tabs.nav-stacked > li > a
    border: 0px
  .nav-tabs.nav-stacked
    .active
      font-weight: bold
  .nav-tabs > li > a
    padding: 5px
  .nav-tabs.nav-stacked > li:first-child > a, .nav-tabs.nav-stacked > li:last-child > a
    border-radius: 0px
  .course-nav-side-marker
    position: absolute
    top: -7px
    left: 80px
    width: 12px
    height: 12px
    border: 1px solid $orange
    border-right: 0px
    border-bottom: 0px
    background: white
    -moz-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)

.course-nav-bottom
  font-family: 'Raleway', sans-serif
  position: relative
  .course-nav-bottom-left
    position: absolute
    top: 10px
    left: 10px
  .course-nav-bottom-center
    width: 100%
    text-align: center
  .course-nav-bottom-right
    position: absolute
    top: 10px
    right: 10px

/* Course End Action */
.course-end-action
  background: white
  position: absolute
  width: 100%
  top: 100%
  bottom: 0px
  left: 0px
  right: 0px
  z-index: 9999
  opacity: 0
  @include transition(2s linear all)
  .course-end-action-close
    position: absolute
    top: 30px
    right: 30px
    font-size: 30px
    color: $orange
    &:hover
      cursor: pointer

.course-end-action-show
  top: 0px
  opacity: 1

/* Spherification Styles */

.static-height
  height: 150px

.align-bottom
  bottom: 0

@media (min-width: 1200px)
  .course-side-bar
    width: 270px

  .static-height
    height: 150px

@media (max-width: 1200px)
  .course_activity_content
    padding-left: 20px
    padding-right: 20px

  .course-side-bar
    width: 220px

  .static-height
    height: 170px    

@media (min-width: 768px) and (max-width: 979px)
  .course-side-bar
    width: 166px

  .static-height
    height: 220px    

@media (max-width: 767px)
  .course-side-bar.affix
    position: inherit

  .course-side-bar
    width: 100%

  .static-height
    height: 140px

@media (max-width: 480px)
  .static-height
    inherit

/* Macaron Styles */
.assembly-course-landing
  .full-stripe
    width: 100%
    background: $offwhite


  /* tabs */

  .underline.nav-tabs
    border: none
    li
      a
        color: $light-gray
        border: none
        border-bottom: 3px solid white
        @include transition(all 200ms ease-in-out)
        &:hover
          color: gray
          background: white
          border-radius: 0px
          border-bottom: 3px solid $light-gray
    li.active
      a
        color: black
        border-bottom: 3px solid $orange


  .buy-box
    border-style: double
    border-width: 4px
    border-color: $orange
    box-sizing: border-box
    padding: 20px


  /* Caption Overlay */

  .grid
    list-style: none
    text-align: center

  ul.grid
    padding: 0
    margin: 0

  .grid li
    display: inline-block  
    margin: 0
    padding: 10px 0
    text-align: left
    position: relative

    perspective: 1700px
    -webkit-perspective: 1700px
    -webkit-perspective-origin: 0 50%
    perspective-origin: 0 50%

  .grid figure
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    transform-style: preserve-3d
    margin: 0

  .grid figure > div
    overflow: hidden
    width: 100%

  .grid figure img
    max-width: 100%
    display: block
    position: relative

    transition: 0.4s
    -webkit-transition: -webkit-transform 0.4s

  figure:hover img, figure.cs-hover img
    -webkit-transform: translateX(25%)
    -moz-transform: translateX(25%)
    -ms-transform: translateX(25%)
    transform: translateX(25%)

  .grid figcaption
    position: absolute
    top: 0
    left: 0
    padding: 20px 
    background: $blue-opaque
    color: white
    @include boxsizing

  figcaption
    height: 100%
    width: 50%
    opacity: 0
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform-origin: 0 0
    -moz-transform-origin: 0 0
    transform-origin: 0 0
    -webkit-transform: rotateY(-90deg)
    -moz-transform: rotateY(-90deg)
    transform: rotateY(-90deg)
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s
    transition: transform 0.4s, opacity 0.1s 0.3s

  figure:hover figcaption, figure.cs-hover figcaption
    opacity: 1
    -webkit-transform: rotateY(0deg)
    -moz-transform: rotateY(0deg)
    transform: rotateY(0deg)
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s
    -moz-transition: -moz-transform 0.4s, opacity 0.1s
    transition: transform 0.4s, opacity 0.1s 

  .tab-content.overflow-visible
    overflow: visible