@import 'mixins'

.course_activity_content
  padding: 0px
  overflow: hidden

.course-nav-top
  font-family: 'Raleway', sans-serif
  position: relative
  .course-nav-top-prev
    float: left
    margin: 0px
    margin-right: 5px
    height: 34px
    width: 34px
    padding: 5px
    font-size: 16px
    border: 2px solid $light-gray
    color: $light-gray
    &:hover
      background: gray
      color: white
  ul
    float: left
    li
      height: 34px
      overflow: hidden
      white-space: nowrap
    .hide-course-navbar-item
      width: 0px
    .show-course-navbar-item
      width: auto

.course-nav-side
  font-family: 'Raleway', sans-serif
  border: 1px solid $orange
  border-radius: 5px
  padding: 5px 0px
  @include boxsizing
  ul
    margin-bottom: 0px
  .nav-tabs.nav-stacked > li > a
    border: 0px

.course-nav-bottom
  font-family: 'Raleway', sans-serif
  position: relative
  .course-nav-bottom-left
    position: absolute
    top: 10px
    left: 10px
  .course-nav-bottom-center
    width: 100%
    text-align: center
  .course-nav-bottom-right
    position: absolute
    top: 10px
    right: 10px