@import 'mixins'

//////////////////////
/// General Styles ///
//////////////////////

.flex-container
  @include display-flex
  @include flex-wrap(wrap)

.flex-full
  @include flex(1 100%)

.flex-main
  @include flex(0 600px)

.flex-aside
  @include flex(1 280px)

.flex-dropdown
  position: relative
  .flex-dropdown-toggle
    position: relative
  .flex-dropdown-menu
    position: absolute
    top: 0px
    right: 0px
    background: white
    padding: $baseline
    border-radius: 2px
    box-shadow: 1px 1px 5px #ccc
    white-space: nowrap
    z-index: 1
    @include boxsizing
    ul
      margin: 0px
      list-style: none
      text-align: left
      li
        margin: 5px 0px
        svg.csicon
          font-size: 22px
          height: 22px
          width: 22px
        &:hover
          color: black
          cursor: pointer
    &.open
      display: block
    &.closed
      display: none
    &:after
      content: ' '
      position: absolute
      top: -7px
      right: 15px
      width: 15px
      height: 15px
      background: white
      transform: rotate(45deg)
      box-shadow: -1px -1px 1px #E8E8E8

.flex-large-only
  display: block

.flex-medium-only
  display: none

// 20px + 280px + 600px + 280px + 20px (master column padding + aside + main + aside + master column padding)
@media (max-width:1240px)
  .flex-container
    @include flex-direction(column)

  .flex-full
    @include flex(1 auto)

  .flex-main
    @include flex(1 auto)
    width: 600px
    @include align-self(center)

  .flex-aside
    @include flex(1 auto)
    width: 600px
    @include align-self(center)

  .flex-large-only
    display: none

  .flex-medium-only
    display: block

// 20px + 600px + 20px (master column padding + main + master column padding)
@media (max-width: 640px)

  .flex-main
    width: 100%

  .flex-aside
    width: 100%

///////////////////////////////////////////
// Flex Layout Styles In a class //
///////////////////////////////////////////
.course-wrapper
  .flex-container
  
  .flex-item
    margin: 0 auto
    @include flex(0 700px)

  .flex-item.flex-full
    @include flex(0 auto)

  .flex-title
    @include justify-content(flex-start)

//////////////////////
// Specific styles ///
//////////////////////

.flex-title
  @include display-flex
  @include justify-content(center)
  h1
    @include flex(0 600px)
    margin-bottom: $baseline

.flex-tools-container
  @include display-flex
  @include justify-content(flex-end)

.flex-tools
  @include display-inline-flex
  @include flex-direction(column)
  margin-right: 40px
  .flex-tool
    @include align-self(center)
    text-align: center
    color: $light-gray
    margin-bottom: 20px
    .flex-button-circle
      width: 44px
      height: 44px
      font-size: 30px
      border-width: 2px
      border-style: solid
      border-color: $light-gray
      border-radius: 22px
      padding: 5px
      margin-bottom: 5px
      @include boxsizing
    .flex-dropdown-menu
      top: 90px
      color: $light-gray
    &:hover
      color: black
      cursor: pointer
      .flex-button-circle
        border-color: black

.flex-social-title
  padding-left: $baseline
  color: $light-gray

.flex-social
  width: 175px
  padding: 0 $baseline
  color: $light-gray
  @include display-flex
  @include flex-direction(row)
  @include justify-content(space-around)
  @include boxsizing
  .flex-social-item
    svg.csicon
      width: 22px
      height: 22px
      font-size: 22px
      line-height: 22px
    &:hover
      color: black
      cursor: pointer

    .flex-dropdown-menu
      color: $light-gray
      top: 35px
      right: -10px

.flex-suggestions
  padding: $baseline

@media (max-width:1240px)
  .flex-tools-container
    justify-content: flex-start

  .flex-tools
    @include flex-direction(row)
    @include justify-content(space-around)
    width: 100%
    margin-right: 0px
    .flex-tool
      @include align-self(inherit)
      margin-bottom: 10px