@import 'mixins'

.video-loop-player
  position: relative
  video
    width: 100%

  .video-loop-controls
    .video-loop-control
      // position: absolute
      width: 100%
      bottom: $baseline
      right: $baseline
      color: #b4d8d8

    .video-loop-control.slider
      input
        width: 100%