.cs-lightbox
  position: fixed
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px
  padding: 20px
  z-index: 9999
  display: none
  .cs-lightbox-overlay
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: black
    opacity: .5
    z-index: -1

  .cs-lightbox-image
    width: 100%
    margin: 0 auto
    img
      width: 100%

.show-cs-lightbox
  display: block