@import font-awesome

#custom-header, #custom-footer
  width: 981px
  margin: 0 auto
  overflow: hidden

  .pull-right
    float: right

#custom-header
  padding: 40px 0 25px
  background: white

  .brand-container
    float: left
    padding-left: 30px

  .brand-byline
    clear: left
    margin-left: 45px
    line-height: 20px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 11px
    font-style: italic
    padding-top: 10px

  .delve-brand
    display: inline-block
    margin: -10px 0 0 5px


  .nav
    list-style: none

  li
    display: inline-block
    margin: 0
    border-right: 1px dotted black
    padding: 10px 30px
    text-align: center
    line-height: 19px

    &.last
      border-right: none

    a
      font-family: Georgia, "Times New Roman", Times, serif
      font-size: 20px
      float: none
      text-decoration: none
      text-shadow: 0 1px 0 white
      color: #AA4311
      padding: 0

#custom-footer
  background: #EEE
  padding-bottom: 10px

  .row
    padding: 0 30px

  .span8
    float: left

  p
    margin: 0.3em 0
    font-size: 18px
    font-weight: 200
    line-height: 27px
    color: inherit
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    text-align: left

  a
    color: #D85516
    text-decoration: none
    &:hover
      text-decoration: underline

  [class^="icon-"], [class*=" icon-"]
    &:before
      padding-right: 5px
