#custom-header
  background: white
  width: 981px
  margin: 0 auto
  padding: 40px 0 25px
  overflow: hidden

  .brand-container
    float: left
    padding-left: 30px

  .brand-byline
    clear: left
    margin-left: 45px
    line-height: 20px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 11px
    font-style: italic
    padding-top: 10px

  .delve-brand
    display: inline-block
    margin: -10px 0 0 5px

  .pull-right
    float: right

  .nav
    list-style: none


  li
    display: inline-block
    margin: 0
    border-right: 1px dotted black
    padding: 10px 30px
    text-align: center
    line-height: 19px

    &.last
      border-right: none

    a
      font-family: Georgia, "Times New Roman", Times, serif
      font-size: 20px
      float: none
      text-decoration: none
      text-shadow: 0 1px 0 white
      color: #AA4311
      padding: 0

