@import 'mixins'

.gallery-wrapper
  min-height: 2400px
  margin-top: 30px

.gallery-filter
  input
    margin-top: -4px
    margin-right: 20px !important

.gallery-filter
  @include raleway
  font-size: 16px
  margin-bottom: 14px
  .dropdown
    cursor: pointer
    display: inline-block
    margin-right: 10px
    background:  white  !important

    .dropdown-menu
      box-shadow: none
      background: white !important
      border-radius: 0px
      li > a
        &:hover
          background: $orange
        color: black !important

    a
      color: black
      @include raleway
      font-size: 16px
  li > a
    padding: 0 0 2px 0 !important
    margin-left: 18px

  .browse-group
    padding-right: 30px
    .browse-by
      font-size: 95%
    a.active
      border-bottom: 3px solid $orange

  .dropdown-menu
    a
      margin-left: 30px
    a.active
      &:before
        content: "\2713"
        position:  absolute
        left:  10px
        font-size:  80%
        color:  $orange

  .clear-search
    position: absolute
    right:  25px
    bottom:  4px
    color:  #a9a9a9

  .search-query
    margin-top: -9px

.filters-group
  margin-top: 18px
  margin-bottom: 18px
  .btn-group:not(:first-child)
    margin-left: 30px

.pagination
  @include raleway
  font-size: 20px

.gallery-animation-enter-setup, .gallery-animation-leave-setup, .gallery-animation-move-setup
  @include transition(300ms ease all)

.gallery-animation-enter-setup
  opacity: 0

.gallery-animation-enter-setup.gallery-animation-enter-start
  opacity: 1

.gallery-animation-leave-setup
  opacity: 1

.gallery-animation-leave-setup.gallery-animation-leave-start
  opacity: 0

.gallery-animation-move-setup
  opacity: .5

.gallery-animation-move-setup.gallery-animation-move-start
  opacity: 1

.gallery-spinner
  color: $orange
  font-size: 40px
  margin-top: 40px
  margin-left: 20px


@media (max-width: 970px)
  .gallery-filter, .gallery-filter .dropdown a
    font-size: 14px !important

    .search-query
      display: block
      margin-bottom: 15px


  
  