@import 'mixins'

.gallery-wrapper
  margin-top: 20px
  overflow: hidden

.gallery-controls
  position: fixed
  top: 74px
  padding-left: $horz-baseline-large * 2
  width: 300px
  @include flex(0 0 320px)
  @include primary-font
  font-size: 16px
  margin-bottom: 14px

  ul
    width: 100%

  li, form
    margin-bottom: $baseline * 2

  li a:not(.btn)
    display: inline
    cursor: pointer
    margin-right: $horz-baseline-large
    padding: 0 !important
    color: $dark-gray

    &:hover
      color: black

    &.active
      color: $orange !important

  li h5
    @include primary-font-bold
    text-transform: none

  .search-group 
    margin-bottom: $baseline
    margin-left: -1px

    .navbar-search
      margin-top: 15px
      width: 100%

      .input-group
        position: relative
        max-width: 320px
        display: inline-block

        input
          margin-right: 0px !important

        .clear-search
          position: absolute
          right:  12px
          bottom:  2px
          color:  #a9a9a9

    .filter-toggle 
      display: none

.gallery-items
  @include display-flex
  @include flex-wrap(wrap)

  .cs-index-item
    overflow: hidden
    /* Hack to help infinite scroll before content loads */
    min-height: 190px
    margin-bottom: $baseline *2

  .cs-index-item-image
    min-height: 180px
    @include linear-gradient(rgba(147,147,147,1), rgba(204,204,204,1))

.gallery-results
  padding-left: 340px
  padding-bottom: $baseline * 2
  @include transition(all 300ms ease-in-out)
  opacity: 1

  .loading-icon-group
    width: 100%
    @include display-flex
    i
      display: block
      margin-left: auto
      margin-right: auto
  .no-results
    margin-left: 0px
    margin-bottom: $baseline
  &.reloading
    opacity: 0

.new-ingredient-modal
  input
    width: 95%

@media (max-width: 1440px)
  .cs-index-item
    max-width: 320px

@media (max-width: 1050px)
  .gallery-controls
    z-index: 100
    width: 100vw
    left: 0
    top: 60px
    padding-left: 0px

    > *
      padding-left: 22px

    ul
      float: none !important

    li
      max-width: 320px
      display: block
      float: none !important

    .search-group
      padding-top: 10px
      background-color: white
      opacity: 0.95
      width: 100vh
      height: 60px

      .filter-toggle 
        display: inline-block
        cursor: pointer
        margin-left: $horz-baseline-large

    .filters-group
      position: absolute
      top: 60px
      padding-left: 22px
      height: 300vh
      z-index: 100
      background-color: white
      opacity: 0.95
      width: 100%
      overflow: hidden
      max-height: 100000px
      @include transition(all 200ms ease-in)

      &.filters-collapsed
        opacity: 0
        max-height: 0

  .gallery-results
    padding-left: $horz-baseline-large
    padding-top: 42px

@media (max-width: 700px)
  .gallery-wrapper
    margin-top: 0

  .gallery-controls
    position: absolute
    top: 0px
    right: 0
    left: 0
    width: auto

    .search-group
      padding-left: 0
      padding-top: 5px
      height: auto
      margin-left: 0

      .navbar-search
        margin-top: 0
        margin-bottom: 0

      .input-group
        input.search-query
          width: 155px

    .filters-group
      top: $baseline * 4
      right: 0
      width: auto
      padding-left: 1px
      margin-right: 0

  .gallery-results
    padding-left: 0px

    .cs-index-item
      padding-left: 0
      padding-right: 0
      margin-left: 0
      margin-right: 0

