@import 'mixins'

.gallery-wrapper
  min-height: 2400px
  margin-top: 30px

.gallery-filter
  input
    margin-top: -4px
    margin-right: 20px !important

.gallery-filter
  @include raleway
  font-size: 16px
  margin-bottom: 14px
  .dropdown
    cursor: pointer
    display: inline-block
    margin-right: 10px
    background:  white  !important

    .dropdown-menu
      box-shadow: none
      background: white !important
      border-radius: 0px
      li > a
        &:hover
          background: $orange
        color: black !important

    a
      color: black
      @include raleway
      font-size: 16px
  li > a
    padding: 0 0 2px 0 !important
    margin-left: 18px

  .browse-group
    padding-right: 30px
    .browse-by
      font-size: 95%
    a.active
      border-bottom: 3px solid $orange

  .dropdown-menu
    a
      margin-left: 30px
    a.active
      &:before
        content: "\2713"
        position:  absolute
        left:  10px
        font-size:  80%
        color:  $orange

  .clear-search
    position: absolute
    right:  25px
    bottom:  4px
    color:  #a9a9a9

  .search-query
    margin-top: -9px

.filters-group
  width: 300px
  position: absolute
  top:  90%
  z-index: 1000
  padding: 10px 20px 20px 40px
  background-color: rgba(255, 255, 255, .8)
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px
  .btn-group
    margin-top: 10px
    margin-left: 0px
  @include bottom-only-annotation-shadow
  overflow:  hidden

// See https://github.com/angular/angular.js/commit/11f712bc - these class
// names have to change when we go to angular >= 1.1.5
.filters-show-setup, .filters-hide-setup
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s

.filters-hide-setup
  opacity: 1
  max-height: 150px
  &.filters-hide-start
    opacity: 0
    max-height: 0px

.filters-show-setup
  opacity: 0
  max-height: 0px
  &.filters-show-start
    opacity: 1
    max-height: 150px



.pagination
  @include raleway
  font-size: 20px

.gallery-animation-enter-setup, .gallery-animation-leave-setup, .gallery-animation-move-setup
  @include transition(300ms ease all)

.gallery-animation-enter-setup
  opacity: 0

.gallery-animation-enter-setup.gallery-animation-enter-start
  opacity: 1

.gallery-animation-leave-setup
  opacity: 1

.gallery-animation-leave-setup.gallery-animation-leave-start
  opacity: 0

.gallery-animation-move-setup
  opacity: .5

.gallery-animation-move-setup.gallery-animation-move-start
  opacity: 1

.gallery-spinner
  color: $orange
  font-size: 40px
  margin-top: 40px
  margin-left: 20px


@media (max-width: 970px)
  .gallery-filter, .gallery-filter .dropdown a
    font-size: 14px !important

    .search-query
      display: block
      margin-bottom: 15px


  
  