@import bootstrap_config
@import twitter/bootstrap-no-sprites
@import font-awesome
@import twitter/bootstrap/responsive
@import application/fonts
@import application/sprites
@import application/custom_mixins

@import application/base
@import application/header
@import application/media_queries


@font-face
  font-family: "FontAwesome"
  src: url("http://www.chefsteps.com/assets/fontawesome-webfont.eot")
  src: url("http://www.chefsteps.com/assets/fontawesome-webfont.eot?#iefix") format("eot"), url("http://www.chefsteps.com/assets/fontawesome-webfont.woff") format("woff"), url("http://www.chefsteps.com/assets/fontawesome-webfont.ttf") format("truetype"), url("http://www.chefsteps.com/assets/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("http://www.chefsteps.com/assets/fontawesome-webfont.svg#FontAwesomeRegular") format("svg")
  font-style: normal
  font-weight: normal

.container
  margin-left: 24px

