@import 'mixins'

.global-message
  position: fixed
  max-width: 300px
  bottom: 20px
  right: 20px
  padding: 10px
  background: white
  border: 1px solid $orange
  z-index: 9999
  @include boxsizing