
@import 'mixins'
@import 'typography'
@import 'bloom/bloom'
@import 'navigation'

html
  margin: 0px
  padding: 0px

body
  margin: 0px
  padding: 0px

a
  text-decoration: none

.cs-nav-profile
  float: right
  width: 4rem
  height: 6rem
  padding: 1.5rem 0.5rem
  @include boxsizing
  .profile-image
    img
      float: left