.horizontal-slider
  position: relative
  height: 248px
  overflow: hidden
  .horizontal-slider-wrap
    height: 248px
    position: relative
  .horizontal-slider-btn-right
    position: absolute
    top: 50%
    right: 10px
    margin-top: -21px
  .horizontal-slider-btn-left
    position: absolute
    top: 50%
    left: 10px
    margin-top: -21px