@import 'mixins'

.ingredient-show
  .edit-buttons-group
    position: relative
    bottom: -8px
    .btn
      display: inline-block
      float: right

  [contenteditable]
    outline: none

    &:empty
      &:before
        content: "Click to start writing"
        color: $light-gray

  h3
    text-transform: capitalize

  .well
    ul, .ro-tag-group
      margin-right: 25px

  .embed-container
    height: auto
    padding-bottom: $baseline

  .ro-tag
    background-color: white
    color: #333
    border: 1px solid #ccc
    padding: 1px 4px
    margin: 0px 8px $baseline 0px
    @include radius(4px)
    @include primary-font-light 
    display: inline-block

    i
      color: #aaa

  .report-problem
    position: absolute
    right: 0
    bottom: -$baseline * 3

  .wiki-warning
    background: lighten($orange, 30%)