@import 'mixins'

.ingredient-show
  .edit-buttons-group
    position: relative
    bottom: -8px
    .btn
      display: inline-block
      float: right

  [contenteditable]
    outline: none

    &:empty
      &:before
        content: "Click to start writing"
        color: $light-gray

  h3
    text-transform: capitalize

  .well
    ul
      margin-right: 25px

  .embed-container
    height: auto
    padding-bottom: $baseline