@import mixins

.ingredient-index-container
  margin-top: 70px

  .alert-block
    margin-bottom: 10px

  .navbar
    padding-top: 56px

  .navbar-inner
    border-top: none
    box-shadow: none
    -webkit-box-shadow: none
    background-color: white
    padding-top: 10px

    form
      *
        margin-right: 20px

  .ingredient-index
    height: 560px

  .ngCellText
    i
      margin-right: 6px
