@import mixins

.nav-ghost
  .intl-icon
    .intl-label
      color: $white

      &:before
        background-color: $white

body
  .cs-nav-container.nav-fixed
    .cs-nav
      .intl-label
        color: $black

#intl-icon-mobile
  .intl-label
    color: $black

.intl-icon
  .dropdown-wrapper-mobile
    border-top: 1px solid $light-gray
    border-bottom: 1px solid $light-gray
    margin: 16px 0 8px 0
    padding: 8px 0

    .dropdown-menu-item
      padding: 8px 0
      margin: 0

  .flag-icon
    display: inline-block

  .divider
    height: 1px
    background-color: $light-gray
    margin: 8px 0

  .intl-label
    vertical-align: middle
    display: inline-block

  .icon-spanner-down
    vertical-align: middle
    margin-left: 2px

  .dropdown-wrapper
    height: 300px
    overflow-y: scroll
    overflow-x: hidden
    background-color: #fff

  .dropdown-menu
    text-align: left

  .intlFlag
    display: inline-block
    cursor: pointer
    font-size: 13px

  .intlFlag, .dropdown-menu-item
    white-space: nowrap
    cursor: pointer

    .flag-icon
      padding: 0 20px 0 0
      height: 18px
