/* JOBS PAGE */

@import 'mixins'
@import 'circle_highlight_anim'

.chefsteps-filter
  background: linear-gradient(rgba(226,95,37,.7), rgba(226,95,37,.7)), no-repeat url(https://d3awvtnmmsvyot.cloudfront.net/api/file/ATdWbFiWSLid1mqCe53v)
  height: 375px
  width: 100%
  margin-bottom: $baseline * 3 

.tagline
  color: #fff
  padding-top: 10%
  text-transform: uppercase

.whitespace
  padding: 100px 0px

.well
  &.fixed
    height: 175px

