@import 'mixins'

=kit-nav-large
  height: 200px
  @include flex-wrap(wrap)
  @include justify-content(space-around)
  @include align-content(space-around)
  .kit-nav-item
    height: 112.5px
    @include flex(0 0 200px)
    .kit-nav-item-title
      position: absolute
      background: $orange
      color: white
      bottom: 10px
      padding: 3px 5px
      width: 180px
      opacity: 1
    .kit-nav-item-image
      height: 100%
      width: 100%
      opacity: 1

=kit-nav-small
  height: 50px
  .kit-nav-item
    height: 40px
    .kit-nav-item-title
      background: none
      color: black
      padding-left: 50px
    .kit-nav-item-image
      height: 40px
      width: 40px

.kit
  height: 100%
  width: 100%

  .kit-intro-container
    position: absolute
    height: 50px
    width: 100%
    padding-bottom: 0px
    z-index: 100
    @include boxsizing
    @include transition(1s all cubic-bezier(0.81, 0, 0, 0.99))
    .kit-intro
      height: 100%
      width: 100%
      position: relative
      .kit-intro-title
        position: absolute
        width: 900px
        margin-left: 0px
        top: 0px
        left: 10px
        @include transition(1s all cubic-bezier(0.81, 0, 0, 0.99))
        h1
          font-size: 30px
          @include transition(1s all cubic-bezier(0.81, 0, 0, 0.99))
          &:hover
            color: white
            cursor: pointer
      .kit-intro-image
        position: absolute
        top: 0px
        left: 0px
        height: 100%
        width: 100%
        overflow: hidden
        @include filter(grayscale(100%))
        @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))

  .kit-intro-container.intro-active
    height: 100%
    .kit-intro
      .kit-intro-title
        width: 900px
        margin-left: -450px
        top: 50%
        left: 50%
        h1
          font-size: 50px
      .kit-intro-image
        margin-top: 0px
        @include filter(grayscale(0%))

  .kit-nav-container
    position: absolute
    bottom: -160px
    background: rgba(255,255,255,.9)
    height: 160px
    width: 100%
    z-index: 200
    @include display-flex
    @include flex-wrap(wrap)
    @include justify-content(space-around)
    @include align-content(space-around)
    @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))

    .kit-nav-toggle
      position: absolute
      top: -30px
      left: 40px
      width: 100px
      height: 30px
      text-align: center
      background: white
      opacity: 1
      border: 1px solid #ccc
      border-bottom: 0px
      border-radius: 5px 5px 0px 0px
      padding: 5px
      @include boxsizing
      @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))
      &:hover
        cursor: pointer

    .kit-nav-item
      position: relative
      height: 112.5px
      overflow: hidden
      @include boxsizing
      @include flex(0 0 200px)
      @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))
      &:hover
        cursor: pointer
      .kit-nav-item-title
        position: absolute
        background: $orange
        color: white
        bottom: 10px
        padding: 3px 5px
        width: 180px
        @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))
      .kit-nav-item-image
        @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))
  
  .kit-intro-container.intro-active.nav-active
    .kit-intro
      .kit-intro-image
        margin-top: -160px

  .kit-nav-container.nav-active
    bottom: 0px
    .kit-nav-toggle
      opacity: 0

  .kit-viewer
    height: 100%
    width: 100%
    padding-top: 60px
    padding-bottom: 0px
    overflow-y: auto
    opacity: 0
    @include transition(300ms all cubic-bezier(0.81, 0, 0, 0.99))
    @include boxsizing
    .kit-page
      width: 600px
      margin: 0 auto

  .kit-viewer.viewer-active
    opacity: 1

.kit-toggles
  position: fixed
  top: 10px
  right: 10px