@import 'mixins'

.kit
  height: 100%
  width: 100%

  .kit-intro
    position: relative
    height: 70%
    @include transition(300ms all ease-in-out)
    .kit-intro-title
      position: absolute
      bottom: 10px
      left: 10px
    .kit-intro-image
      position: absolute
      top: 0px
      left: 0px
      height: 100%
      width: 100%
      overflow: hidden

  .kit-nav-container
    background: red
    height: 30%
    @include display-flex
    @include flex-wrap(wrap)
    @include justify-content(space-around)
    @include align-content(space-around)
    @include transition(300ms all ease-in-out)

    .kit-nav-item
      height: 112.5px
      overflow: hidden
      @include boxsizing
      @include flex(0 0 200px)
      &:hover
        cursor: pointer
      .kit-nav-item-title
        position: absolute
      .kit-nav-item-image
        

  .kit-viewer
    height: 0%
    width: 100%
    overflow-y: auto
    @include transition(300ms all ease-in-out)
    .kit-page
      width: 600px
      margin: 0 auto

.kit.intro-active
  .kit-intro
    height: 70%
  .kit-nav-container
    height: 30%
  .kit-viewer
    height: 0%

.kit.nav-active
  .kit-intro
    height: 10%
  .kit-nav-container
    height: 30%
  .kit-viewer
    height: 60%

.kit.page-active
  .kit-intro
    height: 10%
  .kit-nav-container
    height: 10%
  .kit-viewer
    height: 80%

.kit-toggles
  position: fixed
  top: 10px
  right: 10px