#legal
  padding: 20px
  #privacy
    table
      width: 90%

@media (max-width: 1120px)
  #legal
    padding: 10px
    #privacy
      h3
        font-size: 1.75rem
        padding: 0 2px 0 0
      h4
        font-size: 1.5rem
