@import 'mixins'

.component.standard.market-container
  @include display-flex

.buybox
  @include flex(1 0 300px)
  @include order(1)

.market-body
  @include flex(0 1 100%)
  padding-right: 30px
  @include boxsizing
  h2
    margin-bottom: $baseline

.steps-gallery, .guarantee
  @include display-flex
  margin-bottom: 30px

.step
  @include flex(0 1 100%)
  margin-right: 30px
  cs-image
    margin-bottom: 10px

.step img, .product-photo img, .guarantee img
  border-radius: 8px

.guarantee
  @include display-flex
  cs-image
    width: 50%
    margin-right: 30px
  .quote
    width: 50%

.product-photo
  margin-bottom: 15px

.product-name
  font-size: 20px
  line-height: 22px
  font-weight: 500
  display: block

.product-description
  font-size: 16px
  color: #767676
  display: block

.product-pricing, .product-urgency
  color: #767676

.product-pricing
  font-size: 22px
  vertical-align: middle
  display: inline-block

.product-shipping
  font-size: 14px

.form form
  display: inline

.buy-button
  background-color: rgb(125, 180, 97)
  color: rgb(255,255,255)
  padding: 4px 8px
  margin: 10px 10px 0 0
  border: 1px solid #71a257
  border-radius: 3px

@media (max-width: 600px)
  .component.standard.market-container
    display: block
    padding: 0px

  .market-body
    padding-right: 0px
    padding-left: 0px

  .steps-gallery
    display: block
    .step
      margin-right: 0px
      margin-bottom: 30px

  .guarantee
    display: block
    cs-image
      width: 100%
      margin-right: 0px
    .quote
      width: 100%
