@import 'mixins'

=aspect-1-1
  position: relative
  overflow: hidden
  &:before
    content: ''
    display: block
    padding-top: 100%

=aspect-2-1
  position: relative
  overflow: hidden
  &:before
    content: ''
    display: block
    padding-top: 50%

=aspect-16-9
  position: relative
  overflow: hidden
  &:before
    content: ''
    display: block
    padding-top: 56.25%

=aspect-content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.aspect-1-1
  @include aspect-1-1

.aspect-2-1
  @include aspect-2-1

.aspect-content
  @include aspect-content

// HERO //

.cs-hero
  position: relative
  width: 100%
  margin-bottom: 20px
  @include display-flex
  @include aspect-16-9

  .cs-hero-content
    @include aspect-content
    .cs-hero-cta
      @include aspect-content
      @include display-flex
      @include flex-direction(column)
      @include justify-content(center)
      padding-left: 5%
      padding-right: 50%


// Containers //

// Standard flexbox container. Items are set to max with of 320px
.cs-container-standard
  width: 100%
  margin-bottom: 20px
  @include display-flex
  @include justify-content(center)
  @include flex-flow(row wrap)

.cs-container-600
  @extend .cs-container-standard
  width: 600px

// Items //
.cs-item-standard
  max-width: 300px
  padding: 10px
  .cs-item-content
    @include flex(0 1 auto)
    .cs-item-image
      margin-bottom: 10px
    .cs-item-title
      padding: 0px 20px
      margin-bottom: 10px
      font-weight: bold
    .cs-item-description
      padding: 0px 20px

.cs-item-fixed-square
  max-width: 300px
  max-height: 300px
  padding: 10px
  @include flex(0 1 auto)

.cs-item-flex-square
  width: 33.333333%
  @include flex(0 1 auto)
  @include aspect-1-1
  @include boxsizing
  .cs-item-container
    @include aspect-content
    padding: 10px
    .cs-item-content
      width: 100%
      height: 100%
      position: relative
      @include display-flex
      @include justify-content(center)
      @include align-items(center)
      .cs-item-image
        @include aspect-content
        img
          width: 100%
      .cs-item-text
        z-index: 1

// Creator //
.creator
  position: relative

.creator-form
  position: absolute
  width: 320px
  padding: 20px
  background: rgba(255,255,255,.8)
  z-index: 1
  top: 20px
  left: 20px
  @include boxsizing

.creator-preview
  width: 100%
  @include boxsizing
