@import 'mixins'

.media-box
  @include boxsizing
  position: relative
  width: 100%
  border: 1px solid $light-gray
  padding: 10px
  background: white
  text-align: center
  font-weight: bold
  margin-bottom: 20px
  color: black
  -webkit-transition: background 200ms, border-color 200ms
  -moz-transition: background 200ms, border-color 200ms
  -o-transition: background 200ms, border-color 200ms
  transition: background 200ms, border-color 200ms
  img
    width: 100%
    margin-bottom: 10px
  a
    color: black
    -webkit-transition: color 200ms
    -moz-transition: color 200ms
    -o-transition: color 200ms
    transition: color 200ms

  &:before, &:after
    content: ""
    position: absolute
    z-index: -1
    bottom: 15px
    left: 2%
    width: 96%
    height: 20%
    -webkit-box-shadow: 0 15px 10px gray
    -moz-box-shadow: 0 15px 10px gray
    box-shadow: 0 15px 10px gray
  &:after
    -webkit-transform: rotate(2deg)
    -moz-transform: rotate(2deg)
    -ms-transform: rotate(2deg)
    -o-transform: rotate(2deg)
    transform: rotate(2deg)
  &:before
    -webkit-transform: rotate(-2deg)
    -moz-transform: rotate(-2deg)
    -ms-transform: rotate(-2deg)
    -o-transform: rotate(-2deg)
    transform: rotate(-2deg)
  &:hover
    border-color: $orange
    cursor: pointer
    a
      text-decoration: none

.media-box-medium
  width: 300px
  //margin-left: 10px
  //margin-right: 10px
  margin: 20px

.media-box-2
  @include boxsizing
  position: relative
  width: 100%
  border: 1px solid $light-gray
  padding: 10px
  background: white
  text-align: center
  font-weight: bold
  margin-bottom: 20px
  color: black
  -webkit-transition: background 200ms, border-color 200ms
  -moz-transition: background 200ms, border-color 200ms
  -o-transition: background 200ms, border-color 200ms
  transition: background 200ms, border-color 200ms
  img
    width: 100%
    margin-top: 10px
  a
    color: black
    -webkit-transition: color 200ms
    -moz-transition: color 200ms
    -o-transition: color 200ms
    transition: color 200ms
  &:after
    content: ''
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid white
    top: 40px
    left: 50%
    margin-left: -10px
    position: absolute
  &:hover
    border-color: $orange
    cursor: pointer
