/* Mobile/tablet overrides */

body.mobile-device
  #quiz-results
    .order-sort.results
      .toggle-tabs
        width: 725px
  
  .order-sort
    .grid-item
      width: 235px

      img
        width: 235px

  #quiz-container
    .order-sort
      .grid-item
        width: 225px
        overflow: hidden
        height: 210px

      .step-marker
        padding-top: 25px
        height: 185px

        img
          width: 225px

