@import mixins

.nell-backdrop
  position: fixed
  z-index: 1999
  top: 0
  bottom: 0
  right: 0
  left: 0
  opacity: 0

.nell-popup
  @extend noprint
  @include boxsizing
  @include shadow
  @include transition(all 300ms cubic-bezier(.1, 0.7, 0.1, 1))

  background-color: white
  position: fixed
  z-index: 2000
  border: 1px solid $light-gray
  border-top: 4px solid $orange
  border-bottom: 2px solid $light-gray
  top: 25%
  right: 0
  +transform(translateX(100%))

  &.active
    +transform(translateX(0%))

  .close-x
    position: absolute
    top: $baseline
    right: $baseline

  .activity-loading-spinner
    position: absolute
    left: 50%
    top: 50%
    margin-top: -37px
    margin-left: -16px

.nell-card
  margin: $baseline*2 44px $baseline*2 22px

  .nell-card-header
    margin-bottom: $baseline
  .nell-card-media
    display: inline-block
    width: 480px
    margin-right: 33px
    vertical-align: top
  .nell-card-text
    display: inline-block
    width: 480px

    .needs-work
      color: $orange

@media (max-width: 430px)
  .nell-popup
    width: 320px
    right: -40px
    top: 54px
