@import mixins

.nell-popup
  @extend noprint
  @include boxsizing
  @include shadow

  padding: $baseline $baseline*2
  background-color: white
  position: fixed
  z-index: 20000
  border: 1px solid $light-gray
  border-top: 2px solid $orange
  width: 75%
  top: 25%
  right: 0

  .close-x
    position: absolute
    top: $baseline
    right: $baseline

@media (max-width: 430px)
  .nell-popup
    width: 320px
    right: -40px
    top: 54px
