@import mixins

.nell-popup
  @include boxsizing
  @extend anim-basic-fade
  @extend noprint
  @include shadow

  padding: $baseline $baseline*2
  background-color: white
  position: fixed
  z-index: 20000
  right: 0
  top: 34px
  border: 1px solid $light-gray
  border-top: 2px solid $orange
  width: 320px

  .top-triangle
    position: absolute
    top: -23px
    right: 30px
    color: $orange
    font-size: 32px

  .close-x
    position: absolute
    top: $baseline
    right: $baseline

@media (max-width: 430px)
  .nell-popup
    width: 320px
    right: -40px
    top: 54px

    .top-triangle
      right: 70px