$print_gray: rgb(220, 220, 220)

.noprint
  display: none !important

@page
  margin: 1cm

p, body, .step-directions li, table.ingredients
  font-size: 12pt

#overview h1
  color: black
  font-size: 15pt

.navbar .brand-container
  margin: 0px auto
  width:  400px

.main-container
  padding: 0
  float: none !important

.horizontal-divider
  display: none

.hero-well
  background: white

.hero-unit.hero-well.hero-step-by-step
  border: none
  padding-top: 0px

a, .step strong, table.ingredients thead
  color: black !important

table.ingredients
  margin-top: 6pt

.hero-step-by-step
  margin-top: 1em
  margin-bottom: 1em

  .step
    page-break-inside: avoid

    .span4
      width: 100%

    .well
      background: transparent
      border:  none !important
      width: 30%
      box-shadow:  none
      display: inline-block
      clear: none

    .well+.step-directions
      margin-top: 1.6em

    .step-directions
      vertical-align: top
      display: inline-block
      width:  50%

    .step_title
      box-shadow: 0 0 0 2em $print_gray inset
      padding-left: 20px
      width:  100%
      clear: both


