@import 'mixins'

.profile-cover
  height: 208px
  background-size: 100%
  background-position: center
  margin-bottom: $baseline * 2
  margin-top: -21px
  .profile-image-wrapper
    position: relative
    .profile-image
      position: absolute
      width: 100%
      margin-top: 115px
      border: 2px solid $orange
      border-radius: 100%
      img
        @include boxsizing
  h1
    font-weight: 700
    font-size: 50px
    color: white
    margin-top: 140px
    margin-bottom: -1px
    text-shadow: -1px 1px black

  .profile-email-addr
    margin-top: -20px
    margin-left: 5px
    color: white
    text-shadow: -1px 1px black


.profile-badges
  margin-top: 100px

.profile-photo-btn
  color: black
  position: absolute
  top: 60px
  left: 50%
  margin-left: -25px
  font-size: 100px
  font-weight: bold
  @include transition(all 100ms)
  &:hover
    text-decoration: none
    color: $orange

.profile-edit
  .profile-edit-image
    width: 200px
    background: $offwhite

@media (max-width: 1200px)
  .profile-cover
    .profile-image
      margin-top: 130px

@media (min-width: 768px) and (max-width: 979px)
  .profile-cover
    margin-top: -20px
    .profile-image
      margin-top: 145px



@media (max-width: 767px)
  .profile-badges
    margin-top: 50px

  .profile-cover
    margin: -11px -20px 0px
    background-size: 150%
    .profile-email-addr
      margin-left: 145px
    .profile-image-wrapper
      .profile-image
        margin-top: 115px
        margin-left: 10px
        width: 120px
        img
          width: 120px
    h1
      font-size: 30px
      margin-top: 110px
      line-height: $baseline * 3
      margin-left: 145px
      text-align: left