@import 'mixins'

.profile-cover
  height: 200px
  background-size: 100%
  background-position: center
  border-bottom: 2px solid $orange

.profile-image
  margin-top: 115px
  img
    border: 2px solid $orange

@media (min-width: 768px) and (max-width: 979px)
  .profile-cover
    margin-top: -20px

@media (max-width: 767px)
  .profile-cover
    margin: -20px -20px 0px

@media (max-width: 480px)
  .profile-cover
    margin: -20px -20px 0px