// Mixins
=boxsizing
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  -o-box-sizing: border-box

=shadow
  box-shadow: 0px 0px 8px #888888
  -moz-box-shadow: 0px 0px 8px #888888
  -webkit-box-shadow: 0px 0px 8px #888888
  -o-box-shadow: 0px 0px 8px #888888

=dark-shadow
  box-shadow: 0px 0px 5px black
  -moz-box-box-shadow: 0px 0px 5px black
  -webkit-box-shadow: 0px 0px 5px black
  -o-box-shadow: 0px 0px 5px black

=radius($value)
  border-radius: $value
  -moz-border-radius: $value
  -webkit-border-radius: $value
  -o-box-border-radius: $value

=transition($value)
  transition: $value
  -moz-transition: $value
  -webkit-transition: $value
  -o-transition: $value

/* Colors */
$orange: #DB7354
$dark-orange: #D25029
$darker-orange: #B84724
$blue: #006DCC
$blue-opaque: rgba(0,109,204,.8)
$red: #DA4f49
$red-opaque: rgba(218,79,73,.8)

////////////////////////////////////////

#main-container
  margin-top: 60px

/* Bootstrap Overrides */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  height: inherit

.dropdown-menu
  min-width: 400px
.well
  border: none
  border-radius: 0px
  background-color: rgba(0,0,0,.1)

.well-opaque
  background-color: rgba(255,255,255,.8)

.hero-unit
  background: none
  border-radius: 0px
  @include shadow

////////////////////////////////////////

/* Media Objects */
.section
  margin-top: 20px
  
.two-columns
  column-count: 2
  column-gap: 30px
  -webkit-column-count: 2
  -webkit-column-gap: 30px
  -moz-column-count: 2
  -moz-column-gap: 30px
  -o-column-count: 2
  -o-column-gap: 30px
  min-height: auto

.media-centered
  position: relative
  a
    color: white
    font-size: 18px
  .media-centered-overlay
    display: none
    opacity: 0
    background: black
    position: absolute
    width: 100%
    height: 100%
    @include transition(opacity 300ms)
  .title-block
    text-transform: uppercase
    position: absolute
    text-align: center
    top: 35%
    width: 100%
    color: white
    text-shadow: 0px 1px rgba(0,0,0,.6)
    .title-type
      background-color: rgba(255,255,255,.8)
      margin: 0px 100px 3%
      padding: 5px 0px
      color: black
      text-shadow: none
  &:hover
    .media-centered-overlay
      opacity: .5

.media-centered-medium
  width: 100%
  margin-bottom: 20px
  height: 208px

.media-hero
  position: relative
  max-height: 546px
  img
    width: 100%
  .media-header-background
    background-color: rgba(255,255,255,.5)
    width: 100%
    height: 100px
    position: absolute
    bottom: 0px
  .media-block
    position: absolute
    width: inherit
    bottom: 0px
    @include boxsizing
    .media-object
      .icon-play
        font-size: 60px

.video-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    border: none
  #image-viewer
    position: absolute
    top: 0px
    display: none
    #image-viewer-close
      position: absolute
      top: -20px
      right: -20px
      color: $orange
      &:hover
        cursor: pointer

.ordered-steps
  overflow: auto
  //background: -webkit-linear-gradient(white 30%, hsla(0,0%,100%,0)), -webkit-linear-gradient(hsla(0,0%,100%,0), white 70%) bottom, -webkit-radial-gradient(50% 0, rgba(0,0,0,.2), transparent 70%), -webkit-radial-gradient(50% 100%, rgba(0,0,0,.2), transparent 70%) bottom
  //background-repeat: no-repeat
  //background-size: 100% 60px, 100% 60px, 100% 14px, 100% 14px
  //background-attachment: local, local, scroll, scroll
  .ordered-step-item
    width: 100%
    float: left
    padding: 10px 0px
    .step-element
      float: left
      @include boxsizing
      padding: 10px
    .step-number
      font-family: futura
      letter-spacing: -3px
      width: 10%
      text-align: center
      font-size: 30px
      line-height: 40px
    .step-content
      width: 90%
      padding-top: 0px
      h4
        margin: 0px
      ul, li
        list-style: none
        padding: 5px 0px
        margin: 0px
      .step-ingredients
        display: none
    .step-image
      display: none

/* Emphasizes the content being hovered */
.ordered-steps:hover > .ordered-step-item
  opacity: .3
  @include transition(opacity 200ms)
.ordered-steps:hover > .ordered-step-item:hover
  opacity: 1
  @include transition(opacity 200ms)


.prependable
  text-align: right
  width: 100%
  padding-right: 2px

.activity-ingredients-list
  table
    width: 100%
  thead
    line-height: 30px
    font-size: 17.5px
  th#ingredient
    text-align: left
  th#quantity
    text-align: right
    .recipetip
      margin-left: -11px
    .icon-question-sign
      position: absolute
      margin-left: 18px
  td
    font-size: 14px
    div
      display: inline-block
      form
        margin: 0px
        input
          width: 60px
  td.quantity-group
    text-align: right
    padding-right: 5px
  .ingredient-item
    height: 20px
    @include transition(opacity 500ms)
    .ingredient-title, .prependable
      font-weight: 400
      @include transition(opacity 500ms)
    .quantity-group, .unit
      @include transition(opacity 500ms)
  .ingredient-highlighted
    .ingredient-title, .prependable
      font-weight: 700
      opacity: 1
    .quantity-group, .unit
      opacity: .2
  .ingredient-unhighlighted
    opacity: .2
    font-weight: 40

//////////

.carousel-scroll
  overflow: auto
  .carousel-scroll-inner
    height: 160px
    .item
      width: 285px
      float: left
      display: none

////////////////////////////////////////

/* Unique Styles */
#logo-window
  // height: 20px
  box-shadow: 5px 0px 0px 0px white, 10px 0px 0px 0px white, 0px 6px 0px 0px white, 5px 6px 0px 0px white, 10px 6px 0px 0px white, 0px 12px 0px 0px white, 5px 12px 0px 0px white, 10px 12px 0px 0px white, 0px 18px 0px 0px white, 5px 18px 0px 0px white, 10px 18px 0px 0px white
  background: white
  width: 4px
  height: 5px
  overflow: hidden
  float: left
.logo-text
  margin-left: 20px

#hero-container
  width: 100%
  margin: 0px
  padding: 0px
  max-height: 546px
  position: absolute
  z-index: 999
  .hero-carousel-control
    position: absolute
    bottom: 0
    right: 0px
    height: 100px
    width: 65px

#hero-video
  margin-top: 40px
  height: 546px

#player-close
  display: none

#twitter-status
  iframe
    width: 100%
    border: none
    border-radius: 0px !important
    border-width: 0px !important
    box-shadow: none !important

// #recipe-gallery
//   .media-centered
//     img
//       height: 210px

#footer
  margin-top: 50px
  background-image: url('http://d2eud0b65jr0pw.cloudfront.net/final_dish_IMG_5402.jpg')
  background-position: left center
  background-repeat: no-repeat
  background-size: 100%
  #footer-body
    margin-top: 50px
  .footer-social
    color: white
    &:hover
      text-decoration: none

/* Labels */

.label-large
  font-size: 20px
  line-height: 20px
  padding: 5px 10px
  border-radius: 0px

.label-science
  background: $blue

.label-technique
  background: $red

/* Buttons */

.btn-primary
  background: $dark_orange
  border: none
  border-radius: 0px
  @include transition(all 100ms)
  &:hover
    background: $darker_orange
    @include transition(all 100ms)

.btn-play
  position: relative
  width: 80px
  height: 80px
  margin: 10px
  background: $orange
  @include radius(50px)
  transition: box-shadow 200ms
  opacity: .9
  -webkit-transition: -webkit-box-shadow 200ms, opacity 200ms
  -moz-transition: -moz-box-shadow 200ms, opacity 200ms
  -o-transition: -o-box-shadow 200ms, opacity 200ms
  &:hover
    @include shadow
    opacity: 1
  .btn-play-trangle
    position: absolute
    width: 0px
    height: 0px
    border-top: 20px solid transparent
    border-bottom: 20px solid transparent
    border-left: 30px solid white
    margin: 20px 30px
    opacity: .9

.btn-next
  background: $orange
  height: 100%
  width: 100%
  @include boxsizing
  padding: 30% 45%
  transition: background 200ms
  -webkit-transition: background 200ms
  -moz-transition: background 200ms
  -o-transition: background 200ms
  &:hover
    background: $dark-orange
  &:before
    content: ''
    position: absolute
    width: 10%
    height: 30%
    transform: skew(25deg)
    -webkit-transform: skew(25deg)
    -moz-transform: skew(25deg)
    -o-transform: skew(25deg)
    background: white
  &:after
    content: ''
    position: absolute
    width: 10%
    height: 30%
    transform: skew(-25deg)
    -webkit-transform: skew(-25deg)
    -moz-transform: skew(25deg)
    -o-transform: skew(25deg)
    background: white
    top: 50%

.btn-circle
  height: 20px
  width: 20px
  padding: 10px
  margin: 5px 0px
  border-radius: 50%
  background: $orange
  background-image: none
  color: white
  font-size: 20px
  text-shadow: none
  text-align: center
  transition: background 200ms
  -webkit-transition: background 200ms
  -moz-transition: background 200ms
  -o-transition: background 200ms
  display: inline-block
  i
    line-height: 22px
  &:hover
    background: $dark-orange
    text-decoration: none
    color: white

/* Navbar */
.navbar-fixed-top
  .navbar-inner
    box-shadow: none
    background-image: none
    background-color: $orange
    border-color: $dark-orange
  .brand
    text-shadow: none
    color: white
  .nav > li > a
    text-shadow: none
    color: white
    text-transform: uppercase
    font-weight: 200
  .btn-navbar
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($orange), to($dark-orange))
    background-image: -moz-linear-gradient(top, $orange, $dark-orange)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$orange, endColorstr=$dark-orange, GradientType=0)
    background-color: $orange
    border-color: $dark-orange
    .icon-bar
      background-color: white
    &:hover
      background-image: none
      background-color: $dark-orange

// BELOW ARE RESPONSIVE STYLES //

/* Large desktop */
@media (min-width: 1200px)
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  .navbar-fixed-top
    margin-bottom: 0px
  #hero-container
    width: 100%
    left: 0px
    #hero-carousel
      h2
        font-size: 16px
        line-height: 16px
      h3
        font-size: 12px
        line-height: 12px
      .btn-play
        width: 50px
        height: 50px
        margin-left: 10px
      .pull-left 
        float: left
      .media-header-background
        height: 70px
      .media-heading
        margin-bottom: 0px
      .hero-carousel-control
        height: 70px
        width: 35px
  #hero-video
    height: inherit
    margin-top: 0px
    .video-container
      margin: 0px -20px
      iframe
        min-height: 225px
  #player-close
    p
      margin-top: 30px
      text-align: right
 
/* Landscape phones and down */
@media (max-width: 480px)

