@import 'mixins'
@import 'circle_highlight_anim'



body
  position: relative

.top-container
  margin-top: 76px

#main-container
  margin-top: 70px
  margin-bottom: 60px

.container-fluid
  .container
    .row
      margin-left: inherit

.no-margin-padding
  padding: 0px
  margin: 0px

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
  width: 1170px

.relative
  position: relative

.full-width
  width: 100%

#slider-container
  background: $offwhite
  .row
    margin-left: 0px

.printonly
  display: none

.popup-bottom
  color: white
  position: fixed
  padding: 10px 0px
  max-height: 200px
  bottom: -200px
  width: 100%
  @include boxsizing
  z-index: 9999
  background: $orange
  @include shadow
  .row
    margin-left: 0px
  h3
    margin: 0px
  form
    margin: 10px 0px
    .input-signup-email
      margin: 0px

  .popup-bottom-close
    position: absolute
    top: 10px
    right: 10px
    font-size: 20px
    &:hover
      color: $dark-orange
      cursor: pointer

.popup-bottom-show
  bottom: 0px

#technique-carousel, #related-carousel
  .scroll-overlay-left, .scroll-overlay-right
    &:after
      background: $offwhite

.assembly-loading-background
  position: absolute
  background: rgba(255, 255, 255, .9)
  height: 100%
  width: 100%
  top: 0
  left: 0

.activity-loading-spinner
  font-size: 150px
  color: $dark-orange
  position:  absolute
  top: 150px
  left:  50%
  margin-left: -75px

.activity-top-buttons
  margin-top: 20px

/* Bootstrap Overrides */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  height: inherit

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
  background: $orange
  color: white

.navbar .nav > li > .dropdown-menu
  // min-width: 400px
  background: none
  border-radius: 0px
  margin: 0px
  li
    a
      color: #333
      padding: 3px 10px
      &:hover
        background: $orange
        color: white
  &:after
    content: normal
  &:before
    content: normal
  .dropdown-background
    background: $offwhite
    position: absolute
    width: 100%
    height: 100%
    top: 0px
    z-index: -1
    opacity: .9

ul.nav li.dropdown:hover > ul.dropdown-menu
  display: block

.well
  //border: 1px solid #ccc
  border: 0px
  border-radius: 0px
  background-color: $offwhite
  -moz-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none
  @include boxsizing

.well-opaque
  background-color: rgba(255,255,255,.8)

.well-gradient
  padding: 20px
  background: rgb(255,255,255)
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)))
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%)
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%)
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%)
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 )

.well-gray
  padding: 20px
  background: $offwhite

.hero-unit
  background: none
  border-radius: 0px
  @include shadow

.modal
  border-radius: 0px

.input-block-level
  width: 100%

.nav-tabs-gray
  .nav-tabs
    border: none
    li
      a
        &:hover
          background: $orange
          color: white
          border-radius: 0px
    li.active
      position: relative
      a
        border: none
        &:hover
          border: none
      &:after
        content: ''
        width: 15px
        height: 15px
        background: white
        position: absolute
        bottom: -29px
        left: 40%
        border: 1px solid $light-gray
        border-right: 0px
        border-bottom: 0px
        -moz-transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        -o-transform: rotate(45deg)
        transform: rotate(45deg)

  .tab-content
    border: 1px solid $light-gray
    @include boxsizing
    .tab-pane
      overflow: hidden
      .tab-pane-header
        padding: 3% 3% 0
        h3
          margin: 0px

h4
  margin-bottom: 0px
  line-height: 24px

// Did this to help out Equipment etc sections for now; may want it everywhere but we weren't
// sure what other h4's might be negatively affected

.word-wrap
  word-wrap: break-word

.display-inline-fix
  word-spacing : -4px

.indent-1
  padding-left: 20px

.indent-2
  padding-left: 40px

.indent-3
  padding-left: 60px

.flat-form
  form
    input, textarea
      border-radius: 0px
      font-size: 16px
      line-height: 20px
      font-family: 'Raleway', sans-serif
      padding: 10px
      box-shadow: none
      display: block
    .input-block-level-password
      width: 100%
      float: left
      #user_password
        width: 80%
        float: left
      #user-password-show
        font-family: 'Raleway', sans-serif
        width: 19%
        float: right
        height: 40px
        padding: 10px
        @include boxsizing

////////////////////////////////////////

/* No Step Activities */
.no-steps
  .hero-visual
    img
      width: 100%
  .activity-description
    height: inherit
  #activity-description-maximize
    display: none

/* Media Objects */

.text-orange
  color: $orange

.black-link
  color: black
  &:hover
    color: black

.orange-link
  color: $orange
  &:hover
    color: $darker-orange

a:hover
  text-decoration: none

.madlib, .madlib input
  font-family: "Raleway", san-serif
  font-size: 30px
  font-weight: 500
  -webkit-font-smoothing: antialiased
  line-height: 50px
  input
    font-size: 24px
    line-height: 26px

.input-underlined
  input[type=text], input[type=email], input[type=password]
    border: none
    box-shadow: none 
    border-bottom: 1px dashed gray
    text-align: center
    padding: 0px
  input[type=text], input[type=email], input[type=password]
    width: 260px

.gallery
  .media-centered
    margin-bottom: 20px

.section-small
  margin-top: 10px

.section
  margin-top: 20px

.section-large
  margin-bottom: 5em

.relative
  position: relative
  
.two-columns
  column-count: 2
  column-gap: 30px
  -webkit-column-count: 2
  -webkit-column-gap: 30px
  -moz-column-count: 2
  -moz-column-gap: 30px
  -o-column-count: 2
  -o-column-gap: 30px
  min-height: auto

.media-centered
  position: relative
  @include boxsizing
  .media-centered-overlay
    //display: none
    opacity: 0
    background: black
    position: absolute
    width: 100%
    height: 100%
    @include transition(opacity 300ms)
  .title-block
    position: absolute
    text-align: center
    bottom: 0
    width: 100%
    color: black
    background: rgba(255,255,255,.6)
    padding: 10px 0px
    @include transition(color 500ms)
    @include transition(background 500ms)
  &:hover
    .media-centered-overlay
      opacity: .5
    .title-block
      color: white
      background: none

.media-centered-medium
  width: 100%
  //margin-bottom: 20px
  //height: 208px
 
.media-hero
  position: relative
  //max-height: 586px
  img
    width: 100%
  .media-header-background
    background-color: rgba(255,255,255,.5)
    width: 100%
    height: 100px
    position: absolute
    bottom: 0px
  .media-block
    position: absolute
    width: inherit
    bottom: 0px
    @include boxsizing
    .media-heading
      width: 75%
      h2
        font-size: 28px
    .media-object
      .icon-play
        font-size: 60px
  .media-header
    background-color: rgba(255,255,255,.5)
    color: black
    width: 100%
    position: absolute
    bottom: 0px
    .media-header-left
      float: left
      width: 40%
      margin-left: 10%
      .media-header-content
        text-align: right
    .media-header-right
      float: left
      width: 50%
      text-transform: uppercase
      .media-header-content
        text-align: left
    .media-header-content
      display: table-cell
      vertical-align: middle
      height: 100px

#title-edit-pair
  .profile-image
    display: inline-block

.mini-profile
  border: 1px solid #ccc
  border-radius: 5px
  padding:  40px

  .profile-image
    border: 2px solid $orange
    border-radius: 50%
    img
      @include boxsizing

  .profile-body
    font-size:  90%

// .activity-title
//   margin-right: 90px

// .activity-action-btn
//   .btn
//     position: absolute
//     width: 80px
//     bottom: 0
//     right: 0
//     padding: 5px
//     margin-bottom: 20px
//     .btn-count
//       font-size: 20px
//     .btn-text
//       font-size: 12px

#video-ingredient-unit
  min-height: 600px

.video-container
  position: relative
  width: 100%
  iframe, object, embed, .edit-pair, .edit-pair-show, .edit-pair-edit
    width: 100%
    border: none
  #image-viewer
    position: absolute
    top: 0px
    display: none
    #image-viewer-close
      position: absolute
      top: -20px
      right: -20px
      color: $orange
      &:hover
        cursor: pointer

// temporary until steps are moved over to csenforceaspect
.ordered-step-item
  .video-container
    padding-bottom: 56.25%
    height: 0
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%


.activity-description-wrapper
  margin-top: 10px
  position: relative
  .activity-description
    overflow: hidden
    .activity-description-overlay
      position: absolute
      height: inherit
      width: 100%
      top: 0px
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)))
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%)
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%)
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%)
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%)
      pointer-events: none
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )

  .maximize-description
    height: inherit

#activity-description-maximize
  width: 100%
  cursor: pointer

.ordered-steps
  overflow: auto
  border: 1px solid $offwhite
  -webkit-overflow-scrolling: touch
  //background: -webkit-linear-gradient(white 30%, hsla(0,0%,100%,0)), -webkit-linear-gradient(hsla(0,0%,100%,0), white 70%) bottom, -webkit-radial-gradient(50% 0, rgba(0,0,0,.2), transparent 70%), -webkit-radial-gradient(50% 100%, rgba(0,0,0,.2), transparent 70%) bottom
  //background-repeat: no-repeat
  //background-size: 100% 60px, 100% 60px, 100% 14px, 100% 14px
  //background-attachment: local, local, scroll, scroll
  .ordered-step-item
    width: 100%
    float: left
    padding: 0px
    margin-bottom: 1em
    @include boxsizing
    .step-element
      float: left
      @include boxsizing
      padding: 10px
    .step-number
      font-family: futura
      letter-spacing: -3px
      width: 10%
      text-align: center
      font-size: 30px
      line-height: 30px
      padding-top: 20px
    .step-content
      width: 90%
      padding: 20px 10px 10px 5px
      h4
        margin-top: 0px
        margin-bottom: 0px
        padding-bottom: 5px
      ul, li
        list-style: none
        padding: 0px 0px 10px 0px
        margin: 0px
      ul
        padding: 0px
    .step-actions
      margin-bottom: 10px
      .step-action-item
        display: inline-block
      .step-ingredients
        .step-ingredients-source
          display: none
    .step-image
      display: none
    .step-video
      display: none

.edit-mode
  .edit-pair-show
    cursor: pointer

  .ordered-steps
    overflow: visible
    border: none

  .scroll-shadow-wrapper
    overflow: visible

  .edithover:not(.cseditpairedit)
    position:  relative !important
    cursor: pointer
    &:before
      content: ""
      position: absolute
      top:  -2
      right:  -4
      left:  -4
      bottom:  -2
      background: rgba(0, 128, 220, .1) !important
      border-radius:  5px

  .btn
    &:hover
      background: rgba(0, 128, 220, .2) !important

.ingredients

  position: relative
  font-size: 14px
  width: 100%

  div
    display: inline-block

  .ingredient-table-row
    position: relative
    width: 100%
    line-height: 20px

  .ingredient-title
    width: auto
    height:  auto
    margin-right: 120px

  .edit-pair-show
    .ingredient-title
      margin-left: 1.2em
      text-indent: -1.2em


  .quantity-group
    position:  absolute
    right:  52px
    width:  70px
    text-align:  right
    bottom:  -2px
    overflow: visible

  .quantity-edit
    position: relative
    bottom: -4px
    left:  -8px

  .unit
    position: absolute
    right: 0px
    bottom:  -2px
    width:  45px
    text-align:  left

  .ingredient-table-head
    position: relative
    width: 100%
    line-height: 30px
    font-size: 17.5px
    margin-bottom: 6px
    display: block
    font-weight: bold

    .quantity-group
      right:  0px
      width:  120px

  .ingredient-table-body
    width: 100%
    display: block

  #ingredient
    text-align: left

  #quantity
    text-align: right
    margin-left: 22px
    .recipetip
      margin-left: -11px

  form
    margin: 0px
    display: inline
    input
      width: 60px
      text-align: right

  .quantity-group
    text-align: right
    padding-right: 0px

  .ingredient-table-body
    .ingredient-table-row
      width: 100%
      display: block
      @include transition(opacity 500ms)
      .ingredient-title
        font-weight: 400
        @include transition(opacity 500ms)
      .quantity-group, .unit
        @include transition(opacity 500ms)

.step-ingredients-source
  //display: none
  thead
    display: none

.no-bullet
  margin-left: 0px
  li
    list-style-type: none

#main-content
  position: relative

.scroll-shadow-wrapper
  overflow: hidden

.alwayshidden
  display: none !important

.community
  border: 1px solid black
  background: white
  height: 100%
  position: absolute
  top: 0px
  left: 100%
  padding: 30px 20px 20px
  @include boxsizing
  .community-content
    height: 100%
    overflow: auto
    -webkit-overflow-scrolling: touch

.community-open
  left: 50%

.community-toggle
  left: -140px
  top: 0px
  position: absolute

.community-toggle-open
  left: 0px

/* One Sheet Toggle Classes */
.step-image-show
  display: block

/* Course */
.course-syllabus
  .nested-1
    margin-left: 10px
  .nested-2
    margin-left: 30px
    display: list-item
    list-style-type: disc

//////////

.carousel-scroll
  overflow-x: auto
  overflow-y: hidden
  -webkit-overflow-scrolling: touch
  .carousel-scroll-inner
    height: 180px
    .item
      margin: 10px
      width: 285px
      float: left

.item
  float: left

.item-medium
  width: 370px
  margin: 0px 10px

.item-small
  margin: 0px 10px

/* Swipe */
.swipe
  overflow: hidden
  visibility: hidden
  position: relative

.swipe-indicators
  margin: 10px auto

.swipe-indicator-btn
  background: $light-gray
  height: 15px
  width: 15px
  display: inline-block
  text-align: center
  margin: 0 auto
  border-radius: 10px
  cursor: pointer

.indicator-active
  background: $dark-orange

.swipe-wrap
  overflow: hidden
  position: relative

.swipe-wrap > div
  float: left
  width: 100%
  position: relative

#hero-indicators
  width: 95px

.hero-swiper-next
  bottom: 0
  right: 0px
  height: 100px
  width: 65px
  float: right
  position: relative

#content-indicators
  width: 45px

.vertical-slider-2
  width: 370px
  height: 416px
  overflow: auto
  -webkit-overflow-scrolling: touch
  .item
    margin: 0px

////////////////////////////////////////

/* Unique Styles */
#chefsteps-logo
  height: 46px

.signup-box
  overflow: hidden
  .input-signup-email
    border: none
    border-radius: 0px
    width: 100%
    @include boxsizing
  
.logo-wrapper
  $width: 7px
  $height: 10px
  $spacing: 2px
  height: 4*$height + 3*$spacing
  .logo-window
    box-shadow: $width + $spacing 0px 0px 0px $dark_orange, 2*($width + $spacing) 0px 0px 0px $dark_orange, 0px $height + $spacing 0px 0px $dark_orange, $width + $spacing $height + $spacing 0px 0px $dark_orange, 2*($width + $spacing) $height + $spacing 0px 0px $dark_orange, 0px 2*($height + $spacing) 0px 0px $dark_orange, $width + $spacing 2*($height + $spacing) 0px 0px $dark_orange, 2*($width + $spacing) 2*($height + $spacing) 0px 0px $dark_orange, 0px 3*($height + $spacing) 0px 0px $dark_orange, $width + $spacing 3*($height + $spacing) 0px 0px $dark_orange, 2*($width + $spacing) 3*($height + $spacing) 0px 0px $dark_orange
    background: $dark_orange
    width: $width
    height: $height
    overflow: hidden
    float: left
  .logo-block
    float: left
    margin-left: 22px
    .logo-text
      font-size: 30px
      line-height: 29px
      font-weight: 500
      font-family: 'Raleway', sans-serif
      margin-top: 3px
    .logo-subtext
      font-size: 14px
      margin-top: -5px
      margin-left: 3px
      font-weight: 400
      margin-bottom: -1px


#hero-container
  padding: 0px
  //max-height: 586px
  z-index: 999
  #hero-carousel
    .carousel-indicators
      position: relative
      width: 75px
      margin: 0 auto
      right: 0px
      top: 0px
      li
        width: 20px
        height: 20px
        margin: 20px 2px
        border-radius: 10px
        background: gray
        &:hover
          background: $orange
      .active
        background: $dark_orange
  .hero-carousel-control
    bottom: 0
    right: 0px
    height: 100px
    width: 65px
    float: right
    position: relative

#player-close
  display: none
  color: $orange
  margin-top: 20px
  margin-right: 20px
  float: right

#twitter-status
  iframe
    width: 100%
    border: none
    border-radius: 0px !important
    border-width: 0px !important
    box-shadow: none !important

#footer
  margin-top: 50px
  //background-image: url('http://d2eud0b65jr0pw.cloudfront.net/final_dish_IMG_5402.jpg')
  background-position: center top
  background-repeat: no-repeat
  //background-size: 100%
  .footer-image
    max-height: 600px
    overflow: hidden
    position: absolute
    left: 0px
    z-index: -1
    img
      width: 100%
  #footer-body
    margin-top: 50px
    z-index: 999
  .footer-social
    color: white
    &:hover
      text-decoration: none

/* Labels */
.label
  background: $orange
  color: white
  @include raleway
  font-weight: bold

.label-large
  font-size: 20px
  line-height: 20px
  padding: 5px 10px
  border-radius: 0px

.label-science
  background: $blue

.label-technique
  background: $red

/* Buttons */

.btn
  @include raleway
  i
    line-height: 20px

.btn-group
  .btn:first-child
    border-radius: 0px
  .btn:last-child
    border-radius: 0px

.btn-primary
  background: $orange
  border: 0px
  border-bottom: 1px $dark-orange solid
  border-radius: 0px
  position: relative
  @include boxsizing
  @include transition(all .25s)
  &:hover
    background: $darker_orange
    @include transition(all .25s)
    border-bottom: 1px $orange solid
  &:disabled
    background: #696969
    color:  #d3d3d3
  &:focus
    background: $orange
    outline: none
  a
    color: inherit

.btn-secondary
  background: $offwhite
  border: 0px
  border-bottom: 1px #ccc solid
  border-radius: 0px
  @include transition(all 100ms)
  &:hover
    background: gray
    color: white
    text-shadow: none
    @include transition(all 100ms)

.btn-secondary[disabled]
  -webkit-box-shadow: 0 3px 0px -1px #999
  -moz-box-shadow: 0 3px 0px -1px #999
  box-shadow: 0 3px 0px -1px #999999

.btn-gray
  background: $offwhite
  border: none
  border-radius: 0px
  @include transition(all 100ms)
  &:hover
    background: gray
    @include transition(all 100ms)

.btn-basic
  background: $offwhite
  border: 0px
  border-radius: 0px
  @include boxsizing
  @include transition(all 100ms)
  &:hover
    background: $darker_orange
    @include transition(all 100ms)

.btn-play-image
  position: relative
  background: image-url('https://www.filepicker.io/api/file/IOjE35SKSmCjut9x1FBg?cache=true') no-repeat
  width: 34px
  height: 34px
  margin: 33px 10px 20px 33px
  @include boxsizing

.btn-hero-next
  background: $orange
  height: 100%
  width: 100%
  @include boxsizing
  padding: 30% 45%
  transition: background 200ms
  -webkit-transition: background 200ms
  -moz-transition: background 200ms
  -o-transition: background 200ms
  &:hover
    background: $dark-orange
  &:before
    content: ''
    position: absolute
    width: 10%
    height: 30%
    transform: skew(25deg)
    -webkit-transform: skew(25deg)
    -moz-transform: skew(25deg)
    -o-transform: skew(25deg)
    background: white
  &:after
    content: ''
    position: absolute
    width: 10%
    height: 30%
    transform: skew(-25deg)
    -webkit-transform: skew(-25deg)
    -moz-transform: skew(25deg)
    -o-transform: skew(25deg)
    background: white
    top: 50%

.btn-circle
  height: 40px
  width: 40px
  padding: 10px 15px
  margin: 5px 2px
  border-radius: 50%
  border: none
  background-image: none
  background: $orange
  color: white
  font-size: 17px
  text-shadow: none
  text-align: center
  transition: background 200ms
  -webkit-transition: background 200ms
  -moz-transition: background 200ms
  -o-transition: background 200ms
  display: inline-block
  @include boxsizing
  i
    line-height: 22px
  &:hover
    background: $dark-orange
    text-decoration: none
    color: white
    cursor: pointer

.btn-social-old
  width: 40px
  margin: 0 2px

.btn-poll-comments
  width: 200px
  margin-right: 5px

.btn-holder
  position: relative
  display: inline-block

.btn-social
  margin: 10px 2px 0px 2px
  background-color: white
  border-radius: 2px
  padding: 0px 0px 0px 0px
  height:  27px
  @include transition(all 250ms ease-in-out 2 alternate)

  i
    color: white

  .social-button-contents
    display: inline-block

  .social-icon-group
    display: inline-block
    width: 27px
    height:  100%

  span
    position: relative
    bottom:  -4px
    padding-right: 0px
    height: 27px
    margin-bottom: 0px
    .social-icon-group
      height: 100%
    border-radius:  0
    text-shadow: none

=btn-social-base($c)
  color: $c
  border:  1px solid $c

  .social-button-contents
    display: inline-block

  &:hover
    background-color: $c

  .social-icon-group
    background-color: $c

.btn-social-like
  @include btn-social-base($orange)
.btn-social-twitter
  @include btn-social-base(#4099FF)
.btn-social-facebook
  @include btn-social-base(#3B5998)
.btn-social-gplus
  @include btn-social-base(#D34836)
.btn-social-pinterest
  @include btn-social-base(#C92228)
.btn-social-email
  @include btn-social-base(black)


.btn-outline-blue-large
  background: white
  height: 44px
  border: 1px solid $light-blue
  border-radius: 22px
  font-weight: 400
  @include boxsizing
  @include transition(all 200ms)
  &:hover
    background: white
    border: 1px solid $orange

/* Quiz button */
.btn-next, .btn-prev
  position: absolute
  bottom: 0px
  right: 0px
  height: 67px
  width: 32px
  padding: 0
  text-decoration: none
  border-color: transparent
  [class^="icon-"]
    line-height: 67px
    color: white

.social-counter, .social-icon-group
  display: inline-block
.social-counter
  margin-left: -3px
  width: 30px

.social-flat
  display: inline-block
  margin-left: -2px



/* Navbar */
.navbar-fixed-top

  .navbar-inner
    box-shadow: none
    background-image: none
    background-color: $offwhite
    border-color: $dark-orange
    border: none
    border-top: 2px solid $dark-orange
    @include shadow
  .brand
    text-shadow: none
    color: black
    padding: 4px 20px
  .nav
    .nav-item-border
      width: 1px
      height: 100%
      position: absolute
      background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 60%, rgba(255,255,255,0) 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(60%,rgba(235,235,235,1)), color-stop(100%,rgba(255,255,255,0)))
      background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(235,235,235,1) 60%,rgba(255,255,255,0) 100%)
      background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(235,235,235,1) 60%,rgba(255,255,255,0) 100%)
      background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(235,235,235,1) 60%,rgba(255,255,255,0) 100%)
      background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(235,235,235,1) 60%,rgba(255,255,255,0) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00ffffff',GradientType=0 )
  .nav > li > a
    text-shadow: none
    color: #333
    line-height: 34px
    font-size: 16px
    font-weight: 200
    @include transition(background .25s)
    &:hover
      background: $orange
      color: white
  .navbar-form
    margin: 12px 10px 12px
    input
      margin: 0px
  .btn-navbar
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($orange), to($dark-orange))
    background-image: -moz-linear-gradient(top, $orange, $dark-orange)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$orange, endColorstr=$dark-orange, GradientType=0)
    background-color: $orange
    border-color: $dark-orange
    .icon-bar
      background-color: white
    &:hover
      background-image: none
      background-color: $dark-orange
      float: left
  .nav-search
    height: 54px
    width: 40px
    overflow: hidden
    @include transition(background 300ms)
    input[type='text']:focus
      border-color: $orange
      box-shadow: none
    &:hover
      cursor: pointer
    .icon-search
      margin: 21px 10px 22px
      color: black
      float: left
    .icon-remove
      margin: 20px 5px
      color: black
      float: left
    .nav-search-form
      float: left
      width: 160px
      padding: 0px
      margin-right: 0px
      margin-left: 0px
      overflow: hidden
      input
        width: 160px
  .nav-search-show
    width: 230px

/* Scroll Shadow */
.scroll-shadow-wrapper
  position: relative

.scroll-shadow-content
  width: 100%

.scroll-shadow-horizontal
  height: 180px
  overflow-x: auto
  overflow-y: hidden

.scroll-overlay-top
  pointer-events: none
  height: 20px
  margin-top: -20px
  width: 100%
  position: absolute
  top: 0px
  display: none
  background: white
  // background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))) /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* Opera 11.10+ */
  // background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* IE10+ */
  // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ) /* IE6-9 */

  // background: -webkit-radial-gradient(50% 0%, closest-corner, rgba(0,0,0,.2), rgba(0,0,0,0))
  &:before
    content: ''
    box-shadow: 0 0 15px gray
    border-radius: 100px / 10px
    position: absolute
    top: 8px
    bottom: 0
    left: 0
    right: 0%
  &:after
    content: ''
    position: absolute
    top: 0
    left: -10px
    right: 0
    bottom: 0
    background: white

.scroll-overlay-bottom
  pointer-events: none
  height: 20px
  margin-bottom: -20px
  width: 100%
  position: absolute
  bottom: 0px
  display: none
  // background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))) /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Opera 11.10+ */
  // background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* IE10+ */
  // background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */
  &:before
    content: ''
    box-shadow: 0 0 15px gray
    border-radius: 100px / 10px
    position: absolute
    top: 0
    bottom: 8px
    left: 0
    right: 0%
  &:after
    content: ''
    position: absolute
    top: 0
    left: -10px
    right: 0
    bottom: 0
    background: white

.scroll-overlay-left
  pointer-events: none
  width: 20px
  margin-left: -20px
  height: 100%
  position: absolute
  left: 0px
  top: 0px
  display: none
  background: white
  &:before
    content: ''
    box-shadow: 0 0 15px black
    border-radius: 100px / 10px
    position: absolute
    top: 5px
    bottom: 5px
    left: 17px
    right: 0px
  &:after
    content: ''
    position: absolute
    top: -10px
    left: 0
    right: 0
    bottom: -10px
    background: white

.scroll-overlay-right
  pointer-events: none
  width: 20px
  margin-right: -20px
  height: 100%
  position: absolute
  right: 0px
  top: 0px
  display: none
  &:before
    content: ''
    box-shadow: 0 0 15px black
    border-radius: 100px / 10px
    position: absolute
    top: 5px
    bottom: 5px
    left: 0
    right: 17px
  &:after
    content: ''
    position: absolute
    top: -10px
    left: 0px
    right: 0px
    bottom: -10px
    background: white

// WYSIWYG EDITING

.edit-pair, .edit-pair-show, .edit-pair-edit
  width: 100%

.edit-pair-transclude
  width: 100%

.edit-hint
  position: absolute
  bottom: 10px
  left:  10px
  z-index: 1000

.video-container
  .csfilepicker
    .btn-toolbar
      margin-top: 0px

.hero-visual
  position: relative

#edit-group
  i
    font-size: 18px
  .btn
    height: 28px

#activity-body
  form, textarea
    width: 100%
    max-width: 100%
    li
      list-style-type: none
  label
    margin-right: 8px
    vertical-align: top


csequipmenteditpair, csingredienteditpair
  position: relative

  .action-button-group
    position: absolute
    left: -56px
    top:  -3px
    font-size:  18px
    margin-top: -2px
    .btn
      padding: 4px 6px
      border-shadow: none
      -webkit-box-shadow: none

      &:last
        padding-right: 12px

    i
      width: auto

  .edit-pair-edit

    input, select
      display: inline-block
      @include boxsizing
      padding: 0px 2px 0px 2px
      margin-left: 0px
      margin-top: 0px
      margin-bottom: 0px
      width: 100%
      max-width: 280px

    .unit
      margin-bottom: -10px

csequipmenteditpair
  .action-button-group
    top: 2px

csingredienteditpair

  .edit-pair-edit

    .ingredient-title
      overflow: hidden
      input
        &:first-child
          width: 64%
        &:last-child
          width: 34%

    .quantity-group
      bottom: -4px

    .unit
      cursor: pointer
      overflow:  visible
      select
        margin: 0
        width: 100%
        border:  none
        opacity: 0
      .select-readout
        position: absolute
        width:  200%
        height:  100%
        z-index: 0

.meta-edit
  border: 1px solid $offwhite
  padding:  10px
  margin-bottom: 15px

.disabled-section
  color: #aaa


// Making this match h1. I tried @including h1 but that was a no go.
// Not sure how I feel about this approach of basic the style on the model. Semantic or gross?
*[data-ng-model='activity.title']
  font-size: 38.5px
  line-height: 40px
  width: 100%
  font-family: 'Raleway', sans-serif
  font-weight: bold
  -webkit-font-smoothing: antialiased

.step-title-input
  font-size: 18px !important
  line-height: 25px
  width: 100%
  font-family: 'Raleway', sans-serif
  font-weight: bold
  -webkit-font-smoothing: antialiased

.fake-link, .fakefocus
  color: #0088cc


.inline-group
  display: inline-block

.video-container
  .filepicker-group
    margin-top: 30px
  .featured-image-group
    margin-left: 40px

.inline-errors
  font-size: 14px
  color: red
  text-transform: uppercase

.add-section
  margin-top: 10px
  margin-bottom: 10px

.add-item, .add-from-master, .done
  margin-top: -5px
  height:  20px


.step-sidebar-group
  position: absolute
  left:  -16px
  height:  100%

  button
    width: 24px
    margin-left: 0px !important
    margin-top: 4px
    line-height: 16px
    font-size: 14px
    padding: 2px 6px
  .btn-group-vertical
    margin-left: 0px !important

.step-edit-buttons
  position: absolute
  top: 45px
  width: 30px

.step-add-button-group
  position: absolute
  top: -10px
  .step-add-button-line
    top: 12px

.step-add-button-end-group
  position: absolute
  bottom: -10px
  .step-add-button-line
    bottom: 8px


.step-add-button-line
  position: absolute
  border-top:  1px dotted #d3d3d3
  width: 600px
  z-index: -1

.select-ingredient-checkbox
  margin-top: -2px !important

.unselected-ingredient
  color: #a9a9a9

.csfilepicker
  .btn-toolbar
    margin-top: 0px

  .drop-target
    width: 60px

    .upload-progress
      width: 60px
      position:  absolute
      left:  0
      right:  0
      bottom:  -22px

    .progress
      width: 100%
      height:  10px

.no-bold
  font-weight: normal

.edit-meta-button
  margin-bottom: 8px

.alert.edit-alert
  text-align: left
  padding: 0px 20px 20px 20px

  .close
    top: 10px
    right: 10px

// See https://github.com/angular/angular.js/commit/11f712bc - these class
// names have to change when we go to angular >= 1.1.5
.fade-show-setup, .fade-hide-setup
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s


.fade-hide-setup
  opacity: 1
  &.fade-hide-start
    opacity: 0

.fade-show-setup
  opacity: 0
  &.fade-show-start
    opacity: 1

.custom-enter-setup, .custom-leave-setup, .custom-move-setup
  -webkit-transition: 0.5s linear all
  -moz-transition: 0.5s linear all
  -o-transition: 0.5s linear all
  transition: 0.5s linear all
  position: relative

.custom-enter-setup
  opacity: 0
  &.custom-enter-start
    left: 0
    opacity: 1

.custom-leave-setup
  left: 0
  opacity: 1
  &.custom-leave-start
    opacity: 0

.custom-move-setup
  opacity: 0
  &.custom-move-start
    opacity: 1

// BELOW ARE RESPONSIVE STYLES //

/* Large desktop */
@media (min-width: 1200px)
  .media-hero
    height: 586px
    img
      margin-top: -5%
      margin-bottom: -5%

  .media-centered-medium
    height: 208px

  .media-header-content
    width: 468px

  .activity-description
    height: 100px

@media (max-width: 1200px)
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    width: 940px

  .media-centered-medium
    height: 168px

  .item-medium
    width: 285px
    margin: 0px 14px

  .media-header-content
    width: 376px

  .vertical-slider-2
    width: 300px
    height: 336px

  .activity-description
    height: 140px


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    width: 724px

  #hero-container
    #hero-carousel
      .media-heading
        width: 72%
        h2
          font-size: 20px

  .media-centered-medium
    height: 128px

  .media-header-content
    width: 289px

  .vertical-slider-2
    width: 228px
    height: 246px

  .nav-item-border
    display: none

  .activity-description
    height: 160px

  .navbar .nav > li > .dropdown-menu li a 
    color: #333
    &:hover
      color: #fff

  .top-container
    margin-top: 0px

  .container-fluid
    margin-left: -20px
    margin-right: -20px

  .no-margin-padding
    padding: 0px
    margin: 0px

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    width: auto

  #hero-container
    width: 100%
    left: 0px
    #hero-carousel
      h2
        font-size: 16px
        line-height: 16px
      h3
        font-size: 12px
        line-height: 12px
      .btn-play
        width: 50px
        height: 50px
        margin-left: 10px
      .pull-left 
        float: left
      .media-header-background
        height: 70px
      .media-heading
        margin-bottom: 0px
        width: 65%
        h2
          margin: 5px 0px
        .label-large
          font-size: 12px
          padding: 2px 5px
      .hero-carousel-control
        height: 70px
        width: 35px
    .media-block
      width: 100%

  .media-centered-medium
    height: inherit
    img
      width: 100%

  #slider-container
    margin: 0px -20px
    padding: 0px 20px

  .popup-bottom
    margin: 0px -20px
    padding: 20px
    .text-right
      text-align: left

  #footer
    margin: 0px -20px
    padding: 0px 20px

  .vertical-slider-2
    width: 100%

  .nav-item-border
    display: none

  .navbar .nav > li > .dropdown-menu li a 
    color: #333
    &:hover
      color: #fff

  .top-container
    margin-top: 0px

  .no-margin-padding
    padding: 0px
    margin: 0px


@media(max-width: 979px)

  .new-line
    margin-top: 10px
    display: block

/* Landscape phones and down */
@media (max-width: 480px)
  #hero-container
    .media-object
      margin-bottom: 0px

  .media-hero .media-header .media-header-content
    height: 60px
    h3
      font-size: 14px
      line-height: 14px

  .btn-play
    margin: 5px 10px 5px 25px

  .btn-play-image
    margin: 13px 10px 13px 25px

  .nav-item-border
    display: none

  .ordered-steps
    .ordered-step-item
      margin: 0px
      .step-number
        width: 20%
        font-size: 24px
        padding-top: 10px
      .step-content
        width: 80%
        padding-top: 10px

  .navbar .nav > li > .dropdown-menu li a 
    color: #333
    font-weight: normal
    &:hover
      color: #fff

  .madlib, .madlib input
    font-size: 20px
    line-height: 30px
    input[type='text'], input[type='email']
      width: 80%
      font-size: 20px

  .top-container
    margin-top: 0px

  .popup-bottom
    h3
      font-size: 16px

  .static-height
    height: 10px

@media (max-width: 320px)
  .popup-bottom
    font-size: 12px
    h3
      font-size: 14px
      line-height: 16px
    .input-signup-email
      width: 50%

/* Global on-select highlighting */

::-moz-selection 
  background-color: $orange
  color: #ffffff

::selection 
  background-color: $orange
  color: #ffffff


/* Global Typography Overrides */

h1, h2, h3, h4
  @include gotham
  color: inherit
  letter-spacing: -1px

.nav
  @include gotham
  letter-spacing: -1px

body
  @include gotham-light
  color: #333333

p
  line-height: 1.6


