@import 'mixins'

.stream
  width: 100%
  float: left
  .stream-item
    float: left
    width: 25%
    padding: 10px
    text-align: center
    @include boxsizing
    .stream-item-top
      border: 1px solid gray
      padding: 10px
      @include boxsizing
      .stream-item-title
        h4
          margin: 0px
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
      .stream-item-subtitle
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    .stream-item-bottom
      height: 100px
      @include boxsizing