@import 'mixins'

.stream
  width: 100%
  float: left
  @include raleway
  position: relative
  .stream-line
    margin-left: 12%
    width: 88%
    border: 1px solid $light-gray
    border-left: 0px
    border-right: 0px
    border-bottom: 0px
    @include boxsizing
    position: absolute
    top: 215px
    left: 0px

  .stream-item
    float: left
    width: 25%
    padding: 10px
    text-align: center
    @include boxsizing
    .stream-item-top
      border: 1px solid $light-gray
      padding: 10px
      margin-bottom: 50px
      @include boxsizing
      @include transition(all 200ms)
      &:hover
        border: 1px solid $orange
      .stream-item-title
        h4
          margin: 0px
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          color: black
      .stream-item-subtitle
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        color: black
    .stream-item-bottom
      margin-top: 50px
      height: 100px
      @include boxsizing

.stream-item-media1
  position: relative
  .stream-item-media1-user
    position: absolute
    top: 0px
    left: 0px
    img
      width: 30px
  .stream-item-media1-content
    text-align: left
    padding-left: 40px

.stream-item-media2

  .stream-item-media2-users
    text-align: left
    img
      width: 30px
  .stream-item-media2-content
