@import 'mixins'

.stream
  width: 100%
  @include raleway
  position: relative
  .stream-item
    margin-bottom: 40px
    float: left
    width: 100%
    border: 1px solid $light-gray
    padding: 10px
    @include boxsizing
    .stream-item-header
      margin-bottom: 10px
      float: left
      width: 100%
      .stream-item-header-user
        width: 40%
        float: left
        height: 40px
        img
          width: 40px
          margin-right: 10px
          float: left
      .stream-item-header-title
        width: 60%
        float: left
        text-align: right
        h3
          margin: 0px
    .stream-item-top
      float: left
      width: 100%
      margin-bottom: 15px
      @include boxsizing
      @include transition(all 200ms)
      img
        width: 100%
    .stream-item-bottom
      margin-top: 15px
      float: left
      width: 100%
      @include boxsizing

.stream-item-media1
  position: relative
  .stream-item-media1-user
    position: absolute
    top: 0px
    left: 0px
    img
      width: 30px
  .stream-item-media1-content
    text-align: left
    padding-left: 40px

.stream-item-media2

  .stream-item-media2-users
    text-align: left
    img
      width: 30px
      margin-bottom: 3px
  .stream-item-media2-content


