@import application/colors

.styleguide-colors
  .color
    line-height: 40px

    i
      border: 1px solid black
      display: inline-block
      height: 40px
      width: 40px

      &.white
        background: $white
      &.black
        background: $black
      &.brick
        background: $brick
      &.brick-light
        background: $brick-light


      
