@import application

= styleguide-swatch($color)
  border: 1px solid darken($color, 20%)
  background: $color

.show-grid [class*="span"]
  border-radius: 3px
  background-color: #eee
  border: 1px solid #ccc
  line-height: 40px
  min-height: 40px
  text-align: center

.styleguide-sans-tiny
  +font-sans-tiny
.styleguide-sans-small
  +font-sans-small
.styleguide-sans-medium
  +font-sans-medium
.styleguide-sans-large
  +font-sans-large

.styleguide-serif-tiny
  +font-serif-tiny
.styleguide-serif-small
  +font-serif-small
.styleguide-serif-medium
  +font-serif-medium
.styleguide-serif-large
  +font-serif-large

// .show-grid
//   font-size: 14px
//   .styleguide-brick
//     +styleguide-swatch($brick)
//     color: $white
//   .styleguide-brickLight
//     +styleguide-swatch($brickLight)
//     color: $white
//   .styleguide-white
//     +styleguide-swatch($white)
//   .styleguide-black
//     +styleguide-swatch($black)
//     color: $white
//   .styleguide-brickDark
//     +styleguide-swatch($brickDark)
//     color: $white


