@import 'mixins'
.sandvich
  padding-bottom: 20px
  text-align: center
  img
    max-width: 90%
.button.red
  background-color: #bb3b3e
  border-color: #bb3b3e
  color: white
.button.blue
  background-color: #5c7a8b
  border-color: #5c7a8b
  color: white
.button.orange
  background-color: #ff674d
  border-color: #ff674d
  color: white
.redemption.unredeemed
  padding-top: 20px
.notification-container
  padding-top: 10px
.notification
  border: 1px solid
  border-radius: 0px
  border-color: #ff674d
  margin-bottom: 2.4rem
  padding: 2.4rem
  padding-top: 20px
