@import 'mixins'

.timeline
  position: relative
  float: left
  .timeline-line
    position: absolute
    border-left: 1px solid gray
    border-right: 1px solid gray
    left: 50%
    height: 100%
  .timeline-left
    width: 50%
    float: left
  .timeline-right
    width: 50%
    float: right
    padding-top: 30%
  .timeline-circle[data-direction='left']
    padding-right: 20%
    .timeline-circle-img
      position: relative
      width: 100%
      img
        width: 100%
        border: 2px solid $orange
        @include boxsizing
      &:after
        content: ''
        position: absolute
        width: 20%
        top: 50%
        right: -25%
        border-top: 1px solid gray
        border-bottom: 1px solid gray
    .timeline-circle-text
      width: 100%
      height: 10%
      margin-top: 5%
  .timeline-circle[data-direction='right']
    padding-left: 20%
    .timeline-circle-img
      position: relative
      width: 100%
      img
        width: 100%
        border: 2px solid $orange
        @include boxsizing
      &:after
        content: ''
        position: absolute
        width: 20%
        top: 50%
        left: -25%
        border-top: 1px solid gray
        border-bottom: 1px solid gray
    .timeline-circle-text
      width: 100%
      height: 10%
      margin-top: 5%