@import 'mixins'

.timeline
  background: blue
  .event
    float: left
    width: 100%
    .event-object
      float: left
      width: 80%
      .event-circle
        width: 100%
        background: red
        float: left
        img
          width: 100%
      .event-text
        float: left
        width: 100%
    .event-line
      width: 20%
      height: 50%
      float: left
      background: green