@import 'mixins'

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * chefsteps.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015


@font-face
  font-family: "Circular"
  src: font_url("lineto-circular-book.eot")
  src: font_url("lineto-circular-book.eot?#iefix") format("embedded-opentype"), font_url("lineto-circular-book.woff") format("woff"), font_url("lineto-circular-book.ttf") format("ttf"), font_url("lineto-circular-book.svg#lineto-circular-book") format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "Circular"
  src: font_url("lineto-circular-bookItalic.eot")
  src: font_url("lineto-circular-bookItalic.eot?#iefix") format("embedded-opentype"), font_url("lineto-circular-bookItalic.woff") format("woff"), font_url("lineto-circular-bookItalic.ttf") format("ttf"), font_url("lineto-circular-bookItalic.svg#lineto-circular-bookItalic") format("svg")
  font-weight: normal
  font-style: italic

@font-face
  font-family: "Circular"
  src: font_url("lineto-circular-medium.eot")
  src: font_url("lineto-circular-medium.eot?#iefix") format("embedded-opentype"), font_url("lineto-circular-medium.woff") format("woff"), font_url("lineto-circular-medium.ttf") format("ttf"), font_url("lineto-circular-medium.svg#lineto-circular-medium") format("svg")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Circular"
  src: font_url("lineto-circular-bold.eot")
  src: font_url("lineto-circular-bold.eot?#iefix") format("embedded-opentype"), font_url("lineto-circular-bold.woff") format("woff"), font_url("lineto-circular-bold.ttf") format("ttf"), font_url("lineto-circular-bold.svg#lineto-circular-bold") format("svg")
  font-weight: bold
  font-style: normal

/* Global Typography */

html
  font-size: 62.5% !important

body
  @include primary-font
  font-size: 1.6rem
  line-height: $baseline * 2
  -webkit-font-smoothing: antialiased

h1, h2, h3, h1 textarea, h2 textarea, h3 textarea
  @include primary-font
  font-weight: 500
  color: inherit
  margin: 0
  p
    font-size: inherit
    line-height: inherit
    margin-bottom: 0

h4, h4 textarea
  @include primary-font
  color: inherit
  margin: 0

h5 textarea
  @include primary-font
  text-transform: uppercase
  margin: 0

h1, h2, h3, h4, h5
  padding: 0


/* sizing according to http://modularscale.com/scale/?px1=14&px2=1136&ra1=1.333&ra2=0 */

h1, h1 textarea
  font-size: 4.4201rem /* 44.201px / 14px */
  line-height: 4.4rem /* 44px / 44px */

h2, h2 textarea
  font-size: 3.6092rem /* 36.092px / 14px */
  line-height: 4.4rem /* 44px / 36.092px */

h3, h3 textarea
  font-size: 2.4876rem /* 2.4876px / 14px */
  line-height: 3.3rem /* 33px / 14px */

h4, h4 textarea
  font-size: 2.0312rem /* 20.312px / 14px */
  line-height: 2.2rem /* 22px / 14px */
  margin-bottom: $baseline
  p /* hack to make margins from markdown paragraphs go away */
    margin: 0
    padding: 0
    font-size: 2.0224rem /* 20.224px / 14px */
    line-height: 2.2rem /* 22px / 14px */
    margin-bottom: $baseline

h5, h5 textarea
  font-size: 1.5238rem
  line-height: 2.2rem

.class-tag
  color: $orange
  font-weight: bold
  @include primary-font


.pop
  color: $orange

body
  @include primary-font
  color: $light-black 

p
  font-size: 1.6rem
  line-height: $baseline * 2
  margin-bottom: $baseline * 2
  color: $dark-gray

p.lead
  font-size: 2.0224rem
  line-height: 2.2rem
  margin-bottom: $baseline

.lead
  font-size: 2.0224rem
  line-height: 2.2rem
  margin-bottom: $baseline

small, h5 small
  font-size: 1.1378rem
  line-height: $baseline * 2

ul, ol
  margin-bottom: $baseline * 2

li
  line-height: $baseline * 2

li > p
  margin-bottom: 0

.no-p-margin
  p
    margin-bottom: 0

.align-base
  vertical-align: bottom

//a:link, a:visited
//  text-decoration: none
//  color: inherit

/*--- QUOTES ---*/

blockquote p
  display: inline
  font-size: 2.4892rem
  line-height: $baseline * 2.5

blockquote
  margin-top: $baseline * 3
  margin-bottom: $baseline * 2
  @extend h3
  border-left: 5px solid #ccc
  border-left: none !important

  &:before
    margin-left: -21px
    content: open-quote
  &:after
    content: close-quote


.trademark
  margin-top: -7px
  margin-left: 32px
