@import 'mixins'

/* Global Typography */

html
  font-size: 62.5%

body
  font-size: 1.4rem
  line-height: $baseline * 2


h1, h2, h3
  @include primary-font-bold
  color: inherit
  margin: 0
  padding: 0

h4
  @include primary-font
  color: inherit
  margin: 0
  padding: 0

h5
  @include primary-font
  text-transform: uppercase
  margin: 0
  padding: 0


/* sizing according to http://modularscale.com/scale/?px1=14&px2=1136&ra1=1.333&ra2=0 */

h1
  font-size: 4.4201rem /* 44.201px / 14px */
  line-height: 4.4rem /* 44px / 44px */
  margin-bottom: $baseline

h2
  font-size: 3.6092rem /* 36.092px / 14px */
  line-height: 4.4rem /* 44px / 36.092px */

h3
  font-size: 2.4876rem /* 2.4876px / 14px */
  line-height: 3.3rem /* 33px / 14px */

h4
  font-size: 2.0312rem /* 20.312px / 14px */
  line-height: 2.2rem /* 22px / 14px */
  margin-bottom: $baseline
  p /* hack to make margins from markdown paragraphs go away */
    margin: 0
    padding: 0
    font-size: 2.0224rem /* 20.224px / 14px */
    line-height: 2.2rem /* 22px / 14px */
    margin-bottom: $baseline

h5
  font-size: 1.5238rem
  line-height: 2.2rem

.pop
  color: $orange

body
  @include primary-font-light
  color: #333333

p
  font-size: 1.4rem
  line-height: $baseline * 2
  margin-bottom: $baseline * 2

p.lead
  font-size: 2.0224rem
  line-height: 2.2rem
  margin-bottom: $baseline

.lead
  font-size: 2.0224rem
  line-height: 2.2rem
  margin-bottom: $baseline

small, h5 small
  font-size: 1.1378rem
  line-height: $baseline * 2

ul, ol
  margin-bottom: $baseline * 2

li
  line-height: $baseline * 2

li > p
  margin-bottom: 0

.align-base
  vertical-align: bottom

/*--- QUOTES ---*/

blockquote:before
  color: #ccc
  content: open-quote
  font-size: 4.4258rem
  line-height: 0.1em
  vertical-align: -0.2em
  margin-left: -.5em

blockquote p
  display: inline
  font-size: 2.4892rem
  line-height: $baseline * 2.5

blockquote
  margin: 1.5em 10px
  padding: 0.5em 10px
  border-left: 5px solid #ccc
  padding-left: 44px
  font-family: 'Hoefler Text', Georgia, sans-serif
  font-weight: 300
  quotes: "\201C""\201D"

.trademark
  margin-top: -7px
  margin-left: 32px


