@import 'mixins'

.votable
  width: 100%
  height: 100px
  position: relative
  .votable-vote-up
    width: 100px
    float: left
    background: green
  .votable-text-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    padding-left: 100px
    padding-right: 200px
    @include boxsizing
    .votable-text
      width: 100%
      background: orange
      h2
        margin: 0px
  .votable-sharing
    width: 100px
    float: right
    background: blue
  .votable-comments
    width: 100px
    float: right
    background: red