@import mixins

.why-by-weight
  @include boxsizing
  padding: $baseline $baseline*2
  background-color: white
  position: absolute
  z-index: 100
  right: 0
  top: 34px
  border: 1px solid $light-gray
  border-top: 2px solid $orange
  width: 450px
  @include shadow

  .btn
    display: block

  .top-triangle
    position: absolute
    top: -23px
    right: 30px
    color: $orange
    font-size: 32px


  iframe
    width: 400px
    height: 400px * 9/16