@import mixins

.why-by-weight
  @include boxsizing
  padding: $baseline $baseline*2
  background-color: white
  position: absolute
  z-index: 20000
  right: 0
  top: 34px
  border: 1px solid $light-gray
  border-top: 2px solid $orange
  @include shadow

  .btn
    display: block
    width: 220px
    margin-left: auto
    margin-right: auto

  .top-triangle
    position: absolute
    top: -23px
    right: 30px
    color: $orange
    font-size: 32px

  .close-x
    position: absolute
    top: $baseline
    right: $baseline

@media (max-width: 430px)
  .why-by-weight
    width: 320px
    iframe
      width: 270px
      height: 270px * 9/16

    right: -40px
    top: 54px

    .top-triangle
      right: 70px