#checkboxes
  %div{ data: {behavior: 'checkbox'} }
    = check_box_tag 'check', 'val1', false, id: 'val-1'
  %div{ data: {behavior: 'checkbox'} }
    = check_box_tag 'check', 'val2', true, id: 'val-2'

#radios
  %div{ data: {behavior: 'radio'} }
    = radio_button_tag 'radio', 'val1', false, id: 'val-1'
  %div{ data: {behavior: 'radio'} }
    = radio_button_tag 'radio', 'val2', true, id: 'val-2'
