.edit-user-profile
  %input{name: 'name', value: 'test name'}
  %input{name: 'location', value: 'san francisco'}
  %input{name: 'website', value: 'www.chefsteps.com'}
  %textarea{name: 'quote'} my quote

