-if defined? activity
  - if activity.used_in_activities.published.any?
    .section(ng-hide="editMode")
      %h4 Used In
      %ul.no-bullet
        - activity.used_in_activities.published.each do |activity|
          %li= link_to activity.title.html_safe, activity

  - if activity.published_variations.any?
    .section(ng-hide="editMode")
      %h4 Variations
      %ul.no-bullet
        - activity.published_variations.each do |activity|
          %li= link_to activity.title.html_safe, activity
