.banner-image.noprint(  ng-controller="BannerController"
                        ng-cloak 
                        ng-click='toggleHeroVisual()' 
                        ng-if="heroMedia.heroDisplayType() != 'none'"
                        ng-class="{'hero-video-showing' : showHeroVisual()}")

  %img(ng-src="{{bannerImageURL()}}")  

  .play-button(ng-if="heroMedia.heroDisplayType() == 'video'")
    %i.fa.fa-play-circle-o  

  .hero-video.noprint
    = render 'activities/hero_visual'