.banner-image.noprint(  ng-controller="BannerController"
                        ng-cloak
                        ng-click='! editMode && toggleHeroVisual()'
                        ng-if="heroMedia.heroDisplayType() != 'none'"
                        ng-class="{'hero-video-showing' : showHeroVisual()}")

  %img( ng-if="bannerImageURL() != ''"
        ng-src="{{bannerImageURL()}}"
        width="{{bannerImageDimensions.w}}"
        height="{{bannerImageDimensions.h}}"
        alt="{{getObject().title}}"
        itemprop="image"
        title="{{getObject().title}}")

  .play-button-container
    .play-button( ng-if="heroMedia.heroDisplayType() == 'video' && ! showHeroVisual()")
      %i.fa.fa-play-circle-o

  .hero-video.noprint
    = render 'activities/hero_visual'
= render 'activities/edit_hero_visual'
