.container.noprint
  .span12
    %ul.breadcrumb
      %li
        = link_to "Accelerated Sous Vide Cooking Course", course_path('accelerated-sous-vide-cooking-course')
        %span.icon-chevron-right
      %li.active!= activity.title
