.container
  .span12
    %ul.breadcrumb
      %li
        = link_to "Accelerated Sous Vide Cooking Course", course_path(1)
        %i.icon-chevron-right
      %li.active
        Module 7: Putting it All Together
