- if activity.has_recipes?
  .hero-well.noprint
    .container
      .row
        .span12
          - if @cooked_this
            %h4== #{pluralize(activity.cooked_this, 'person')} cooked this, including you. Comment below to tell us how it went!
          - else
            %a.button.cooked-this{ href: cooked_this_course_activity_path, data: { remote: true, method: :post } }
              .inner
                %i.icon-pot-white
                %span I cooked this!
