%csEditPair.section

  %csEditPairShow
    .activity-description-wrapper(ng-show="!!activity.description")
      .activity-description#activity-description(ng-class="{'maximize-description': maximizeDescription}")
        %div(ng-bind-html="activity.description | markdown | shortcode")
        .activity-description-overlay(ng-hide="activity.description.length < 455")
      .text-center(ng-hide="false || editMode || (activity.description.length < 455)" )
        %a#activity-description-maximize.noprint(ng-click="toggleMaximizeDescription()")
          %span(ng-show="! maximizeDescription")
            more
          %span(ng-show="maximizeDescription")
            less
    %div.disabled-section(ng-show="editMode && (!activity.description)")
      Add description...

  %csEditPairEdit
    %textarea(ng-model="activity.description" rows="5" placeholder="Add description...")


-if can? :update, @activity
  .section
    %csEditPair

      %csEditPairShow
        %div(ng-show="!!activity.author_notes  || editMode" ng-class="disableIf(! activity.author_notes)")
          %h4 Private Notes
          %span(ng-bind="activity.author_notes || 'Add private notes...' ")

      %csEditPairEdit
        %h4 Private Notes
        %textarea(ng-model="activity.author_notes" placeholder="Add private notes..." rows="3")