#edit-group
  %button#edit-mode.btn.btn-primary.hide-when-editing{type: 'button'}
    Edit
  .btn-toolbar.show-when-editing
    .btn-group
      -#%button.btn.dropdown-toggle{data: {toggle: 'dropdown'}, href: '#'}
      -#  %i.icon-plus
      -#  %i.icon-angle-down
      -#%ul.dropdown-menu
      -#  %li
      -#    =link_to "Video / Image", "#"
      -#  %li
      -#    =link_to "Description", "#"
      -#  %li
      -#    =link_to "Ingredients", "#"
      -#  %li
      -#    =link_to "Yield", "#"
      -#  %li
      -#    =link_to "Timing", "#"
      -#  %li
      -#    =link_to "Equipment", "#"
      -#  %li
      -#    =link_to "Optional Equipment", "#"
      -#  %li
      -#    =link_to "Steps", "#"

      %button#edit-undo.btn.btn{type: 'button'}
        %i.icon-undo
      %button#edit-redo.btn.btn{type: 'button'}
        %i.icon-repeat
    .btn-group
      %button#edit-save.btn.btn-primary{type: 'button'}
        Save
    .btn-group
      %button#edit-cancel.btn.btn-link{type: 'button', data: {toggle: 'modal', target: '#cancel-modal'}}
        Cancel

#cancel-modal.modal.hide.fast{tabindex: '-1', role: 'dialog'}
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}}
      x
    .modal-body
      Do you really want to cancel all of your changes?
    .modal-footer
      %button.btn.btn-success{data: {dismiss: 'modal'}}
        No !!
      %button.btn.btn-danger#edit-really-cancel
        Yes
