#edit-group.pull-right(ng-cloak="")
  .btn-toolbar
    .btn-group(data-toggle="buttons-radio")
      .btn.btn-secondary(type="button" ng-click="activity.published='false'" ng-class="{active: activity.published == false}")
        Private
      .btn.btn-secondary(type="button" ng-click="activity.published='true'" ng-class="{active: activity.published == true}")
        Published
    .btn-group
      .btn.btn.btn-link{type: 'button', data: {toggle: 'modal', target: '#cancel-modal'}}
        Cancel
    .btn-group
      .btn.btn-primary.inline(type='button' ng-click="endEditMode()" ng-disabled="(!activityForm.$valid) || activitySaving")
        %span(ng-show="! activitySaving") Save
        %span(ng-show="activitySaving") Saving...

