.section-large.noprint( ng-if="heroMedia.heroDisplayType() == 'none'" )
.standard-item(ng-cloak ng-if="editMode")
  .btn.btn-secondary.noprint.section( ng-show="editMode && csAuthentication.isAdmin()"
                                      ng-click="showHeroVisualEdit = ! showHeroVisualEdit")
    %span.icon-edit
    Edit hero visual
    %span.icon-chevron-up(ng-show="showHeroVisualEdit")
    %span.icon-chevron-down(ng-show="! showHeroVisualEdit")

  %div.anim-basic-fade.noprint(collapse="! (showHeroVisualEdit || ! csAuthentication.isAdmin())" )
    %div
      %div.chunk
        %h5 Youtube ID
        %input(type="text" ng-model="getObject().youtube_id")
      %div.chunk
        %h5 Vimeo ID
        %input(type="text" ng-model="getObject().vimeo_id")
      %div.chunk
        %h5 Hero Image
        .csfilepicker(ng-model="getObject().image_id")
