.video-container{:itemscope => true, :itemprop => "video", :itemtype => "http://schema.org/VideoObject"}
  %meta{itemprop: 'thumbnailUrl', content: "#{filepicker_gallery_image(@activity.featured_image)}"}
  %meta{itemprop: 'embedUrl', content: "www.youtube.com/embed/#{@activity.youtube_id}"}
  .hero-visual
    %div(ng-switch="heroDisplayType()")
      %iframe.noprint#activityPlayer(ng-switch-when="video" ng-src="{{heroVideoURL()}}" ng-style="setHeight()" csenforceaspect webkitallowfullscreen mozallowfullscreen)
      %img(ng-switch-when="image" ng-src="{{heroImageURL(570)}}" alt="{{activity.title}}" title="{{activity.title}}" itemprop="image")

    %div.noprint.disabled-section(ng-show="(heroDisplayType() == 'none') && editMode" ng-click="showHeroVisualEdit = ! showHeroVisualEdit")
      Add main video or image ...

    .btn.btn-secondary.edit-hint.noprint(ng-show="editMode && (heroDisplayType() != 'none')" ng-click="showHeroVisualEdit = ! showHeroVisualEdit")
      %i.icon-edit
      Edit
      %i.icon-chevron-up(ng-show="showHeroVisualEdit")
      %i.icon-chevron-down(ng-show="! showHeroVisualEdit")

  %div.noprint(collapse="(! showHeroVisualEdit) || (! editMode)")
    %div
      .row
        .span2
          %h5 Youtube ID
          %input(type="text" ng-model="activity.youtube_id")
        .span3.offset1
          %h5 &hellip; or  Image
          .csfilepicker(ng-model="activity.image_id")

