%csEditPair
  %csEditPairShow
    %div(ng-switch="" on="heroDisplayType()")
      %iframe.noprint(ng-switch-when="video" ng-style="setHeight()" ng-src="{{heroVideoURL()}}" csenforceaspect)
      %img(ng-switch-when="image" ng-src="{{heroImageURL(570)}}" alt="{{activity.title}}" title="{{activity.title}}" itemprop="image")
      %img(ng-switch-when="video_still" ng-src="{{heroVideoStillURL()}}")
      %button.btn.btn-small.add-section(ng-switch-when="add_button")
        Add Hero Video or Image

  %csEditPairEdit
    %div(style="width: 100%;" ng-style="setHeight()" csenforceaspect)
      .row
        .span6
          %h5
            Youtube ID
          = text_field_tag :youtube_id, "", {data: {:'ng-model' => "activity.youtube_id"}}
      .row
        .span6
          %h5
            &hellip; or Hero Image
          %img(ng-show="hasHeroImage()" ng-src="{{heroImageURL(300)}}")
      .row
        .csfilepicker.span6(ng-model="activity.image_id")

