%csEditPair
  %csEditPairShow
    %div(ng-show="showHeroVideo() || showHeroImage()")
      %iframe.noprint(ng-show="showHeroVideo()" ng-src="{{heroVideoURL()}}" ng-style="setHeight()" csenforceaspect)
      %img(ng-show="(! showHeroVideo()) && showHeroImage()" ng-src="{{heroImageURL(570)}}" alt="{{activity.title}}" title="{{activity.title}}" itemprop="image")
    %button.btn.btn-large.add-section(ng-show="editMode && (! (showHeroVideo() || showHeroImage()))")
      Add Hero Video or Image

  %csEditPairEdit
    .row
      .span6
        %h5
          Youtube ID
        = text_field_tag :youtube_id, "", {data: {:'ng-model' => "activity.youtube_id"}, autofocus: 'autofocus'}
    .row
      .span6
        %h5
          &hellip; or Hero Image
        %img(ng-show="showHeroImage()" ng-src="{{heroImageURL(300)}}")
    .row
      .csfilepicker.span6(ng-model="activity.image_id")

