%csEditPair
  %csEditPairShow
    %iframe.noprint(ng-show="showHeroVideo()" ng-src="{{heroVideoURL()}}" )
    %img(ng-show="(! showHeroVideo()) && showHeroImage()" ng-src="{{heroImageURL(570)}}" alt="{{activity.title}}" title="{{activity.title}}" itemprop="image")
  %csEditPairEdit
    .row
      .span6
        %h5
          Youtube ID
        = text_field_tag :youtube_id, "", {data: {:'ng-model' => "activity.youtube_id"}, autofocus: 'autofocus'}
    .row
      .span6
        %h5
          &hellip; or Hero Image
        %img(ng-show="showHeroImage()" ng-src="{{heroImageURL(300)}}")
    .row
      .csfilepicker.span6(ng-model="activity.image_id")

