%script{:src => "/js/recipe_units.js"}
%table.ingredients
  %thead
    %tr
      %th=recipe.title
      %th#units_header{colspan: 2}
        #units_grams
          %span(style="font-weight: bold;") g /
          %a#switch_to_ounces oz
        #units_ounces(style="display:none;")
          %a#switch_to_grams g
          %span(style="font-weight: bold;") / oz


  %tbody
    - recipe.ingredients.each do |ingredient|
      %tr
        %td
          - if ingredient.product_url?
            = link_to ingredient.title, ingredient.product_url, { class: ('bullet-for-sale' if ingredient.for_sale) }
          - else
            = ingredient.title
        %td.quantity= ingredient.display_quantity
        %td= ingredient.unit

