.ingredients{:itemprop => "ingredients"}

  -if source != "step"
    .ingredient-table-head
      .ingredient-table-row
        #ingredient.ingredient-title Ingredient
        #quantity.quantity-group(tooltip="Click on quantity column header to change units, or any value to scale the recipe.")
          %a.change_units Quantity
          %i.fakelink.icon-question-sign

  .ingredient-table-body(ui-sortable="sortOptions" ng-model="#{source}.ingredients")
    .ingredient-table-row(ng-repeat="ai in #{source}.ingredients" data-ng-animate="'custom'")
      %csIngredientEditPair

