.ingredients{:itemprop => "ingredients"}

  -if source != "step"
    .ingredient-table-head
      .ingredient-table-row
        #ingredient.ingredient-title Ingredient
        #quantity.quantity-group
          %a.change_units{title: "Click to change units"} Quantity
          %a.recipetip{href: "#", rel: "infotip", "data-original-title" => "Click on quantity column header to change units, or any value to scale the recipe."}
            %i.icon-question-sign

  .ingredient-table-body(ui-sortable="sortOptions" ng-model="#{source}.ingredients")
    .ingredient-table-row(ng-repeat="ai in #{source}.ingredients")
      %csIngredientEditPair

