%table.ingredients
  %colgroup
    %col{width: "70%"}
    %col{width: "20%"}
    %col{width: "10%"}

  %thead
    %tr
      %th#ingredient Ingredient
      %th#quantity{colspan: 2}
        %a.change_units{title: "Click to change units"} Quantity

  %tbody
    - recipe.ingredients.each do |ingredient|
      %tr
        %td
          - if ingredient.product_url?
            = link_to ingredient.title, ingredient.product_url, { class: ('bullet-for-sale' if ingredient.for_sale) }
          - else
            = ingredient.title
        %td.quantity.qtyfade= ingredient.display_quantity
        %td.unit.qtyfade= ingredient.unit

