%table.ingredients
  %thead
    %tr
      %th=recipe.title
      %th{colspan: 2} Weight
  %tbody
    - recipe.ingredients.each do |ingredient|
      %tr
        %td
          - if ingredient.product_url?
            = link_to ingredient.title, ingredient.product_url, { class: ('bullet-for-sale' if ingredient.for_sale) }
          - else
            = ingredient.title
        %td.quantity= ingredient.display_quantity
        %td= ingredient.unit

