-# Uses a flex layout.  The hope is we can apply some of these components like .flex-container, .flex-item, .flex-full, .flex-aside, and .flex-main in other parts of the activity layout. 

.flex-container
  .flex-item.flex-full
    .flex-title
      %h1
        {{activity.title}}
  .flex-item.flex-aside
    .flex-tools-container
      .flex-tools
        .flex-tool(ng-if="! inClass")
          %div( ng-controller='LikesController'
                ng-click='toggleLikeObject(getObjectTypeName(), getObject().id)'
                ng-init='getCurrentUserLikes(getObjectTypeName(), getObject().id)')
            %i.fa.fa-bookmark-o.flex-button-circle(ng-if="!current_user_likes")
            %i.fa.fa-bookmark.flex-button-circle(ng-if="current_user_likes")
            %div
              {{getObject().likes_count || 0}}
        .flex-tool(cs-smooth-scroll-to='#discussion')
          %i.fa.fa-comments-o.flex-button-circle
          %div
            {{commentCount}}
        .flex-tool.flex-large-only(ng-click='doPrint()')
          %i.fa.fa-file-text-o.flex-button-circle
          %div
            Print
        .flex-tool.flex-dropdown.flex-medium-only(ng-controller='SocialButtonsController')
          .flex-dropdown-toggle(ng-init='socialMediumMoreOpen=false' ng-click='socialMediumMoreOpen = !socialMediumMoreOpen')
            %i.fa.fa-external-link.flex-button-circle
            %div
              Share
          .flex-dropdown-menu(ng-class="{true:'open', false: 'closed'}[socialMediumMoreOpen]")
            %ul
              %li(ng-click='shareEmail()')
                %i.fa.fa-envelope
                Email
              %li(ng-click='shareFacebook()')
                %i.fa.fa-facebook
                Facebook
              %li(ng-click='shareTwitter()')
                %i.fa.fa-twitter
                Twitter
              %li(ng-click='sharePinterest()')
                %i.fa.fa-pinterest
                Pinterest
        .flex-tool.flex-dropdown
          .flex-dropdown-toggle(ng-init='toolMoreOpen=false' ng-click='toolMoreOpen = !toolMoreOpen')
            %i.fa.fa-ellipsis-h.flex-button-circle
            %div
              More
          .flex-dropdown-menu(ng-class="{true:'open', false: 'closed'}[toolMoreOpen]")
            %ul
              -if can?(:update, @activity) && @include_edit_toolbar
                %li(  ng-click="maybeStartEditMode()"
                      tooltip="Edit this recipe"
                      tooltip-placement="left")
                  %i.fa.fa-edit
                  Edit
              -if can?(:update, Activity) && @include_edit_toolbar
                %li(  ng-show="hasActivityType('Recipe')"
                      ng-click="fork()"
                      tooltip="Edit a copy of this recipe"
                      tooltip-placement="left")
                  %i.fa.fa-edit
                  Edit a copy
              %li.flex-medium-only(ng-click='doPrint()')
                %i.fa.fa-print
                Print
  .flex-item.flex-main
    = render 'activities/latest/description'
  .flex-item.flex-aside.flex-large-only
    %h5.flex-social-title Share
    .flex-social(ng-controller='SocialButtonsController')
      .flex-social-item(ng-click='shareEmail()')
        %i.fa.fa-envelope
      .flex-social-item(ng-click='shareFacebook()')
        %i.fa.fa-facebook
      .flex-social-item(ng-click='shareTwitter()')
        %i.fa.fa-twitter
      .flex-social-item.flex-dropdown
        .flex-dropdown-toggle(ng-init='socialMoreOpen=false' ng-click='socialMoreOpen = !socialMoreOpen')
          %i.fa.fa-external-link
        .flex-dropdown-menu(ng-class="{true:'open', false: 'closed'}[socialMoreOpen]")
          %ul
            %li(ng-click='sharePinterest()')
              %i.fa.fa-pinterest
              Pinterest
            %li(ng-click='shareGooglePlus()')
              %i.fa.fa-google-plus
              Share on Google+
            %li(ng-click='shareEmbedly()')
              %i.fa.fa-code
              Embed code
    -# .flex-suggestions
    -#   %strong Here's some suggestions
    -#   %ol
    -#     %li Item 1
    -#     %li Item 2
    -#     %li Item 3
    -#     %li Item 4
    -#     %li Item 5