%script
  window.csGetEditPartialActivityPath = "#{get_edit_partial_activity_path(@activity)}"
  window.csGetShowPartialActivityPath = "#{get_show_partial_activity_path(@activity)}"
  window.csRevertToVersionActivityPath = "#{revert_to_version_activity_path(@activity)}"
  window.csLivePublicActivityVersion = "#{@live_public_version}"
  window.csLastEditActivityVersion = window.csLivePublicActivityVersion