.section.csmonitorinputactivity(ng-controller="IngredientsController")

  .activity-ingredients-list#full-ingredients-list.section
    %h4.ingredients-title Ingredients
    .ingredients-well.well(ng-show="activity.ingredients.length" ng-class="{'ingredients-menu-slide' : showIngredientsMenu}")
      = render 'shared/ingredients_list', source: "activity"
    .ingredients-menu.well
      .controls
        .btn.btn-primary
          SCALE x2
        .btn.btn-primary
          UNIT (g)
      %i.icon-cog.icon-large(ng-click="showIngredientsMenu = ! showIngredientsMenu")

  .nav(ng-show="editMode")
    %h4(ng-show="! activity.ingredients.length" ng-class="disableIf(!activity.ingredients.length)") Ingredients
    %button.btn.btn-small.btn-secondary.add-from-master(ng-show="hasAnyStepIngredients()" ng-click="fillMasterIngredientsFromSteps()" tooltip="Replace master ingredients with step ingredients..." tooltip-placement="bottom")
      %i.icon-chevron-left
    %button.btn.btn-small.btn-secondary.add-item(ng-click="addIngredient()" tooltip="Add ingredient"  tooltip-placement="bottom")
      %i.icon-plus
    %button.btn.btn-small.btn-primary.done(ng-show="hasActiveInputs" tooltip="Finish adding ingredients" tooltip-placement="bottom")
      Done

  = render 'activities/master_ingredients_removed_modal.html.haml'
