.section(ng-controller="IngredientsController" cs-watch-focus)
  .activity-ingredients-list#full-ingredients-list.section
  
    .ingredients-menu-button.noprint(ng-show="activity.ingredients.length && ! editMode")
      .btn.btn-link( ng-click="toggleIngredientsMenu()" 
                      ng-class="{'active' : csGlobals.scaling != 1}")
        Scale recipe ...

    .ingredients-menu.well( ng-show="activity.ingredients.length"
                            ng-class="{'menu-active' : showIngredientsMenu}")
      .controls
        .navlabel
          SCALE

        %ul.scaling-row.nav.nav-tabs.underline
          %li(  ng-repeat="f in scaleFactors()" 
                ng-click="setScaling(f)" 
                ng-class='isActiveScale(f)')

            %a(ng-bind-html="displayScaling(f)")

        .navlabel
          UNITS

        %ul.units-row.nav.nav-tabs.underline
          %li(  ng-repeat="u in unitChoices()" 
                ng-click="setUnits(u)" 
                ng-class='isActiveUnit(u)')
            %a(ng-bind-html="u")

    .ingredients-well(  ng-show="activity.ingredients.length" 
                        ng-class="{'menu-active' : showIngredientsMenu}"
                        cs-on-enter-viewport
                        offset="200")
      = render 'shared/ingredients_list', source: "activity"

  %h4(  ng-show="editMode && ! activity.ingredients.length" 
        ng-class="disableIf(!activity.ingredients.length)") 
    Ingredients

  .new-ingredients-group(ng-show="editMode")

    .btn.btn-secondary.btn-small( ng-show="hasAnyStepIngredients()" 
                                  ng-click="fillMasterIngredientsFromSteps()" 
                                  tooltip="Replace master ingredients with step ingredients..." 
                                  tooltip-placement="bottom")
      %span.icon-chevron-left

    .new-ingredient(cs-new-ingredient)

  = render 'activities/master_ingredients_removed_modal.html.haml'
