.section.csmonitorinputactivity(ng-controller="IngredientsController")
  .activity-ingredients-list#full-ingredients-list.section
    %h4.ingredients-title Ingredients
    .ingredients-well.well(ng-show="activity.ingredients.length" ng-class="{'ingredients-menu-slide' : showIngredientsMenu}")
      = render 'shared/ingredients_list', source: "activity"
    .ingredients-menu-button(ng-class="{'ingredients-menu-button-slide' : showIngredientsMenu}")
      %i.icon-cog.icon-large(ng-click="toggleIngredientsMenu()")
    .ingredients-menu.well
      .controls
        .navlabel
          SCALE
        %ul.scaling-row.nav.nav-tabs.underline
          %li(ng-click="setScaling(0.5)" ng-class='isActiveScale(0.5)')
            %a
              x&frac12;
          %li(ng-click="setScaling(1)" ng-class='isActiveScale(1.0)')
            %a
              x1
          %li(ng-click="setScaling(2)" ng-class='isActiveScale(2.0)')
            %a
              x2
          %li(ng-click="setScaling(4)" ng-class='isActiveScale(4.0)')
            %a
              x4

        -#
          .btn.btn-primary(ng-click="cycleUnits()")
            UNIT ({{displayUnits()}})

  .nav(ng-show="editMode")
    %h4(ng-show="! activity.ingredients.length" ng-class="disableIf(!activity.ingredients.length)") Ingredients
    %button.btn.btn-small.btn-secondary.add-from-master(ng-show="hasAnyStepIngredients()" ng-click="fillMasterIngredientsFromSteps()" tooltip="Replace master ingredients with step ingredients..." tooltip-placement="bottom")
      %i.icon-chevron-left
    %button.btn.btn-small.btn-secondary.add-item(ng-click="addIngredient()" tooltip="Add ingredient"  tooltip-placement="bottom")
      %i.icon-plus
    %button.btn.btn-small.btn-primary.done(ng-show="hasActiveInputs" tooltip="Finish adding ingredients" tooltip-placement="bottom")
      Done

  = render 'activities/master_ingredients_removed_modal.html.haml'
