.section(ng-controller="IngredientsController" cs-watch-focus)
  .activity-ingredients-list#full-ingredients-list.section
  
    .ingredients-menu-button(ng-show="activity.ingredients.length && ! editMode")
      .btn.btn-link( ng-click="toggleIngredientsMenu()" 
                      ng-class="{'active' : csGlobals.scaling != 1}")
        Scale ...

    .ingredients-menu.well( ng-show="activity.ingredients.length"
                            ng-class="{'menu-active' : showIngredientsMenu}")
      .controls
        .navlabel
          SCALE

        %ul.scaling-row.nav.nav-tabs.underline
          %li(  ng-repeat="f in scaleFactors()" 
                ng-click="setScaling(f)" 
                ng-class='isActiveScale(f)')

            %a(ng-bind-html="displayScaling(f)")

        .navlabel
          UNITS

        %ul.units-row.nav.nav-tabs.underline
          %li(  ng-repeat="u in unitChoices()" 
                ng-click="setUnits(u)" 
                ng-class='isActiveUnit(u)')
            %a(ng-bind-html="u")

    .ingredients-well(  ng-show="activity.ingredients.length" 
                        ng-class="{'menu-active' : showIngredientsMenu}"
                        cs-on-enter-viewport
                        reached-screen-callback="maybeShowWhyByWeight()"
                        offset="200")
      = render 'shared/ingredients_list', source: "activity"

  %h4(  ng-show="editMode && ! activity.ingredients.length" 
        ng-class="disableIf(!activity.ingredients.length)") 
    Ingredients

  .new-ingredients-group(ng-show="editMode")

    %button.btn.btn-secondary.add-from-master(  ng-show="hasAnyStepIngredients()" 
                                                          ng-click="fillMasterIngredientsFromSteps()" 
                                                          tooltip="Replace master ingredients with step ingredients..." 
                                                          tooltip-placement="bottom")
      %i.icon-chevron-left

    %input.new-ingredient(  cs-new-ingredient
                            type="text" 
                            placeholder="Add ingredient, e.g. 20 g Kosher Salt" 
                            typeahead-editable="true" 
                            autocomplete="off" 
                            class="ingredient-typeahead" 
                            ng-model="ai.ingredient"
                            typeahead="i as i.title for i in all_ingredients($viewValue)")

  = render 'activities/master_ingredients_removed_modal.html.haml'
