.btn.btn-secondary.noprint.edit-meta-button(ng-cloak ng-show="editMode" ng-click="editMeta = ! editMeta")
  %i.icon-edit
  Details ...
  %i.icon-chevron-up(ng-show="editMeta")
  %i.icon-chevron-down(ng-show="! editMeta")

%div(ng-show="editMode && editMeta")
  .meta-edit.well.noprint
    %div(ng-show="csAuthentication.isAdmin()")
      %h6 Activity Type
      .btn-toolbar
        %button.btn(ng-repeat="actType in activityTypes" type="button" ng-click="toggleActivityType(actType)" ng-class="{active: hasActivityType(actType)}")
          {{actType}}

    %h6 Tags
    .btn.btn-small.btn-primary(ng-click="showTagsModal = true") Select Tags...
    %input(type="hidden" ng-model="activity.tags" ui-select2="tagsSelect2()")

    %div(ng-show="csAuthentication.isAdmin()")
      %h6 Difficulty
      .btn-toolbar
        %button.btn(ng-repeat="actDifficulty in activityDifficulties" type="button" ng-click="setActivityDifficulty(actDifficulty)" ng-class="{active: hasActivityDifficulty(actDifficulty)}")
          {{actDifficulty}}

    %div(ng-show="csAuthentication.isAdmin()")
      %h6 Featured Image (For Thumbnails)
      %img(ng-if="hasFeaturedImage()" ng-src="{{featuredImageURL(200)}}")
      .csfilepicker(ng-model="activity.featured_image_id")

    %div(ng-show="csAuthentication.isAdmin()")
      %h6 Include In Galleries
      .btn-toolbar
        .btn-group
          %button.btn(type="button" ng-click="activity.include_in_gallery = true" ng-class="{active: activity.include_in_gallery}")
            Yes
          %button.btn(type="button" ng-click="activity.include_in_gallery = false" ng-class="{active: ! activity.include_in_gallery}")
            No

    -if can? :manage, User
      %h6 Premium Only?
      .btn-toolbar
        .btn-group
          %button.btn(type="button" ng-click="activity.premium = true" ng-class="{active: activity.premium}")
            Yes
          %button.btn(type="button" ng-click="activity.premium = false" ng-class="{active: ! activity.premium}")
            No
      %h6 Studio Pass Only?
      .btn-toolbar
        .btn-group
          %button.btn(type="button" ng-click="activity.studio = true" ng-class="{active: activity.studio}")
            Yes
          %button.btn(type="button" ng-click="activity.studio = false" ng-class="{active: ! activity.studio}")
            No

  %div(ng-cloak close="showTagsModal = false" modal="showTagsModal" options="modalOptions")
    .modal-header
      %h2 Choose Tags
      Pick all that apply. It is ok to have more than one in a category.
    .modal-body.tag-bg
      %csTagChooser(  ng-model="activity.tags"
                      options="csTagService.activitySuggestedTags")
    .modal-footer
      %button.btn(ng-click="showTagsModal = false") Done