.meta-edit.well


  %h6 Activity Type
  .btn-toolbar
    %button.btn(ng-repeat="actType in activityTypes" type="button" ng-click="toggleActivityType(actType)" ng-class="{active: hasActivityType(actType)}")
      {{actType}}

  %h6 Tags
  %input(type="text" ng-model="tags" ng-model="activity.tags" ui-select2="tagsSelect2")

  %h6 Featured Image (For Thumbnails)
  %img(ng-show="hasFeaturedImage()" ng-src="{{featuredImageURL(200)}}")
  .csfilepicker(ng-model="activity.featured_image_id")
