- if show_quizzes? and activity.has_quizzes?
  #quizzes
    .hero-well
      .container
        .row
          .span12
            %h3 Quizzes
            Take your learning to the next step and complete the following #{'quiz'.pluralize activity.quizzes.count}:
            %ul
              - activity.quizzes.each do |quiz|
                %li
                  = link_to quiz.title, quiz_path(quiz)
