- course_quiz ||= nil

/ .row-fluid
/   .span12
/     %h1= @activity.title
/     %h4= @activity.description
.row-fluid
  .span12
    - quiz = course_quiz || @activity.quizzes.first
    %iframe{src: quiz_path(quiz), style: 'width: 100%; border: none; min-height: 1000px; overflow: hidden;', id: 'course-quiz', onload: "window.adjust_iframe_height(this);"}

    / #quizzes.hero-well.noprint
    /   .container
    /     - @activity.quizzes.each_slice(3) do |quizzes|
    /       .row
    /         - quizzes.each do |quiz|
    /           .span4
    /             = link_to quiz_path(quiz, return_to: course_activity_path(@course, @activity)) do
    /               .image-with-caption
    /                 - if quiz.has_image?
    /                   = image_tag quiz.image.url, class: 'img-polaroid'
    /                 .image-caption
    /                   .image-caption-text= quiz.title
    /             %iframe{src: quiz_path(quiz)}