.ingredients

  %h4 Select ingredients
  .ingredient-table-body
    .ingredient-table-row(ng-repeat="ai in possible_ingredients")

      %input.select-ingredient-checkbox(type="checkbox" ng-model="ai.included")
      %div(ng-click="ai.included = ! ai.included")
        %span(ng-bind-html="ai.ingredient.title")>
        %span(ng-show="!!ai.note" ng-bind-html="', ' + (ai.note | shortcode)")>

