= @activity.title.html_safe
/ - if @activity.is_recipe?
/   .activity-action-btn
/     = form_for @user_activity do |f|
/       = f.hidden_field :activity_id, value: @activity.id
/       %button.btn.btn-primary{onclick: 'formSubmit()'}
/         .btn-count
/           = @activity.users.count
/         .btn-text
/           cooked this