.activity-description#activity-description
  :markdown
    #{apply_shortcodes(activity.description)}
  .activity-description-overlay
.text-center
  = link_to 'more', 'javascript:void(0);', id: 'activity-description-maximize'