.component.sous-vide-cta
  .item-container
    .item.header
      .item-content
        - if @activity.difficulty == 'easy'
          / TEST: http://localhost:3000/activities/celery-root-puree
          %h3 Want more sous vide recipes?
          %h4
            %i 
              Check out our beginner’s guide to cooking sous vide.
          %a.btn.btn-primary(href='/classes/cooking-sous-vide-getting-started/landing' onclick="mixpanel.track('Activity Sous Vide CTA clicked', {'activity':'#{@activity.title}'});" no-nell-popup='true')
            Take me there!
        - else
          / TEST: http://localhost:3000/activities/chicken-liver-pate
          %h3 Want more amazing sous vide recipes?
          %h4
            Enroll in <em>Cooking Sous Vide: Beyond the Basics</em>.
          %a.btn.btn-primary(href='/classes/cooking-sous-vide-getting-started/landing' onclick="mixpanel.track('Activity Sous Vide CTA clicked', {'activity':'#{@activity.title}'});" no-nell-popup='true')
            Take me there!
