.component.sous-vide-cta
  .item-container
    .item.header
      .item-content
        %h3 Looking for more sous vide tips?
        %h4
          %i Try our Sous Vide 101 Guide
        %button.btn.btn-primary
          Take me there!
