.component.sous-vide-cta
  .item-container
    .item.header
      .item-content
        - if @activity.difficulty == 'easy'
          / TEST: http://localhost:3000/activities/celery-root-puree
          %span.head3_text Discover a new way to get cooking
          %span.head3_text
            %i
              Check out our beginner’s guide to cooking sous vide.
          %a.btn.btn-primary(href='/classes/cooking-sous-vide-getting-started/landing' no-nell-popup='true')
            Take me there!
        - else
          / TEST: http://localhost:3000/activities/chicken-liver-pate
          %span.head3_text Want more amazing sous vide recipes?
          %span.head4_text
            Enroll in <em>Cooking Sous Vide: Beyond the Basics</em>.
          %a.btn.btn-primary(href='/classes/cooking-sous-vide-beyond-the-basics/landing' no-nell-popup='true')
            Take me there!
