.hero-unit.hero-well.hero-step-by-step
  .container.step-by-step
    - if activity.recipe_steps.any?
      - activity.ordered_recipe_steps.each_with_index do |recipe_step, i|
        .row
          .span12
            = render 'step', step: recipe_step, count: i
            .row
              .span12
                .horizontal-divider

    - if activity.steps.any?
      - activity.steps.each_with_index do |step, i|
        = render 'step', step: step, count: i
        .row
          .span12
            .horizontal-divider
    - if activity.has_recipes?
      .row
        .span12
          - if @cooked_this
            %h4== #{pluralize(activity.cooked_this, 'person')} cooked this, including you. Comment below to tell us how it went!
          - else
            %a.button.cooked-this{ href: cooked_this_activity_path, data: { remote: true, method: :post } }
              .inner
                %i.icon-pot-white
                %span I cooked this!

