=render 'activities/step_side_edit_buttons'

.step-element.step-number
  %div(collapse="step.hide_number" ng-bind="stepNumber($index)")

.step-element.step-content

  %csEditPair
    %csEditPairShow
      %h4(ng-show="step.title || editMode" ng-bind-html-unsafe="step.title || (editMode && 'Optional title...') | markdown | shortcode" ng-class="disableIf(! step.title.length)")
    %csEditPairEdit
      %textarea.step-title-input(ng-model="step.title" rows="5" placeholder="Optional title...")

  =render 'activities/step_ingredients'

  %csEditPair
    %csEditPairShow
      %div(ng-show="step.directions || editMode" ng-bind-html-unsafe="(step.directions || 'Add direction...') | markdown | shortcode" ng-class="disableIf(!step.directions)")
    %csEditPairEdit
      %textarea(ng-model="step.directions" rows="5" placeholder="Add direction...")

  =render 'activities/step_show_images'
  =render 'activities/step_edit_images'
