.section.clearfix(ng-show="editMode")
  %div(ng-switch="!! step.youtube_id" )
    .span2(ng-switch-when="true")
      .video-container(csenforceaspect )
        %iframe(ng-src="{{'//www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0&vq=small'}}")
  .span2(ng-show="!! step.image_id")
    %img(ng-src="{{stepImageURL(step, 240)}}")

.section.clearfix(ng-show="editMode")
  .btn.btn-secondary(ng-click="showMediaEdit = ! showMediaEdit")
    %i.icon-edit
    Media
    %i.icon-chevron-up(ng-show="showMediaEdit")
    %i.icon-chevron-down(ng-show="! showMediaEdit")
  %div(collapse="! showMediaEdit")
    .well
      %h4 Video
      %input.nohtml(type="text" ng-model="step.youtube_id" placeholder="Youtube ID" style="width: 100%;")
      %h4 Image
      .csfilepicker(ng-model="step.image_id")
      %input.nohtml(ng-show="!!step.image_id" type="text" ng-model="step.image_description" placeholder="Image description" style="width: 100%;")