%div.csmonitorinputactivity.ng-form(ng-controller="IngredientsController"  name="ingredientform" ng-hide="(! editMode) && (step.ingredients.length == 0)")

  .step-ingredients-source.well(ng-hide="(step.ingredients.length == 0) || (editMode && masterSelect)")
    = render 'shared/ingredients_list', source: "step"

  .select-from-master.well(ng-hide="! (editMode && masterSelect)")
    = render 'activities/select_ingredients_from_master'

  .nav(ng-show="editMode")
    %h4(ng-show="! step.ingredients.length" ng-class="disableIf(!step.ingredients.length)") Ingredients

    %button.btn.btn-small.btn-secondary.add-from-master(ng-show="!masterSelect" ng-click="toggleSelectFromMaster()" tooltip="Quick add ingredient from master ingredient list..." tooltip-placement="bottom")
      %i.icon-chevron-right
    %button.btn.btn-small.btn-primary.done(ng-show="masterSelect" ng-click="toggleSelectFromMaster()" tooltip="Finish adding ingredients" tooltip-placement="bottom")
      Done
    %button.btn.btn-small.btn-secondary.add-item(ng-click="addIngredient($index)" ng-show="!masterSelect" tooltip="Add ingredient..." tooltip-placement="bottom")
      %i.icon-plus
    %button.btn.btn-small.btn-primary.done(ng-show="hasActiveInputs && (! masterSelect)" tooltip="Finish adding ingredients" tooltip-placement="bottom")
      Done

.divider