%div.ng-form( ng-controller="IngredientsController"  
              name="ingredientform" 
              ng-show="(editMode) || (step.ingredients.length != 0)"
              cs-watch-focus)

  .step-ingredients-source.ingredients-well.well(ng-hide="(step.ingredients.length == 0) || (editMode && masterSelect)")
    = render 'shared/ingredients_list', source: "step"

  .select-from-master.well(ng-hide="! (editMode && masterSelect)")
    = render 'activities/select_ingredients_from_master'

  %h4(ng-show="getStepOpenForEdit() && ! step.ingredients.length" ng-class="disableIf(!step.ingredients.length)") Step Ingredients

  .new-ingredients-group(ng-show="editMode && getStepOpenForEdit()")

    .btn.btn-small.btn-secondary( ng-show="!masterSelect" 
                                  ng-click="toggleSelectFromMaster()" 
                                  tooltip="Quick add ingredient from master ingredient list..." 
                                  tooltip-placement="bottom")
      %span.icon-chevron-right

    .btn.btn-small.btn-primary( ng-show="masterSelect" 
                                ng-click="toggleSelectFromMaster()" 
                                tooltip="Finish adding ingredients" 
                                tooltip-placement="bottom")
      Done
    .new-ingredient(cs-new-ingredient)
