%div(ng-show="! editMode")
  .step-actions.btn-group.noprint
    .btn.step-action-item.step-image-btn.btn-primary(ng-show="step.image_id")
      %span.icon-picture
    .btn.step-action-item.step-video-btn.btn-primary(ng-show="step.youtube_id")
      %span.icon-facetime-video

  .step-video-outer(ng-switch="!! step.youtube_id")
    .step-video(id="{{'step-video-' + $index}}" ng-switch-when="true" )
      .video-container(csenforceaspect)
        %iframe(cssrcreplacer="{{'//www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0&iv_load_policy=3'}}")

  .step-image-outer(ng-switch="!! step.image_id")
    .step-image(id="{{'step-image-' + $index}}" ng-switch-when="true")
      %img(ng-src="{{stepImageURL(step, 480)}}" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}")
