.step-sidebar-group.anim-basic-fade.relative
  .btn-edit-step(ng-show="editMode" ng-click="toggleStepOpenForEdit()")
    %i.icon-edit-sign(ng-show="getStepOpenForEdit()")
    %i.icon-edit(ng-show="! getStepOpenForEdit()")

  .btn-edit-step(ng-show="getStepOpenForEdit()" ng-click="toggleStepDetailsOpenForEdit()")
    %i.icon-gear

  -# Outer if to avoid clogging up DOM and expensive watches
  %div(ng-if="getStepOpenForEdit()")
    .step-edit-tools.anim-basic-fade(ng-show="getStepDetailsOpenForEdit()")
      .section
        .btn-link(  ng-click="reorderStep(stepIndex(), -1)" 
                        ng-class="disableIf(! canMoveStep(stepIndex(), -1))")
          %i.icon-arrow-up
          Move step up

        .btn-link(  ng-click="reorderStep(stepIndex(), 1)" 
                        ng-class="disableIf(! canMoveStep(stepIndex(), 1))")
          %i.icon-arrow-down
          Move step down

      .section(ng-hide="step.is_aside")
        %h5 Step Number
        .btn-group
          .btn.btn-primary(btn-radio="false" ng-model="step.hide_number")
            Show
          .btn.btn-primary(btn-radio="true" ng-model="step.hide_number")
            Hide

      .section
        %h5 Size 
        .btn-group
          .btn.btn-primary.btn-fake-radio(  ng-class="{'active': isStepType('normal')}"
                                            ng-click='setStepType("normal")')
            Normal
          .btn.btn-primary.btn-fake-radio(  ng-class="{'active': isStepType('wide')}"
                                            ng-click='setStepType("wide")')
            Wide
          .btn.btn-primary.btn-fake-radio(  ng-show="canMakeAside(stepIndex())" 
                                            ng-class="{'active': isStepType('aside')}"
                                            ng-click='setStepType("aside")')
            Aside



      .section.aside-chooser-group(ng-show="step.is_aside")
        %h5 Preferred Position
        .btn-group
          .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                              btn-radio="'left'"
                              type="button")
            %i.icon-double-angle-left
          .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                              btn-radio="'leftInset'"
                              type="button")
            %i.icon-angle-left
          .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                              btn-radio="'center'"
                              type="button")
            %i.icon-resize-horizontal
          .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                              btn-radio="'rightInset'"
                              type="button")
            %i.icon-angle-right
          .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                              btn-radio="'right'"
                              type="button")
            %i.icon-double-angle-right

      .section
        .btn-link(ng-click="removeStep(stepIndex())")
          %i.icon-trash
          Delete step

