.row.step
  .span4
    %h3
      :erb
        <strong><%="Step #{count}: "%></strong><%=step.title%>
    .well
      %h6 Ingredients
      %table
        %tr
          %td Chicken breasts
          %td 60
          %td kg
        %tr
          %td Stuff
          %td 60
          %td g
    %ul
      %li Remove covering skin from breasts.
      %li Peel away "tenders" from breasts.
  .span8
    .well.video
      .video-container
        %iframe{:src => youtube_url(step.youtube_id)}

