.step-sidebar-group.relative.section(ng-show="editMode")
  .btn-edit-step(ng-click="toggleStepOpenForEdit()")
    %span.icon-edit-sign(ng-class="{'active' : getStepOpenForEdit()}")
  .btn-edit-step(ng-show="getStepOpenForEdit()" ng-click="toggleStepDetailsOpenForEdit()")
    %span.icon-gear(ng-class="{'active' : getStepDetailsOpenForEdit()}")

  .step-edit-tools.anim-basic-fade(ng-if="getStepDetailsOpenForEdit()")
    .section
      .btn-link(  ng-click="reorderStep($index, -1)" 
                      ng-class="disableIf(! canMoveStep($index, -1))")
        %span.icon-arrow-up
        Move step up

      .btn-link(  ng-click="reorderStep($index, 1)" 
                      ng-class="disableIf(! canMoveStep($index, 1))")
        %span.icon-arrow-down
        Move step down

    .section(ng-hide="step.is_aside || (! csAuthentication.isAdmin())")
      %h5 Step Number
      .btn-group
        .btn.btn-primary(btn-radio="false" ng-model="step.hide_number")
          Show
        .btn.btn-primary(btn-radio="true" ng-model="step.hide_number")
          Hide

    .section(ng-show="csAuthentication.isAdmin()")
      %h5 Size 
      .btn-group
        .btn.btn-primary.btn-fake-radio(  ng-class="{'active': isStepType('normal')}"
                                          ng-click='setStepType("normal")')
          Normal
        .btn.btn-primary.btn-fake-radio(  ng-class="{'active': isStepType('wide')}"
                                          ng-click='setStepType("wide")')
          Wide
        .btn.btn-primary.btn-fake-radio(  ng-show="canMakeAside($index)" 
                                          ng-class="{'active': isStepType('aside')}"
                                          ng-click='setStepType("aside")')
          Aside



    .section.aside-chooser-group(ng-show="step.is_aside && csAuthentication.isAdmin()")
      %h5 Preferred Position
      .btn-group
        .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                            btn-radio="'left'"
                            type="button")
          %span.icon-double-angle-left
        .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                            btn-radio="'leftInset'"
                            type="button")
          %span.icon-angle-left
        .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                            btn-radio="'center'"
                            type="button")
          %span.icon-resize-horizontal
        .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                            btn-radio="'rightInset'"
                            type="button")
          %span.icon-angle-right
        .btn.btn-primary( ng-model="step.presentation_hints.aside_position"
                            btn-radio="'right'"
                            type="button")
          %span.icon-double-angle-right

    .section
      .btn-link(  cs-require-confirm
                  message="Are you sure you want to delete this step?"
                  action="removeStep($index)")
        %span.icon-trash
        Delete step


