%csEditPair#title-edit-pair

  %csEditPairShow
    %h1.activity-title(ng-bind-html-unsafe="activity.title || (editMode && 'Add title...')" itemprop='name' ng-class="disableIf(! activity.title.length)")
    -creator = @activity.creator
    -if  creator|| @activity.source_activity_id
      %h5.no-bold
      -if creator
        By
        -if creator.image_id?
          .profile-image
            = image_tag filepicker_square_image(creator.image_id, 30)
        = link_to creator.name, user_profile_path(creator)

      -if @activity.source_activity_id
        -if @activity.creator
          &middot;
        {{sourceActivityTypeString()}}
        = link_to @activity.source_activity.title, activity_path(@activity.source_activity)

  %csEditPairEdit
    %textarea.nohtml(name="title" rows=2 data-ng-model="activity.title" placeholder="Add title..." required="true")
    -if @activity.source_activity_id
      %h5.no-bold
        %select.unit(type="text" ng-model="activity.source_type" required="true" ng-options="s.id as s.name for s in sourceActivityTypes")
        = link_to @activity.source_activity.title, activity_path(@activity.source_activity)