.flex-title-item(ng-if="editMode")
  %h5 Title
.flex-title-item
  %h1.content-activity-title.section-tiny(ng-model="activity.title" cs-contenteditable = "editMode" placeholder="'Title this masterpiece'" ng-if="showTitle()" itemprop="name")

-if @activity
  .flex-title-item
    %csEditPair.section-tiny#title-edit-pair
      %csEditPairShow

        -creator = @activity.user
        -if  creator|| @activity.source_activity_id
          %h5.no-bold
          -if creator
            By
            -if creator.image_id?
              .profile-image
                = image_tag filepicker_square_image(creator.image_id, 30)
            = link_to creator.name, user_profile_path(creator)

          -if @activity.source_activity_id
            -if @activity.user
              &middot;
            {{sourceActivityTypeString()}}
            = link_to @activity.source_activity.title, activity_path(@activity.source_activity)

      %csEditPairEdit
        -if @activity.source_activity_id
          %h5.no-bold
            %select.unit(type="text" ng-model="activity.source_type" required="true" ng-options="s.id as s.name for s in sourceActivityTypes")
            = link_to @activity.source_activity.title, activity_path(@activity.source_activity)