%ul.no-bullet.tools-list(ng-controller="SocialButtonsController")

  %li(  ng-cloak
        ng-if="csAuthentication.loggedIn()"
        ng-controller='LikesController' 
        ng-click='toggleLikeObject("Activity", activity.id)' 
        ng-init='getCurrentUserLikes("Activity", activity.id)')
    .icon-holder
      %i.icon-heart-empty(ng-if="!current_user_likes")
      %i.icon-heart(ng-if="current_user_likes")
    .inline(  ng-pluralize 
            count='activity.likes_count || 0' 
            when="  { '0' : 'Be the first to like', '1' : '1 Like', 'other' : '{} Likes'}")


  %li
    %a(href='#discussion')
      .icon-holder
        %i.icon-comment
      .inline(  href="#discussion"
                ng-pluralize 
                count='commentCount' 
                when="  { '-1' : 'Comments', '0' : 'Be the first to comment!', '1' : '1 Comment', 'other' : '{} Comments'}")  

  %li
    %a(href='#user-creations')
      .icon-holder
        %i.icon-picture
      .inline(  ng-pluralize 
                count='activity.upload_count' 
                when="  {'0' : 'Add your creation', '1' : '1 User creation', 'other' : '{} User creations'}")  

  %li(onclick="window.print()")
    .icon-holder
      %i.icon-print
    .inline
      Print

  %li(ng-click="shareEmail()")
    .icon-holder
      %i.icon-envelope-alt
    .inline
      Email

  -if can?(:update, @activity) && @include_edit_toolbar
    %li(  ng-click="maybeStartEditMode()" 
          tooltip="Edit this recipe" 
          tooltip-placement="left")
      .icon-holder
        %i.icon-edit
      .inline
        Edit

  -if can?(:update, Activity) && @include_edit_toolbar
    %li(  ng-show="hasActivityType('Recipe')"
          ng-click="fork()" 
          tooltip="Edit a copy of this recipe" 
          tooltip-placement="left")
      .icon-holder
        %i.icon-code-fork
      .inline
        Fork this recipe



