%div(collapse="editMode")
  - if ! @minimal
    .pull-left
      .btn.btn-secondary{onclick: 'window.print()'}
        Print
      .btn.btn-secondary#show-all
        Show All
        %i.icon-picture#show-all-icon
    -if can? :update, @activity && @include_edit_toolbar
      .pull-right(style="margin-left: 20px;")

        %button#edit-mode.btn.btn-primary(type='button' ng-click="maybeStartEditMode()" tooltip="Edit this recipe" tooltip-placement="left")
          Edit
        %button#edit-mode.btn.btn-primary(type='button' ng-click="fork()" tooltip="Edit a copy of this recipe" tooltip-placement="left")
          Fork

%div.pull-right(collapse="!editMode")
  .btn-toolbar
    .btn-group
      %button#edit-undo.btn.btn-secondary(ng-click="undo()" ng-disabled="! undoAvailable()"){type: 'button'}
        %i.icon-undo
        Undo
      %button#edit-redo.btn.btn-secondary(ng-click="redo()" ng-disabled="! redoAvailable()"){type: 'button'}
        Redo
        %i.icon-repeat
