%div(collapse="editMode")
  - if ! @minimal
    .pull-left.display-inline-fix
      - if @course
        .btn-circle{data: {toggle: 'modal', target: '#syllabus-modal'}}
          %i.icon-file-alt
        - prev_activity = @course.prev_published_activity(@activity)
        - next_activity = @course.next_published_activity(@activity)
        - if prev_activity
          = link_to course_activity_path(@course, prev_activity), class: 'btn-circle' do
            %i.icon-chevron-left
        - if next_activity
          = link_to course_activity_path(@course, next_activity), class: 'btn-circle' do
            %i.icon-chevron-right
      .btn-circle#show-all
        %i.icon-resize-full#show-all-icon
      .btn-circle{onclick: 'window.print()'}
        %i.icon-print
    -if admin_user_signed_in? && @include_edit_toolbar
      .pull-right(style="margin-left: 20px;")

        %button#edit-mode.btn.btn-primary(type='button' ng-click="startEditMode()" tooltip="Edit this recipe" tooltip-placement="left")
          Edit
        %button#edit-mode.btn.btn-primary(type='button' ng-click="fork()" tooltip="Edit a copy of this recipe" tooltip-placement="left")
          Fork

    .pull-right.display-inline-fix
      = render 'layouts/social_buttons', media_object: @activity

%div.pull-right(collapse="!editMode")
  .btn-toolbar
    .btn-group
      %button#edit-undo.btn.btn-secondary(ng-click="undo()" ng-disabled="! undoAvailable()"){type: 'button'}
        %i.icon-undo
        Undo
      %button#edit-redo.btn.btn-secondary(ng-click="redo()" ng-disabled="! redoAvailable()"){type: 'button'}
        Redo
        %i.icon-repeat
