%div.section.anim-basic-fade(ng-show="! editMode")
  - if ! @minimal
    .pull-right(style="margin-left: 20px;")
      .btn.btn-secondary{onclick: 'window.print()'}
        Print

      -if can?(:update, @activity) && @include_edit_toolbar
        .btn.btn-secondary(ng-click="maybeStartEditMode()" tooltip="Edit this recipe" tooltip-placement="left")
          Edit

      -if can?(:update, Activity) && @include_edit_toolbar
        .btn.btn-secondary(ng-click="fork()" tooltip="Edit a copy of this recipe" tooltip-placement="left")
          Fork

%div.pull-right.anim-basic-fade(ng-show="editMode")
  .btn-toolbar
    .btn-group
      .btn.btn-secondary(type="button" ng-click="undo()" ng-disabled="! undoAvailable()")
        %i.icon-undo
        Undo
      .btn.btn-secondary(type="button" ng-click="redo()" ng-disabled="! redoAvailable()")
        Redo
        %i.icon-repeat
