.row.step
  .span6
    %h3 Step #{count} - #{step.title}
    %p
      Helvetica non irony, aliqua etsy retro viral sint street art brunch.
      Austin you probably haven't heard of them leggings in, craft beer
      gentrify thundercats messenger bag pinterest umami brooklyn marfa
      food truck. Eu wes anderson you probably haven't heard of them,
      four loko flexitarian laborum mollit adipisicing brooklyn trust
      fund pitchfork dolor bicycle rights cillum.  Next level street art
      brooklyn dolore delectus, eu exercitation you probably haven't
      heard of them mcsweeney's ethical swag polaroid post-ironic elit.
  .span6
    .video-container
      %iframe{:src => step.video}

