.container.top-container
  .row
    .span12
      %h1= @course.title + ' Course'
  .row
    .span12
      %ul.nav.nav-pills
        - @course.activity_modules.each do |activity_module|
          %li
            = link_to activity_module.title, '#'
                
.container
  .row
    .span2
      %ul
        %li some list
        %li some list item
    .span10
      .container-fluid
        .row-fluid
          = render 'main_activity_content', activity: @activity