//$('#all-pages').fadeOut('fast', function() { $(this).html("#{j render :partial => 'pages_thumbnail_list'}").fadeIn()})
$('.activity-description-wrapper').fadeOut('fast', function() { $(this).html("#{j render :partial => 'edit_description'}").fadeIn()})
