$('.wysiwyg-active').fadeOut('fast', function() { $(this).html("#{j render partial: 'show_' + partial_name}").fadeIn()})
$('.wysiwyg-active').promise().done(function() { wysiwygDeactivatedCallback('.wysiwyg-active') })

