sel = '*[data-edit_id="' + "#{j edit_id}" + '"]'
elem = $(sel).get()
$(elem).fadeOut('fast', function() { $(this).html("#{j render :partial => 'edit_' + partial_name}").fadeIn()})
$(elem).promise().done(function() { wysiwygActivatedCallback(elem) })
