$('.wysiwyg-available').fadeOut('fast', function() { $(this).html("#{j render :partial => 'edit_description'}").fadeIn()})
$('.wysiwyg-available').removeClass('.wysiwyg-available').addClass('.wysiwyg-active')
