$('.wysiwyg-available').fadeOut('fast', function() { $(this).html("#{j render :partial => 'edit_' + partial_name}").fadeIn()})
$('.wysiwyg-available').removeClass('wysiwyg-available').addClass('wysiwyg-active')
