.row
  .span12
    %h2 Intro To Sous Vide

.row
  .span6
    %h3 Ingredients
    %ul.unstyled
      %li Egg
      %li Milk
      %li Cheese
      %li Other stuff

  .span6
    %h3 Equipment
    %ul.unstyled
      %li Pan
      %li Fork
      %li Stove

- 5.times do
  .row
    .span4.video-container
      %iframe{:src => 'http://www.youtube.com/embed/ydOB-YNJ8Jw'}

    .span8
      .row
        .span8
          %h3 Step 1
      .row
        .span4
          %h4 Ingredient
          %ul.unstyled
            %li Egg
            %li Milk
          %h4 Weight
          %ul.unstyled
            %li 1 gram
            %li 1 ounce
        .span4
          %p
            Brunch next level polaroid velit organic, PBR sunt proident artisan.
            Polaroid umami locavore, aesthetic pop-up sed dolore nihil butcher nulla.
            Dolore tofu artisan tattooed vegan. Magna high life occaecat,

.row
  .span12
    %h3 Step 5 - Become One with the Egg
  .row
    .span4
      %h4 Ingredient
      %ul.unstyled
        %li Egg
        %li Milk
    .span4
      %h4 Weight
      %ul.unstyled
        %li 1 gram
        %li 1 ounce
    .span4
      %p
        Brunch next level polaroid velit organic, PBR sunt proident artisan.
        Polaroid umami locavore, aesthetic pop-up sed dolore nihil butcher nulla.
        Dolore tofu artisan tattooed vegan. Magna high life occaecat,

