= render 'courses/title_bar'

- if activity.has_video?
  .row
    .span12
      .video-container
        %iframe{:src => activity.video_url }

- activity.steps.each_with_index do |step, i|
  - if step.has_video?
    = render 'video_step', step: step, count: i+1
  - else
    = render 'step', step: step, count: i+1
.row
  .span12
    = render 'layouts/disqus_comments', id: activity.id

