.stream-item-header
  .stream-item-header-user
    - if media_object.respond_to?(:user) && media_object.user
      = link_to user_profile_path(media_object.user) do
        = image_tag filepicker_circle_image(media_object.user.image_id)
        %h4= media_object.user.name
  .stream-item-header-title
    %h3= media_object.title