#privacy
  %h4 CHEFSTEPS PRIVACY POLICY
  %p Last Updated: 7/17/2018
  %p
    This Privacy Policy explains how information about you is collected, used and disclosed by ChefSteps, Inc. (“ChefSteps,” “we,” or “us”) when you access or use our website and mobile applications, our connected cooking products such as the Joule, and our other products and services (collectively, the “Services”), or when you otherwise interact with us.
  %p
    We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice such as adding a statement to our homepage or sending you a notification through our Services. We encourage you to review the Privacy Policy whenever you access our Services or otherwise interact with us to stay informed about our information practices and the choices available to you.
  %h3 Collection of Information
  %h4 Information You Provide to Us
  %p
    We collect information that you provide directly to us. For example, we collect information when you create an account, make a purchase, enroll in our classes, participate in the interactive areas of our Services, communicate with us via third-party social media sites, participate in our contests, promotions, sweepstakes and surveys, request customer support, or otherwise communicate with us. The types of information we collect include your name, email address, phone number, billing address, shipping address, information you store on our Services, photographs, social media usernames, and any other information you choose to provide.
  %h4 Information We Collect Automatically
  %p 
    When you access or use our Services, we automatically collect information about you and associate it with information that you provide directly to us. For example, we collect:
  %p
    %strong> Transaction Information:
    When you make a purchase or a return, we collect information about the transaction, such as the class or product details, the transaction amount and the date of the purchase/return. Note that we do not collect or store payment card information, such as credit card numbers. For more information about how that information is collected, processed and stored, please refer to our payment processor’s
    = succeed "." do
      %a{:href => "https://stripe.com/us/privacy/"} privacy policy and terms
  %p
    %strong> Website Log Information:
    We log information about your use of our website, such as your computer’s operating system, the type of browser you use, access times, pages viewed, your IP address and the web page that referred you to our site.
  %p
    %strong> Information Collected in Connection with Joule:
    When you first pair your Joule to our mobile application, Joule will automatically link to your ChefSteps account. For information about de-linking your Joule from your ChefSteps account, please see “Your Choices” below. When you connect Joule to a Wi-Fi network, we collect information about the network (such as name and connection strength). We collect information about your use of Joule, including what and how you cook, as well as your cooking and recipe preferences. We also collect data from Joule’s sensors and components, such as total motor revolutions, atmospheric pressure, and bath temperature. Some technical and usage information is also saved on Joule. Please see “Use of Information” below to understand how we use this data.
  %p
    %strong> Device Information:
    When you access or use our mobile sites or apps, we collect information about the mobile phone, tablet or other device you are using, including the hardware model, operating system and version, device identifiers, mobile network information and information about your use of our Services. When you connect the Joule to our mobile app via Wi-Fi, we also collect information about the devices that you use to control Joule.
  %p
    %strong> Location Information:
    With your consent, we collect information about your location when you access or use one of our mobile applications, such as to enable the mobile application to communicate with your Joule. For more details about the collection of location information and the choices you have, please see “Your Choices” below.
  %p
    %strong> Information Collected by Cookies and Other Tracking Technologies:
    We and our service providers use various technologies, including cookies and web beacons, to collect information about you when you interact with our Services or emails, including information about your browsing and purchasing behavior. Cookies are small data files stored on your hard drive or in device memory that help us improve our website and your experience, see which areas and features of our website are popular, and count visits. Web beacons are electronic images that we use on our website and in our emails that help us deliver cookies, count visits and understand usage and campaign effectiveness. For more information about cookies, and how to disable them, please see our 
    %a{:href => "https://www.chefsteps.com/cookie-policy"} Cookie Policy
    and visit
    %a{:href => "http://www.aboutcookies.org"} www.aboutcookies.org
  %h4 Information We Collect From Other Sources
  %p
    We also receive information about you from other sources and link or combine that with information we collect about you. For example, if you create or log into your ChefSteps account through a social media site or if you associate your social media account with your ChefSteps account, we will have access to certain information from that site, such as your name, account information and friends lists, in accordance with the authorization procedures determined by such social media site.
    %a{:name => "use-of-information"}>
  %h4 Use of Information
  %p 
    We use information about you for various purposes related to the Services we are providing to you, including to:
  %p 
    Provide and deliver the Services you request, process transactions, and send you related information, including confirmations and receipts;
  %p 
    Maintain and improve our Services (for example, we use Joule diagnostic data to help us understand how Joule is used and check that components are performing to specification);
  %p 
    Send you technical notices, updates, security alerts, and support and administrative messages;
  %p 
    Respond to your comments, questions and requests, and provide customer service (for example, information about your Wi-Fi network is used to troubleshoot any connectivity issues you report when you use Joule);
  %p
    Communicate with you about products, services, classes, recipes, offers, promotions, events and other news and information we think will be of interest to you (for information about opting out of these communications, see “Your Choices” below);
  %p 
    Monitor and analyze trends, usage and activities in connection with our Services;
  %p 
    Detect, investigate and prevent fraudulent transactions and other illegal activities, and protect the rights, property and safety of ChefSteps and others;
  %p 
    Personalize and improve our Services and provide tailored advertisements, content or features to you (for example, information about your use of Joule is used to send you personalized recipe recommendations);
  %p 
    Facilitate contests, sweepstakes and promotions, and process and deliver entries and rewards; and
  %p 
    Link or combine with information we get from others to help understand your needs and provide you with better service.
  %h4
    %a{:name => "sharing-info"}>
  %h4 Sharing of Information
  %p 
    We share information about you as follows or as otherwise described in this Privacy Policy, including in the following circumstances:
  %p 
    With third-party vendors, consultants and other service providers who need access to such information to carry out work on our behalf;
  %p 
    When you purchase third-party products through us, we share information with the suppliers of such products in order to fulfill your order;
  %p
    If you connect third-party devices and services to your ChefSteps account or our Services, such as when you choose to interface Joule or our mobile application with Amazon Alexa, your information will be shared with such third parties per your direction and with your consent;
  %p 
    When you sign up for and participate in the interactive areas of our Services, certain information about you will be displayed publicly, such as your name, photos, recipes, and any other information you choose to provide;
  %p 
    In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation or legal process;
  %p 
    If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property and safety of ChefSteps or others;
  %p 
    In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company; and
  %p 
    With your consent or at your direction.
  %p 
    We also share aggregated or de-identified information with third parties.
  %h4 Social Sharing Features
  %p
    Our Services offer social sharing features and other integrated tools (such as the Facebook “Like” button). Your use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the entity that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the entities that provide these features.
  %h4
    Advertising and Analytics Services Provided by Others
    %a#_cp_text_1_86
  %p
    We allow others to serve advertisements on our behalf across the Internet and to provide analytics services. These entities use cookies, web beacons and other technologies to collect information about your use of the Services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information is used by ChefSteps and others to, among other things, analyze and track data, determine the popularity of certain content, deliver advertising and content targeted to your interests on our Services and other websites, and better understand your online activity. For more information about interest-based ads, or to opt out of having your web browsing information used for behavioral advertising purposes, please visit 
    %a{:href => "http://www.aboutads.info/choices", :target => "_blank"} www.aboutads.info/choices
    or, if you are in the European Union, you may visit 
    %a{:href => "http://www.youronlinechoices.eu/", :target => "_blank"} http://www.youronlinechoices.eu/.
  %p
    We also work with third-party social platforms, such as Facebook, to serve ads to you as part of a customized campaign.
  %h4 Cross-Border Transfers of Information; Privacy Shield
  %p
    By accessing or using our Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the United States and other countries, where you may not have the same rights as you do under local law. Where this is the case, we will take appropriate measures to protect information about you in accordance with this Privacy Policy.
  %p
    We comply with the EU-U.S. and Swiss-U.S. Privacy Shield Frameworks (collectively, the “Privacy Shield”) with respect to personal data we collect from the EU and Switzerland and transfer to the United States. For more information about the Privacy Shield, and to view our certification, please visit https://www.privacyshield.gov. We remain responsible and liable under the Privacy Shield for any personal data that we share with third parties for external processing on our behalf, as described in the “Sharing of Information” section above, unless we prove we are not responsible for the event giving rise to the damage. If you have an inquiry regarding our adherence to the Privacy Shield, we encourage you to contact us at 
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com. 
    You may also refer your complaint free-of-charge to JAMS, our designated Privacy Shield dispute resolution provider: 
    %a{:href => "https://www.jamsadr.com/eu-us-privacy-shield"} https://www.jamsadr.com/eu-us-privacy-shield. 
    In certain circumstances, the Privacy Shield provides the right to invoke binding arbitration to resolve complaints (see Annex I to the Privacy Shield Principles for more details). We are subject to the investigatory and enforcement authority of the U.S. Federal Trade Commission.

  %h3 Your Choices
  %h4 Account Information
  %p
    You have the ability to access information we hold about you and to update, correct or erase your account information at any time by logging into your ChefSteps account. Alternatively, you may contact us at 
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    and request information we have about you or request that we update, correct or erase information that we have about you, but note that we may require you to provide additional information to confirm your identity. You may also have the right under applicable data protection law to oppose the processing of your information for legitimate purposes, limit the use and disclosure of your information and revoke the consent you have provided for its processing. If you want to exercise any of these rights, please contact us at 
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com. 
    
  %h4 Joule
  %p 
    Once your Joule is paired with your ChefSteps account, you can de-link it at any time by disconnecting it via the settings on your mobile phone or tablet. Note, however, that Joule must be paired with a ChefSteps account in order to work properly, so if your Joule has been de-linked from an account, you will need to set it up using a new account in order to enjoy its features. 
  %h4 Location Information
  %p
    When you first launch some of our mobile applications, access certain features in those mobile applications, or visit one of the pages on our website that collects location information, you may be asked to consent to the collection of location information in order to enable certain features. If you initially consent to our collection of location information, you can later stop this collection by changing the settings on your device. If you do so, certain features of our Services will no longer function. 
  %h4 Promotional Communications from ChefSteps
  %p
    You may opt out of receiving promotional communications from us at any time by following the instructions in those communications. Even if you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.
  %h4 Mobile Push Notifications/Alerts
  %p 
    With your consent, we will send promotional and non-promotional push notifications or alerts to your mobile device. You can elect to stop receiving these messages at any time by changing the notification settings on your mobile device.
  
  %h3 Data Retention
  %p
    We store the information we collect about you for as long as is necessary for the purpose(s) for which we originally collected it, or for other legitimate business purposes, including to meet our legal, regulatory, or other compliance obligations.

  %h3 Additional Privacy Notice for Users in the EEA
  %p
    If you are in the European Economic Area (“EEA”), you have certain rights and protections under the law regarding the processing of your personal data.
  %h4 Legal Basis for Processing
  %p
    When we process your personal data, we will only do so in the following situations:
  %p 
    When we need to use your personal data to perform our responsibilities under our contract with you (e.g., processing payments for and providing the products or services you have requested). 
  %p
    When we have a legitimate interest in processing your personal data. For example, we process your personal data to communicate with you about changes to our Services, and to provide, secure, and improve our Services.
  %p
    When the processing is necessary for us to fulfill a legal obligation. 
  %p
    When we have your consent to do so.

  %h4 Data Subject Requests
  %p
    You have the right to access personal data we hold about you and to ask that your personal data be corrected, erased, or transferred.  You also have the right to object to, or request that we restrict, certain processing.  If our processing of your personal data is based on your consent, you have the right to withdraw your consent for future processing at any time. If you would like to exercise any of these rights, you can log into your account and edit certain account information or 
    %a{:href => "#contact-us", :target => "_self"} contact us. 

  %h4 Questions or Complaints
  %p
    If you have a concern about our processing of personal data that we are not able to resolve, you have the right to lodge a complaint with the data privacy authority where you reside.  If you are in the EEA and want to find contact details of your local Data Protection Authority, please see: 
    %a{:href => "http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm"} http://ec.europa.eu/justice/data-protection/article-29/structure/data-protection-authorities/index_en.htm.

    %a{:name => "contact-us"}
  %h4 Contact Us
  %p If you have any questions or comments about this Privacy Policy, please contact us at info@chefsteps.com or by writing to:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
