#privacy
  %h4 CHEFSTEPS Datenschutzgrundsätze
  %p Zuletzt aktualisiert: 13/10/2017
  %p
    Diese Datenschutzgrundsätze erklären, wie Informationen über Sie von ChefSteps, Inc. und unseren Tochtergesellschaften und anderen verbundenen Unternehmen (“ChefSteps”, “wir”, “uns”) gesammelt, genutzt und offengelegt werden, wenn Sie unsere Webseite,
    mobilen Applikationen oder sonstige Produkte und Leistungen (gemeinsam die ”Leistungen”) besuchen oder nutzen oder wenn Sie in sonstiger Weise mit uns interagieren.
  %p
    Wir können diese Datenschutzgrundsätze von Zeit zu Zeit ändern. Falls wir Änderungen vornehmen, werden wir Sie darüber informieren, indem wir das Datum, welches oben auf den Grundsätzen erscheint, ändern und in manchen Fällen können wir Ihnen eine zusätzliche
    Mitteilung machen, beispielsweise durch Veröffentlichung einer Erklärung auf unserer Homepage oder Übersendung einer Mitteilung durch unsere Leistungen. Wir empfehlen Ihnen, die Datenschutzgrundsätze zu prüfen, wenn Sie auf unsere Leistungen zugreifen
    oder in sonstiger Weise mit uns interagieren, damit Sie in Bezug auf unsere Informationspraktiken und die Wege, über die Sie zum Schutz Ihrer Privatsphäre beitragen können, stets informiert sind.
  %h3 Sammeln von Informationen
  %h4 Informationen, die Sie uns geben
  %p
    Wir sammeln Informationen, die Sie uns direkt liefern. Beispielsweise sammeln wir Informationen, wenn Sie ein Konto erstellen, einen Kauf vornehmen, sich in unseren Klassen anmelden, an den interaktiven Bereichen unserer Leistungen teilnehmen, mit uns
    durch soziale Medienseiten Dritter kommunizieren, an unseren Wettbewerben, Promotionen, Gewinnspielen und Umfragen teilnehmen, Kundendienstleistungen anfragen oder in sonstiger Weise mit uns kommunizieren. Zu der Art von Informationen, die wir sammeln,
    gehören Ihr Name, die Emailadresse, Telefonnummer, Rechnungsanschrift, Versandanschrift, die von Ihnen in unseren Leistungen gespeicherten Informationen, Fotos, Nutzernamen auf den sozialen Medien und jegliche und sonstige Informationen, die Sie angeben
    möchten.
  %h4 Informationen, die wir automatisch sammeln
  %p Wenn Sie auf unsere Leistungen zugreifen oder diese nutzen, sammeln wir automatisch Informationen über Sie und können diese mit anderen Informationen, die Sie uns direkt zur Verfügung stellen, verknüpfen. Beispielsweise können wir sammeln:
  %ul
    %li
      %strong> Transaktionsinformationen
      \: Im Falle eines Kaufs oder einer Rückgabe durch Sie sammeln wir Informationen über die Transaktion, beispielsweise Einzelheiten der Klasse oder des Produkts, den Transaktionsbetrag und das Datum des Kaufs/der
      Rückgabe. Bitte beachten Sie, dass wir keine Informationen über Zahlungskarten sammeln oder speichern, z.B. Kreditkartennummern. Für weitere Informationen darüber, wie diese Informationen gesammelt, verarbeitet und gespeichert werden, lesen Sie bitte
      die
      = succeed "." do
        %a{:href => "https://stripe.com/us/privacy/"} Datenschutzgrundsätze und Bestimmungen unseres Zahlungsverarbeiters
    %li
      %strong> Website-Loginformationen
      \: Wir erfassen Informationen über Ihre Nutzung unserer Webseite, beispielsweise das Betriebssystem Ihres Computers, die Art des von Ihnen verwendeten Browsers, Zugriffzeiten, besuchte Seiten, Ihre IP-Adresse
      und die Webseite, die sie auf unsere Seite weitergeleitet hat.
    %li
      %strong> Im Zusammenhang mit Joule gesammelte Informationen
      \: Wenn Sie erstmals Ihr Joule mit unseren Leistungen verknüpfen, verlinkt Joule Sie automatisch mit Ihrem ChefSteps-Konto. Für Informationen über das Entlinken Ihres Joule von Ihrem
      ChefStep-Konto sehen Sie bitte nachstehend ”Ihre Wahlmöglichkeiten”. Wenn Sie Joule mit einem Wi-Fi-Netzwerk verknüpfen, sammeln wir Informationen über das Netzwerk (beispielsweise Name und Verbindungsstärke). Wir sammeln Informationen über Ihre Nutzung
      von Joule, einschließlich was und wie Sie kochen sowie Ihre Koch- und Rezeptpräferenzen. Wir sammeln diagnostische Daten von den Sensoren und Komponenten von Joule, beispielsweise die Gesamtmotorumdrehungen, den atmosphärischen Druck und die Badtemperatur.
      Einige technische und Nutzungsinformationen werden auch auf Joule erfasst. Sehen Sie bitte nachstehend ”Nutzung von Informationen”, um zu verstehen, wie wir die Daten nutzen.
    %li
      %strong Mobiltelefon oder Tabletinformation:
      Wenn Sie unsere mobilen Seiten oder Apps besuchen oder nutzen, können wir Informationen über das Mobiltelefon oder Tablet sammeln, einschließlich des Hardwaremodells, des Betriebssystems und der
      Version, der Geräteidentifizierer, mobile Netzwerkinformationen und Informationen über Ihre Nutzung unserer mobilen Applikationen. Wenn Joule über Wi-Fi mit unseren Leistungen verbunden ist, so dass Sie Joule von mehreren Mobiltelefonen oder Tablets,
      die für Ihr ChefSteps-Konto angemeldet sind, aus steuern können, so sammeln wir zusätzlich Informationen über alle Mobiltelefone und Tablets, die Sie verwenden, um Joule zu steuern.
    %li
      %strong> Standortinformationen
      \: Wir können Informationen über Ihren Standort sammeln, wenn Sie eine unserer mobilen Applikationen besuchen oder nutzen oder in sonstiger Weise der Erfassung dieser Informationen zustimmen. Für weitere Einzelheiten
      über die Erfassung von Standortinformationen und die Einstellungen, die Sie wählen können, sehen Sie bitte nachstehend ”Ihre Wahlmöglichkeiten”.
    %li
      %strong> Durch Cookies und andere Tracking-Technologien gesammelte Informationen
      \: Wir und unsere Dienstleister nutzen verschiedene Technologien, einschließlich Cookies und Web Beacons, um Informationen über Sie zu sammeln, wenn Sie mit unseren
      Leistungen oder per Email interagieren, einschließlich Informationen über Ihr Browsing- und Kaufverhalten. Cookies sind kleine Dateien, die auf Ihrer Festplatte oder Ihrem Gerätespeicher abgespeichert werden und uns dabei helfen, unsere Webseite und
      Ihr Erlebnis zu verbessern, zu sehen welche Bereiche und Merkmale unserer Webseite beliebt sind und um Besucher zu zählen. Web Beacons sind elektronische Bilder, die auf unserer Webseite oder in unseren Emails verwendet werden können und dabei helfen,
      Cookies zu setzen, Besucher zu zählen und die Nutzung und Kampagneneffektivität zu verstehen. Für weitere Informationen über Cookies und wie sie deaktiviert werden, lesen Sie bitte unsere
      %a{:href => "https://www.chefsteps.com/cookie-policy"} Cookie-Grundsätze
      und besuchen Sie
      %a{:href => "http://www.aboutcookies.org/"} www.aboutcookies.org
      oder
      = succeed "." do
        %a{:href => "http://www.allaboutcookies.org/"} www.allaboutcookies.org
  %h4 Information, die wir aus anderen Quellen beziehen
  %p
    Wir können auch Informationen über Sie aus anderen Quellen erlangen und diese mit Informationen verlinken oder kombinieren, welche wir über Sie sammeln. Falls Sie beispielsweise Ihr ChepSteps-Konto durch ein soziales Medium anlegen oder einloggen oder
    Ihr soziales Media-Konto mit Ihrem ChefSteps-Konto verbinden, so haben wir Zugriff auf bestimmte Informationen von dieser Seite, beispielsweise Ihr Name, Kontoinformationen und Freundeslisten, jeweils nach Maßgabe der von dem betreffenden sozialen Medium
    bestimmten Genehmigungsverfahren.
  %h4
    %a{:name => "use-of-information"}>
    Nutzung von Informationen
  %p Wir können Informationen über Sie für verschiedene Zwecke in Bezug auf die Leistungen, die wir Ihnen gegenüber erbringen, nutzen, einschließlich folgender Zwecke:
  %ul
    %li
      Um unsere Leistungen zu erbringen, aufrechtzuerhalten und zu verbessern (beispielsweise nutzen wir diagnostische Daten von Joule, um uns dabei zu helfen zu verstehen, wie Joule genutzt wird, und zu überprüfen, dass Komponenten nach Maßgabe der Spezifikationen
      funktionieren);
    %li um die von Ihnen gewünschten Produkte und Leistungen zu erbringen und liefern, Transaktionen zu verarbeiten und Ihnen damit zusammenhängende Information zu übersenden, einschließlich Bestätigungen und Empfangsquittungen;
    %li um Ihnen technische Hinweise, Aktualisierungen, Sicherheitswarnungen und Unterstützungs- und administrative Mitteilungen zu schicken;
    %li um auf Ihre Kommentare, Fragen und Wünsche zu erwidern und Kundendienstleistungen zu erbringen (beispielsweise werden Informationen über Ihr Wi-Fi-Netzwerk dazu verwendet, Verbindungsprobleme bei der Nutzung von Joule, die Sie melden, zu lösen);
    %li
      um mit Ihnen über Produkte, Leistungen, Klassen, Rezepte, Angebote, Promotionen, Ereignisse und sonstige Nachrichten und Informationen, die für Sie von Interessse sein können, zu kommunizieren (beispielsweise werden Informationen über Ihre Nutzung von
      Joule dazu genutzt, Ihnen Merkmale wie die Kochgeschichte und Rezeptempfehlungen anzubieten);
    %li um Trends, allgemeine Nutzung und Tätigkeiten im Zusammenhang mit unseren Leistungen zu überwachen und analysieren;
    %li um betrügerische Transaktionen und sonstige rechtswidrigen Tätigkeiten aufzuspüren, zu untersuchen und zu verhindern und um die Rechte, das Eigentum und die Sicherheit von ChefSteps und anderen zu schützen;
    %li um unsere Leistungen zu personalisieren und zu verbessern und Ihnen maßgeschneiderte Werbung, Inhalte oder Merkmale zu liefern;
    %li um Wettbewerbe, Gewinnspiele und Promotionen zu erleichtern und Anmeldungen und Gewinne zu verarbeiten und liefern; und
    %li um Informationen, die wir von anderen erhalten, zu verlinken oder kombinieren, um Ihre Bedürfnisse besser zu verstehen und Ihnen einen besseren Service zu bieten.
  %h4
    %a{:name => "sharing-info"}>
    Teilen von Informationen
  %p Wir können Informationen über Sie wie folgt oder wie anderweitig in diesen Datenschutzgrundsätzen beschrieben teilen:
  %ul
    %li mit Drittverkäufern, Beratern oder sonstigen Dienstleistern, die Zugang zu solchen Informationen benötigen, um ihre Arbeit auszuführen;
    %li wenn Sie Produkte Dritter durch uns kaufen, können wir Informationen mit dem Lieferanten der Produkte teilen, um Ihren Auftrag zu erfüllen;
    %li
      wenn Sie Geräte und Leistungen Dritter mit Ihrem ChefSteps-Konto oder unseren Leistungen verbinden, beispielsweise wenn Sie Joule oder unsere mobile Applikation über eine Schnittstelle mit Amazon Alexa verbinden, können Ihre Informationen mit solchen
      Dritten nach Maßgabe Ihrer Weisungen und Zustimmung geteilt werden;
    %li
      wenn Sie sich für die interaktiven Bereiche unserer Leistungen anmelden und daran teilnehmen, können bestimmte Informationen über Sie öffentlich angezeigt werden, beispielsweise Ihr Name, Fotos, Rezepte und jegliche sonstigen Informationen, die Sie
      liefern;
    %li zur Beantwortung eines Informationsverlangens, wenn wir glauben, dass die Anforderung geltenden Rechtsverordnungen oder dem Rechtsweg entspricht oder danach erforderlich ist;
    %li falls wir glauben, dass Ihr Handeln mit unseren Nutzervereinbarungen oder Grundsätzen unvereinbar ist, oder um die Rechte, das Eigentum und die Sicherheit von ChefSteps oder anderen zu schützen;
    %li
      im Zusammenhang mit einer Fusion, dem Verkauf von Vermögensgegenständen der Gesellschaft, der Finanzierung oder dem Erwerb der Gesamtheit oder eines Teils unseres Geschäfts durch ein anderes Unternehmen, oder im Verlauf von Verhandlungen darüber; und
    %li mit Ihrer Zustimmung oder nach Ihrer Weisung.
  %p Wir können auch aggregierte oder de-identifizierte Informationen mit Dritten teilen.
  %h4 Soziales Teilen
  %p
    Unsere Leistungen können Merkmale des Social Sharing und sonstige integrierte Tools (wie den ”Like”-Button von Facebook) anbieten. Ihre Nutzung solcher Merkmale erlaubt die Teilung von Informationen mit Ihren Freunden oder der Öffentlichkeit, je nach
    den Einstellungen, die Sie für die Plattform, welche das Social Sharing anbietet, wählen. Für weitere Informationen über den Zweck und den Umfang der Datensammlung und Verarbeitung im Zusammenhang mit Social Sharing , besuchen Sie bitte die Seiten mit
    den Datenschutzgrundsätzen der Unternehmen, welche diese Merkmale anbieten.
  %h4
    %a#_cp_text_1_86>
    Von anderen erbrachte Werbe- und analytische Leistungen
  %p
    Wir können anderen erlauben, über das Internet für uns Werbung zu schalten und analytische Leistungen zu erbringen. Diese Unternehmen können Cookies, Web Beacons und andere Technologien nutzen, um Informationen über Ihre Nutzung der Leistungen und anderer
    Webseiten zu sammeln, einschließlich Ihrer IP-Adresse, Webbrowser, angesehene Seiten, auf Seiten verbrachte Zeit, angeklickte Links und Umwandlungsinformationen. Diese Informationen können von ChefSteps und anderen genutzt werden, u.a. um Daten zu analysieren
    und zu verfolgen, die Popularität bestimmter Inhalte festzustellen, auf Ihre Interessen zugeschnittene Werbung und Inhalte über unsere Leistungen und andere Webseiten zu liefern und Ihre Online-Tätigkeiten besser zu verstehen. Für weitere Informationen
    über Internet-basierte Werbung oder Ihre Entscheidung, Webbrowsinginformationen nicht für die Zwecke der verhaltensgesteuerten Werbeansprache nutzen zu lassen, besuchen Sie bitte
    %a{:href => "http://www.aboutads.info/choices"} www.aboutads.info/choices.
  %p
    Wir können auch mit fremden sozialen Plattformen zusammenarbeiten, beispielsweise Facebook, um Ihnen im Rahmen kundenspezifischer Kampagnen Werbung anzuzeigen, wenn Sie uns nicht mitteilen, dass Sie bevorzugen, keine Informationen über Sie in dieser Weise
    nutzen zu lassen, indem Sie das hier verfügbare Online-Formular ausfüllen.
  %h4 Sicherheit
  %p ChefSteps trifft angemessene Maßnahmen, um dabei zu helfen, Informationen über Sie aufgrund Verlusts, Diebstahls, Missbrauchs und unbefugten Zugriffs, Offenlegung, Änderung und Vernichtung zu schützen.
  %h4 Grenzüberschreitende Informationsübermittlung; Schutz der Privatsphäre
  %p
    Indem Sie auf unsere Leistungen zugreifen oder diese nutzen oder in sonstiger Weise Informationen liefern, stimmen Sie der Verarbeitung und Übermittlung der Informationen in die Vereinigten Staaten und andere Länder, wo Sie nicht dieselben Rechte wie
    nach örtlich geltendem Recht haben, zu. Wo dies der Fall ist, treffen wir angemessene Maßnahmen zum Schutz der Informationen über Sie nach Maßgabe dieser Datenschutzgrundsätze.
  %p
    Wir beachten das EU-U.S. und Schweizerisch-U.S. Datenschutzschild (gemeinsam das “Datenschutzschild”) in Bezug auf persönliche Daten, die wir aus der EU und der Schweiz sammeln und in die Vereinigten Staaten übermitteln. Für weitere Informationen über
    das Datenschutzschild und um unsere Zertifizierung zu sehen, besuchen Sie bitte die Webseite für das Datenschutzschild
    / [insert link to ChefSteps’ certification when available]
    \. Wir bleiben aufgrund des Datenschutzschildes für jegliche persönliche Daten,
    die wir mit Dritten zur externen Verarbeitung für uns gemäß Beschreibung in dem vorherigen Abschnitt über das ”Teileln von Informationen” teilen, verantwortlich und haftbar, außer soweit wir nachweisen, dass wir nicht für das Ereignis, welches zu dem
    Schaden führt, verantwortlich sind. Falls Sie eine Frage bezüglich unserer Beachtung des Datenschutzschildes haben, fordern wir Sie dazu auf, sich mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung zu setzen. Wir
    unterliegen der Untersuchungs- und Vollstreckungsbehörde der U.S. Federal Trade Commission. Sie können Ihre Beschwerde auch kostenfrei an JAMS, unserem benannten Datenschutzschild-Streitschlichter vorlegen. Unter bestimmten Umständen gewährt das Datenschutzschild
    das Recht, ein verbindliches Schiedsverfahren zur Regelung von Beschwerden einzuleiten (siehe Anlage 1 zu den Datenschutzschildgrundsätzen für weitere Einzelheiten).
  %h3 Ihre Wahlmöglichkeiten
  %h4 Kontoinformationen
  %p
    Wir speichern die Informationen, die wir über Sie sammeln, solange dies erforderlich ist, für die Zwecke, für die wir sie ursprünglich gesammelt haben, außer soweit geltendes Recht eine längere Aufbewahrungsfrist vorschreibt oder zulässt. Sie haben das
    Recht (ohne Kosten) auf Zugang zu Informationen, die wir über Sie halten, oder um Ihre persönlichen Daten zu aktualisieren, zu berichtigen oder zu löschen. Dies ist jederzeit möglich, indem Sie sich in Ihr ChefStep-Konto einloggen. Alternativ können
    Sie sich mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung setzen und Informationen, die wir über Sie haben, anfragen oder verlangen, dass wir Informationen, die wir über Sie haben, aktualisieren, berichtigen oder
    löschen, aber beachten Sie dabei, dass wir von Ihnen zusätzliche Informationen benötigen, um Ihre Identität zu bestätigen. Wenn Sie Ihr Konto deaktivieren möchten, können Sie sich mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung setzen, aber beachten Sie, dass wir bestimmte Informationen über Sie für unsere legitimen Geschäftszwecke oder aufgrund gesetzlicher Vorschriften aufbewahren. Wir können auch im Cache gespeicherte oder archivierte Kopien von Informationen
    über Sie für einen bestimmten Zeitraum aufbewahren.
  %h4 Joule
  %p Wenn Ihr Joule mit Ihrem ChefSteps-Konto gekoppelt ist, können Sie es abkoppeln, indem Sie die Verbindung durch die Einstellungen Ihres Mobiltelefons oder Tablets beenden.
  %h4 Standortinformationen
  %p
    Wenn Sie erstmals einige unserer mobilen Applikationen starten, erstmals auf bestimmte Merkmale in den mobilen Applikationen zugreifen oder eine der Seiten auf unserer Webseite, welche standortbezogene Informationen sammelt, besuchen, werden Sie dazu
    aufgefordert, der Sammlung standortbezogener Informationen zuzustimmen. Wenn Sie zunächst der Sammlung der standortbezogenen Informationen zustimmen, können Sie später dieses Sammeln beenden, indem Sie die Einstellungen in Ihrem Mobiltelefon, Tablet
    oder Internetbrowser ändern. Falls Sie dies tun, funktionieren bestimmte Merkmale unserer Leistungen nicht mehr, beispielsweise Angebote von Zutaten oder Produkten von Providern in Ihrer Nähe. Sie können das Sammeln standortbezogener Informationen durch
    unsere mobilen Applikationen auch beenden, indem Sie das Standard-Deinstallationsverfahren durchlaufen und die ChefSteps-Applikation(en) von Ihrem Mobiltelefon oder Tablet entfernen.
  %h4 Verkaufsfördernde Mitteilungen von ChefSteps
  %p
    Sie können den Erhalt verkaufsfördernder Mitteilungen von uns jederzeit beenden, indem Sie die Anweisungen in diesen Mitteilungen befolgen. Auch wenn Sie sich abmelden, können wir Ihnen immer noch nicht-verkaufsbezogene Mitteilungen schicken, beispielsweise
    über Ihr Konto oder über unsere fortlaufenden Geschäftsbeziehungen.
  %h4 Mobile Push-Benachrichtigungen/Warnungen
  %p Mit Ihrer Zustimmung können wir verkaufsfördernder und andere Push-Benachrichtigungen oder Warnungen an Ihr Mobilfunkgerät schicken. Sie können jederzeit diese Mitteilungen beenden, indem Sie die Benachrichtigungseinstellungen in Ihrem Mobilgerät ändern.
  %h4 Zusätzliche Datenschutzmitteilungen für Einwohner der EU und Mexiko
  %p
    Falls Sie in der EU oder Mexiko wohnhaft sind, handelt ChefSteps als ”Datenverantwortlicher” in Bezug auf Ihre persönlichen Daten und wir verarbeiten solche Daten mit Ihrer Zustimmung und/oder soweit notwendig, um unser Geschäft zu betreiben, unsere Leistungen
    an Sie zu erbringen, unsere vertraglichen und gesetzlichen Verpflichtungen zu erfüllen und in sonstiger Weise die legitimen Interessen zu verfolgen , die vorstehend unter
    %a{:href => "“#use-of-information\""} ”Nutzung von Informationen”
    und
    %a{:href => "“#sharing-info“"} “Teilen von Informationen”
    beschrieben sind. Wenn die Verarbeitung von persönlichen Daten auf Ihrer Zustimmung beruht, so haben Sie das Recht, jederzeit Ihre Zustimmung zu zukünftiger Verarbeitung zu widerrufen, indem Sie sich mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung setzen. Sie haben auch ein Recht, der Verarbeitung Ihrer persönlichen Daten zu widersprechen und bei der Aufsichtsbehörde des Landes, in dem Sie wohnhaft sind, eine Beschwerde einzureichen. Sie können sich auch mit uns unter
    %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
    in Verbindung setzen, um Ihr Recht, Ihre persönlichen Daten einzusehen, zu berichtigen, zu löschen, deren Verarbeitung einzuschränken oder sie zu übermitteln, auszuüben. Falls Sie Ihr Recht auf Löschung oder zum Widerspruch gegen die Verarbeitung Ihrer
    persönlichen Daten ausüben, so verstehen Sie, dass ChefSteps aufgrund Ihres Verlangens möglicherweises Ihre Nutzung der Leistungen nicht aufrechterhalten kann. Falls Sie nicht damit einverstanden sind, wie wir Ihre persönlichen Daten nutzen, oder nicht
    mit einer Entscheidung von uns in einer Antwort auf Ihr Verlangen, Ihre Datenschutzrechte auszuüben, einverstanden sind, können Sie bei Ihrer örtlichen Datenschutzbehörde eine formelle Beschwerde einreichen.
  %h4 Kontakt
  %p Falls Sie Fragen oder Anmerkungen zu diesen Datenschutzgrundsätzen haben, setzen Sie sich bitte unter info@chefsteps.com oder schriftlich mit uns in Verbindung:
  %p
    ChefSteps, Inc.
    %br>/
    Data Privacy Department
    %br>/
    1501 Pike Place, Suite 300
    %br>/
    Seattle, WA 98101
    %br>/
    U.S.A.
