%p
  %strong Sonderbestimmungen für Benutzer mit Wohnsitz in der Schweiz
%p
  Sollten Sie in der Schweiz wohnhaft und Ihnen die Dienstleistungen und/oder Produkte durch ChefSteps in der Schweiz angeboten worden sein, möchten wir Sie bitten, diese Sonderbedingungen für Benutzer mit Wohnsitz in der Schweiz («Sonderbestimmungen»)
  zur Kenntnis zu nehmen. Diese Sonderbestimmungen gelten neben, oder in einigen Fällen an Stelle bestimmter Bestimmungen der Benutzungs- und Verkaufsbedingungen. Begriffe in Kapitälchen, die nicht in diesen Sonderbestimmungen definiert werden, erhalten
  dieselbe Bedeutung wie jene, die ihnen in den Benutzungs- und Verkaufsbedingungen zugewiesen wird.
%p
  1.
  = succeed "." do
    %strong Retouren von und Erstattungen für direkt bei ChefSteps gekaufte Produkte
%ul
  %li Sie sind von Gesetzes wegen berechtigt, Ihre Bestellung innerhalb von 14 Tagen ab Auslieferung Ihres Produkts (an Sie oder an die Person, die Sie zur Annahme der Lieferung ermächtigt haben) ohne Angabe von Gründen zu widerrufen.
%p Bezieht sich Ihre Bestellung auf mehrere Produkte, beginnt die 14-Tages-Frist ab dem Zeitpunkt, an dem Sie (oder die Person, die Sie zur Annahme der Lieferung ermächtigt haben) das letzte, von Ihrer Bestellung umfasste Produkt erhalten.
%p
  Für die Ausübung Ihres Widerrufsrechts müssen Sie uns kontaktieren und eindeutig Ihre Entscheidung, den Kaufvertrag zu widerrufen, bekunden. Sie können dieses Recht ausüben, indem Sie auf dem Postweg, per E-Mail oder telefonisch (Kontaktangaben siehe
  unten) Kontakt zum Kundendienst aufnehmen.
%p Sie sind berechtigt, jedoch nicht verpflichtet, das folgende Widerrufs-Standardformular zu verwenden:
%p
  %strong Widerrufs-Standardformular
%p An: Kundendienst
ChefSteps, Inc.
%br/
Customer Service
%br/
1501 Pike Place, Suite 300
%br/
Seattle, WA 98101
%br/
U.S.A.
%p E-Mail-Adresse: info@chefsteps.com
%p Telefonnummer: (206) 905-1099
%p Ich/Wir(*) teile hiermit mit, dass ich/wir(*) von meinem/unseren(*) Kaufvertrag über die folgenden Waren(*)/über die Erbringung der folgenden Dienstleistung(*), die
%p am(*) bestellt/ am (*) empfangen wurde(n), zurücktreten möchte(n)
%p Name des/der Verbraucher(s):
%p Adresse des/der Verbraucher(s):
%p Unterschrift des/der Verbraucher(s) (nur, wenn dieses Formular in Papierformat mitgeteilt wird):
%p Datum:
%p (*) Bitte nicht Zutreffendes streichen
%p Nach Ausübung Ihres Rücktrittsrechts müssen Sie alle Produkte spätestens innerhalb von 14 Tagen ab dem Tag, an dem Sie uns Ihren Rücktritt mitgeteilt haben, an die folgende Adresse zurücksenden:
%p 
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Wir behalten uns das Recht vor, von dem Erstattungsbetrag allfällige Wertverluste der gelieferten Produkte in Abzug zu bringen, falls der jeweilige Wertverlust Ergebnis eines unnötigen Gebrauchs Ihrerseits ist – d.h. eines Gebrauchs, der über das hinausgeht,
  was für die Feststellung der Funktionsfähigkeit des Produkts notwendig wäre.
%p Wir werden die Erstattung unverzüglich, jedoch spätestens innerhalb von:
%ul
  %li 14 Tagen ab dem Tag, an dem wir alle gelieferten Produkte von Ihnen zurückerhalten haben, vornehmen; oder
  %li (sofern dieser Termin früher liegt) 14 Tagen ab dem Tag, an dem Sie uns einen Beweis für die Rücksendung der Produkte vorlegen; oder
  %li wenn keine Produkte geliefert wurden, 14 Tagen ab dem Tag, an dem Sie uns Ihre Widerrufsentscheidung mitgeteilt haben.
%p
  Die Kosten für die Rücksendung der Produkte gehen zu Ihren Lasten. Wir empfehlen Ihnen, die Produkte mittels Einschreiben zurückzusenden und sich einen Liefernachweis aushändigen zu lassen. Bitte verpacken Sie die Produkte sorgfältig, um sicherzustellen,
  dass diese in einwandfreiem Zustand bei uns eingehen.
%p
  Alle Erstattungen erfolgen anhand derselben Methode, die Sie bei Ihrem Kauf verwendet haben, sofern wir nicht etwas anderes vereinbart haben. Dies gilt auch für die Lieferkosten (mit Ausnahme der Zusatzkosten, die anfallen, wenn Sie eine andere Lieferart
  als die günstigste Standardliefermethode, die wir bei Abgabe der Bestellung angeboten haben, auswählen).
%p
  2.
  = succeed "." do
    %strong Regelung bei Wiederholungstätern; Urheberrechtliche Beschwerden
%ul
  %li
    Laut der EU-E-Commerce-Richtlinie 2000/31/EG gelten für eine ordnungsgemässe Mitteilung die folgenden Voraussetzungen: Schriftliche Mitteilung mit einer physischen oder elektronischen Unterschrift einer handlungsbefugten Person, Benennung des urheberrechtlich
    geschützten Werkes, das angeblich verletzt wurde, Angabe des Materials, das angeblich zur Verletzung geführt hat, hinreichende Informationen, anhand derer ChefSteps Sie kontaktieren kann (Adresse, Telefonnummer und E-Mail) und eine Erklärung, dass
    Sie nach Treu und Glauben davon ausgehen, dass die Verwendung des Materials nicht gestattet ist.
%p
  3.
  = succeed "." do
    %strong Haftungsausschlüsse
%ul
  %li MIT AUSNAHME VON VORSÄTZLICHEM ODER GROB FAHRLÄSSIGEM VERHALTEN UNSERERSEITS SCHLIESSEN WIR AUSDRÜCKLICH JEDWEDE HAFTUNG FÜR NACHTEILIGE FOLGEN IHRER VERWENDUNG ODER ANWENDUNG DER INFORMATIONEN, DIE SIE ÜBER DIE DIENSTLEISTUNGEN ERHALTEN HABEN, AUS.
%p
  4.
  = succeed "." do
    %strong Anwendbares Recht und Gerichtsstand
%ul
  %li
    Diese Bedingungen und Ihr Zugang zu und Ihre Verwendung der Produkte und Services werden im Einklang mit den Schweizer Gesetzen geregelt und ausgelegt. Verbraucher mit Wohnsitz in der Schweiz können alle zwingenden Bestimmungen der Gesetze des Landes,
    in dem Sie wohnhaft sind, in Anspruch nehmen. Der Inhalt dieser Bedingungen, einschliesslich von Abschnitt 18, tangiert nicht Ihr Recht als Schweizer Verbraucher, sich auf die zwingenden Bestimmungen des Landes, in dem Sie wohnhaft sind, zu berufen.
