%p
  %strong Dispositions spéciales applicables aux utilisateurs résidant en Suisse
%p
  Si vous résidez en Suisse et si les Services et/ou les Produits vous ont été proposés par ChefSteps en Suisse, veuillez lire les présentes Dispositions spéciales applicables aux utilisateurs résidant en Suisse («Dispositions spéciales»). Les présentes
  Dispositions spéciales s’appliquent en plus et, dans certains cas, en lieu place de certains articles des Conditions d’utilisation et de vente. Tous les termes avec une majuscule qui ne sont pas définis dans les présentes Dispositions spéciales ont
  le sens qui leur est attribué dans les Conditions d’utilisation et de vente.
%p
  1.
  = succeed "." do
    %strong Retour et remboursement pour les Produits achetés directement auprès de ChefSteps
%ul
  %li Vous avez le droit d’annuler votre commande sans indication de motif dans un délai de 14 jours à compter de la livraison (à vous-même ou à la personne que vous avez désignée pour réceptionner la livraison) du Produit que vous avez commandé.
%p Si votre commande porte sur plusieurs Produits, le délai de 14 jours commence à courir à compter de la date à laquelle vous (ou la personne que vous avez désignée pour réceptionner la livraison) avez reçu le dernier Produit de votre commande.
%p
  Afin de pouvoir exercer votre droit d’annulation, vous devez prendre contact avec nous et nous fournir une indication claire de votre décision de vous départir du contrat d’achat et de vente. Vous pouvez exercer ce droit en contactant le Service client
  par courrier, par e-mail ou par téléphone (les coordonnées figurent ci-dessous).
%p Vous pouvez utiliser le modèle de formulaire d’annulation ci-dessous mais n’êtes pas tenu de le faire:
%table
  %tr
    %td
      %p
        %strong Modèle de formulaire d’annulation
      %p À l’att.: Service client
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Adresse e-mail: info@chefsteps.com
      %p Numéro de téléphone: (206) 905-1099
      %p Je/nous(*) vous informe/informons par la présente que je/nous(*) annule/annulons mon/notre (*) contrat de vente portant sur les articles suivants(*)/sur la fourniture des services suivants(*) :
      %p Commandé(s) le(*) / reçu(s) le(*) :
      %p Nom du/des consommateur(s) :
      %p Adresse du/des consommateur(s) :
      %p Signature du consommateur (uniquement si le formulaire est envoyé sous format papier)
      %p Date :
      %p (*) Merci de supprimer si pas applicable
%p Après avoir exercé votre droit d'annulation, vous devez nous retourner tous les Produits à l’adresse suivante, au plus tard dans les 14 jours à compter de la date à laquelle vous nous avez notifié votre annulation:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Nous nous réservons le droit de déduire du montant du remboursement toutes les pertes de valeur subies par les Produits fournis, si la perte résulte d’une manipulation inutile de votre part, à savoir une manipulation allant au-delà de ce qui est nécessaire
  pour s'assurer du bon fonctionnement du Produit.
%p Nous procéderons au remboursement dans les meilleurs délais et au plus tard:
%ul
  %li 14 jours à compter de la réception des Produits livrés qui nous sont retournés par vos soins; ou
  %li (Si cette date est antérieure) 14 jours à compter de la fourniture par vos soins de la preuve que vous nous avez retourné les Produits; ou
  %li Si aucun Produit n’a été livré, 14 jours à compter de la date à laquelle nous avons été informés de votre décision d’annuler la commande.
%p
  Vous devez assumer les coûts de renvoi des Produits. Nous vous recommandons de nous retourner les Produits en envoi recommandé et d’obtenir la preuve de livraison. Nous vous prions de bien vouloir emballer les Produits avec soin pour garantir qu’ils nous
  parviennent en bon état.
%p
  Tous les remboursements seront effectués selon la même méthode de paiement que celle utilisée lors de votre achat, à moins d’en avoir convenu autrement, y compris les frais de livraison (à l’exception des frais supplémentaires résultant de votre choix
  d’un type de livraison autre que le type de livraison standard le moins coûteux proposé par nous lors du passage de votre commande).
%p
  2.
  = succeed "." do
    %strong
      Politique en cas de violation répétée (
      %em> Repeat Infringer Policy
      ); Réclamations en matière de droit d’auteur
%ul
  %li
    En vertu de la Directive européenne 2000/31/EC sur le commerce électronique, les exigences relatives à une notification en bonne et due forme sont: une communication écrite comportant une signature physique ou électronique d’une personne ayant le pouvoir
    de représentation, l’identification de l'œuvre protégée par le droit d’auteur dont la violation est revendiquée, l’identification du matériel violant prétendument ces droits, des informations suffisantes pour permettre à ChefSteps de vous contacter
    (adresse, numéro de téléphone et e-mail), ainsi qu’une déclaration selon laquelle vous estimez de bonne foi que l’utilisation du matériel en question n’est pas autorisée.
%p
  3.
  = succeed "." do
    %strong Clauses de non-responsabilité
%ul
  %li
    SOUS RÉSERVE D’UN COMPORTEMENT DE NOTRE PART ASSIMILABLE À UNE FAUTE INTENTIONNELLE OU À UNE NÉGLIGENCE GRAVE, NOUS DÉCLINONS EXPRESSÉMENT TOUTE RESPONSABILITÉ POUR TOUTE INCIDENCE NÉGATIVE POUVANT RÉSULTER DE L’UTILISATION OU DE L’APPLICATION DE VOTRE
    PART DES INFORMATIONS FOURNIES PAR LE BIAIS DES SERVICES.
%p
  4.
  = succeed "." do
    %strong Droit applicable et for
%ul
  %li
    Les présentes Conditions et votre accès aux Produits ainsi que votre utilisation de ceux-ci sont régis, interprétés et exécutés conformément au droit suisse. Les consommateurs résidants en Suisse bénéficient de toutes les dispositions impératives du
    droit de la juridiction dans laquelle ils résident. Aucune disposition dans les présentes Conditions, y compris l’Article 18, n’affecte votre droit de consommateur suisse de vous fonder sur les dispositions impératives du droit de la juridiction dans
    laquelle vous résidez.
