%p
  %strong Disposizioni speciali applicabili a utenti domiciliati in Svizzera
%p
  Se l’utente è domiciliato in Svizzera e se i Servizi e/o i Prodotti gli sono stati offerti da ChefSteps in Svizzera, è pregato di rivedere le presenti Disposizioni speciali applicabili a utenti domiciliati in Svizzera («Disposizioni Speciali»). Tali Disposizioni
  Speciali si applicano in aggiunta a o, in alcuni casi, al posto di determinate sezioni delle Condizioni d’uso e di vendita. Tutti i termini in maiuscolo non definiti nelle presenti Disposizioni Speciali hanno lo stesso significato ad essi attribuito
  nelle Condizioni d’uso e di vendita.
%p
  1.
  = succeed "." do
    %strong Resi e rimborsi per Prodotti acquistati direttamente da ChefSteps
%ul
  %li Avete il diritto legale di recedere dal proprio ordine senza motivo entro 14 giorni dalla consegna del Prodotto (all’utente o alla persona designata per accettare la consegna).
%p Se l’ordine è costituito da vari Prodotti, il periodo di 14 giorni incomincia a decorrere da quando l’utente (o la persona da questi designata per ricevere la consegna) riceve l’ultimo Prodotto incluso nell’ordine.
%p
  Per esercitare il proprio diritto di recesso, l’utente deve contattare ChefSteps e fornire una chiara indicazione della propria decisione di recedere dal contratto di acquisto e vendita. È possibile esercitare tale diritto contattando il Servizio Consumatori
  per posta, e-mail o telefonicamente (le informazioni di contatto sono esposte sotto).
%p È possibile servirsi del seguente modulo di annullamento, ma non è obbligatorio farlo:
%table
  %tr
    %td
      %p
        %strong Modulo di annullamento
      %p A: Servizio Consumatori
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Indirizzo e-mail: info@chefsteps.com
      %p Numero di telefono: (206) 905-1099
      %p Con la presente, segnalo/segnaliamo (*) che annullo/annulliamo il mio/nostro (*) contratto di vendita delle seguenti merci (*)/per la fornitura del seguente servizio(*):
      %p Ordinate(o) il (*) / ricevute(o) il(*):
      %p Nome completo del/dei consumatore(i):
      %p Indirizzo del/dei consumatore(i):
      %p Firma del consumatore (solo se il presente modulo è notificato in forma cartacea)
      %p Data:
      %p (*) Cancellare se non pertinente
%p Dopo aver esercitato il proprio diritto di recesso, occorre rendere tutti i Prodotti al seguente indirizzo entro e non oltre 14 giorni dalla data di notifica a ChefSteps del proprio recesso:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  ChefSteps si riserva il diritto di eseguire qualunque deduzione dal rimborso per qualsiasi perdita di valore di qualsiasi Prodotto fornito, qualora la perdita sia dovuta a una manipolazione superflua da parte dell’utente - vale a dire più di quanto sarebbe
  stato necessario per stabilire il funzionamento dei Prodotti.
%p Il rimborso verrà eseguito senza ingiustificato ritardo e non oltre:
%ul
  %li 14 giorni dalla data in cui ChefSteps riceve la restituzione da parte dell’utente dei Prodotti fornitigli; oppure
  %li (se antecedente) 14 giorni dalla data in cui l’utente fornisce a ChefSteps la prova di aver reso i Prodotti; oppure
  %li se non è stato fornito alcun Prodotto, 14 giorni dopo la data in cui ChefSteps è stata informata della decisione dell’utente di annullare l’ordine.
%p
  L’utente si assume i costi della restituzione dei Prodotti. ChefSteps raccomanda che i Prodotti vengano resi a mezzo raccomandata e ci si faccia rilasciare un accertamento di recapito. Si prega di imballare i Prodotti con cura per garantire che pervengano
  a ChefSteps in buone condizioni.
%p
  Tutti i rimborsi saranno eseguiti con la medesima modalità di pagamento adottata dall’utente durante l’acquisto, salvo diversi accordi, incluso il costo della consegna (a eccezione dei costi supplementari derivanti dalla scelta da parte dell’utente di
  un tipo di consegna diverso dal tipo di consegna standard più economico offerto da ChefSteps al momento del conferimento dell’ordine).
%p
  2.
  = succeed "." do
    %strong
      Politica per trasgressori recidivi (
      %em> Repeat Infringer Policy
      ); reclami relativi al diritto d’autore
%ul
  %li
    Ai sensi della Direttiva 2000/31/CE sul commercio elettronico nell’UE, i requisiti di una corretta notifica sono i seguenti: Comunicazione scritta con una firma fisica o elettronica di un soggetto autorizzato ad agire, identificazione dell’opera coperta
    da diritto d’autore che si ritiene sia stata violata, identificazione del materiale che si ritiene violi l’opera coperta da diritto d’autore, informazioni ragionevolmente sufficienti a permettere a ChefSteps di contattare l’utente (indirizzo, numero
    di telefono e e-mail) e una dichiarazione che l’utente ritenga in buona fede che l’uso del materiale non sia autorizzato.
%p
  3.
  = succeed "." do
    %strong Esoneri della responsabilità
%ul
  %li
    SALVO IN CASO DI CONDOTTA IMPUTABILE A DOLO O NEGLIGENZA GRAVE DI CHEFSTEPS, QUEST’ULTIMA DECLINA ESPRESSAMENTE LA PROPRIA RESPONSABILITÀ PER QUALUNQUE EFFETTO AVVERSO CHE POSSA DERIVARE DALL’USO O APPLICAZIONE DA PARTE DELL’UTENTE DI INFORMAZIONI FORNITE
    TRAMITE I SERVIZI.
%p
  4.
  = succeed "." do
    %strong Diritto applicabile e foro competente
%ul
  %li
    Le presenti Condizioni e l’accesso ai e l’uso dei Prodotti e dei Servizi da parte dell’utente sono disciplinati dal diritto svizzero e interpretati ed eseguiti conformemente allo stesso. I consumatori domiciliati in Svizzera beneficeranno di qualsiasi
    disposizione imperativa del diritto della giurisdizione in cui sono domiciliati. Nulla nelle presenti Condizioni, inclusa la sezione 18, intaccherà i diritti dell’utente in qualità di consumatore svizzero di avvalersi delle disposizioni imperative
    della giurisdizione in cui è domiciliato.
