%p
  %strong Særlige Bestemmelser gældende for brugere, der bor i Danmark
%p
  Hvis du er bosiddende i Danmark, og hvis Tjenesterne og/eller Produkterne er blevet tilbudt af ChefSteps til dig i Danmark, bedes du gennemgå disse særlige bestemmelser, der gælder for brugere bosiddende i Danmark ("Særlige Bestemmelser"). Disse Særlige
  Bestemmelser gælder ud over, og i nogle tilfælde i stedet for bestemte afsnit i Vilkår for Anvendelse og Salg. Alle termer med stort begyndelsesbogstav, som ikke er defineret i disse Særlige Bestemmelser, har den betydning, de har fået i Vilkårene for
  Anvendelse og Salg.
%p
  1.
  %strong Returnering og tilbagebetaling for produkter købt direkte fra ChefSteps
  I stedet for andet afsnit i punkt 4.5 gælder følgende tilføjelse:
%ul
  %li Du har en juridisk ret til at annullere din bestilling uden at angive en årsag inden for 14 dage efter levering af dit Produkt (enten til dig eller den person, du har udpeget til at acceptere leveringen).
%p Hvis din bestilling består af flere Produkter, løber 14-dages-perioden fra, når du (eller den person, du har udpeget til at modtage leveringen), modtager det sidste Produkt i din bestilling.
%p
  For at udøve din ret til at annullere din ordre, skal du kontakte os og give os en klar besked om din beslutning om at annullere købsaftalen. Du kan udøve denne ret ved at kontakte Kundeservice pr. post, e-mail eller telefon (kontaktoplysninger er anført
  nedenfor).
%p Du kan bruge den følgende afbestillingsskabelon, men det er ikke obligatorisk:
%table
  %tr
    %td
      %p
        %strong Annulleringsskabelon
      %p Til: Kundeservice
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p E-mailadresse: info@chefsteps.com
      %p Telefonnummer: (206) 905-1099
      %p Jeg/vi (*) meddeler herved, at jeg/vi (*) annullerer min/vores (*) købekontrakt vedrørende følgende varer (*)/vedrørende levering af følgende tjeneste (*),
      %p Bestilt den (*)/modtaget den (*)
      %p Forbrugerens/forbrugernes navn
      %p Forbrugerens/forbrugernes adresse
      %p Forbrugerens underskrift (kun hvis denne formular bruges i papirform)
      %p Dato
      %p (*) Slet det ikke relevante
%p Efter udøvelsen af din ret til at annullere, skal du returnere alle Produkter til følgende adresse senest 14 dage fra den dato, hvor du meddeler os, at du annullerer ordren eller købet:
%p [address to be inserted]
%p
  Vi forbeholder os retten til at foretage fradrag i tilbagebetalingen for eventuelle værditab i et leveret Produkt, hvis tabet er en følge af din unødvendige håndtering, dvs. mere end hvad der ville være nødvendigt for at fastslå Produkternes art, egenskaber
  eller funktion.
%p Vi foretager tilbagebetalingen uden ugrundet ophold, og senest:
%ul
  %li 14 dage efter den dato, hvor vi modtager leverede Produkter tilbage fra dig, eller
  %li (hvis dette tidspunkt ligger tidligere) 14 dage efter den dato, hvor du fremsender bevis for, at du har returneret Produkterne, eller
  %li hvis der ikke blev leveret Produkter, 14 dage efter den dato, hvor vi oplyses om din beslutning om at annullere bestillingen.
%p Du er ansvarlig for udgifterne til returnering af Produkterne. Vi anbefaler, at du returnerer Produkterne som anbefalet post og får bevis for levering. Du bedes emballere Produkterne omhyggeligt for at sikre, at de når frem til os i god tilstand.
%p
  Alle tilbagebetalinger foregår på samme betalingsmetode, du benyttede, da du foretog dit køb, medmindre vi har aftalt andet, herunder leveringsomkostningen (undtagen for yderligere omkostninger, der kan tilskrives dit valg af leveringstype, der er forskellig
  fra den billigste standardlevering, vi tilbyder, når du bestiller).
%p
  2.
  %strong Politik for gentagne tilfælde af krænkelser, klager over ophavsret
  I stedet for tredje afsnit i punkt 6 gælder følgende:
%ul
  %li
    I henhold til EU's Direktiv om elektronisk handel, 2000/31/EF, er kravene til en korrekt meddelelse: Skriftlig kommunikation med en fysisk eller elektronisk signatur fra en person, der er bemyndiget til at handle, identifikation af det copyrightbeskyttede
    arbejde, der påstås krænket, identifikation af det materiale, der påstås at være krænkende, oplysninger som er rimeligt tilstrækkelige til at tillade ChefSteps at kontakte dig (adresse, telefonnummer og e-mail), og en erklæring om, at du i god tro
    mener, at anvendelsen af materialet ikke er berettiget.
%p
  3.
  %strong Skadesløsholdelse
  I stedet for punkt 14 gælder følgende:
%ul
  %li
    I det af gældende lov videst muligt tilladte omfang accepterer du at skadesløsholde og forsvare og friholde ChefSteps og vores respektive tidligere, nuværende og fremtidige medarbejdere, ledende medarbejdere, bestyrelsesmedlemmer, konsulenter, aktionærer,
    leverandører, sælgere, tjenesteudbydere, moderselskaber, datterselskaber, tilknyttede selskaber, agenter, repræsentanter, forgængere, retsefterfølgere og adkomsterhververe (sammen med ChefSteps, ”ChefSteps Partnere”), for alle krav fra tredjeparter
    af enhver art, det være sig uden for kontrakt, inden for kontrakt eller i øvrigt (samlet ”Krav”), der udspringer af eller vedrører:
  %li din adgang til at bruge eller forkert brug af vores Produkter, Tjenester og Materialer,
  %li noget Brugerindhold, du skaber, lægger på, deler eller lagrer på eller via vores Tjenester eller vores sider eller tilfører på tredjeparts sociale mediers platforme,
  %li Feedback, som du giver,
  %li din overtrædelse af disse Vilkår,
  %li din overtrædelse af en tredjeparts rettigheder, eller
  %li brug eller forkert brug af Produkterne eller Tjenesterne tilhørende en tredjepart, du bemyndiger til at bruge de Produkter eller Tjenester, der er leveret til dig.
%p Denne skadesløsholdelsespligt omfatter betaling af ChefSteps' advokaters honorarer og andre udgifter til undersøgelse og forsvar af Krav, og udgifterne til at håndhæve pligten til skadesløsholdelse.
%p
  Du accepterer straks at give ChefSteps meddelelse om eventuelle Krav fra tredjeparter og samarbejde med ChefSteps' Partnere om forsvaret mod disse Krav. Du accepterer endvidere, at ChefSteps-partnerne skal kontrollere forsvaret af eller den forligsmæssige
  løsning på eventuelle Krav fra tredjeparter. Denne skadesløsholdelse er ud over, og ikke i stedet for, eventuel skadesløsholdelse anført i en skriftlig aftale mellem dig og ChefSteps.
%p
  4.
  %strong> Konfliktløsning, voldgift
  I stedet for punkt 18 gælder følgende:
%ul
  %li
    Forbrugere bosat i det europæiske økonomiske samarbejdsområde (”
    %strong> EØS
    ”), kan anlægge sag hvad angår disse Vilkår ved domstolene i det land, du bor i. EU-kommissionen giver også EØS-forbrugere en onlineplatform til konfliktløsning, som
    findes på følgende adresse:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  5
  %strong .  Lovvalg og værneting
  I stedet for punkt 19 gælder følgende:
%ul
  %li
    Uanset det foranstående kan forbrugere bosiddende i EØS have rettigheder i medfør af eventuelle ufravigelige bestemmelser i loven i det land, hvor du er bosiddende. Intet i disse Vilkår påvirker dine rettigheder som EØS-forbruger til at påberåbe dig
    ufravigelige bestemmelser i loven i det land, hvor du er bosiddende.
