%p
  %strong Suomessa asuviin käyttäjiin sovellettavat erityisehdot
%p
  Mikäli asut Suomessa ja/tai ChefStep Palveluja ja/tai tuotteita on tarjottu sinulle Suomessa, ole hyvä ja tutustu oheisiin Suomessa asuviin käyttäjiin sovellettaviin erityisehtoihin ("Erityisehdot"). Näitä Erityisehtoja sovelletaan Yleisten käyttö- ja
  myyntiehtojen lisäksi, taikka määrätyissä tapauksissa tietyiltä osin niiden sijasta. Suurella alkukirjaimella kirjoitetuille kapitalisoiduille termeille, joita ei ole erikseen määritelty Erityisehdoissa, annetaan niille Yleisissä käyttö- ja myyntiehdoissa
  määritelty merkitys.
%p
  1.
  %strong Palautukset ja hyvityksen koskien suoraan ChefStepiltä hankittuja tuotteita
%p Seuraavia ehtoja sovelletaan kohdan 4.5 toisen kappaleen sijasta:
%ul
  %li
    Voit peruuttaa tilauksesi ilman erityistä syytä viimeistään 14 päivän kuluessa Tuotteiden toimituksesta (sinulle tai nimeämällesi henkilölle). Mikäli toimitus koostuu useasta Tuotteesta, 14 päivän ajanjakso lasketaan viimeisen tilaukseesi sisältyvän
    Tuotteen vastaanottamisesta (sinun tai nimeämäsi henkilön toimesta).
%p Jos haluat peruuttaa tai palauttaa tilauksesi, ilmoita asiasta meille selkeästi ottamalla yhteyttä asiakaspalveluumme joko postitse, sähköpostilla tai puhelimitse (yhteystiedot alla).
%p Halutessasi voit käyttää oheista malliperuutuslomaketta:
%p
%table
  %tr
    %td
      %p
        %strong Malliperuutuslomake
      %p Vastaanottaja: Asiakaspalvelu
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Sähköposti: info@chefsteps.com
      %p Puhelinnumero: (206) 905-1099
      %p Ilmoitan peruuttavani tilaukseni / Ilmoitamme peruuttavamme tilauksemme(*) koskien seuraavia tuotteita/palveluja(*)
      %p Tilauspäivä (*) / Tilauksen vastaanottopäivä (*)
      %p Tilaajan nimi:
      %p Tilaajan osoite:
      %p Tilaajan allekirjoitus (vain, mikäli ilmoitus toimitetaan kirjeitse)
      %p Päiväys
      %p (*) Ole hyvä ja valitse soveltuva ehto
%p Kaikki Tuotteen tulee palauttaa viimeistään 14 päivän kuluessa palautusta koskevasta ilmoituksesta alla olevalla osoitteella:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Pidätämme oikeuden vähennyksiin hyvityssummasta toimitettujen tuotteiden arvon alentumisen perusteella, mikäli arvon alentuminen on seurausta tuotteen tarpeettomasta käsittelystä ennen palautusta (ts. muu kuin tuotteen toiminnan varmistamiseksi tarpeellinen
  käsittely).
%p Hyvitämme palautetut tuotteen ilman aiheetonta viivytystä, kuitenkin viimeistään
%ul
  %li 14 päivän kuluessa siitä, kun Palautetut tuotteet ovat saapuneet meille; tai
  %li 14 päivän kuluessa siitä, kun tuotteen on todisteellisesti palautettu (mikäli yllä mainittua aiemmin)
  %li Mikäli tuotteita ei ole toimitettu, 14 päivän kuluessa siitä päivästä, jona ilmoitus tilauksen peruuttamisesta on tehty.
%p
  Tilaaja vastaa palautuskustannuksista. Suosittelemme, että palautatte tuotteet lähetystunnuksella varustettuna ja säilytätte tositteen lähettämisestä. Tuotteet tulee pakata huolellisesti sen varmistamiseksi, että palautettavat tuotteet saapuvat meille
  hyväkuntoisina.
%p Kaikki hyvitykset, sisältäen toimituskustannukset (pois lukien tavanomaisesta toimitustavasta poikkeamisesta aiheutuvat lisäkulut), tehdään käyttäen samaa maksutapaa, jota tilausta tehtäessä on käytetty, mikäli toisin ei ole sovittu.
%p
  3.
  %strong Toistuvaa oikeudenloukkausta koskeva käytäntö; Tekijänoikeuskanteet
%p Kohdan 6 kolmannen kappaleen sijaan sovelletaan seuraavaa:
%ul
  %li Sähköisestä kaupankäynnistä annetun direktiivin (2000/31/EY) mukaan asianmukaiselle ilmoitukselle on täytettävä seuraavat kriteerit:
  %li
    Kirjallinen viesti, joka on allekirjoitettu fyysisesti tai sähköisesti toimivaltaisen henkilön toimesta, mahdollisen loukkauksen kohteena olevan tekijänoikeuden alaisen työn tunnistetiedot, tunnistetiedot aineistosta väitetyn loukkauksen kohteena, kohtuudella
    riittävät tiedot ChefStepin yhteydenottoa varten (osoite, puhelinnumero ja sähköpostiosoite) sekä vakuutus, että vilpittömässä mielessä uskotte aineiston käytön olevan luvatonta
%p
  4.
  %strong Riidanratkaisu: Välimiesmenettely
%p Kohdan 18 sijasta sovelletaan seuraavaa:
%ul
  %li
    Näihin Ehtoihin liittyvä riita voidaan saattaa Kuluttajariitalautakunnan ratkaistavaksi (
    %a{:href => "http://www.kuluttajariita.fi"}> www.kuluttajariita.fi
    ). Ennen riitaisuuden saattamista Kuluttajariitalautakunnan käsiteltäväksi sinun tulee olla yhteydessä
    kuluttajaneuvontaan (
    %a{:href => "http://www.kuluttajaneuvonta.fi"}> www.kuluttajaneuvonta.fi
    ). Euroopan talousalueella (ETA) asuvalla kuluttajalla on lisäksi oikeus nostaa näitä Ehtoja koskeva kanne asuinmaansa tuomioistuimessa. Euroopan komissio tarjoaa
    Euroopan talousalueen asukkaille verkkovälitteisen riidanratkaisun alustan, joka on löydettävissä osoitteesta
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
  %li
    Huomioittehan, ettei yrityksellä ole velvoitetta osallistua vaihtoehtoiseen riidanratkaisumenettelyyn Euroopan komission alustaa tai muuta kuluttajariitojen ratkaisutapaa käyttäen. Pidätämme oikeudet arvioida suostumuksen vaihtoehtoiseen riidanratkaisumenettelyyn
    tapauskohtaisesti.
%p
  5.
  %strong Sovellettava laki ja oikeuspaikka
%p Kohdan 19 loppuosaan sovelletaan seuraavin lisäyksin:
%ul
  %li
    Edellä esitetystä huolimatta ETA-alueella asuvaa kuluttajaa koskevaa oikeudenkäyttöalueen pakollinen lainsäädäntö soveltuu kuluttajan eduksi. Mikään Ehdoissa edellä esitetty ei rajoita oikeuksiasi ETA-alueen kuluttajana vedota kotipaikkasi lainsäädäntöön.
