%p
  %strong Special Provisions Applicable to Users Residing in the United Kingdom
%p
  If you reside in the United Kingdom and if the Services and/or Products were offered by ChefSteps to you in the United Kingdom, please review these Special Provisions Applicable to Users Residing in the United Kingdom (“
  %strong> Special Provisions
  ”).
  These Special Provisions apply in addition to, or in some cases in lieu of certain sections of, the Terms of Use and Sale. All capitalized terms not defined in these Special Provisions shall have the meaning given to them in the Terms of Use and Sale.
%p
  1.
  %strong Shipping; Risk of Loss.
  Instead of the third sentence of Section 4.4, the following applies:
%ul
  %li
    You agree to pay any shipping and handling charges shown at the time you make a purchase. We reserve the right to increase, decrease, add or eliminate shipping and handling charges from time to time, but we will provide notice of the charges applicable
    to you before you make your purchase. Products will be delivered to you as soon as reasonably possible and in any event within 30 days after the day on which we accept your order. Unless we state otherwise, risk of loss or damage to a Product passes
    to you upon delivery of the Product to you at your specified delivery location. If you have any questions or concerns regarding shipping, please contact us at
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  2.
  %strong Returns and Refunds for Products Purchased Directly from ChefSteps.
  At the end of the Section 4.5, the following applies:
%ul
  %li Rights Under the Consumer Contracts Regulations 2013.
%p You have a legal right to withdraw from your order without giving a reason within 14 days of delivery of your Product (either to you or to the person you have nominated to accept delivery).
%p If your order consists of multiple Products, the 14-day period will run from when you (or the person you have nominated to receive delivery) received the last Product within your order.
%p
  To exercise your right of withdrawal, you must contact us and provide a clear indication of your decision to withdraw from the purchase and sale contract. You may exercise this right by contacting Customer Service by post, email or phone (contact details
  are set out below).
%p You may use the following model cancellation form, but you are not required to do so:
%p
  %strong Model Cancellation Form
%p To: Customer Service
ChefSteps, Inc.
%br/
Customer Service
%br/
1501 Pike Place, Suite 300
%br/
Seattle, WA 98101
%br/
U.S.A.
%p E-mail address: info@chefsteps.com
%p Telephone number: (206) 905-1099
%p I/wWe(*) hereby give notice that I/We(*) cancel from my/our (*) contract of sale of the following goods(*)/for the provision of the following service(*):
%p Ordered on(*) / received on(*):
%p Name of consumer(s):
%p Address of consumer(s):
%p Signature of consumer (only if this form is notified on paper):
%p Date:
%p (*) Please delete if not applicable
%p After exercising your withdrawal right, you must return all Products to the following address not later than 14 days from the day on which you notify us of your withdrawal:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  We reserve the right to make any deductions from the reimbursement for any loss in value of any Products supplied if the loss is the result of unnecessary handling by you—i.e., more than would be necessary to establish the functioning of the Products.
%p We will make the reimbursement without undue delay, and not later than:
%ul
  %li 14 days after the day we receive back from you any Products supplied; or
  %li (if earlier) 14 days after the day you provide us with evidence that you have returned the Products; or
  %li if there were no Products supplied, 14 days after the day on which we are informed about your decision to cancel the order.
%p You are responsible for the costs of returning the Products. We recommend that you return the Products using registered mail and obtain proof of delivery. Please pack the Products carefully to ensure that they reach us in good condition.
%p
  All reimbursements will be applied to the same method of payment you used to make your purchase, unless we have agreed otherwise, and the reimbursement will include the cost of delivery (except for the supplementary costs arising if you chose a type of
  delivery other than the least expensive type of standard delivery offered by us when placing the order).
%p You do not have a right to a refund for any digital content that you have started to download or stream or for any food Products.
%p
  3.
  %strong Errors.
  Instead of Section 4.6, the following applies:
%ul
  %li
    We attempt to be as accurate as possible and to eliminate errors on our Services. However, in the event of an error, we reserve the right to correct such error and revise your order accordingly or to cancel the order and refund any amount charged. We
    are under a legal duty to supply goods that are in conformity with the contract. In the event of a material error (for example, a pricing error or one that might affect your enjoyment of the Product), we will contact you in advance so that you can
    decide whether you want to cancel or proceed with the order. If we accept and process your order where a pricing error is obvious and unmistakable and could reasonably have been recognized by you as a mispricing, we may end the contract, refund you
    any sums you have paid and require the return of any Products provided to you.
%p
  4.
  %strong Indemnification.
  Instead of Section 14, the following applies:
%ul
  %li
    To the fullest extent permitted by applicable law, you agree to indemnify, defend, and hold harmless ChefSteps from all third-party claims of any kind, whether in tort, contract or otherwise (collectively, "
    %strong> Claims
    "), including damages
    to property or personal injury, that arise from or relate to:
    %ul
      %li your access to or use or misuse of our Products, Services and Materials;
      %li any User Content you create, post, share or store on or through our Services or our pages or feeds on third-party social media platforms;
      %li any Feedback you provide;
      %li your violation of these Terms; or
      %li your violation of the rights of any third party.
%p
  You agree to promptly notify ChefSteps of any third-party Claims and cooperate with ChefSteps in defending such Claims. You further agree that the ChefSteps Parties shall have control of the defense or settlement of any third-party Claims. This indemnity
  is in addition to, and not in lieu of, any other indemnities set forth in a written agreement between you and ChefSteps.
%p
  5.
  %strong Disclaimers.
  Instead of the last paragraph of Section 15, the following applies:
%ul
  %li NOTHING IN THESE TERMS AFFECTS ANY LEGAL RIGHTS AND REMEDIES YOU HAVE UNDER STATUTE.
%p
  6.
  = succeed "." do
    %strong Limitation of Liability
%ul
  %li
    IF WE FAIL TO COMPLY WITH THESE TERMS, WE ARE RESPONSIBLE FOR LOSS OR DAMAGE YOU SUFFER THAT IS A FORESEEABLE RESULT OF OUR BREAKING THIS CONTRACT OR OUR FAILING TO USE REASONABLE CARE AND SKILL, BUT WE ARE NOT RESPONSIBLE FOR ANY LOSS OR DAMAGE THAT
    IS NOT FORESEEABLE. LOSS OR DAMAGE IS FORESEEABLE EITHER IF IT IS OBVIOUS THAT IT WILL HAPPEN OR IF, AT THE TIME THE CONTRACT WAS MADE, BOTH WE AND YOU KNEW IT MIGHT HAPPEN, FOR EXAMPLE, IF YOU DISCUSSED IT WITH US DURING THE SALES PROCESS. WE ONLY
    SUPPLY THE PRODUCTS FOR DOMESTIC AND PRIVATE USE. IF YOU USE THE PRODUCTS FOR ANY COMMERCIAL, BUSINESS OR RESALE PURPOSE WE WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY.
%p EXCEPT FOR THE LIABILITY SET OUT BELOW, WHICH WE DO NOT EXCLUDE OR LIMIT IN ANY WAY, OUR TOTAL LIABILITY TO YOU UNDER OR IN CONNECTION WITH THESE TERMS, OUR PRODUCTS OR OUR SERVICES WILL BE LIMITED TO £500.
%p
  THE LIMITATIONS SET FORTH IN THIS SECTION 16 WILL NOT LIMIT OR EXCLUDE LIABILITY FOR DEATH OR PERSONAL INJURY, OR FOR OUR FRAUD, OR INTENTIONAL, WILLFUL, MALICIOUS OR RECKLESS MISCONDUCT, OR FOR ANY OTHER LIABILITY THAT CANNOT BE LIMITED OR EXCLUDED BY
  APPLICABLE LAW.
%p
  7.
  %strong Dispute Resolution; Arbitration.
  Instead of Section 18, the following applies:
%ul
  %li
    Alternative dispute resolution is a process where an independent body considers the facts of a dispute and seeks to resolve it, without you having to go to court. If we are unable to resolve a complaint with you ourselves, as a consumer residing in
    the European Economic Area (“
    %strong> EEA
    ”), you can bring legal proceedings in respect of these Terms either by following the arbitration procedure detailed below or in the courts of the country in which you reside. The European Commission
    provides EEA consumers with an online dispute settlement platform accessible at the following address:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  8.
  %strong Governing Law and Venue.
  Instead of Section 19, the following applies:
%ul
  %li
    These Terms and your access to and use of the Products and Services shall be governed by and construed and enforced in accordance with the laws of England. You can bring legal proceedings in respect of these Terms in the English courts. If you live
    in Scotland you can bring legal proceedings in respect of these Terms in either the Scottish or the English courts. If you live in Northern Ireland you can bring legal proceedings in respect of these Terms in either the Northern Irish or the English
    courts.
%p
  9.
  %strong Assignment; Third Parties.
  The following new Section 25 is added:
%ul
  %li
    25.
    %strong Assignment; Third Parties.
%p We may transfer our rights and obligations under these Terms to another organization. You may transfer your rights or your obligations under these Terms to another person only if we agree to this in writing.
%p This contract does not grant any third party the right to enforce its terms, including under the Contracts (Rights of Third Parties) Act 1999.
