%p
  %strong Special Provisions Applicable to Users Residing in Ireland
%p
  If you reside in Ireland and if the Services and/or Products were offered by ChefSteps to you in Ireland, please review these Special Provisions Applicable to Users Residing in Ireland (“
  %strong> Special Provisions
  ”). These Special Provisions
  apply in addition to, or in some cases in lieu of certain sections of, the Terms of Use and Sale. All capitalized terms not defined in these Special Provisions shall have the meaning given to them in the Terms of Use and Sale.
%p
  1.
  %strong Returns and Refunds for Products Purchased Directly from ChefSteps.
  Instead of the second paragraph of Section 4.5, the following applies:
%ul
  %li You have a legal right to withdraw from your order without giving a reason within 14 days of delivery of your Product (either to you or to the person you have nominated to accept delivery).
%p If your order consists of multiple Products, the 14-day period will run from when you (or the person you have nominated to receive delivery) received the last Product within your order.
%p
  To exercise your right of withdrawal, you must contact us and provide a clear indication of your decision to withdraw from the purchase and sale contract. You may exercise this right by contacting Customer Service by post, email or phone (contact details
  are set out below).
%p You may use the following model cancellation form, but you are not required to do so:
%table
  %tr
    %td
      %p
        %strong Model Cancellation Form
      %p To: Customer Service
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p Email address: info@chefsteps.com
      %p Telephone number: (206) 905-1099
      %p I/We(*) hereby give notice that I/We(*) cancel from my/our (*) contract of sale of the following goods(*)/for the provision of the following service(*):
      %p Ordered on(*) / received on(*):
      %p Name of consumer(s):
      %p Address of consumer(s):
      %p Signature of consumer (only if this form is notified on paper):
      %p Date:
      %p (*) Please delete if not applicable
%p After exercising your withdrawal right, you must return all Products to the following address not later than 14 days from the day on which you notify us of your withdrawal:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  We reserve the right to make any deductions from the reimbursement for any loss in value of any Products supplied if the loss is the result of unnecessary handling by you—i.e., more than would be necessary to establish the functioning of the Products.
%p We will make the reimbursement without undue delay, and not later than:
%ul
  %li 14 days after the day we receive back from you any Products supplied; or
  %li (if earlier) 14 days after the day you provide us with evidence that you have returned the Products; or
  %li if there were no Products supplied, 14 days after the day on which we are informed about your decision to cancel the order.
%p You are responsible for the costs of returning the Products. We recommend that you return the Products using registered mail and obtain proof of delivery. Please pack the Products carefully to ensure that they reach us in good condition.
%p
  All reimbursements will be applied using the same method of payment you used to make your purchase, unless we have agreed otherwise, and the reimbursement will include the cost of delivery (except for the supplementary costs arising if you chose a type
  of delivery other than the least expensive type of standard delivery offered by us when placing the order).
%p
  2.
  %strong Repeat Infringer Policy; Copyright Complaints.
  Instead of the third paragraph of Section 6, the following applies:
%ul
  %li
    Under the EU E-Commerce Directive 2000/31/EC, the requirements of a proper notification are as follows: Written communication with a physical or electronic signature of a person authorized to act, identification of the copyrighted work claimed to have
    been infringed, identification of the material that is claimed to be infringing, information reasonably sufficient to permit ChefSteps to contact you (address, telephone number and email address) and a statement that you have a good faith belief that
    the use of material is not authorized.
%p
  3.
  %strong Dispute Resolution; Arbitration.
  A new Section 18.9 is added as follows:
%ul
  %li
    Notwithstanding the above, as a consumer residing in the European Economic Area (“
    %strong> EEA
    ”), you can bring legal proceedings in respect of these Terms either by following the arbitration procedure detailed above or in the courts of the
    country in which you reside. The European Commission also provides EEA consumers with an online dispute settlement platform accessible at the following address:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  4.
  %strong Governing Law and Venue.
  At the end of Section 19, the following addition applies:
%ul
  %li
    Notwithstanding the foregoing, as a consumer residing in the EEA, you will benefit from any mandatory provisions of the law of the country in which you reside. Nothing in these Terms affects your rights as a EEA consumer to rely on mandatory provisions
    of the law of the country in which you reside.
%p
