%p
  %strong Disposizioni speciali applicabili agli utenti residenti in Italia
%p
  Se risiedete in Italia e se i Servizi e/o Prodotti vi sono stati offerti da ChefSteps in Italia, siete pregati di consultare le presenti disposizioni speciali applicabili agli utenti residenti in Italia (“Disposizioni Speciali”). Tali Disposizioni Speciali
  si applicano in aggiunta alle Condizioni di Utilizzo e Vendita o, in alcuni casi, in sostituzione di alcune delle sue clausole. Tutti i termini maiuscoli non definiti nelle presenti Disposizioni Speciali hanno il significato loro attribuito nelle Condizioni
  di Utilizzo e Vendita.
%p
  1.
  = succeed "." do
    %strong Errori
%ul
  %li In caso di modifica dell’ordine a seguito di errore, all’utente può essere richiesto di confermare l’ordine modificato prima che questo venga elaborato.
%p
  2.
  = succeed "." do
    %strong Policy sulle Violazioni Ripetute; Reclami sui Diritti d’Autore
%ul
  %li
    Ai sensi della direttiva UE 2000/31/CE sul commercio elettronico, i requisiti di una comunicazione adeguata sono: comunicazione scritta con firma autografa o elettronica di un rappresentante legale, identificazione dell’opera tutelata da diritti d’autore
    che si ritiene siano stati violati, identificazione del materiale ritenuto lesivo di tali diritti, informazioni ragionevolmente sufficienti a permettere a ChefSteps di contattare l’utente (indirizzo, numero di telefono e email) e una dichiarazione
    dove sia esplicitamente indicato che l’uso del materiale non è autorizzato.
%p
  3.
  = succeed "." do
    %strong Risoluzione delle Controversie; Arbitrato
%ul
  %li SI PREGA DI LEGGERE ATTENTAMENTE IL PRESENTE ARTICOLO.
%p 18.1. Arbitrato Vincolante
%p
  Salvo eventuali controversie, pretese, cause, azioni, rivendicazioni, domande o procedimenti (collettivamente le “Controversie”) derivanti da o connesse a una violazione dell’Articolo 10 nelle quali la parte promuove un’azione individuale di modesta entità
  o cerca di ottenere un’inibitoria o altro mezzo di tutela in
  %em equity
  per la presunta violazione di diritti di proprietà intellettuale, compresi, a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali, loghi,
  segreti commerciali o brevetti, l’utente e ChefSteps convengono di rinunciare al diritto di adire il tribunale relativamente a tutte le Controversie derivanti dalle presenti Condizioni, o dai Servizi, Materiali o Prodotti. Di contro, l’utente e ChefSteps
  accettano di sottoporre ogni eventuale Controversia a un procedimento arbitrale obbligatorio (che consiste nel deferire la Controversia a una o più persone incaricate di esaminare la stessa e di pronunciare una decisione definitiva e vincolante, anziché
  devolvere la Controversia a un giudice o a una giuria in sede giudiziale).
%p 18.2. Comunicazioni; Risoluzione amichevole delle Controversie
%p
  L’utente e ChefSteps accettano che ciascuna parte darà comunicazione scritta all’altra parte di ogni eventuale Controversia arbitrabile o di modesta entità entro trenta (30) giorni dalla data in cui essa è sorta, cosicché le parti possano tentare in buona
  fede di risolvere la Controversia in maniera amichevole. La comunicazione a ChefSteps deve essere inviata elettronicamente a disputes@chefsteps.com e deve includere (a) nome, indirizzo postale e numero di telefono dell’utente, indirizzo email associato
  all’account ChefSteps e, se diverso, indirizzo email al quale indirizzare le comunicazioni, (b) una descrizione ragionevolmente dettagliata della natura o del fondamento della Controversia, e (c) lo specifico mezzo di tutela richiesto. Le comunicazioni
  di ChefSteps all’utente saranno inviate elettronicamente all’indirizzo email fornito al momento della registrazione e includeranno (x) nome, indirizzo postale, numero di telefono di ChefSteps e indirizzo email al quale indirizzare le comunicazioni in
  relazione alla Controversia, (y) una descrizione ragionevolmente dettagliata della natura o fondamento della Controversia, e (z) lo specifico mezzo di tutela richiesto. Qualora l’utente e ChefSteps non trovino un accordo su come risolvere la Controversia
  entro trenta (30) giorni, l’utente o ChefSteps potranno, se opportuno e conformemente al presente Articolo, avviare un procedimento arbitrale o, per quanto espressamente previsto all’articolo 18.1, promuovere un procedimento giudiziale.
%p 18.3. Procedura
%p
  Ad eccezione delle Controversie nelle quali la parte promuove un’azione individuale di modesta entità o cerca di ottenere un’inibitoria o altro mezzo di tutela in
  %em equity
  per la presunta violazione di diritti di proprietà intellettuale, compresi,
  a titolo meramente esemplificativo, diritti d’autore, marchi, denominazioni commerciali, loghi, segreti commerciali o brevetti, l’utente e ChefSteps convengono che (a) la sede dell’arbitrato sarà King County, Washington, (b) l’arbitrato sarà condotto
  in maniera riservata da un arbitro unico in conformità con il regolamento del
  %em Judicial Arbitration and Mediation Services
  ("JAMS"), espressamente richiamato dalla presente Garanzia Limitata, e (c) i tribunali statali o federali rispettivamente
  dello Stato di Washington e degli Stati Uniti, aventi sede in King County, Washington, hanno giurisdizione esclusiva in merito a eventuali impugnazioni e all’esecuzione del lodo arbitrale. L’utente potrà altresì devolvere la Controversia al tribunale
  competente per cause di minor valore situato nella contea del proprio indirizzo di fatturazione se la Controversia corrisponde alle condizioni necessarie per poter essere giudicata in tale sede.
%p 18.4. Poteri dell’arbitro
%p
  Nei limiti stabili dal
  %em Federal Arbitration Act
  statunitense, dalle presenti Condizioni e dal regolamento JAMS applicabile, l’arbitro avrà (a) il potere e la giurisdizione esclusiva di assumere tutte le decisioni procedurali e sostanziali concernenti
  la Controversia, compresa la decisione sull’idoneità della Controversia a essere sottoposta ad arbitrato, e (b) il potere di garantire qualsiasi mezzo di tutela altrimenti esperibile giudizialmente, a condizione, tuttavia, che l’arbitro non abbia il
  potere di condurre arbitrati o azioni collettivi. L’arbitro potrà conoscere unicamente controversie individuali e non potrà riunire più procedimenti individuali, né potrà amministrare qualsiasi tipo di procedura collettiva o che coinvolga più soggetti.
%p 18.5. Regolamento JAMS
%p
  Il regolamento JAMS e le ulteriori informazioni concernenti i servizi di tale organismo sono disponibili sul sito web di JAMS. Accettando le presenti Condizioni, l’utente (a) dichiara di aver letto e compreso il regolamento JAMS, oppure (b) rinuncia all’opportunità
  di leggere il regolamento JAMS e a qualsiasi pretesa circa la sua iniquità o inapplicabilità per qualsiasi ragione.
%p 18.6. Nullità parziale
%p
  Qualora qualsiasi termine, clausola o disposizione del presente Articolo 18 fosse ritenuta invalida o non applicabile, tale invalidità o inapplicabilità sarà limitata alla misura minima richiesta dalla legge. Tutti gli altri termini, clausole o disposizioni
  del presente Articolo 18 resteranno validi ed efficaci.
%p 18.7. Consumatori SEE
%p
  In quanto consumatore residente nello Spazio Economico Europeo (“
  %strong> SEE
  ”), l’utente potrà promuovere le eventuali azioni legali relative alle presenti Condizioni sia in base alla procedura arbitrale sopra descritta nel dettaglio, sia davanti
  ai tribunali del Paese di residenza. La Commissione europea mette inoltre a disposizione dei consumatori SEE una piattaforma online per la composizione delle controversie accessibile al seguente indirizzo: http://ec.europa.eu/consumers/odr/. Si precisa
  che l’utilizzo della piattaforma ODR o di qualsiasi altro servizio di risoluzione alternativa delle controversie del consumatore non è obbligatorio. ChefSteps si riserva di valutare di volta in volta l’adesione ai metodi di risoluzione alternativa della
  controversia.
%p
  4.
  = succeed "." do
    %strong Legge applicabile e foro competente
%p
  Le presenti Condizioni e l’accesso e l’utilizzo dei Prodotti e Servizi saranno disciplinati e interpretati, e vi sarà data esecuzione, in conformità al diritto italiano, facendo salve le eventuali giurisdizioni obbligatoriamente competenti per legge.
  In quanto consumatore residente nello SEE, l’utente potrà beneficiare di eventuali norme imperative della legge del Paese in cui risiede. Niente nelle presenti Condizioni pregiudica i diritti dell’utente in quanto consumatore dello SEE di invocare le
  disposizioni imperative previste dalla legge del Paese in cui risiede.
