%p
  %strong Bijzondere bepalingen van toepassing op gebruikers woonachtig in Nederland
%p
  Indien u in Nederland woonachtig bent en indien de Diensten en/of Producten door ChefSteps aan u worden aangeboden in Nederland, dan verzoeken wij u kennis te nemen van deze Bijzondere Bepalingen die gelden voor in Nederland woonachtige Gebruikers ("
  %strong> Bijzondere Bepalingen
  ").
  Deze Bijzondere Bepalingen zijn van toepassing in aanvulling op of in sommige gevallen in plaats van, bepaalde delen van, de Gebruiks- ven Verkoopvoorwaarden. Alle termen die met een hoofdletter beginnen en niet in deze Bijzondere Bepalingen zijn gedefinieerd,
  hebben de betekenis die eraan is gegeven in de Gebruiks- en Verkoopvoorwaarden.
%p
  1.
  %strong Inleiding.
  In plaats van de laatste alinea van de inleiding is het volgende van toepassing:
%ul
  %li
    ChefSteps behoudt zich het recht voor om deze Voorwaarden te allen tijde en naar eigen goeddunken te wijzigen of aan te passen. Indien wij wijzigingen aanbrengen in deze Voorwaarden, zullen wij u van deze wijzigingen ten minste dertig dagen voordat
    ze van kracht worden op te hoogte brengen, bijvoorbeeld door het verzenden van een e-mailbericht of het verstrekken van een kennisgeving via de Diensten Uw voortgezette gebruik van de Diensten nadat de wijzigingen van kracht zijn geworden bevestigt
    uw aanvaarding van de herziene Voorwaarden. Wij raden u aan om de Voorwaarden regelmatig te herlezen om te waarborgen dat u de voorwaarden begrijpt die van toepassing zijn wanneer u zich toegang verschaft tot of gebruik maakt van de Diensten. Indien
    u niet akkoord gaat met de herziene Voorwaarden, dient u geen toegang meer te zoeken of gebruik te maken van de Diensten.
%p
  2.
  %strong Prijzen en beschikbaarheid.
  In plaats van de tweede alinea van artikel 4.2 is het volgende van toepassing:
%ul
  %li
    Verzendkosten zijn niet inbegrepen in de getoonde prijzen, aangezien de verzendkosten afhankelijk zijn van het aantal Producten dat u bestelt. Verzendkosten worden berekend tijdens het afrekenen voordat u uw bestelling voltooit. Alle te koop aangeboden
    Producten en Diensten zijn afhankelijk van beschikbaarheid en wij behouden ons het recht voor om een bestelling geheel of gedeeltelijk te weigeren indien wij een redelijk vermoeden hebben dat de bestelling frauduleus is of anderszins in strijd met
    deze Voorwaarden. Prijzen voor Producten en Diensten kunnen te allen tijde worden gewijzigd, maar wijzigingen zullen geen invloed hebben op bestellingen van Producten of Diensten die u reeds heeft geplaatst.
%p
  3.
  %strong> Verzending; Risico van verlies
  \. In plaats van artikel 4.4 is het volgende van toepassing:
%ul
  %li
    U komt overeen om alle verzend- en administratiekosten te betalen die zijn aangegeven op het moment van aankoop. Wij behouden ons het recht voor om verzend- en administratiekosten van tijd tot tijd te verhogen, te verlagen, toe te voegen of te schrappen,
    maar wij zullen u op de hoogte brengen van de kosten die voor u gelden voordat u uw aankoop plaatst. Producten worden zo spoedig als redelijkerwijs mogelijk en in ieder geval binnen 30 dagen na de dag waarop wij uw bestelling accepteren aan u geleverd.
    Tenzij wij anders vermelden, gaat het risico van verlies van of schade aan een Product over op u bij levering van het Product aan u of een door u aangewezen derde (anders dan de vervoerder). Indien u vragen of zorgen heeft over de verzending, neem
    dan contact met ons op via
    = succeed "." do
      %a{:href => "mailto:info@chefsteps.com"} info@chefsteps.com
%p
  4.
  %strong Retourzendingen en restituties van Producten die rechtstreeks van ChefSteps zijn gekocht.
  In plaats van de tweede alinea van artikel 4.5 is het volgende van toepassing:
%ul
  %li U heeft een wettelijk recht om zonder opgaaf van redenen uw bestelling te herroepen binnen 14 dagen na levering van uw Product (hetzij aan u, hetzij aan de persoon die u heeft aangesteld om de levering te aanvaarden).
  %li Indien uw bestelling uit meerdere Producten bestaat, begint de periode van 14 dagen vanaf het moment dat u (of de persoon die u heeft aangesteld om de levering in ontvangst te nemen) het laatste Product ontvangt dat tot uw bestelling hoort.
%p
  Om uw herroepingsrecht uit te oefenen, dient u contact met ons op te nemen en een duidelijke indicatie te geven van uw beslissing om de koop- en verkoopovereenkomst te herroepen. U kunt dit recht uitoefenen door contact op te nemen met de Klantenservice
  per post, e-mail of telefoon (contactgegevens staan hieronder vermeld).
%p U kunt het volgende model van het herroepingsformulier gebruiken, maar u bent hiertoe niet verplicht
%table
  %tr
    %td
      %p
        %strong Model annuleringsformulier
      %p Aan: Klantenservice
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p E-mailadres: info@chefsteps.com
      %p Telefoonnummer: (206) 905-1099
      %p Ik/Wij (*) deel/delen (*) u hierbij mede dat ik/wij (*) onze overeenkomst betreffende de verkoop van de volgende goederen/levering van de volgende dienst (*) herroep/herroepen (*) Besteld op(*)/ontvangen op(*)
      %p Naam/Namen consument(en),
      %p Adres consument(en),
      %p Handtekening van consument(en) (alleen indien dit formulier op papier wordt verstrekt)
      %p Datum
      %p (*)Doorhalen wat niet van toepassing is
%p Na uitoefening van uw herroepingsrecht dient u alle Producten uiterlijk 14 dagen na de dag waarop u ons van uw herroeping op de hoogte heeft gesteld, naar het volgende adres te retourneren:
%p [address to be confirmed]
%p
  Wij behouden ons het recht voor om eventuele waardeverminderingen van geleverde Producten in mindering te brengen op de terugbetaling, indien de waardevermindering het gevolg is van onnodige handelingen van u – d.w.z. meer dan noodzakelijk om de werking
  van de Producten vast te stellen.
%p Wij zullen de terugbetaling onverwijld verrichten en uiterlijk:
%ul
  %li 14 dagen na de dag waarop wij de geleverde Producten van u terug ontvangen; of
  %li (indien eerder) 14 dagen na de dag waarop u ons het bewijs levert dat u de Producten heeft geretourneerd; of
  %li indien er geen Producten zijn geleverd, 14 dagen na de dag waarop wij op de hoogte zijn gesteld van uw beslissing om de bestelling te annuleren.
%p U bent zelf verantwoordelijk voor de kosten van het retourneren van de Producten. Wij raden u aan de Producten aangetekend te retourneren met bewijs van aflevering. Verpak de Producten zorgvuldig om te waarborgen dat ze ons in goede staat bereiken.
%p
  Alle terugbetalingen zullen geschieden op dezelfde wijze als u tijdens uw aankoop heeft gedaan, tenzij wij anders zijn overeengekomen, inclusief de leveringskosten (met uitzondering van de extra kosten die ontstaan als u kiest voor een andere dan de goedkoopste
  standaardlevering die wij u aanbieden bij het plaatsen van de bestelling).
%p
  5.
  %strong Fouten.
  In plaats van artikel 4.6 van de Gebruiks- en Verkoopvoorwaarden is het volgende van toepassing:
%ul
  %li
    Wij proberen zo accuraat mogelijk te zijn en fouten in onze Diensten te elimineren, maar wij kunnen niet garanderen dat alle informatie die via onze Diensten wordt verstrekt correct is. In geval van een duidelijke fout behouden wij ons het recht voor
    om deze fout te corrigeren en uw bestelling dienovereenkomstig te herzien (met inbegrip van het in rekening brengen van de juiste prijs) of om de bestelling te annuleren en alle in rekening gebrachte bedragen terug te betalen.
%p
  6.
  = succeed "." do
    %strong Beleid personen die herhaaldelijk inbreuk plegen; Klachten met betrekking tot auteursrecht
%ul
  %li
    Volgens Richtlijn 2000/31/EG inzake elektronische handel in de EU zijn de vereisten voor een correcte kennisgeving de volgende: Schriftelijke communicatie met een fysieke of elektronische handtekening van een persoon met handelingsbevoegdheid, identificatie
    van het auteursrechtelijk beschermde werk waarvan beweerd wordt dat het is geschonden, identificatie van het materiaal waarvan beweerd wordt dat het inbreuk maakt, informatie die redelijkerwijs voldoende is om ChefSteps in staat te stellen contact
    met u op te nemen (adres, telefoonnummer en e-mailadres en een verklaring dat u te goeder trouw de overtuiging heeft dat het gebruik van materiaal niet is toegestaan).
%p
  7.
  %strong Rechten op Gebruikerscontent.
  In plaats van de tweede volzin van artikel 12 is het volgende van toepassing:
%ul
  %li
    Echter, door het uploaden, posten of anderszins indienen van Gebruikerscontent, verleent u ChefSteps een niet-exclusief, royalty-vrij, wereldwijd, eeuwigdurend, onherroepelijk, overdraagbaar en volledig sublicentieerbaar recht om deze Gebruikerscontent
    te gebruiken, te reproduceren, te wijzigen, aan te passen, te publiceren, te vertalen, er afgeleide werken van te maken, te distribueren, uit te voeren en weer te geven op de Diensten voor enig doel, met inbegrip van de commerciële doeleinden van
    ChefSteps.
%p
  8.
  %strong> Feedback.
  In plaats van artikel 13 is het volgende van toepassing:
%ul
  %li
    Los van de Gebruikerscontent kunt u vragen, opmerkingen, suggesties, ideeën, originele of creatieve materialen of andere informatie over ChefSteps of onze Producten of Diensten (gezamenlijk "
    %strong> Feedback
    ") indienen. Feedback is niet-vertrouwelijk.
    Door Feedback in te dienen verleent u ChefSteps een niet-exclusief, royalty-vrij, wereldwijd, eeuwigdurend, onherroepelijk, overdraagbaar en volledig sublicentieerbaar recht om dergelijke Feedback te gebruiken, te reproduceren, te wijzigen, aan te
    passen, te publiceren, te vertalen, er afgeleide werken van te maken, te distribueren, uit te voeren en weer te geven voor elk doel, inclusief voor commerciële doeleinden van ChefSteps.
%p
  9.
  = succeed "." do
    %strong Disclaimers
%ul
  %li CHEFSTEPS IS NIET VERANTWOORDELIJK VOOR DERDEN OF DE DOOR DERDENVERKOCHTE OF GELEVERDE PRODUCTEN EN DIENSTEN, MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, CONTENT VAN DERDEN, APPARATUUR, ISP'S EN PROVIDERS.
%p
  10.
  %strong Beperking van aansprakelijkheid; Ontheffing.
  In plaats van de eerste alinea van artikel 16 is het volgende van toepassing:
%ul
  %li
    VOOR ZOVER NAAR TOEPASSELIJK RECHT IS TOEGESTAAN: A) ZAL CHEFSTEPS OF EEN VAN DE ANDERE CHEFSTEPS PARTIJEN IN GEEN GEVAL AANSPRAKELIJK ZIJN VOOR ENIGE INDIRECTE, BIJZONDERE, INCIDENTELE OF GEVOLGSCHADE OF PUNITIEVE SCHADE VAN ENIGERLEI AARD (MET INBEGRIP
    VAN, MAAR NIET BEPERKT TOT, VERLIES VAN OMZET, INKOMEN OF WINST, VERLIES VAN GEBRUIK OF GEGEVENS, VERLIES OF WAARDEVERMINDERING VAN ACTIVA OF EFFECTEN, OF SCHADE DOOR BEDRIJFSONDERBREKING) DIE VOORTVLOEIT UIT OF OP ENIGERLEI WIJZE VERBAND HOUDT MET
    DE TOEGANG TOT OF HET GEBRUIK VAN DE DIENSTEN OF DE MATERIALEN OF ANDERSZINS VERBAND HOUDT MET DEZE VOORWAARDEN (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, ALLE SCHADE VEROORZAAKT DOOR OF ALS GEVOLG VAN HET VERTROUWEN VAN EEN GEBRUIKER OP ENIGE INFORMATIE
    VERKREGEN UIT CHEFSTEPS, OF ALS GEVOLG VAN FOUTEN, OMISSIES, ONDERBREKINGEN, VERWIJDERING VAN BESTANDEN OF E-MAILS, FOUTEN, DEFECTEN, BUGS, VIRUSSEN, ”TROJAN HORSES”, VERTRAGINGEN IN DE WERKING OF VERZENDING OF ENIGE TEKORTKOMING IN DE UITVOERING,
    AL DAN NIET ALS GEVOLG VAN OVERMACHT, NATUURRAMPEN OF FALEN VAN DE COMMUNICATIE, DIEFSTAL, VERNIETIGING OF ONGEOORLOOFDE TOEGANG TOT CHEFSTEPS' DOSSIERS, PROGRAMMA'S OF SYSTEMEN), ONGEACHT DE VORM VAN DE ACTIE, HETZIJ VOORTVLOEIENDE UIT CONTRACTBREUK
    OF ONRECHTMATIGE DAAD (MET INBEGRIP VAN, MAAR NIET BEPERKT TOT, EENVOUDIGE NALATIGHEID, HETZIJ ACTIEF, PASSIEF OF TOEREKENBAAR); EN B) IN GEEN GEVAL ZAL DE TOTALE AANSPRAKELIJKHEID VAN CHEFSTEPS EN CHEFSTEPS PARTIJEN (GEZAMENLIJK), HETZIJ IN VERBAND
    MET CONTRACTBREUK, EEN GARANTIE OF ONRECHTMATIGE DAAD (MET INBEGRIP VAN NALATIGHEID, HETZIJ ACTIEVE, PASSIEVE OF TOEREKENBARE NALATIGHEID), VOORTVLOEIEND UIT OF IN VERBAND MET HET GEBRUIK VAN OF DE ONMOGELIJKHEID OM DE DIENSTEN TE GEBRUIKEN, MET INBEGRIP
    VAN MATERIALEN EN FUNCTIES DIE DAARIN ZIJN OPGENOMEN, IN GEEN GEVAL HOGER ZIJN DAN ENIGE VERGOEDING DIE U AAN ONS BETAALT VOOR TOEGANG TOT OF GEBRUIK VAN DE DIENSTEN.
%p
  11.
  %strong Wijzigingen van de Diensten.
  In plaats van artikel 17 is het volgende van toepassing:
%ul
  %li
    Wij behouden ons het recht voor om naar eigen goeddunken alle Materialen en alle functies of enige functionaliteit van de Diensten op elk moment te wijzigen zonder kennisgeving en zonder verplichting of aansprakelijkheid jegens u. U heeft ook het recht
    om de Diensten geheel of gedeeltelijk niet te gebruiken, of deze Voorwaarden op elk moment te beëindigen.
%p
  12.
  %strong Geschillenbeslechting; Arbitrage.
  In plaats van artikel 18 is het volgende van toepassing:
%ul
  %li
    Indien u een consument bent die woonachtig is in de Europese Economische Ruimte ("
    %strong> EER
    ") kunt u een procedure aanhangig maken met betrekking tot deze Gebruiks- en Verkoopvoorwaarden door hetzij de hieronder beschreven arbitrageprocedure
    te volgen of bij de rechtbank van het land waarin u woonachtig bent. De Europese Commissie biedt de EER-consumenten ook een online-platform voor geschillenbeslechting waartoe toegang kan worden verkregen op het volgende adres: http://ec.europa.eu/consumers/odr/.
%p
  13.
  %strong Toepasselijk recht; jurisdictie.
  In plaats van artikel 19 is het volgende van toepassing:
%p
  Deze Voorwaarden en uw toegang tot en gebruik van de Producten en Diensten worden beheerst door en geïnterpreteerd en afgedwongen in overeenstemming met Nederlands recht, zonder rekening te houden met collisieregels of -principes waardoor het recht van
  enig ander rechtsgebied zou gelden en met uitsluiting van de toepasselijkheid van het Weens Koopverdrag 1980 .
%p De partijen onderwerpen zich hierbij aan de jurisdictie van de bevoegde rechter te Amsterdam.
%p
  Indien u een consument bent die in de EER woonachtig is, geniet u alle rechten die voortvloeien uit dwingend rechtelijke bepalingen van het recht van het land waarin u woonachtig bent. Niets in deze Voorwaarden tast uw rechten als EER-consument aan om
  zich te beroepen op dwingend rechtelijke bepalingen van het land waarin u woonachtig bent.
%p
  14.
  %strong Beëindiging.
  In plaats van de eerste volzin van artikel 20 is het volgende van toepassing:
%ul
  %li
    Niettegenstaande alles wat in deze Voorwaarden is opgenomen, behouden wij ons het recht voor om uw recht op de Diensten te beëindigen, indien u een wezenlijke inbreuk maakt op deze Voorwaarden of andere voorwaarden of beleid waarnaar hierin wordt verwezen.
    Tenzij een dergelijke inbreuk niet kan worden hersteld, zullen wij een schriftelijk verzoek (hierbij is een e-mail voldoende) om herstel indienen alvorens over te gaan tot beëindiging. Tenzij er bijzondere omstandigheden zijn die onmiddellijke beëindiging
    rechtvaardigen (rekening houdend met de belangen van beide partijen), zullen wij een gepaste termijn bieden voor het herstel. Wij zullen dit recht slechts uitoefenen binnen een redelijke termijn na kennisneming van de inbreuk.
