%p
  %strong Særbestemmelser for brukere bosatt i Norge
%p
  Hvis du bor i Norge og Tjenestene og/eller Produktene ble tilbudt av ChefSteps til deg i Norge, ber vi deg om å gå igjennom disse særbestemmelsene for brukere bosatt i Norge («Særbestemmelsene»). Disse Særbestemmelsene gjelder i tillegg til, eller i noen
  tilfeller istedenfor, visse punkter i Vilkår for bruk og salg. Begreper med stor forbokstav som ikke er definert i disse Særbestemmelsene, har den betydningen de er gitt i Vilkår for bruk og salg.
%p
  1.
  %strong Returer av og tilbakebetaling for produkter kjøpt direkte fra ChefSteps.
  Isteden for det andre avsnittet i punkt 4.5 gjelder følgende:
%ul
  %li Du har rett til å gå fra bestillingen din uten å angi noen grunn innen 14 dager etter at Produktet blir levert (enten til deg eller til vedkommende du har oppgitt som mottaker av leveransen).
%p Hvis bestillingen din består av flere Produkter, løper 14-dagersfristen fra tidspunktet da du (eller den du har oppgitt som mottaker av leveransen) mottar det siste Produktet i bestillingen din.
%p For å utøve angreretten må du kontakte oss og si tydelig fra om at du har bestemt deg for å gå fra kjøps- og salgsavtalen. Du kan utøve denne retten ved å kontakte Kundeservice per post, e-post eller telefon (kontaktopplysningene er gitt nedenfor).
%p Du kan, men er ikke nødt til å, bruke dette avbestillingsskjemaet:
%p
  %strong Avbestillingsskjema
%p Til: Kundeservice
ChefSteps, Inc.
%br/
Customer Service
%br/
1501 Pike Place, Suite 300
%br/
Seattle, WA 98101
%br/
U.S.A.
%p E-postadresse: info@chefsteps.com
%p Telefonnummer: (206) 905-1099
%p Jeg/vi(*) meddeler herved at jeg/vi(*) trekker meg/oss(*) fra avtalen om salg av følgende varer(*) / om levering av følgende tjeneste*,
%p Bestilt den (*) / mottatt den (*)
%p Forbrukerens/forbrukernes navn,
%p Forbrukerens/forbrukernes adresse,
%p Underskrift forbruker (bare hvis skjemaet sendes inn på papir)
%p Dato
%p (*) Stryk det som ikke passer
%p Når du har utøvd din angrerett, må du innen 14 dager fra dagen da du gir oss melding om at du går fra avtalen, sende alle Produkter tilbake til denne adressen:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p
  Vi forbeholder oss retten til å gjøre fradrag i tilbakebetalingen for eventuell reduksjon av verdien på det leverte Produktet hvis verdireduksjonen er et resultat av unødvendig håndtering fra din side – dvs. håndtering ut over det som er nødvendig for
  å fastslå Produktenes funksjoner.
%p Vi vil utføre tilbakebetalingen uten unødvendig opphold og ikke senere enn
%ul
  %li 14 dager etter at vi får de leverte Produktene tilbake fra deg, eller
  %li (hvis dette inntreffer tidligere) 14 dager etter dagen da du gir oss dokumentasjon på at du har sendt Produktene tilbake, eller
  %li hvis det ikke er levert noen Produkter, 14 dager etter dagen da vi blir informert om din beslutning om å angre bestillingen.
%p Du er ansvarlig for kostnadene ved retur av Produktene. Vi anbefaler at du sender Produktene tilbake med rekommandert sending med mottakelsesbevis. Det er viktig at du emballerer Produktene godt, slik at du er sikker på at de når oss i god stand.
%p
  Alle tilbakebetalinger vil bli utført med samme betalingsmåte som ble benyttet ved kjøpet, med mindre vi har blitt enige om noe annet, herunder leveringskostnaden (unntatt tilleggskostnader som påløper hvis du velger en annen leveringsmåte enn vår billigste
  standardleveringsmåte når du bestiller).
%p
  2.
  = succeed "." do
    %strong Policy for personer som begår gjentatte krenkelser; klager knyttet til opphavsrett
%ul
  %li
    Ifølge EUs direktiv om elektronisk handel (2000/31/EF) gjelder følgende krav til en skriftlig melding: Skriftlig kommunikasjon med en fysisk eller elektronisk signatur fra en autorisert person, en angivelse av det opphavsrettsbeskyttede arbeidet du
    mener har blitt krenket, en angivelse av materialet du mener krenker opphavsrett, tilstrekkelig informasjon for at ChefSteps skal kunne kontakte deg (adresse, telefonnummer og e-post) og en erklæring om at du i god tro mener at bruk av materialet
    ikke er godkjent.
%p
  3.
  %strong Tvisteløsning; voldgift.
  Istedenfor punkt 18 gjelder følgende:
%ul
  %li
    Som forbruker bosatt i Det europeiske økonomiske samarbeidsområde («
    %strong> EØS
    ») kan du bringe saker knyttet til disse Vilkårene inn for domstolene i landet du bor i. EU-kommisjonen har også en nettbasert klageportal som forbrukere i EØS kan
    bruke, og som er tilgjengelig på denne adressen:
    = succeed "." do
      %a{:href => "http://ec.europa.eu/consumers/odr/"} http://ec.europa.eu/consumers/odr/
%p
  4.
  %strong Lovvalg og verneting.
  Istedenfor punkt 19 gjelder følgende:
%ul
  %li
    Disse Vilkårene og din tilgang til og bruk av Produktene og Tjenestene skal være underlagt og tolkes og håndheves i samsvar med norsk lovgivning. Som forbruker bosatt i EØS nyter du godt av ufravikelige bestemmelser i lovgivningen i din jurisdiksjon.
    Ingenting i disse Vilkårene påvirker de rettighetene du har som forbruker bosatt i EØS til å påberope deg ufravikelige bestemmelser i din jurisdiksjon.
