%p
  %strong Särskilda bestämmelser för användare bosatta i Sverige
%p
  Om du är bosatt i Sverige och ChefSteps erbjöd tjänsterna och/eller produkterna till dig i Sverige, vänligen granska dessa Särskilda bestämmelser för användare bosatta i Sverige ("Särskilda bestämmelser"). Dessa Särskilda bestämmelser är tillämpliga jämte,
  eller i vissa fall i stället för, vissa delar av Användar- och försäljningsvillkoren. Samtliga termer som inte definieras i dessa Särskilda bestämmelser har den innebörd som de ges i Användar- och försäljningsvillkoren.
%p
  1.
  = succeed "I" do
    %strong Returer och återbetalningar av produkter som köpts direkt från ChefSteps.
%ul
  %li Du har rätt att ångra ditt köp utan att uppge något skäl inom 14 dagar efter leveransen av din produkt (till dig eller den person du har uppgett ska motta leveransen).
%p Om din order består av flera produkter, löper ångerfristen ut 14 dagars från den dag du (eller den person du har uppgett ska motta leveransen) erhåller den sista produkten i din order.
%p
  För att utnyttja din ångerrätt måste du kontakta oss och klart och tydligt meddela oss om ditt beslut att frånträda köp- och försäljningsavtalet. Du kan utöva denna rätt genom att kontakta kundservice via post, e-post eller telefon (kontaktuppgifter anges
  nedan).
%p Du kan använda nedan formulär för upphävande, men det är inte obligatoriskt:
%table
  %tr
    %td
      %p
        %strong Standardformulär för avbokning
      %p Till: Kundtjänst
      ChefSteps, Inc.
      %br/
      Customer Service
      %br/
      1501 Pike Place, Suite 300
      %br/
      Seattle, WA 98101
      %br/
      U.S.A.
      %p E-post adress: info@chefsteps.com
      %p Telefonnummer: (206) 905-1099
      %p Härmed meddelar jag/vi (*) att jag/vi (*) vill häva mitt/vårt (*) försäljningsavtal beträffande följande varor(*)/för tillhandahållande av följande tjänst*,
      %p Beställd den (*) / mottagen den(*)
      %p Namn på konsument(er),
      %p Adress till konsument(er),
      %p Konsumentens namnteckning (endast om det här formuläret används i pappersformat),
      %p Datum
      %p (*) Radera om ej tillämpligt
%p Vid utövandet av ångerrätten ska samtliga produkter återsändas till följande adress inom 14 dagar från den dag du meddelat oss att du ångrar köpet:
%p
  ChefSteps, Inc.
  %br/
  Customer Service
  %br/
  1501 Western Avenue, Suite 600
  %br/
  Seattle, WA 98101
  %br/
  U.S.A.
%p Vi förbehåller oss rätten att göra avdrag på köpesumman för eventuellt minskat värde på produkterna, om värdeminskningen är följd av onödig hantering – dvs. i större utsträckning än vad som är nödvändigt för att fastställa produkternas funktion.
%p Återbetalning kommer att ske utan onödigt dröjsmål, och senast:
%ul
  %li 14 dagar från den dag vi mottagit produkterna; eller
  %li (om tidigare) 14 dagar från den dag du försett oss med bevis på att du återsänt produkterna; eller
  %li om inga produkter levererats, 14 dagar från den dag vi informerades om ditt beslut att ångra köpet.
%p Du är ansvarig för kostnad för returnerandet av produkterna. Vi rekommenderar att du returnerar produkterna genom rekommenderat brev och erhåller ett mottagandebevis. Vänligen förpacka produkterna försiktigt för säkerställa att de anländer i gott skick.
%p
  Återbetalning utförs med samma betalningsmetod som du använde vid köpet, om inget annat överenskommits, inklusive fraktkostnad (med undantag för de ytterligare kostnader som uppstår om du väljer en annan leveranstyp än den billigaste standardleveransen
  som erbjuds av oss vid beställning).
%p
  2. “
  %strong> Repeat Infringer Policy”; Klagomål baserade på copyright
  \. I stället för avsnitt 6 tredje stycket gäller följande:
%ul
  %li
    Enligt E-handelsdirektivet (2000/31/EC) är kraven på en korrekt avisering: skriftlig kommunikation som innehåller en elektronisk eller fysisk signatur från en person med behörighet att agera, beskrivning av det upphovsrättsskyddade materialet som i
    anspråket anses vara föremål för intrång, en beskrivning som specificerar var materialet som du hävdar gör intrång i upphovsrätten, finns, information som är tillräcklig för att ChefSteps ska kunna kontakta dig (adress, telefonnummer och e-post) och
    ett meddelande där du beskriver att du i god tro anser att innehållet inte är tillåten.
%p
  3.
  %strong Rätt till användarinnehåll.
  I stället för sista meningen i avsnitt 12 gäller följande:
%ul
  %li
    Vidare avstår du från all ideell upphovsrätt i och till användarinnehåll och ger alla användare av våra tjänster tillstånd att komma åt och nyttja ditt användarinnehåll enligt den senaste versionen av the
    %a{:href => "https://creativecommons.org/licenses/by-nc-sa/3.0/us/legalcode"} Creative Commons Attribution- NonCommercial-ShareAlike license
    (BY-NC-SA).
%p
  4.
  = succeed "." do
    %strong Tvistlösning; Skiljeförfarande
%ul
  %li
    Trots ovanstående kan du som konsument bosatt inom Europeiska ekonomiska samarbetsområdet (“
    %strong> EES
    ”) väcka talan mot dessa villkor antingen genom att följa det ovan angivna skiljedomsförfarandet eller vid domstolarna i det land där du
    är bosatt. Allmänna reklamationsnämnden ("
    %strong> ARN
    ") ger även svenska konsumenter en offentlig myndighet för att pröva tvister mellan konsumenter och näringsidkare och kan kontaktas på följande adress
    = succeed "." do
      %a{:href => "http://www.arn.se/om-arn/kontakta-oss/"} http://www.arn.se/om-arn/kontakta-oss/
%p
  5
  %strong> .  Gällande lag och säte
  \. Istället för avsnitt 19 gäller följande:
%ul
  %li
    Dessa villkor och din tillgång till och användning av produkterna och tjänsterna ska regleras av och tolkas och verkställas i enlighet med svensk lag. Konsumenter som är bosatta inom EES kommer att omfattas av eventuella obligatoriska bestämmelser i
    lag om jurisdiktion där du är bosatt. Dessa villkor påverkar inte din rättighet att, som en konsument bosatt inom EES, förlita dig på obligatoriska bestämmelser i lag om jurisdiktion där du är bosatt.
%p
  6.
  = succeed "." do
    %strong Uppsägning
%ul
  %li
    Oaktat innehållet i dessa Villkor, förbehåller vi oss rätten att säga upp din rätt att nyttja tjänsterna, om du väsentligt har brutit mot dessa Villkor eller andra villkor eller policyer som refereras till. Om sådant avtalsbrott inte upphör, kommer
    vi att sända en skriftlig uppmaning (e-post får ses som tillräckligt) att upphöra med avtalsbrottet innan uppsägning. Såvida det inte finns särskilda omständigheter som motiverar omedelbar uppsägning (enligt båda parters intressen), kommer vi att
    tillhandahålla skälig tid att upphöra med avtalsbrottet. Vi kommer endast att utöva denna rätt inom skälig tid efter att ha blivit medvetna om avtalsbrottet.
    %br/
