= form_tag(update_reorder_menus_admin_menus_path, method: 'post', id: html_id , class: klass) do
  %table#menu-reorder.nested-records.sortable.ui-sortable{:style => "display: table;"}
    %tbody
      %tr.template-row.ui-sortable-handle{:style => ""}
        %td
          %label ''
        %td
          %span.icon-reorder.icon-large
      - menus.each do |menu|
        %tr.ui-sortable-handle{:style => ""}
          %td
            %label #{menu.name}
            = hidden_field_tag "menu_ids[]", menu.id
          %td
            %span.icon-reorder.icon-large
  = submit_tag 'Submit'
