%center{ :style => 'margin: 5em 1em 1em 5em;' }
  %h1
    Sorry!
    %br
      &nbsp;
  %h3
    It looks like something went wrong with your request.
    %br
    Please try again or visit <a href="https://support.chefsteps.com">our support site</a> for assistance.