.nell-card
  .nell-card-header
    %h4 {{obj.title}}
    
  .nell-card-media
    %img( ng-if='! obj.youtube_id && obj.featured_image_id' 
          cs-responsive-image='obj.featured_image_id')

    %csEmbedYouTube(  ng-if='obj.youtube_id' 
                      video-id="{{obj.youtube_id}}" 
                      container-slug="{{activity.slug}}") 

  .nell-card-text
    .relative
      .short-summary.section(ng-bind-html="obj.description | markdown | shortcode")
    %a( ng-href='/activities/{{obj.slug}}'
        no-nell-popup 
        target='_blank') 

      %div(ng-switch='obj.activity_type[0] || "Recipe"' ng-if="obj.activity_type[0]")
        .btn.btn-large.btn-primary(ng-switch-when="Recipe") SEE THE RECIPE
        .btn.btn-large.btn-primary(ng-switch-default) TELL ME MORE
     
