.nell-card

  .nell-card-header
    %h6.no-margin-padding
      {{obj.user && 'COMMUNITY' || 'CHEFSTEPS'}} {{obj.activity_type[0] || "Recipe" | uppercase}}
    %h3 {{obj.title}}

  .nell-card-media
    %cs-image( ng-if='obj.featured_image_id'
               url='obj.featured_image_id'
               aspect='16:9')
    %cs-image( ng-if='!obj.featured_image_id && obj.image_id'
               url='obj.image_id'
               aspect='16:9')

  .nell-card-text
    .relative
      .short-summary.section(ng-bind-html="obj.description | markdown | shortcode")
    %a( ng-href='/activities/{{obj.slug}}'
        target='_blank'
        ng-click='doHideNellPopup()')
      %div(ng-switch='obj.activity_type[0] || "Recipe"')
        .btn.btn-large.btn-secondary(ng-switch-when="Recipe") SEE THE RECIPE
        .btn.btn-large.btn-secondary(ng-switch-default) TELL ME MORE
