.nell-card
  .nell-card-header
    %h4 {{obj.title}}

  .nell-card-media
    // Need to find a more universal way to get an image, possibly ActivityMethods
    %cs-image( ng-if='obj.featured_image_id'
               url='obj.featured_image_id'
               aspect='16:9')
    %cs-image( ng-if='!obj.featured_image_id && obj.image_id'
               url='obj.image_id'
               aspect='16:9')

  .nell-card-text
    .relative
      .short-summary.section(ng-bind-html="obj.description | markdown | shortcode")
    %a( ng-href='/activities/{{obj.slug}}'
        no-nell-popup
        target='_blank')

      %div(ng-switch='obj.activity_type[0] || "Recipe"')
        .btn.btn-large.btn-primary(ng-switch-when="Recipe") SEE THE RECIPE
        .btn.btn-large.btn-primary(ng-switch-default) TELL ME MORE
