%h4(cs-contenteditable="getStepOpenForEdit()" ng-model="step.title")
%div(ng-include="'_step_edit_images.html'")
.aside-video.noprint(ng-if='hasAV()')
  .step-video-outer(ng-if="hasVideo()")
    .new-step-video(id="{{'step-video-' + $index}}")
      %csembedvideo(  youtube-id='{{step.youtube_id}}'
                      vimeo-id='{{step.vimeo_id}}'
                      container-slug="{{activity.slug}}")
  .aside-image.noprint(ng-if="!!step.image_id")
    %img(ng-src="{{stepImageURL(step, 840)}}" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}")
.aside-text(  cs-contenteditable="getStepOpenForEdit()"
              ng-model="step.directions"
              creator="activity.user"
              placeholder="'Click to write aside directions'" )