.aside(ng-if='step.is_aside' ng-class="asideClass()")
  %h4(cs-contenteditable="editMode" ng-model="step.title")
  .aside-video(ng-if='hasAV()')
    .step-video-outer.noprint(ng-if="!! step.youtube_id")
      .new-step-video(id="{{'step-video-' + $index}}")
        .video-container(csenforceaspect)
          %iframe(ng-style="setHeight()" csenforceaspect cssrcreplacer="{{'//www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0'}}")
  .aside-image(ng-if="!!step.image_id")
    %img(ng-src="{{stepImageURL(step, 840)}}" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}" itemprop="image")
  %div(ng-include="'/client_views/_step_edit_images'")
  .aside-text(  cs-contenteditable="editMode" 
                ng-model="step.directions"
                placeholder="'Click to write aside directions'" )