%div
  %div.anim-basic-fade( ng-show = "! editMode"
                        ng-bind-html="ngModel | markdown | shortcode")
  %p.anim-basic-fade( ng-show = "editMode"
                        ng-model = "ngModel"
                        contenteditable = "true")

