.row(ng-repeat="(groupName, group) in options")
  .span6
    .btn-group
      %h4 {{groupName}}
      %button.btn.btn-checkbox( ng-repeat="tagName in group" 
                                ng-click="csTagService.toggleTag(ngModel, tagName)"
                                ng-class="{active: csTagService.hasTag(ngModel, tagName)}"
                              )
        {{tagName}}


