%div
  %div(ng-show="!editMode" )
    %div.output
  %div(ng-show="editMode")
    -# had to leave outplaceholder="{{placeholder}}" for now
    -# b/c even with fix from http://blog.novanet.no/angularjs-ie-textarea-placeholder/
    -# it was erroring on IE
    %textarea(ng-hide ng-model="ngModel" cs-emit-focus aria-label="Egg Timer")
