%div
  %a( ng-repeat="choice in ngModel" 
                            ng-click="$parent.active = choice"
                            ng-class="{active: choice == $parent.active}"
                          )
    {{choice}}


