%div
  %div.anim-basic-fade( ng-show="!editMode" ng-bind-html="ngModel | trim | markdown | shortcode")
  %div(ng-show="editMode")
    %textarea.anim-basic-fade(ng-model="ngModel" ui-redactor placeholder="{{placeholder}}")