.media-box-3
  %a(href='{{href}}')
    .media-box-3-title
      {{title}}
    .media-box-3-image.relative
      %img(ng-src="{{image}}")
      .sash(ng-show="sash" ng-bind-html="sash")
    .media-box-3-footer
      .footer-left(ng-bind-html="footerLeft")
      .footer-right(ng-bind-html="footerRight")


