-##################################################################################
-# IMPORTANT IF YOU ARE EDITING THIS FILE SEE NOTE IN templates.js.erb !!!!!!
-##################################################################################

%csEditPair
  %csEditPairShow><
    %span(ng-switch="" on="equipmentDisplayType(item)")><
      %span(ng-switch-when="product")><
        %a(ng-href='{{item.equipment.product_url}}' target='_blank')><
          {{item.equipment.title || item.equipment}}
      %span.fake-link(ng-switch-when="fake_link")><
        {{item.equipment.title || item.equipment}}
      %span(ng-switch-default="")><
        {{item.equipment.title || item.equipment}}
    %span(ng-if="item.optional" ng-bind-html="'&nbsp;(optional)'")><
    %span(ng-if="! $last")>< ,
    
  %csEditPairEdit
    .btn-toolbar.action-button-group
      .btn-group
        .btn.drag-handle.btn-small.btn-secondary(tooltip="Drag to reorder")
          %span.icon-sort
        .btn.remove-button.btn-small.btn-secondary(tooltip="Drag to reorder" tooltip="Remove equipment item" ng-click="removeItem()")
          %span.icon-remove
    .equipment-title.inline
      %input( cs-emit-focus
              csselectonfocus
              csinputmonkeyequipment
              type="text" 
              placeholder="New equipment item" 
              typeahead-editable="true" 
              autocomplete="off" 
              class="equipment-typeahead" 
              ng-model="item.equipment" 
              typeahead="e as e.title for e in all_equipment($viewValue)")

    .btn.btn-small.inline.align-baseline( ng-click='item.optional = ! item.optional' 
                    ng-class="{true: 'btn-primar', false: 'btn-secondary'}[item.optional]")
      Optional

