-##################################################################################
-# IMPORTANT IF YOU ARE EDITING THIS FILE SEE NOTE IN templates.js.erb !!!!!!
-##################################################################################

%csEditPair
  %csEditPairShow.show-group
    .quantity-and-unit
      .quantity-group.qtyfade
        %span.lbs-qty(csscalingeditable){style: "display: none;"}
        %span.lbs-label
        %span.main-qty(ng-show="!editMode" csscalingeditable="" ng-bind="(ai.unit == 'a/n' && '') || ai.display_quantity")
        %span.main-qty(ng-show="editMode" ng-bind="ai.display_quantity")

      .unit.qtyfade(ng-bind="ai.unit")
    .ingredient-title
      %span(ng-switch="" on="ingredient_display_type(ai)")
        %a(ng-switch-default="" ng-href="/ingredients/{{ai.ingredient.slug}}" ng-bind-html="ai.ingredient.title" onclick="mixpanel.track('Ingredient Link Clicked')")
        %a(ng-switch-when="subrecipe" ng-href="/activities/{{ai.ingredient.sub_activity_id}}" ng-bind-html="ai.ingredient.title" onclick="mixpanel.track('Ingredient Link Clicked')")
        %span.fake-link(ng-switch-when="fake_link" ng-bind-html="ai.ingredient.title")
      %span(ng-show="!!ai.note" ng-bind-html="', ' + (ai.note | shortcode)")
      .for-sale(ng-if="ai.ingredient.product_url")
        %a(ng-click="outclickProduct(ai)")
          %i.icon-shopping-cart
          -# .for-sale-where(ng-bind-html="'BUY AT '+ csUrlService.urlAsNiceText(ai.ingredient.product_url)")

  %csEditPairEdit.ingredient-edit-half
    %input.quantity(  cs-emit-focus
                            csselectonfocus
                            cslimitquantity
                            placeholder="qty"
                            autocomplete="off"
                            ng-model="ai.display_quantity"
                            size=5)


    %select.unit( cs-emit-focus
                  type="text"
                  ng-model="ai.unit"
                  required="true"
                  ng-options="u.name as u.menuName group by u.measures for u in getAllUnits()")

    %input.name(  cs-emit-focus
                  csselectonfocus
                  type="text"
                  placeholder="New ingredient"
                  typeahead-editable="true"
                  autocomplete="off"
                  class="ingredient-typeahead"
                  ng-model="ai.ingredient"
                  typeahead="i as i.title for i in all_ingredients($viewValue)")

    %input.note(  cs-emit-focus
                  csselectonfocus
                  type="text"
                  placeholder="note"
                  autocomplete="off"
                  ng-model="ai.note")


    .btn-toolbar.action-button-group
      .btn-group
        .btn.drag-handle.btn-small.btn-secondary(tooltip="Drag to reorder")
          %i.icon-sort
        .btn.remove-button.btn-small.btn-secondary(tooltip="Remove ingredient" ng-click="removeIngredient($index)")
          %i.icon-remove
