-##################################################################################
-# IMPORTANT IF YOU ARE EDITING THIS FILE SEE NOTE IN templates.js.erb !!!!!!
-##################################################################################

%csEditPair
  %csEditPairShow.show-group
    .ingredient-title
      %span(ng-switch="" on="ingredient_display_type(ai)")>
        %a(ng-switch-default="" ng-href="/ingredients/{{ai.ingredient.slug}}" target='_blank' ng-bind-html="ai.ingredient.title")>
        %a(ng-switch-when="subrecipe" ng-click="loadSubrecipe(ai.ingredient.sub_activity_id)" ng-bind-html="ai.ingredient.title" target="_blank")>
        %span.fake-link(ng-switch-when="fake_link" ng-bind-html="ai.ingredient.title")>
      %span(ng-show="!!ai.note" ng-bind-html="', ' + (ai.note | shortcode)")>

    .quantity-group.qtyfade
      %span.lbs-qty(csscalingeditable){style: "display: none;"}
      %span.lbs-label
      %span.main-qty(ng-show="!editMode" csscalingeditable="" ng-bind="ai.display_quantity")
      %span.main-qty(ng-show="editMode" ng-bind="ai.display_quantity")

    .unit.qtyfade(ng-bind="ai.unit")

  %csEditPairEdit
    .btn-toolbar.action-button-group(ng-show="focusedInside()")
      .btn-group
        .btn.drag-handle.btn-small.btn-secondary(tooltip="Drag to reorder")
          %i.icon-sort
        .btn.remove-button.btn-small.btn-secondary(tooltip="Remove ingredient" ng-click="removeIngredient($index)")
          %i.icon-remove
    .ingredient-title
      %input(csselectonfocus="" csinputmonkeyingredient="" type="text" placeholder="New ingredient" typeahead-editable="true" autocomplete="off" class="ingredient-typeahead" ng-model="ai.ingredient" typeahead="i as i.title for i in all_ingredients($viewValue)")
      %input(csselectonfocus="" type="text" placeholder="note" autocomplete="off" ng-model="ai.note")
    %input.quantity-group(csselectonfocus="" cslimitquantity="" placeholder="qty" autocomplete="off" ng-model="ai.display_quantity" size=5)

    .unit
      -# http://stackoverflow.com/questions/5912791/how-to-remove-the-arrow-from-a-select-tag-in-firefox - my favorite answer (not the accepted one)
      .select-readout(ng-class="{fakefocus: unitSelectHasFocus}")
        {{ai.unit}}
        %i.icon-caret-down
      %select(type="text" ng-model="ai.unit" required="true" ng-options="u.name as u.menuName group by u.measures for u in getAllUnits()" ui-event='{focus : "unitSelectHasFocus = true", blur: "unitSelectHasFocus = false"}')