%h3.section {{obj.title}}
%img.section(ng-src='{{imageURL(obj.image_id)}}' ng-show="obj.image_id")
.short-summary(ng-bind-html="obj.text_fields.description | markdown | shortcode")
%a(ng-href='/ingredients/{{obj.slug}}' target='_blank') Ingredient wiki entry ...
