.modal-body(ng-init="checkToLoadGoogleContacts()")
  .container
    .row
      .span8.offset2.modal-overlay
        %h2 Invite Your Friends
        %p ChefSteps is built on a community, plain and simple. We'll show you what classes your friends are taking and what recipes they've liked, and you'll be able to meet, follow, and invite other folks you think would be great additions to our community
        %form(class="no-margin-modal-form")
          .invite-horizontal(ng-show="authentication.currentUser()")
            .modal-center
              %i.icon-page-load(ng-show="dataLoading")
            .message(ng-show="message")
              %p {{message}}
            - if false
              -# This verion uses chefsteps styling
              %div
                %ul.friend-list
                  %li.friend(ng-repeat="friend in inviteFriends")
                    %label
                      %input(type="checkbox" ng-model="friend.value")
                      {{friend.name}}
            .button-group
              .facebook-button.facebook-invite
                %a(ng-click="sendInvites()" class="btn btn-secondary btn-facebook" ng-disabled="dataLoading")
                  %i.icon-facebook
                  %b Invite friends from Facebook
                %a.btn-google.btn.btn-secondary(ng-click="formFor = 'googleInvite'; googleSignin('#{google_app_id}')" ng-show="authentication.currentUser() && !authentication.currentUser().google_access_token" ng-disabled="dataLoading")
                  %i.icon-google-plus
                  %b Connect to Google and Invite
        %div(ng-if="inviteFriends.length > 0")
          %h3 Invite your friends from Google
          %p
            Invite your friends to join you on ChefSteps.com
            %a(href="/invitation.html" target="_blank")
              (Preview)
          .invite-horizontal(ng-show="authentication.currentUser()")
            .modal-center
              %i.icon-page-load(ng-show="dataLoading")
            .search
              %input(type="text" placeholder="Search For..." ng-model="searchFriends")
            %div
              %ul.friend-list
                %li.friend.one_column(ng-repeat="friend in inviteFriends | filter:searchFriends")
                  %label
                    %input(type="checkbox" ng-model="friend.value")
                    %span(ng-show="friend.name")
                      {{friend.name}} ({{friend.email}})
                    %span(ng-show="!friend.name")
                      {{friend.email}}
            %div
              {{friendsSelected().length}} friends selected.