%div(ng-switch="inclusion.includable_type")
  %a(ng-switch-default)
    {{inclusion.includable_title}}
  %div.nested(ng-switch-when="Assembly")
    .hit-box(ng-click="toggleCollapse(inclusion.includable_id); $event.stopPropagation()")
      %a
        {{inclusion.includable_title}}&hellip;
    %ul.no-bullet(ng-class="{'collapsed' : isCollapsed(inclusion.includable_id)}")
      %li(ng-repeat='inclusion in inclusion.includable.assembly_inclusions' ng-click='loadInclusion(inclusion.includable_id); $event.stopPropagation()' ng-class="{'active': (inclusion.includable_type == view_inclusion) && (inclusion.includable_id == view_inclusion_id)}" ng-include="'_recursive_assembly_syllabus.html'")
