.modal-header
  .container
    .span12
      %h3 Recommendations
.modal-body
  .container
    .span12
      .pull-right(ng-click="cancel()")
        %i.icon-remove
      %div(ng-repeat='activity in getDisplayItems()')
        %csGalleryItem( title="activity.title"
                        href="activity.gallery_path"
                        image="itemImageURL(activity, 400)"
                        footer-left="activity.difficulty"
                        footer-right="getFooterRightContents(activity)"
                        sash = "getSashContents(activity)"
                      )
.modal-footer
  %button.btn.btn-primary(ng-click='update()')
    Go!