.modal-fullscreen
  .modal-body
    .container
      .span12
        %div(ng-repeat='activity in recommendations')
          %csGalleryItem( title="activity.title"
                          href="activity.gallery_path"
                          image="itemImageURL(activity, 400)"
                          footer-left="activity.difficulty"
                          footer-right="getFooterRightContents(activity)"
                          sash = "getSashContents(activity)"
                        )
          %div(ng-controller='LikesController')
            %btn.btn-secondary(ng-click="likeObject('Activity', activity.id)")
              Save For Later
      .gallery-spinner.text-center
        %i.icon-page-load
  .modal-header
    .container
      .span12
        %h3.pull-left Recommendations
        .pull-right(ng-click="cancel()")
          %i.icon-remove
  .modal-footer
    %button.btn.btn-primary(ng-click='update()')
      Go!