.modal-fullscreen
  .modal-body
    .container
      .span12
        - ab_test('recommended_vs_curated', 'recommended', 'curated') do |recommendation_type|
          %div(ng-init="loadList('#{recommendation_type}')")
            %div(ng-show='refinable')
              .btn.btn-secondary(ng-click='refine()')
                Refine
            .recommendation.pull-left(ng-repeat='activity in recommendations')
              %csGalleryItem( title="activity.title"
                              href="activity.gallery_path"
                              image="itemImageURL(activity, 400)"
                              footer-left="activity.difficulty"
                              footer-right="getFooterRightContents(activity)"
                              sash = "getSashContents(activity)"
                            )
              %div.text-center(ng-controller='LikesController' ng-init="getCurrentUserLikes('Activity', activity.id)")
                .btn.btn-save-for-later(ng-click="likeObject('Activity', activity.id)")
                  %div(ng-if="current_user_likes")
                    .btn-save-for-later-icon
                      %i.icon-star
                    .btn-save-for-later-text
                      Saved!
                  %div(ng-if="! current_user_likes")
                    .btn-save-for-later-icon
                      %i.icon-star-empty
                    .btn-save-for-later-text
                      Save for Later
        .gallery-spinner.text-center(ng-hide="recommendations.length > 0")
          %i.icon-page-load
  .modal-header
    .container
      .span12
        %h3.pull-left Recommendations
        .pull-right(ng-click="cancel()")
          %i.icon-remove