%div(ng-switch="inclusion.includable_type")
  %a(ng-switch-default)
    %span.text-orange(ng-if="inclusion.isNew") New!
    {{inclusion.includable_title}}
  %div.nested(ng-switch-when="Assembly")
    .hit-box(ng-click="toggleCollapse(inclusion.includable_id); $event.stopPropagation()")
      %a
        %span.text-orange(ng-if="inclusion.isNew && isCollapsed(inclusion.includable_id)") New!
        {{inclusion.includable_title}}&hellip;
    %ul.no-bullet(collapse="isCollapsed(inclusion.includable_id)")
      %li(ng-repeat='inclusion in inclusion.includable.assembly_inclusions'
          ng-click='loadInclusion(inclusion.includable_type, inclusion.includable_slug); $event.stopPropagation()'
          ng-class="inclusionActiveClass(inclusion)"
          ng-include="'_recursive_assembly_syllabus.html'")
