.modal-header
  .container
    .span12
      %h3 Recommendations
.modal-body
  .container
    .span12
      .pull-right(ng-click="cancel()")
        %i.icon-remove
      Sup
.modal-footer
  %button.btn.btn-primary(ng-click='update()')
    Go!