.modal-body
  .container
    .span12(ng-init='loadList()')
      %h2 Here are some recommendations:
      %div(ng-show='refinable')
        .btn.btn-secondary(ng-click='refine()')
          Refine
      .recommendation.pull-left(ng-repeat='activity in recommendations')
        %csGalleryItem( title="activity.title"
                        href="activity.gallery_path"
                        image="itemImageURL(activity, 400)"
                        footer-left="activity.difficulty"
                        footer-right="getFooterRightContents(activity)"
                        sash = "getSashContents(activity)"
                        summary = "activity.description"
                      )
        %div.text-center(ng-controller='LikesController' ng-init="getCurrentUserLikes('Activity', activity.id); showAlert = false;")
          .btn.btn-save-for-later(ng-click="likeObject('Activity', activity.id)")
            %div(ng-if="current_user_likes")
              .btn-save-for-later-icon
                %i.icon-star
              .btn-save-for-later-text
                Saved!
            %div(ng-if="! current_user_likes")
              .btn-save-for-later-icon
                %i.icon-star-empty
              .btn-save-for-later-text
                Save for Later
      .gallery-spinner.text-center(ng-hide="recommendations.length > 0")
        %i.icon-page-load
.modal-footer
  %btn.btn.btn-large.btn-primary(ng-click="next()")
    Done