.section.clearfix(ng-show="getStepOpenForEdit()" ng-scope)
  .btn.btn-secondary.step-media-button(ng-click="showMediaEdit = ! showMediaEdit")
    %i.icon-edit
    Add Photo or Video
    %i.icon-chevron-up(ng-show="showMediaEdit")
    %i.icon-chevron-down(ng-show="! showMediaEdit")
  %div.anim-basic-fade(collapse="showMediaEdit")
    .well
      %h4 Appliance
      %div
        %h5 Appliance Instruction
        .step-content(cs-contenteditable="getStepOpenForEdit()"
                      creator="activity.user"
                      ng-model="step.appliance_instruction_text"
                      placeholder="'Click to add appliance instructions'")
      %div.appliance-block
        %h5 Appliance Instruction Image
        %select( type="text"
                 aria-label="Appliance Instruction Image Type"
                 cs-emit-focus
                 ng-model="step.appliance_instruction_image_type"
                 ng-options="type.value as type.text for type in applianceImageTypes()")
        .csfilepicker(ng-model="step.appliance_instruction_image" ng-if="step.appliance_instruction_image_type == 'custom'" )
        %img.appliance-image(src="https://d92f495ogyf88.cloudfront.net/static/control-freak.png" ng-if="step.appliance_instruction_image_type == 'control_freak'")
        %img.appliance-image(src="https://d92f495ogyf88.cloudfront.net/static/smart-over-air.png" ng-if="step.appliance_instruction_image_type == 'smart_over_air'")
      %h4 Video
      %div
        %h5.inline Youtube ID
        %input.nohtml.inline(type="text" ng-model="step.youtube_id" style="width: 50%;")
      %div
        %h5.inline Vimeo ID
        %input.nohtml.inline(type="text" ng-model="step.vimeo_id" placeholder="Vimeo ID" style="width: 50%;")
      .section
      %h4 Image
      .csfilepicker(ng-model="step.image_id")
      %input.nohtml(ng-show="!!step.image_id" type="text" ng-model="step.image_description" placeholder="Image description" style="width: 100%;")
