%div
  -# %img(src='https://d3awvtnmmsvyot.cloudfront.net/api/file/3Gv3inT0S1Kf2rczZaEK?cache=true')
  .modal-body
    .container
      .row
        .span6.offset3.modal-overlay
          / .pull-right(ng-click="cancel()")
          /   %i.icon-remove
          %h2 Thanks for signing up!
          %p
            Tell us more about yourself and your cooking style and we'll help you find content you'll love!
            %em It's all optional.
          %form(name='Survey')

            %p Where do you live? This will help us connect you to other ChefSteppers.
            %input(type="text" ng-model="location.input" placeholder="ex: Seattle, WA" typeahead="prediction for prediction in getPredictions($viewValue)" typeahead-loading="loadingLocations" class="form-control")

            %div(ng-repeat="question in questions")
              %div(ng-switch on='question.type')
                %div(ng-switch-when='select')
                  %p.survey-question
                    %div
                      {{question.copy}}
                    %div
                      %select(ng-model='question.answer' ng-options='option for option in question.options ')
                %div(ng-switch-when='multiple-select')
                  %p.survey-question
                    %div
                      {{question.copy}}
                    %div(ng-repeat='option in question.options')
                      %label
                        %input(type='checkbox' ng-model="option.checked" )
                        {{option.name}}
            %p.survey-question
              Where do you cook? This will show up in your bio on your profile page.
              %div
                %textarea.input-block-level(ng-model="bio")
          / %button.btn.btn-primary.btn-large.btn-block(ng-click='update()')
          /   Submit!