.modal-body
  .container
    -# .btn(ng-click="survey.showSurvey = !survey.showSurvey")
    -#   Toggle Survey

    -# .btn(ng-click="survey.showRecommendations = !survey.showRecommendations")
    -#   Toggle Recommendations

    %div(ng-show='survey.showSurvey')
      %h2.text-center Thanks for joining ChefSteps!
      %h4.text-center What kinds of things are you most interested in?
      %p.text-center
        Choose three or more for best results.

    .ftue-survey-container(ng-show='survey.showSurvey')
      .ftue-survey
        .ftue-survey-option(ng-repeat='option in survey.options')
          %img(ng-src='{{option.image}}' imageonload='survey.updateStatus(option)')
          .ftue-survey-option-content
            .ftue-survey-button(  ng-click="option.checked = !option.checked"
                                  ng-class="{true:'active', false:'inactive'}[option.checked]" )
              %svg.ftue-survey-button-background(height='20' width='20')
                %circle(cx='10' cy='10' r="10")
              .ftue-survey-button-content
                %i.ftue-survey-button-check(cs-icon='tick')
                .ftue-survey-button-text
                  {{option.name}}
        .ftue-survey-option
          .ftue-survey-option-content.ftue-survey-suggestion
            .ftue-survey-suggestion-input
              %label.ftue-survey-suggestion-label make a suggestion:
              %input(ng-model='survey.suggestion')

      .ftue-survey-done(ng-if="survey.showDone() && survey.showSurvey" ng-click='survey.done()')
        Next

    %div(ng-show='survey.showRecommendations')
      %h2 Here are some recommendations:

    .ftue-survey-container(ng-show='survey.showRecommendations')
      .ftue-survey
        .ftue-survey-option(ng-repeat='recommendation in survey.recommendations')
          %a(ng-href='{{recommendation.url}}')
            %img(ng-src='{{recommendation.image}}')
            .ftue-survey-option-content
              .ftue-survey-button.recommendation-button
                .ftue-survey-button-content
                  .ftue-survey-button-text
                    {{recommendation.title}}

    %div(ng-show='survey.showSuggestionMessage')
      %h2.text-center Thanks for the suggestion!
      %h4.text-center Who knows what we might do next! :)
      .ftue-suggested-container
        .ftue-suggested
          %h4 {{survey.suggestion}}