%div(ng-controller='SurveyController')
  %h3 Survey
  %form(name='Survey')
    %div(ng-repeat="question in questions")
      %div(ng-switch on='question.type')
        %div(ng-switch-when='select')
          %p.survey-question
            %div
              {{question.copy}}
            %div
              %select(ng-model='question.answer' ng-options='option for option in question.options ')
        %div(ng-switch-when='multiple-select')
          %p.survey-question
            %div
              {{question.copy}}
            %div(ng-repeat='option in question.options')
              %label
                %input(type='checkbox' ng-model="option.checked" )
                {{option.name}}
    %button.btn.btn-primary(ng-click='update()')
      Submit