.modal-body
  .container
    -# .pull-right(ng-click="cancel()")
    -#   %i.icon-remove
    %h2 Thanks for signing up!
    %h3 What kinds of things are you most interested in?
    %p
      Choose three or more for best results.
    %form(name='Survey')

      .ftue-survey(ng-repeat="question in questions")
        .ftue-survey-option(ng-repeat='option in question.options')
          %img(ng-src='{{option.image}}')
          .ftue-survey-option-content
            .ftue-survey-button(  ng-click="option.checked = !option.checked"
                                  ng-class="{true:'active', false:''}[option.checked]" )
              %i.fa.fa-check.ftue-survey-button-check(ng-show='option.checked')
              .ftue-survey-button-text
                {{option.name}}
          -# %label
          -#   %input(type='checkbox' ng-model="option.checked" )
          -#   {{option.name}}