.modal-body
  .container
    -# .pull-right(ng-click="cancel()")
    -#   %i.icon-remove
    %h2.text-center Thanks for joining ChefSteps!
    %h4.text-center What kinds of things are you most interested in?
    %p.text-center
      Choose three or more for best results.
    %form(name='Survey')

      .ftue-survey(ng-repeat="question in questions")
        .ftue-survey-option(ng-repeat='option in question.options')
          %img(ng-src='{{option.image}}')
          .ftue-survey-option-content
            .ftue-survey-button(  ng-click="option.checked = !option.checked"
                                  ng-class="{true:'active', false:''}[option.checked]" )
              %svg.ftue-survey-button-background(height='20' width='20')
                %circle(cx='10' cy='10' r="10")
              .ftue-survey-button-content
                %i.ftue-survey-button-check(cs-icon='tick')
                .ftue-survey-button-text
                  {{option.name}}
        .ftue-survey-option
          %label make a suggestion:
          %input(ng-model='question.suggestion')