.modal-body
  .container
    .span8.offset2
      %h2 Welcome to ChefSteps
      %p
        Thanks for joining. We're so glad to have you. Here are some ideas to get you started on the road to cooking smarter.
      %p
        %a(href="/projects/doughnut-holes-recipe-development#/doughnut-holes-intro")
          Recipe Development
        %br
        Follow along as we develop a recipe from start to finish. Each day, our chefs keep notes as they modify, test, and improve their recipes. Use what you learn to test our recipes and offer suggestions, or develop your own!
      %p
        %a(href="/courses")
          Classes
        %br
        Drawing on our years of combined culinary experience, we create hands-on online classes about food and cooking that are both informative and entertaining. We won't tell you how to use a whipping siphon or make macarons from scratch — we'll show you.