%div(ng-if="mode=='custom'")
  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')

  %label Description
  %textarea(ng-model='item.content.description')

  %label Max number of sentences in description
  %input(type='number' ng-model='item.styles.description.sentenceLength')

  %label Url
  %input(type='text' ng-model='item.content.url')
