%fieldset
  %label Rows
  %input(type='number' ng-model='component.form.metadata.rows')

%fieldset
  %label Columns
  %input(type='number' ng-model='component.form.metadata.columns')

%fieldset
  %label Item Type
  %select(ng-options="item.name as item.name for item in itemTypes" ng-model='component.form.metadata.itemTypeName')

%fieldset
  %label Mode
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='api')
    API
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='custom')
    Custom

// Api Mode
%fieldset(ng-if="component.form.mode=='api' && component.form.metadata.itemTypeName")

  // Example API endpoints
  .btn(ng-click="component.form.metadata.api.source = 'http://www.chefsteps.com/api/v0/activities'")
    &#47;api/v0/activities

  %label Source
  %input(type='text' ng-model='component.form.metadata.api.source')

  %div( component-mapper
        connections='component.form.metadata.api.mapper'
        component-keys='itemType.attrs'
        component='component'
        source = 'component.form.metadata.api.source'
        ng-show='component.form.metadata.api.source' )

  %div(ng-if="component.form.metadata.itemType.name == 'Media A'")
    %label Max number of sentences in description
    %input(type='number' ng-model='component.form.metadata.api.styles.description.sentenceLength')

// Custom Mode
%div(ng-if="component.form.mode=='custom'")
  .matrix-item-form(ng-repeat='item in component.form.metadata.custom.items track by $index')
    {{item.styles}}
    %div(component-item item='item' item-type-name="component.form.metadata.itemTypeName" view-mode="component.form.mode == 'custom' ? 'edit':''" styles='item.styles')
