%h1 Edit Component
{{component.form}}
%form#component-form
  %div
    %label
      Name
    %input(ng-model='component.form.name')

  %div
    %button(ng-click="component.form.componentType = 'hero'")
      Hero
    %button(ng-click="component.form.componentType = 'list'")
      List
    %button(ng-click="component.form.componentType = 'matrix'")
      Matrix

  %div(list-form component='component' ng-if="component.form.componentType == 'list'")

  %input(type='submit' value='Save' ng-click='component.save(component.form)')

%div(list component='component.form')

%a.btn.btn-secondary(ui-sref='components.index')
  Cancel
