.matrix
  .matrix-item(ng-repeat='item in items | limitTo: numLimit track by $index' ng-class="'matrix-item-' + columns + '-per-row'")
    %div(component-item item='item' item-type-name="itemTypeName")
