.hero
  .hero-content
    .hero-image
      %img(ng-src='{{content.image}}')
    .hero-cta
      %h2
        {{content.title}}
      %a.btn-outline(ng-href='{{content.url}}')
        {{component.metadata.content.buttonMessage}}
