.matrix(ng-class="'matrix-{{component.meta.columns}}-per-row'")
  .matrix-item(ng-repeat='item in component.meta.items' component-item item='item' item-type-name="component.meta.itemTypeName" theme='component.meta.theme')
