%strong Container List Form
  
%input(type='hidden' ng-model='component.form.componentType' ng-init="component.form.componentType='list'")

%input(type='radio' ng-model='component.form.mode' value='api')
  API

%input(type='radio' ng-model='component.form.mode' value='custom')
  Custom

%div(ng-if="component.form.mode == 'api'")
  %label Source
  %input(ng-model='component.form.metadata.source')

  %div( component-mapper
        connections='component.form.metadata.mapper'
        component-keys="['title', 'image', 'url', 'description']"
        response='component.response'
        component='component'
        ng-show='component.form.metadata.source' )

  %label Max number of items
  %input(ng-model='component.form.metadata.maxitems')

%div(ng-if="component.form.mode=='custom'")
  %label Max number of items
  %input(ng-model='component.form.metadata.maxitems')
