.component-mapper
  .component-mapper-title
    Component Mapper

  %table
    %tr
      %th Component Key
      %th API Key
      %th Value
    %tr.component-key(ng-repeat='connection in connections')
      %td
        {{connection.componentKey}}
      %td
        %select(ng-model='connection.sourceKey' ng-options='key for key in responseKeys' ng-change='changeSourceKey(connection)')
      %td
        %input(type='text' ng-model='connection.value' ng-change='changeValue(connection)')

  .btn(ng-click="showResponse = ! showResponse")
    %span(ng-if='showResponse')
      Hide Response
    %span(ng-if='!showResponse')
      Show Response

  .btn(ng-click="showMapped = ! showMapped")
    %span(ng-if='showMapped')
      Hide Mapped
    %span(ng-if='!showMapped')
      Show Mapped

  %div(ng-show='showResponse')
    %pre
      {{response | json}}
  %div(ng-show='showMapped')
    %pre
      {{mapped | json}}
