.component-item.hero.hero-a(ng-if="item")
  .component-item-content
    %img(ng-src='{{item.content.image | aspect16to9 }}')
  .component-item-content
    .item-content-text
      .item-title(ng-class="'color-'+ item.styles.title.color")
        {{item.content.title}}
      .item-button(ng-class="'color-'+ item.styles.button.color")
        %a.btn-outline(ng-href='{{item.content.url}}')
          {{item.content.buttonMessage}}

.component-item.hero.hero-a.blank(ng-if="!item")
  .component-item-content
    .item-content-text
      .item-title
        Title
      .item-button
        %a.btn-outline(ng-href='{{item.content.url}}')
          Button
