.slideshow(ng-class='{fullscreen: fullscreen}')
  .slideshow-overlay(ng-show='showOverlay' ng-click='closeOverlay()')
    .slideshow-title
      %div Tasting Menu: Spring
      %small See the photos
  .slideshow-slides(ng-keypress='onKeypress($event)')
    .slideshow-slide(ng-repeat='slide in slides track by $index' ng-show='$index == currentIndex' ng-style="backgroundImage(slide)")
      .slideshow-slide-caption(ng-show='!showOverlay && slide.caption')
        {{slide.caption}}
    .slideshow-button-prev(ng-click='prev()' ng-if='preload.prev')
      .slideshow-button-arrow
        %i(cs-icon='arrow-large')
    .slideshow-button-next(ng-click='next()' ng-if='preload.next || currentIndex == 0')
      .slideshow-button-arrow
        %i(cs-icon='arrow-large')
    .slideshow-fullscreen-toggle(ng-click='toggleFullscreen()')
      %i.fa.fa-expand.fa-lg(ng-if='!fullscreen')
      %i.fa.fa-times.fa-2x(ng-if='fullscreen')

  .slideshow-progress
    .slideshow-progress-item(ng-repeat='image in loaded track by $index' ng-class='{active: $index <= currentIndex}')

// Preloader
%img(ng-src='{{preload.prev.image}}' imageonload='imageLoaded(preload.prev)' ng-if='preload.prev && !loaded[preload.prev.index]' ng-hide='true')
%img(ng-src='{{preload.current.image}}' imageonload='imageLoaded(preload.current)' ng-if='preload.current && !loaded[preload.current.index]' ng-hide='true')
%img(ng-src='{{preload.next.image}}' imageonload='imageLoaded(preload.next)' ng-if='preload.next && !loaded[preload.next.index]' ng-hide='true')
