.flex-container
  .component-form
    %h2 New Component
    %div(ng-include="'../../client_views/component_form.html'")

  .component-preview
    %h2 Preview:
    %div(hero component='component.form' ng-if="component.form.componentType == 'hero'")
    %div(list component='component.form' ng-if="component.form.componentType == 'list'")
    %div(matrix component='component.form' ng-if="component.form.componentType == 'matrix'")
