.component-item.hero.hero-a(ng-if="item")
  .component-item-content(ng-style="{'background-image':'url({{ item.content.image }})'}")
    .item-content-text
      .item-title(ng-class="'color-'+ item.styles.title.color")
        {{item.content.title}}
      .item-button(ng-class="'color-'+ item.styles.button.color")
        %a.btn-outline(ng-href='{{item.content.url}}')
          {{item.content.buttonMessage}}

.component-item.hero.hero-a.blank(ng-if="!item")
  .component-item-content
    .item-content-text
      .item-title
        Title
      .item-button
        %a.btn-outline(ng-href='{{item.content.url}}')
          Button

%div(ng-if="item && viewMode=='edit'")
  .component-styles
    .component-styles-title Styles
    %div Title Color:
    %div(component-color-picker component-model='item.styles.title')
    %div Button Color:
    %div(component-color-picker component-model='item.styles.button')

  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')
  %div(filepicker ng-model='item.content.image')

  %label Button Message
  %input(type='text' ng-model='item.content.buttonMessage')

  %label Url
  %input(type='text' ng-model='item.content.url')
