.component-item.hero.hero-a(ng-if="item")
  .component-item-content
    %img(ng-src='{{item.image | aspect16to9 }}')
  .component-item-content
    .item-content-text
      .item-title
        {{item.title}}
      .item-button
        %a.btn-outline(ng-href='{{item.url}}')
          {{item.buttonMessage}}

.component-item.hero.hero-a.blank(ng-if="!item")
  .component-item-content
    .item-divider.first
      Title
    .item-divider.middle
      %a.btn-outline(ng-href='{{item.url}}')
        Button
    .item-divider.last
