.matrix-item-form(ng-repeat='item in component.form.metadata.items track by $index')
  %h5 Matrix Item {{$index}}
  %input(type='text' ng-model='item.title')
  %input(type='text' ng-model='item.image')
  %input(type='text' ng-model='item.buttonMessage')
  %input(type='text' ng-model='item.url')
