.matrix
  .matrix-item(ng-repeat='item in component.metadata.custom.items' ng-class="'matrix-item-{{component.metadata.columns}}-per-row'")
    %div(component-item item='item' item-type-name="component.metadata.itemTypeName" styles='item.styles')
