.component-mapper
  .component-mapper-title
    Component Mapper

  %table
    %tr
      %th Component Key
      %th API Key
    %tr.component-key(ng-repeat='key in componentKeys')
      %td
        {{key}}
      %td
        %select(ng-model='connections[key]' ng-options='key for key in responseKeys')
