%fieldset
  %label Mode
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='api')
    API
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='custom')
    Custom

// API Mode
%fieldset(ng-if="component.form.mode == 'api'")
  %label Source
  %input(type='text' ng-model='component.form.metadata.source')

  %div( component-mapper
        connections='component.form.metadata.mapper'
        component-keys="['title', 'image', 'url']"
        response='component.response'
        component='component'
        ng-show='component.form.metadata.source' )

// Custom Mode
%fieldset(ng-if="component.form.mode=='custom'")
  %label Image
  %input(type='text' ng-model='component.form.metadata.content.image')

  %label Title
  %input(type='text' ng-model='component.form.metadata.content.title')

  %label Button Target URL
  %input(type='text' ng-model='component.form.metadata.content.url')

// All Modes
%fieldset
  %label Button Message
  %input(type='text' ng-model='component.form.metadata.content.buttonMessage')

// Styling
%fieldset
  %label Styles
  %div(ng-repeat='color in component.colorOptions')
    %div(ng-click="component.form.metadata.styles.title.color = color")
      %div(ng-style="{'background-color': color, 'width': '20px', 'height': '20px', 'border': '1px solid black'}")
      %div
        {{color}}
