-# .cs-container-standard
-#   .cs-item-container(ng-repeat='item in content')
-#     .cs-item-standard
-#       .cs-item-content
-#         .cs-item-image
-#           %img(ng-src='{{item.image}}')
-#         .cs-item-title
-#           {{item.title}}
-#         .cs-item-description
-#           {{item.description}}

%ul.list
  %li.list-item(ng-repeat='item in component.metadata.content')
    .list-image
      %img(ng-src="{{item.image}}")
    .list-text
      .list-title
        {{item.title}}

