.component-item-header.header.header-a(ng-if="item")
  .component-item-content
    %h2.header(ng-class="'color-'+ item.styles.title.color")
      {{item.content.header}}
    .subheader
      {{item.content.subheader}}

.component-item-header.list.list-a.blank(ng-if="!item")
  .component-item-content
    %h2.header
      Header
    .subheader
      Subheader

%div(ng-if="item && mode=='custom'")

  %label Header
  %input(type='text' ng-model='item.content.header')

  %label Subheader
  %input(type='text' ng-model='item.content.subheader')
