.container.component-examples
  %h1 Examples

  %hr
  .component-examples-section
    .component-examples-code
      %h3 Media A
      %pre
        :escaped
          %div(component-item item='examples.itemMediaA' item-type-name="'Media A'")
    .component-examples-preview
      %div(component-item item='examples.itemMediaA' item-type-name="'Media A'")


  %hr
  .component-examples-section
    .component-examples-code
      %h3 Media A
      %pre
        :escaped
          %div(component-item item='examples.itemSquareA' item-type-name="'Square A'")
    .component-examples-preview
      %div(component-item item='examples.itemSquareA' item-type-name="'Square A'")
