%fieldset
  %label Rows
  %input(type='number' ng-model='component.form.metadata.rows')

%fieldset
  %label Columns
  %input(type='number' ng-model='component.form.metadata.columns')

%fieldset
  %label Item Type
  %select(ng-options="item.name for item in itemTypes track by item.name" ng-model='component.form.metadata.itemType')

%fieldset
  %label Mode
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='api')
    API
  %label.radio
    %input(type='radio' ng-model='component.form.mode' value='custom')
    Custom

%fieldset(ng-if="component.form.mode=='api' && component.form.metadata.itemType")

  // Example API endpoints
  .btn(ng-click="component.form.metadata.source = 'http://www.chefsteps.com/api/v0/activities'")
    &#47;api/v0/activities

  %label Source
  %input(type='text' ng-model='component.form.metadata.source')

  %div( component-mapper
        connections='component.form.metadata.mapper'
        component-keys='component.form.metadata.itemType.attrs'
        component='component'
        source = 'component.form.metadata.source'
        ng-show='component.form.metadata.source' )

%div(ng-if="component.form.mode=='custom'")
  .matrix-item-form(ng-repeat='item in component.form.metadata.items track by $index')
    %h5 Matrix Item {{$index}}
    %div(component-item item='item' template-url="component.form.metadata.itemType.formTemplateUrl")
