.component-styles-color-picker
  .color-current(ng-if="componentModel.color.length > 0" ng-click='toggleOptions()')
    .color-box(ng-style="{'background-color': componentModel.color}")
    .color-text
      {{componentModel.color}}
  .color-options(ng-show='showOptions')
    .color-option(ng-repeat='color in colorOptions' ng-click="setColor(color)")
      .color-box(ng-style="{'background-color': color}")
      .color-text
        {{color}}
