.slideshow
  .slideshow-button-prev(ng-click='prev()' ng-if='viewer.prev')
    .slideshow-button-text Prev

  .slideshow-viewer
    .slideshow-image.slideshow-viewer-prev
      %img(ng-src="{{viewer.prev}}" ng-if='viewer.prev')
    .slideshow-image.slideshow-viewer-current
      %img(ng-src="{{viewer.current}}")
    .slideshow-image.slideshow-viewer-next
      %img(ng-src="{{viewer.next}}" ng-if='viewer.next')

  .slideshow-button-next(ng-click='next()' ng-if='viewer.next')
    .slideshow-button-text Next
  -# .slideshow-item(ng-repeat='image in images')
  -#   %img(ng-src="{{image}}")
