.item.hero(ng-if="item && !viewMode" ng-class="theme")
  .item-content
    %cs-image.item-content-image(url="item.content.image" aspect="container")
    .item-overlay
    .item-content-text
      .item-title
        {{item.content.title}}
      .item-description
        {{item.content.description}}
      %a.item-button.btn-outline(ng-href='{{item.content.url}}' ng-click='track()' ng-if='item.content.buttonMessage')
        {{item.content.buttonMessage}}

.item.hero.blank(ng-if="!item")
  .item-content
    .item-content-text
      .item-title
        Title
      %a.item-button.btn-outline(ng-href='{{item.content.url}}')
        Button

%div(ng-if="item && viewMode=='edit'")

  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Description
  %textarea(ng-model='item.content.description')

  %label Image
  %input(type='text' ng-model='item.content.image')
  %div(filepicker ng-model='item.content.image')

  %label Button Message
  %input(type='text' ng-model='item.content.buttonMessage')

  %label Url
  %input(type='text' ng-model='item.content.url')
