.flex-container
  .component-form
    %h2 Edit Component
    %div(ng-include="'../../client_views/component_form.html'")

  .component-preview
    %h2 Preview:
    .component(ng-class="'component-padding-' + component.form.metadata.allModes.styles.component.padding")
      %div(single component='component.form' ng-if="component.form.componentType == 'single'")
      %div(matrix component='component.form' ng-if="component.form.componentType == 'matrix'")
    %pre
      {{component.form | json}}
