.component-item.media.media-a(ng-if="item")
  %a.component-item-content(ng-href='{{item.content.url}}')
    .item-content-image
      %img(ng-src='{{item.content.image | aspect16to9 }}')
    .item-content-text
      .item-title(ng-class="'color-'+ item.styles.title.color")
        {{item.content.title}}
      .item-description
        {{item.content.description | noShortcodes | sentences:item.styles.description.sentenceLength }}

.component-item.media.media-a.blank(ng-if="!item")
  .component-item-content
    .item-content-text
      .item-title
        Title
      .item-description
        Description

%div(ng-if="item && mode=='custom'")
  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')

  %label Description
  %textarea(ng-model='item.content.description')

  %label Max number of sentences in description
  %input(type='number' ng-model='item.styles.description.sentenceLength')

  %label Url
  %input(type='text' ng-model='item.content.url')
