%h2 Edit Component
{{component.form}}
%form#component-form
  %div
    %label
      Name
    %input(ng-model='component.form.name')

  %div
    %label
      Component Type
    %button.btn.btn-secondary(ng-click="component.form.componentType = 'hero'")
      Hero
    %button.btn.btn-secondary(ng-click="component.form.componentType = 'list'")
      List
    %button.btn.btn-secondary(ng-click="component.form.componentType = 'matrix'")
      Matrix

  %div(hero-form component='component' ng-if="component.form.componentType == 'hero'")
  %div(list-form component='component' ng-if="component.form.componentType == 'list'")
  %div(matrix-form component='component' ng-if="component.form.componentType == 'matrix'")

%button.btn.btn-secondary(type='submit' ng-click='component.save(component.form)')
  Save

%a.btn.btn-secondary(ui-sref='components.index')
  Cancel

%h2 Preview:
%div(hero component='component.form' ng-if="component.form.componentType == 'hero'")
%div(list component='component.form' ng-if="component.form.componentType == 'list'")
%div(matrix component='component' ng-if="component.form.componentType == 'matrix'")
