%div(ng-if="mode=='custom'")
  .component-styles
    .component-styles-title Styles
    %div Title Color:
    %div(component-color-picker component-model='item.styles.title')
    %div Button Color:
    %div(component-color-picker component-model='item.styles.button')

  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')
  %div(filepicker ng-model='item.content.image')

  %label Button Message
  %input(type='text' ng-model='item.content.buttonMessage')

  %label Url
  %input(type='text' ng-model='item.content.url')
