.item.media.media-a(ng-if="item && !viewMode")
  %a.item-content(ng-href='{{item.content.url}}')
    .item-content-image.zoom-hover
      %cs-image(url="item.content.image" aspect="container")
    .item-content-text(ng-if='item.content.title')
      .item-title(ng-class="'color-'+ item.styles.title.color")
        {{item.content.title}}
      .item-description(ng-if='item.content.description' ng-bind-html="item.content.description | noShortcodes | charLimit:charLimit | toTrusted")
  .item-action(ng-if='item.content.buttonMessage')
    %a.item-button.btn-outline(ng-href='{{item.content.url}}')
      {{item.content.buttonMessage}}

.item.media.media-a.blank(ng-if="!item")
  .item-content
    .item-content-text
      .item-title
        Title
      .item-description
        Description

%div(ng-if="item && viewMode=='edit'")
  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')
  %div(filepicker ng-model='item.content.image')

  %label Description
  %textarea(ng-model='item.content.description')

  %label Button Message
  %input(type='text' ng-model='item.content.buttonMessage')

  %label Url
  %input(type='text' ng-model='item.content.url')
