%strong Container List Form
%form(ng-submit='component.submit()')
  %input(type='hidden' ng-model='component.componentType' ng-init="component.componentType='list'")

  %input(type='radio' ng-model='component.mode' value='api')
    API
  
  %input(type='radio' ng-model='component.mode' value='custom')
    Custom

  %div(ng-if="component.mode == 'api'")
    %label Source
    %input(ng-model='component.metadata.source')

    %div( component-mapper
          connections='component.metadata.mapper' 
          component-keys="['title', 'image', 'targetURL']"
          response='component.metadata.response'
          component='component'
          ng-show='component.metadata.source' )

    %label Max number of items
    %input(ng-model='component.metadata.maxItems')

  %div(ng-if="component.mode=='custom'")
    %label Max number of items
    %input(ng-model='component.metadata.maxItems')

  %button(type='submit')
    submit