%label Button Message
%input(type='text' ng-model='component.form.meta.buttonMessage')

%label Description Character Limit
%input(type='number' ng-model='component.form.meta.descriptionCharLimit' ng-change='component.setDescriptionCharLimit()')

.btn.btn-secondary(ng-click='component.addItem()')
  Add Item

.component-container
  .component(ng-class="component.form.meta.size")
    .matrix(ng-class="'matrix-' + component.form.meta.columns + '-per-row'")
      .matrix-item(ng-repeat='componentItem in component.form.meta.items | limitTo: component.numItems track by $index')
        .item-form
          .btn.btn-secondary(ng-click='component.toggleObject[$index] = !component.toggleObject[$index]')
            %span(ng-if='!component.toggleObject[$index]')
              Edit
            %span(ng-if='component.toggleObject[$index]')
              Close
          %div(search-typeahead custom-method='true' on-select="component.setItem(item, componentItem)" ng-show='component.toggleObject[$index]')
          %div(component-item item='componentItem' item-type-name="component.form.meta.itemTypeName" view-mode="'edit'" theme='component.form.meta.theme' ng-show='component.toggleObject[$index]')
          %div(component-item item='componentItem' item-type-name="component.form.meta.itemTypeName" theme='component.form.meta.theme' char-limit='component.form.meta.descriptionCharLimit' button-message='component.form.meta.buttonMessage')
