%strong Container Hero Form

%form(ng-submit='container.submit()')
  %input(type='hidden' ng-model='container.form.containerType' ng-init="container.form.containerType='hero'")

  %input(type='radio' ng-model='container.form.mode' value='api')
    API
  
  %input(type='radio' ng-model='container.form.mode' value='custom')
    Custom

  // API Mode
  %div(ng-if="container.form.mode=='api'")
    %label Source
    %input(ng-model='container.form.source')

  // Custom Mode
  %div(ng-if="container.form.mode=='custom'")
    %label Image
    %input(ng-model='container.form.image')

    %label Title
    %input(ng-model='container.form.title')

  // All Modes
  %label Button Message
  %input(ng-model='container.form.buttonMessage')

  %label Button Target URL
  %input(ng-model='container.form.targetURL')

  %div
    %button(type='submit')
      submit