%div(ng-if="mode=='custom'")
  %label Title
  %input(type='text' ng-model='item.content.title')

  %label Image
  %input(type='text' ng-model='item.content.image')

  %label Button Message
  %input(type='text' ng-model='item.content.buttonMessage')

  %label Url
  %input(type='text' ng-model='item.content.url')
