%strong Container Matrix
%form(ng-submit='container.submit()')
  %input(type='hidden' ng-model='container.form.containerType' ng-init="container.form.containerType='matrix'")

  %input(type='radio' ng-model='container.form.mode' value='api')
    API
  
  %input(type='radio' ng-model='container.form.mode' value='custom')
    Custom

  %div(ng-if="container.form.mode=='api'")
    %label Source
    %input(ng-model='container.form.source')
    %div(api-connector component-keys="['title', 'image', 'buttonMessage', 'targetURL']" response='container.form.response')

  %div
    %label Rows
    %input(ng-model='container.form.rows')

  %div
    %label Rows
    %input(ng-model='container.form.columns')

  %button(type='submit')
    submit