%strong Container Standard Form

%form(name='creator.form' ng-submit='creator.submit()')

  %input(type='radio' ng-model='creator.mode' value='api')
    API
  
  %input(type='radio' ng-model='creator.mode' value='custom')
    Custom

  %div(ng-if="creator.mode=='api'")
    %label Source
    %input(ng-model='creator.form.source')

    %label Max number of items
    %input(ng-model='creator.form.maxItems')

  %div(ng-if="creator.mode=='custom'")
    %label Max number of items
    %input(ng-model='creator.form.maxItems')

  %button(type='submit')
    submit

%div(preview='creator.form')
  %div(cs-standard='{{creator.form}}' max-items='{{creator.form.maxItems}}')
