%strong Container List Form

%form(name='container.form' ng-submit='container.submit()')
  %input(type='hidden' ng-model='container.form.containerType' ng-init="container.form.containerType='list'")

  %input(type='radio' ng-model='container.form.mode' value='api')
    API
  
  %input(type='radio' ng-model='container.form.mode' value='custom')
    Custom

  %div(ng-if="container.form.mode=='api'")
    %label Source
    %input(ng-model='container.form.source')

    %label Max number of items
    %input(ng-model='container.form.maxItems')

  %div(ng-if="container.form.mode=='custom'")
    %label Max number of items
    %input(ng-model='container.form.maxItems')

  %button(type='submit')
    submit