.cs-container-matrix
  .cs-container-matrix-row(ng-repeat='row in content.items')
    .cs-container-matrix-column(ng-repeat='item in row')
      .cs-container-matrix-item
        .cs-container-matrix-item(container-matrix-item content='item' mode='content.formState')
