.video-loop-player
  %video(loop)
    %source(ng-src="{{trustedVideoUrl(videoUrl)}}")

  .video-loop-button(ng-click="toggle()")
    %i.fa.fa-pause.fa-2x(ng-show="playing")
    %i.fa.fa-play.fa-2x(ng-show="!playing")