.cs-showcase-container
  .cs-showcase
    .cs-showcase-image

      %img(ng-src="{{currentItem.imageUrl}}")

    .cs-showcase-items
      .cs-showcase-item(ng-repeat='item in showcaseItems')
        %h2
          {{item.title}}
        %p
          {{item.description}}
        %img(ng-src="{{item.imageUrl}}")