.egg-app#egg-top(ng-controller="EggTimerController" csskipnav)
  / .egg-bg(ng-class="{'easter-egg' : easterEgg}")

  .egg-timer-container(ng-cloak )
    .egg-all(ng-class="{'settings-active': showSettings}")
      .egg-settings
        .egg-settings-toggle
          %a(ng-click="toggleShowSettings($event)")
            %span.fa.fa-times
        .band
          %span.head5_text
            %span.icon-gear
            SETTINGS
        .indent-group
          %h4 Degree Units
          %ul.nav.nav-tabs.underline
            %li(ng-click="inputs.units ='c'" ng-class="{'active': inputs.units == 'c'}")
              %a &deg;C
            %li(ng-click="inputs.units ='f'" ng-class="{'active': inputs.units == 'f'}")
              %a &deg;F

      .egg-not-settings
        .egg-header
          %a.egg-hamburger(ng-click="toggleShowSettings($event)")
            .hamburger-bar
            .hamburger-bar
            .hamburger-bar

        .egg-body
          / .page-bg(ng-hide="inputs.state == 'size'")
          /   %img(src="assets/egg_timer_background.png")
          .page-switch(ng-switch="inputs.state")
            .page.anim-basic-fade(ng-switch-when="white")
              %h4.text-center What texture would you like your egg white?
              %csfrictionslider.egg-image-carousel(item-offset="inputs.perceptual_white_viscosity" item-width="300")
                %video(loop="true" playsinline="true" controls="true" ng-repeat="whiteVideo in whiteVideos" )
                  %source(ng-src="{{trustedVideo(whiteVideo.video.mp4)}}" type="video/mp4")
                  %source(ng-src="{{trustedVideo(whiteVideo.video.webm)}}" type="video/webm")
                  Looks like your browser does not support the video tag.
              .control-group.text-center
                .controls
                  %a(ng-click="incrementWhite(-1)")
                    %span.icon-angle-left
                    Runny
                  %input(type="range" ng-model='inputs.perceptual_white_viscosity' min="0" max="13" step=".01" aria-label="Runny")
                  %a(ng-click="incrementWhite(1)")
                    Firm
                    %span.icon-angle-right
              .egg-footer
                .btn.btn-primary(ng-click="goState('yolk')")
                  NEXT
                  %span.icon-angle-right

            .page.anim-basic-fade(ng-switch-when="yolk")
              %h4.text-center What texture would you like your egg yolk?
              %csfrictionslider.egg-image-carousel(item-offset="inputs.perceptual_yolk_viscosity - 1" item-width="300")
                %video(loop="true" playsinline="true" controls="true" ng-repeat="yolkVideo in yolkVideos" )
                  %source(ng-src="{{trustedVideo(yolkVideo.video.mp4)}}" type="video/mp4")
                  %source(ng-src="{{trustedVideo(yolkVideo.video.webm)}}" type="video/webm")
                  Looks like your browser does not support the video tag.
              .control-group.text-center
                .controls
                  %a(ng-click="incrementYolk(-1)")
                    %span.icon-angle-left
                    Runny
                  %input(type="range" ng-model='inputs.perceptual_yolk_viscosity' min="1" max="7" step=".01")
                  %a(ng-click="incrementYolk(1)")
                    Firm
                    %span.icon-angle-right
              .egg-footer
                .btn.btn-left.btn-primary(ng-click="goState('white')")
                  %span.icon-angle-left
                  PREV
                .btn.btn-right.btn-primary(ng-click="goState('results')")
                  NEXT
                  %span.icon-angle-right

            .page.anim-basic-fade(ng-switch-when="results")
              .section
                .labeled-time
                  %span Cook at
                %h2.text-center(ng-bind-html="utils.formatTemp(water_temp, inputs.units)")
                .labeled-time
                  %h3(ng-show="! loading") {{utils.formatTime(output.items[1], needsSeconds())}}
                  %h3(ng-show="loading")
                    %span.icon-spinner.icon-spin
              %div
                .labeled-time
                  %span Or, to ice and reheat
                  %h3(ng-show="loading")
                    %span.icon-spinner.icon-spin
                  %h3(ng-show="! loading") {{utils.formatTime(output.items[4], needsSeconds())}}
              .section-tiny.text-center
                Add data for more accurate time:
                .btn.btn-circle.medium(ng-click="goState('size')" ng-class="stateVisited('size')")
                  %h5 Egg Size
                .btn.btn-circle.medium(ng-click="goState('startTemp')" ng-class="stateVisited('startTemp')")
                  %h5 Start Temp
                .btn.btn-circle.medium(ng-click="goState('bathType')" ng-class="stateVisited('bathType')")
                  %h5 Bath Type
              .egg-footer
                .btn.btn-secondary(ng-click="goState('white')")
                  START OVER
                .btn.btn-primary(ng-click="goState('share')")
                  SHARE

            .page.anim-basic-fade(ng-switch-when="share")
              .section
                %h4 Share the egg calculator on your social networks:
              .section
                //= render 'layouts/social_buttons', media_object: nil
                %div(ng-include="'_egg_timer_social.html'")
              .egg-footer
                .btn.btn-primary(ng-click="goState('white')")
                  NEW EGG

            .page.anim-basic-fade(ng-switch-when="size")
              %h4.text-center What (US) size is your egg?
              .section.text-center.egg-size
                %ul.nav.nav-tabs.underline
                  %li(  ng-repeat="choice in eggService.sizeChoices"
                        ng-click="inputs.circumference = choice['mm']"
                        ng-class="{'active': inputs.circumference == choice['mm']}")
                    %a {{choice['name']}}

              %h5.text-center.measure-text
                &hellip; or measure with a string around widest part:
              .section-tiny.text-center
                .egg-circumference-image
                  %img(src="https://d3awvtnmmsvyot.cloudfront.net/api/file/yDpraXOTqaSsZAcEuvpw/convert?fit=max&w=640&cache=true")
              .section-tiny.text-center.egg-circumference
                %input.tiny-input(type="number" ng-model="inputs.circumference" size="3")
                mm
              .egg-footer
                .btn.btn-secondary(ng-click="goState('startTemp')")
                  ADD START TEMP
                .btn.btn-primary(ng-click="goState('results')")
                  DONE

            .page.anim-basic-fade(ng-switch-when="startTemp")
              %h4.text-center What temperature is your egg?
              .section.text-center.egg-start-temp
                %ul.nav.nav-tabs.underline.text-center
                  %li(ng-click="inputs.start_temp = 5" ng-class="{'active': inputs.start_temp == 5}")
                    %a Refrigerated
                  %li(ng-click="inputs.start_temp = 22" ng-class="{'active': inputs.start_temp == 22}")
                    %a Room Temperature
              %div(ng-hide="inputs.units == 'f'")
                .section.text-center
                  OR
                .section.text-center
                  %input.tiny-input.egg-start-temp-input(type="number" ng-model="inputs.start_temp") &deg;C
              .egg-footer
                .btn.btn-secondary(ng-click="goState('bathType')")
                  ADD BATH TYPE
                .btn.btn-primary(ng-click="goState('results')")
                  DONE

            .page.anim-basic-fade(ng-switch-when="bathType")
              %h4.text-center What type of water bath are you using?

              .section.text-center
                %ul.nav.nav-tabs.underline.inline
                  %li(ng-click="inputs.surface_heat_transfer_coeff  = 135" ng-class="{'active': inputs.surface_heat_transfer_coeff == 135}")
                    %a Stirred
                  %li(ng-click="inputs.surface_heat_transfer_coeff  = 165" ng-class="{'active': inputs.surface_heat_transfer_coeff == 165}")
                    %a Unstirred

              .section.tight
                %p(ng-show="inputs.surface_heat_transfer_coeff == 135")
                  A stirred bath is heated by an immersion circulator which also
                  circulates the water.
                %p(ng-show="inputs.surface_heat_transfer_coeff == 165")
                  An unstirred bath heats the water but relies on convection for mixing. Examples include Sous Vide Supreme or the
                  %a(target="/activities/improvised-sous-vide-pot-on-a-stove-method" target="_blank") pot-on-the stove method
                  %span> .

              .egg-footer
                .btn.btn-primary(ng-click="goState('results')")
                  DONE
