/
  Half-Life 3 confir... no, not really.
.component-container
  .component.small
    %h1 Joule and Team Fortress 2
    .sandvich
      %img(src="/assets/sandvichplate.png")
    %p
      What goes together like peanut butter and jelly, Medic and Heavy?
      %br
      Joule and Team Fortress 2.
    %p
      ChefSteps and Valve have partnered to create a custom Team Fortress 2 taunt that features our favorite sous vide device, Joule.
    %p
      If you have already purchased Joule
      %br
      %a(href="/tf2/redemptions" class="button solid red") Redeem Now
    %p
      If you haven't already purchased Joule
      %br
      %a(href="/joule" class="button solid blue") Buy Joule
