/
  Half-Life 3 confir... no, not really.
.page.tf2
  .component-container
    .component.small
      %h1 Joule and Team Fortress 2
      .steak-img
        %img(src="/assets/Buffalo_Steak_Sandvich_plate.png")
      %p
        What goes together like peanut butter and jelly, Medic and Heavy? <b>Joule and Team Fortress 2.</b>
      %p
        ChefSteps and Valve have partnered to create a custom Team Fortress 2 taunt that features our favorite sous vide device, Joule.
      .tf2-cta
        %h4
          If you have already purchased Joule
        %a(href="/tf2/redemptions" class="button solid red") Redeem Now
      .tf2-cta
        %h4
          If you haven't already purchased Joule
        %a(href="/joule" class="button solid blue") Buy Joule
