/
  Half-Life 3 confir... no, not really.
.page.tf2
  .component-container
    .component.small
      %h1 Joule and Team Fortress 2
      .notification-container
      .notification
        We’ll be back shortly.
