/ .flat-form
/   = form_for @upload do |f|
/     = f.hidden_field :assembly_id, value: assembly.id
/     .row-fluid
/       .span6
/         %h4 Upload a Photo

/         %h2 Title
/         %p Name your creation.
/         %p= f.text_field :title, class: 'input-block-level', required: true
/         %h2 Story
/         %p Tell us a story about your success, failures, variations and creations.  What worked and what didn't work?  What did you change to suit your palate or your dietary restrictions?
/         %p= f.text_area :notes, rows: 3, class: 'input-block-level', required: true
/         %h2 Upload a Photo
/         %p Drop a photo on the target below or click the button to show a picture along with your creation.
/         .upload-wrapper
/           = image_tag '/assets/missing.png', class: "upload-photo-preview"
/           = link_to '+', 'javascript:void(0);', class: 'upload-photo-btn'
/           %p= f.hidden_field :image_id, class: 'input-block-level upload-photo-field', required: true
          
/         = f.submit 'Upload', class: 'btn btn-primary btn-large'

.flat-form(ng-controller='UploadsController' ng-init="init(#{assembly.id})" )
  .span6(ng-show="upload.status == 'new'")
    %form(ng-submit='submit()')
      %h2 Upload a Photo

      %h3 Title
      %p Name your creation
      %input.input-block-level(type='text' ng-model='upload.title' required=true)

      %h3 Story
      %p Tell us a story about your success, failures, variations and creations.  What worked and what didn't work?  What did you change to suit your palate or your dietary restrictions?
      %textarea.input-block-level(ng-model='upload.notes' required=true)

      %h3 Add a photo
      %p Click the button below to show a picture along with your creation.
      %p
        %img(ng-src="{{upload.image_src}}" ng-show='upload.image_src.length > 0')
        %input(type='hidden' ng-model='upload.image_id')
        .btn.btn-secondary(ng-click='addPhoto()')
          %span(ng-show="typeof(upload.image_id) == 'undefined'")
            Upload Photo
          %span(ng-show="typeof(upload.image_id) != 'undefined'")
            Change Photo
      %p
        %input.btn.btn-primary(type='submit')
    .modal#upload-modal
      .modal-header
        %h4= "Congratulations, you've completed the #{@course.title} Course!"
      .modal-body
        body
      .modal-footer
        .btn.btn-primary.btn-large{data: {dismiss: 'modal', target: '#upload-modal'}}
          Done
  %div(ng-show="upload.status == 'show'")
    %h2 Upload Successful!
    %h3
      {{upload.title}}
    %p
      {{upload.notes}}
    %img(ng-src="{{upload.image_src}}")
