%div(ng-controller="BuyAssemblyStripeController" ng-init='assembly=#{assembly.to_json}; logged_in=#{current_user != nil}; enrolled=#{enrolled ? true : false}; assemblyPath="#{assembly_path(assembly)}"' ng-cloak)
  %div(ng-show="enrolled")
    %h3 You Are Already Enrolled
    .btn.btn-primary.btn-large
      %a(ng-href="{{assemblyPath}}")
        Continue Course

  %div(ng-show="(! enrolled) && assembly.price")
    %h3 So Give Us Your Money

    %p
      You'll be making macarons this lovely in no time!
    .section
      .btn.btn-primary.btn-large#buy-button(ng-click="openModal()")
        Buy Now For Just {{assembly.price | currency}}

    %div.buy-modal(close="closeModal()" modal="buyModalOpen" ng-cloak)
      .modal-header
        %h2
          Purchase {{assembly.title}} for {{assembly.price | currency}}
      .modal-body(ng-switch on="state")
        .row-fluid(ng-switch-when="charge" )
          %form.form-horizontal.charge-form(stripe-form="handleStripe" name="chargeForm") 
            .control-group(ng-show="errorText")
              .controls.error-text
                {{errorText}}
                Please fix errors and try again.
                               
            .control-group
              %label.control-label(for="name")
                Cardholder's Name
              .controls
                %input.input-xlarge(type="text" ng-model="name" required name="cardholder_name")
            .control-group
              %label.control-label(for="")
                Card Number
              .controls
                %input.input-xlarge(ng-model="number" payments-format="card" payments-validate="card" type="text" required  name="card_number")
            .control-group
              %label.control-label(for="")
                Expiration Date
              .controls
                %input.input-small(ng-model="expiry" payments-format="expiry" payments-validate="expiry" type="text" required  name="expiry")
            .control-group
              %label.control-label(for="")
                Security Code (CVC)
              .controls
                %input.input-small(ng-model="cvc" payments-format="cvc" payments-validate="cvc" type="text" required  name="cvc")
            .control-group(ng-hide="processing")
              .controls                    
                %button.btn.btn-primary.btn-large#complete-buy(ng-click="maybeStartProcessing(chargeForm)") Buy Now     
                %button.btn.btn-link.cancel#cancel-buy(ng-click="closeModal()"  type="button") Cancel
            .control-group(ng-show="processing")
              .controls
                %i.icon-spinner.icon-2x.icon-spin
                Processing your card
        .row-fluid(ng-switch-when="thanks")
          %h3 Thank you for your purchase!
          .section         
            .btn.btn-large.btn-primary     
              %a(ng-href="{{assemblyPath}}")
                Get Started
