.buy-modal(close="closeModal()" modal="buyModalOpen" options="modalOptions" ng-cloak)
  .modal-body.buy-modal-body(ng-switch on="state")
    .row-fluid(ng-switch-when="gift")
      .close-x.pull-right#cancel-charge(ng-click="closeModal()")
        %i.icon-remove
      %form.gift-form(name="giftForm") 
        .control-group
          %label.control-label(for="recipient_name")
            Recipient Name
          .controls
            %input.input-full(ng-model="giftInfo.recipientName" type="text" required  name="recipient_name")
          %label.control-label(for="recipient_email")
            Recipient Email Address
          .controls
            %input.input-full(ng-model="giftInfo.recipientEmail" type="email" required  name="recipient_email")
          %label.control-label(for="recipient_message")
            Personal Message (Optional)
          .controls
            %textarea.input-full(ng-model="giftInfo.recipientMessage"  rows="4" name="recipient_message" maxlength="1024")
        .divider
        .control-group.text-center
          .controls                    
            %button.btn.btn-secondary.btn-large#next-button(ng-click="maybeMoveToCharge(giftForm)") 
              NEXT 

    .row-fluid(ng-switch-when="charge" )
      .close-x.pull-right#cancel-charge(ng-click="closeModal()")
        %i.icon-remove

      %form.charge-form(stripe-form="handleStripe" name="chargeForm") 
        .control-group(ng-show="errorText")
          .controls.error-text
            {{errorText}}
                            
        .control-group
          %label.control-label(for="")
            Credit Card Number
          .controls
            %input.input-full.inspectletIgnore(ng-model="number" payments-format="card" payments-validate="card" type="text" required  name="card_number")
          %label.control-label(for="name")
            Name
          .controls
            %input.input-full.inspectletIgnore(type="text" ng-model="name" required name="cardholder_name")
          .expdate-group.inline
            %label.control-label(for="")
              Expiration Date
            .controls
              %input.input-mini.inspectletIgnore(ng-model="expMonth" type="text" pattern="[0-9]{1,2}" required  name="expMonth")
              .date-slash.inline
                \/
              %input.input-mini.inspectletIgnore(ng-model="expYear" type="text" pattern="[0-9]{1,4}" required  name="expYear" )             
          .cvc-group.inline
            %label.control-label(for="")
              Security Code (CVC)
            .controls
              %input.input-mini.inspectletIgnore(ng-model="cvc" payments-format="cvc" payments-validate="cvc" type="text" pattern="[0-9]{3,4}" required  name="cvc")
        .divider
        .control-group(ng-show="isGift && ! processing")
          %label.radio
            %input(type="radio" name="giftEmailRadios" ng-model="giftInfo.emailToRecipient" ng-value="true")
              Email gift to {{giftInfo.recipientName}} now
          %label.radio
            %input(type="radio" name="giftEmailRadios" ng-model="giftInfo.emailToRecipient" ng-value="false")
              Email gift to me to deliver later

        .control-group.text-center(ng-hide="processing")
          .controls                    
            %button.btn.btn-primary.btn-large#complete-buy(ng-click="maybeStartProcessing(chargeForm)") 
              BUY NOW 
              = render 'activities/latest/assembly_price'

            .tiny-note
              All Taxes Included   
        .control-group.text-center(ng-show="processing")
          .controls
            %i.icon-spinner.icon-2x.icon-spin
            Processing your card

    .row-fluid(ng-switch-when="thanks")
      %div(ng-show="! isGift")
        %p
          Thank you for your purchase of our {{assembly.title}} class. We're grateful to have you as a member of member of the ChefSteps community, and if we can be of any assistance, we are always happy to hear from you at&nbsp; 
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center         
          .btn.btn-large.btn-primary     
            %a(ng-href="{{assemblyPath}}")
              Start The Class

      %div(ng-show="isGift")
        %p
          Thank you for giving our {{assembly.title}} class as a gift. Your gift email has been sent. We're grateful to have you as a member of member of the ChefSteps community, and if we can be of any assistance, we are always happy to hear from you at&nbsp; 
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center         
          %a(ng-click="closeModal(false)")
            .btn.btn-large.btn-primary     
              OK

    .row-fluid(ng-switch-when="thanks_redeem")
      .text-center(ng-show="processing")
        %i.icon-spinner.icon-2x.icon-spin
        Redeeming your gift

      %div(ng-show="! processing")
        %p
          Welcome to the ChefSteps' {{assembly.title}} class. If we can be of any assistance, we are always happy to hear from you at&nbsp; 
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center         
          %a(ng-href="{{assemblyPath}}")
            .btn.btn-large.btn-primary     
              Start The Class