.buy-modal(close="closeModal()" modal="buyModalOpen" options="modalOptions" ng-cloak)
  .modal-body.buy-modal-body(ng-switch on="state")
    .row-fluid(ng-switch-when="gift")
      .close-x.pull-right#cancel-charge(ng-click="closeModal()")
        %i.icon-remove
      %form.gift-form(name="giftForm")
        .control-group
          %label.control-label(for="recipient_name")
            Recipient Name
          .controls
            %input.input-full(ng-model="giftInfo.recipientName" type="text" required  name="recipient_name")
          %label.control-label(for="recipient_email")
            Recipient Email Address
          .controls
            %input.input-full(ng-model="giftInfo.recipientEmail" type="email" required  name="recipient_email")
          %label.control-label(for="recipient_message")
            Personal Message (Optional)
          .controls
            %textarea.input-full(ng-model="giftInfo.recipientMessage"  rows="4" name="recipient_message" maxlength="1024")
        .divider
        .control-group.text-center
          -# This is for non admins to move to the CC step
          .controls(ng-if="! hasPermission('sendFree gifts')")
            %button.btn.btn-secondary.btn-large#next-button(ng-click="maybeMoveToCharge(giftForm)")
              NEXT
          -# This is for admins to just submit the thing
          .control-group(ng-if="isGift && hasPermission('sendFree gifts')")
            %label.radio
              %input(type="hidden" name="giftEmailRadios" ng-model="giftInfo.emailToRecipient" ng-value="true")
            .controls
              %button.btn.btn-secondary.btn-large#admin-next-button(ng-click="adminSendGift()")
                Email gift now

    .row-fluid(ng-switch-when="charge" )
      .close-x.pull-right#cancel-charge(ng-click="closeModal()")
        %i.icon-remove

      %form.charge-form(stripe-form="handleStripe" name="chargeForm" ng-disabled="disableForm")
        %h3 Woo-hoo!
        %p.section You're about to purchase the <b>{{assembly.title}}</b> {{assembly.assembly_type == 'Course' ? 'Class':assembly.assembly_type}}. Please choose a payment method below:
        .control-group(ng-show="errorText")
          .controls.error-text
            {{errorText}}
        %div.section.cards-radio-select(ng-if="authentication.currentUser().stripe_id")
          %div.cards(ng-repeat="card in currentCustomer.cards.data")
            %input(type='radio' name='selectedCard' data-ng-model='$parent.selectedCard' ng-value='card.id' ng-change='selectedCardChanged(selectedCard)')
              {{card.type}} ending in {{card.last4}}, expires {{card.exp_month}}/{{card.exp_year}}
          %input(type='radio' name='selectedCard' data-ng-model='selectedCard' value='newCard' ng-change='selectedCardChanged(selectedCard)')
            %b Add a new card

        %small We use <a href="https://stripe.com">Stripe</a> to process and keep track of all payments. They're super-secure.

        %div(ng-show="creditCardFormVisible")

          .control-group(ng-show="!authentication.isAdmin()")
            %label.control-label(for="")
              Credit Card Number
            .controls
              %input.input-full.inspectletIgnore(ng-model="number" payments-format="card" payments-validate="card" type="text" ng-required="!authentication.isAdmin()"  name="card_number")
            %label.control-label(for="name")
              Name
            .controls
              %input.input-full.inspectletIgnore(type="text" ng-model="name" ng-required="!authentication.isAdmin()" name="cardholder_name")
            .expdate-group.inline
              %label.control-label(for="")
                Expiration Date
              .controls
                %input.input-mini.inspectletIgnore(ng-model="expMonth" type="text" pattern="[0-9]{1,2}" ng-required="!authentication.isAdmin()"  name="expMonth")
                .date-slash.inline
                  \/
                %input.input-mini.inspectletIgnore(ng-model="expYear" type="text" pattern="[0-9]{1,4}" ng-required="!authentication.isAdmin()"  name="expYear" )
            .cvc-group.inline
              %label.control-label(for="")
                Security Code (CVC)
              .controls
                %input.input-mini.inspectletIgnore(ng-model="cvc" payments-format="cvc" payments-validate="cvc" type="text" pattern="[0-9]{3,4}" ng-required="!authentication.isAdmin()"  name="cvc")
        .control-group(ng-show="isGift && ! processing")
          %label.radio
            %input(type="radio" name="giftEmailRadios" ng-model="giftInfo.emailToRecipient" ng-value="true")
              Email gift to {{giftInfo.recipientName}} now
          %label.radio
            %input(type="radio" name="giftEmailRadios" ng-model="giftInfo.emailToRecipient" ng-value="false")
              Email gift to me to deliver later

        .divider
        .control-group.text-center(ng-hide="processing")
          .controls
            %div(ng-if="!selectedCard")
              .btn.btn-secondary.btn-large(disabled=true)
                Buy Now
                = render 'activities/latest/assembly_price'
            %div(ng-if="selectedCard == 'newCard'")
              %button.btn.btn-primary.btn-large#complete-buy(ng-click="maybeStartProcessing(chargeForm)" ng-disabled="disableForm")
                BUY NOW
                = render 'activities/latest/assembly_price'
            %div(ng-if="selectedCard && selectedCard != 'newCard'")
              .btn.btn-primary.btn-large(ng-click="chargeCustomer()" ng-disabled="disableForm")
                BUY NOW
                = render 'activities/latest/assembly_price'

            .tiny-note
              All Taxes Included
        .control-group.text-center(ng-show="processing")
          .controls
            %i.icon-spinner.icon-2x.icon-spin
            Processing your card

    .row-fluid(ng-switch-when="thanks")
      %div(ng-show="! isGift")
        %p
          Thank you for your purchase of our {{assembly.title}} class. We're grateful to have you as a member of the ChefSteps community, and if we can be of any assistance, we are always happy to hear from you at&nbsp;
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        // PINTEREST PIXEL TRACKING
        %div(style='opacity: 0;')
          %img(height="1" width="1" alt="" src="https://ct.pinterest.com/?tid=EIJLKrYQczq")

        .section.text-center
          .btn.btn-large.btn-primary
            %a(ng-href="{{assemblyPath}}")
              Start The Class

      %div(ng-show="isGift")
        %p
          Thank you for giving our {{assembly.title}} class as a gift. Your gift email has been sent. We're grateful to have you as a member of the ChefSteps community, and if we can be of any assistance, we are always happy to hear from you at&nbsp;
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center
          %a(ng-click="closeModal(false)")
            .btn.btn-large.btn-primary
              OK

    .row-fluid(ng-switch-when="thanks_redeem")
      .text-center(ng-show="processing")
        %i.icon-spinner.icon-2x.icon-spin
        Redeeming your gift

      %div(ng-show="! processing")
        %p
          Welcome to the ChefSteps' {{assembly.title}} class. If we can be of any assistance, we are always happy to hear from you at&nbsp;
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center
          %a(ng-href="{{assemblyPath}}")
            .btn.btn-large.btn-primary
              Start The Class

    .row-fluid(ng-switch-when="free_enrollment")
      .text-center(ng-show="processing")
        %i.icon-spinner.icon-2x.icon-spin
        Enrolling you into the class

      %div(ng-show="! processing")
        %p
          Welcome to the ChefSteps' {{assembly.title}} {{assemblyTypeName}}. If we can be of any assistance, we are always happy to hear from you at&nbsp;
          %span>=link_to "info@chefsteps.com", "mailto:info@chefsteps.com", { target: "_blank", class: "profile-email-addr"}
          \.
        .section.text-center
          %a(ng-href="{{assemblyPath}}")
            .btn.btn-large.btn-primary
              Start The {{assemblyTypeName}}
