.kit(ng-controller="KitController" ng-init="loadKit(#{@assembly.id})" ng-cloak)
  .kit-intro-container(ng-click="toggleIntro()" ng-class="{'intro-active':introActive, 'nav-active':navActive}")
    .kit-intro
      .kit-intro-image
        %cs-image(url="kit.image_id" height="parent" width="parent")
        .kit-gradient
      .kit-intro-title(ng-click="toggleNav()")
        %h1.section
          {{kit.title}}
        .intro
          %h5.get-started
            Let's get started!
          %p ChefSteps is here to help you cook smarter, and we're offering these kits to help you hone your craft with plating skills. Special thanks to Michael Draper, Jon Dughi, Julian Garcia, Kristel Wyman, Kathy Liu, Michael Rupp, Eric Brumer, Marty Sweetman, Shawna Deane, Tony Smith, and Genna Gormley for beta testing this program.
  .kit-viewer(ng-class="{'viewer-active':viewerActive, 'nav-active':navActive}")
    .kit-page
      %div(ng-switch="currentInclusion.includable_type")
        %div(ng-switch-when="Activity")
          .wide-item
            %csembedyoutube(video-id='{{activity.youtube_id}}')
          .standard-item
            %br
            %h2
              {{activity.title}}
            %p
              {{activity.description}}
            %br
          %div(ng-controller="StepsController")
            = render 'activities/steps'
        %div(ng-switch-when="Assembly" ng-controller='GalleryController')
          .wide-item(ng-repeat="activity in currentItemActivities")
            %csGalleryItem( title="activity.title"
                            href="'/activities/' + activity.slug"
                            image="itemImageURL(activity, 400)"
                            summary="activity.description"
                            footer-left="activity.difficulty"
                            footer-right="getFooterRightContents(activity)"
                            sash = "getSashContents(activity)"
                          )
            / %h3
            /   {{activity.title}}
            / / %csembedyoutube(video-id='{{activity.youtube_id}}')
            / %img(cs-responsive-image='activity.featured_image_id')
  .kit-nav-container(ng-class="{'viewer-active':viewerActive, 'nav-active':navActive}")
    .kit-nav-item(  ng-repeat="inclusion in kit.assembly_inclusions"
                    ng-click="loadItem(inclusion)"
                    ng-class="activateItem(inclusion)"
                  )
      .kit-nav-item-title
        {{inclusion.includable_title}}
      .kit-nav-item-image
        %cs-image(url='inclusion.includable_image_id' aspect='16:9')
      .kit-nav-item-triangle()

  / .kit-toggles
  /   %a(ng-click="toggleIntro()")
  /     Intro
  /   %a(ng-click="toggleNav()")
  /     Nav
