.kit(ng-controller="KitController" ng-init="loadKit()" ng-cloak ng-class="state")
  .kit-intro(ng-click="changeStateTo('intro-active')")
    .kit-intro-image
      %img(cs-responsive-image='kit.image_id')
    .kit-intro-title
      %h1
        {{kit.title}}
  .kit-nav-container
    .kit-nav-item(ng-repeat="assembly in kit.assembly_inclusions" ng-click="loadItem(assembly)")
      .kit-nav-item-title
        {{assembly.includable_title}}
      .kit-nav-item-image
        %img(cs-responsive-image='assembly.includable.image_id')
  .kit-viewer
    .kit-page
      %h2
        {{currentItem.includable_title}}
      %div(ng-repeat="activity in currentItemActivities")
        %h3
          {{activity.title}}
        %csembedyoutube(video-id='{{activity.youtube_id}}')

  .kit-toggles
    %a(ng-click="changeStateTo('intro-active')")
      Intro
    %a(ng-click="changeStateTo('nav-active')")
      Nav
    %a(ng-click="changeStateTo('page-active')")
      Page