.section-large
.container.section-large
  .span6.offset3.text-center
    %img.section(src="https://d3awvtnmmsvyot.cloudfront.net/api/file/G0cTKZ50ShqUQ2kSx505/convert?fit=max&w=1200&quality=90&cache=true")
    %h4 The Sous Vide class you were looking for has now moved to:
    %h2 Cooking Sous Vide:
    %h3 Getting Started
    %hr
    %btn.btn.btn-primary.btn-large
      %a(href="/classes/cooking-sous-vide-getting-started/landing")
        Take me there!