- content_for :title, "#{@course.title.html_safe} - Class"
- content_for :description, @course.description != "" ? @course.description.html_safe : @course.title.html_safe

.container.pre-registration
  .row.section
    .span8.offset2.text-center

      %h3
        Enter your email address to be notified when our &nbsp;
        %b> #{@course.title.html_safe}
        &nbsp; class is available.

      %form.form-horizontal{action: "http://www.aweber.com/scripts/addlead.pl ", method: "post"}
        %fieldset
          %input{name: "listname", type: "hidden", value: @list_name}/
          %input{name: "redirect", type: "hidden", value: "http://www.chefsteps.com/pages/thank-you-preregister"}/
          %input{name: "meta_adtracking", type: "hidden", value: "prereg page"}/
          %input{name: "meta_message", type: "hidden", value: "1"}/
          %input{name: "meta_required", type: "hidden", value: "email"}/
          %input{name: "meta_forward_vars", type: "hidden", value: "1"}/
          %input.input-xlarge{name: "email", type: "text", value: "", placeholder: "Email address"}/
          %input.btn.btn-primary{name: "submit", type: "submit", value: "SIGN UP"}/

  .row.background
    .span12.text-center
      %img(src="https://www.filepicker.io/api/file/YVQTNVDyTYK2c6Jq2ogN")



 