.btn[disabled][data-behavior~='loadable'], .btn.disabled[data-behavior~='loadable']
  &:before
    display: block
    content: ''
    background: url('ajax-loader.gif') no-repeat
    background-position: center
    height: 20px
    width: 20px

.btn-primary
  background-image: none
  background: $brick
  &:hover
    background: $brickDark

.btn-facebook
  +buttonBackground($btnFacebookBackground, $btnFacebookBackgroundHighlight)
  position: relative
  padding-left: 47px
  font-size: 19px

  &:before
    $fb-logo: 'facebook-logo.png'
    position: absolute
    background: image-url($fb-logo)
    width: image-width($fb-logo)
    height: image-height($fb-logo)
    display: inline-block
    left: 5px
    top: 5px
    content: ''

.btn-x-large
  padding: 22px 28px
  font-size: 18px
  line-height: normal
  +border-radius(7px)

.btn-uppercase
  @extend .btn
  text-transform: uppercase

.btn-next, .btn-prev
  height: 67px
  width: 32px
  padding: 0
  text-decoration: none
  border-color: transparent
  [class^="icon-"]
    line-height: 67px
    color: $white

.btn-next
  +box-shadow(-1px 0px 2px 0px rgba(0, 0, 0, 0.5))
  +border-radius(0 67px 67px 0)

.btn-prev
  +box-shadow(1px 0px 2px 0px rgba(0, 0, 0, 0.5))
  +border-radius(67px 0 0 67px)

.button
  display: inline-block
  background: $brick
  color: $white
  text-transform: uppercase
  text-align: center
  border: none
  +border-radius(5px)
  padding: 3px
  +text-selection(none)
  &.inverse
    background: $white
    color: $brick
    .inner
      border-color: $brick
  &:hover
    text-decoration: none
    color: $white
    background: $brickDark
    cursor: pointer
  .inner
    border: 1px dashed $white
    +border-radius(5px)
    padding: 10px 15px
    span
      vertical-align: middle

