@import compass/css3/images

[data-behavior~=checkbox]
  border: 1px solid transparent
  padding: 5px 7px 0 45px
  position: relative
  min-height: 35px
  list-style-type: none
  display: inline-block
  overflow: hidden

  input
    display: none

  label
    +font-sans-medium
    line-height: 28px
    display: inline

  &:before
    content: ''
    width: 26px
    height: 26px
    background: $beige
    border: 1px solid darken($beige, 20%)
    +border-radius(2px)
    +box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5))
    position: absolute
    top: 6px
    left: 6px

  &:hover, &.active
    border: 1px solid $grayMedium
    background: $grayLight
    +border-radius(2px)

  &.active
    &:before
      content: "\2713"
      border: 1px solid darken($grayLighter, 20%)
      font-size: 44px
      line-height: 26px
      color: $brick
      +background-image(linear-gradient(whiteSmoke, $grayLight 30%, $beige))
      +box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.5))
