@import bootstrap_config

.dial-wrapper
  display: none
  width: 180px
  height: 180px
  position: relative

  canvas
    //+border-radius(100px)
    background: $white

  .dial-text, .dial-caption
    //+font-sans-small
    font-weight: 500
    text-align: center
    text-transform: uppercase

  .dial-text
    color: $brick
    position: absolute
    top: 52px
    left: 0
    right: 0
    line-height: 50px

    strong
      display: block
      font-size: 85px

  .dial-caption
    color: $gray
    margin-top: 10px
    line-height: 20px
    span
      color: $brick

  &.medium
    width: 115px
    height: 115px
    .dial-text
      top: 29px
      line-height: 31px
      strong
        font-size: 45px

  &.small
    width: 90px
    height: 90px
    .dial-text
      //+font-sans-tiny
      top: 20px
      line-height: 28px
      strong
        font-size: 36px
    .dial-caption
      //+font-sans-tiny
