=font-sans-tiny
  font-family: $sansFontFamily
  font-size: 11px

=font-sans-small
  font-family: $sansFontFamily
  font-size: 14px

=font-sans-medium
  font-family: $sansFontFamily
  font-size: 16px

=font-sans-large
  font-family: $sansFontFamily
  font-size: 20px

=font-serif-small
  font-family: $serifFontFamily
  font-size: 14px

=font-serif-medium
  font-family: $serifFontFamily
  font-size: 16px

=font-serif-large
  font-family: $serifFontFamily
  font-size: 20px

