.navbar
  margin-bottom: 0

.navbar .brand
  margin-top: 20px
  padding-bottom: 8px
  max-height: 40px
  width: auto
  font-size: 40px
  font-variant: small-caps
  color: black
  font-weight: normal
  letter-spacing: 1px
  strong
    font-weight: normal

.brand-byline
  clear: left
  margin-left: 45px
  +font-sans-tiny
  font-style: italic

.navbar .navbar-inner
  background: white
  filter: none
  height: 80px
  +box-shadow(none)
  border: 0

.navbar .nav
  margin-top: 20px

.navbar .nav > li > a
  color: #333
  padding: 10px 10px 11px
  text-shadow: none

.navbar .nav > li > a:hover
  color: #111

.navbar .nav > li.active > a
  background: none
  color: #111

.navbar .nav > li.active > a:hover
  background: none
  color: #111

.addthis_toolbox
  vertical-align: baseline
  width: 400px
  padding-top: 10px
  a
    vertical-align: baseline

