.navbar
  margin-bottom: 0

.navbar .brand
  margin-top: 20px
  padding-bottom: 8px
  max-height: 40px
  width: auto

.navbar .navbar-inner
  background: white
  filter: none
  height: 80px
  +box-shadow(none)
  border: 0

.navbar .nav
  margin-top: 20px

.navbar .nav > li > a
  color: #333
  padding: 10px 10px 11px
  text-shadow: none

.navbar .nav > li > a:hover
  color: #111

.navbar .nav > li.active > a
  background: none
  color: #111

.navbar .nav > li.active > a:hover
  background: none
  color: #111


.addthis_toolbox
  width: 300px
  a
    line-height: 32px
    vertical-align: baseline
  a:hover
    text-decoration: none
  i, .at_PinItButton
    display: inline-block
    font-size: 40px
  .at_PinItButton
    background: none
    border: 0
    text-indent: 0
    +box-shadow(none)

    width: auto
    height: auto
    line-height: inherit
    background-image: none
    background-position: 0% 0%
    background-repeat: repeat
    &:before
      content: "\f0d3"
      font-family: FontAwesome
      font-weight: normal
      font-style: normal
      display: inline-block
      text-decoration: inherit
