.navbar
  margin-bottom: 0

.navbar .brand
  padding: 25px 0 0 0

.brand-byline
  clear: left
  margin-left: 45px
  line-height: 20px
  +font-sans-tiny
  font-style: italic
  padding-top: 10px

.delve-brand img
  display: inline-block
  margin: -10px 0 0 5px

.navbar .navbar-inner
  background: white
  filter: none
  +box-shadow(none)
  border: 0

.navbar .nav > li > a
  color: $brick
  padding: 0
  text-shadow: none

.navbar .nav > li.active > a
  background: none
  color: #111

.navbar .addthis-container
  margin-top: 10px

.addthis_toolbox
  a
    margin-left: 5px
    &.addthis_button_google_plusone
      margin-left: -3px

