@import compass/css3/transition

=no-icons
  i[class^="icon-"]
    display: none

.clearfix:after
  content: ""
  display: table
  clear: both

.enter-email
  float: right
  margin-top: 14px
  margin-bottom: -11px

.global-navigation
  +font-serif-large
  font-size:  18px
  color: $black
  margin-top: 10px
  margin-bottom: 7px
  display: inline-block
  position: relative

  .brand-container
    display: inline-block
    vertical-align: bottom
    margin-left: 0px
    margin-top: 0px
    margin-bottom: 0px
    float: none

  .navbar
    padding-left: 20px
    display: inline-block
    vertical-align: bottom
    margin-bottom: 7px

    .nav > li
      float: none

    li
      margin-top: 0px
      padding-top: 0px
      display: inline-block
      padding-right: 22px
      text-align: center
      line-height: 19px

      &.last, &:last-child
        padding-right: 0

    li > a
      color: $brick

    li > a:hover
      color: $brickDark

    .social
      margin-bottom: -2px
      li
        padding-right: 0px

    .subscribe
      margin-bottom: 2px
      form
        margin: 0px
        input
          width: 210px

  .user-auth
    .dropdown
      position: absolute
      top: 0
      right: 0
      img
        width: 44px
        height: 44px
      .dropdown-menu
        margin-left: -110px
        margin-top: 5px
        li
          padding: 0px
          width: 100%
          +font-sans-medium
          text-align: left
          a
            color: black
            &:hover
              color: white
    .sign-in-button
      position: absolute
      top: 2px
      right: 0px

// This stuff applies to both the global nav bar and the sticky navbar
.navbar
  margin-bottom: 0

.navbar .navbar-inner
  background: white
  filter: none
  +box-shadow(none)
  border: 0

.global-navigation .navbar .nav
  float: none

.navbar .nav > li > a
  color: $brick
  padding: 0
  text-shadow: none

.navbar .nav > li.active > a
  background: none
  color: #111