=authentication-nav
  .global-navigation li.authentication
    +font-serif-tiny
    margin-top: 20px
    border: none
    padding: 9px 0px
    float: right

    a
      padding: 0 16px 0 19px
      display: inline-block

    span
      color: $grayMedium

    &.first
      clear: left

    &.authorized
      background: $grayLighter
      a
        padding: 0 14px 0 15px

.navbar
  margin-bottom: 0

.navbar .brand
  padding: 10px 0 0 0

.brand-byline
  clear: left
  margin-left: 45px
  line-height: 20px
  +font-sans-tiny
  font-style: italic
  padding-top: 10px

.delve-brand img
  display: inline-block
  margin: -10px 0 0 5px

.navbar .navbar-inner
  background: white
  filter: none
  +box-shadow(none)
  border: 0

.navbar .nav > li > a
  color: $brick
  padding: 0
  text-shadow: none

.navbar .nav > li.active > a
  background: none
  color: #111

.navbar .addthis-container
  margin-top: 10px

.addthis_toolbox
  a
    margin-left: 5px
    &.addthis_button_google_plusone
      margin-left: -3px

.global-navigation
  +font-serif-large
  color: $black
  margin-bottom: 10px
  ul.nav
    margin-top: 25px
    padding-bottom: 10px
    margin-bottom: 10px
  li
    margin: 0
    border-right: 1px dotted $black
    padding: 10px 30px
    text-align: center
    line-height: 19px

    &.last, &:last-child
      border-right: none
      padding-right: 0

  i[class^="icon-"]
    display: none

  li > a
    color: $brick

  li > a:hover
    color: $brickDark

  .profile-info
    +font-sans-medium
    text-align: right
    color: $grayDark
    position: absolute
    right: 0
    bottom: 10px
    background: $white
    min-width: 170px
    cursor: pointer

    .text
      min-width: 122px
      float: left
      padding-top: 4px

    span
      +font-sans-tiny
      line-height: 12px
      color: $grayMedium
      display: block
      font-size: 12px
      font-weight: 200

    img
      float: right
      width: 38px
      height: 38px
