.signup-banner
  margin-bottom: 16px
  h2, h3
    line-height: 1em
  h2
    +font-sans-large
  h3
    +font-sans-medium
    color: $brickLight
  .button
    margin-right: -28px
    margin-top: 3px
  &.gray
    h3
      color: $grayDark
    h2
      color: $brick

.intro
  h1
    color: $brick

.creators
  margin-bottom: 20px
  h3
    +font-sans-small
    line-height: 1.4em
    text-transform: uppercase
    font-weight: bold
  .creator
    h4
      +font-serif-large
      color: $brick
    p
      margin-top: 5px

.hero-home-video
  margin-top: 0px
  margin-bottom: 0
  padding-top: 0px
  padding-bottom: 3px

body
  background: red

