.hero-unit.signup-banner
  background: $brick
  h2, h3
    line-height: 1em
  h2
    +font-sans-large
  h3
    +font-sans-medium
    color: $brick-light

.intro
  h1
    color: $brick
  p
    +font-sans-small

.creators
  h3
    +font-sans-medium
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 1px

.creator
  h4
    +font-serif-large
    color: $brick
  p
    margin-top: 5px
    +font-sans-medium
    letter-spacing: 1px
  .border
    border-bottom: 1px solid $grayLighter
