.hero-unit.signup-banner
  h2, h3
    line-height: 1em
  h2
    +font-sans-large
  h3
    +font-sans-medium
    color: $brickLight

.intro
  h1
    color: $brick
  p
    +font-sans-small

.creators
  margin-bottom: 20px
  h3
    +font-sans-medium
    text-transform: uppercase
    font-weight: bold
  .creator
    h4
      +font-serif-large
      color: $brick
    p
      margin-top: 5px
      +font-sans-medium

