.label
  color: $black
  background: $grayMedium

.label-large
  padding: 1em

.label-green
  background: $green
  color: $white
.label-red
  background: $red
  color: $white
.label-blue
  background: $blue
  color: $white

.label-wide
  padding-left: 2.5em
  padding-right: 2.5em

