.sticky-navbar
  width: 100%
  position: relative
  background: rgba(255, 255, 255, 0.7)
  z-index: 9999
  margin-bottom: 5px
  &.stuck-to-top
    position: fixed
    top: 0
  .btn
    margin-top: 5px

.menu
  position: relative
  #overview
    background: white
    position: absolute
    display: none
  &:hover
    #overview
      display: block

.accordion-toggle
  font-weight: bold

