.sticky-navbar
  width: 100%
  position: relative
  background: rgba(255, 255, 255, 0.5)
  z-index: 9999
  &.stuck-to-top
    position: fixed
    top: 0

.menu
  position: relative
  #overview
    background: white
    position: absolute
    display: none
  &:hover
    #overview
      display: block

.accordion-toggle
  font-weight: bold
