.subscribe
  margin-top: 15px
  input, button
    background: $white
    padding: 10px
    border: none
  input
    +font-serif-medium
    color: $black
    box-shadow: none
    +input-placeholder
      color: $grayDark
  button
    position: relative
    color: $brick
    height: 38px
    &:hover
      background: $white
      i[class^="icon-"]
        color: $brickDark
    &:before
      position: absolute
      content: ''
      display: inline-block
      height: 27px
      left: 0
      top: 6px
      border-left: 1px solid $grayLighter
  &.orange
    input
      border: 1px solid $brick
      border-right: none
    button
      border: 1px solid $brick
      border-left: none
      height: 40px
      &:before
        border-left: 1px solid $brick

