.image-caption
  position: relative
  &.middle
    .caption
      background: $brick
  .caption
    +font-sans-medium
    color: $grayLight
    position: absolute
    bottom: 0px
    width: 100%
    text-align: center
    line-height: 50px
    background: $black

