/* Large desktop */
@media (min-width: 1200px)
  .caption.top-left, .caption.middle-left, .caption.bottom-left
    margin-left: -565px

  .caption.top-right, .caption.middle-right, .caption.bottom-right
    margin-left: -625px

@media (max-width: 1200px)
  .box-sort
    .images
      height: 230px
      margin-left: 40px
    .sort-option
      height: 150px
      &.image-placed img
        width: 166px
        height: 95px
    img.ui-draggable-dragging
      height: 124px !important
      width: 220px !important
    .image-pile img
      height: 210px
      width: 371px

/* Portrait tablet*/
@media (max-width: 980px)
  /* ################### */
  /*  $PORTRAIT-CAROUSEL */
  /* ################### */
  .caption.top-right, .caption.middle-right, .caption.bottom-right
    left: 0
    margin-left: 0
    margin-right: 25px
    width: 100%

  .caption.top-left, .caption.middle-left, .caption.bottom-left
    margin-left: -320px

  .caption.top-left p, .caption.middle-left p, .caption.bottom-left p
    margin-left: 0

  .caption.top-right p, .caption.middle-right p, .caption.bottom-right p
    margin-right: 40px

  .navbar-activity-title
    display: none

@media (max-width: 979px) and (min-width: 768px)
  #quiz-container
    .hero-unit .dials
      margin-top: 0
      margin-bottom: 0

    .dial-left, .dial-right
      float: none
      margin-left: 15px
      margin-top: 7px

    .dial-caption
      position: absolute
      top: 15px
      margin-left: 122px
      width: 90px

  .box-sort
    .images
      height: 100px
      margin-left: 140px
    .sort-option
      height: 130px
      &.image-placed img
        width: 112px
        height: 75px
    img.ui-draggable-dragging
      height: 96px !important
      width: 171px !important
    .image-pile img
      height: 96px
      width: 171px

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  .top-video
    padding: 0

  .hero-well
    padding: 0
    border: 0
  // make this items full-width (remove body padding)
  .hero-unit, .slider-block, .sticky-navbar, .top-video
    margin-left: -20px
    margin-right: -20px

  .hero-unit .container, .sticky-navbar
    padding-left: 20px
    padding-right: 20px

  .stuck-to-top
    margin-left: 0
    margin-right: 0

  .caption
    /* text sizes */

  .caption.top-left, .caption.middle-left, .caption.bottom-left
    margin-left: -250px

  .caption .large
    font-size: 27px

  .caption .medium
    font-size: 24px

  .caption .small
    font-size: 18px

  .sticky-navbar
    .nav-anchors
      li:before
        border: 0
      .nav-label
        display: none

  .subscribe button
    height: 30px
    padding-top: 5px
    &:before
      height: 17px

  .subscribe.orange button
    height: 28px

  #auth-modal
    top: 10%
    h1
      font-size: 26px

  #quiz-container
    .hero-unit .dials
      margin-left: 0
      margin-top: 0

    .dial-wrapper
      margin: 20px 0 20px 30px

    .dial-caption
      position: absolute
      top: 15px
      margin-left: 140px
      width: 90px

  #quiz-results
    .results-header
      display: none
    .multiple-choice-results
      border-bottom: 2px solid $grayMedium
      .bordered.top, .bordered.bottom
        border-width: 1px 0
      .center
        &.bordered.left
          border-left: none
        &.bordered.right:last-child
          border-right: none
      .column-label
        display: block
      .average-label
        display: inline-block
      .average
        +font-serif-tiny
        line-height: 30px
    .box-sort-result
      h4
        display: none

  .box-sort
    .images
      height: 160px
      margin-left: 0
      [class*='span']
        padding-left: 0
    label, .sort-option, .image-pile img
      width: 219px
    .image-pile img
      height: 124px
    .image-caption
      text-align: left
      padding-left: 5px


/* Android phone. Weird inbetween*/
@media (max-width: 520px)
  .user-form
    label
      margin-left: 10px
    input
      width: 240px
    input[type='submit']
      margin-left: 65px

  #quiz-container .dial-caption
    top: 10px
    margin-left: 100px

@media (max-width: 480px)
  /* ##################### */
  /* $SMARTHPHONE-CAROUSEL */
  /* ##################### */
  .top-video
    margin: 0

  .caption
    /* text sizes */

  .caption.top-left, .caption.middle-left, .caption.bottom-left
    top: 20%
    margin-left: -125px

  .caption .large
    font-size: 22px

  .caption .medium
    font-size: 20px

  .caption .small
    font-size: 12px

  .video-container
    margin-left: -20px
    margin-right: -20px

  .sticky-navbar
    padding-left: 5px
    padding-right: 5px
    .nav
      margin-right: 0
    .navbar-inner
      padding: 0
    .nav-anchors li
      padding: 0
      a.icon-comment
        width: 20px
        overflow: hidden
        height: 10px

  .global-navigation
    .navbar-inner
      padding-left: 0
    ul.nav
      margin-top: 0
    li
      text-align: left
      padding-right: 0
      float: none

    i[class^="icon-"]
      display: inline-block

  #auth-modal
    h1
      font-size: 20px
      padding-bottom: 0

    input:not([type="checkbox"])
      width: 130px

    .modal-body
      max-height: 260px

    .terms-of-service
      padding-left: 10px

    .forgot-password
      margin-right: 63px

    .welcome
      img
        margin-left: 20px
      p
        font-size: 16px
        margin-right: 25px
        margin-left: 120px

    .facebook-login a
      margin-left: 0
      width: 190px
      font-size: 17px

    #password-reset
      input[type=submit]
        width: 180px

  #password-edit
    input[type=submit]
      margin-left: 40px

  .nav-tabs > li > a
    font-size: 9px

  #quiz-container
    .dial-left, .dial-right
      margin: 0
      height: 185px

    .dial-wrapper
      margin: 15px 25px

    .dial-caption
      position: relative
      top: 0
      margin: 0

    .question
      .hero-unit
        background: none
        border: none
        a
          right: -20px
          top: 60%
      .option img
        max-width: 145px

/* Everything but portrait iphone*/
@media (max-width: 480px)
  .enter-email
    padding-bottom: 10px
    float: left
    .title-bar
      .subscribe
        margin-left: 0px
    #email
      width: 300px

  .global-navigation
    .brand-container
      margin-bottom: 0px

    .navbar
      padding-left: 0

      li
        text-align: left !important
        padding: 10px 20px 6px 0px
        border: none
        width:  auto

    .social-group
      ul
        margin-left: -7px
        li
          width: 16px
          margin-right: 8px
          border:  none
        li:first-child
          padding-left: 0px

    .auth-group
      float: none
      margin-top: 0px
      margin-bottom: 9px
      margin-left: 0px
      #authentication
        li.authentication
          a
            +font-serif-large
