@import 'mixins'
@import 'application/custom_mixins'

.course-nav-hamburger
  //position: fixed
  // http://stackoverflow.com/questions/2637058/positions-fixed-doesnt-work-when-using-webkit-transform
  -webkit-transform: translateZ(0)
  //top: 75px
  //margin-left: 50%
  //left: -636px
  //font-size: 24px
  //color: $orange
  position: fixed
  color: $orange
  font-size: 24px
  margin-top: 18px
  margin-left: -26px
  z-index: 9999

.course-nav-slideout
  // position: fixed
  // height: 100%
  // width: 320px
  // top: 0
  // padding-top: 66px
  // margin-left: 50%
  // left: -585px
  // background-color: white
  // border-right: 1px solid $light-gray
  position: fixed
  width: 320px
  padding-top: 8px
  margin-left: 40px
  border-right: 1px solid $light-gray
  height: 100%
  overflow-y: auto

  h4
    padding-left: 10px
    text-transform: uppercase

  ul
    margin-top: 10px
    border-bottom: 1px solid $light-gray
    width: 100%
    @include boxsizing

    li
      @include boxsizing
      width: 100%
      border-top: 1px solid $light-gray
      cursor: pointer
      color: darkgray

      a
        line-height: 36px
        margin-left: 10px
        color: inherit

    li:hover
      color: #333
      background-color: $offwhite

    li.forum
      a
        color: $orange
        text-transform: uppercase

    li.active
      color: #333
      background-color: $light-gray

    .nested
      border-top: none
      ul
        margin-left: 20px
        margin-top: 0px
        border-bottom: none
        overflow: hidden
        @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))
        max-height: 300px

        li
          border-top: none

        li.active, li:hover
          color: #333
          font-weight: bold
          background-color: inherit

        .hitbox:hover
          color: #333

      ul.collapsed
        max-height: 0



.course-content-wrapper
  padding-left: 20px
  .container-fluid
    margin-left: 0px
    margin-right: 0px
    .course-content
      // z-index: 1
      background-color: white
      @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))
      .row
        margin-left: 0px

.course-content.menu-showing
  left: 340px

.lessons-heading
  color: $orange
  text-transform: uppercase
 
#step-dots
  position: fixed

  // http://stackoverflow.com/questions/2637058/positions-fixed-doesnt-work-when-using-webkit-transform
  -webkit-transform: translateZ(0)
  width: 15px
  top: 115px
  //margin-left: 50%
  //left: -634px
  margin-left: -63px
  @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))

  li
    height: 20px

  li a
    color: lighten($orange, 25%)
    font-size: 10px
    @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))
    padding-left: 3px
    padding-top: 2px

  li a.active
    color: $orange
    font-size: 15px
    padding-left: 0px
    padding-top: 0px

  // This was from a previous iteration where we wanted just a couple of different
  // sized dots right next to the active one
  //li a.active-neighbor
    //color: lighten($orange, 25%)
    //display: block

  // li a.active-more, li a.basic, li a.active-neighbor
  //   color: lighten($orange, 25%)
  //   margin-left: 3px 
  //   font-size: 10px
  //   display: block
   
  li.intro a
    font-size: 15px
    color: $light-gray
    padding-left: 0px
    padding-top: 0px

  li.intro a.active
    color: #555
    display: block

  a:hover
    background-color: inherit

.hide-when-menu-showing
  opacity: 0

.assembly-activity
  .activity-description
    padding: 0 10px

  .ordered-steps-new
    .ordered-step-item
      width: 100%
      float: left
      padding: 0px
      margin-top: 30px
      @include boxsizing
      .step-number
        @include gotham-bold
        font-size: 50px
        line-height: 50px
        padding-bottom: 10px
      .step-content
        h4
          margin-top: 0px
          margin-bottom: 0px
          padding-bottom: 2px
        ul, li
          list-style: none
          padding: 0px 0px 10px 0px
          margin: 0px
        ul
          padding: 0px
      .step-actions
        margin-bottom: 10px
        .step-action-item
          display: inline-block
        .step-ingredients
          .step-ingredients-source
            display: none
      .step-image
        display: none
      .step-video
        display: none
        margin-bottom: 10px
      .divider
        height: 1px
        border-bottom: 1px solid $light-gray
        margin-top: 14px
        margin-bottom: 14px
      .span12
        .step-content
          @include columncount(2)
          @include columngap(40)

.hidden
  display: none

.assembly-upload-modal
  .modal-body
    .modal-image
      width: 200px
      margin: 0 auto

.footer-group
  @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))

.prev-next-group
  @include transition(all 300ms cubic-bezier(0.455,  0.030, 0.515, 0.955))
  padding-top: 50px
  padding-bottom: 76px
  margin-top: 65px
  margin-bottom: -65px

  .next-activity-name
    color: darkgray

  .btn-primary
    font-size: 120%
    padding: 12px 12px

  .course-nav-bottom-left
    left: 0
  .course-nav-bottom-right
    right: 0

@media (min-width: 1200px)
  .course-content-wrapper
    .course-content
      .row
        margin-left: 0px

@media (max-width: 979px) and (min-width: 768px)
  .course-content-wrapper
    .container-fluid
      margin-left: 0px
      margin-right: 0px

@media (max-width: 767px)
  .course-nav-slideout
    width: 100%
  .course-content-wrapper
    padding-left: 40px
    margin-top: 30px
    .container-fluid
      margin-left: 0px
      margin-right: 0px
      .course-content.menu-showing
        left: 100%
        margin-left: 20px
      #video-ingredient-unit
        min-height: 0px
