.pre-registration
  margin-top: 20px
  text-align: center
  form
    margin-top: 20px
    input, .btn
      font-size: 150% !important
    input
      border-radius: 0
      height: 31px
      text-align: center
  .background
    margin-top: -40px
    z-index: -1
    pointer-events: none

  @media (max-width: 768px)
    form
      input
        width: 60%
        display: block
        margin-left: auto
        margin-right: auto
        margin-bottom: 10px
      .btn
        width: 25%

  @media (max-width: 480px)
    form
      .btn
        width: 40%
    .background
      margin-top: -10px

