.container
  .row
    .span12
      %h2 Culinary Knowledge and Stuff We Like
      / = paginate @sciences
      / .row.gallery
      /   - @sciences.each do |science|
      /     .span4
      /       = link_to science do
      /         = render 'shared/media_centered', media: science, size: 'medium'
      / = paginate @sciences

.container
  .row
    .span12
      %div(ng-controller='SciencesController')
        %h1
        / .flat-form
        /   %form
        /     %input(ng-model='search' placeholder='Enter Name')
        = render 'shared/gallery'