.row
  .span12
    %h2 Science of
    = paginate @sciences
    .row
      - @sciences.each do |science|
        .span4
          = link_to science do
            = render 'shared/media_centered', media: science, main: 'Science', size: 'medium'
    = paginate @sciences