/ %ul.unstyled
/   - activity.steps.each_with_index do |step, index|
/     %li
/       %h3= step.title
/       %p= step.directions

.row
  .span9.offset1
    %h1(ng-bind-html-unsafe="step.title | markdown | shortcode")
.row
  .span9.offset1
    %ul.unstyled(ng-repeat="step in activity.steps")
      %li
        %h3(ng-bind-html-unsafe="step.title | markdown | shortcode")
        %p(ng-bind-html-unsafe="step.directions | markdown | shortcode")