/ %ul.unstyled
/   - activity.steps.each_with_index do |step, index|
/     %li
/       %h3= step.title
/       %p= step.directions

.row
  .span9.offset1
    %div(ng-show="activity.video")
      = render 'activities/hero_visual'
    %div(ng-show="activity.description")
      = render 'activities/latest/description'
.row
  .span9.offset1
    %ul.unstyled(ng-repeat="step in activity.steps")
      %li
        %h4(ng-bind-html-unsafe="step.title | markdown | shortcode")
        %p(ng-bind-html-unsafe="step.directions | markdown | shortcode")