.row
  .span9.offset1
    %div(ng-show="activity.youtube_id || activity.image_id")
      = render 'activities/hero_visual'
    %div(ng-show="activity.description")
      = render 'activities/latest/description'
.row.list-view
  .span9.offset1(ng-controller="StepsController")
    %ul.unstyled(ng-repeat="step in activity.steps")
      %li(ng-controller="StepController")
        %div(ng-show='! step.is_aside')
          %h4(ng-bind-html="step.title | markdown | shortcode")
          %p(ng-bind-html="step.directions | markdown | shortcode")
          %div(ng-show="!!step.youtube_id")
            .video-container(csenforceaspect)
              %iframe(ng-style="setHeight()" csenforceaspect cssrcreplacer="{{'//www.youtube.com/embed/' + step.youtube_id + '?wmode=opaque&rel=0&modestbranding=1&showinfo=0'}}")
          %div(ng-show="!!step.image_id")
            %hr
            %img(ng-src="{{stepImageURL(step, 840)}}" alt="{{stepImageDescription(step)}}" title="{{stepImageDescription(step)}}" itemprop="image")
            %hr
        %div(ng-include="'/client_views/_aside'")