:javascript
  $(function() {
    new ChefSteps.init({
      profile: JSON.parse('#{j(user_signed_in? ? current_user.to_json : false)}'),
      currentUserId: "#{user_signed_in? ? current_user.id : false}"
    })
  });

