%li.authentication.first
  = link_to '#' do
    Log in
    %i.icon-chevron-right.pull-right

%li.authentication
  = link_to new_user_registration_path do
    Sign up
    %i.icon-chevron-right.pull-right
  %span
    |

