%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js")
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js")
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.min.js")
%script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js")
// No. Doesn't have the patch we need in ui-sortable.
//%script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")