.container
  .row
    .span12
      %a.span3.icon-facebook{ href: "https://www.facebook.com/Chefsteps" }
        Facebook
      %a.span3.icon-twitter{ href: "http://twitter.com/@chefsteps" }
        Twitter
      %a.span3.icon-pinterest{ href: "http://pinterest.com/chefsteps/" }
        Pinterest

