.container-fluid#footer.noprint(ng-cloak ng-hide="editMode")
  .footer-items
    .footer-item.footer-item-logo
      %img(src='https://d92f495ogyf88.cloudfront.net/static/chefsteps-logo-white.png')
      %a(href='https://www.facebook.com/Chefsteps' target='_blank')
        %i(cs-icon='facebook')
      %a(href='https://twitter.com/chefsteps' target='_blank')
        %i(cs-icon='twitter')
      %a(href='https://instagram.com/chefsteps' target='_blank')
        %i(cs-icon='instagram')
    .footer-item.footer-item-links
      %ul
        %li
          %a(href='/classes')
            Classes
        %li
          %a(href='/gallery')
            Recipes
        %li
          %a(href='/forum')
            Forum
        %li
          %a(href='http://blog.chefsteps.com')
            Blog
        %li
          %a(href='mailto:info@chefsteps.com?Subject=Hello%20ChefSteps')
            Contact Us
        %li
          %a(href='https://support.chefsteps.com/')
            Support
    .footer-item.footer-item-links
      %ul
        %li
          %a(href='/about')
            About ChefSteps
        %li
          %a(href='/jobs')
            Jobs
        %li
          %a(href='/pages/presskit')
            Press Kit
        %li
          %a(href='/terms')
            Terms of Use
            %span.updated Updated
        %li
          %a(href='/privacy')
            Privacy Policy
            %span.updated Updated
