.container
  .row
    .span12
      %a.span3{ href: "https://www.facebook.com/Chefsteps" }
        %i.icon-facebook
        Facebook
      %a.span3{ href: "http://twitter.com/@chefsteps" }
        %i.icon-twitter
        Twitter
      %a.span3{ href: "http://pinterest.com/chefsteps/" }
        %i.icon-pinterest
        Pinterest

