.container
  .row
    .span12
      %a.span3{ href: "https://www.facebook.com/Chefsteps" }
        Facebook
        %i.icon-facebook
      %a.span3{ href: "http://twitter.com/@chefsteps" }
        Twitter
        %i.icon-twitter
      %a.span3{ href: "http://pinterest.com/chefsteps/" }
        Pinterest
        %i.icon-pinterest

