%li
  - if current_page?(course_url('accelerated-sous-vide-cooking-course'))
    Course
  - else
    %a{ href: course_url('accelerated-sous-vide-cooking-course'), target: '_top' }
      Course
      %i.icon-chevron-right.pull-right

%li
  %a{href: 'http://store.chefsteps.com', target: '_top'}
    Shop
    %i.icon-chevron-right.pull-right

%li
  %a{href: 'http://forum.chefsteps.com', target: '_top'}
    Forum
    %i.icon-chevron-right.pull-right

%li.last
  %a{href: 'http://blog.chefsteps.com', target: '_top'}
    Blog
    %i.icon-chevron-right.pull-right

#authentication

