%li
  - if current_page?(course_path(1))
    Course
  - else
    %a{ href: course_path(1) }
      Course
      %i.icon-chevron-right.pull-right
-# %li
-#   %a{href: ''}
-#     Shop
-#     %i.icon-chevron-right.pull-right
-# %li
-#   %a{href: ''}
-#     Forums
-#     %i.icon-chevron-right.pull-right
%li
  %a{href: 'http://blog.chefsteps.com'}
    Blog
    %i.icon-chevron-right.pull-right

