%ul.nav
  %li
    - if current_page?(course_path(1))
      Courses
    - else
      %a{ href: course_path(1) }
        Courses
        %i.icon-chevron-right.pull-right
  -# %li
  -#   %a{href: ''}
  -#     Shop
  -#     %i.icon-chevron-right.pull-right
  -# %li
  -#   %a{href: ''}
  -#     Forums
  -#     %i.icon-chevron-right.pull-right
  %li
    %a{href: 'http://blog.chefsteps.com'}
      Blog
      %i.icon-chevron-right.pull-right

