%ul.nav
  %li
    - if current_page?(course_path(1))
      Courses
    - else
      %a{ href: course_path(1) } Courses
  -# %li
  -#   %a{href: ''} Shop
  -# %li
  -#   %a{href: ''} Forums
  %li
    %a{href: 'http://blog.chefsteps.com'} Blog

