%li
  - if current_page?(course_url('accelerated-sous-vide-cooking-course'))
    Course
  - else
    %a{ href: course_url('accelerated-sous-vide-cooking-course'), target: '_top' }
      Course
%li
  %a{href: 'http://forum.chefsteps.com', target: '_top'}
    Forum

%li
  %a{href: 'http://blog.chefsteps.com', target: '_top'}
    Blog

%li
  %a{href: 'http://store.chefsteps.com', target: '_top'}
    Shop

%li.last
  = link_to search_index_path do
    %i.icon-search
    Search