.navbar
  .navbar-inner
    .container
      %a.brand{ href: root_path } ChefSteps
      .nav.pull-right.addthis-container
        .addthis_toolbox.addthis_default_style.pull-right
          %a.addthis_button_facebook_like
          %a.addthis_button_tweet
          %a.addthis_button_pinterest_pinit
          %a.addthis_button_google_plusone
          %a.addthis_pill_style
