.container
  .navbar
    .navbar-inner
      .nav.pull-right.addthis-container
        = render 'layouts/share_this'
.container.global-navigation
  .navbar
    .navbar-inner
      .container
        .nav.brand-container
          %a.brand{ href: root_path }
            = image_tag('chefsteps-logo.png', alt: 'ChefSteps')
          .brand-byline
            brought to you by
            %a.delve-brand{href: 'http://delvekitchen.com'}
              = image_tag('delve-logo.png', alt: 'Delve')
        %ul.nav.pull-right
          = render 'layouts/global_navigation'

