#header
  .container.noprint
    .navbar
      .navbar-inner
        .nav.pull-right.addthis-container
          = render 'layouts/share_this' unless Rails.env.test?
  .container.global-navigation
    .navbar
      .navbar-inner
        .container
          .nav.brand-container
            %a.brand{href: root_url, target: '_top'}
              = image_tag('chefsteps-logo.png', alt: 'ChefSteps')
            .brand-byline
              brought to you by
              %a.delve-brand{href: 'http://delvekitchen.com', target: '_top'}
                = image_tag('delve-logo.png', alt: 'Delve')
          %ul.nav.pull-right.noprint
            = render 'layouts/global_navigation'

