.navbar
  .navbar-inner
    .container
      %a.brand{ href: root_path } ChefSteps
      .nav.pull-right
        .addthis_toolbox.addthis_default_style.addthis_32x32_style
          %a.addthis_button_facebook
            %i
          %a.addthis_button_twitter
            %i
          %a.addthis_button_pinterest
            %i
          %a.addthis_button_compact
            %i
