.container
  .navbar
    .navbar-inner
      .nav.pull-right.addthis-container
        = render 'layouts/share_this'
.container.global-navigation
  .navbar
    .navbar-inner
      .container
        .nav.brand-container
          %a.brand{href: root_url, target: '_top'}
            = image_tag('chefsteps-logo.png', alt: 'ChefSteps')
        %ul.nav.pull-right
          = render 'layouts/global_navigation'

