.container
  .navbar
    .navbar-inner
      .container
        .nav.brand-container
          %a.brand{ href: root_path }
            = image_tag('chefsteps-logo.png', alt: 'ChefSteps')
          .brand-byline
            brought to you by
            %a.delve-brand{href: 'http://delvekitchen.com'}
              = image_tag('delve-logo.png', alt: 'Delve')

        .nav.pull-right.addthis-container
          = render 'layouts/share_this'
  .navbar.global-navigation.pull-right
    .navbar-inner
      = render 'layouts/global_navigation'

