#header
  .row.sign-in
    .span6.pull-right
      #authentication
  .row.global-navigation
    .span12
      .brand-container
        %a.brand{href: root_url, target: '_top'}
          = image_tag('chefsteps-logo.png', alt: 'ChefSteps')
      .navbar
        .navbar-inner
          %ul.nav.noprint
            = render 'layouts/global_navigation'
      - unless user_signed_in?
        .title-bar.pull-right.noprint
          = render 'mailing_list/subscribe', orange: true

