.navbar
  .navbar-inner
    .container
      .brand-container
        %a.brand{ href: root_path }
          :erb
            <strong>C</strong>hef<strong>S</strong>teps
        .brand-byline
          brought to you by
          %a.delve-brand{href: 'http://delvekitchen.com'} delve

      .nav.pull-right.addthis-container
        .addthis_toolbox.addthis_default_style.pull-right
          %a.addthis_button_facebook_like
          %a.addthis_button_tweet
          %a.addthis_button_pinterest_pinit
          %a.addthis_button_google_plusone
          %a.addthis_pill_style

