- if ! @minimal
  .navbar.navbar-fixed-top(ng-controller="NavbarController")
    .navbar-inner
      .container
        .nav-collapse(ng-click="$root.showNav = !$root.showNav")
          %h5 menu
        = link_to root_url, class: 'brand' do
          = image_tag "https://s3.amazonaws.com/uploads.hipchat.com/45918/740320/PBNf6MFq9hsgnF1/csLogoHorizontalSmall-2014.05.02.svg", id: 'chefsteps-logo', width: "200"        
          / .logo-wrapper
          /   .logo-window
          /   .logo-block
          /     .logo-text ChefSteps
          /     .logo-subtext cook connected
        .nav-container
          = render 'layouts/navigation_contents', external: false
        .nav-container-popover(ng-if="$root.showNav" ng-cloak)
          = render 'layouts/navigation_contents', external: false