%div(ng-controller="SocialButtonsController" class="glow_anim" ng-cloak)

  .social-flat
    .btn-holder
      .btn.btn-secondary.btn-social.btn-social-twitter.pulse-anim-before(ng-click="shareTwitter();")
        = render 'layouts/social_button', icon: "twitter", networkFriendlyName: "Twitter", counter: "twitterCount"
    .btn-holder
      .btn.btn-secondary.btn-social.btn-social-facebook.pulse-anim-before(ng-click="shareFacebook()")
        = render 'layouts/social_button', icon: "facebook", networkFriendlyName: "Facebook", counter: "facebookCount"
    .btn-holder
      .btn.btn-secondary.btn-social.btn-social-pinterest.pulse-anim-before(ng-show="socialMediaItem()" ng-click="sharePinterest()")
        = render 'layouts/social_button', icon: "pinterest", networkFriendlyName: "Pinterest", counter: "pinterestCount"
    .btn-holder
      .btn.btn-secondary.btn-social.btn-social-gplus.pulse-anim-before(ng-click="shareGooglePlus()")
        = render 'layouts/social_button', icon: "google-plus", networkFriendlyName: "Google+"

