.social-button-contents.relative
  .pulse-anim-before
    .social-icon-group
      %span
        %i{class: "icon-#{icon}"}
    -if (split_name == 'no_counters')
      %span.network-name
        = networkFriendlyName
    -if (defined? counter) && (split_name != 'no_counters')
      .social-counter
        %span.text-center
          {{#{counter}}}
