.social-button-contents
  .social-icon-group
    %i{class: "icon-#{icon}"}
  -if (split_name == 'no_counters')
    %span
      = networkFriendlyName
  -if (defined? counter) && (split_name != 'no_counters')
    .social-counter
      %span.text-center
        {{#{counter}}}
