.social-button-contents.relative
  .pulse-anim-before
    .social-icon-group
      %span
        %i{class: "icon-#{icon}"}
    -if (defined? counter)
      .social-counter
        %span.text-center
          {{#{counter}}}
