.social-button-contents
  .social-icon-group
    -if defined? icon
      %span
        %i{class: "icon-#{icon}"}
    -if defined? xlabel
      %span
        #{xlabel}
  -if (defined? counter)
    .social-counter
      %span.text-center
        {{#{counter}}}
