.section-small.social-group
  = render 'shared/like_button', likeable_object: media_object
  -ab_test("social_share_cta", "with_cta", "no_cta") do |split_name|
    = render 'layouts/share_button', shareSuggestText: shareSuggestText, split_name: split_name
