-ab_test("social_share", "old", "newNoPostPlay", "newWithPostPlay") do |split_name|
  -if split_name == "old"
    = render "layouts/old_social_buttons", media_object: media_object
  -else
    .section-small.social-group
      = render 'shared/like_button', likeable_object: media_object
      = render 'layouts/share_button', media_object: media_object, url: url, split_name: split_name
